USE [Allocate7]
GO


IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='Divisions')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) VALUES (1, N'Divisions')

IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='AllocateUsers')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) VALUES (2, N'AllocateUsers')


IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='SchedulingTeams')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) VALUES (3, N'SchedulingTeams')

IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='ScheduledTeamStaff')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) VALUES (4, N'ScheduledTeamStaff')

IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='NonScheduledTeamStaff')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) VALUES (5, N'NonScheduledTeamStaff')


IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='DivisionalAdmin')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) VALUES (6, N'DivisionalAdmin')

IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='SystemAdmin')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) VALUES (7, N'SystemAdmin')


IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='SignIn')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) values(10,N'SignIn')
			  
IF EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='SignIn')
UPDATE [dbo].[HistoryTypes] SET HistoryTypes='AllocationSignIn' where HistoryType='SignIn';			  
IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='AdhocDuty')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) values(11,N'AdhocDuty')			  
IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='EDP')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) values(12,N'EDP')		
                
IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='Staff&Percentages')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) values(13,N'Staff&Percentages')		
			  

IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='LeaveAllocation')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) values(14,N'LeaveAllocation')		

IF NOT EXISTS (SELECT 1 FROM [dbo].[HistoryTypes] WHERE HistoryType='LeaveApplication')
              INSERT [dbo].[HistoryTypes] ([id], [HistoryType]) values(15,N'LeaveApplication')			  




