USE [Allocate7]
GO

IF NOT EXISTS (SELECT 1 FROM [dbo].[RolePermissionForm_LINK] WHERE FormID = 17 and RoleId = 5 and PermissionID = 2))
BEGIN
    delete from [dbo].[RolePermissionForm_LINK] where FormID = 17
END
IF NOT EXISTS (SELECT 1 FROM [dbo].[RolePermissionForm_LINK] WHERE FormID = 18 and RoleId = 5 and PermissionID = 2))
BEGIN
    delete from [dbo].[RolePermissionForm_LINK] where FormID = 18
END
IF NOT EXISTS (SELECT 1 FROM [dbo].[RolePermissionForm_LINK] WHERE FormID = 17))
BEGIN
    insert into [dbo].[RolePermissionForm_LINK] (RoleID,PermissionID,FormID) values
        (1,1,17),(1,2,17),(1,3,17),(1,4,17),
        (2,1,17),(2,2,17),(2,3,17),(2,4,17),
        (3,1,17),(3,2,17),(3,3,17),(3,4,17),
        (4,1,17),(4,2,17),(4,3,17),(4,4,17),
        (5,1,17),(5,2,17),(5,3,17),(5,4,17)
END

IF NOT EXISTS (SELECT 1 FROM [dbo].[RolePermissionForm_LINK] WHERE FormID = 18))
BEGIN
    insert into [dbo].[RolePermissionForm_LINK] (RoleID,PermissionID,FormID) values
        (1,1,18),(1,2,18),(1,3,18),(1,4,18),
        (2,1,18),(2,2,18),(2,3,18),(2,4,18),
        (3,1,18),(3,2,18),(3,3,18),(3,4,18),
        (4,1,18),(4,2,18),(4,3,18),(4,4,18),
        (5,1,18),(5,2,18),(5,3,18),(5,4,18)
END
