USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_MasterJobColours]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_MasterJobColours](
	[MasterJobColourID] [int] IDENTITY(1,1) NOT NULL,
	[ColourBackground] [nvarchar](12) NULL,
	[ColourFont] [nvarchar](12) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
	[MasterJobID] [int] NULL,
 CONSTRAINT [PK_REF_MasterJobColours] PRIMARY KEY CLUSTERED 
(
	[MasterJobColourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[REF_MasterJobColours] ADD  CONSTRAINT [DF_REF_MasterJobColours_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
