USE [Allocate7]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 25/06/2021 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teams](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NULL,
	[TeamTypeID] [int] NULL,
	[TeamName] [nvarchar](50) NULL,
	[TeamShortCode] [nvarchar](10) NULL,
	[TeamDesc] [nvarchar](250) NULL,
	[TeamNotes] [nvarchar](500) NULL,
	[TeamContactName] [nvarchar](100) NULL,
	[TeamContactEmail] [nvarchar](100) NULL,
	[TeamContactTel] [nvarchar](50) NULL,
	[TeamContactAddress] [nvarchar](150) NULL,
	[TeamContactBuildingCode] [varchar](3) NULL,
	[LeaveExtraClicks] [int] NULL,
	[LeaveSummerOver] [bit] NULL,
	[DefaultLeaveTypeID] [int] NULL,
	[LeaveCountTypes] [nvarchar](10) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
 CONSTRAINT [PK_Teams_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Teams] ADD  CONSTRAINT [DF_Teams_LeaveExtraClicks]  DEFAULT ((0)) FOR [LeaveExtraClicks]
GO
ALTER TABLE [dbo].[Teams] ADD  CONSTRAINT [DF_Teams_LeaveSummerOver]  DEFAULT ((0)) FOR [LeaveSummerOver]
GO
ALTER TABLE [dbo].[Teams] ADD  CONSTRAINT [DF_Teams_DefaultLeaveTypeID]  DEFAULT ((0)) FOR [DefaultLeaveTypeID]
GO
ALTER TABLE [dbo].[Teams] ADD  CONSTRAINT [DF_Teams_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
