USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_TermsConditionsVersion]    Script Date: 28/06/2021 13:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_TermsConditionsVersion](
	[TermsCondsVersionID] [int] IDENTITY(1,1) NOT NULL,
	[TermsCondsVersionName] [nvarchar](50) NULL,
	[TermsCondsVersionDescription] [nvarchar](255) NULL,
	[TermsCondsVersionStoredProc] [nvarchar](200) NULL,
	[Show_UnPaid] [bit] NULL,
	[Show_PayOvertimeBreaks] [bit] NULL,
	[Show_PayEDPx15] [bit] NULL,
	[Show_PayEDPx10] [bit] NULL,
	[Show_CompEDP] [bit] NULL,
	[Show_TOILEDP] [bit] NULL,
	[Show_PayNights] [bit] NULL,
	[Show_PayAdditional] [bit] NULL,
	[Show_PayPHL] [bit] NULL,
	[Show_PayUPA] [bit] NULL,
	[Show_PayERR] [bit] NULL,
	[Show_PayCCP] [bit] NULL,
	[Show_PayStatHoliday] [bit] NULL,
	[Show_PayUnder10Break] [bit] NULL,
	[Show_PayUnder11Break] [bit] NULL,
	[Show_TOILUnder11Break] [bit] NULL,
	[Show_PayOver12Duty] [bit] NULL,
	[Show_TOILOver12Duty] [bit] NULL,
	[IsDefault] [bit] NULL,
	[IsActive] [bit] NULL,
	[AutoPayOver12] [bit] NULL,
	[AutoTOIL] [bit] NULL,
 CONSTRAINT [PK_REF_TermsConditionsVersion] PRIMARY KEY CLUSTERED 
(
	[TermsCondsVersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_UnPaid]  DEFAULT ((0)) FOR [Show_UnPaid]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayOvertimeBreaks]  DEFAULT ((0)) FOR [Show_PayOvertimeBreaks]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayEDPx1.5]  DEFAULT ((0)) FOR [Show_PayEDPx15]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayEDPx1]  DEFAULT ((0)) FOR [Show_PayEDPx10]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_CompEDP]  DEFAULT ((0)) FOR [Show_CompEDP]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_TOILEDP]  DEFAULT ((0)) FOR [Show_TOILEDP]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayNights]  DEFAULT ((0)) FOR [Show_PayNights]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayAdditional]  DEFAULT ((0)) FOR [Show_PayAdditional]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayPHL]  DEFAULT ((0)) FOR [Show_PayPHL]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayUPA]  DEFAULT ((0)) FOR [Show_PayUPA]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayERR]  DEFAULT ((0)) FOR [Show_PayERR]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayCCP]  DEFAULT ((0)) FOR [Show_PayCCP]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayStatHoliday]  DEFAULT ((0)) FOR [Show_PayStatHoliday]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayUnder10Break]  DEFAULT ((0)) FOR [Show_PayUnder10Break]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayUnder11Break]  DEFAULT ((0)) FOR [Show_PayUnder11Break]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_TOILUnder11Break]  DEFAULT ((0)) FOR [Show_TOILUnder11Break]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_PayOver12Duty]  DEFAULT ((0)) FOR [Show_PayOver12Duty]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_Show_TOILOver12Duty]  DEFAULT ((0)) FOR [Show_TOILOver12Duty]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  CONSTRAINT [DF_REF_TermsConditionsVersion_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  DEFAULT ((0)) FOR [AutoPayOver12]
GO
ALTER TABLE [dbo].[REF_TermsConditionsVersion] ADD  DEFAULT ((0)) FOR [AutoTOIL]
GO
