USE [BBCSchedules]
GO
 
/****** Object:  Table [dbo].[SendAllocateEmails]    Script Date: 31/10/2025 19:28:40 ******/
SET ANSI_NULLS ON
GO
 
SET QUOTED_IDENTIFIER ON
GO
 
CREATE TABLE [dbo].[SendAllocateEmails](
	[EmailID] [int] IDENTITY(1,1) NOT NULL,
	[AllocateInstanceID] [int] NOT NULL,
	[AllocateInstanceName] [varchar](100) NULL,
	[DepartmentID] [int] NULL,
	[StaffID] [int] NULL,
	[StaffNumber] [varchar](7) NULL,
	[AccPeriodID] [int] NULL,
	[AccountID] [int] NULL,
	[PayrollMonth] [int] NULL,
	[BBCWeek] [int] NULL,
	[TimesheetSentID] [int] NULL,
	[PeriodStarts] [int] NULL,
	[PeriodEnds] [int] NULL,
	[MailTo] [varchar](255) NULL,
	[MailCC] [varchar](255) NULL,
	[MailBCC] [varchar](255) NULL,
	[MailFrom] [varchar](255) NULL,
	[MailSubject] [varchar](255) NULL,
	[MailMessage] [varchar](max) NULL,
	[MailSendSuccess] [bit] NULL,
	[MailSendError] [varchar](4000) NULL,
	[MailSendRetries] [int] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [varchar](100) NULL,
	[LastModDate] [datetime] NULL,
	[History] [varchar](max) NULL,
CONSTRAINT [PK_SendAllocateEmails] PRIMARY KEY CLUSTERED 
(
	[EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
 
ALTER TABLE [dbo].[SendAllocateEmails] ADD  CONSTRAINT [DF_SendAllocateEmails_DepartmentID]  DEFAULT ((0)) FOR [DepartmentID]
GO
 
ALTER TABLE [dbo].[SendAllocateEmails] ADD  CONSTRAINT [DF_SendAllocateEmails_TimesheetSentID]  DEFAULT ((0)) FOR [TimesheetSentID]
GO
 
ALTER TABLE [dbo].[SendAllocateEmails] ADD  CONSTRAINT [DF_SendAllocateEmails_MailSendSuccess]  DEFAULT ((0)) FOR [MailSendSuccess]
GO
 
ALTER TABLE [dbo].[SendAllocateEmails] ADD  CONSTRAINT [DF_SendAllocateEmails_MailSendRetries]  DEFAULT ((0)) FOR [MailSendRetries]
GO