USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_MasterDuties_MasterJobs_LINK]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_MasterDuties_MasterJobs_LINK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MasterDutyID] [int] NULL,
	[MasterJobID] [int] NULL
) ON [PRIMARY]

GO
