USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_PaymentType]    Script Date: 28/06/2021 13:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REF_PaymentType](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [varchar](50) NULL,
	[UnPaid] [bit] NULL,
	[PayEDPx15] [bit] NULL,
	[PayNights] [bit] NULL,
	[PayAdditional] [bit] NULL,
	[PayPHL] [bit] NULL,
	[PayUPA] [bit] NULL,
	[PayERR] [bit] NULL,
	[PayCCP] [bit] NULL,
	[PayStatHoliday] [bit] NULL,
	[PayUnder10Break] [bit] NULL,
	[PayOver12Duty] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsEditable] [bit] NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [varchar](100) NULL,
	[LastModDate] [datetime] NULL,
	[History] [varchar](max) NULL,
	[PaymentTypeDescription] [varchar](255) NULL,
	[TermsCondsVersionID] [int] NULL,
	[TermsCondsVersionName] [varchar](50) NULL,
	[PayOvertimeBreaks] [bit] NULL,
	[PayEDPx10] [bit] NULL,
	[CompEDP] [bit] NULL,
	[TOILEDP] [bit] NULL,
	[PayUnder11Break] [bit] NULL,
	[TOILUnder11Break] [bit] NULL,
	[TOILOver12Duty] [bit] NULL,
 CONSTRAINT [PK_REF_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_UnPaid]  DEFAULT ((1)) FOR [UnPaid]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoEDP]  DEFAULT ((0)) FOR [PayEDPx15]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoNights]  DEFAULT ((0)) FOR [PayNights]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoAdditional]  DEFAULT ((0)) FOR [PayAdditional]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoPHL]  DEFAULT ((0)) FOR [PayPHL]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoUPA]  DEFAULT ((0)) FOR [PayUPA]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoERR]  DEFAULT ((0)) FOR [PayERR]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoCCP]  DEFAULT ((0)) FOR [PayCCP]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_NoStatHoliday]  DEFAULT ((0)) FOR [PayStatHoliday]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_PayUnder10Break]  DEFAULT ((0)) FOR [PayUnder10Break]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_PayOver12Duty]  DEFAULT ((0)) FOR [PayOver12Duty]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  CONSTRAINT [DF_REF_PaymentType_IsEditable]  DEFAULT ((1)) FOR [IsEditable]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  DEFAULT ((0)) FOR [PayOvertimeBreaks]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  DEFAULT ((0)) FOR [PayEDPx10]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  DEFAULT ((0)) FOR [CompEDP]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  DEFAULT ((0)) FOR [TOILEDP]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  DEFAULT ((0)) FOR [PayUnder11Break]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  DEFAULT ((0)) FOR [TOILUnder11Break]
GO
ALTER TABLE [dbo].[REF_PaymentType] ADD  DEFAULT ((0)) FOR [TOILOver12Duty]
GO
