USE [Allocate7]
GO

/****** Object:  Table [dbo].[ChargeWbsCode]    Script Date: 27/12/2021 23:47:14 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ChargeWbsCode](
    [ChargeWbsCodeId] [int] IDENTITY(1,1) NOT NULL,
    [ChargeWbsCodeName] [varchar](50) NOT NULL,
    [Description] [varchar](75) NOT NULL,
    [DivisionId] [int] NOT NULL,
    [CodeType] [int] NOT NULL,
    [IsActive] [tinyint] NOT NULL,
    [CreatedBy] [int] NULL,
    [CreatedDate] [datetime] NULL,
    [ModifiedBy] [int] NULL,
    [ModifiedDate] [datetime] NULL,
    CONSTRAINT [PK_ChargeWbsCode] PRIMARY KEY CLUSTERED
(
[ChargeWbsCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
GO

