USE [Allocate7]
GO

/****** Object:  Table [dbo].[RotaPeople]    Script Date: 23/07/2021 20:57:40 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RotaPeople](
    [RotaPeopleID] [int] IDENTITY(1,1) NOT NULL,
    [RotaID] [int] NULL,
    [ScheduledPersonID] [int] NULL,
    [RotaWeek] [int] NULL,
    [StartDate] [datetime] NULL,
    [EndDate] [datetime] NULL,
    [StartWeek] [int] NULL,
    [ActualRotaWeek] [int] NULL,
    [CreatedBy] [int] NULL,
    [CreatedDate] [datetime] NULL,
    [LastModBy] [int] NULL,
    [LastModDate] [datetime] NULL,
    [History] [nvarchar](max) NULL,
    [IsActive] [int] NULL,
    CONSTRAINT [PK_RotaPeople] PRIMARY KEY CLUSTERED
    (
        [RotaPeopleID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
        ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[RotaPeople] ADD  CONSTRAINT [DF_RotaPeople_RotaWeekOffset]  DEFAULT ((0)) FOR [ActualRotaWeek]
GO
