USE [Allocate7]
GO
/****** Object:  Table [dbo].[SchedulingTeamUserExtraXmasPoint]    Script Date: 29/06/2021 19:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchedulingTeamUserExtraXmasPoint](
	[extraChristmasID] [int] IDENTITY(1,1) NOT NULL,
	[SchedulingTeamID] [int] NULL,
	[UserID] [int] NULL,
	[year] [int] NULL,
	[points] [int] NULL,
	[notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_extraChristmasID] PRIMARY KEY CLUSTERED 
(
	[extraChristmasID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
