USE [Allocate7]
GO
/****** Object:  Table [dbo].[Exported_rota]    Script Date: 31/01/2022 15:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_ExportRota]') AND type in (N'P', N'PC'))
CREATE TABLE [dbo].[Exported_rota](
	[RotaID] [int] NOT NULL,
	[RotaWeek] [int] NOT NULL,
	[IsTemplate] [int] NULL,
	[AssignmentStartWeek] [int] NULL,
	[WeeksInRota] [int] NULL,
	[MasterDutyID] [int] NULL,
	[DutyName] [nvarchar](100) NULL,
	[SchedulingPersonID] [int] NULL,
	[DOTW] [int] NULL,
	[Duration] [float] NULL,
	[StartTime] [float] NULL,
	[EndTime] [float] NULL,
	[SchedulingTeamId] [int] NOT NULL,
	[IsHomeTeam] [int] NULL,
	[DutyColourID] [int] NULL,
	[DisplayName] [varchar](255) NULL,
	[NetLogin] [varchar](50) NULL,
	[StaffNumber] [varchar](100) NULL,
	[StaffTextColour] [varchar](50) NULL,
	[SortCode] [varchar](255) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DutyStartDate] [date] NULL,
	[DutyEndDate] [date] NULL,
	[RotaAssignmentStartDate] [date] NULL,
	[TeamJoinDate] [date] NULL,
	[TeamJoinEndDate] [date] NULL,
	[AssignmentEndWeek] [varchar](10) NULL,
	[RosterStartWeek] [varchar](10) NULL,
	[StaffBackColour] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
