USE [Allocate7]
GO
/****** Object:  Table [dbo].[AdditionalPermissionsHistory]    Script Date: 29/06/2021 19:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalPermissionsHistory](
	[PermissionHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[HistoryType] [int] NULL,
	[UserID] [int] NULL,
	[History] [nvarchar](max) NULL,
	[datetime] [datetime] NULL,
	[AttributeID] [int] NULL,
	[AttributeID2] [int] NULL,
 CONSTRAINT [PK_PermissionHistory] PRIMARY KEY CLUSTERED 
(
	[PermissionHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[AdditionalPermissionsHistory] ADD  CONSTRAINT [AP_History_datetime]  DEFAULT (getdate()) FOR [datetime]
GO
