USE [Allocate7]
GO
/****** Object:  Table [dbo].[MasterDutiesFilter]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MasterDutiesFilter](
	[MasterDutyFilterID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FilterName] [varchar](50) NULL,
	[Comments] [varchar](max) NULL,
	[IsActive] [tinyint] NULL,
 CONSTRAINT [PK_MasterDutiesFilter] PRIMARY KEY CLUSTERED 
(
	[MasterDutyFilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
