USE [Allocate7]
GO
/****** Object:  Table [dbo].[maskType]    Script Date: 30/06/2021 15:23:31 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[maskType](
    [maskTypeId] [int] NOT NULL,
    [maskTypeName] [varchar](50) NOT NULL,
    CONSTRAINT [PK_maskType] PRIMARY KEY CLUSTERED
(
[maskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
    GO

