USE [Allocate7]
GO
/****** Object:  Table [dbo].[StaffDetails]    Script Date: 25/06/2021 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffDetails](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[IsVendor] [int] NULL,
	[EmpNumber] [int] NOT NULL,
	[StaffNumber] [varchar](7) NOT NULL,
	[VendorNumber] [varchar](20) NULL,
	[Title] [varchar](4) NULL,
	[Initials] [varchar](4) NULL,
	[Surname] [varchar](24) NULL,
	[Forename] [varchar](24) NULL,
	[PreferredForename] [varchar](40) NULL,
	[SecondName] [varchar](24) NULL,
	[BirthDate] [datetime] NULL,
	[IsFemale] [bit] NULL,
	[Room] [varchar](10) NULL,
	[SubLocation] [varchar](50) NULL,
	[BuildingCode] [varchar](3) NULL,
	[OfficeExtension] [varchar](14) NULL,
	[OfficeMobile] [varchar](14) NULL,
	[OfficePager] [varchar](14) NULL,
	[OfficeFax] [varchar](14) NULL,
	[AltTelephone] [varchar](40) NULL,
	[NetLogin] [varchar](30) NULL,
	[InternalEmail] [varchar](132) NULL,
	[ExternalEmail] [varchar](132) NULL,
	[JoinDate] [datetime] NULL,
	[IsLeaver] [bit] NOT NULL,
	[LeaveDate] [datetime] NULL,
	[LeaveDateSat] [datetime] NULL,
	[Department] [tinyint] NULL,
	[Estab Code] [varchar](10) NULL,
	[Notes] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModDate] [datetime] NULL,
	[LastModBy] [varchar](50) NULL,
	[LastModChanges] [varchar](max) NULL,
	[ManualEntry] [bit] NOT NULL,
	[CriticalLevel] [tinyint] NULL,
	[CriticalFixed] [bit] NULL,
	[History] [varchar](max) NULL,
	[Archive_Last_AccPeriodID_Date] [datetime2](7) NULL,
 CONSTRAINT [PK_StaffDetails] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF_StaffDetails_IsVendor]  DEFAULT ((0)) FOR [IsVendor]
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF_StaffDetails_EmpNumber]  DEFAULT ((0)) FOR [EmpNumber]
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF_Staff_Gender]  DEFAULT ((0)) FOR [IsFemale]
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF_Staff_IsLeaver]  DEFAULT ((0)) FOR [IsLeaver]
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF_Staff_LastModManual]  DEFAULT ((0)) FOR [ManualEntry]
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF_StaffDetails_CriticalLevel]  DEFAULT ((0)) FOR [CriticalLevel]
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF_StaffDetails_CriticalFixed]  DEFAULT ((0)) FOR [CriticalFixed]
GO
ALTER TABLE [dbo].[StaffDetails] ADD  CONSTRAINT [DF__StaffDeta__Archi__76D69450]  DEFAULT ('2012-01-01 00:00:00.000') FOR [Archive_Last_AccPeriodID_Date]
GO
