USE [Allocate7]
GO
/****** Object:  Table [dbo].[History]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[HistoryType] [int] NULL,
	[UserID] [int] NULL,
	[History] [nvarchar](max) NULL,
	[datetime] [datetime] NULL,
	[AttributeID] [int] NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[History] ADD  CONSTRAINT [DF_History_datetime]  DEFAULT (getdate()) FOR [datetime]
GO
