USE [Allocate7]
GO
/****** Object:  Table [dbo].[RotaWeeks]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RotaWeeks](
	[RotaID] [int] NOT NULL,
	[ixYearWeek] [int] NOT NULL,
	[RotaWeek] [int] NULL,
 CONSTRAINT [PK_RotaWeeks] PRIMARY KEY CLUSTERED 
(
	[RotaID] ASC,
	[ixYearWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
