USE [Allocate7]
GO

/****** Object:  Table [dbo].[SicknessReason]    Script Date: 01/11/2021 12:51:39 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
DROP TABLE IF EXISTS [dbo].[SicknessReason];
CREATE TABLE [dbo].[SicknessReason](
	[SicknessReasonID] [int] IDENTITY(1,1) NOT NULL,
	[SicknessName] [varchar](150) NULL,
	[ReasonCode] [varchar](150) NULL,
	[IsActive] [bit] NOT NULL,
	[CreateBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModDate] [datetime] NULL,
	[LastModBy] [int] NULL,
 CONSTRAINT [PK_SicknessReason] PRIMARY KEY CLUSTERED 
(
	[SicknessReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


