USE [Allocate7]
GO
/****** Object:  Table [dbo].[MasterDutyTeams]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDutyTeams](
	[DutyID] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
 CONSTRAINT [PK_MasterDutyTeams_1] PRIMARY KEY CLUSTERED 
(
	[DutyID] ASC,
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[MasterDutyTeams] ADD  CONSTRAINT [DF_MasterDutyTeams_TeamID]  DEFAULT ((0)) FOR [TeamID]
GO
ALTER TABLE [dbo].[MasterDutyTeams] ADD  CONSTRAINT [DF_MasterDutyTeams_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
