USE [Allocate7]
GO
/****** Object:  Table [dbo].[ScheduledPeople]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScheduledPeople](
	[ScheduledPersonID] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[PersonalPhone] [nvarchar](10) NULL,
	[PersonalEmail] [nvarchar](50) NULL,
	[UserID] [int] NULL,
	[StaffDetailsID] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[AdminNotes] [varchar](500) NULL,
	[FWANotes] [varchar](500) NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
 CONSTRAINT [PK_ScheduledPeople] PRIMARY KEY CLUSTERED 
(
	[ScheduledPersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
