USE [Allocate7]
GO

/****** Object:  Table [dbo].[AllocationSickness]    Script Date: 01/11/2021 12:17:24 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[AllocationSickness](
	[SicknessAllocationsiD] [int] IDENTITY(1,1) NOT NULL,
	[ScheduledPersonID] [int] NOT NULL,
	[AllocationID] [int] NOT NULL,
	[StaffNumber] [varchar](50) NULL,
	[Hours] [int] NULL,
	[SicknessReasonsId] [int] NULL,
	[SickDate] [date] NOT NULL,
	[isChecked] [bit] NULL,
	[Comment] [varchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[LastModifyBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	
 CONSTRAINT [PK_AllocationSickness] PRIMARY KEY CLUSTERED 
(
	[SicknessAllocationsiD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[AllocationSickness] ADD  CONSTRAINT [DF_AllocationSickness_isChecked]  DEFAULT ((1)) FOR [isChecked]
GO


