USE [Allocate7]
GO
/****** Object:  Table [dbo].[TeamPayDepartments]    Script Date: 28/06/2021 13:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TeamPayDepartments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](30) NULL,
	[DepartmentShortName] [varchar](20) NULL,
	[OrgUnitID] [int] NULL,
	[OrgLevel] [int] NULL,
	[StartWeek] [int] NULL,
	[EndWeek] [int] NULL,
	[DefaultCompExpiry] [int] NULL,
	[ShowCCP] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [varchar](50) NULL,
	[History] [varchar](max) NULL,
	[DefaultTOILExpiry] [int] NULL,
	[DefaultUnder11TOILExpiry] [int] NULL,
	[DefaultOver12TOILExpiry] [int] NULL,
	[DefaultTermsCondsVersion] [int] NULL,
	[DepartmentSystemID] [int] NULL,
	[AutoEDPTOIL] [bit] NULL,
	[EmailTimesheets] [bit] NULL,
	[EmailPayslips] [bit] NULL,
	[DefaultSendEmails] [bit] NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  CONSTRAINT [DF_Departments_OrgUnitID]  DEFAULT ((0)) FOR [OrgUnitID]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  CONSTRAINT [DF_Departments_OrgLevel]  DEFAULT ((0)) FOR [OrgLevel]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  CONSTRAINT [DF_Departments_DefaultCompExpiry]  DEFAULT ((0)) FOR [DefaultCompExpiry]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  CONSTRAINT [DF_Departments_ShowCCP]  DEFAULT ((0)) FOR [ShowCCP]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  CONSTRAINT [DF_Departments_Active]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [DefaultTOILExpiry]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [DefaultUnder11TOILExpiry]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [DefaultOver12TOILExpiry]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((1)) FOR [DefaultTermsCondsVersion]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [DepartmentSystemID]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [AutoEDPTOIL]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [EmailTimesheets]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [EmailPayslips]
GO
ALTER TABLE [dbo].[TeamPayDepartments] ADD  DEFAULT ((0)) FOR [DefaultSendEmails]
GO
