USE [Allocate7]
GO
/****** Object:  Table [dbo].[vRotaDutyDays]    Script Date: 25/06/2021 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vRotaDutyDays](
	[dDateTime] [datetime] NOT NULL,
	[RotaID] [int] NOT NULL,
	[RotaDutyID] [int] NOT NULL,
	[BBCWeek] [int] NULL,
	[AreaID] [int] NULL,
	[TeamID] [int] NULL,
	[RotaName] [nvarchar](50) NULL,
	[WeeksInRota] [int] NULL,
	[RotaStartDate] [varchar](10) NULL,
	[RotaStartWeek] [int] NULL,
	[RotaWeekLine] [int] NULL,
	[CurrentWeekofRota] [int] NULL,
	[RollingRotaWeek] [int] NULL,
	[DayOfRota] [int] NULL,
	[IsAssigned] [bit] NULL,
	[RotaDutyStartDate] [varchar](10) NULL,
	[RotaDutyEndDate] [varchar](10) NULL,
	[MasterDutyID] [int] NOT NULL,
	[MasterDutyOccurences] [int] NULL,
	[DutyName] [nvarchar](60) NULL,
	[DutyColourID] [int] NULL,
	[DutyTypeID] [int] NULL,
	[Duration] [int] NULL,
	[DurationExc] [int] NULL,
	[StartTime] [int] NULL,
	[EndTime] [int] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_vRotaDutyDays] PRIMARY KEY CLUSTERED 
(
	[dDateTime] ASC,
	[RotaID] ASC,
	[RotaDutyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[vRotaDutyDays] ADD  CONSTRAINT [DF_vRotaDutyDays_MasterDutyOccurences]  DEFAULT ((1)) FOR [MasterDutyOccurences]
GO
