USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_MasterDutyColours]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_MasterDutyColours](
	[MasterDutyColourID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NULL,
	[ColourName] [nvarchar](50) NULL,
	[ColourNotes] [nvarchar](500) NULL,
	[ColourBackground] [nchar](6) NULL,
	[ColourFont] [nchar](6) NULL,
	[IsDefaultColour] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
 CONSTRAINT [PK_REF_Colours] PRIMARY KEY CLUSTERED 
(
	[MasterDutyColourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[REF_MasterDutyColours] ADD  CONSTRAINT [DF_REF_MasterDutyColours_IsDefaultColour]  DEFAULT ((0)) FOR [IsDefaultColour]
GO
ALTER TABLE [dbo].[REF_MasterDutyColours] ADD  CONSTRAINT [DF_REF_Colours_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
