USE [Allocate7]
GO
/****** Object:  Table [dbo].[AccountingGroups]    Script Date: 28/06/2021 13:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountingGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccGroup] [varchar](20) NULL,
	[Period] [tinyint] NULL,
	[StartWeek] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsEditable] [bit] NOT NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [varchar](50) NULL,
	[History] [varchar](max) NULL,
 CONSTRAINT [PK_AccountingGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AccountingGroups] ADD  CONSTRAINT [DF_AccountingGroups_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccountingGroups] ADD  CONSTRAINT [DF_AccountingGroups_IsEditable]  DEFAULT ((0)) FOR [IsEditable]
GO
