USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_ContractCode]    Script Date: 28/06/2021 13:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REF_ContractCode](
	[ContractCode] [varchar](2) NOT NULL,
	[ContractDescription] [varchar](20) NULL,
	[StaffType] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[LastModDate] [datetime] NULL,
	[LastModBy] [varchar](50) NULL,
	[History] [varchar](max) NULL,
 CONSTRAINT [PK_REF_ContractCode] PRIMARY KEY CLUSTERED 
(
	[ContractCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[REF_ContractCode] ADD  CONSTRAINT [DF_REF_ContractCode_StaffType]  DEFAULT ((5)) FOR [StaffType]
GO
ALTER TABLE [dbo].[REF_ContractCode] ADD  CONSTRAINT [DF_REF_ContractCode_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
