USE [Allocate7]
GO
/****** Object:  Table [dbo].[MasterRotas]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterRotas](
	[RotaID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NULL,
	[TeamID] [int] NULL,
	[RotaName] [nvarchar](50) NULL,
	[WeeksInRota] [int] NULL,
	[RotaStartDate] [datetime] NULL,
	[RotaStartWeek] [int] NULL,
	[RotaNotes] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rotas2] PRIMARY KEY CLUSTERED 
(
	[RotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[MasterRotas] ADD  CONSTRAINT [DF_Rotas_TeamID2]  DEFAULT ((0)) FOR [TeamID]
GO
ALTER TABLE [dbo].[MasterRotas] ADD  CONSTRAINT [DF_Rotas_IsActive2]  DEFAULT ((1)) FOR [IsActive]
GO
