USE [Allocate7]
GO

/****** Object:  Table [dbo].[vPeopleRotaDutyDays]    Script Date: 23/07/2021 20:52:35 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[vPeopleRotaDutyDays](
    [ScheduledPersonID] [int] NOT NULL,
    [DutyDate] [datetime] NOT NULL,
    [RotaID] [int] NOT NULL,
    [RotaDutyID] [int] NOT NULL,
    [BBCWeek] [int] NULL,
    [AreaID] [int] NULL,
    [TeamID] [int] NULL,
    [RotaName] [nvarchar](50) NULL,
    [WeeksInRota] [int] NULL,
    [RotaStartDate] [varchar](10) NULL,
    [RotaStartWeek] [int] NULL,
    [RotaWeekLine] [int] NULL,
    [CurrentWeekofRota] [int] NULL,
    [RotaWeek] [int] NULL,
    [DayOfRota] [int] NULL,
    [IsAssigned] [bit] NULL,
    [RotaDutyStartDate] [varchar](10) NULL,
    [RotaDutyEndDate] [varchar](10) NULL,
    [MasterDutyID] [int] NULL,
    [DutyName] [nvarchar](60) NULL,
    [DutyColourID] [int] NULL,
    [ColourBackground] [nchar](6) NOT NULL,
    [ColourFont] [nchar](6) NOT NULL,
    [DutyTypeID] [int] NULL,
    [Duration] [int] NULL,
    [DurationExc] [int] NULL,
    [StartTime] [int] NULL,
    [EndTime] [int] NULL,
    [IsActive] [int] NULL,
    CONSTRAINT [PK_vPeopleRotaDutyDays] PRIMARY KEY CLUSTERED
    (
        [ScheduledPersonID] ASC,
        [DutyDate] ASC,
        [RotaID] ASC,
    [RotaDutyID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
        ) ON [PRIMARY]
GO

ALTER TABLE [dbo].[vPeopleRotaDutyDays] ADD  DEFAULT ((0)) FOR [IsActive]
GO
