USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_Staff_Team_LINK]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_Staff_Team_LINK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamWorkStaffID] [int] NULL,
	[AreaID] [int] NULL,
	[TeamID] [int] NULL,
	[TeamTypeID] [int] NULL,
	[StartDate] [datetime] NULL,
	[UserRoleID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
 CONSTRAINT [PK_REF_Staff_Team_LINK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[REF_Staff_Team_LINK] ADD  CONSTRAINT [DF_REF_Staff_Team_LINK_TeamTypeID]  DEFAULT ((2)) FOR [TeamTypeID]
GO
ALTER TABLE [dbo].[REF_Staff_Team_LINK] ADD  CONSTRAINT [DF_REF_Staff_Team_LINK_UserRoleID]  DEFAULT ((0)) FOR [UserRoleID]
GO
ALTER TABLE [dbo].[REF_Staff_Team_LINK] ADD  CONSTRAINT [DF_REF_Staff_Team_LINK_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
