USE [Allocate7]
GO
/****** Object:  Table [dbo].[MasterDuties]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDuties](
	[MasterDutyID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NULL,
	[TeamID] [int] NULL,
	[DutyTypeID] [int] NULL,
	[DutyName] [nvarchar](60) NULL,
	[DutyColourID] [int] NULL,
	[AutoShrink] [bit] NULL,
	[Duration] [int] NULL,
	[WindowDuration] [int] NULL,
	[IsPaid] [bit] NULL,
	[Saturday] [tinyint] NULL,
	[Sunday] [tinyint] NULL,
	[Monday] [tinyint] NULL,
	[Tuesday] [tinyint] NULL,
	[Wednesday] [tinyint] NULL,
	[Thursday] [tinyint] NULL,
	[Friday] [tinyint] NULL,
	[StartWeek] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndWeek] [int] NULL,
	[EndDate] [datetime] NULL,
	[StartTime] [int] NULL,
	[EndTime] [int] NULL,
	[dotw] [nchar](15) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
	[BackColour] [nchar](10) NULL,
	[ForeColour] [nchar](10) NULL,
	[BaseCode] [int] NULL,
 CONSTRAINT [PK_MasterDuties] PRIMARY KEY CLUSTERED 
(
	[MasterDutyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[MasterDuties] ADD  CONSTRAINT [DF_MasterDuties_TeamID]  DEFAULT ((0)) FOR [TeamID]
GO
ALTER TABLE [dbo].[MasterDuties] ADD  CONSTRAINT [DF_MasterDuties_IsPaid]  DEFAULT ((1)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[MasterDuties] ADD  CONSTRAINT [DF_MasterDuties_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO

