USE [Allocate7]
GO
/****** Object:  Table [dbo].[RotaDuties]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RotaDuties](
	[RotaDutyID] [int] IDENTITY(1,1) NOT NULL,
	[RotaID] [int] NULL,
	[RotaWeek] [int] NULL,
	[DOTW] [int] NULL,
	[MasterDutyID] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Occurences] [int] NULL,
	[IsAssigned] [bit] NULL,
	[IsTemplate] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_RotaDuties] PRIMARY KEY CLUSTERED 
(
	[RotaDutyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[RotaDuties] ADD  CONSTRAINT [DF_RotaDuties_Occurences]  DEFAULT ((1)) FOR [Occurences]
GO
ALTER TABLE [dbo].[RotaDuties] ADD  CONSTRAINT [DF_RotaDuties_IsAssigned]  DEFAULT ((0)) FOR [IsAssigned]
GO
ALTER TABLE [dbo].[RotaDuties] ADD  CONSTRAINT [DF_RotaDuties_IsTemplate]  DEFAULT ((0)) FOR [IsTemplate]
GO
