USE [Allocate7]
GO
/****** Object:  Table [dbo].[MasterJobs]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterJobs](
	[MasterJobID] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](50) NULL,
	[Details] [nvarchar](max) NULL,
	[StartTime] [int] NULL,
	[EndTime] [int] NULL,
	[AreaID] [int] NULL,
	[JobTypeID] [int] NULL,
	[History] [nvarchar](max) NULL,
	[LastModDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[IsActive] [bit] NULL,
	[Location] [nvarchar](max) NULL,
	[Contact] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[TeamID] [int] NULL,
 CONSTRAINT [PK_MasterJobs] PRIMARY KEY CLUSTERED 
(
	[MasterJobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[MasterJobs] ADD  CONSTRAINT [DF_master_jobs_Inactive]  DEFAULT ((0)) FOR [IsActive]
GO
