USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_JobColours]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_JobColours](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NULL,
	[JobTypeID] [int] NULL,
	[BackColour] [nchar](10) NULL,
	[ForeColour] [nchar](10) NULL,
 CONSTRAINT [PK_REF_JobColours] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
