USE [Allocate7]
GO

/****** Object:  Table [dbo].[ActivityCode]    Script Date: 27/12/2021 23:49:10 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ActivityCode](
    [ActivityCodeId] [int] IDENTITY(1,1) NOT NULL,
    [ActivityCodeName] [varchar](50) NOT NULL,
    [Description] [varchar](75) NOT NULL,
    [IsActive] [tinyint] NOT NULL,
    [CreatedBy] [int] NOT NULL,
    [CreatedDate] [datetime] NOT NULL,
    [ModifiedBy] [int] NOT NULL,
    [ModifiedDate] [datetime] NOT NULL,
    [History] [varchar](max) NULL,
    CONSTRAINT [PK_ActivityCode] PRIMARY KEY CLUSTERED
(
[ActivityCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO

