USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_Forms]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_Forms](
	[FormID] [int] IDENTITY(1,1) NOT NULL,
	[FormName] [nvarchar](50) NULL,
	[FormDescription] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_REF_Forms] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
