USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_DutyTypes]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_DutyTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DutyTypeName] [nvarchar](50) NULL,
	[DutyTypeDesc] [nvarchar](255) NULL,
	[IsReqToFill] [bit] NULL,
	[IsPlaceHolder] [bit] NULL,
	[IsShiftWindow] [bit] NULL,
	[IsAbsence] [bit] NULL,
	[IsUnknown] [bit] NULL,
	[IsRotaAssignable] [bit] NULL,
	[IsRotaTemplate] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModBy] [int] NULL,
	[LastModDate] [datetime] NULL,
	[History] [nvarchar](max) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_REF_DutyTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  CONSTRAINT [DF_REF_DutyTypes_IsReqToFill]  DEFAULT ((1)) FOR [IsReqToFill]
GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  CONSTRAINT [DF_REF_DutyTypes_IsPlaceHolder]  DEFAULT ((0)) FOR [IsPlaceHolder]
GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  CONSTRAINT [DF_REF_DutyTypes_IsMisc]  DEFAULT ((0)) FOR [IsShiftWindow]
GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  CONSTRAINT [DF_REF_DutyTypes_IsAbsence]  DEFAULT ((0)) FOR [IsAbsence]
GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  CONSTRAINT [DF_REF_DutyTypes_IsUnknown]  DEFAULT ((0)) FOR [IsUnknown]
GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  CONSTRAINT [DF_REF_DutyTypes_IsRotaAssignable]  DEFAULT ((0)) FOR [IsRotaAssignable]
GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  CONSTRAINT [DF_REF_DutyTypes_IsRotaTemplate]  DEFAULT ((0)) FOR [IsRotaTemplate]
GO
ALTER TABLE [dbo].[REF_DutyTypes] ADD  DEFAULT ((0)) FOR [IsActive]
GO
