USE [Allocate7]
GO
/****** Object:  Table [dbo].[StaffTimesheet]    Script Date: 28/06/2021 13:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffTimesheet](
	[TimesheetID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[Duration] [decimal](10, 6) NULL
	)
GO

