USE [Allocate7]
GO
/****** Object:  Table [dbo].[StaffConfig]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffConfig](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[ManualEDP] [bit] NULL,
	[EDPMinimum] [decimal](6, 2) NULL,
	[EDPMinimumExcBreaks] [decimal](6, 2) NULL,
	[PartTimeEDP] [decimal](6, 2) NULL,
	[ShiftBreak] [tinyint] NULL,
	[PTCalcBreak] [tinyint] NULL,
	[PTCalcLeave] [tinyint] NULL,
	[AccGroupID] [int] NULL,
	[AveDayLen] [decimal](4, 2) NULL,
	[AccDays] [decimal](5, 2) NULL,
	[TermsCondsVersionID] [int] NULL,
	[PaymentTypeID] [int] NULL,
	[BreaksGroupID] [int] NULL,
	[CompExpiry] [int] NULL,
	[TOILExpiry] [int] NULL,
	[Under11TOILExpiry] [int] NULL,
	[Over12TOILExpiry] [int] NULL,
	[ActivityTypeID] [int] NULL,
	[ActivityType] [varchar](11) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModDate] [datetime] NULL,
	[LastModBy] [varchar](100) NULL,
	[LastModChanges] [varchar](max) NULL,
	[CriticalLevel] [tinyint] NULL,
	[History] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[AutoEDPTOIL] [bit] NULL,
	[SendEmails] [bit] NULL,
 CONSTRAINT [PK_StaffConfig] PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_ManualEDP]  DEFAULT ((0)) FOR [ManualEDP]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_EDPMinimum]  DEFAULT ((0)) FOR [EDPMinimum]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_EDPMinimumExcBreaks]  DEFAULT ((0)) FOR [EDPMinimumExcBreaks]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_PartTimeEDP]  DEFAULT ((0)) FOR [PartTimeEDP]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_ShiftBreak]  DEFAULT ((1)) FOR [ShiftBreak]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_PTCalcBreak]  DEFAULT ((0)) FOR [PTCalcBreak]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_PTCalcLeave]  DEFAULT ((0)) FOR [PTCalcLeave]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_AccGroup]  DEFAULT ((0)) FOR [AccGroupID]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_AveDayLen]  DEFAULT ((0)) FOR [AveDayLen]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_AccDays]  DEFAULT ((0)) FOR [AccDays]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_TermsConditionsVersion]  DEFAULT ((1)) FOR [TermsCondsVersionID]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_PaymentType]  DEFAULT ((0)) FOR [PaymentTypeID]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_BreaksGroup]  DEFAULT ((1)) FOR [BreaksGroupID]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_CompExpiry]  DEFAULT ((0)) FOR [CompExpiry]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_TOILExpiry]  DEFAULT ((0)) FOR [TOILExpiry]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_Under11TOILExpiry]  DEFAULT ((0)) FOR [Under11TOILExpiry]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_Over12TOILExpiry]  DEFAULT ((0)) FOR [Over12TOILExpiry]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_ActivityTypeID]  DEFAULT ((0)) FOR [ActivityTypeID]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_CriticalLevel]  DEFAULT ((0)) FOR [CriticalLevel]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF_StaffConfig_IsDeleted]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  CONSTRAINT [DF__StaffConf__AutoE__789FAC88]  DEFAULT ((0)) FOR [AutoEDPTOIL]
GO
ALTER TABLE [dbo].[StaffConfig] ADD  DEFAULT ((0)) FOR [SendEmails]
GO
