USE [Allocate7]
GO
/****** Object:  Table [dbo].[REF_EmpGroup]    Script Date: 28/06/2021 13:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REF_EmpGroup](
	[EmpGroupCode] [varchar](1) NOT NULL,
	[EmpGroupDescription] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[LastModDate] [datetime] NULL,
	[LastModBy] [varchar](50) NULL,
	[History] [varchar](max) NULL,
	[IsTeampayPayments] [bit] NULL,
 CONSTRAINT [PK_REF_EmpGroup] PRIMARY KEY CLUSTERED 
(
	[EmpGroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[REF_EmpGroup] ADD  CONSTRAINT [DF_REF_EmpGroup_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[REF_EmpGroup] ADD  DEFAULT ((0)) FOR [IsTeampayPayments]
GO
