USE [Allocate7]
GO

/****** Object:  Table [dbo].[REF_Roles]    Script Date: 02/07/2021 15:00:23 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = N'[isAdditional]'
          AND Object_ID = Object_ID(N'[dbo].[REF_Roles]'))
BEGIN
	ALTER TABLE [dbo].[REF_Roles] ADD isAdditional bit NULL CONSTRAINT [DF_REF_Roles_isAdditional]  DEFAULT ((0))
				WITH VALUES;



EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1= additional role ,0- role by default set as 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'REF_Roles', @level2type=N'COLUMN',@level2name=N'isAdditional'

END
GO