USE [Allocate7]
GO
/****** Object:  Table [dbo].[yearlyStaffFilter]    Script Date: 06/05/2022 14:07:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'yearlyStaffFilter')
BEGIN
	DROP Table [dbo].[yearlyStaffFilter];
END

	CREATE TABLE [dbo].[yearlyStaffFilter](
		[DataInput] [varchar](255) NULL,
		[DataDefault] [varchar](255) NULL,
		[SearchBy] [varchar](50) NULL,
		[UsedOnce] [bit] NOT NULL,
		[ID] [int] IDENTITY(50,5) NOT NULL
	) ON [PRIMARY]
	GO
	ALTER TABLE [dbo].[yearlyStaffFilter] ADD  CONSTRAINT [DF_yearlyStaffFilter_UsedOnce]  DEFAULT ((0)) FOR [UsedOnce]
	GO