#leave-by-area-report {
    font-size: 11px;
}

#leave-by-area-report .dataTables_scrollHead {
    overflow: hidden !important;
}

#leave-by-area-report .fields label {
    margin-top: 0px;
    width: 119px;
}

#leave-by-area-report .fields input {
    margin-top: 0px;
    width: 69px;
}

#leave-by-area-report .fields {
    margin-top: 0px;
}

.filterContainerFlex {
    border: 1px solid #d6d6d6;
    padding: 5px;
    border-radius: 2px;
    position: relative;
    margin-top: 10px;
    margin-right: 5px;
}

span.heading {
    display: block;
    text-align: left;
    line-height: 1 !important;
    font-size: 10px;
    position: absolute;
    top: -6px;
    background: #eeeeee;
    font-weight: bold;
}

.leave-by-report-btn {
    width: 76px;
    padding: 5px;
    background: #d6d6d6;
    border: 1px solid #c0c0c0;
    font-size: 11px;
    cursor: pointer;
    margin-left: 33px;
}

.leave-by-report-filter-container {
    display: flex;
    margin-top: 10px;
    margin-left: 2px;
}

img.exportIcon {
    width: 12px;
    height: 12px;
    vertical-align: bottom;
    margin-right: 3px;
}

