#sickness-summary-report-data-container {
    background-color: #DDDDDD;
    padding: 14px;
}

#sickness-detail-area-report_wrapper .dataTables_scrollHead {
    overflow: hidden !important;
}

#sickness-occurrences-area-report_wrapper .dataTables_scrollHead {
    overflow: hidden !important;
}

img.exportIcon {
    width: 12px;
    height: 12px;
    vertical-align: bottom;
    margin-right: 3px;
}

.sickness-by-area-excel-report-btn {
    float: right;  
    margin-right: 12px;
    padding: 4px;
    margin-top: -5px;
    cursor: pointer;  
}

#sickness-area-by-report-master-container {
    font-size: 10pt;
}