USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_nonScheduledTeamSatff]    Script Date: 24/07/2025 18:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE  [dbo].[usp_del_nonScheduledTeamSatff]

	-- Add the parameters for the stored procedure here
	@personid INT,
	@teamid INT,
	@currentuser INT,
	@modulename VARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @userid INT,
			@status VARCHAR(20),
			@returnstring VARCHAR(200),
			@displayname varchar(100),
			@teamname VARCHAR(100)
	DECLARE @HistoryStart nvarchar(max)	,
			@historytype int,
			@strhometeamendDate varchar(30),
			@currentusername varchar(100)

	set @status = 'success';
	set @returnstring = 'Deleted Successfully';

    -- Insert statements for procedure here
SELECT @userid = UD_UserID,
		@displayname =UD_DisplayName 
		FROM UserDetails where UD_UserID = @personid

SELECT @currentusername = ISNULL(UD_DisplayName,UD_NetLogin) 
		FROM UserDetails  (nolock)
				where UD_UserID = @currentuser

SELECT @teamname = schedulingTeamName FROM schedulingTeams (NOLOCK) where schedulingTeamId = @teamid


UPDATE  ScheduledPersonTeam_LINK
SET isActive = 0,
    EndDate = convert(datetime,convert(varchar(40),DATEADD(DAY, -1, getdate()),110),110),
    LastUpdatedBy = @currentuser,
    LastUpdatedDate = convert(datetime,convert(varchar(40),DATEADD(DAY, -1, getdate()),110),110)
where TeamID = @teamid and ScheduledPersonID = @personid and scheduledType = 0

	update UserRoles set UR_EndDate = convert(datetime,convert(varchar(40),DATEADD(DAY, -1, getdate()),110),110) 
	where UR_SchedulingTeamID = @teamid AND UR_UserID = @userid
    and isnull(UR_EndDate, '9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)


	--insert history
	SET @HistoryStart  = @displayname + ' was removed from '+ @teamname +' by ' +  @currentusername + ' on ' +  CONVERT(VARCHAR, GETDATE(), 103) + ' at ' + CONVERT(VARCHAR(5),getdate(),108) +'.'
	Select @historytype = id from HistoryTypes where HistoryType = @modulename

INSERT INTO [dbo].[AdditionalPermissionsHistory]([HistoryType],[UserID],[History],[datetime],[AttributeID],[AttributeID2])
	VALUES (@historytype ,@currentuser,@HistoryStart, GETDATE(),@teamid,@userid)
Select @status strstatus, @returnstring strreturnstring
END