USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_ADD_MiscellaneousDutyInAllocations]    Script Date: 17/10/2024 13:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER                 PROCEDURE [dbo].[usp_ADD_MiscellaneousDutyInAllocations]
@FromID INT,
@pNetLogin VARCHAR(30),
@masterdutyid INT

AS
BEGIN TRY

	SET NOCOUNT ON;
   
    DECLARE   @return_value         INT,
			  @vIsShiftleader       INT = 0,
			  @DutyName             VARCHAR(100),
			  @IsHomeTeam           INT,
			  @MarkWIAD             INT,
			  @MarkActual           INT	,  
			  @iday                 INT = 0 ,
			  @vuserID	            INT = 0 ,
			  @vname                VARCHAR(100),
			  @DutyTeamID           INT,
			  @TeamID               INT,
			  @vSPID                INT,
			  @vDutyDate            DATETIME	,
			  @AllocationIDNEW      INT = 1,
			  @StartTime            INT,
			  @EndTime              INT,
			  @Duration             INT,
			  @IsFreelancer         INT = 0,
			  @WeekNumber           INT,
			  @LeaveStartTime       INT,
	          @LeaveEndTime         INT,
			  @LeaveID              INT;

   DECLARE  @TempAllocations TABLE( ID INT,
									DutyName NVARCHAR(100), 
									Duration FLOAT, 
									StartTime FLOAT, 
									EndTime FLOAT,
									DutyComments VARCHAR(MAX), 
									BackColour BIGINT, 
									FontColour BIGINT, 
									AdhocDuty BIT,
									StartDate DATETIME, 
									EndDate DATETIME, 
									dutyProgramId INT, 
									dutyProgramId2 INT, 
									dutyProgramId3 INT, 
									dutyProgramId4 INT, 
									dutyProgramId5 INT, 
									dutyProgramId6 INT, 
									dutyBreakTime INT,
									dutyColorId INT, 
									MasterDutyId INT,  
									MarkWIAD INT, 
									MarkActual INT,
									IsHomeTeam INT, 
									SchedulingPersonID INT, 
									SchedulingTeamId INT,
									DutyTeamID INT, 
									weeknumber INT, 
									iday INT, 
									DutyDate DATE,
									MarkOverTwelve SMALLINT,
									PlannedDuration INT,
									DisplayName NVARCHAR(100),
									LeaveStartTime INT,
									LeaveEndTime INT,
									LeaveID INT,
									IsNeedCovering BIT,
									IsOverrideOver12 BIT)
	
    SELECT  @vname =  CASE WHEN (sp.DisplayName IS NULL) 
	                        THEN CASE WHEN (sd.PreferredForename IS NULL or sd.PreferredForename = '')
                                    THEN (sd.Forename + ' ' + sd.Surname) 
									ELSE (sd.PreferredForename + ' ' + sd.Surname)    END
                            ELSE sp.DisplayName END 
	FROM StaffDetails sd (nolock)
	LEFT JOIN ScheduledPeople sp (nolock) on sp.StaffDetailsID = sd.StaffID
	WHERE sd.NetLogin=@pNetLogin
	
   select @vuserID = UserID 
     from [dbo].[Users] (NOLOCK)
	where NetLogin = @pNetLogin  	
	
			    IF (@FromID IS NULL OR @masterdutyid IS NULL )
				BEGIN
				  THROW 51010, 'From ID and MasterDuty ID Cannot be NULL', 1;  
				END
				
				     INSERT INTO @TempAllocations ( ID,
									DutyName, 
									Duration, 
									StartTime, 
									EndTime,
									DutyComments, 
									BackColour, 
									FontColour, 
									AdhocDuty,
									StartDate, 
									EndDate, 
									dutyProgramId, 
									dutyProgramId2, 
									dutyProgramId3, 
									dutyProgramId4, 
									dutyProgramId5, 
									dutyProgramId6, 
									dutyBreakTime,
									dutyColorId, 
									MasterDutyId,  
									MarkWIAD, 
									MarkActual,
									IsHomeTeam, 
									SchedulingPersonID, 
									SchedulingTeamId,
									DutyTeamID, 
									weeknumber, 
									iday, 
									DutyDate,
									MarkOverTwelve,
									PlannedDuration,
									DisplayName,
									LeaveStartTime,
									LeaveEndTime,
									LeaveID,
									IsNeedCovering,
									IsOverrideOver12)	
				 SELECT AL.ID,
				        al.DutyName, al.Duration, al.StartTime, al.EndTime,
				        AL.DutyComments, AL.BackColour, al.FontColour, al.AdhocDuty,
						al.StartDate, al.EndDate, al.dutyProgramId, 
						al.dutyProgramId2, 
						al.dutyProgramId3, 
						al.dutyProgramId4, 
						al.dutyProgramId5, 
						al.dutyProgramId6, al.dutyBreakTime,
						al.dutyColorId, al.MasterDutyId, al.MarkWIAD, al.MarkActual,
						al.IsHomeTeam, al.SchedulingPersonID, al.SchedulingTeamId,
						al.DutyTeamID, al.weeknumber, al.iday, al.DutyDate,
						al.MarkOverTwelve, al.PlannedDuration,
						( CASE
						   WHEN ( sp.displayname IS NULL ) THEN
							 CASE
							   WHEN ( ISNULL( sd.preferredforename,'') = '' ) THEN (
							   sd.forename + ' ' + sd.surname )
							   ELSE ( sd.preferredforename + ' ' + sd.surname )
							 END
						   ELSE sp.displayname
						 END )                                     AS DisplayName,
						al.LeaveStartTime,
						al.LeaveEndTime,
						al.LeaveID,
						al.IsNeedCovering,
						al.IsOverrideOver12
				   FROM Allocations AL (NOLOCK)
			      INNER JOIN ScheduledPeople AS sp (nolock) ON AL.schedulingpersonid  = sp.scheduledpersonid
			       LEFT JOIN StaffDetails sd (nolock) ON sd.staffid = sp.staffdetailsid		
				  WHERE AL.ID = @FromID

				IF ( SELECT count(1) from @TempAllocations ) < 1
				 BEGIN
				   THROW 51001, 'There is problem with the data. Underlying data has been modified. Please refresh the page and try again.', 1;
				 END;				

				 SELECT @IDay        = al.iday,
				        @IsHomeTeam  = al.IsHomeTeam,
						@MarkWIAD    = al.MarkWIAD,
						@MarkActual  = al.MarkActual,
						@DutyName    = al.DutyName,
						@DutyTeamID  = al.DutyTeamID,
						@TeamID      = al.SchedulingTeamId,
						@vSPID       = al.SchedulingPersonID,
						@vDutyDate   = al.DutyDate,
						@StartTime   = al.StartTime,
						@EndTime     = al.EndTime,
						@Duration    = al.Duration,
						@WeekNumber  = al.WeekNumber,
						@LeaveStartTime = al.LeaveStartTime,
						@LeaveEndTime   = al.LeaveEndTime,
						@LeaveID        = al.LeaveID
				   FROM @TempAllocations AL 
				  WHERE AL.ID = @FromID 	
				  
				IF ( @DutyName IS NULL)
				 BEGIN
				   THROW 51011, 'Allocations Does nots exists', 1;  
				 END;	

                IF (    ISNULL(@LeaveStartTime,0) > 0 OR ISNULL(@LeaveEndTime,0) > 0 )
				 BEGIN
				   THROW 51003, 'You cannot swap/assign duty containing part day leave', 1;
				 END;

                IF ( ISNULL(@LeaveID,0) = 0  )
				 BEGIN
				   select @LeaveStartTime = LeaveStartTime,
				          @LeaveEndTime = LeaveEndTime
				    from LeaveApplications 
				   where SchedulingPersonID = @vSPID
				     and dDate = @vDutyDate
					 and Deleted = 0 
				 END;

                IF (    ISNULL(@LeaveStartTime,0) > 0 OR ISNULL(@LeaveEndTime,0) > 0 )
				 BEGIN
				   THROW 51004, 'You cannot swap/assign duty containing part day leave', 1;
				 END;

                IF NOT EXISTS ( SELECT 1 FROM MasterDuties (NOLOCK) where MasterDutyID = @masterdutyid )
				 BEGIN
				   THROW 51011, 'Misc Duty Does nots exists', 1;  
				 END;					
				   
				IF NOT EXISTS (	SELECT 1 
								  FROM ScheduledPersonTeam_LINK STL (NOLOCK)
								 WHERE STL.TeamID = @TeamID
								   AND STL.ScheduledPersonID = @vSPID
								   AND STL.scheduledType = 1
								   AND @vDutyDate BETWEEN ISNULL(STL.StartDate, @vDutyDate) 
														AND ISNULL(STL.EndDate,@vDutyDate)	
                              )					   
				 BEGIN
				   THROW 51011, 'Scheduled Person Not assigned in this Team on this Day ', 1;  
				 END;					   
				  
			    IF ( @vIsShiftleader = 0 AND (IsNull(@IsHomeTeam,1) = 1 
					   and ( IsNull(@MarkWIAD,0) = 1 or isNull(@MarkActual,0) = 1) ) )
				BEGIN
				  THROW 51012, 'This Scheduled Person is assigned to a different team on this day', 1;  
				END		
				
                IF (    UPPER(@DutyName) like '%SICK%'
				     OR UPPER(@DutyName) like '%ABSENT%'
					 OR UPPER(@DutyName) like '%LEAVE%' )
                BEGIN
				  THROW 51013, 'Cannot assigne a Duty to Absent/Sick/Leave Days ', 1;  
                END						
				
				IF EXISTS ( SELECT TOP 1 STL.ScheduledPersonID
			                  FROM ScheduledPersonTeam_LINK AS STL
						     INNER JOIN schedulingTeams ST ON ST.schedulingTeamId = STL.TeamID
						     WHERE ST.schedulingTeamName in ('Other BBC', 'Freelancers', 'Apprentices')
						       AND STL.IsHomeTeam = 1
							   AND STL.ScheduledPersonID = @vSPID
							   AND @vDutyDate BETWEEN ISNULL(STL.StartDate, @vDutyDate)
												     AND ISNULL(STL.EndDate,@vDutyDate)
							)
				 BEGIN
				   SET @IsFreelancer = 1
				 END											

			    IF ( @vIsShiftleader = 0 AND @IsFreelancer = 0
				       AND ( IsNull(@IsHomeTeam,1) = 0 
					   and ( IsNull(@MarkWIAD,0) = 0 AND isNull(@MarkActual,0) = 0) ) )
				BEGIN
				  THROW 51014, 'This Scheduled Person is assigned to a different team on this day ', 1;  
				END		
				
			    IF ( IsNull(@DutyTeamID,0) <> 0 AND ( IsNull(@DutyTeamID,0) <>  @TeamID )  )
				BEGIN
				  THROW 51015, 'Duty Assigned From a different team on this day ', 1;  
				END						

                IF ( ISNULL(@Duration,0) > 0  AND ( ISNULL(@StartTime,0) > 0 OR ISNULL(@EndTime,0) > 0 ))
                BEGIN				
				 EXEC @return_value = usp_Edit_Allocations 'UNASSIGN',@pNetLogin,@FromID, @AllocationIDNEW = @AllocationIDNEW OUTPUT
				END
				
                  UPDATE AL
                     SET al.DutyName = MD.DutyName , 
					     al.Duration = case when isnull(MD.duration,0) = 0 then 
								         case when MD.endtime > MD.starttime then MD.endtime - MD.starttime
									          when MD.endtime < MD.starttime then ( 86400- MD.starttime) + MD.endtime end
							           else  MD.duration end ,
						 al.MarkOverTwelve = case when CAST(( case when isnull(MD.duration,0) = 0 then 
								         case when MD.endtime > MD.starttime then MD.endtime - MD.starttime
									          when MD.endtime < MD.starttime then ( 86400- MD.starttime) + MD.endtime end
							           else  MD.duration end ) AS FLOAT) / CAST(3600 AS FLOAT) > 12 
									   and isnull(md.IsOverrideOver12,1) = 1
									   THEN -1 
									   ELSE 9 END,
					     al.StartTime = case when MD.StartTime >= 86400 then ( MD.StartTime - 86400) else MD.StartTime end , 
						 al.EndTime = case when MD.EndTime >= 86400 then (MD.EndTime - 86400) else MD.EndTime end , 
				         AL.BackColour = MD.BackColour , 
						 al.FontColour = MD.ForeColour ,  
					     al.startdate = CAST(CASE
						 WHEN md.starttime IS NOT NULL THEN Concat(
						 Format (al.dutydate, 'yyyy-MM-dd'),
															' ', (
															RIGHT(
															'0' + Cast(Cast(case when MD.StartTime >= 86400 then ( MD.StartTime - 86400) else MD.StartTime end AS INT)
															/ 3600
															AS VARCHAR )
															, 2)
															+
															':'
															+ RIGHT('0' +
															Cast((Cast(case when MD.StartTime >= 86400 then ( MD.StartTime - 86400) else MD.StartTime end AS INT) / 60
															) % 60
															AS VARCHAR), 2)
																	+ ':'
																	+ RIGHT('0' +
															Cast(Cast(case when MD.StartTime >= 86400 then ( MD.StartTime - 86400) else MD.StartTime end AS INT) % 60
															AS
															VARCHAR ), 2)
																		+ '.000' ))
						 ELSE NULL
					    END as datetime),
					    al.enddate = cast(CASE
						 WHEN md.endtime IS NOT NULL THEN Concat(Format (CASE
																		   WHEN
																  (case when MD.EndTime >= 86400 then (MD.EndTime - 86400) else MD.EndTime end )
																  < (case when MD.StartTime >= 86400 then ( MD.StartTime - 86400) else MD.StartTime end) THEN
																		   DATEADD(DAY,1, al.dutydate)
																		   ELSE al.dutydate
																		 END, 'yyyy-MM-dd'), ' '
														  , (
															RIGHT('0' + Cast(Cast( case when MD.EndTime >= 86400 then (MD.EndTime - 86400) else MD.EndTime end AS
															INT) /
															3600 AS VARCHAR ), 2)
															+ ':'
															+ RIGHT('0' + Cast((Cast( case when MD.EndTime >= 86400 then (MD.EndTime - 86400) else MD.EndTime end
															AS INT)
															/ 60) % 60 AS VARCHAR), 2)
															+ ':'
															+ RIGHT('0' + Cast(Cast( case when MD.EndTime >= 86400 then (MD.EndTime - 86400) else MD.EndTime end
															AS INT)
															% 60 AS VARCHAR ), 2)
															+ '.000' ))
						  ELSE NULL
					     END  as datetime),						  
						 al.dutyProgramId = MD.DutyProgramId1 , 
						 al.dutyProgramId2 = MD.DutyProgramId2 , 
						 al.dutyProgramId3 = MD.DutyProgramId3 , 
						 al.dutyProgramId4 = MD.DutyProgramId4 , 
						 al.dutyProgramId5 = MD.DutyProgramId5 , 
						 al.dutyProgramId6 = MD.DutyProgramId6 , 
						 al.dutyBreakTime = MD.BreakTime , 
						 al.DutyComments = NULL, al.dutyColorId = MD.dutyColourId , 
						 al.MasterDutyId = MD.MasterDutyId, 
						 al.IsNeedCovering = MD.IsNeedCovering ,
						 al.IsOverrideOver12 = md.IsOverrideOver12,
						 al.MarkActual = CASE WHEN AL.IsHomeTeam = 0 AND AL.MarkWiad = 0 THEN 1 ELSE al.MarkActual END,
						 al.DutyTeamID = case when IsNull(al.ishometeam,1) = 0 
						                      then al.SchedulingTeamId else NULL end
                   FROM  @TempAllocations AL 
				   INNER JOIN masterduties MD ON 1 = 1 AND MD.MasterDutyID = @masterdutyid
				   
				    INSERT INTO history
							( historytype,
							  attributeid,
							  HistorySubType,
							  datetime,
							  userid,
							  history
							)		
					SELECT ht.id AS historytype,
						   al.id AS attributeid,
						   'CH' as HistorySubType,
						   getdate(),
						   @vuserID,
						   'Modified at '
						   + FORMAT (Getdate(), 'HH:mm')
						   + ' On ' + FORMAT (Getdate(), 'dd/MM/yyyy')			
						   + ' By ' + @vname + ', Drag and Drop from Misc. Duties (Swapped '						   
						   + @DutyName+' to '+AL.dutyname+ ' ) to '
						   +AL.DisplayName+'.'
					FROM   @TempAllocations AL,
						   (SELECT id
							FROM   HistoryTypes (NOLOCK)
							WHERE  historytype = 'AllocationDuty') HT
							
				     INSERT INTO @TempAllocations ( ID,
									DutyName, 
									Duration, 
									StartTime, 
									EndTime,
									DutyComments, 
									BackColour, 
									FontColour, 
									AdhocDuty,
									StartDate, 
									EndDate, 
									dutyProgramId, 
									dutyProgramId2, 
									dutyProgramId3, 
									dutyProgramId4, 
									dutyProgramId5, 
									dutyProgramId6,
									dutyBreakTime,
									dutyColorId, 
									MasterDutyId,  
									MarkWIAD, 
									MarkActual,
									IsHomeTeam, 
									SchedulingPersonID, 
									SchedulingTeamId,
									DutyTeamID, 
									weeknumber, 
									iday, 
									DutyDate,
									MarkOverTwelve,
									PlannedDuration)	
					 SELECT AL.ID,
							al.DutyName, al.Duration, al.StartTime, al.EndTime,
							AL.DutyComments, AL.BackColour, al.FontColour, al.AdhocDuty,
							al.StartDate, al.EndDate, al.dutyProgramId, 
							al.dutyProgramId2, 
							al.dutyProgramId3, 
							al.dutyProgramId4, 
							al.dutyProgramId5, 
							al.dutyProgramId6,
						    al.dutyBreakTime,
							al.dutyColorId, al.MasterDutyId, al.MarkWIAD, al.MarkActual,
							al.IsHomeTeam, al.SchedulingPersonID, al.SchedulingTeamId,
							al.DutyTeamID, al.weeknumber, al.iday, al.DutyDate,
							al.MarkOverTwelve, al.PlannedDuration
					   FROM Allocations AL (NOLOCK)
					  WHERE AL.ID <> @FromID
					    AND AL.SchedulingPersonID = @vSPID
						AND AL.weeknumber = @weeknumber
						AND AL.iday = @iDay
					
					  UPDATE AL
						 SET al.DutyName = TAL.DutyName , 
						     al.Duration = TAL.Duration, 
							 al.StartTime = TAL.StartTime , 
							 al.EndTime = TAL.EndTime , 
							 AL.DutyComments = TAL.DutyComments , 
							 AL.BackColour = TAL.BackColour , 
							 al.FontColour = TAL.FontColour , 
							 al.AdhocDuty = TAL.AdhocDuty , 
							 al.StartDate = TAL.StartDate , 
							 al.EndDate = TAL.EndDate , 
							 al.dutyProgramId = TAL.dutyProgramId , 
							 al.dutyProgramId2 = TAL.dutyProgramId2 , 
							 al.dutyProgramId3 = TAL.dutyProgramId3 , 
							 al.dutyProgramId4 = TAL.dutyProgramId4 , 
							 al.dutyProgramId5 = TAL.dutyProgramId5 , 
							 al.dutyProgramId6 = TAL.dutyProgramId6 , 
							 al.dutyBreakTime = TAL.dutyBreakTime , 
							 al.dutyColorId = TAL.dutyColorId , 
							 al.MasterDutyId = TAL.MasterDutyId,
							 AL.PlannedDuration = TAL.PlannedDuration,
							 al.DutyTeamID = TAL.SchedulingTeamID,
							 AL.MarkActual = TAL.MarkActual						 
					   FROM  @TempAllocations AL 
					   INNER JOIN @TempAllocations TAL 
				              ON AL.SchedulingPersonID = TAL.SchedulingPersonID
							  AND al.weeknumber = TAL.weeknumber 
							  AND al.iday = TAL.iday
							  AND TAL.ID = @FromID 
					   AND AL.ID <> @FromID 					

					  UPDATE AL
						 SET al.DutyName = TAL.DutyName, 
						     al.Duration = TAL.Duration, 
							 al.StartTime = TAL.StartTime, 
							 al.EndTime = TAL.EndTime, 
							 AL.DutyComments = TAL.DutyComments, 
							 AL.BackColour = TAL.BackColour, 
							 al.FontColour = TAL.FontColour, 
							 al.AdhocDuty = TAL.AdhocDuty, 
							 al.StartDate = TAL.StartDate, 
							 al.EndDate = TAL.EndDate, 
							 al.dutyProgramId = TAL.dutyProgramId, 
							 al.dutyProgramId2 = TAL.dutyProgramId2 , 
							 al.dutyProgramId3 = TAL.dutyProgramId3 , 
							 al.dutyProgramId4 = TAL.dutyProgramId4 , 
							 al.dutyProgramId5 = TAL.dutyProgramId5 , 
							 al.dutyProgramId6 = TAL.dutyProgramId6 , 
							 al.dutyBreakTime = TAL.dutyBreakTime, 
							 al.dutyColorId = TAL.dutyColorId, 
							 al.MasterDutyId = TAL.MasterDutyId,
							 AL.PlannedDuration = TAL.PlannedDuration,
							 al.DutyTeamID = TAL.DutyTeamID,
							 AL.MarkActual = TAL.MarkActual,
							 al.MarkOverTwelve = tal.MarkOverTwelve,
							 al.IsNeedCovering = tal.IsNeedCovering ,
							 al.IsOverrideOver12 = tal.IsOverrideOver12,
						     al.UpdatedBy = @vuserID,
						     al.UpdatedDate = getutcdate()							 
					   FROM  Allocations AL (NOLOCK)
				      INNER JOIN @TempAllocations TAL ON AL.ID = TAL.ID					
				   
			   EXEC	@return_value = usp_UpdateWTD @FromID, @pNetLogin			   

 	  SELECT '' AS errorMessage, ISNULL(@AllocationIDNEW,1) AS spStatus

	END TRY
	
	BEGIN CATCH
	  INSERT INTO ErrorLog VALUES (ERROR_NUMBER(),ERROR_STATE(),ERROR_SEVERITY(),ERROR_LINE(),
	   'usp_ADD_MiscellaneousDutyInAllocations',ERROR_MESSAGE(),GETDATE(),@pNetLogin)
	
	  SELECT ERROR_MESSAGE() AS errorMessage, 0 spStatus
	
END CATCH
