USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_ClosedRequestByDate]    Script Date: 30/12/2025 18:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER      PROCEDURE [dbo].[usp_Get_ClosedRequestByDate]
	
	@strStartDate varchar(50),
	@strEndDate varchar(50),
	@strUser varchar(50),
	@intAdmin varchar(1)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @strQuery VARCHAR(MAX);

	SET @strQuery='SELECT GroupID, 
						  startdate, 
						  enddate, 
						  ID, 
						  type
                     FROM RequestDatesClosed (NOLOCK)
                    WHERE (startdate <= convert(datetime,'''+@strEndDate+''',101))
					  AND (enddate >= convert(datetime,'''+@strStartDate+''',101))     
                      AND (GroupID IN
									  (SELECT SW.LeaveGroupID
									  FROM UserDetails as Staff (NOLOCK)
									  INNER JOIN Staff_Web_Config_LeaveGroups_Link (NOLOCK) SW ON Staff.UD_NetLogin = SW.Login
									  WHERE (Staff.UD_NetLogin = '''+@strUser+''') AND (SW.IsActive = 1) ';

	IF(@intAdmin = '0') 
	  BEGIN
        SET @strQuery=@strQuery+' AND (SW.Admin = 0)))';
      END              
    ELSE
	  BEGIN
        SET @strQuery=@strQuery+' AND (SW.Admin >= 1)))';
      END

	 EXEC (@strQuery);

END