USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Mod_DeleteScheduledPersonHomeTeam]    Script Date: 30/03/2026 15:19:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_Mod_DeleteScheduledPersonHomeTeam]
	-- Add the parameters for the stored procedure here
	@ScheduledPersonId int,
	@HomeTeamId int,
	@DeleteFromRota int,
	@AuditUserID INT
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    BEGIN TRANSACTION

		DECLARE @err int, @rows int, @returnstring varchar(max), @Status int, 
		        @intMaxWeek VARCHAR(50), @intWeek VARCHAR(50),
			    @intYear VARCHAR(50), @HomeTeamStartDate datetime, 
				@strdisplayname varchar(200), @PreviousHomeTeamId int, 
				@RotaPatternName VARCHAR(100),
			    @rotaid int,@schedulingTeamName varchar(100),
				@NewHomeTeam INT,
				@NHTStartDate DATE,
				@NHTEndDate DATE,
				@userid INT,
				@NHTOldEndDate DATE,
				@MaxDutyDate DATE,
				@intMaxWeekAdHoc INT,
				@IsAllocationExists BIT = 0;

		DECLARE @UpdatedSPIDs TABLE (AllocationsSPID INT)

		set @RotaPatternName = '';
		set @rotaid = 0;
		
		/* Get display name from scheduled People table */
      select @strdisplayname = UD_DisplayName,
	         @userid = @ScheduledPersonId
	    from UserDetails (NOLOCK) 
	   where UD_UserID = @ScheduledPersonId;

		/* Get HomeTeam Start Date from ScheduledPersonTeam_LINK table */
		select @HomeTeamStartDate = StartDate 
		 from ScheduledPersonTeam_LINK (NOLOCK)
		where ScheduledPersonID = @ScheduledPersonId 
		  and TeamID = @HomeTeamId 
		  and IsHomeTeam = 1 
		  and IsActive = 1
		  and EndDate > convert(datetime,convert(varchar(10),getdate(),110),110);

		IF EXISTS(select 1 
		            from schedulingTeams (NOLOCK) 
				   where schedulingTeamId in (select Top 1 TeamID 
				                                from ScheduledPersonTeam_LINK (NOLOCK)
				                               where ScheduledPersonID = @ScheduledPersonId 
											     and IsHomeTeam = 1 
												 and IsActive = 0 
											   order by StartDate DESC
											  )
						and isActive = 0)
			BEGIN
			 SELECT 0 intStatus,
				   'The previous Scheduling Team has been marked as Inactive. 
				    Please check that this action is correct as it is not possible to put someone back into an Inactive Scheduling Team.' strStatus;
			 RETURN;
			END

		IF (@DeleteFromRota = 1)
		  BEGIN
			select @RotaPatternName = RotaName, @rotaid = RotaID 
			 from MasterRotas (NOLOCK) 
			where RotaId in (
				               select RotaID 
							     from RotaPeople (NOLOCK) 
								where ScheduledPersonID = @ScheduledPersonId
								  and EndDate > @HomeTeamStartDate 
								  and IsActive = 1
			                 ) 
			  and IsActive = 1

        IF (@RotaPatternName != '')
		 BEGIN
			
			UPDATE MR
			SET MR.isExported = 0 
			FROM MasterRotas MR WHERE MR.isExported != 0 AND MR.RotaID = @rotaid

			DELETE from RotaPeople 
			 where ScheduledPersonID = @ScheduledPersonId 
			   and RotaID = @rotaid 
			   and IsActive = 1;

		 END
       END

		    SELECT @intMaxWeek = MAX(AL_WeekNumber),
				   @MaxDutyDate = MAX(AD_Dutydate)
			  FROM Allocations AL
			 INNER JOIN AllocationsScheduledPersons ASP ON AL_AllocationsID = ASP_AllocationsID
			 INNER JOIN AllocationsDuties AD ON AL_AllocationsID = AD_AllocationsID
										AND ASP_AllocationsDutyID = AD_AllocationsDutyID
			WHERE AL_SchedulingTeamID = @hometeamid 
			  AND ASP_SchedulingPersonID = @ScheduledPersonID 
			  AND ASP_DutyDate >= @HomeTeamStartDate
			  AND AD_DutyType < 7
					   
				SET @intYear = SUBSTRING(@intMaxWeek, 1, 4) 
				SET @intWeek = SUBSTRING(@intMaxWeek, 5, 6)	
						
				IF ( ISNULL(@intMaxWeek,0) > 0 ) SET @IsAllocationExists = 1			

				select @intMaxWeekAdHoc = MAX(ixYearWeek)
				  FROM MasterDuties as ad (NOLOCK)  
				 INNER JOIN TimeDimension TD (NOLOCK) ON TD.dDateTime BETWEEN ad.StartDate AND ad.EndDate
				 WHERE ad.ScheduledPersonID = @ScheduledPersonID
				   AND ad.TeamID = @hometeamid
				   AND ad.StartDate >= @HomeTeamStartDate
				   AND ad.DutyTypeID = 6

              IF ( @MaxDutyDate IS NOT NULL OR @intMaxWeekAdHoc IS NOT NULL)
			   BEGIN

				 select @schedulingTeamName=schedulingTeamName 
				   from schedulingTeams 
				  where schedulingTeamId=@hometeamid

				SELECT  0 intStatus,
					   'You cannot change the Team for '+ @strdisplayname 
						+ ' while he/she still has Duties allocated in the '
						+@schedulingTeamName
						+' Team. '
						+ CASE WHEN @IsAllocationExists = 1 THEN
						   'Please open the Weeks Form and remove all the Duties that occur 
						   after and including the Effective From date you have chosen. 
						   The maximum Week that the person can be found in is - Week ' 						   
						   + @intWeek + '/' 
						   + @intYear+'. '
						   ELSE ''
						   END
						+ CASE WHEN @intMaxWeekAdHoc IS NOT NULL 
						       THEN ' Please open the Ad Hoc Duty Form and remove all the Duties that are scheduled
							          after and including the Effective From date you have chosen.
									  The maximum Week that the person can be found in is - Week '
									  +SUBSTRING(CAST(@intMaxWeekAdHoc AS varchar), 5, 6)+ '/'
									  +SUBSTRING(CAST(@intMaxWeekAdHoc as varchar), 1, 4) +'.'	
						    ELSE ''							   						     
						  END
					   AS strStatus
			
				RETURN

			   END



		/* Check for Allocations present with Additional team need to delete before deleting Current Home team*/

		Declare @ActiveAdditionalStartDateAfterDel datetime, 
		        @ActiveAdditionalIdAfterDel int, 
				@HomeTeamIdAfterDel int, 
				@HomeTeamStartDateAfterDel datetime;

		 select @HomeTeamStartDateAfterDel = StartDate, 
		        @HomeTeamIdAfterDel = TeamID 
		   from ScheduledPersonTeam_LINK (NOLOCK)
		  where ScheduledPersonID = @ScheduledPersonId 
		    and IsHomeTeam = 1
		    and EndDate in ( select max(EndDate) 
			                   from ScheduledPersonTeam_LINK (NOLOCK)
						      where ScheduledPersonID = @ScheduledPersonId 
							    and IsHomeTeam = 1 
								and IsActive = 0);

		select @ActiveAdditionalIdAfterDel = TeamID, 
		       @ActiveAdditionalStartDateAfterDel = StartDate 
		  From ScheduledPersonTeam_LINK (NOLOCK)
		 where ScheduledPersonID = @ScheduledPersonId 
		   and IsHomeTeam IN (0,2) 
		   and EndDate > CAST(getdate()  as DATE)
		   and TeamID = @HomeTeamIdAfterDel;


			SELECT @intMaxWeek = MAX(AL_WeekNumber)
			  FROM AllocationsScheduledPersons AP
			 INNER JOIN AllocationsDuties AD ON AD.AD_AllocationsDutyID = ASP_AllocationsDutyID
			 INNER JOIN Allocations AL ON AL_AllocationsID = AD_AllocationsID
			 WHERE AD.AD_DutyDate > @ActiveAdditionalStartDateAfterDel
			   AND AD_DutyType < 7
			   AND ASP_DutyTeamID = @ActiveAdditionalIdAfterDel
			   AND ASP_SchedulingPersonID = @ScheduledPersonId


					 IF ( ISNULL(@intMaxWeek,0) > 0 )
					  BEGIN

				       SET @intYear = SUBSTRING(@intMaxWeek, 1, 4) 
				       SET @intWeek = SUBSTRING(@intMaxWeek, 5, 6)	
			   
			
						 select @schedulingTeamName=schedulingTeamName 
						   from schedulingTeams 
						  where schedulingTeamId=@ActiveAdditionalIdAfterDel

						  SELECT  0 intStatus,
						   'You cannot change the Team for '+ @strdisplayname 
							+ ' while he/she still has Duties allocated in the additional team. 
							   Please open the Weeks Form and remove all the Duties that occur 
							   after and including the Effective From date you have chosen. 
							   The maximum Week that the person can be found in is - Week ' 						   
							   + @schedulingTeamName+' '
							   +SUBSTRING(cast(@intMaxWeek as varchar), 5, 6)+ '/'
							   +SUBSTRING(cast(@intMaxWeek as varchar), 1, 4)  +'. '
						   AS strStatus

			
				        RETURN
					 END


	   else
		BEGIN
		    DELETE From ScheduledPersonTeam_LINK
		     where ScheduledPersonID = @ScheduledPersonId 
			   and IsHomeTeam IN (0,2) 
			   and EndDate > @HomeTeamStartDateAfterDel 
			   and TeamID = @HomeTeamIdAfterDel
			   and scheduledType = 1;

			/* Update Status of latest Home Team to Inactive */

			DELETE FROM ScheduledPersonTeam_LINK
			 WHERE ScheduledPersonID = @ScheduledPersonId 
			   and TeamID = @HomeTeamId 
			   and IsHomeTeam = 1 
			   and IsActive = 1
			   and EndDate > CAST(getdate() AS date)

			SELECT @err = @@ERROR, @rows = @@ROWCOUNT

			 IF @err <> 0
			   BEGIN
				 ROLLBACK TRANSACTION
				 SET @returnstring = 'There was a problem deleting the Home Team record.';
				 SET @Status = 0;
				 select @Status intStatus, @returnstring strStatus;
				 RETURN;
			   END



			/* Update Status of previous Home Team to active state */

             select @NHTOldEndDate = max(EndDate) 
			   from ScheduledPersonTeam_LINK (NOLOCK)
			  where ScheduledPersonID = @ScheduledPersonId 
				and IsHomeTeam = 1 
				and IsActive = 0

			update ScheduledPersonTeam_LINK 
			   set IsActive = 1, 
				   EndDate = convert(datetime,'9999-01-01')
			 where ScheduledPersonID = @ScheduledPersonId 
			   and IsHomeTeam = 1
			   and scheduledType = 1
			   and EndDate in (select max(EndDate) 
								 from ScheduledPersonTeam_LINK (NOLOCK)
								where ScheduledPersonID = @ScheduledPersonId 
								  and IsHomeTeam = 1 
								  and IsActive = 0
								);

			select @NewHomeTeam = teamid,
				   @NHTStartDate = StartDate,
				   @NHTEndDate = EndDate
			  from ScheduledPersonTeam_LINK
			 where ScheduledPersonID = @ScheduledPersonId 
			   and IsHomeTeam = 1
			   and scheduledType = 1
			   and EndDate in (select max(EndDate) 
								 from ScheduledPersonTeam_LINK (NOLOCK)
								where ScheduledPersonID = @ScheduledPersonId 
								  and IsHomeTeam = 1 
								  and scheduledType = 1
								);
	  
			UPDATE ScheduledPersonTeam_LINK
			SET EndDate = CASE WHEN DATEADD(DAY,-1,@NHTStartDate) > DATEADD(DAY,-1,StartDate)
			                   THEN DATEADD(DAY,-1,@NHTStartDate)
							   ELSE DATEADD(DAY,-1,StartDate) END,
				LastUpdatedBy =@AuditUserID,
				LastUpdatedDate = GETUTCDATE()
			WHERE scheduledType = 0
			AND ScheduledPersonID = @ScheduledPersonId
			AND TeamID = @HomeTeamId
			AND StartDate <= @NHTEndDate
			AND ISNULL(EndDate,@NHTStartDate) >= @NHTStartDate

			UPDATE UserRoles
			SET UR_EndDate = CASE WHEN DATEADD(DAY,-1,@NHTStartDate) > DATEADD(DAY,-1,UR_StartDate)
			                   THEN DATEADD(DAY,-1,@NHTStartDate)
							   ELSE DATEADD(DAY,-1,UR_StartDate) END,
				 UR_UpdatedBy = @AuditUserID,
				 UR_UpdatedDate = GETUTCDATE()
			WHERE UR_SchedulingTeamID = @HomeTeamId
			AND UR_UserID = @userid 
			AND UR_StartDate <= @NHTEndDate
			AND UR_EndDate >= @NHTStartDate		
			
			UPDATE ScheduledPersonTeam_LINK
			SET EndDate = CASE WHEN DATEADD(DAY,-1,@NHTStartDate) > DATEADD(DAY,-1,StartDate)
			                   THEN DATEADD(DAY,-1,@NHTStartDate)
							   ELSE DATEADD(DAY,-1,StartDate) END,
				LastUpdatedBy =@AuditUserID,
				LastUpdatedDate = GETUTCDATE()
			WHERE scheduledType = 0
			AND ScheduledPersonID = @ScheduledPersonId
			AND TeamID = @NewHomeTeam
			AND StartDate <= @NHTEndDate
			AND ISNULL(EndDate,@NHTStartDate) >= @NHTStartDate

			UPDATE UserRoles
			SET UR_EndDate = CASE WHEN DATEADD(DAY,-1,@NHTStartDate) > DATEADD(DAY,-1,UR_StartDate)
			                   THEN DATEADD(DAY,-1,@NHTStartDate)
							   ELSE DATEADD(DAY,-1,UR_StartDate) END,
				 UR_UpdatedBy = @AuditUserID,
				 UR_UpdatedDate = GETUTCDATE()
			WHERE UR_SchedulingTeamID = @NewHomeTeam
			AND UR_UserID = @userid 
			AND UR_StartDate <= @NHTEndDate
			AND UR_EndDate >= @NHTStartDate
			AND UR_EndDate <> @NHTOldEndDate	
			
			UPDATE UserRoles
			 SET UR_EndDate = convert(datetime,'9999-01-01'),
				 UR_UpdatedBy = @AuditUserID,
				 UR_UpdatedDate = GETUTCDATE()
			WHERE UR_SchedulingTeamID = @NewHomeTeam
			AND UR_UserID = @userid 			
			AND UR_EndDate = @NHTOldEndDate									 						 

			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
    
			IF @err <> 0
			 BEGIN
				ROLLBACK TRANSACTION
				SET @returnstring = 'There was a problem while updating old the Home Team record.';
				SET @Status = 0;
				select @Status intStatus, @returnstring strStatus;
				RETURN;
			 END

			 IF EXISTS ( select 1 
						   from Allocations (NOLOCK) AL
						  INNER JOIN AllocationsScheduledPersons ASP ON AL_AllocationsID = ASP_AllocationsID
						  where ASP_SchedulingPersonID = @ScheduledPersonId
							and AL_SchedulingTeamID = @HomeTeamId 
							and ASP_DutyDate >=  @HomeTeamStartDate )
			   BEGIN
			
				select @PreviousHomeTeamId = TeamID
				  from ScheduledPersonTeam_LINK (NOLOCK)
				 where ScheduledPersonID = @ScheduledPersonId 
				   and IsHomeTeam = 1 
				   and IsActive = 1;

				--DELETE EXISTING Allocation first
				/*DELETE FROM Allocations  
				 where SchedulingPersonID = @ScheduledPersonId 
				   and SchedulingTeamId=@PreviousHomeTeamId 
				   and DutyDate >= convert(datetime, @HomeTeamStartDate, 102); */

				/* Update Leaves on new home team after deletion of latest home team */


				 UPDATE ASP
				    SET ASP.ASP_AllocationsID = ALN.AL_AllocationsID,
						ASP_UpdatedBy = @AuditUserID,
						ASP_UpdatedDate = GETUTCDATE()						
				 OUTPUT INSERTED.ASP_AllocationsSPID INTO @UpdatedSPIDs
				   FROM Allocations AL
				  INNER JOIN AllocationsScheduledPersons ASP on AL.AL_AllocationsID = ASP_AllocationsID
				  INNER JOIN Allocations ALN on ALN.AL_WeekNumber = AL.AL_WeekNumber
				  WHERE AL.AL_SchedulingTeamID = @PreviousHomeTeamId
				    AND ALN.AL_SchedulingTeamID = @HomeTeamId
					AND ASP.ASP_SchedulingPersonID = @ScheduledPersonID
					AND ASP.ASP_DutyDate >= @HomeTeamStartDate

			   UPDATE ASP
			      SET ASP.ASP_AllocationsDutyID = AD.AD_AllocationsDutyID
				 FROM Allocations AL
				 INNER JOIN AllocationsScheduledPersons ASP ON AL_AllocationsID = ASP_AllocationsID
				 INNER JOIN @UpdatedSPIDs TP on TP.AllocationsSPID = ASP_AllocationsSPID
				 INNER JOIN AllocationsDuties AD on AL_AllocationsID = AD_AllocationsID
												AND ASP_iDay =AD_iDay
				 INNER JOIN AllocationsDuties ADO on ASP_AllocationsDutyID = ADO.AD_AllocationsDutyID
												AND ADO.AD_DutyType = AD.AD_DutyType

				INSERT INTO AllocationsUpdated
				 (
					AU_AllocationsID,
					AU_AllocationsDutyID,
					AU_AllocationsSPID,
					AU_Status,
					AU_UpdatedBy,
					AU_UpdatedDate
				 )
				 SELECT ASP_AllocationsID,
						ASP_AllocationsDutyID,
						ASP_AllocationsSPID,
						0,
						@AuditUserID,
						GETUTCDATE()
				  FROM AllocationsScheduledPersons ASP
				 INNER JOIN @UpdatedSPIDs TP on TP.AllocationsSPID = ASP_AllocationsSPID

			  END
       
		   END

		COMMIT TRANSACTION

		/* On success pass latest home team data */

		select distinct sp.UD_UserID ScheduledPersonID, 
		       sp.UD_DisplayName DisplayName, 
			   sp.UD_UserID  UserID, 
			   UD_TeampayStaffID  StaffDetailsID,
			   UD_InternalEmail  InternalEmail, 
			   UD_AdminNotes  AdminNotes, 
			   UD_FWANotes as FWANotes,
			   sptl.ScheduledPersonID, 
			   sptl.TeamID, 
			   team.schedulingTeamName as TeamName, 
			   sptl.IsHomeTeam, 
			   sptl.SortCode, 
			   sptl.CreatedBy, 
			   convert(varchar(30),sptl.CreatedDate,105) as CreatedDate,			
			   convert(varchar(30), sptl.StartDate,105) as StartDate, 
			   convert(varchar(30),sptl.EndDate,105) as EndDate, sptl.LastUpdatedBy,			
			   convert(datetime,sptl.LastUpdatedDate, 103) as LastUpdatedDate, 
			   sptl.BackgroundColour, 
			   sptl.fontcolour, 
			   sptl.IsActive,
			   sptl.isDefault,
			   sptl.IsAvailable,
			   UD_DisplayFirstName  Forename,
			   UD_DisplayFirstName  PreferredForename,
			   UD_NetLogin NetLogin,
			   UD_DisplayLastName Surname,
			   scp.UC_JobTitle as JobTitle,
			   '' as Title,
			   UD_StaffNumber StaffNumber,
			   0 AveDayLen,
			   0 ShiftBreak,
			   sp.UD_DisplayFirstName as  DisplayFirstName,
			   sp.UD_DisplayLastName as  DisplayLastName,
			   sptl.SPTeamID
		  from UserDetails (NOLOCK) as sp
		 RIGHT JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl on sp.UD_UserID = sptl.ScheduledPersonID
		  LEFT JOIN schedulingTeams as team (NOLOCK) on team.schedulingTeamId = sptl.TeamID
		  LEFT JOIN UserConfigs scp (NOLOCK) on scp.UC_UserID = sp.UD_UserID
				and CAST(GETDATE() AS Date) BETWEEN scp.UC_StartDate AND ISNULL(scp.UC_EndDate, CAST(GETDATE() AS Date)) 
		 where sp.UD_UserID = @ScheduledPersonId
		   and sptl.EndDate >= cast(getdate() as date)
		   and sptl.isActive = 1 
		   and sptl.scheduledType = 1 
		  order by IsHomeTeam DESC

		return;
END