USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Sickness_Occurences_Report_Area]    Script Date: 30/03/2026 15:27:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER           PROCEDURE [dbo].[usp_Sickness_Occurences_Report_Area]
	@AreaID INT,
	@sDate  DATE,
	@eDate  DATE
AS
BEGIN
	
	SET NOCOUNT ON;

	SET DATEFORMAT YMD;

	DECLARE @TempSickData TABLE ( schedulingpersonid INT,
								  dutydate           DATE,
								  Duration           INT,
								  IsOcc              INT,
								  IsExcludeDuty      BIT)	

	DECLARE @TempSickDataOccurance TABLE ( schedulingpersonid INT,
										   MaxConsecDays INT,
										   ThreeOccIn12 INT,
										   FiveOccIn52 INT,
										   TwentyEightConsecDaysIn52 INT)	

   DECLARE @vSchedulingPersonID INT, 
           @vIsOcc INT,
		   @vPrevSchedulingPersonID INT = 0,
		   @vPrevIsOcc INT,
		   @OccCntr INT = 0,
		   @MaxOcc INT = 0;

  INSERT INTO @TempSickData
        ( schedulingpersonid,
		  dutydate,
		  Duration,
		  IsExcludeDuty
	    )
  SELECT ASP.ASP_SchedulingPersonID AS SchedulingPersonID, 
         AD.AD_DutyDate AS DutyDate,
		 CASE WHEN AD_DutyType IN (8,11)
			  THEN ASP_LeaveDuration
			  ELSE ISNULL(AD.AD_Duration,0) 
			  END AS Duration,
		 CASE WHEN SL.IsHomeTeam IN (0,2) 
			AND ST.schedulingTeamName IN ('Freelancers','Other BBC','Archive','TO Archive','Apprentices','TO Apprentices') 
			AND ( ISNULL(ASP.ASP_DutyTeamID,0) = 0 OR ASP.ASP_DutyTeamID = al.AL_SchedulingTeamID )
			THEN 0
			WHEN SL.IsHomeTeam IN (0,2) AND st.schedulingTeamName NOT IN ('Freelancers','Other BBC','Archive','TO Archive','Apprentices','TO Apprentices') then 1
			WHEN SL.IsHomeTeam = 1 then 0 end as IsExcludeDuty 
	from Allocations AL WITH (NOLOCK)
   INNER JOIN  AllocationsScheduledPersons ASP WITH (NOLOCK) ON AL.AL_AllocationsID=ASP.ASP_AllocationsID
   INNER JOIN  AllocationsDuties AD WITH (NOLOCK) ON  AD.AD_AllocationsDutyID=ASP.ASP_AllocationsDutyID
   INNER JOIN TimeDimension TD WITH (NOLOCK) ON TD.ixYearWeek = AL.AL_WeekNumber AND TD.ixDayInWeek = AD.AD_iDay
   INNER JOIN ScheduledPersonTeam_LINK SL WITH (NOLOCK) on SL.ScheduledPersonID = ASP.ASP_SchedulingPersonID
   INNER JOIN schedulingTeams ST WITH (NOLOCK) ON ST.schedulingTeamId = SL.TeamId
   INNER JOIN Divisions DV WITH (NOLOCK)  ON DV.DivisionID = ST.divisionId
   WHERE TD.dDateTime BETWEEN @sDate AND @eDate
	 AND DV.DivisionID = @AreaID
	    AND ASP_LeaveType IN (3,4,5) 
	-- AND AD.AD_DutyName IN ('Sick','U-Sick','-Sick') 
	 AND SL.scheduledType = 1
	 AND SL.IsHomeTeam = 1
	 AND TD.dDateTime BETWEEN SL.StartDate AND SL.EndDate

	      UPDATE TD
		     SET TD.IsOcc = TS.IsOcc
			FROM @TempSickData TD
	       INNER JOIN (
						SELECT TS.SchedulingPersonID,
							   TS.DutyDate,
								CASE WHEN DATEDIFF(DAY,TD.DutyDate,TS.DutyDate) IS NULL 
									THEN 0 ELSE 1 END AS IsOcc
						FROM @TempSickData TS
						LEFT JOIN @TempSickData TD ON DATEADD(DAY,1,TD.DutyDate) = TS.DutyDate
							  AND TS.SchedulingPersonID = TD.SchedulingPersonID
							  AND TD.IsExcludeDuty = 0
						WHERE TS.IsExcludeDuty = 0
				       ) TS ON TS.schedulingpersonid = TD.schedulingpersonid 
					       AND TS.dutydate = TD.dutydate
			WHERE TD.IsExcludeDuty = 0

            INSERT INTO @TempSickDataOccurance( schedulingpersonid ,
										   MaxConsecDays ,
										   ThreeOccIn12 ,
										   FiveOccIn52 ,
										   TwentyEightConsecDaysIn52)			
			SELECT schedulingpersonid,
			       0,
				   1,
				   0,
				   0
			  FROM (
				  SELECT ST.SchedulingPersonID,						
						 (SELECT count(1) 
							FROM @TempSickData ET
						   WHERE ET.SchedulingPersonID = ST.SchedulingPersonID
							 AND et.DutyDate BETWEEN st.DutyDate AND DATEADD(WEEK,12,st.DutyDate )
							 AND ET.IsOcc = 0
							 AND IsExcludeDuty = 0
						  ) OccCount
					FROM @TempSickData ST
				   WHERE ST.IsExcludeDuty = 0
				  ) FD WHERE OccCount > 2	  

            INSERT INTO @TempSickDataOccurance( schedulingpersonid ,
										   MaxConsecDays ,
										   ThreeOccIn12 ,
										   FiveOccIn52 ,
										   TwentyEightConsecDaysIn52)			
			SELECT schedulingpersonid,
			       0,
				   0,
				   1,
				   0
			  FROM (
				  SELECT ST.SchedulingPersonID,						
						 (SELECT count(1) 
							FROM @TempSickData ET
						   WHERE ET.SchedulingPersonID = ST.SchedulingPersonID
							 AND et.DutyDate BETWEEN st.DutyDate AND DATEADD(YEAR,1,st.DutyDate )
							 AND ET.IsOcc = 0
							 AND IsExcludeDuty = 0
						  ) OccCount
					FROM @TempSickData ST
				   where ST.IsExcludeDuty = 0
				  ) FD where OccCount > 4	


              BEGIN

				DECLARE CUR_Occ CURSOR FOR
				SELECT SchedulingPersonID,
					    IsOcc
				FROM @TempSickData 
			   where IsExcludeDuty = 0
				ORDER BY SchedulingPersonID, DutyDate

				OPEN CUR_Occ

				FETCH NEXT FROM CUR_Occ INTO @vSchedulingPersonID, @vIsOcc

				WHILE @@FETCH_STATUS = 0
				 BEGIN

				   IF  (      @vPrevSchedulingPersonID <> 0 
				          AND @vPrevSchedulingPersonID <> @vSchedulingPersonID 
						)
				    BEGIN
				        INSERT INTO @TempSickDataOccurance( schedulingpersonid ,
								MaxConsecDays ,
								ThreeOccIn12 ,
								FiveOccIn52 ,
								TwentyEightConsecDaysIn52)	
						VALUES (@vPrevSchedulingPersonID,
								@MaxOcc,
								0,
								0,
								CASE WHEN @MaxOcc > 27 THEN 1 ELSE 0 END
								)
                        
						SET @OccCntr = 0
						SET @MaxOcc = 0

				    END

				    IF ( @vPrevSchedulingPersonID = @vSchedulingPersonID )
					 BEGIN
					   IF ( @vPrevIsOcc = 0 AND @vIsOcc = 1)
					     BEGIN  SET @OccCntr = 1  END
					   IF ( @vPrevIsOcc = 1 AND @vIsOcc = 1)
					     BEGIN  SET @OccCntr = @OccCntr + 1  END
					   IF ( @vPrevIsOcc = 1 AND @vIsOcc = 0)
					     BEGIN  
						   IF ( @MaxOcc < @OccCntr)
						    BEGIN
							  SET @MaxOcc = @OccCntr
							END
						   SET @OccCntr = 0  						 
						 END
					   IF ( @vPrevIsOcc = 0 AND @vIsOcc = 0)
					     BEGIN  SET @OccCntr = 0  END
					 END
				    
					SET @vPrevSchedulingPersonID = @vSchedulingPersonID
					SET @vPrevIsOcc = @vIsOcc

					FETCH NEXT FROM CUR_Occ INTO @vSchedulingPersonID, @vIsOcc

				 END

				CLOSE CUR_Occ;

				DEALLOCATE CUR_Occ;

				        INSERT INTO @TempSickDataOccurance( schedulingpersonid ,
								MaxConsecDays ,
								ThreeOccIn12 ,
								FiveOccIn52 ,
								TwentyEightConsecDaysIn52)	
						VALUES (@vPrevSchedulingPersonID,
								@MaxOcc,
								0,
								0,
								CASE WHEN @MaxOcc > 27 THEN 1 ELSE 0 END
								)

			END

  SELECT AL.SchedulingPersonID,
         SP.UD_DisplayName AS DisplayName,
		 COUNT(1)                        AS DaysUnavailable,
		 MAX(OC.Occurrences )            AS Occurrences,
		 CAST(CAST(COUNT(1) AS DECIMAL)/7 AS decimal(18, 2)) AS WeeksSick,
		 SUM(CAST( (CAST(Duration AS DECIMAL)/CAST(3600 AS DECIMAL)) AS decimal(18, 2))) AS TotalHoursSick,
		 Max(DutyDate)                   AS MaxDutyDate,
		 COUNT(1)                        AS TotalDaysSick,
		 SUM(Duration)                   AS TotalSicknessHours,
		 MAX(MaxConsecDays) MaxConsecDays ,
		 MAX(ThreeOccIn12) ThreeOccIn12,
		 MAX(FiveOccIn52) FiveOccIn52,
		 MAX(TwentyEightConsecDaysIn52) TwentyEightConsecDaysIn52 
	FROM @TempSickData AL
   INNER JOIN UserDetails SP ON SP.UD_UserID = AL.SchedulingPersonID
	LEFT JOIN ( SELECT SchedulingPersonID,
					   COUNT(1) as Occurrences
			      FROM @TempSickData
			     WHERE IsOcc = 0
			     GROUP BY SchedulingPersonID 
                ) OC ON OC.SchedulingPersonID = AL.SchedulingPersonID
	LEFT JOIN (
	            SELECT schedulingpersonid,
				       MAX(MaxConsecDays) MaxConsecDays,
					   MAX(ThreeOccIn12) ThreeOccIn12,
					   MAX(FiveOccIn52) FiveOccIn52,
					   MAX(TwentyEightConsecDaysIn52) TwentyEightConsecDaysIn52 
				  FROM @TempSickDataOccurance
				 GROUP BY schedulingpersonid
			   ) OCData ON OCData.schedulingpersonid = AL.schedulingpersonid
	where AL.IsExcludeDuty = 0
	GROUP BY AL.SchedulingPersonID,
	         SP.UD_DisplayName 

 return;

END