USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterDutyDateDetails]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_MasterDutyDateDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GET_MasterDutyDateDetails]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterDutyDateDetails]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Michael Hoskin
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_MasterDutyDateDetails] 
	-- Add the parameters for the stored procedure here
	@dutydateid INT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @dutydateid IS NULL
		SET @dutydateid = 0

    -- Insert statements for procedure here
	SELECT T1.MasterDutyDateID, 
			T1.DutyID, 
			ISNULL(T1.TeamID, 0) as TeamID, 
			ISNULL(T1.BaseCode, 0) as BaseCode, 
			ISNULL(T1.Duration, 0) as Duration, 
			ISNULL(T1.WindowDuration, 0) as WindowDuration, 
			ActualDuration = CASE WHEN T1.DutyTypeID = 3 THEN ISNULL(T1.WindowDuration, 0)
								  ELSE ISNULL(T1.Duration, 0)
							 END,
			CONVERT(VARCHAR(10), T1.StartDate, 103) AS StartDate,
			CONVERT(VARCHAR(10), T1.EndDate, 103) AS EndDate,
			ISNULL(T1.StartTime, 0) AS StartTime, 
			ISNULL(T1.EndTime, 0) AS EndTime,  
			ActualEndTime = CASE WHEN T1.EndTime IS NULL THEN 0
								 WHEN T1.EndTime < ISNULL(T1.StartTime, 0) THEN T1.EndTime + 86400
								 ELSE ISNULL(T1.EndTime, 0)
							END,
			T1.BackColour, 
			T1.ForeColour,
			T1.DutyColourID,
			T2.ColourBackground,
			T2.ColourFont, 
			ISNULL(T1.AutoShrink, 0) as AutoShrink, 
			ISNULL(T1.Saturday, 0) as Saturday, 
			ISNULL(T1.Sunday, 0) as Sunday, 
			ISNULL(T1.Monday, 0) as Monday, 
			ISNULL(T1.Tuesday, 0) as Tuesday, 
			ISNULL(T1.Wednesday, 0) as Wednesday, 
			ISNULL(T1.Thursday, 0) as Thursday, 
			ISNULL(T1.Friday, 0) as Friday,
			T1.dotw,
			CONVERT(VARCHAR(30),T1.LastModDate,121) as LastModDate
	FROM MasterDutyDates T1 LEFT OUTER JOIN REF_MasterDutyColours T2 ON T1.DutyColourID = T2.ColourID
    WHERE T1.MasterDutyDateID = @dutydateid
    
END


GO
