USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllocationsDetailsByAllocationId]    Script Date: 22/04/2022 15:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_AllocationsDetailsByAllocationId]
@allocationId INT,
@isEdited INT NULL

AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


		SELECT a.ID as AllocationID,
		       a.MasterDutyId,
			   a.DutyName, 
			   a.WeekNumber, 
			   a.iDay, 
			   a.StartTime, 
			   a.EndTime, 
		       a.SchedulingTeamId, 
			   a.SchedulingPersonID, 
			   a.isEdited, 
			   a.PersonComments, 
			   sd.StaffNumber,
			   CASE WHEN ISNULL(sp.DisplayName,'') != '' THEN sp.DisplayName
				    WHEN (ISNULL(sp.DisplayName,'') = '' and ISNULL(sd.PreferredForename,'') != '') THEN sd.PreferredForename + N'  ' + sd.Surname
				ELSE sd.Forename + N'  ' + sd.Surname END AS FullName,
		        sp.DisplayFirstName,
		        sp.DisplayLastName,
				ec.EstablishCode,
				ec.EstablishCodeDescription,
				ec.EstablishCodeId,
				a.DutyDate StartDate,
				a.Duration,
				sp.ScheduledPersonID,
				sp.StaffDetailsID
		   FROM Allocations a
		  INNER JOIN ScheduledPeople sp ON sp.ScheduledPersonID = a.SchedulingPersonID
		  INNER JOIN schedulingTeams st on st.schedulingTeamId = a.SchedulingTeamId 
		   LEFT JOIN EstablishCode ec on ec.EstablishCodeId = st.establishCodeID
		   LEFT JOIN StaffDetails sd ON sd.StaffID = sp.StaffDetailsID
		  WHERE a.ID = @allocationId

END
GO
