USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_getAllocationsDetailsByStaffNumber]    Script Date: 19/04/2022 21:16:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_GET_getAllocationsDetailsByStaffNumber]
@roleIDPermission int,
@allocationId     INT

AS
BEGIN
	SET NOCOUNT ON;

		IF ( @roleIDPermission = 1 )
		BEGIN	
			SELECT  a.DutyName, a.WeekNumber, a.iDay, a.Duration, a.dutyBreakTime, a.MannualOThours
			FROM  Allocations a
			INNER JOIN ScheduledPeople sp
			ON sp.ScheduledPersonID = a.SchedulingPersonID
			LEFT JOIN StaffDetails sd ON sp.StaffDetailsID = sd.StaffID
			WHERE a.ID = @allocationId
		END
	ELSE
		BEGIN	
			SELECT a.DutyName, a.WeekNumber, a.iDay, a.Duration, a.dutyBreakTime, a.MannualOThours
			FROM  Allocations_Publish a
			INNER JOIN ScheduledPeople sp
			ON sp.ScheduledPersonID = a.SchedulingPersonID
			LEFT JOIN StaffDetails sd ON sp.StaffDetailsID = sd.StaffID
			WHERE a.ID = @allocationId 
		END
	
END
GO
