USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_DEL_DutyShiftcountingFilter]    Script Date: 06/09/2023 13:56:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_DEL_DutyShiftcountingFilter]
@userId INT,
@teamId INT,
@filterId INT,
@staRole INT,
@returnStatus INT OUTPUT

AS
BEGIN
	SET NOCOUNT ON;
	IF(@filterId > 0)
		BEGIN
			SET @returnStatus = 1;
			DELETE FROM DutyShiftcountingFilters WHERE ID=@filterId
			UPDATE User_Web_Config SET ShiftCountingFilter=NULL WHERE ShiftCountingFilter=@filterId
			SELECT @returnStatus delStatus;
		END
	ELSE
		BEGIN
			SET @returnStatus = 0;
			SELECT @returnStatus delStatus;
		END
END
