USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_MasterJobs]    Script Date: 09/12/2021 16:54:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_AllocateUsers]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_del_MasterJobs]
@areaid		INT,
@masterjobid		INT,
@currentuser		NVARCHAR(100)
--@errormessage		NVARCHAR(MAX) OUTPUT
AS

BEGIN
BEGIN TRY
		-- Soft delete from Master Job table and other related link tables.

		UPDATE MasterJobs
				SET	IsActive = 0
				WHERE MasterJobID = @masterjobid and IsActive = 1


		UPDATE LINK_MasterJobs_Programmes
				SET	IsActive = 0
				WHERE MasterJobID=@masterjobid

		UPDATE REF_MasterJobColours
				SET	IsActive = 0
				WHERE MasterJobID=@masterjobid

		Delete  from MasterDutiesMasterJobs_LINK
		        where MasterJobID = @masterjobid

END TRY
BEGIN CATCH
			--SET @errormessage=ERROR_MESSAGE()

			INSERT INTO ErrorLog
				VALUES
			  (
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   ''usp_del_MasterJobs'',
			   ERROR_MESSAGE(),
			   GETDATE(),
			   @currentuser
			  )
END CATCH

END
'

EXEC dbo.sp_executesql @strSQL

GO
