USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_usersByNetlogin]    Script Date: 25/07/2025 13:41:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE  [dbo].[usp_get_usersByNetlogin]  
	-- Add the parameters for the stored procedure here
	 @netlogin VARCHAR(500)
	 
	
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF (@netlogin != '')
        BEGIN
            Select * from UserDetails Where UD_NetLogin LIKE +'%'+  @netlogin + '%'
        END
    ELSE
        BEGIN
            SELECT * FROM UserDetails
        END
END

