USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ShiftLeaderByDayWeek]    Script Date: 18/09/2025 14:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_GET_ShiftLeaderByDayWeek]
@weeknumber INT,
@dday INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
			BEGIN
				SELECT  shiftleaders.id, shiftleaders.starttime, shiftleaders.endtime, shiftleaders.staffnumber,
				shiftleaders.leadertype, shiftleaders.telephone, shiftleaders.aftermidnight,
				sp.UD_DisplayName AS FullName
				FROM  shiftleaders (NOLOCK)
				LEFT JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID = shiftleaders.ScheduledPersonID
				WHERE (shiftleaders.weeknumber = @weeknumber ) AND (shiftleaders.dday = @dday) AND shiftleaders.deleted = 0
				order by shiftleaders.leadertype, shiftleaders.starttime
			END
END