USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[mod_get_MasterJobByMasterDutyID]    Script Date: 21/07/2022 18:57:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[mod_get_MasterJobByMasterDutyID]
    -- Add the parameters for the stored procedure here
    @MasterDutyId int
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    -- Select statements for procedure here
SELECT DutyName, MasterDutyID, MasterJobID, JobName, StartTime, EndTime,
       ColourBackground,ColourFont,DutyStartTime,DutyEndTime,OrderKey from (
                                                                               SELECT  T4.DutyName, T1.MasterDutyID, T1.MasterJobID, T2.JobName,
                                                                                       T2.StartTime as StartTime,
                                                                                       T2.EndTime as EndTime,
                                                                                       T3.ColourBackground,T3.ColourFont,T4.StartTime as DutyStartTime,T4.EndTime as DutyEndTime,1 OrderKey
                                                                               FROM MasterDutiesMasterJobs_LINK T1 (NOLOCK)
                                                                                        INNER JOIN MasterJobs T2 (NOLOCK) ON T1.MasterJobID = T2.MasterJobID
                                                                                        LEFT JOIN REF_MasterJobColours T3 (NOLOCK) ON T1.MasterJobID = T3.MasterJobID
                                                                                        LEFT JOIN MasterDuties T4 (NOLOCK) on T4.MasterDutyID = T1.MasterDutyID
                                                                               WHERE T1.MasterDutyID = @MasterDutyId and T2.StartTime >= T4.StartTime
                                                                               Union
                                                                               SELECT  T4.DutyName, T1.MasterDutyID, T1.MasterJobID, T2.JobName,
                                                                                       T2.StartTime +86400 as StartTime,
                                                                                       T2.EndTime +86400 as  EndTime,
                                                                                       T3.ColourBackground,T3.ColourFont,T4.StartTime as DutyStartTime,T4.EndTime as DutyEndTime,2 OrderKey
                                                                               FROM MasterDutiesMasterJobs_LINK T1 (NOLOCK)
                                                                                        INNER JOIN MasterJobs T2 (NOLOCK) ON T1.MasterJobID = T2.MasterJobID
                                                                                        LEFT JOIN REF_MasterJobColours T3 (NOLOCK) ON T1.MasterJobID = T3.MasterJobID
                                                                                        LEFT JOIN MasterDuties T4 (NOLOCK) on T4.MasterDutyID = T1.MasterDutyID
                                                                               WHERE T4.MasterDutyID = @MasterDutyId and T2.StartTime < T4.StartTime
                                                                           ) a order by StartTime
END
