USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_TimeDimension]    Script Date: 3/12/2026 10:28:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_TimeDimension]

AS
-- =============================================
-- Author:      HCL
-- Create date: 23/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[TimeDimension];
		
		
		--Update existing records
		UPDATE T1
		SET T1.[ixDateKey] = T2.[ixDateKey]
			  ,T1.[dDateTime] = T2.[dDateTime]
			  ,T1.[ixDayInWeek] = T2.[ixDayInWeek]
			  ,T1.[ixDayInMonth] = T2.[ixDayInMonth]
			  ,T1.[ixDayInYear] = T2.[ixDayInYear]
			  ,T1.[ixWeekInYear] = T2.[ixWeekInYear]
			  ,T1.[ixMonthInYear] = T2.[ixMonthInYear]
			  ,T1.[ixQuarterInYear] = T2.[ixQuarterInYear]
			  ,T1.[ixYear] = T2.[ixYear]
			  ,T1.[ixYearWeek] = T2.[ixYearWeek]
			  ,T1.[ixLeaveYear] = T2.[ixLeaveYear]
			  ,T1.[ixWeekFromStart] = T2.[ixWeekFromStart]
			  ,T1.[sDayName] = T2.[sDayName]
			  ,T1.[sMonthName] = T2.[sMonthName]
			  ,T1.[fPayRollDay] = T2.[fPayRollDay]
			  ,T1.[fWeekdayFlag] = T2.[fWeekdayFlag]
			  ,T1.[fHolidayFlag] = T2.[fHolidayFlag]
			  ,T1.[fHolidayPayment] = T2.[fHolidayPayment]
			  ,T1.[sEvent] = T2.[sEvent]
			  ,T1.[History] = T2.[History]
		FROM TimeDimension T1 INNER JOIN [AllocateLink].[dbo].[TP_A7_REF_TimeDimension] T2 ON T1.ixDateKey = T2.ixDateKey
		WHERE T1.ixDateKey = T2.ixDateKey
		
		--Insert new records
		INSERT INTO [TimeDimension] (
			   [ixDateKey]
			  ,[dDateTime]
			  ,[ixDayInWeek]
			  ,[ixDayInMonth]
			  ,[ixDayInYear]
			  ,[ixWeekInYear]
			  ,[ixMonthInYear]
			  ,[ixQuarterInYear]
			  ,[ixYear]
			  ,[ixYearWeek]
			  ,[ixLeaveYear]
			  ,[ixWeekFromStart]
			  ,[sDayName]
			  ,[sMonthName]
			  ,[fPayRollDay]
			  ,[fWeekdayFlag]
			  ,[fHolidayFlag]
			  ,[fHolidayPayment]
			  ,[sEvent]
			  ,[History]
			  ,[AllocateInstanceID]
			)  
		SELECT [ixDateKey]
			  ,[dDateTime]
			  ,[ixDayInWeek]
			  ,[ixDayInMonth]
			  ,[ixDayInYear]
			  ,[ixWeekInYear]
			  ,[ixMonthInYear]
			  ,[ixQuarterInYear]
			  ,[ixYear]
			  ,[ixYearWeek]
			  ,[ixLeaveYear]
			  ,[ixWeekFromStart]
			  ,[sDayName]
			  ,[sMonthName]
			  ,[fPayRollDay]
			  ,[fWeekdayFlag]
			  ,[fHolidayFlag]
			  ,[fHolidayPayment]
			  ,[sEvent]
			  ,[History]
			  ,0 AllocateInstanceID
		  FROM [AllocateLink].[dbo].[TP_A7_REF_TimeDimension] T2 
		  WHERE NOT EXISTS (SELECT T1.ixDateKey FROM [TimeDimension] T1 WHERE T1.ixDateKey = T2.ixDateKey)

        
END
