USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSkillDutyProgramLinkById]    Script Date: 15/07/2021 13:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Delete Skill duties Program Link By ID.
-- =============================================
CREATE PROCEDURE [dbo].[usp_DeleteSkillDutyProgramLinkById]
@id INT

AS
BEGIN
	SET NOCOUNT ON;
    DELETE FROM  skills_duties_programmes_link
            WHERE  (duties_id = @id)

END
GO
