USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllPeoplebyTeamIdRota]    Script Date: 08/09/2025 18:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_AllPeoplebyTeamIdRota]
  -- Add the parameters for the stored procedure here
  @TeamId    int,
  @StaffFlag int = 0
AS
  BEGIN
      -- SET NOCOUNT ON added to prevent extra result sets from
      -- interfering with SELECT statements.
      SET NOCOUNT ON;

      -- Insert statements for procedure here
      if ( @StaffFlag = 0 )
        BEGIN
            select distinct sp.UD_UserID ScheduledPersonID,
                            sp.UD_DisplayName as Fullname,
                            1              as EFT,
                            spt.TeamID
            from   UserDetails as sp
            inner join [dbo].[ScheduledPersonTeam_LINK] as spt on sp.UD_UserID = spt.ScheduledPersonID
                        and spt.IsHomeTeam = 1
            where  spt.TeamID = @teamid
            and CAST(Getdate() as date) BETWEEN  StartDate and Enddate
            and spt.scheduledType = 1
            order  by Fullname ASC
        END
      else if ( @StaffFlag = 2 )
        BEGIN
            select distinct sp.UD_UserID ScheduledPersonID,
                            sp.UD_DisplayName as Fullname,
                            1              as EFT,
                            spt.TeamID
            from   UserDetails as sp
            inner join ScheduledPersonTeam_LINK as spt  on sp.UD_UserID = spt.ScheduledPersonID
                        and spt.IsHomeTeam = 1
            where  spt.TeamID = @teamid
            and StartDate >= CAST(Getdate() as date) 
			and Enddate >= CAST(Getdate() as date) 
            and spt.scheduledType = 1
            order  by Fullname ASC
        END
      ELSE
        BEGIN
            select distinct sp.UD_UserID ScheduledPersonID,
                            sp.UD_DisplayName as Fullname,
                            1              as EFT,
                            spt.TeamID
            from   UserDetails as sp
            inner join ScheduledPersonTeam_LINK as spt  on sp.UD_UserID = spt.ScheduledPersonID
                        and spt.IsHomeTeam = 1
            where  spt.TeamID = @teamid
            and sp.UD_UserID not in (select ScheduledPersonID
                                       from RotaPeople
                                      where IsActive = 1)
            and CAST(Getdate() as date) BETWEEN  StartDate and Enddate
            and spt.scheduledType = 1
            order  by Fullname ASC
        END
  END 