USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotaDetails]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_RotaDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_RotaDetails]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotaDetails]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_get_RotaDetails]
@Type		INT,
@AreaID		INT,
@RotaID		INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

IF @RotaID = 0
	SET @RotaID = NULL

IF @Type = 0
	BEGIN
		SELECT T1.RotaID, 
			   T1.AreaID, 
			   T1.TeamID, 
			   T1.RotaName as RealRotaName, 
			   RotaName = CASE WHEN T1.IsActive = 1 THEN T1.RotaName
							   ELSE '[D] ' + T1.RotaName
						   END, 
			   T1.RotaNotes, 
			   T1.WeeksInRota, 
			   T1.RotaStartWeek, 
			   CONVERT(VARCHAR(10),T1.RotaStartDate,103) as RotaStartDate,
			   T1.IsActive,
			   IsDelete = CASE WHEN T1.IsActive = 1 THEN 'Delete' 
							   ELSE 'UnDelete'
						  END,
			   ConfirmText = CASE WHEN (T1.IsActive = 1) THEN 'Are you sure you want to Delete this Rota ?' 
								  WHEN (T1.IsActive = 0) THEN 'Are you sure you want to UnDelete this Rota ?' 
								  ELSE '' 
						     END,
			   CONVERT(VARCHAR(30),T1.LastModDate,121) as LastModDate
		  FROM [MasterRotas] T1
		 WHERE T1.RotaID = COALESCE(@RotaID, T1.RotaID)
		   AND T1.AreaID = @AreaID
		 ORDER BY T1.IsActive DESC, T1.RotaName ASC
	END
ELSE
	BEGIN
		SELECT T1.RotaID, 
			   T1.AreaID, 
			   T1.TeamID, 
			   T1.RotaName as RealRotaName, 
			   T1.RotaName,
			   T1.RotaNotes, 
			   T1.WeeksInRota, 
			   T1.RotaStartWeek,
			   CONVERT(VARCHAR(10),T1.RotaStartDate,103) as RotaStartDate,
			   T1.IsActive,
			   IsDelete = CASE WHEN T1.IsActive = 1 THEN 'Delete' 
							   ELSE 'UnDelete'
						  END,
			   ConfirmText = CASE WHEN (T1.IsActive = 1) THEN 'Are you sure you want to Delete this Rota ?' 
								  WHEN (T1.IsActive = 0) THEN 'Are you sure you want to UnDelete this Rota ?' 
								  ELSE '' 
						     END,
			   CONVERT(VARCHAR(30),T1.LastModDate,121) as LastModDate
		  FROM [MasterRotas] T1
		 WHERE T1.RotaID = COALESCE(@RotaID, T1.RotaID)
		   AND T1.AreaID = @AreaID
		   AND T1.IsActive = 1
		 ORDER BY T1.IsActive DESC, T1.RotaName ASC
	END
 
END


GO
