USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterColorRecords]    Script Date: 24/11/2025 21:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_GET_MasterColorRecords]
@colorid INT,
@userid INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @formid int
	Select  @formid= FormID  from REF_Forms (NOLOCK) where FormName like '%Master%Duty%Colours%'
	
	SET NOCOUNT ON;
		IF @colorid = 0
		set @colorid = NULL;

		if @colorid is not null
			BEGIN
				 Select mdc.DivisionID,dv.DivisionName,mdc.MasterDutyColourID,mdc.ColourName,
				        mdc.ColourNotes,mdc.ColourBackground,mdc.ColourFont,
						mdc.IsDefaultColour,mdc.IsActive 
				 FROM REF_MasterDutyColours mdc (NOLOCK)
				 JOIN Divisions dv (NOLOCK) ON dv.DivisionID = mdc.DivisionID
				 WHERE mdc.MasterDutyColourID = @colorid 
			END
		ELSE
			BEGIN
				IF EXISTS ( select 1 
				              from UserDetails (NOLOCK) 
							  JOIN UserRoles on UR_UserID = UD_UserID   
							  where UD_UserID = @userID 
							    and UR_RoleID = 1 
							)
				BEGIN

						Select mdc.DivisionID,dv.DivisionName,mdc.MasterDutyColourID,
						       mdc.ColourName,mdc.ColourNotes,mdc.ColourBackground,
							   mdc.ColourFont,mdc.IsDefaultColour,mdc.IsActive 
						  FROM REF_MasterDutyColours mdc (NOLOCK)
						  JOIN Divisions dv(NOLOCK)  ON dv.DivisionID = mdc.DivisionID 
						 ORDER BY mdc.MasterDutyColourID DESC
				 END
		--For divisional admin
				ELSE IF EXISTS ( select 1 
				                   from UserRoles U (NOLOCK) 								    
								   join REF_Roles rr on rr.RoleID = U.UR_RoleID
								  where U.UR_UserID = @userID 
								    and rr.RoleName = 'Area Admin'
									and rr.IsActive = 1  
								)
					BEGIN

					 Select  distinct  mdc.DivisionID,dv.DivisionName,mdc.MasterDutyColourID,
					         mdc.ColourName,mdc.ColourNotes,mdc.ColourBackground,
							 mdc.ColourFont,mdc.IsDefaultColour,mdc.IsActive 
						FROM REF_MasterDutyColours mdc (NOLOCK)
						JOIN Divisions dv (NOLOCK) ON dv.DivisionID = mdc.DivisionID
						inner join schedulingTeams ST (NOLOCK) ON ST.divisionid =dv.DivisionID 
						inner join UserRoles UR (NOLOCK) ON UR.UR_DivisionId=ST.divisionid
						join REF_Roles rr on rr.RoleID = UR.UR_RoleID
						where UR.UR_UserID=@userid
						  and rr.RoleName = 'Area Admin'
						ORDER BY mdc.MasterDutyColourID DESC

					END

			END

		 
						
END