USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_SwapDutyDataAllocationEdit]    Script Date: 10/11/2021 13:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_SwapDutyDataAllocationEdit]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '
--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_mod_SwapDutyDataAllocationEdit]
@ID INT,
@dutyName VARCHAR(MAX),
@duration INT,
@iDay INT,
@startTime INT,
@endTime INT,
@dutyComments VARCHAR(MAX),
@adhocDuty INT,
@markOvertime INT,
@markSickness INT,
@schPersonId INT,
@dutyDate VARCHAR(50),
@startDate VARCHAR(50),
@endDate VARCHAR(50),
@masterDutyId INT,
@dutyColourId INT,
@dutyProgramId INT,
@dutyBreakTime INT,
@isAttention INT,
@isRequest INT

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @allocEditID INT

	SELECT TOP 1 @allocEditID = ID FROM Allocations_edit WHERE AllocationID=@ID ORDER BY ID DESC

	UPDATE Allocations_edit SET DutyName=@dutyName, Duration=@duration, iDay=@iDay, StartTime=@startTime, EndTime=@endTime, DutyComments=@dutyComments, SchedulingPersonID=@schPersonId, DutyDate=CONVERT(DATETIME,@dutyDate,102), StartDate=CONVERT(DATETIME,@startDate,102), EndDate=CONVERT(DATETIME,@endDate,102), IsAttention=@isAttention, dutyProgramId=@dutyProgramId, dutyBreakTime=@dutyBreakTime, dutyColorId=@dutyColourId, MasterDutyId=@masterDutyId, AdhocDuty=@adhocDuty, MarkedOvertime=@markOvertime, MarkedSickness=@markSickness, isRequest=@isRequest WHERE ID=@allocEditID

	return 1;
END
'

EXEC dbo.sp_executesql @strSQL

GO