USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateUpdate_LeaveManagePopup]    Script Date: 18/12/2025 23:24:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_CreateUpdate_LeaveManagePopup]
	@strapplicationId varchar(max),
	@LeaveApplicationIdarray varchar(max),
	@currentuserid INT,
	@NetLogin varchar(20),
	@CurrentuserName varchar(50),
	@PartDayLeaveDetails varchar(max),
	@IsLeaveConvertion INT = NULL

AS
BEGIN

	SET NOCOUNT ON;
	SET DATEFORMAT YMD;

	DECLARE  @errormessage	varchar(max), 
	         @returnstring VARCHAR(1000),
			 @status INT,
			 @AllocationID INT,
			 @AllocationsSPID INT,
			 @ZerotempLeave INT,
			 @LeavetempID INT,
			 @TempDuration INT,
			 @TempHistory varchar(100),
			 @leavetext varchar(50) = 'MARKLEAVE',
			 @vLeaveStartTime INT,
			 @vLeaveEndTime INT,
			 @ReturnValue INT,
			 @SchedulingPersonID INT,
			 @DutyDate DATE,
			 @vOldReasonID VARCHAR(1000);

	DECLARE  @TempLeave	TABLE (ApplicationID INT,
	                           oldTotalhrs FLOAT,
							   Totalhrs FLOAT,
							   History varchar(100),
							   IsApproved INT,
							   ALUpdateFlag BIT,
							   LAUpdateFlag BIT,
							   CountLeaveOld BIT,
							   CountLeaveNew BIT,
							   ZeroLeaveOld BIT,
							   ZeroLeaveNew BIT,
							   ddate datetime,
							   SchedulingPersonID int,
							   LeaveStartTimeOld INT,
							   LeaveStartTimeNew INT,
							   LeaveEndTimeOld INT,
							   LeaveEndTimeNew INT,
							   LeaveStartTimeLocal DATETIME,
							   LeaveEndTimeLocal DATETIME
							   )

	DECLARE @TempLeaveType1 TABLE ( ApplicationID	INT,
									OldLeaveTypeID		INT,
									OldAmount			FLOAT,
									UpdateFlag			BIT);

	DECLARE @TempLeaveType2 TABLE ( ApplicationID	INT,
									NewLeaveTypeID		INT,
									NewAmount			FLOAT,
									UpdateFlag			BIT);
		
    BEGIN TRANSACTION
	  BEGIN TRY
							 		               
	    INSERT INTO @TempLeaveType1( ApplicationID,
									OldLeaveTypeID,
									OldAmount)
			 SELECT ApplicationID, 
		            LeaveTypeID, 
					RA.Amount
			   FROM ref_LeaveApplications_Amounts RA
			  WHERE ApplicationID IN (SELECT value 
										FROM STRING_SPLIT(@strapplicationId, ','))
			   
		INSERT INTO @TempLeaveType2(
									ApplicationID,
									NewLeaveTypeID,
									NewAmount)
			   SELECT AppId, TypeId,Amount
						     FROM OPENJSON( @LeaveApplicationIdarray )
						     WITH ( 
								   AppId  int '$.AppId' ,
								   TypeId int '$.TypeId',
								   Amount float '$.Amount'
								  )  
		UPDATE T1
		   SET T1.UpdateFlag = 1
		  FROM @TempLeaveType1 T1
		 WHERE NOT EXISTS ( SELECT 1
							  FROM @TempLeaveType2 T2
							 WHERE T1.ApplicationID = T2.ApplicationID 
							   AND T1.OldLeaveTypeID = T2.NewLeaveTypeID 
							   AND T1.OldAmount = T2.NewAmount)

		UPDATE T2
		   SET T2.UpdateFlag = 1
		  FROM @TempLeaveType2 T2
		 WHERE NOT EXISTS ( SELECT 1
							  FROM @TempLeaveType1 T1
							 WHERE T1.ApplicationID = T2.ApplicationID 
							   AND T1.OldLeaveTypeID = T2.NewLeaveTypeID
							   AND T1.OldAmount = T2.NewAmount)

						 		               
         DELETE ref_LeaveApplications_Amounts 
		  where ApplicationID IN (SELECT value 
		                            FROM STRING_SPLIT(@strapplicationId, ','));

	     INSERT  INTO  ref_LeaveApplications_Amounts(ApplicationID, 
		                                             LeaveTypeID, 
													 Amount)
				SELECT * 
				  FROM OPENJSON( @LeaveApplicationIdarray )
				  WITH ( 
						  AppId  int '$.AppId' ,
						 TypeId  int '$.TypeId',
						 Amount  float '$.Amount'
				        )

					
		 INSERT INTO @TempLeave (ApplicationID, oldTotalhrs, IsApproved,
		                         CountLeaveOld,ZeroLeaveOld, dDate, SchedulingPersonID,
								 LeaveStartTimeOld,LeaveEndTimeOld )
		 select ID,
		        Totalhrs,
			    Approved,
				CountLeave,
				ZeroLeave,
				cast(dDate as date),
				SchedulingPersonID,
				ISNULL(LeaveStartTime,0),
				ISNULL(LeaveEndTime,0)
		   from LeaveApplications (nolock) 
		  where ID IN (SELECT value 
		                 FROM STRING_SPLIT(@strapplicationId, ','))

		 UPDATE TL 
		    set TL.Totalhrs = R2.TAmount 
		   from @TempLeave TL
		  INNER JOIN (select R.ApplicationId,
		                     SUM(R.Amount) TAmount
					    from ref_LeaveApplications_Amounts R
					   where R.ApplicationID IN (SELECT value 
					                               FROM STRING_SPLIT(@strapplicationId, ','))
					   group by R.ApplicationID) as R2 on TL.ApplicationID = R2.ApplicationID 

		 UPDATE TL 
		    set TL.LeaveStartTimeNew = LA.LeaveStartTime,
			    TL.LeaveEndTimeNew   = LA.LeaveEndTime,
				TL.LeaveStartTimeLocal = LA.LeaveStartTimeLocal,
				TL.LeaveEndTimeLocal = LA.LeaveEndTimeLocal
		   from @TempLeave TL
		  INNER JOIN (select *
		                from OPENJSON( @PartDayLeaveDetails )
					    with (
						       LeaveID          INT '$.LeaveID' ,
							   LeaveStartTime   INT '$.LeaveStartTime',
							   LeaveEndTime     INT '$.LeaveEndTime',
							   LeaveStartTimeLocal	DATETIME '$.LeaveStartTimeLocal',
							   LeaveEndTimeLocal	DATETIME '$.LeaveEndTimeLocal'
					          )
					 ) LA ON LA.LeaveID = TL.ApplicationID

		 update TL  
		    set TL.History = case when (TL.oldTotalhrs!=TL.Totalhrs AND TL.oldTotalhrs is not null) 
				               then 'Total hours updated from '+ cast(TL.oldTotalhrs AS varchar(10))+' to '+ cast(TL.Totalhrs AS varchar(10))
		                       when (TL.oldTotalhrs=TL.Totalhrs) 
							   then ''
		                       ELSE 'Total hours added '+cast (TL.Totalhrs AS varchar(10)) END,
				TL.CountLeaveNew = case when TL.Totalhrs = 0 then 0 ELSE 1 END,
				TL.ZeroLeaveNew = case when TL.Totalhrs = 0 then 1 ELSE 0 END 
		   from @TempLeave AS TL 

		 update @TempLeave 
		    set CountLeaveNew=0 
		  where ApplicationID IN ( select R.ApplicationID 
		                  from LeaveAllocateTypes (nolock) L 
						 INNER JOIN ref_LeaveApplications_Amounts R ON L.id=R.LeaveTypeID 
		                 where isLeaveCounted=0 
		                   and ApplicationID IN (SELECT value 
			                                     FROM STRING_SPLIT(@strapplicationId, ',')) 
			               and R.Amount > 0)    					  		               

		 update TL  
		    set TL.ALUpdateFlag = CASE WHEN TL.oldTotalhrs!=TL.Totalhrs AND TL.oldTotalhrs is not null THEN 1
			                           WHEN TL.Totalhrs IS NOT NULL AND TL.oldTotalhrs is null THEN 1
				                       WHEN TL.IsApproved <> 1 THEN 1
									   WHEN ISNULL(TL.LeaveStartTimeNew,0) <> TL.LeaveStartTimeOld THEN 1
									   WHEN ISNULL(TL.LeaveEndTimeNew,0) <> TL.LeaveEndTimeOld THEN 1
									   ELSE 0 END,
				TL.LAUpdateFlag = CASE WHEN TL.CountLeaveNew IS NOT NULL AND TL.CountLeaveOld IS NOT NULL AND TL.CountLeaveNew <> TL.CountLeaveOld THEN 1 
				                       WHEN TL.CountLeaveNew IS NOT NULL AND TL.CountLeaveOld IS NULL THEN 1
				                       WHEN TL.ZeroLeaveNew IS NOT NULL AND TL.ZeroLeaveOld IS NOT NULL AND TL.ZeroLeaveNew <> TL.ZeroLeaveOld THEN 1 
									   WHEN TL.ZeroLeaveNew IS NOT NULL AND TL.ZeroLeaveOld IS NULL THEN 1
									   ELSE 0 END
		   from @TempLeave AS TL 



			 INSERT INTO History (HistoryType,
								  UserID,
								  History,
								  AttributeID)
			 SELECT ht.id,
					@currentuserid,
                    ''+				
					CASE WHEN ISNULL(@IsLeaveConvertion,0) = 1
					     THEN 'Part day leave converted to full day leave and approved by '
						 WHEN ISNULL(@IsLeaveConvertion,0) = 2
					     THEN 'Converted to part day leave and approved by '
					ELSE 'Leave approved by ' END
					+@CurrentuserName+' On '+FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
					+'. '+TL.History + '<hr>',
					TL.ApplicationID 
			   FROM @TempLeave TL
			  inner join HistoryTypes ht on 1=1 
			  where ht.HistoryType = 'LeaveApplication'
				and TL.ALUpdateFlag = 1

         UPDATE la
		    set LA.Totalhrs = TL.Totalhrs,
			    LA.CountLeave = TL.CountLeaveNew,
				LA.ZeroLeave = TL.ZeroLeaveNew, 
				LA.Approved = 1,
				LA.LeaveStartTime = TL.LeaveStartTimeNew,
				LA.LeaveEndTime = TL.LeaveEndTimeNew,
				LeaveTypeID =  CASE WHEN (ISNULL(TL.LeaveStartTimeNew,0) > 0 OR  ISNULL(TL.LeaveEndTimeNew,0) > 0 ) THEN 6
									WHEN ISNULL(TL.ZeroLeaveNew,0) = 0 
									THEN 1 
									ELSE 2 END,
				LA.LastModDate=getutcdate(),
				LA.LastModBy=@currentuserid
		   FROM LeaveApplications LA
		  inner join @TempLeave TL on TL.ApplicationID = LA.ID
		  WHERE ( TL.ALUpdateFlag = 1 OR TL.LAUpdateFlag = 1)

		 
		    INSERT INTO History (HistoryType,
								  UserID,
								  History,
								  AttributeID)
			 SELECT ht.id,
					@currentuserid,                    				
					'Leave type changed from '
					+ (SELECT ISNULL(STRING_AGG(LA.Description+'('+CAST(ra.OldAmount AS varchar)+' Hr)', ', '),'') AS amnt
								FROM @TempLeaveType1 ra
								INNER JOIN LeaveAllocateTypes LA ON LA.id = ra.OldLeaveTypeID
						 WHERE ra.ApplicationID = TL.ApplicationID)
					+' to '
					+ (SELECT ISNULL(STRING_AGG(LA.Description+'('+CAST(ra.NewAmount AS varchar)+' Hr)', ', '),'') AS amnt
								FROM @TempLeaveType2 ra
								INNER JOIN LeaveAllocateTypes LA ON LA.id = ra.NewLeaveTypeID
						WHERE ra.ApplicationID = TL.ApplicationID)
					+' by '
					+@CurrentuserName+' On '+FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+'. '+TL.History + '<hr>',
					TL.ApplicationID 
			   FROM @TempLeave TL
			  inner join HistoryTypes ht on 1=1		   
			  where ht.HistoryType = 'LeaveApplication'
				and TL.ALUpdateFlag = 0 
				AND EXISTS (  SELECT 1
								FROM @TempLeaveType1 TL1
								WHERE TL1.ApplicationID = TL.ApplicationID
								AND TL1.UpdateFlag = 1
								UNION
								SELECT 1
								FROM @TempLeaveType2 TL2
								WHERE TL2.ApplicationID = TL.ApplicationID
								AND TL2.UpdateFlag = 1
							)


         UPDATE la
		    set LA.LastModDate=getutcdate(),
				LA.LastModBy=@currentuserid
		   FROM LeaveApplications LA
		  inner join @TempLeave TL on TL.ApplicationID = LA.ID
		  WHERE ISNULL(TL.ALUpdateFlag,0) = 0 
			AND ISNULL(TL.LAUpdateFlag,0) = 0 
			AND EXISTS (  SELECT 1
							FROM @TempLeaveType1 TL1
							WHERE TL1.ApplicationID = TL.ApplicationID
							AND TL1.UpdateFlag = 1
							UNION
							SELECT 1
							FROM @TempLeaveType2 TL2
							WHERE TL2.ApplicationID = TL.ApplicationID
							AND TL2.UpdateFlag = 1
						)


			DECLARE CUR_NewID 
			 CURSOR FOR
			 SELECT CASE WHEN (ISNULL(TL.LeaveStartTimeNew,0) > 0 
			               OR ISNULL(TL.LeaveEndTimeNew,0) > 0 ) THEN 'PDL'
			             ELSE 'MARKLEAVE' END as Leavetext,
			        @NetLogin as NetLogin,
					A.AL_AllocationsID as AllocationID,
					asp.ASP_AllocationsSPID,
					TL.SchedulingPersonID,
					TL.ZeroLeaveNew,
					TL.ApplicationID as LeaveID,
					case when TL.Totalhrs = 0 then 0 ELSE TL.Totalhrs * 3600 END as Duration,
					TL.LeaveStartTimeNew,
					TL.LeaveEndTimeNew,
					TL.History,
					TD.dDateTime
		       FROM @TempLeave TL
			  INNER JOIN TimeDimension TD ON TD.dDateTime= TL.ddate
			  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.ScheduledPersonID = TL.SchedulingPersonID
			  INNER JOIN Allocations (NOLOCK) A ON A.AL_WeekNumber = TD.ixYearWeek  AND A.AL_SchedulingTeamID = SL.TeamID
			  LEFT join AllocationsScheduledPersons asp(nolock) on a.AL_AllocationsID = asp.ASP_AllocationsID
			                                   and TD.ixDayInWeek  = asp.ASP_iDay
											   and TL.SchedulingPersonID=asp.ASP_SchedulingPersonID 
											
			  WHERE TL.ALUpdateFlag = 1
			    AND SL.scheduledType = 1
				AND SL.IsHomeTeam = 1
				AND TD.dDateTime BETWEEN SL.StartDate and SL.EndDate;
           

			OPEN CUR_NewID

			FETCH NEXT FROM CUR_NewID INTO @Leavetext,
			                               @NetLogin,
			                               @AllocationID,
										   @AllocationsSPID,
										   @SchedulingPersonID,
			                               @ZerotempLeave,
										   @LeavetempID,
										   @TempDuration,
										   @vLeaveStartTime,
										   @vLeaveEndTime,
										   @TempHistory,
										   @DutyDate

			WHILE @@FETCH_STATUS = 0
			 BEGIN										  

				  EXEC @ReturnValue = usp_Edit_Allocations @Leavetext,
											@NetLogin,
											@AllocationsSPID,
											@pZeroLeave = @ZerotempLeave,
											@pLeaveID = @LeavetempID,
											@pDuration = @TempDuration,
											@pLeaveHistory = @TempHistory,
											@pLeaveStartTime = @vLeaveStartTime,
											@pLeaveEndTime = @vLeaveEndTime,
											@pAllocationsID=@AllocationID,
											@pDutyDate = @DutyDate,
											@pSchedulingPersonID = @SchedulingPersonID ;

				 IF ( ISNULL(@ReturnValue,0) > 0 )
				  BEGIN
			    
					CLOSE CUR_NewID;

					DEALLOCATE CUR_NewID;

				   THROW 51001, 'Error while approving the leave' , 1;

				  END

				FETCH NEXT FROM CUR_NewID INTO @Leavetext,
											   @NetLogin,
											   @AllocationID,
											   @AllocationsSPID,
											   @SchedulingPersonID,
											   @ZerotempLeave,
											   @LeavetempID,
											   @TempDuration,
											   @vLeaveStartTime,
											   @vLeaveEndTime,
											   @TempHistory,
											   @DutyDate

			END

			CLOSE CUR_NewID;

			DEALLOCATE CUR_NewID;


		    INSERT INTO History (HistoryType,
								  UserID,
								  History,
								  AttributeID,
								  HistorySubType)
			 SELECT ht.id,
					@currentuserid,                    				
					'Leave type changed from '
					+ (SELECT ISNULL(STRING_AGG(LA.Description+'('+CAST(ra.OldAmount AS varchar)+' Hr)', ', '),'') AS amnt
								FROM @TempLeaveType1 ra
								INNER JOIN LeaveAllocateTypes LA ON LA.id = ra.OldLeaveTypeID
						 WHERE ra.ApplicationID = TL.ApplicationID)
					+' to '
					+ (SELECT ISNULL(STRING_AGG(LA.Description+'('+CAST(ra.NewAmount AS varchar)+' Hr)', ', '),'') AS amnt
								FROM @TempLeaveType2 ra
								INNER JOIN LeaveAllocateTypes LA ON LA.id = ra.NewLeaveTypeID
						WHERE ra.ApplicationID = TL.ApplicationID)
					+' by '
					+@CurrentuserName+' On '+FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+'. '+TL.History + '<hr>',
					AL.ASP_AllocationsSPID ,
					'PH'
			   FROM @TempLeave TL
			   INNER JOIN AllocationsScheduledPersons AL ON AL.ASP_SchedulingPersonID = TL.SchedulingPersonID
										AND AL.ASP_DutyDate = TL.ddate
			  inner join HistoryTypes ht on 1=1		   
			  where ht.HistoryType = 'AllocationScheduledPerson'
				and TL.ALUpdateFlag = 0 
				AND EXISTS (  SELECT 1
								FROM @TempLeaveType1 TL1
								WHERE TL1.ApplicationID = TL.ApplicationID
								AND TL1.UpdateFlag = 1
								UNION
								SELECT 1
								FROM @TempLeaveType2 TL2
								WHERE TL2.ApplicationID = TL.ApplicationID
								AND TL2.UpdateFlag = 1
							)

            COMMIT TRANSACTION	

			SET @returnstring = 'Leave approved successfully';
            SET @status = 1;
            SET @errormessage=ERROR_MESSAGE();
            select @status intstatus, @returnstring strstatus;
            return;

		END TRY
		BEGIN CATCH

			ROLLBACK TRANSACTION
				
				INSERT INTO ErrorLog
				VALUES
				  (
				   ERROR_NUMBER(),
				   ERROR_STATE(),
				   ERROR_SEVERITY(),
				   ERROR_LINE(),
				   'usp_CreateUpdate_LeaveManagePopup',
				   ERROR_MESSAGE(),
				   GETDATE(),
				   @currentuserid
				  );
              
			    SET @returnstring = ERROR_MESSAGE();

				SET @status = 0;
				SET @errormessage=ERROR_MESSAGE();

				select @status intstatus, @returnstring strstatus;
				return 

		END CATCH


END