USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ActiveChargeCodeMappingList_Charging]    Script Date: 30/03/2022 17:58:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_GET_ActiveChargeCodeMappingList_Charging]
	-- Add the parameters for the stored procedure here
	@establishcode  Varchar(100),
	@StartDate varchar(50),
	@TeamId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @Year varchar(50),@CompareDateStart varchar(50),@CompareDateEnd varchar(50);
	set @StartDate = convert(varchar(10),@StartDate,110);
    set @Year = YEAR(@StartDate);
	set @CompareDateEnd = convert(varchar(10),Convert(varchar,@Year)+'-03-31',110);
	set @CompareDateStart = convert(varchar(10),Convert(varchar,@Year)+'-01-01',110);
	if (convert(datetime,@StartDate,110) between convert(datetime,@CompareDateStart,110) and convert(datetime,@CompareDateEnd,110))
    BEGIN
		set @Year = @Year - 1;
    END
    SELECT distinct
        ec.EstablishCodeId,acl.MappingId,ac.ActivityCodeName,ac.ActivityCodeId ,acl.Price, ac.Description,
        case when isnull(st.defaultActiveCode,'') = '' then 0
             else 1 END IsDefault
    from EstablishCode ec
         JOIN ActivityChargeCodeMapping_Link acl on acl.EstablishCodeId = ec.EstablishCodeId
         JOIN ActivityCode ac on ac.ActivityCodeId = acl.ActiveCodeId and ac.IsActive = 1
         Left Join SchedulingTeams st on st.establishCodeID = ec.establishCodeID and st.SchedulingTeamId = @TeamId AND st.defaultActiveCode = acl.ActiveCodeId
    where EstablishCode = @establishcode and Year = @Year
    order by ac.ActivityCodeName ASC;
END
