USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterDutyFilter]    Script Date: 01/09/2022 14:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_mod_MasterDutyFilter]
@filterid				INT,
@filtername			VARCHAR(60),
@userid			VARCHAR(30), 
@comments			VARCHAR(1000),
@status				TINYINT OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT,
@teamid				INT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int
	DECLARE @UpdateDateTime datetime
	DECLARE @strUpdateDateTime varchar(35)
	DECLARE @TmpHistory varchar(4000)
	DECLARE @newfilterid INT
	DECLARE @isactiveold  TINYINT
	DECLARE @isactive	TINYINT
	DECLARE @RowNum1 INT

	SET @status = 1 
	SET @isactive = 0
	SET @returnstring = ''
	SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)
	SET @isactiveold = ''
	SET @RowNum1 = ''
	 
	--Check unique record
	
		SELECT MasterDutyFilterID
	  FROM MasterDutiesFilter
	 WHERE (MasterDutyFilterID != @filterid and FilterName = @filtername and TeamID = @teamid)
	
	SET @RowNum1 = @@rowcount

	IF @RowNum1 > 0
			BEGIN
			   SET @returnstring = 'name already avaialble'
			   RETURN 0
	END
	
	SELECT MasterDutyFilterID
	  FROM MasterDutiesFilter
	 WHERE (MasterDutyFilterID = @filterid)
	SET @RowNum = @@rowcount

	

	IF @filterid = 0
		BEGIN
			IF @RowNum > 0
				BEGIN
					SET @status = 2
					RETURN 0
				END
			ELSE
				BEGIN 
					--SET @TmpHistory = 'Created by ' + @currentuser + ' on ' + @strUpdateDateTime

					--Insert new role record
                    INSERT INTO MasterDutiesFilter(UserID,FilterName,Comments,IsActive,TeamID,CreatedDate,CreatedBy,UpdateDate,UpdatedBy)
                    VALUES (@userid, @filtername, @comments, @isactive, @teamid,CONVERT(DATETIME,GETDATE(),102),@userid,CONVERT(DATETIME,GETDATE(),102),@userid)
							 
					SELECT @err = @@ERROR, @rows = @@ROWCOUNT, @newfilterid = SCOPE_IDENTITY()
					IF @err <> 0 
						RETURN @err
					IF @rows = 0 
						BEGIN
							SET @status = 0
							RETURN 0
						END
					
				END
		END
	ELSE 
		BEGIN
			IF @RowNum = 0
				SET @status = 2
			ELSE
				BEGIN
					-- check the active state

					SELECT @isactiveold	= IsActive
					  FROM MasterDutiesFilter
					 WHERE (MasterDutyFilterID = @filterid)
					
					IF @filtername != '' and @comments != ''
							BEGIN
								UPDATE MasterDutiesFilter
								   SET 
									   FilterName = @filtername, 
									   Comments = @comments,
									   UpdateDate = CONVERT(DATETIME,GETDATE(),102),
										UpdatedBy = @userid
									   
								 WHERE MasterDutyFilterID = @filterid
							END
					SELECT @err = @@ERROR, @rows = @@ROWCOUNT
					IF @err <> 0 
						RETURN @err
					IF @rows = 0 
						BEGIN
							SET @status = 0
							RETURN 0
						END
				END
		END
END
