USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllocateUsers]    Script Date: 18/11/2025 14:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_get_AllocateUsers] 
    @netlogin VARCHAR(25),
    @type VARCHAR(25)
AS
BEGIN

              SET NOCOUNT ON;

	if @type = 'list'
	BEGIN
		 Select UD_NetLogin NetLogin, 
				UD_UserID UserID, 
			    UD_DisplayName as 'FullName',
			    UD_DisplayFirstName as PreferredForename,
			    UD_DisplayFirstName as Forename,
				UD_EmpNumber EmpNumber, 
				UD_StaffNumber StaffNumber, 
				UD_DisplayLastName Surname,
				UD_TeampayStaffID StaffID, 
				UD_NetLogin NetLogin, 
				UD_InternalEmail InternalEmail, 
				UD_DisplayName DisplayName, 
				isNull(st.schedulingTeamName, '-') AS schedulingTeamName
		From UserDetails 
			LEFT JOIN ScheduledPersonTeam_LINK sptl ON sptl.ScheduledPersonID = UD_UserID AND sptl.scheduledType = 1
			 AND sptl.IsHomeTeam = 1 AND CAST(GETDATE() AS Date) BETWEEN sptl.StartDate AND sptl.EndDate
			LEFT JOIN schedulingTeams st ON st.schedulingTeamId = sptl.TeamID 
			where UD_NetLogin is not null
		order by FullName asc
	END
	ELSE
	BEGIN
		SELECT  UD_NetLogin NetLogin, 
				UD_UserID UserID, 
			    UD_DisplayName as 'FullName',
			    UD_DisplayFirstName as PreferredForename,
			    UD_DisplayFirstName as Forename,
				UD_EmpNumber EmpNumber, 
				UD_StaffNumber StaffNumber, 
				UD_DisplayLastName Surname,
				UD_TeampayStaffID StaffID, 
				UD_NetLogin NetLogin, 
				UD_InternalEmail InternalEmail, 
				UD_DisplayName DisplayName
		   FROM UserDetails ud 
		  WHERE ud_NetLogin = @netlogin 
		  AND UD_NetLogin is not null
		  ORDER BY FullName ASC
	END
END