USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_prodviewgroup]    Script Date: 28/07/2025 16:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  or ALTER    PROCEDURE [dbo].[usp_del_prodviewgroup]
	-- Add the parameters for the stored procedure here
	@prodviewgroupid int,
	@intaction INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @intTeamID int , @sortorder int,@intReplaceSortOrder int,@intrplaceid int
	DECLARE @Status int, @err int, @rows int;
	SET @Status =1 

	SELECT @intTeamID=SchedulingTeamId, @sortorder=SortOrder FROM ProdViewGroups WHERE id = @prodviewgroupid
    BEGIN TRANSACTION
	DELETE FROM ProdViewGroups WHERE  (id =@prodviewgroupid)
   
   --UPDATE ProdViewGroups SET SortOrder =  SortOrder - 1 WHERE SchedulingTeamId=@intTeamID and SortOrder > @sortorder
     SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		 
		  
		IF @err <> 0
		BEGIN
			ROLLBACK TRANSACTION
			SET @Status = 0;
			select @Status intStatus;
		RETURN;
		END

		IF @rows = 0
		BEGIN
			ROLLBACK TRANSACTION
			SET @Status = 0;
			select @Status intStatus;
			RETURN;
		END
		
COMMIT TRANSACTION
		select @Status intStatus;
  


END