USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ReadAllocationsDay_FilterCount]    Script Date: 08/05/2024 22:43:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER       PROCEDURE [dbo].[usp_get_ReadAllocationsDay_FilterCount]
@AllocationStartDate  VARCHAR(22),
@AllocationEndDate    VARCHAR(22),
@SchedulingTeamId VARCHAR(100),
@roleIDPermission INT,
@filterCond       VARCHAR(MAX)

AS
BEGIN

	SET NOCOUNT ON;
	
    SET DATEFORMAT YMD

    DECLARE @FilterSQL          NVARCHAR(MAX)
	DECLARE @VFilter            NVARCHAR(MAX)
	DECLARE @VLJFilter          NVARCHAR(MAX)
	DECLARE @SelectList         NVARCHAR(MAX)
	DECLARE @ColumnFlag         INT = 0	
	DECLARE @intweekEnd	        INT = 0


	set @SchedulingTeamId = replace(replace(replace(@SchedulingTeamId,'spl.TeamID IN',''),'(',''),')','')

	SELECT @intweekEnd = MAX(ixYearWeek)
	  FROM TimeDimension
	 WHERE dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) and CONVERT(DATETIME,@AllocationEndDate,101) 	


	CREATE TABLE #TempAllocations
	       (        displayname   NVARCHAR(100),
				    staffid INT,
					sortcode NVARCHAR(50),
					DutyID INT,
					DutyName NVARCHAR(100),
					JobName NVARCHAR(100),
					ProgrammeId INT,
					CostCode VARCHAR(8),
					schedulingpersonid INT,
					dutyProgramId INT,
					TeamID INT
			)
	
	IF ( @roleIDPermission = 1 )
		BEGIN	
		
		    INSERT INTO #TempAllocations
			SELECT  sp.displayname                 AS displayname,
				    sd.staffid                     AS staffid,
					ISNULL(AL.SortCode,ISNULL(spl.sortcode,''))     AS sortcode,
					AL.id                          AS DutyID,
					AL.dutyname                    AS DutyName,
					ISNULL(aj.jobname,'')          AS JobName,
					ISNULL(aj.ProgrammeId,0)       AS ProgrammeId,
					ISNULL(scp.CostCode,'')        AS CostCode,
					AL.schedulingpersonid          AS schedulingpersonid,
					ISNULL(AL.dutyProgramId,0)     AS dutyProgramId,
					SPL.teamid                     AS TeamID					
               FROM Allocations AL
		      INNER JOIN Timedimension TD on AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek			   
			  INNER JOIN ScheduledPeople AS sp (nolock) ON sp.scheduledpersonid = AL.schedulingpersonid
			  INNER JOIN ScheduledPersonTeam_LINK (nolock) AS spl ON sp.scheduledpersonid = spl.scheduledpersonid
							                                        AND spl.teamid=AL.SchedulingTeamId
			   LEFT JOIN Allocations_jobs aj (NOLOCK) ON (AL.ID = aj.AllocationID) AND ( IsNULL(aj.isActive,1)=1 )							  
			   LEFT JOIN StaffDetails sd (nolock) ON sd.staffid = sp.staffdetailsid
			   LEFT JOIN Staffconfig_Processed scp (nolock) ON sd.staffid = scp.staffid
							 AND AL.dutydate BETWEEN ISNULL(scp.startdate,AL.dutydate)
							                     AND ISNULL(scp.enddate,AL.dutydate)												 
		      WHERE TD.dDateTime >= isnull(spl.startdate,TD.dDateTime) 
			    AND TD.dDateTime <= isnull(spl.enddate,TD.dDateTime)
			    AND spl.scheduledType = 1				
				AND SPL.teamid in (select value FROM string_split(@SchedulingTeamId,',') )	
				AND TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) and CONVERT(DATETIME,@AllocationEndDate,101) 				
			
		END
	ELSE
		BEGIN
				
		    INSERT INTO #TempAllocations		
			SELECT  sp.displayname                 AS displayname,
				    sd.staffid                     AS staffid,
					ISNULL(AL.SortCode,ISNULL(spl.sortcode,''))     AS sortcode,
					AL.id                          AS DutyID,
					AL.dutyname                    AS DutyName,
					ISNULL(aj.jobname,'')          AS JobName,
					ISNULL(aj.ProgrammeId,0)       AS ProgrammeId,
					ISNULL(scp.CostCode,'')        AS CostCode,
					AL.schedulingpersonid          AS schedulingpersonid,
					ISNULL(AL.dutyProgramId,0)     AS dutyProgramId,
					SPL.teamid                     AS TeamID
               FROM Allocations_Publish AL
		      INNER JOIN Timedimension TD on AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek				   
			  INNER JOIN ScheduledPeople AS sp (nolock) ON sp.scheduledpersonid = AL.schedulingpersonid
			  INNER JOIN ScheduledPersonTeam_LINK (nolock) AS spl ON sp.scheduledpersonid = spl.scheduledpersonid
							                                        AND spl.teamid=AL.SchedulingTeamId
			   LEFT JOIN Allocations_Jobs_Publish aj (NOLOCK) ON (AL.ID = aj.AllocationID) AND ( IsNULL(aj.isActive,1)=1 )							  
			   LEFT JOIN StaffDetails sd (nolock) ON sd.staffid = sp.staffdetailsid
			   LEFT JOIN Staffconfig_Processed scp (nolock) ON sd.staffid = scp.staffid
							 AND AL.dutydate BETWEEN ISNULL(scp.startdate,AL.dutydate)
							                     AND ISNULL(scp.enddate,AL.dutydate)												 
		      WHERE TD.dDateTime >= isnull(spl.startdate,TD.dDateTime) 
			    AND TD.dDateTime <= isnull(spl.enddate,TD.dDateTime)
			    AND spl.scheduledType = 1				
				AND SPL.teamid in (select value FROM string_split(@SchedulingTeamId,',') )
				AND TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) and CONVERT(DATETIME,@AllocationEndDate,101) 					
            													 
				
		END	
		
		IF (( @roleIDPermission <> 1 ) AND NOT EXISTS ( SELECT 1 FROM #TempAllocations) )
		 BEGIN

            INSERT INTO #TempAllocations
			SELECT  CASE WHEN (sp.DisplayName IS NULL) THEN CASE 
					  WHEN (sd.PreferredForename IS NULL or sd.PreferredForename = '''')
					  THEN (sd.Forename + '''' + sd.Surname) 
					  ELSE (sd.PreferredForename + '''' + sd.Surname) END
					  ELSE sp.DisplayName END AS DisplayName,
					sd.StaffID AS StaffID,
					sptl.SortCode,
					er.ID as DutyID,
					er.DutyName,
					null as jobname,
					0 as ProgrammeId,
					scp.CostCode,
					er.SchedulingPersonID,
					0 as DutyProgrammeID,
					er.SchedulingTeamId
			FROM Exported_rota as er (NOLOCK)
			INNER JOIN ScheduledPeople as sp (NOLOCK) on sp.ScheduledPersonID = er.SchedulingPersonID
			INNER JOIN 
			( 
				SELECT td.ixYearWeek,
				CASE
					when ROW_NUMBER() over(partition by SchedulingPersonID,RotaID 
				   order by td.ixYearWeek) % td.WeeksInRota = 0
					THEN td.WeeksInRota
					ELSE ROW_NUMBER() over(partition by SchedulingPersonID,RotaID 
				   order by td.ixYearWeek) % td.WeeksInRota
				END weeksinrota,SchedulingPersonID, RotaID,
									SchedulingTeamId
				FROM 
				(
					SELECT DISTINCT ixYearWeek,
					                er.WeeksInRota,
					                er.SchedulingPersonID,
									RotaID,
									SchedulingTeamId
					FROM TimeDimension td (NOLOCK) ,
					(
						
						SELECT DISTINCT AssignmentStartWeek,
								                WeeksInRota,
												SchedulingPersonID,
												RotaID,
												SchedulingTeamId
						FROM Exported_rota (NOLOCK) ER1
						 WHERE ER1.SchedulingTeamId in (select value FROM string_split(@SchedulingTeamId,',') )
						  AND CONVERT(DATETIME,@AllocationStartDate,101) <= ISNULL( CAST(ER1.RotaAssignmentEndDate AS DATE), 
						                                             CONVERT(DATETIME,@AllocationStartDate,101))
			              AND CONVERT(DATETIME,@AllocationEndDate,101) >= ISNULL(ER1.RotaAssignmentStartDate, 
						                                            CONVERT(DATETIME,@AllocationEndDate,101))																	
					) er
					WHERE td.ixYearWeek BETWEEN er.AssignmentStartWeek AND @intweekEnd
				) TD
			) TD1 ON td1.weeksinrota = er.rotaweek 
			     and td1.SchedulingPersonID=er.SchedulingPersonID
			     AND td1.RotaID = er.RotaID 
			     AND td1.SchedulingTeamId = er.SchedulingTeamId 				 
			INNER JOIN TimeDimension TD3 (NOLOCK) ON TD3.ixYearWeek = TD1.ixYearWeek AND TD3.ixDayInWeek = ER.DOTW
			INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl 
			    ON sp.ScheduledPersonID = sptl.ScheduledPersonID AND sptl.TeamID = er.SchedulingTeamId
			 AND sptl.scheduledType = 1 
			 AND td3.dDateTime between sptl.StartDate and ISNULL(sptl.EndDate, td3.dDateTime) 
			LEFT JOIN StaffDetails sd (NOLOCK) on sd.StaffID = sp.StaffDetailsID
			LEFT JOIN Staffconfig_Processed scp (nolock) ON sd.staffid = scp.staffid
							 AND CONVERT(DATETIME,@AllocationStartDate,101) <= ISNULL( scp.enddate, CONVERT(DATETIME,@AllocationStartDate,101))
							 AND CONVERT(DATETIME,@AllocationEndDate,101) >= ISNULL(scp.startdate, CONVERT(DATETIME,@AllocationEndDate,101))							 
			WHERE SPTL.teamid in (select value FROM string_split(@SchedulingTeamId,',') )  
			  AND td3.dDateTime BETWEEN CONVERT(DATETIME,@AllocationStartDate,101) AND CONVERT(DATETIME,@AllocationEndDate,101)
			  and td3.dDateTime between er.RotaAssignmentStartDate and ISNULL( er.RotaAssignmentEndDate, td3.dDateTime)
		      AND td1.ixYearWeek <= er.AssignmentEndWeek
			  AND TD3.dDateTime between isnull(er.DutyStartDate,TD3.dDateTime) and isnull(er.DutyEndDate,TD3.dDateTime)			   

		 END 
		  
		IF ( @filterCond IS NOT NULL )
		 BEGIN
		   		  
			  SET @VFilter = replace( @filterCond, 'sp.DisplayName', 'DisplayName')
			  SET @VFilter = replace( @VFilter, 'spl.SortCode', 'sortcode')
			  SET @VFilter = replace( @VFilter, 'a.DutyName', 'DutyName')
			  SET @VFilter = replace( @VFilter, 'sct.CostCode','CostCode') 
			  SET @VFilter = replace( @VFilter, 'aj.JobName', 'JobName')
			  SET @VFilter = replace( @VFilter, 'aj.ProgrammeId','ProgrammeId') 
			  SET @VFilter = replace( @VFilter, 'spsl.programmes_id','programmes_id') 
			  SET @VFilter = replace( @VFilter, 'a.dutyProgramId','dutyProgramId') 				  	  
			  
			  IF ( CHARINDEX ('DisplayName',@VFilter) > 0  )
			   BEGIN
			     SET @SelectList = 'DisplayName '
				 SET @ColumnFlag = 1
			   END

			  IF ( CHARINDEX ('sortcode',@VFilter) > 0  )
			   BEGIN
			     
				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', sortcode '
				  END
				 ELSE
				  BEGIN
				    SET @ColumnFlag = 1
					SET @SelectList = ' sortcode '
				  END

			   END
			   
			  IF ( CHARINDEX ('dutyProgramId',@VFilter) > 0  )
			   BEGIN
			     
				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', dutyProgramId '
				  END
				 ELSE
				  BEGIN
				    SET @ColumnFlag = 1
					SET @SelectList = ' dutyProgramId '
				  END

			   END			   

			  IF ( CHARINDEX ('DutyName',@VFilter) > 0  )
			   BEGIN

				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', DutyName '
				  END
				 ELSE
				  BEGIN
				    SET @ColumnFlag = 1
					SET @SelectList = ' DutyName '
				  END

			   END

			  IF ( CHARINDEX ('TeamID',@VFilter) > 0  )
			   BEGIN

				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', TeamID '
				  END
				 ELSE
				  BEGIN
				    SET @ColumnFlag = 1
					SET @SelectList = ' TeamID '
				  END

			   END

			  IF ( CHARINDEX ('CostCode',@VFilter) > 0  )
			   BEGIN

				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', CostCode '
				  END
				 ELSE
				  BEGIN
				    SET @ColumnFlag = 1
					SET @SelectList = ' CostCode '
				  END

			   END

			  IF ( CHARINDEX ('JobName',@VFilter) > 0  )
			   BEGIN

				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', JobName '
				  END
				 ELSE
				  BEGIN
				    SET @ColumnFlag = 1
					SET @SelectList = ' JobName '
				  END

			   END		

			  IF ( CHARINDEX ('ProgrammeId',@VFilter) > 0  )
			   BEGIN

				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', ProgrammeId '
				  END
				 ELSE
				  BEGIN
				    SET @ColumnFlag = 1
					SET @SelectList = ' ProgrammeId '
				  END

			   END	

			  IF ( CHARINDEX ('programmes_id',@VFilter) > 0  )
			   BEGIN

				 IF ( @ColumnFlag = 1 )
				  BEGIN
				    SET @SelectList = @SelectList + ', programmes_id '
				  END
				 ELSE
				  BEGIN
					SET @SelectList = ' programmes_id '
				  END

			   END				   
		 
			  IF ( CHARINDEX ('programmes_id',@VFilter) > 0 )
			   BEGIN
			  
				        SELECT AL.DutyID, 
						       ISNULL(programmes_id,0) AS programmes_id
				          INTO #TempStaffSkills
				          FROM skills_programmes_staff_link spsl 
					     INNER JOIN #TempAllocations AL ON spsl.staff_id = AL.StaffID 	

				        SET @VLJFilter = ' INNER JOIN #TempStaffSkills ON #TempAllocations.DutyID=#TempStaffSkills.DutyID '
					    
					    SET @FilterSQL = ' SELECT count(1) as AllocationCount FROM (
										   SELECT DISTINCT '+@SelectList+
									     ' FROM #TempAllocations '
									     +@VLJFilter+' WHERE '+@VFilter+' ) FD '											 

			   END
			  ELSE
				 BEGIN
							SET @FilterSQL = ' SELECT count(1) as AllocationCount FROM (
				                     SELECT DISTINCT '+@SelectList+
				                     ' FROM #TempAllocations WHERE  '+ @VFilter +' ) FD '									 	 
				 END
         END			  
				  
         EXEC ( @FilterSQL )

END
