USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_LeaveAllocationsByID]    Script Date: 08/07/2022 14:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_del_LeaveAllocationsByID]
	-- Add the parameters for the stored procedure here
	@leaveallocationid int,
	@userid int,
	@currentusername varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering wigth SELECT statements.
	SET NOCOUNT ON;

   		BEGIN TRY

	
	DECLARE @returnstring varchar(20),@status int,@ErrorNumber int ,@ErrorLine int,@ErrorMessage	VARCHAR(4000),@ErrorSeverity int,
	@ErrorState	int 

	DECLARE @HistoryStart nvarchar(100)

		SET @ErrorNumber = 0;
		SET @ErrorLine = 0;
		SET @ErrorMessage = '';
		SET @ErrorSeverity = 0;
		SET @ErrorState = 0;
		
		BEGIN TRANSACTION 

				--DELETE FROM  LeaveAllocation WHERE    (ID = @leaveallocationID)
				UPDATE LeaveAllocation set IsActive =0 ,UpdateDate = CONVERT(DATETIME,GETUTCDATE(),102),UpdatedBy =@userid
				WHERE    (ID = @leaveallocationID)

				SET @HistoryStart  = 'Leave credit record has been removed by ' +  @currentusername + ' on ' +  CONVERT(VARCHAR, GETDATE(), 103) + ' at ' + CONVERT(VARCHAR(5),getdate(),108)  + '.<br>'
		
		--insert history
				INSERT INTO [dbo].[History]([HistoryType],[UserID],[History],[datetime],[AttributeID])
				VALUES (14 ,@userid,@HistoryStart,GETDATE(),@leaveallocationID)

				SET @status =1 ;
				SET @returnstring = 'Successfully remove ';
		REVERT;
	END TRY

	BEGIN CATCH
	ROLLBACK TRANSACTION
		REVERT;

		SET @ErrorNumber = ERROR_NUMBER();
		SET @ErrorLine = ERROR_LINE();
		SET @ErrorMessage = ERROR_MESSAGE();
		SET @ErrorSeverity = ERROR_SEVERITY();
		SET @ErrorState = ERROR_STATE();
		set @status = 0;
		SET @returnstring = ERROR_MESSAGE();
	END CATCH
	SELECT @status status,@returnstring strreturnstring
	COMMIT TRANSACTION 
END

