USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllocationsSignIn]    Script Date: 03/07/2025 21:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_get_AllocationsSignIn]
@rolePermission INT,
@allocationId INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF ( @rolePermission = 1 )
		SELECT  AD_DutyName as DutyName, AD_StartTimeSec as StartTime, AD_EndTimeSec as EndTime,
		ASP.ASP_SchedulingPersonID as SchedulingPersonID, AL.AL_WeekNumber as WeekNumber, AD_iDay as iDay
		FROM  AllocationsDuties
		INNER JOIN Allocations AL on AL.AL_AllocationsID = AD_AllocationsID
		INNER JOIN AllocationsScheduledPersons ASP on ASP.ASP_AllocationsDutyID = AD_AllocationsDutyID
		WHERE  AD_AllocationsDutyID = @allocationId
	ELSE
		SELECT  DutyName, StartTime, EndTime, SchedulingPersonID, WeekNumber, iDay
		FROM  Allocations_Publish
		WHERE  ID = @allocationId

END