USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ListAllDutiesWithProgrammes]    Script Date: 27/11/2025 11:47:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_GET_ListAllDutiesWithProgrammes]
@bst INT,
@teamID INT,
@staffnumber VARCHAR(7)
AS
BEGIN
	SET NOCOUNT ON;
	IF @bst = 1

       SELECT DISTINCT duty,
	          description,
			  ID,
			  CASE WHEN DutySkillCount = StaffDutyFlagCount THEN 1 ELSE 0 END StaffDutyFlag
	    FROM
       (
		select SD.duty,
		       Sd.description,
			   SD.ID,
			   COUNT(SDPL.programmes_id) OVER (partition by SD.duty) AS   DutySkillCount,
			   SUM(CASE WHEN SDPL.programmes_id = SF.programmes_id THEN 1 ELSE 0 END)  OVER (partition by SD.duty) AS  StaffDutyFlagCount
		  from skills_duties SD
		 inner join skills_duties_programmes_link SDPL on SDPL.duties_ID = SD.ID
		 inner join skills_programmes SP ON SP.ID = SDPL.programmes_id
		 LEFT JOIN
		  (  SELECT SPSL.programmes_id, SPSL.Staff_id,
		            COUNT(programmes_id) OVER (partition by Staff_id) AS   StaffSkillCount
			 FROM skills_programmes_staff_link SPSL
			 INNER JOIN skills_programmes SP ON SP.ID = SPSL.programmes_id
			 INNER JOIN UserDetails SDS ON SDS.UD_UserID = SPSL.UserID
			 WHERE SDS.UD_StaffNumber= @staffnumber
		   )  SF on SDPL.programmes_id = SF.programmes_id
		   WHERE SD.Teamid = @teamID
		     AND BST=1
		) FD
		ORDER BY duty

	ELSE

       SELECT DISTINCT duty,
	          description,
			  ID,
			  CASE WHEN DutySkillCount = StaffDutyFlagCount THEN 1 ELSE 0 END StaffDutyFlag
	    FROM
       (
		select SD.duty,
		       Sd.description,
			   SD.ID,
			   COUNT(SDPL.programmes_id) OVER (partition by SD.duty) AS   DutySkillCount,
			   SUM(CASE WHEN SDPL.programmes_id = SF.programmes_id THEN 1 ELSE 0 END)  OVER (partition by SD.duty) AS  StaffDutyFlagCount
		  from skills_duties SD
		 inner join skills_duties_programmes_link SDPL on SDPL.duties_ID = SD.ID
		 inner join skills_programmes SP ON SP.ID = SDPL.programmes_id
		 LEFT JOIN
		  (  SELECT SPSL.programmes_id, SPSL.Staff_id,
		            COUNT(programmes_id) OVER (partition by Staff_id) AS   StaffSkillCount
			 FROM skills_programmes_staff_link SPSL
			 INNER JOIN skills_programmes SP ON SP.ID = SPSL.programmes_id
			 INNER JOIN UserDetails SDS ON SDS.UD_UserID = SPSL.UserID
			 WHERE SDS.UD_StaffNumber= @staffnumber
		   )  SF on SDPL.programmes_id = SF.programmes_id
		   WHERE SD.Teamid = @teamID
		     AND SD.GMT=1
		) FD
		ORDER BY duty

END