USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_GetUserTeamList]    Script Date: 2/13/2026 5:34:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER         PROCEDURE [dbo].[usp_get_GetUserTeamList]
	-- Add the parameters for the stored procedure here
	@userID INT = 0,
	@roleid INT = 0,
	@maxAllowedRoleId INT = 99
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @isactive int
	SET @isactive = 1

	IF EXISTS(select 1 
				from UserRoles (NOLOCK) 
				where UR_UserID = @userID 
				 and UR_RoleID = 1
				 and GETDATE() between UR_StartDate and UR_EndDate
				)
		BEGIN
			Select DISTINCT schedulingTeams.schedulingTeamId as TeamID,
						 schedulingTeamName as TeamName,
						 divisionid as  DivisionId,
						 defaultNumberweeksRotaPattern,
						 hasXmasPoints
			from schedulingTeams (NOLOCK)
			 where schedulingTeams.IsActive = 1
			order by schedulingTeamName ASC
		END
	ELSE IF EXISTS (select 1
                  from UserRoles (NOLOCK) ur
				  inner join REF_Roles rr on rr.RoleID = ur.UR_RoleID
				 where ur.UR_UserID = @userID
				   and rr.RoleName = 'Area Admin'
				   and rr.IsActive = 1
				   and GETDATE() between UR_StartDate and UR_EndDate
			    )
		BEGIN
		select
			DISTINCT T2.schedulingTeamId as TeamID,
					 T2.schedulingTeamName as TeamName,
					 ur.UR_DivisionId as DivisionId,
					 T2.defaultNumberweeksRotaPattern,
					 t2.hasXmasPoints
				 from UserRoles  ur
				 inner join schedulingTeams T2 on T2.divisionid = ur.UR_divisionid and T2.isActive = @isactive
				 inner join REF_Roles rr on rr.RoleID = ur.UR_RoleID
				where ur.UR_UserID = COALESCE(@userID,ur.UR_UserID)
				  and rr.RoleName = 'Area Admin'
				  and GETDATE() between UR_StartDate and UR_EndDate
			union
			Select DISTINCT
				T2.schedulingTeamId as TeamID,
				T2.schedulingTeamName as TeamName,
				0 as DivisionId,
				T2.defaultNumberweeksRotaPattern,
				hasXmasPoints
			FROM UserRoles  ur
			inner Join schedulingTeams T2  on T2.schedulingTeamId = ur.UR_SchedulingTeamID and T2.IsActive = @isactive
			WHERE ur.UR_UserID = COALESCE(@userID,ur.UR_UserID)
			  and GETDATE() between ur.UR_StartDate and ur.UR_EndDate
			  and ur.UR_SchedulingTeamID NOT IN (select t4.schedulingTeamId
									  from UserRoles  ur1
										inner join schedulingTeams T4 on T4.divisionid = ur1.UR_DivisionId and T4.isActive = @isactive
										inner join REF_Roles rr on rr.RoleID = ur1.UR_RoleID
									where ur1.UR_UserID = COALESCE(@userID,ur1.UR_UserID)
									  and rr.RoleName = 'Area Admin'
									  and GETDATE() between ur1.UR_StartDate and ur1.UR_EndDate
									)
									AND ur.UR_RoleID < @maxAllowedRoleId
			ORDER BY T2.schedulingTeamName ASC
		END

	  ELSE
		BEGIN
			Select DISTINCT
				T2.schedulingTeamId as TeamID,
				T2.schedulingTeamName as TeamName,
				0 as DivisionId,
				T2.defaultNumberweeksRotaPattern,
				hasXmasPoints
			FROM UserRoles  T1
			 inner Join schedulingTeams T2  on T2.schedulingTeamId = T1.UR_SchedulingTeamID and T2.IsActive = @isactive
			WHERE T1.UR_UserID = COALESCE(@userID,T1.UR_UserID) AND T1.UR_RoleID < @maxAllowedRoleId
			  and GETDATE() between T1.UR_StartDate and T1.UR_EndDate
			ORDER BY T2.schedulingTeamName ASC
		END
 
  END