USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterDutyDetails]    Script Date: 02/09/2025 18:48:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_mod_MasterDutyDetails]
@dutyid				INT,
@teamid				INT,
@areaid				INT,
@dutytypeid			INT,
@dutyname			VARCHAR(60),
@duration			INT,
@window				INT,
@starttime			INT,
@endtime			INT,
@startyear          INT,
@endyear            INT,
@startweekno		INT,
@endweekno			INT,
@dutycolourid		INT,
@backcolour			VARCHAR(10),
@forecolour			VARCHAR(10),
@monday				INT,
@tuesday			INT,
@wednesday			INT,
@thursday			INT,
@friday				INT,
@saturday			INT,
@sunday				INT,
@lastmoddate		VARCHAR(30),
@currentuserid		INT,
@currentuser		VARCHAR(200),
@history			VARCHAR(2000),
@status				TINYINT OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT,
@BreakTime			INT,
@LabelId			INT,
@isNightDuty		INT,
@LabelID2           INT,
@LabelID3           INT,
@LabelID4           INT,
@LabelID5           INT,
@LabelID6           INT,
@IsNeedCovering     BIT,
@IsOverrideOver12   BIT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	set dateformat ymd

	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int
	DECLARE @UpdateDateTime datetime
	DECLARE @strUpdateDateTime varchar(35)
	DECLARE @TmpHistory varchar(MAX)
	DECLARE @DOTW varchar(100)
	DECLARE @isactive int
	DECLARE @newdutyid int
	DECLARE @oldteamid int
	DECLARE @RowNum1 int
	DECLARE @startdate VARCHAR(60)
	DECLARE @enddate	VARCHAR(60)
	DECLARE @startweek int
	declare @endweek INT, @Insertlinktables int;
	DECLARE @minStartTime INT
	DECLARE @maxEndTime INT, @divisionId INT;

	SET @DOTW = ''
	SET @status = 1
	SET @returnstring = 'Duty added successfully'
	SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 103) + ' at ' + SUBSTRING(CONVERT(VARCHAR, @UpdateDateTime, 108), 1, 5)

	IF @saturday > 0
		SET @DOTW = @DOTW + '0,'
	IF @sunday > 0
		SET @DOTW = @DOTW + '1,'
	IF @monday > 0
		SET @DOTW = @DOTW + '2,'
	IF @tuesday > 0
		SET @DOTW = @DOTW + '3,'
	IF @wednesday > 0
		SET @DOTW = @DOTW + '4,'
	IF @thursday > 0
		SET @DOTW = @DOTW + '5,'
	IF @friday > 0
		SET @DOTW = @DOTW + '6,'
	IF @DOTW <> ''
		SET @DOTW = LEFT(@DOTW, LEN(@DOTW) -1)

	-- set start week and end week
	IF @startweekno > 9
		SET @startweek = cast( @startyear as  VARCHAR(10))  +''+ CAST(@startweekno AS VARCHAR(10) )
	ELSE
		SET @startweek = cast( @startyear as  VARCHAR(10))  +'0'+ CAST(@startweekno AS VARCHAR(10) )
	IF @endweekno > 9
		SET  @endweek = cast( @endyear as  VARCHAR(10))  +''+ CAST(@endweekno AS VARCHAR(10) )
	ELSE
		SET  @endweek = cast( @endyear as  VARCHAR(10))  +'0'+ CAST(@endweekno AS VARCHAR(10) )

	IF(convert(INT, @startweek) > convert(INT, @endweek))	
	BEGIN
		SET @returnstring = 'Please ensure that Available From Week should be less than Available To Week.';
		SET @status = 0
	END
	--set start week
	 SELECT @startdate = MIN(DDATETIME) FROM TimeDimension WHERE ixYearWeek = @startweek
	 SELECT @enddate = MAX(DDATETIME) FROM TimeDimension WHERE ixYearWeek = @endweek

	if (@starttime > @endtime)
	BEGIN
		set @endtime = (@endtime + 86400);
	END
	IF((@endtime - @starttime) < @BreakTime)
	BEGIN
	SET @returnstring = 'Break time should not be greater than duration.';
	SET @status = 0
	select @status status, @returnstring returnstring
	RETURN;
	END
	IF(@dutycolourid is null or @dutycolourid = '')
	BEGIN
		select @dutycolourid = T1.MasterDutyColourID, @divisionId = T1.DivisionID 
		 from schedulingTeams SD 
		 INNER JOIN REF_MasterDutyColours T1 ON T1.DivisionID=SD.divisionId 
		 where SD.schedulingTeamId=@teamid and T1.IsDefaultColour=1
		IF(@dutycolourid is null or @dutycolourid = '')
		BEGIN
			SET @returnstring = 'Default duty colour is not set for the division of this team so please set default duty colour.';
			SET @status = 0
			select @status status, @returnstring returnstring
			RETURN;
		END
	END
	ELSE
	BEGIN
		select @divisionId = T1.DivisionID 
		from schedulingTeams SD INNER JOIN REF_MasterDutyColours T1 ON T1.DivisionID=SD.divisionId 
		where SD.schedulingTeamId=@teamid and T1.IsDefaultColour=1
	END
	IF EXISTS(select 1 
	from MasterDuties
	 where MasterDutyID = @dutyid and IsActive = 1 and (convert(date,StartDate) != convert(date,@startdate) or convert(date,EndDate) != convert(date,@enddate)))
	BEGIN
		set @Insertlinktables = 1;
	END
	ELSE
	BEGIN
		set @Insertlinktables = 0;
	END

	if (@Insertlinktables = 1)
	BEGIN
		UPDATE MR
		SET MR.isExported=0
		FROM MasterRotas MR INNER JOIN RotaDuties RD (NOLOCK) ON RD.MasterDutyID = @dutyid AND MR.RotaID = RD.RotaID WHERE MR.isExported != 0
	END
	-- CHECK Name available
	SELECT @RowNum1  = count(MasterDutyID) 
	 FROM MasterDuties 
	WHERE (MasterDutyID != @dutyid 
	  and DutyName = @dutyname 
	  and IsActive = 1 
	  and DutyTypeID = @dutytypeid 
	  and TeamID = @teamid)

	IF @RowNum1 > 0
	BEGIN
		SET @returnstring = 'Master Duty Already Exist';
		SET @status = 0
		select @status status, @returnstring returnstring
		RETURN;
	END

	SELECT @RowNum = count(MasterDutyID) FROM MasterDuties WHERE (MasterDutyID = @dutyid)
	IF @dutyid = 0
	BEGIN
		IF @RowNum > 0
		BEGIN
			SET @status = 0
			select @status status, @returnstring returnstring
			RETURN
		END
		ELSE
		BEGIN
			SET @TmpHistory = 'Created by ' + @currentuser + ' on ' + @strUpdateDateTime

			--Insert new MasterDuties record
			INSERT INTO MasterDuties(AreaID,DutyName, DutyTypeID, Duration, WindowDuration, StartTime, EndTime,
			            StartWeek,EndWeek,StartDate,EndDate, Saturday, Sunday, Monday, Tuesday, Wednesday,
						Thursday, Friday, dotw, DutyColourID, BackColour, ForeColour, IsActive, CreatedBy, 
						CreatedDate, LastModBy, LastModDate, History, TeamID, BreakTime, IsNightShift,
						DutyProgramId1,DutyProgramId2,DutyProgramId3,DutyProgramId4,DutyProgramId5,DutyProgramId6,
						IsNeedCovering,IsOverrideOver12)
			VALUES (@areaid,@dutyname, @dutytypeid, @duration, @window, @starttime, @endtime,@startweek,
			        @endweek,@startdate,@enddate, 
			        @saturday, @sunday, @monday, @tuesday, @wednesday, @thursday, @friday,
					@dotw, @dutycolourid, @backcolour, @forecolour, 1, @currentuserid, 
					@UpdateDateTime, @currentuserid, 
					@UpdateDateTime, @TmpHistory, @teamid, @BreakTime,  @isNightDuty,
					@LabelId, @LabelID2, @LabelID3, @LabelID4, @LabelID5, @LabelID6,
					@IsNeedCovering,@IsOverrideOver12)

            select @status status, @returnstring returnstring
			RETURN;
END
END
ELSE
BEGIN
		DECLARE @prevDutyName VARCHAR(MAX), @prevColorBg VARCHAR(200), @prevLabelName NVARCHAR(50)
		DECLARE @prevBreakDuration INT, @prevStartTime INT, @prevEndTIme INT, @prevLabelId INT, 
		@prevDutyColorId INT, @prevDutyAvailableFrom INT, 
		@prevDutyAvailableTo INT,@prevSaturday INT, @prevSunday INT, @prevMonday INT, @prevTuesday INT, 
		@prevWednesday INT, @prevThursday INT, 
		@prevFriday INT, @prevSumOfDays INT, @newSumOfDays INT,
	    @prevLabelId2 INT, @prevLabelId3 INT,@prevLabelId4 INT,@prevLabelId5 INT, @prevLabelId6 INT,
	    @prevLabelName2 NVARCHAR(50), @prevLabelName3 NVARCHAR(50), @prevLabelName4 NVARCHAR(50),
		@prevLabelName5 NVARCHAR(50), @prevLabelName6 NVARCHAR(50),
		@prevIsNeedCovering BIT, @PrevIsOverrideOver12 BIT;

		SELECT  @prevDutyName = DutyName, 
		        @prevBreakDuration = BreakTime, 
				@prevStartTime = StartTime, 
				@prevEndTIme = EndTime, 
				@prevLabelId = isNull(DutyProgramId1, ''), 
				@prevLabelId2 = isNull(DutyProgramId2, ''), 
				@prevLabelId3 = isNull(DutyProgramId3, ''), 
				@prevLabelId4 = isNull(DutyProgramId4, ''), 
				@prevLabelId5 = isNull(DutyProgramId5, ''), 
				@prevLabelId6 = isNull(DutyProgramId6, ''), 
				@prevDutyColorId = isNull(DutyColourID, ''), 
				@prevDutyAvailableFrom = StartWeek,
				@prevDutyAvailableTo = EndWeek , 
				@prevColorBg = isNull(MDC.ColourBackground, ''), 
				@prevLabelName =  PG.Programme, 
				@prevLabelName2 =  PG2.Programme,
				@prevLabelName3 =  PG3.Programme,
				@prevLabelName4 =  PG4.Programme,
				@prevLabelName5 =  PG5.Programme,
				@prevLabelName6 =  PG6.Programme,
				@prevIsNeedCovering = IsNeedCovering,
				@PrevIsOverrideOver12 = IsOverrideOver12,
				@prevSaturday = Saturday, @prevSunday = Sunday, @prevMonday = Monday,
				@prevTuesday = Tuesday, @prevWednesday = Wednesday, @prevThursday = Thursday, 
				@prevFriday = Friday, 
				@prevSumOfDays = (Saturday + Sunday + Monday + Tuesday + Wednesday + Thursday + Friday),
				@newSumOfDays = (@saturday + @sunday + @monday + @tuesday + @wednesday + @thursday + @friday)
		   FROM MasterDuties MD
		   LEFT JOIN Programmes PG ON PG.ID = MD.DutyProgramId1
		   LEFT JOIN Programmes PG2 ON PG2.ID = MD.DutyProgramId2
		   LEFT JOIN Programmes PG3 ON PG3.ID = MD.DutyProgramId3
		   LEFT JOIN Programmes PG4 ON PG4.ID = MD.DutyProgramId4
		   LEFT JOIN Programmes PG5 ON PG5.ID = MD.DutyProgramId5
		   LEFT JOIN Programmes PG6 ON PG6.ID = MD.DutyProgramId6
		   LEFT JOIN REF_MasterDutyColours MDC ON MDC.MasterDutyColourID = MD.DutyColourID
		  WHERE MD.MasterDutyID = @dutyid 
		    AND MD.IsActive = 1

		SET @TmpHistory = '';

		IF @prevDutyName != @dutyname
		BEGIN
			SET @TmpHistory = @TmpHistory + 'Duty Name changed by ' + @currentuser + ' on ' + @strUpdateDateTime + ' From ' + @prevDutyName + ' To ' + @dutyname
		END
		IF @prevBreakDuration != @BreakTime
		BEGIN
			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'
			SET @TmpHistory = @TmpHistory + 'Break Time amended by ' + @currentuser + ' on ' + @strUpdateDateTime 
			+ ' From ' + RIGHT('00'+CONVERT(VARCHAR(10), @prevBreakDuration / 3600),2) + ':' + RIGHT('00'+CONVERT(VARCHAR(2),(@prevBreakDuration % 3600)/60),2) + ' To ' 
			+ RIGHT('00'+CONVERT(VARCHAR(10),@BreakTime / 3600),2) + ':' + RIGHT('00'+CONVERT(VARCHAR(2),(@BreakTime % 3600)/60),2)
		END
		IF @prevStartTime != @starttime
		BEGIN
			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'
			SET @TmpHistory = @TmpHistory + 'Start Time amended by ' + @currentuser + ' on ' + @strUpdateDateTime 
			+ ' From ' + RIGHT('00'+CONVERT(VARCHAR(10),@prevStartTime / 3600),2) + ':' 
			+ RIGHT('00'+CONVERT(VARCHAR(2),(@prevStartTime % 3600)/60),2) + ' To ' 
			+ RIGHT('00'+CONVERT(VARCHAR(10),@starttime / 3600),2) + ':' + RIGHT('00'+CONVERT(VARCHAR(2),(@starttime % 3600)/60),2)
		END

		IF @prevEndTIme != @endtime
		 BEGIN
			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'
				SET @TmpHistory = @TmpHistory +
					'End Time amended by ' + @currentuser + ' on ' + @strUpdateDateTime +
							' From '+right('0'+CAST( isnull(case when @prevEndTIme > 86400 THEN @prevEndTIme - 86400 ELSE @prevEndTIme END ,0) / 3600 AS varchar(2)),2) + ':'  
							 + right('0' + CAST( (isnull(case when @prevEndTIme > 86400 THEN @prevEndTIme - 86400 ELSE @prevEndTIme END,0) % 3600)/60 AS varchar(2)),2)+' To '
							 + right('0'+CAST( isnull(case when @EndTIme > 86400 THEN @EndTIme - 86400 ELSE @EndTIme END,0) / 3600 AS varchar(2)),2) + ':'  
							 + right('0' + CAST( (isnull(case when @EndTIme > 86400 THEN @EndTIme - 86400 ELSE @EndTIme END,0) % 3600)/60 AS varchar(2)),2)
						
		 END

		IF @prevLabelId != @LabelId
		BEGIN

			IF (LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			DECLARE @newLabelName NVARCHAR(50)

			IF(@prevLabelId = 0)
				SET @prevLabelName = ' '
			IF(@LabelId = 0)
				SET @newLabelName = ' '
			ELSE				
				select @newLabelName = Programme from Programmes where ID = @LabelId

			SET @TmpHistory = @TmpHistory + 'Duty Label Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' + ISNULL(@prevLabelName,'') 
			+ ' To ' + ISNULL(@newLabelName,'')

		END

		IF @prevLabelId2 != @LabelID2
		BEGIN

			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			DECLARE @newLabelName2 NVARCHAR(50)

			IF(@prevLabelId2 = 0)
				SET @prevLabelName2 = ' '
			IF(@LabelID2 = 0)
				SET @newLabelName2 = ' '
			ELSE				
				select @newLabelName2 = Programme from Programmes where ID = @LabelID2

			SET @TmpHistory = @TmpHistory + 'Duty Label Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' + ISNULL(@prevLabelName2,'') 
			+ ' To ' + ISNULL(@newLabelName2,'')

		END

		IF @prevLabelId3 != @LabelID3
		BEGIN

			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			DECLARE @newLabelName3 NVARCHAR(50)

			IF(@prevLabelId3 = 0)
				SET @prevLabelName3 = ' '
			IF(@LabelID3 = 0)
				SET @newLabelName3 = ' '
			ELSE				
				select @newLabelName3 = Programme from Programmes where ID = @LabelID3

			SET @TmpHistory = @TmpHistory + 'Duty Label Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' + ISNULL(@prevLabelName3,'') 
			+ ' To ' + ISNULL(@newLabelName3,'')

		END

		IF @prevLabelId4 != @LabelID4
		BEGIN

			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			DECLARE @newLabelName4 NVARCHAR(50)

			IF(@prevLabelId4 = 0)
				SET @prevLabelName4 = ' '

			IF(@LabelID4 = 0)
				SET @newLabelName4 = ' '
			ELSE				
				select @newLabelName4 = Programme from Programmes where ID = @LabelID4

			SET @TmpHistory = @TmpHistory + 'Duty Label Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' + ISNULL(@prevLabelName4,'') 
			+ ' To ' + ISNULL(@newLabelName4,'')

		END

		IF @prevLabelId5 != @LabelID5
		BEGIN

			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			DECLARE @newLabelName5 NVARCHAR(50)

			IF(@prevLabelId5 = 0)
				SET @prevLabelName5 = ' '
			IF(@LabelID5 = 0)
				SET @newLabelName5 = ' '
			ELSE				
				select @newLabelName5 = Programme from Programmes where ID = @LabelID5

			SET @TmpHistory = @TmpHistory + 'Duty Label Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' + ISNULL(@prevLabelName5,'') 
			+ ' To ' + ISNULL(@newLabelName5,'')

		END

		IF @prevLabelId6 != @LabelID6
		BEGIN

			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			DECLARE @newLabelName6 NVARCHAR(50)

			IF(@prevLabelId6 = 0)
				SET @prevLabelName6 = ' '
			IF(@LabelID6 = 0)
				SET @newLabelName6 = ' '
			ELSE				
				select @newLabelName6 = Programme from Programmes where ID = @LabelID6

			SET @TmpHistory = @TmpHistory + 'Duty Label Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' + ISNULL(@prevLabelName6,'') 
			+ ' To ' + ISNULL(@newLabelName6,'')

		END

		IF @prevIsNeedCovering != @IsNeedCovering
		BEGIN

			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			SET @TmpHistory = @TmpHistory + 'Need Covering Flag Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' 
			+ case when @prevIsNeedCovering = 1 then 'Yes' else 'No' end
			+ ' To ' 
			+ case when @IsNeedCovering = 1 then 'Yes' else 'No' end

		END

		IF @PrevIsOverrideOver12 != @IsOverrideOver12
		BEGIN

			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'

			SET @TmpHistory = @TmpHistory + 'Override Over12 Flag Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' 
			+ case when @PrevIsOverrideOver12 = 1 then 'Yes' else 'No' end
			+ ' To ' 
			+ case when @IsOverrideOver12 = 1 then 'Yes' else 'No' end

		END


		IF @prevDutyColorId != @dutycolourid
		BEGIN
			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'
			DECLARE @newColorBg VARCHAR(200)
			SELECT @newColorBg = ColourBackground FROM REF_MasterDutyColours WHERE MasterDutyColourID = @dutycolourid
			SET @TmpHistory = @TmpHistory + 'Duty Colour Changed by ' 
			+ @currentuser + ' on ' + @strUpdateDateTime + ' From <span style="background-color:#' 
			+ @prevColorBg + '">&nbsp;&nbsp;&nbsp;&nbsp;</span> To <span style="background-color:#' 
			+ @newColorBg + '">&nbsp;&nbsp;&nbsp;&nbsp;</span>'
		END

		IF @prevDutyAvailableFrom != @startweek
		BEGIN
			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'
			SET @TmpHistory = @TmpHistory + 'Duty Available From Changed by ' + @currentuser + ' on ' 
			+ @strUpdateDateTime + ' From ' + SUBSTRING(CAST(@prevDutyAvailableFrom AS VARCHAR), 1, 4) 
			+ '/' + SUBSTRING(CAST(@prevDutyAvailableFrom AS VARCHAR), 5, 6) + ' To ' 
			+ SUBSTRING(CAST(@startweek AS VARCHAR), 1, 4) + '/' + SUBSTRING(CAST(@startweek AS VARCHAR), 5, 6)
		END
		IF @prevDutyAvailableTo != @endweek
		BEGIN
			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'
			SET @TmpHistory = @TmpHistory + 'Duty Available To Changed by ' + @currentuser + ' on ' + @strUpdateDateTime 
			+ ' From ' + SUBSTRING(CAST(@prevDutyAvailableTo AS VARCHAR), 1, 4) + '/' 
			+ SUBSTRING(CAST(@prevDutyAvailableTo AS VARCHAR), 5, 6) + ' To ' + SUBSTRING(CAST(@endweek AS VARCHAR), 1, 4) 
			+ '/' +SUBSTRING(CAST(@endweek AS VARCHAR), 5, 6)
		END
		IF @prevSumOfDays != @newSumOfDays
		BEGIN
			IF(LEN(@TmpHistory) > 10)
				SET @TmpHistory = @TmpHistory + '<BR/>'
			SET @TmpHistory = @TmpHistory + 'Allocations Per Day Changed by ' + @currentuser + ' on ' + @strUpdateDateTime + ' From ' 
			IF @prevSaturday != @saturday
				SET @TmpHistory = @TmpHistory + ' Saturday :' + cast(@prevSaturday as varchar) + ' TO ' + cast(@saturday as varchar)
			IF @prevSunday != @sunday
				SET @TmpHistory = @TmpHistory + ' Sunday :' + cast(@prevSunday as varchar) + ' TO ' + cast(@sunday as varchar)
			IF @prevMonday != @monday
				SET @TmpHistory = @TmpHistory + ' Monday :' + cast(@prevMonday as varchar) + ' TO ' + cast(@monday as varchar)
			IF @prevTuesday != @tuesday
				SET @TmpHistory = @TmpHistory + ' Tuesday :' + cast(@prevTuesday as varchar) + ' TO ' + cast(@tuesday as varchar)
			IF @prevWednesday != @wednesday
				SET @TmpHistory = @TmpHistory + ' Wednesday :' + cast(@prevWednesday as varchar) + ' TO ' + cast(@wednesday as varchar)
			IF @prevThursday != @thursday
				SET @TmpHistory = @TmpHistory + ' Thursday :' + cast(@prevThursday as varchar) + ' TO ' + cast(@thursday as varchar)
			IF @prevFriday != @friday
				SET @TmpHistory = @TmpHistory + ' Friday :' + cast(@prevFriday as varchar) + ' TO ' + cast(@friday as varchar)
		END
		--SET @TmpHistory = 'Updated by ' + @currentuser + ' on ' + @strUpdateDateTime
		If ISNULL(@history,'') <> ''
			SET @TmpHistory = @TmpHistory + @history

		IF @RowNum = 0
			SET @status = 2
		ELSE
BEGIN
SET @returnstring = 'Duty edited successfully'

select @minStartTime = MJ.StartTime 
from MasterJobs MJ 
LEFT JOIN MasterDutiesMasterJobs_LINK MDMJL on MJ.MasterJobID = MDMJL.MasterJobID
WHERE MDMJL.MasterDutyID = @dutyid and MJ.IsActive = 1 
order by MJ.StartTime OFFSET 0 
ROWS FETCH NEXT 1 ROW ONLY;

select @maxEndTime = MJ.EndTime 
from MasterJobs MJ 
LEFT JOIN MasterDutiesMasterJobs_LINK MDMJL on MJ.MasterJobID = MDMJL.MasterJobID
WHERE MDMJL.MasterDutyID = @dutyid 
and MJ.IsActive = 1 
order by MJ.EndTime desc OFFSET 0 
ROWS FETCH NEXT 1 ROW ONLY;

IF (@minStartTime < @starttime)
BEGIN
	IF(@maxEndTime < 86400 and @endtime < 86400)
	BEGIN
		SET @returnstring = 'Duty Start Time should not be later than the Start Time of the first job. Please select a time at or before '+
		format(convert(Int, CONVERT(varchar(10),(@minStartTime / 3600))), '0#') + ':' + format(convert(Int, CONVERT(varchar(10),(@minStartTime % 3600) / 60)), '0#');
		SET @status = 0
		select @status status, @returnstring returnstring
		RETURN;
	END
END
IF @maxEndTime > @endtime
BEGIN
	IF(@maxEndTime < 86400 and @endtime < 86400)
	BEGIN
		SET @returnstring = 'Duty End Time should not be before the End Time of the last job. Please select a time at or after '+
		format(convert(Int, CONVERT(varchar(10),(@maxEndTime / 3600))), '0#') + ':' 
		+ format(convert(Int, CONVERT(varchar(10),(@maxEndTime % 3600) / 60)), '0#');
		SET @status = 0
		select @status status, @returnstring returnstring
		RETURN;
	END
END
IF(convert(INT, @startweek) > convert(INT, @endweek))	
	BEGIN
		SET @returnstring = 'Please ensure that Available From Week should be less than Available To Week.';
		SET @status = 0
		select @status status, @returnstring returnstring
		RETURN;
	END
		UPDATE MasterDuties
		SET Duration = @duration,
			DutyName = @dutyname,
			WindowDuration = @window,
			StartTime = @starttime,
			EndTime = @endtime,
			StartWeek = @startweek,
			EndWeek = @endweek,
			StartDate =  CAST(@startdate AS DATE),
			EndDate =  CAST(@enddate AS DATE),
			Saturday = @saturday,
			Sunday = @sunday,
			Monday = @monday,
			Tuesday = @tuesday,
			Wednesday = @wednesday,
			Thursday = @thursday,
			Friday = @friday,
			dotw = @dotw,
			DutyColourID = @dutycolourid,
			BackColour = @backcolour,
			ForeColour = @forecolour,
			LastModDate = @UpdateDateTime,
			LastModBy = @currentuserid,
			BreakTime = @BreakTime,
			IsNightShift = @isNightDuty,
			DutyProgramId1 = @LabelId,
			DutyProgramId2 = @LabelId2,
			DutyProgramId3 = @LabelId3,
			DutyProgramId4 = @LabelId4,
			DutyProgramId5 = @LabelId5,
			DutyProgramId6 = @LabelId6,
			IsNeedCovering = @IsNeedCovering,
			IsOverrideOver12 = @IsOverrideOver12,
			History = ISNULL(History,'') + '<BR/>'+ CHAR(13) + CHAR(10) + @TmpHistory
		WHERE MasterDutyID = @dutyid

	-- Update Rota Duties table start and end date
	update RotaDuties
	   set StartDate =  CAST(@startdate AS DATE), 
		    EndDate = CAST(@enddate AS DATE)
	where Masterdutyid = @dutyid

	-- Update Allocation record on exported rota table
	Update Exported_rota
	   set DutyStartDate = @startdate, 
	       DutyEndDate = @enddate
	 where MasterDutyID = @dutyid

	select @status status, @returnstring returnstring
	RETURN;
END
END
END