USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Update_DutyAccPeriodSummary]    Script Date: 24/06/2025 11:48:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER             PROCEDURE  [dbo].[usp_Update_DutyAccPeriodSummary]
@pDutyDate     				DATE,
@pScheduledPersonID      	INT,
@pOldDuration				INT = NULL,
@pNewDuration				INT = NULL,
@pOldOverTimeHrs			INT = NULL,
@pNewOverTimeHrs			INT = NULL,
@pNetLogin           		VARCHAR(30)
AS

BEGIN

   SET NOCOUNT ON;
   SET DATEFORMAT YMD;

   DECLARE    @vuserID        INT;

   select @vuserID = UD_UserID
     from [UserDetails]  (NOLOCK)
    where UD_NetLogin = @pNetLogin

     BEGIN TRY
        BEGIN TRANSACTION

			 UPDATE AccPeriodDutySummary
			    SET APD_AccPeriodDuration = APD_AccPeriodDuration - ISNULL(@pOldDuration,0) + ISNULL(@pNewDuration,0),
					APD_AccPeriodDays = CASE WHEN (ISNULL(@pOldDuration,0) = ISNULL(@pNewDuration,0)
													OR ( ISNULL(@pOldDuration,0) > 0 AND ISNULL(@pNewDuration,0) > 0 ))
											 THEN APD_AccPeriodDays
											 WHEN ISNULL(@pOldDuration,0) = 0 AND ISNULL(@pNewDuration,0) > 0
											 THEN APD_AccPeriodDays + 1
											 WHEN ISNULL(@pOldDuration,0) > 0 AND ISNULL(@pNewDuration,0) = 0
												  AND APD_AccPeriodDays > 0
											 THEN APD_AccPeriodDays - 1
										 END,
					APD_TotalOverTimeHRS = APD_TotalOverTimeHRS - ISNULL(@pOldOverTimeHrs,0) + ISNULL(@pNewOverTimeHrs,0),
					APD_UpdatedBy = @vuserID,
					APD_UpdatedDate = getutcdate()
			  WHERE APD_ScheduledPersonID = @pScheduledPersonID
			    AND @pDutyDate between APD_AccPeriodStartDate AND APD_AccPeriodEndDate;

		 -- Create ROTA duration Summary End


        IF ( @@TRANCOUNT  > 0 )
         BEGIN
           COMMIT  TRANSACTION
         END

		SELECT 0 as SPExecStatus,
			   'Success' as SPMessage

     END TRY

        BEGIN CATCH

          IF ( @@TRANCOUNT  > 0 )
           BEGIN
             ROLLBACK  TRANSACTION
		   END

		 INSERT INTO ErrorLog
		        (ErrorNumber,
				 ErrorState,
				 ErrorSeverity,
				 ErrorProcedure,
				 ErrorLine,
				 ErrorMessage,
				 ErrorDateTime,
				 UserName
				)
         SELECT ERROR_NUMBER() AS ErrorNumber,
                ERROR_STATE() AS ErrorState,
				ERROR_SEVERITY() AS ErrorSeverity,
				ERROR_PROCEDURE() AS ErrorProcedure,
				ERROR_LINE() AS ErrorLine,
				ERROR_MESSAGE() AS ErrorMessage,
				getutcdate(),
				@vuserID

		 SELECT @@IDENTITY as SPExecStatus,
			    ERROR_MESSAGE() as SPMessage

        END CATCH;

END