USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MarkUnmarkAttentionAllocation]    Script Date: 14/07/2022 17:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_mod_MarkUnmarkAttentionAllocation] 
	-- Add the parameters for the stored procedure here
	@allocationId INT,
	@isAttention INT,
	@userId INT,
	@username VARCHAR(100),
	@status	 INT OUTPUT,
	@returnstring VARCHAR(1000) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @History VARCHAR(500) ='',
	@text char(20);
	
	 BEGIN TRANSACTION
        BEGIN TRY
		-- UPDATE statements for procedure here
		UPDATE Allocations SET isAttention = @isAttention WHERE ID = @allocationId;
		if(@isAttention=1)
		BEGIN
		SET @History ='Marked for Attention by '+ @username + ' on '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm');
		SET @text='Marked for Attention';
		END
		ELSE
		BEGIN
	
		SET @History ='Unmarked for Attention by '+ @username + ' on '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm');
		SET @text='Unmarked for Attention';
		END

		EXEC [usp_mod_AllocationHistory] @allocationId,8,@userId,@History,1;
	COMMIT TRANSACTION
	SET @returnstring = 'Duty '+@text+' sucessfully!';
	SET @status = 1;
	SELECT @status strstatus, @returnstring strsmsg;
	return
		END TRY
		BEGIN CATCH
	RoLLBACK TRANSACTION
	SET @returnstring = 'Oops! Some Error Found.';
	SET @status = 0;
	SELECT @status strstatus, @returnstring strsmsg;
	return
	END CATCH
END
GO
