USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Del_ShiftLeader]    Script Date: 05/07/2021 19:02:16 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Del_ShiftLeader]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_Del_ShiftLeader]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Author:		Arvind Kumar
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_Del_ShiftLeader]
@id		INT,
@status				VARCHAR(20) OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT
--@errormessage		NVARCHAR(MAX) OUTPUT
AS
BEGIN	
		SET NOCOUNT ON;
		DECLARE @err int
		DECLARE @rows int
		DECLARE @RowNum int
		SET @status = 'success'
		SET @returnstring = 'Shiftleader record has been deleted successfully.'
		 BEGIN TRANSACTION
		if (@id >0)
	Begin
		UPDATE      shiftleadertypes
             set Active = Active ^ 1
             WHERE            (ID = @id);

		SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
		BEGIN
			ROLLBACK TRANSACTION
			SET @status = 'error'
			SET @returnstring = 'Error updating the shiftleader data.'
			SELECT @status strstatus , @returnstring strreturnstring;
			RETURN ;
		END
		IF @rows = 0 
		BEGIN
			ROLLBACK TRANSACTION
			SET @status = 'error'
			SET @returnstring = 'Error updating the shiftleader Details.'
			SELECT @status strstatus , @returnstring strreturnstring;
			RETURN ;
		END
			SET @returnstring = 'Shiftleader record has been updated successfully.'
	End


		COMMIT TRANSACTION

		 SELECT @status strstatus , @returnstring strreturnstring
END
	
GO
