USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_fetch_RequestHistory]    Script Date: 06/08/2025 19:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER   PROCEDURE [dbo].[usp_fetch_RequestHistory]
	-- Add the parameters for the stored procedure here
	@intID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	Requests.dDate,
			Requests.History,
			ud.UD_DisplayName AS FullName
		FROM Requests (nolock) 
		INNER join UserDetails ud(nolock) on ud.UD_UserID=Requests.ScheduledPersonID
		--INNER JOIN ScheduledPeople as sp (Nolock) ON sp.ScheduledPersonID =Requests.ScheduledPersonID  
		--LEFT JOIN StaffDetails as Staff (Nolock) ON staff.StaffID = sp.StaffDetailsID
		WHERE Requests.ID = @intID
END