USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_copy_AllocationToAllocationEdit]    Script Date: 10/11/2021 13:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_copy_AllocationToAllocationEdit]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '
--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_copy_AllocationToAllocationEdit]
@ID INT

AS
BEGIN
  SET NOCOUNT ON;
  DECLARE @allocEditId INT

  INSERT INTO Allocations_edit(DutyName,Duration,WeekNumber,iDay,StartTime,EndTime,AllocationID,isEditable,edited,SchedulingTeamId,SchedulingPersonID,DutyDate,StartDate,EndDate,IsAttention,dutyProgramId,dutyBreakTime,dutyColorId,MasterDutyId,AdhocDuty,MarkedOvertime,MarkedSickness,isRequest)
  SELECT DutyName,Duration,WeekNumber,iDay,StartTime,EndTime,ID,1,1,SchedulingTeamId,SchedulingPersonID,DutyDate,StartDate,EndDate,isAttention,dutyProgramId,dutyBreakTime,dutyColorId,MasterDutyId,AdhocDuty,MarkedOvertime,MarkedSickness,isRequest FROM Allocations WHERE ID = @ID

  SELECT TOP 1 @allocEditId = ID FROM Allocations_edit WHERE AllocationID = @ID ORDER BY ID DESC
  IF(@allocEditId > 0)
    return @allocEditId
  ELSE
    return 0
END
'

EXEC dbo.sp_executesql @strSQL

GO