USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_LinkSkillProgramWithTeam]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_LinkSkillProgramWithTeam]
GO
/****** Object:  StoredProcedure [dbo].[usp_LinkSkillProgramWithTeam]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 08/07/2021
-- Description:	SP to Link Skill Program with Team.
-- =============================================
CREATE PROCEDURE [dbo].[usp_LinkSkillProgramWithTeam]
@prog Varchar(200),
@intTeamID INT
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO skills_programmes
              (programmename, TeamID)
              VALUES (@prog,@intTeamID)
    
END
GO
