USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_LockRealeasedays]    Script Date: 29/03/2022 01:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_LockRealeasedays]
@intTeamId INT,
@strDate VARCHAR(22)
AS
BEGIN
	SET NOCOUNT ON;

	BEGIN
		SELECT status
            FROM  released_days
            WHERE (dDate = CONVERT(DATETIME, @strDate, 102))
            AND (SchedulingTeamId = @intTeamId)
	END
END
GO
