USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_DailyAllocationLockStatus]    Script Date: 23/05/2023 14:27:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  OR   ALTER   PROCEDURE [dbo].[usp_get_DailyAllocationLockStatus]
@SchedulingTeamId      VARCHAR(200),
@startDate             VARCHAR(20),
@endDate               VARCHAR(20)
AS
BEGIN

	SET NOCOUNT ON;
	
    SET DATEFORMAT YMD
	
    SET @SchedulingTeamId = replace(replace(replace(@SchedulingTeamId,'spl.TeamID IN',''),'(',''),')','')

	BEGIN

                    SELECT WeekNumber,
						   iDay,
						   schedulingTeamId,
						   DutyDate,
						   CASE WHEN DutyDate = ReleasedDate THEN 0 
							    WHEN DutyDate = LockedDate   THEN 1
							    ELSE 2 END AS ManualLock,
						   CASE WHEN DutyDate between ISNULL(ReleasedDate,EditingStartDate) AND ISNULL(ReleasedDate,EditingEndDate)
								 AND DutyDate <> ISNULL(LockedDate,DATEADD(Day,1,DutyDate))
								THEN 1 ELSE 0 END AS LockStatus
					  FROM
							(SELECT td.ixYearWeek WeekNumber,
								   td.ixDayInWeek iDay,
								   CASE WHEN RD."status"=1 THEN CAST(RD.ddate AS DATE) END AS ReleasedDate,
								   CASE WHEN RD."status"= 0 THEN CAST(RD.ddate AS DATE) END AS LockedDate,
								   CASE WHEN DATENAME(WEEKDAY,GETDATE()) = 'Friday'
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 < ST.editingEnd
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND ST.WeekendOnly = 0 AND ST.numberofDaysAllowedEditing > 0 
												  THEN CAST(GETDATE()-1 AS DATE)
								        WHEN DATENAME(WEEKDAY,GETDATE()) = 'Friday'
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE() AS DATE)
										 WHEN DATENAME(WEEKDAY,GETDATE()) = 'Saturday'
										  AND ISNULL(st.restrictedEditing,0) = 1
										  AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE()-1 AS DATE)
										 WHEN DATENAME(WEEKDAY,GETDATE()) = 'Sunday'
										  AND ISNULL(st.restrictedEditing,0) = 1
										  AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE()-2 AS DATE)
										 WHEN DATENAME(WEEKDAY,GETDATE()) = 'Monday'
										  AND ISNULL(st.restrictedEditing,0) = 1
										  AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 < st.editingEnd
										  AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE()-3 AS DATE)											
                                        WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(st.restrictedEditing,0) = 1
										 AND ISNULL(ST.WeekendOnly,0) = 0 
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60  < ST.editingEnd
								        THEN CAST(getdate()-1 AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(restrictedEditing,0) = 1 AND ISNULL(ST.WeekendOnly,0) = 0 
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										THEN CAST(GETDATE() AS DATE)	
										WHEN ST.numberofDaysAllowedEditing > 1 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(restrictedEditing,0) = 1 AND ISNULL(ST.WeekendOnly,0) = 0 
										THEN CAST(GETDATE()+1 AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=0
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
										THEN CAST(GETDATE() AS DATE)																			
									ELSE NULL END AS EditingStartDate,
								   CASE WHEN  ISNULL(st.restrictedEditing,0) = 1 AND ST.WeekendOnly = 1 
				                        THEN CASE WHEN DATENAME(WEEKDAY,getdate()) = 'Friday'
												   AND DATENAME(HH,getdate())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
												  THEN CAST(getdate()+3 AS DATE)
												  WHEN DATENAME(WEEKDAY,getdate()) IN ('Saturday')
												  THEN CAST(getdate()+2 AS DATE)
												  WHEN DATENAME(WEEKDAY,getdate()) IN ('Sunday')
												  THEN CAST(getdate()+1 AS DATE)
												  WHEN DATENAME(WEEKDAY,getdate()) = 'Monday'
												   AND DATENAME(HH,getdate())*3600 +  DATENAME(HH,GETDATE())*60 < st.editingEnd
												  THEN CAST(GETDATE() AS DATE)
											 ELSE NULL END
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.WeekendOnly,0) = 0
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										 AND DATENAME(WEEKDAY,getdate()) = 'Friday'
										THEN CAST(GETDATE()+ CASE WHEN st.numberofDaysAllowedEditing < 3 THEN 3	
																ELSE st.numberofDaysAllowedEditing END							
										                      AS DATE)										  
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.WeekendOnly,0) = 0
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(WEEKDAY,getdate()) in ('Saturday','Sunday')
										THEN CAST(GETDATE()+ 
										                   CASE WHEN DATENAME(WEEKDAY,getdate()) = 'Saturday' AND st.numberofDaysAllowedEditing < 2 THEN 2
																WHEN DATENAME(WEEKDAY,getdate()) = 'Sunday' AND st.numberofDaysAllowedEditing <= 1 THEN 1 	
																ELSE st.numberofDaysAllowedEditing END							
										                      AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
							             AND DATENAME(HH,getdate())*3600 +  DATENAME(HH,GETDATE())*60 < st.editingEnd
										THEN CAST(GETDATE()+st.numberofDaysAllowedEditing-1 AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										THEN CAST(GETDATE()+ CASE WHEN st.numberofDaysAllowedEditing = 1 THEN 1 ELSE st.numberofDaysAllowedEditing-1 END AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=0
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										THEN CAST(GETDATE()+ CASE WHEN st.numberofDaysAllowedEditing = 1 THEN 1 ELSE st.numberofDaysAllowedEditing-1 END AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 
										 AND ISNULL(ST.WeekendOnly,0) = 0  AND ISNULL(st.restrictedEditing,0) = 1
										THEN CAST(GETDATE()+st.numberofDaysAllowedEditing-1 AS DATE)
									ELSE NULL END AS EditingEndDate,
								   CAST(dDateTime AS DATE)  AS DutyDate,
								   st.schedulingTeamId,
								   ST.maskafter,
								   ST.MaskType
							  FROM TimeDimension TD (Nolock)
							  INNER JOIN schedulingTeams ST (Nolock) ON 1=1
							  LEFT JOIN released_days RD (Nolock) ON RD.dDate = TD.dDateTime AND RD.schedulingTeamId=ST.schedulingTeamId
							  WHERE td.dDateTime between CONVERT(DATETIME,@startDate,101) AND CONVERT(DATETIME,@endDate,101)
							  AND ST.schedulingTeamId IN ( select value FROM string_split(@SchedulingTeamId,',') )
							 ) ID 

	END

END