USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_LeaveRequestHistorydata]    Script Date: 07/11/2023 19:04:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_GET_LeaveRequestHistorydata]
@modulename varchar(200),
@netlogin varchar(50)
AS
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
		DECLARE @historytype int

		-- select the history type
		SELECT @historytype = id 
		  FROM HistoryTypes 
		 WHERE HistoryType = @modulename 

		SELECT History,
			   ISNULL(HistorySubType,'CH') as HistorySubType
		  FROM History  HT
		 INNER JOIN Staff_Web_Config_LeaveGroups_Link SW ON SW.ID = HT.AttributeID
		 WHERE HistoryType = @historytype 
		   AND [Login] = @netlogin
		 ORDER BY [datetime] DESC
						
END
GO
