USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_usersystemadmin]    Script Date: 19/09/2025 20:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_mod_usersystemadmin] 
@userid	 int,
@action int,
@currentuserid		INT,
@currentuser		VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;
	SET DATEFORMAT YMD;

	DECLARE @err int,
			@rows int,
			@RowNum int,
			@UpdateDateTime datetime,
			@modulename varchar(200),
			@HistoryStart nvarchar(max),
			@status VARCHAR(20),
			@returnstring	VARCHAR(1000),
			@RoleID INT,
			@historytype int;
	
	SET @status = 'success'
	SET @returnstring = 'System Admin has been created successfully.'
	set @modulename = 'SystemAdmin'

	BEGIN TRANSACTION
	if @action = 1
	  Begin

		INSERT INTO UserRoles(	UR_UserID,
								UR_RoleID,
								UR_StartDate,
								UR_EndDate,
								UR_CreatedBy,
								UR_CreatedDate)
		 SELECT @userid,
				RoleID,
				CAST(GETDATE() AS date),
				'9999-01-01',
				@currentuserid,
				GETDATE()
		   FROM REF_Roles
		  WHERE RoleName = 'System Admin';
		
		SET @HistoryStart  = 'Set as System Administrator role by ' 
			+  @currentuser + ' on ' +  CONVERT(VARCHAR, GETDATE(), 103) 
			+ ' at ' + CONVERT(VARCHAR(5),getdate(),108)  + '.<br>'

        SELECT @err = @@ERROR, @rows = @@ROWCOUNT
					IF @err <> 0 
						BEGIN
							ROLLBACK TRANSACTION
							SET @status = 'error'
							SET @returnstring = 'Error saving the System Admin.'
							RETURN 0
						END
					IF @rows = 0 
						BEGIN
							ROLLBACK TRANSACTION
							SET @status = 'error'
							SET @returnstring = 'Error saving the System Admin.'
							RETURN 0
						END
	 End
	Else
	 BEGIN

		SELECT @RoleID = RoleID
		  FROM REF_Roles
		  WHERE RoleName = 'System Admin';

		UPDATE UserRoles
		   SET UR_EndDate = CAST(DATEADD(DAY,-1,GETDATE()) AS date),
			   UR_UpdatedBy = @currentuserid,
			   UR_UpdatedDate = GETDATE()
		 WHERE UR_UserID = @userid 
		   and UR_RoleID = @RoleID
		
		SET @HistoryStart  = 'Removed from System Administrator role by ' 
							+  @currentuser + ' on ' 
							+  CONVERT(VARCHAR, GETDATE(), 103) 
							+ ' at ' + CONVERT(VARCHAR(5),getdate(),108)  
							+ '.<br>'
	END

		Select @historytype = id 
		 from HistoryTypes 
		 where HistoryType = @modulename

		INSERT INTO History(HistoryType,UserID,History,[datetime],AttributeID)
			 VALUES (@historytype ,@currentuserid,@HistoryStart,@UpdateDateTime,@userid)

		 SELECT @status strstatus , 
				@returnstring strreturnstring;	

		COMMIT TRANSACTION
	 
			
END
