USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_shiftleaders]    Script Date: 05/07/2021 19:02:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_shiftleaders]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_mod_shiftleaders]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Author:		
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_mod_shiftleaders]
@id		INT,
@backcolour			NVARCHAR(12),
@telephone			NVARCHAR(24),
@description	    NVARCHAR(max),
@schedulingteamid	INT,
@status				VARCHAR(20) OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT
--@errormessage		NVARCHAR(MAX) OUTPUT
AS
BEGIN	
		SET NOCOUNT ON;
		DECLARE @err int
		DECLARE @rows int
		DECLARE @RowNum int
		SET @status = 'success'
		SET @returnstring = 'Shiftleader record has been created successfully.'
		 BEGIN TRANSACTION
			 if(@id=0)
			 BEGIN
			   INSERT INTO shiftleadertypes (description,BackColour, schedulingTeamId,telephone)
										VALUES (@description,@backcolour, @schedulingteamid,@telephone)
		 
			  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
						IF @err <> 0 
							BEGIN
								ROLLBACK TRANSACTION
								SET @status = 'error'
								SET @returnstring = 'Error saving in data.'
								SELECT @status strstatus , @returnstring strreturnstring;
								RETURN ;
							END
						IF @rows = 0 
							BEGIN
								ROLLBACK TRANSACTION
								SET @status = 'error'
								SET @returnstring = 'Error saving the shiftleader Details.'
								SELECT @status strstatus , @returnstring strreturnstring;
								RETURN ;
							END
			 END
			Else
		if (@id >0)
	Begin
		UPDATE shiftleadertypes  SET [Description] = @description,
									 BackColour	= @backcolour,
									 telephone = @telephone
								WHERE ID       =   @id;

		SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
		BEGIN
			ROLLBACK TRANSACTION
			SET @status = 'error'
			SET @returnstring = 'Error updating the shiftleader data.'
			SELECT @status strstatus , @returnstring strreturnstring;
			RETURN ;
		END
		IF @rows = 0 
		BEGIN
			ROLLBACK TRANSACTION
			SET @status = 'error'
			SET @returnstring = 'Error updating the holiday Details.'
			SELECT @status strstatus , @returnstring strreturnstring;
			RETURN ;
		END
			SET @returnstring = 'Shiftleader record has been updated successfully.'
	End


		COMMIT TRANSACTION

		 SELECT @status strstatus , @returnstring strreturnstring
END
	
GO
