USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_SchedulingTeamUserExtraXmasPoint]    Script Date: 29/06/2021 19:26:27 
******/

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_del_SchedulingTeamUserExtraXmasPoint]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_del_SchedulingTeamUserExtraXmasPoint]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Naveete Sharma
-- Create date: 31/05/2021
-- Description:	SP to modify the Division table with new/modified data.
-- =============================================
CREATE PROCEDURE [dbo].[usp_del_SchedulingTeamUserExtraXmasPoint]

@extraxmaspointid INT


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @status VARCHAR(20),@returnstring VARCHAR(200)
	SET @status = 'success'
	SET @returnstring = 'Extra Xmas has been deleted successfully.'
	
	
 -- insert new record 
 BEGIN TRANSACTION
	
	DELETE FROM [dbo].[SchedulingTeamUserExtraXmasPoint] WHERE extraChristmasID = @extraxmaspointid



	
	SELECT @status strstatus , @returnstring strreturnstring;	
	COMMIT TRANSACTION
	

END

GO
