USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_XmasPointByTeam]    Script Date: 15/07/2021 17:21:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_XmasPointByTeam]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_XmasPointByTeam]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_get_XmasPointByTeam]
	-- Add the parameters for the stored procedure here
	@teamId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT          XmasPointsByDepartment.ID, XmasPointsByDepartment.MonthDay, XmasPointsByDepartment.BasicPoints, XmasPointsByDepartment.Limit, 
                                      XmasPointsByDepartmentLink.ID AS LinkID, XmasPointsByDepartmentLink.StartTime, XmasPointsByDepartmentLink.EndTime, XmasPointsByDepartmentLink.Points
                     FROM            XmasPointsByDepartment 
                     LEFT OUTER JOIN XmasPointsByDepartmentLink ON XmasPointsByDepartment.ID = XmasPointsByDepartmentLink.XmasPointsByDepartmentID
                     WHERE           (XmasPointsByDepartment.SchedulingTeamId = @teamId)
                     ORDER BY        XmasPointsByDepartmentLink.StartTime
	
END
