USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Create_ROTAAccPeriodSummary]    Script Date: 31/12/2025 23:01:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER                PROCEDURE  [dbo].[usp_Create_ROTAAccPeriodSummary]
@pWeekNumber     INT,
@pTeamId       INT,
@SchedulingPersonID		INT = NULL,
@pNetLogin           VARCHAR(30)
AS
BEGIN

   SET NOCOUNT ON;
   SET DATEFORMAT YMD;

   DECLARE    @vuserID        INT,
			  @StartWeek      INT,
			  @EndWeek        INT,
			  @WeekNumber	  INT,
			  @StartDate	  DATE,
			  @EndDate		  DATE;

   DECLARE @TempAccounting TABLE (schedulingpersonid INT,
								   startdate DATETIME,
								   enddate DATETIME,
								   startweek INT,
								   endweek INT,
								   totalduration INT,
								   NoOfDays INT);

   DECLARE @TempROTA TABLE (schedulingpersonid INT,
								   schedulingteamid INT,
								   weeknumber INT,
								   iday INT,
								   duration INT,
								   dutybreaktime INT);

   select @vuserID = UD_UserID
     from UserDetails
    where UD_NetLogin = @pNetLogin

     BEGIN TRY
        BEGIN TRANSACTION

         -- Create ROTA duration Summary Start

		INSERT INTO @TempAccounting
		SELECT distinct sp.UD_UserID as ScheduledPersonID,
			   AGD.AccPeriodStartDate as startdate ,
			   AGD.AccPeriodEndDate as enddate,
			   AGD.AccPeriodStartWeek as startweek,
			   AGD.AccPeriodEndWeek as endweek,
			   0 as totalduration,
			   0 as NoOfDays
		  FROM UserDetails AS sp (nolock)
		 INNER JOIN ScheduledPersonTeam_LINK  AS spl (nolock) ON sp.UD_UserID = spl.scheduledpersonid
		 INNER JOIN UserConfigs SCP ON  UD_UserID = UC_UserID
		 INNER JOIN REF_AccountingGroup_Dates AGD ON SCP.UC_AccGroupID=AGD.AccGroupID
		 INNER join Timedimension TD on AGD.BBCWeek = TD.ixYearWeek
		 WHERE TD.dDateTime between  SCP.UC_StartDate and SCP.UC_EndDate
		   AND TD.dDateTime between spl.startdate and spl.enddate
		   AND TD.dDateTime between isnull( AGD.AccPeriodStartDate, TD.dDateTime) and isnull( AGD.AccPeriodEndDate, TD.dDateTime )
		   AND spl.scheduledType = 1
		   AND spl.IsHomeTeam = 1
		   AND td.ixYearWeek = @pweekNumber
		   AND SPL.TeamID = @pTeamID
		   AND spl.ScheduledPersonID = ISNULL(@SchedulingPersonID,spl.ScheduledPersonID)


			SELECT @StartWeek= MIN(startweek),
					@EndWeek = MAX(endweek)
				FROM @TempAccounting

			SELECT @StartDate = MIN(dDateTime),
				   @EndDate =  MAX(dDateTime)
			FROM TimeDimension
			WHERE ixYearWeek between @StartWeek and @EndWeek

					INSERT INTO @TempROTA
					select schedulingpersonid,
							schedulingteamid,
							weeknumber,
							iday,
							duration,
							dutybreaktime
						FROM dbo.ufn_get_SchedulingTeamROTAD_ForDate(@StartDate,@EndDate,@pTeamId,0)
						WHERE schedulingpersonid = ISNULL(@SchedulingPersonID,schedulingpersonid)


			 update TC
				set TC.totalduration = AC.totaldtn,
				    TC.NoOfDays = AC.NoOfDays
			   from @TempAccounting TC
			  inner join
			  (
			 select TA.schedulingpersonid,
					ta.startweek,
					sum( isnull(al.duration,0)-isnull(al.dutyBreakTime,0)) as totaldtn,
					sum( case when isnull(al.duration,0) > 0 THEN 1 else 0 end ) as NoOfDays
			   from @TempAccounting TA
			  inner join @TempROTA AL  on TA.schedulingpersonid = AL.schedulingpersonid
			  INNER JOIN TimeDimension TD (nolock) on TD.ixYearWeek = AL.WeekNumber and TD.ixDayInWeek = AL.iday
			  WHERE td.dDateTime between ta.startdate and ta.enddate
			    AND al.weeknumber between ta.startweek and ta.endweek
			  group by TA.schedulingpersonid,ta.startweek
			 ) AC ON TC.schedulingpersonid = AC.schedulingpersonid
				  AND TC.startweek = AC.startweek;

				 DELETE ARD
				   FROM AccPeriodROTADurationSummary ARD
				  INNER JOIN @TempAccounting TA ON  ARD.ScheduledPersonID = ta.schedulingpersonid
				  WHERE ta.startweek BETWEEN ARD.AccPeriodStartWeek and ARD.AccPeriodEndWeek


			INSERT INTO AccPeriodROTADurationSummary (
					 ScheduledPersonID,
					 AccPeriodStartDate ,
					 AccPeriodEndDate,
					 AccPeriodStartWeek,
					 AccPeriodEndWeek,
					 AccPeriodDuration,
					 AccPeriodDays,
					 CreatedBy ,
					 CreatedDate ,
					 LastModDate ,
					 LastModBy )
			 SELECT TA.schedulingpersonid ,
					TA.startdate,
					TA.enddate,
					TA.startweek,
					TA.endweek,
					TA.totalduration,
					TA.NoOfDays,
					@vuserID,
				    getutcdate(),
					NULL,
					NULL
			  from @TempAccounting TA


		 -- Create ROTA duration Summary End


        IF ( @@TRANCOUNT  > 0 )
         BEGIN
           COMMIT  TRANSACTION
         END

		RETURN 0

        END TRY

        BEGIN CATCH

         ROLLBACK  TRANSACTION

		 INSERT INTO ErrorLog
		        (ErrorNumber,
				 ErrorState,
				 ErrorSeverity,
				 ErrorProcedure,
				 ErrorLine,
				 ErrorMessage,
				 ErrorDateTime,
				 UserName
				)
         SELECT ERROR_NUMBER() AS ErrorNumber,
                ERROR_STATE() AS ErrorState,
				ERROR_SEVERITY() AS ErrorSeverity,
				ERROR_PROCEDURE() AS ErrorProcedure,
				ERROR_LINE() AS ErrorLine,
				ERROR_MESSAGE() AS ErrorMessage,
				getutcdate(),
				@vuserID

		 RETURN 1

        END CATCH;

END