USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_sickness_report]    Script Date: 19/11/2025 19:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Chandan Singh
-- Create date: 22nd-Feb-2023
-- Description:	Sickness report details
-- =============================================
CREATE  OR ALTER             PROCEDURE [dbo].[usp_sickness_report]
	@teamId INT = NULL,
	@sDate DATE,
	@eDate DATE,
	@schedulePersonId INT = NULL
AS
BEGIN
	SET NOCOUNT ON;

	set dateformat YMD;

  select ASP.ASP_SchedulingPersonID AS SchedulingPersonID, 
         ASP_DutyDate AS DutyDate
	INTO #TempSickData
	FROM Allocations AL WITH (NOLOCK) 
    INNER JOIN TimeDimension TD ON TD.ixYearWeek = AL.AL_WeekNumber 
	INNER JOIN  AllocationsScheduledPersons ASP WITH (NOLOCK) ON AL.AL_AllocationsID=ASP.ASP_AllocationsID
														and td.ixDayInWeek = ASP_iDay
	INNER JOIN AllocationsDuties ON AD_AllocationsDutyID = ASP_AllocationsDutyID
    INNER JOIN UserDetails UD ON UD_UserID = ASP_SchedulingPersonID
   where td.dDateTime between @sDate and @eDate        
	 AND AL.AL_SchedulingTeamID = isNull(@teamId, AL.AL_SchedulingTeamID)
	 AND UD_UserID = ISNULL(@schedulePersonId, UD_UserID) 
	 AND ASP_LeaveType IN (3,4,5)
	 AND AD_DutyType = 8

  SELECT ALTotal.SchedulingPersonID,
         SP.UD_DisplayName AS DisplayName,
		 UW.HideStats,
		 SickCount                       AS DaysUnavailable,
		 MAX(OC.Occurrences )            AS Occurrences ,
		 CAST(CAST(SickCount AS DECIMAL)/7 AS decimal(18, 2)) AS WeeksSick,
		 SickDuration AS TotalHoursSick,
		 DutyCount                       AS WorkedDays,
		 CASE WHEN SickCount > 0 AND DutyCount = 0 THEN 100
		      ELSE CAST(CAST((SickCount * 100 ) AS decimal(18, 2))  / CAST(CASE WHEN DutyCount = 0 then 1 
			  ELSE DutyCount + SickCount END AS decimal(18, 2))   AS decimal(18, 2)) 
			  END AS Percentage,
		 MaxDutyDate                     AS MaxDutyDate,
		 SUM(SickCount)                  AS TotalDaysSick,
		 SUM(DutyCount) over(partition by ALTotal.SchedulingPersonID order by ALTotal.SchedulingPersonID) AS TotalDaysWorked,
		 COUNT(ALTotal.SchedulingPersonID)       AS PeopleScheduled,
		 SUM(SickDuration)               AS TotalSicknessHours
	FROM (   select UD_UserID AS SchedulingPersonID, 
	                case when @teamId is NULL THEN 0 ELSE AL.AL_SchedulingTeamID END as SchedulingTeamId,
					SUM(CASE WHEN AD.AD_DutyType NOT IN (7,8,9) 
					          AND  AD.AD_Duration <> 0
					         THEN 1 ELSE 0 END) AS DutyCount,
					SUM(CASE WHEN ASP_LeaveType IN (3,4,5) and AD_DutyType=8 THEN 1 ELSE 0 END) AS SickCount, 
					SUM(CASE WHEN ASP_LeaveType IN (3,4,5) and AD_DutyType=8 THEN ISNULL(ASP_LeaveDuration,0) ELSE 0 END) AS SickDuration,
					MAX(CASE WHEN ASP_LeaveType IN (3,4,5) and AD_DutyType=8 THEN ASP_DutyDate ELSE NULL END) AS MaxDutyDate
		       from Allocations AL WITH (NOLOCK)
			   inner join TimeDimension TD ON TD.ixYearWeek = AL.AL_WeekNumber 
			   inner join ScheduledPersonTeam_LINK SL on SL.TeamID = AL.AL_SchedulingTeamID
			   INNER JOIN UserDetails UD ON UD_UserID = SL.scheduledpersonid
			   LEFT join AllocationsScheduledPersons ASP WITH (NOLOCK) ON AL.AL_AllocationsID=ASP.ASP_AllocationsID
																		   and td.ixDayInWeek = ASP_iDay
																		   and UD_userid = ASP.ASP_SchedulingPersonID
			   LEFT join AllocationsDuties AD WITH (NOLOCK) ON AD.AD_AllocationsDutyID=ASP.ASP_AllocationsDutyID			   			   
              where td.dDateTime between sl.startdate and sl.enddate
			    AND al.AL_SchedulingTeamID = ISNULL(@teamId, al.AL_SchedulingTeamID)
				AND UD_UserID = ISNULL(@schedulePersonId, UD_UserID) 
				AND td.dDateTime between @sDate and @eDate
				AND SL.scheduledType = 1
				AND SL.isHomeTeam = 1
              group by UD.UD_UserID, 
					case when @teamId is NULL THEN 0 ELSE AL.AL_SchedulingTeamID END
         ) ALTotal
	   LEFT JOIN ( SELECT SchedulingPersonID,
					      COUNT(1) as Occurrences
			         FROM
					     ( SELECT TS.SchedulingPersonID,
							      CASE WHEN DATEDIFF(DAY,TD.DutyDate,TS.DutyDate) IS NULL 
								       THEN 0 ELSE 1 END AS NoOfDays
						    FROM #TempSickData TS
						    LEFT JOIN #TempSickData TD ON DATEADD(DAY,1,TD.DutyDate) = TS.DutyDate
							      AND TS.SchedulingPersonID = TD.SchedulingPersonID
					     ) FD
			        WHERE FD.NoOfDays = 0
			        GROUP BY SchedulingPersonID 
                ) OC ON OC.SchedulingPersonID = ALTotal.SchedulingPersonID
		LEFT JOIN UserDetails SP ON SP.UD_UserID = ALTotal.SchedulingPersonID
	   LEFT JOIN User_Web_Config UW ON UW.Login = SP.UD_NetLogin 
	   AND UW.SchedulingTeamId = CASE  WHEN @teamId IS NULL THEN 9999 ELSE ALTotal.SchedulingTeamId END
	GROUP BY ALTotal.SchedulingPersonID,
	         SP.UD_DisplayName,
			 UW.HideStats,
			 SickCount,
			 SickDuration,
			 DutyCount,
			 MaxDutyDate   
	order by SP.UD_DisplayName

 return;

END