USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterDutyJob_Link]    Script Date: 28/03/2022 17:16:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_mod_MasterDutyJob_Link]
@dutyid				INT,
@jobid				INT,
@currentuserid		INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int, @status int, @JobStartTime int, @JobEndTime int,@DutyStartTime int, @DutyEndTime int, @IsMidNight bit, @strStatus varchar(500),
		@JobStartTimeadd int, @JobEndTimeadd int, @DutyEndTimeadd int, @DutyStartTimeadd int;
	set @status = 1;
	set @strStatus = 'Record inserted Successfully';


	--Check unique record

	if EXISTS(select 1 from [dbo].[MasterDutiesMasterJobs_LINK] (NOLOCK) where MasterDutyID = @dutyid and MasterJobID = @jobid)
BEGIN
		set @status = 0;
select @status status, 'The job you are trying to add is already assigned on this duty.' strStatus;
return;
END
Else
BEGIN
BEGIN TRANSACTION

select @JobStartTime = StartTime, @JobEndTime = EndTime from MasterJobs where MasterJobID = @jobid and IsActive = 1;
select @DutyStartTime = StartTime, @DutyEndTime = EndTime from MasterDuties where MasterDutyID = @dutyid and IsActive = 1;

if((@JobStartTime < @DutyStartTime) or @JobEndTime > @DutyEndTime)
BEGIN
				if (((@JobStartTime + 86400) between @DutyStartTime and @DutyEndTime) and ((@JobEndTime + 86400) between @DutyStartTime and @DutyEndTime))
BEGIN
					set @JobStartTime = @JobStartTime;
END
ELSE
BEGIN
ROLLBACK TRANSACTION;
select 0 status, 'Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.' strStatus;
return;
END
END
			--Insert new record
INSERT INTO [dbo].[MasterDutiesMasterJobs_LINK] (MasterDutyID, MasterJobID, IsMidNight)
VALUES (@dutyid, @jobid, 0)

-- Check for jobs conflict start
select
        @JobStartTimeadd = StartTime,
        @JobEndTimeadd = EndTime
from MasterJobs mj
         INNER JOIN [MasterDutiesMasterJobs_LINK] mdmjl on mj.MasterJobID = mdmjl.MasterJobID
where mj.MasterJobID = @jobid and mj.IsActive = 1

select @DutyStartTimeadd = StartTime, @DutyEndTimeadd = EndTime from MasterDuties where MasterDutyID = @dutyid and IsActive = 1;

IF (@DutyEndTimeadd > 86400 and  @JobStartTimeadd < 86400 and @JobEndTimeadd < 86400)
BEGIN
				set @JobStartTimeadd = @JobStartTimeadd + 86400;
				set @JobEndTimeadd = @JobEndTimeadd + 86400;
END

			if EXISTS (select 1 from MasterJobs where MasterJobID in (select MasterJobID from [MasterDutiesMasterJobs_LINK] where MasterDutyID = @dutyid )
						and (((StartTime + 1) between @JobStartTimeadd and @JobEndTimeadd) or  ((EndTime - 1) between @JobStartTimeadd and @JobEndTimeadd))
						and MasterJobID <> @jobid)
BEGIN
				set @status = 0;
select @status status, 'Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.' strStatus;
ROLLBACK TRANSACTION;
return;
END

			IF (@DutyEndTimeadd > 86400)
BEGIN
				if EXISTS (select 1 from MasterJobs where MasterJobID in (select MasterJobID from [MasterDutiesMasterJobs_LINK] where MasterDutyID = @dutyid )
							and ((@JobStartTimeadd between (StartTime + 86401) and (EndTime + 86399)) or  (@JobEndTimeadd between (StartTime + 86401) and (EndTime + 86399)))
							and @JobStartTimeadd < 86400 and @JobEndTimeadd < 86400 and MasterJobID <> @jobid)
BEGIN
					set @status = 0;
select @status status, 'Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.' strStatus;
ROLLBACK TRANSACTION;
return;
END
				if EXISTS (select (StartTime + 86400),(EndTime + 86400),* from MasterJobs
						where MasterJobID in (select MasterJobID from [MasterDutiesMasterJobs_LINK] where MasterDutyID = @dutyid ) and MasterJobID <> @jobid
						and (((StartTime + 86401) between @JobStartTimeadd and @JobEndTimeadd) or  ((EndTime + 86399) between @JobStartTimeadd and @JobEndTimeadd))
						and StartTime < 86400 and EndTime < 86400)
BEGIN
					set @status = 0;
select @status status, 'Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.' strStatus;
ROLLBACK TRANSACTION;
return;
END
END
			if EXISTS (select 1 from MasterJobs where MasterJobID in (select MasterJobID from [MasterDutiesMasterJobs_LINK] where MasterDutyID = @dutyid )
						and (((@JobStartTimeadd + 1) between StartTime and EndTime) or  ((@JobEndTimeadd - 1) between StartTime and EndTime)) and MasterJobID <> @jobid)
BEGIN
				set @status = 0;
select @status status, 'Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.' strStatus;
ROLLBACK TRANSACTION;
return;
END

			-- Check for jobs conflict End
			IF((@DutyEndTime - @DutyStartTime) > 86400)
BEGIN
ROLLBACK TRANSACTION;
set @status = 0;
select @status status, 'The job you are trying to add will extend the Master Duty duration to more than 24 hours. A duty cannot be equal to or more than 24 hours.2 '+convert(varchar,@DutyEndTime)+' Start: '+convert(varchar,@DutyStartTime) strStatus;
return;
END
ELSE
BEGIN
update [dbo].[MasterDutiesMasterJobs_LINK] set IsMidNight = 1 where MasterJobID = @jobid and MasterDutyID = @dutyid;
END
		--ALL GOOD
		-- COMMIT TRANSACTION AND RETURN LAST MOD DATE
COMMIT TRANSACTION
END
select @status status, @strStatus strStatus;
END
