USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_MasterDutyColoursByArea]    Script Date: 01/09/2025 15:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_MasterDutyColoursByArea]
@TeamID		INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		select T1.MasterDutyColourID, 
			   T1.ColourName as RealColourName, 
			   T1.IsDefaultColour, 
			   ColourName = CASE WHEN T1.IsActive = 1 THEN T1.ColourName
							   ELSE '[D] ' + T1.ColourName
						   END from schedulingTeams ST INNER JOIN REF_MasterDutyColours T1
		 ON T1.DivisionID=ST.divisionId where ST.schedulingTeamId=@TeamID

END
