USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_insup_StaffLinkAddUser]    Script Date: 2/17/2026 8:26:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER                 PROCEDURE [dbo].[usp_insup_StaffLinkAddUser]
-- Add the parameters for the stored procedure here
	@schdeuledpersonID	INT,
	@action				VARCHAR(10),
	@StaffID			INT,
	@StaffSPID			INT,
	@currentuserid		INT,
	@status				VARCHAR(10),
	@returnstring		VARCHAR(80)
AS
BEGIN

	SET NOCOUNT ON;
	DECLARE @schedulerroleid		INT,
			@err					INT,
			@rows					INT,
			@nonscheduledpersonid	INT,
			@NonSchTeamEndDate		DATETIME,
			@SchTeamStartDate		DATETIME,
			@ProcessStatus			BIT = 0,
			@IsUserExists			BIT = 0;

	SET @returnstring = ''
	SET @status = 'success'

	IF @action = 'select'
	 BEGIN

	  IF ( ISNULL(@staffID,0) > 0 )
	   BEGIN
		SELECT @status strstatus,
			   @returnstring strreturnstring,
		       sd.Forename,
			   sd.PreferredForename,
			   sd.NetLogin,
		       sd.Surname,
			   scp.JobTitle,
			   sd.Title,
			   sd.StaffNumber
		  from StaffDetails sd
		  LEFT JOIN Staffconfig_Processed scp on scp.StaffID =sd.StaffID
		   and CAST(GETDATE() AS Date) BETWEEN scp.StartDate AND  scp.EndDate
		  where sd.StaffID = @staffID

		 SELECT @err = @@ERROR, @rows = @@ROWCOUNT

		END

		IF ( ISNULL(@rows,0) = 0 AND ISNULL(@StaffSPID,0) > 0 )
		 BEGIN
			
			SELECT @status strstatus,
				   @returnstring strreturnstring,
				   sd.UD_DisplayFirstName  Forename,
				   sd.UD_PreferredFirstName PreferredForename,
				   sd.UD_NetLogin NetLogin,
				   sd.UD_DisplayLastName Surname,
				   scp.UC_JobTitle JobTitle,
				   NULL as Title,
				   sd.UD_StaffNumber StaffNumber
			  from UserDetails sd
			  LEFT JOIN UserConfigs scp on scp.UC_UserID =sd.UD_UserID
			   and CAST(GETDATE() AS Date) BETWEEN scp.UC_StartDate AND  scp.UC_EndDate
			  where sd.UD_UserID = @StaffSPID

			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		  
		  END



		IF @rows = 0
		 BEGIN
			SET @returnstring = 'Incomplete staff information,can''t attach this user'
			SET @status = 'error'
			SELECT  @status strstatus ,
					@returnstring strreturnstring;
			RETURN 1
		 END

		 RETURN 0

	 END

  BEGIN TRY
	BEGIN TRANSACTION

	 IF @action = 'save'
	 BEGIN

		IF ( ISNULL(@staffID,0) > 0 )
			BEGIN

				 UPDATE UD
				    SET UD_TeampayStaffID = sd.StaffID,
					    UD_NetLogin = SD.NetLogin,
					    UD_EmpNumber = SD.EmpNumber,
					    UD_StaffNumber = SD.StaffNumber,
					    UD_InternalEmail = CASE WHEN SD.InternalEmail IS NULL THEN UD_InternalEmail ELSE SD.InternalEmail END,
					    UD_ExternalEmail = CASE WHEN SD.ExternalEmail IS NULL THEN UD_ExternalEmail ELSE SD.ExternalEmail END,
					    UD_PersonalPhone = CASE WHEN SD.AltTelephone IS NULL THEN UD_PersonalPhone ELSE SD.AltTelephone END,
						UD_PreferredFirstName = CASE WHEN sd.PreferredForename IS NULL THEN UD_PreferredFirstName ELSE sd.PreferredForename END,
						UD_OfficePhone = CASE WHEN sd.OfficeMobile IS NULL THEN UD_OfficePhone ELSE sd.OfficeMobile END,
						UD_OfficeExtension = CASE WHEN sd.OfficeExtension IS NULL THEN UD_OfficeExtension ELSE sd.OfficeExtension END,
					    UD_UpdatedBy = @currentuserid,
					    UD_UpdatedDate = GETUTCDATE()
				   FROM UserDetails UD
				  INNER JOIN StaffDetails SD ON 1 = 1
				  WHERE UD_UserID = @schdeuledpersonID
				    AND sd.StaffID = @staffID

				INSERT INTO UserConfigs(UC_UserID,
							UC_EFT,
							UC_CostCode,
							UC_AccGroupID,
							UC_AccGroup,
							UC_PaymentTypeID,
							UC_ManualEDP,
							UC_PartTimeEDP,
							UC_JobTitle,
							UC_Status,
							UC_StartDate,
							UC_EndDate,
							UC_SCP_ID,
							UC_CreatedBy,
							UC_CreatedDate,
							UC_UpdatedBy,
							UC_UpdatedDate)
					 SELECT UD_UserID,
							SCP.EFT,
							SCP.CostCode,
							SCP.AccGroupID,
							SCP.AccGroup,
							SCP.PaymentTypeID,
							SCP.ManualEDP,
							SCP.PartTimeEDP,
							SCP.JobTitle,
							SCP.IsActive,
							SCP.StartDate,
							SCP.EndDate,
							SCP.SCP_ID,
							@currentuserid,
							GETUTCDATE(),
							@currentuserid,
							GETUTCDATE()
					   FROM StaffConfig_Processed SCP
					  INNER JOIN UserDetails UD on UD.UD_TeampayStaffID = SCP.StaffID
					  WHERE UD_UserID = @schdeuledpersonID
					    AND NOT EXISTS ( SELECT 1
										   FROM UserConfigs UC
										  WHERE UC.UC_SCP_ID = SCP.SCP_ID )

				 SET @ProcessStatus = 1

		   END

		IF ( ISNULL(@staffID,0) = 0 AND ISNULL(@StaffSPID,0) > 0 )
			BEGIN

				 UPDATE UD
				    SET UD_TeampayStaffID = sd.UD_TeampayStaffID,
					    UD_NetLogin = SD.UD_NetLogin,
					    UD_EmpNumber = SD.UD_EmpNumber,
					    UD_StaffNumber = SD.UD_StaffNumber,
					    UD_InternalEmail = CASE WHEN SD.UD_InternalEmail IS NULL THEN UD.UD_InternalEmail ELSE SD.UD_InternalEmail END,
					    UD_ExternalEmail = CASE WHEN SD.UD_ExternalEmail IS NULL THEN UD.UD_ExternalEmail ELSE SD.UD_ExternalEmail END,
					    UD_PersonalPhone = CASE WHEN SD.UD_PersonalPhone IS NULL THEN UD.UD_PersonalPhone ELSE SD.UD_PersonalPhone END,
						UD_PreferredFirstName = CASE WHEN sd.UD_PreferredFirstName IS NULL THEN UD.UD_PreferredFirstName ELSE sd.UD_PreferredFirstName END,
						UD_OfficePhone = CASE WHEN sd.UD_OfficePhone IS NULL THEN UD.UD_OfficePhone ELSE sd.UD_OfficePhone END,
						UD_OfficeExtension = CASE WHEN sd.UD_OfficeExtension IS NULL THEN UD.UD_OfficeExtension ELSE sd.UD_OfficeExtension END,
					    UD_UpdatedBy = @currentuserid,
					    UD_UpdatedDate = GETUTCDATE()
				   FROM UserDetails UD
				  INNER JOIN UserDetails SD ON 1 = 1
				  WHERE UD.UD_UserID = @schdeuledpersonID
				    AND sd.UD_UserID = @StaffSPID

				 SET @ProcessStatus = 1

		   END

 		-- First check shceduledpeople id if we already have duplicate with same staffdetails id with non scheduled type
		IF ( ISNULL(@staffID,0) > 0 AND EXISTS (SELECT 1
												 FROM UserDetails sp 
												WHERE UD_TeampayStaffID = @staffID
												  AND UD_UserID <> @schdeuledpersonID)
		   )
		  BEGIN
		    SET @IsUserExists = 1
		  END

		IF ( @IsUserExists = 0 AND ISNULL(@StaffSPID,0) > 0 )
		  BEGIN
			SET @IsUserExists = 1
		  END

		IF ( @IsUserExists = 1 )
		 BEGIN

		  IF ( @staffID > 0 )
		   BEGIN  
			SELECT @nonscheduledpersonid = sp.UD_UserID
			  FROM UserDetails sp 
			 WHERE UD_TeampayStaffID = @staffID
			   AND UD_UserID <> @schdeuledpersonID
		   END

			 IF ( ISNULL(@nonscheduledpersonid,0) = 0 AND ISNULL(@StaffSPID,0) > 0 )
			   BEGIN
				SELECT @nonscheduledpersonid = sp.UD_UserID
				  FROM UserDetails sp 
				 WHERE UD_UserID = @StaffSPID
				   AND UD_UserID <> @schdeuledpersonID
			   END

				IF ( ISNULL(@nonscheduledpersonid,0) > 0 )
				BEGIN

				  select @SchTeamStartDate = StartDate
					from ScheduledPersonTeam_LINK
				   where scheduledType = 1
					 and ScheduledPersonID = @schdeuledpersonID
					 and EndDate >= CAST(getdate() AS DATE);

					 SET @NonSchTeamEndDate =  CAST(DATEADD(day,-1,@SchTeamStartDate) AS date)

					-- update the non schedledperson id end date who have same team id like scheduled people id



					UPDATE ScheduledPersonTeam_LINK
					   SET EndDate = @NonSchTeamEndDate,
							LastUpdatedDate = GETDATE(),
							LastUpdatedBy = @currentuserid
					WHERE ScheduledPersonID = @nonscheduledpersonid
					  AND TeamID IN (select TeamID
									from ScheduledPersonTeam_LINK
									where ScheduledPersonID = @nonscheduledpersonid
										and IsActive=1
										and TeamID IN (select TeamID
														from ScheduledPersonTeam_LINK
														where scheduledType = 1
														and ScheduledPersonID = @schdeuledpersonID
														and isnull(EndDate,CAST(getdate() AS DATE)) >= CAST(getdate() AS DATE)
													)
									)

					--update non- schedulperson to  scheduled person
					UPDATE ScheduledPersonTeam_LINK
					SET ScheduledPersonID = @schdeuledpersonID
					WHERE ScheduledPersonID = @nonscheduledpersonid

					Update LeaveApplications
					SET SchedulingPersonID = @schdeuledpersonID
					WHERE SchedulingPersonID = @nonscheduledpersonid;

					Update LeaveAllocation
					SET SchedulingPersonID = @schdeuledpersonID
					WHERE SchedulingPersonID = @nonscheduledpersonid;

					--DELETE Userteatm role lonk
					Update UserRoles
					SET UR_EndDate = @NonSchTeamEndDate
					WHERE UR_UserID = @nonscheduledpersonid
					AND UR_SchedulingTeamID IN (select TeamID
												from ScheduledPersonTeam_LINK
												where ScheduledPersonID = @nonscheduledpersonid
												and IsActive=1
												and TeamID IN (select TeamID
																	from ScheduledPersonTeam_LINK
																where scheduledType = 1
																	and ScheduledPersonID = @schdeuledpersonID
																	and isnull(EndDate,CAST(getdate() AS DATE)) >= CAST(getdate() AS DATE)
																)
												);

					UPDATE UserRoles
					   SET UR_UserID = @schdeuledpersonID
					 WHERE UR_UserID = @nonscheduledpersonid;

					UPDATE Staff_Web_Config_LeaveGroups_Link
					   SET ScheduledPersonID = @schdeuledpersonID
					 WHERE ScheduledPersonID = @nonscheduledpersonid;

					 UPDATE UserDetails
						SET UD_DisplayName = UD_DisplayName+' Deleted Non-SP',
							UD_DisplayFirstName = 'Deleted Non-SP',
							UD_DisplayLastName = 'Deleted Non-SP',
							UD_TeampayStaffID = NULL,
							UD_NetLogin = NULL,
							UD_EmpNumber = NULL,
							UD_StaffNumber = NULL,
							UD_InternalEmail = NULL,
							UD_ExternalEmail = NULL,
							UD_PersonalPhone = NULL,
							UD_Status = 9,
							UD_UpdatedBy = @currentuserid,
							UD_UpdatedDate = GETUTCDATE()
					  WHERE UD_UserID = @nonscheduledpersonid

					  SET @ProcessStatus = 1

			     END

			END

	    IF ( @ProcessStatus =  0 )
		  BEGIN
			SET @returnstring = 'Scheduled person already config with staff'
			SET @status = 'error'
		  END

				-- Assign Scheduler person role user
				select @schedulerroleid = RoleID
				 from REF_Roles
				 where RoleName = 'Scheduled Person'

				IF NOT EXISTS (SELECT 1
				                 FROM UserRoles (NOLOCK)
				                where UR_UserID = @schdeuledpersonID
								 AND UR_RoleID = @schedulerroleid)
				 BEGIN
					INSERT INTO UserRoles (UR_UserID, UR_RoleID, UR_StartDate, UR_EndDate,UR_CreatedBy, UR_CreatedDate )
					VALUES (@schdeuledpersonID,@schedulerroleid,GETDATE(),'9999-12-01' , @currentuserid, GETDATE())
				 END

		IF ( @ProcessStatus = 1 )
			BEGIN
			SET @returnstring = 'Scheduled people linked successfully'
			END


	    IF ( @@TRANCOUNT  > 0 )
         BEGIN
           COMMIT  TRANSACTION
         END

	     SELECT @status strstatus ,
				@returnstring strreturnstring;

		  RETURN 0

	END

	END TRY

	BEGIN CATCH

	  IF ( @@TRANCOUNT  > 0 )
	   BEGIN
		ROLLBACK TRANSACTION
	   END

		INSERT INTO ErrorLog
			(   ErrorNumber,
				ErrorState,
				ErrorSeverity,
				ErrorProcedure,
				ErrorLine,
				ErrorMessage,
				ErrorDateTime,
				UserName
			)
		SELECT ERROR_NUMBER() AS ErrorNumber,
			ERROR_STATE() AS ErrorState,
			ERROR_SEVERITY() AS ErrorSeverity,
			ERROR_PROCEDURE() AS ErrorProcedure,
			ERROR_LINE() AS ErrorLine,
			ERROR_MESSAGE() AS ErrorMessage,
			getutcdate(),
			@currentuserid

	     SELECT @status strstatus ,
				@returnstring strreturnstring;

	 	 RETURN @@IDENTITY

	END CATCH;

END