USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_MasterDuty]    Script Date: 23/10/2024 15:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Michael Hoskin
-- Create date: 20/05/2016
-- Description:	SP to modify the MasterDuties table with new/modified data.
-- =============================================
CREATE OR ALTER   PROCEDURE [dbo].[usp_del_MasterDuty]
@dutyid				INT,
@action				INT,
@lastmoddate		VARCHAR(30),
@currentuserid		INT,
@currentuser		VARCHAR(200),
@status				TINYINT OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT,
@newLastModDate		VARCHAR(30) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int
	DECLARE @UpdateDateTime datetime
	DECLARE @strUpdateDateTime varchar(35)
	DECLARE @TmpHistory varchar(4000)

	SET @status = 1
	SET @returnstring = 'ok'
	--SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)
	--SET @newLastModDate = CONVERT(VARCHAR(30), @UpdateDateTime, 121)

	DECLARE @isactive INT
	SET @isactive = 1

	IF @action = 1
BEGIN
		SET @isactive = 0
END
	--Check unique record

	IF @action = 1
BEGIN
		SET @TmpHistory = 'Deleted by ' + @currentuser + ' on ' + convert(VARCHAR, getdate(),108);
END
ELSE
BEGIN
		SET @TmpHistory = 'UnDeleted by ' + @currentuser + ' on ' + convert(VARCHAR, getdate(),108);
END

	--UPDATE Record
UPDATE MasterDuties
SET IsActive = @isactive,
    LastModDate = getdate(),
    LastModBy = @currentuserid,
    History = CASE WHEN (NULLIF(History, '') IS NULL) THEN @TmpHistory
                   ELSE History + CHAR(13) + CHAR(10) + @TmpHistory
END
WHERE MasterDutyID = @dutyid
SELECT @err = @@ERROR, @rows = @@ROWCOUNT
    IF @err <> 0
BEGIN
		SET @returnstring = 'There was a problem in deleting the Duty'
		RETURN @err
END
	IF @rows = 0
BEGIN
		SET @returnstring = 'There was a problem in deleting the Duty'
		SET @status = 0
		RETURN 0
END

	-- Below queries will remove duties linking to rota patter Start
UPDATE MR
SET MR.isExported = 0 
FROM MasterRotas MR INNER JOIN RotaDuties RD (NOLOCK) ON RD.MasterDutyID = @dutyid AND MR.RotaID = RD.RotaID WHERE MR.isExported != 0	
update RotaDuties set IsActive = 0 where MasterDutyID = @dutyid and IsActive = 1
delete LINK_MasterDuties_Lables WHERE MasterDutyId=@dutyid
    -- Below queries will remove duties linking to rota patter End

    -- UPDATE Master Duty Teams
    if exists(select 1 from MasterDutyTeams where DutyID = @dutyid)
BEGIN
UPDATE MasterDutyTeams
SET IsActive = @isactive,
    LastModDate = getdate(),
    LastModBy = @currentuserid
WHERE DutyID = @dutyid
END
	--Delete the Master Duty from master jobs screen
	if exists(select 1 FROM MasterDutiesMasterJobs_LINK WHERE MasterDutyID =  @dutyid)
BEGIN
DELETE FROM MasterDutiesMasterJobs_LINK WHERE MasterDutyID =  @dutyid
END

	--Delete the Master Duty from master duty filter screen
	if exists(select 1 FROM MasterDutiesFilterLinks WHERE MasterDutyID =  @dutyid)
BEGIN
DELETE FROM MasterDutiesFilterLinks WHERE MasterDutyID =  @dutyid;
END

END
