USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_AccountingGroups]    Script Date: 3/12/2026 10:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_AccountingGroups]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[AccountingGroups];
		
		--Update existing records
		UPDATE T1
		SET T1.[AccGroup] = T2.[AccGroup]
			  ,T1.[Period] = T2.[Period]
			  ,T1.[StartWeek] = T2.[StartWeek]
			  ,T1.[IsActive] = T2.[IsActive]
			  ,T1.[LastUpdated] = T2.[LastUpdated]
			  ,T1.[LastUpdatedBy] = T2.[LastUpdatedBy]
			  ,T1.[History] = T2.[History]
		FROM [AccountingGroups] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_AccountingGroups] T2 ON T1.AccGroup = T2.AccGroup
		WHERE T1.AccGroup = T2.AccGroup
		
		--Insert new records
		INSERT INTO [AccountingGroups] (
			--   [ID]
			  [AccGroup]
			  ,[Period]
			  ,[StartWeek]
			  ,[IsActive]
			  ,[LastUpdated]
			  ,[LastUpdatedBy]
			  ,[History]
			)  
		SELECT -- [ID]
			  [AccGroup]
			  ,[Period]
			  ,[StartWeek]
			  ,[IsActive]
			  ,[LastUpdated]
			  ,[LastUpdatedBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_AccountingGroups] T2 
		  WHERE NOT EXISTS (SELECT T1.AccGroup FROM [AccountingGroups] T1 
		  WHERE T1.AccGroup = T2.AccGroup)
        
END
