USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_read_UnllocatedDuties]    Script Date: 10/06/2022 16:33:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_read_UnllocatedDuties]
@WeekNumber INT,
@iDay INT,
@SchedulingTeamId INT,
@rolePermission INT,
@AllocationStartDate VARCHAR(100),
@AllocationEndDate VARCHAR(100)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF(@rolePermission=1)
	BEGIN
	 SELECT  TD1.DayNumber  as DayNumber,
		   a.isEdited as isEdited,
		   a.isPublished as isPublished,
		   aj.[isEdited] as isJobEdited,
		   aj.[isPublished] as isJobPublished,
		   a.ID  AS DutyID,
		   a.DutyName   AS DutyName,
		   a.Duration  AS Duration,
		   a.StartTime  AS StartTime,
		   a.EndTime  AS EndTime,
		   a.DutyComments  AS DutyComments,
		   a.dutyProgramId  AS dutyProgramId,
		   a.dutyBreakTime  AS dutyBreakTime,
		   a.dutyColorId AS dutyColorId,
		   a.PersonComments  AS PersonComments,
		   a.AllocationID AS AllocationParentID,
		   aj.ID  AS JobID,
		   aj.[JobName]  AS JobName,
		   aj.[StartTime] AS JobStartTime,
		   aj.[EndTime]  AS JobEndTime,
		   aj.[JobBackColour]  AS JobBackColour,
		   aj.[JobFontColour]  AS JobFontColour,
		   aj.[Comments]  AS Comments,
		   aj.Job_Info AS Job_Info,
		   ISNULL(aj.Programme,pg.Programme) as Programme,
		   aj.[AllocateJobID] AS JobParentID,
		   ISNULL(aj.aftermidnight,0) as MidnightFlag
	  FROM [Allocations] as a (NOLOCK)
	 INNER JOIN Timedimension TD on A.WeekNumber=TD.ixYearWeek and A.iDay = TD.ixDayInWeek
	 INNER JOIN ( SELECT DENSE_RANK() over( order by td.dDateTime) as DayNumber,
		                    ixYearWeek WeekNumber,
							ixDayInWeek iDay
		              FROM Timedimension TD
					 WHERE TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) 
					               and CONVERT(DATETIME,@AllocationEndDate,101) ) TD1
					ON TD1.WeekNumber=TD.ixYearWeek AND TD1.iDay = TD.ixDayInWeek
	  LEFT JOIN [Allocations_jobs] as aj (NOLOCK) ON aj.AllocationID = a.[ID]  AND ISNULL(aj.isActive,1) =1
	  LEFT JOIN Programmes PG (NOLOCK) ON PG.ID = AJ.ProgrammeId
	 WHERE  a.schedulingTeamId = @SchedulingTeamId 
	   AND ISNULL(a.SchedulingPersonID,0) = 0
	   AND ISNULL(a.isActive,1) = 1  
	   AND TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) and CONVERT(DATETIME,@AllocationEndDate,101) 
	  ORDER BY a.ID DESC
	END
	ELSE
	BEGIN
	 SELECT TD1.DayNumber DayNumber,
		a.ID as DutyID,
		a.DutyName as DutyName,
		a.Duration as Duration,
		a.StartTime as StartTime,
		a.EndTime as EndTime,
		a.DutyComments as DutyComments,
		a.dutyProgramId as DutyProgramId,
		a.dutyBreakTime as DutyBreakTime,
		a.dutyColorId as DutydutyColorId,
		a.PersonComments as DutyPersonComments,
		a.isEdited as isEdited,
		a.isPublished as isPublished,
		aj.[JobName] as JobName,
		aj.[StartTime] as JobStartTime,
		aj.[EndTime] as JobEndTime,
		aj.[JobBackColour] as JobBackColour ,
		aj.[JobFontColour] as JobFontColour ,
		aj.[ID] as JobID ,
		aj.[isEdited] as isJobEdited,
		aj.[isPublished] as isJobPublished,
		aj.[Comments] as Comments,
		aj.Job_Info AS Job_Info,
		ISNULL(aj.Programme,pg.Programme) as Programme,
		aj.[schedulingTeamId] as Team,
		aj.[AllocateJobID] as JobParentID,
		ISNULL(aj.aftermidnight,0) as MidnightFlag
		FROM [Allocations_Publish] as a (NOLOCK)
		INNER JOIN Timedimension TD on A.WeekNumber=TD.ixYearWeek and A.iDay = TD.ixDayInWeek
		INNER JOIN ( SELECT DENSE_RANK() over( order by td.dDateTime) as DayNumber,
		                    ixYearWeek WeekNumber,
							ixDayInWeek iDay
		              FROM Timedimension TD
					 WHERE TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) 
					               and CONVERT(DATETIME,@AllocationEndDate,101) ) TD1
					ON TD1.WeekNumber=TD.ixYearWeek AND TD1.iDay = TD.ixDayInWeek
		LEFT JOIN [Allocations_Jobs_Publish] as aj (NOLOCK) ON aj.AllocationID = a.ID AND ISNULL(aj.isActive,1) =1 
		LEFT JOIN Programmes PG (NOLOCK) ON PG.ID = AJ.ProgrammeId
		WHERE  (a.[schedulingTeamId] =@SchedulingTeamId AND a.SchedulingPersonID is not null) 
	    AND TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) and CONVERT(DATETIME,@AllocationEndDate,101) 
		AND ISNULL(a.isActive,1) = 1 
	  
	END
END