USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_UndeleteLeaveApplications]    Script Date: 26/12/2025 21:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER      PROCEDURE [dbo].[usp_UndeleteLeaveApplications]
@leaveapplicationid int,
@History VARCHAR(Max),
@currentuser  INT,
@status bit OUT,
@Returncode VARCHAR(110) OUT
	
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @err int, 
			@rows int,
	        @approved int,
			@LeaveStartTime INT,
			@LeaveEndTime INT,
			@SchedulingPersonID INT,
			@DutyDate DATE,
			@AllocationID INT,
			@HistoryTypeID INT,
			@vname  VARCHAR(50),
			@DutyHistory VARCHAR(100),
			@AllocationsSPID INT,
			@AllocationsDutyID INT,
			@SchedulingTeamId INT,
			@DutyType INT,
			@LeaveStartTimeLocal DATETIME,
			@LeaveEndTimeLocal DATETIME,
			@DutyStartTimeLocal DATETIME,
			@DutyEndTimeLocal DATETIME,
			@DutyStartTime INT,
			@DutyEndTime INT,
			@Duration INT,
			@ReturnValue INT,
			@NetLogin VARCHAR(25);

	SET @Returncode = 'Success';
	SET @status = 1;


   BEGIN TRY
    BEGIN TRANSACTION

	 select @approved=Approved,
			@LeaveStartTime = ISNULL(LeaveStartTime,0),
			@LeaveEndTime = ISNULL(LeaveEndTime,0),
			@LeaveStartTimeLocal = LeaveStartDateTime,
			@LeaveEndTimeLocal = LeaveEndDateTime,
			@SchedulingPersonID = SchedulingPersonID,
			@DutyDate = dDate
	   from LeaveApplications (NOLOCK) 
	  where ID = @leaveapplicationid;

		 SELECT @vname = UD_DisplayName	,
				@NetLogin = UD_NetLogin
		   FROM UserDetails (nolock)
		  WHERE UD_UserID = @currentuser

			SELECT @Allocationid = al.AL_AllocationsID,
				   @AllocationsSPID = ASP_AllocationsSPID,
				   @SchedulingTeamId = al.AL_SchedulingTeamID,
				   @AllocationsDutyID = ASP_AllocationsDutyID,
				   @DutyType = AD_DutyType,
				   @DutyStartTimeLocal = AD_DutyStartTimeLocal,
				   @DutyEndTimeLocal = AD_DutyEndTimeLocal,
				   @DutyStartTime = AD_StartTimeSec,
				   @DutyEndTime = AD_EndTimeSec,
				   @Duration = AD_Duration
			  FROM Allocations al (NOLOCK)
			  INNER JOIN TimeDimension TD ON TD.ixYearWeek = al.AL_WeekNumber 
			  INNER JOIN AllocationsScheduledPersons ASP ON AL.AL_AllocationsID=ASP.ASP_AllocationsID 
													   AND td.ixDayInWeek = ASP.ASP_iDay
			  INNER JOIN AllocationsDuties AD ON AD_AllocationsDutyID = ASP_AllocationsDutyID
			 WHERE ASP.ASP_SchedulingPersonID = @SchedulingPersonID
			   AND TD.dDateTime = @dutyDate

		IF ( ISNULL(@AllocationsSPID,0) > 0 )
		BEGIN
		  IF ( @LeaveStartTime > 0 OR @LeaveEndTime > 0 )
			BEGIN

				IF ( ( ISNULL(@DutyType,0) > 6 )
					OR ( ISNULL(@DutyStartTime,0) = 0 AND  ISNULL(@DutyEndTime,0) = 0 ) ) 
				 BEGIN

					ROLLBACK TRANSACTION
					SET @Returncode = 'There is no duty assigned for this day. Cannot restore the PDL ';
					SET @status = 0;
					select @status status, @Returncode strstatus;
					RETURN;	  
				 
				 END

				IF (    @LeaveStartTimeLocal > @DutyEndTimeLocal 
					 OR @LeaveStartTimeLocal < @DutyStartTimeLocal
					 OR @LeaveEndTimeLocal < @DutyStartTimeLocal
					 OR @LeaveEndTimeLocal > @DutyEndTimeLocal 
					) 
				 BEGIN

					ROLLBACK TRANSACTION
					SET @Returncode = 'Leave start time and end time not within the duty start time and end time. Cannot restore the PDL ';
					SET @status = 0;
					select @status status, @Returncode strstatus;
					RETURN;	  
				 
				 END

				IF ( DATEDIFF(SS,@DutyStartTimeLocal,@LeaveStartTimeLocal) 
								+ DATEDIFF(SS,@LeaveEndTimeLocal,@DutyEndTimeLocal) < 4500 )
				  BEGIN

					ROLLBACK TRANSACTION
					SET @Returncode = 'There is no minimum of 1:15 hours of work duration post the reinstatement of PDL. Cannot restore the PDL.';
					SET @status = 0;
					select @status status, @Returncode strstatus;
					RETURN;	 

				  END

				 update AllocationsScheduledPersons 
					SET ASP_LeaveStatus = 0,
						ASP_LeaveType = 6,
						ASP_LeaveDuration = NULL,
						ASP_LeaveStartTimeLocal = @LeaveStartTimeLocal,
						ASP_LeaveEndTimeLocal = @LeaveEndTimeLocal,
						ASP_LeaveStartTimeSec = @LeaveStartTime,
						ASP_LeaveEndTimeSec = @LeaveEndTime,
						ASP_UpdatedDate=getutcdate(),
						ASP_UpdatedBy=@currentuser 
				  where ASP_AllocationsSPID = @AllocationsSPID
		 
				  SELECT @HistoryTypeID = ID 
					FROM HistoryTypes 
				   where HistoryType = 'AllocationScheduledPerson'

				  SET @DutyHistory = 'PDL restored by '+ISNULL(@vname,'')
									 +' On '+FORMAT(Getdate(),'dd/MM/yyyy HH:mm')

				  EXEC [usp_mod_AllocationHistory] @AllocationsSPID,
												   @HistoryTypeID,
												   @currentuser,
												   @DutyHistory,
												   1, 
												   'PH';
			 
			 END
		    ELSE
			 BEGIN
				 update AllocationsScheduledPersons 
					SET ASP_LeaveStatus = 0,
						ASP_LeaveType = CASE WHEN @Duration > 0 THEN 1 ELSE 2 END,
						ASP_LeaveDuration = NULL,
						ASP_LeaveStartTimeLocal = NULL,
						ASP_LeaveEndTimeLocal = NULL,
						ASP_LeaveStartTimeSec = NULL,
						ASP_LeaveEndTimeSec = NULL,
						ASP_UpdatedDate=getutcdate(),
						ASP_UpdatedBy=@currentuser 
				  where ASP_AllocationsSPID = @AllocationsSPID
			 END

	 		EXEC @ReturnValue = usp_CreateAllocationsUpdate @Allocationid,
											@AllocationsDutyID,
											@AllocationsSPID,
											0,
											@NetLogin

			IF ( ISNULL(@ReturnValue,0) <> 0 )
			 BEGIN
				THROW 51000, 'Error while creating Duty update status', 1;
			 END;
			 
		END

	 UPDATE LeaveApplications 
		SET Deleted = 0,
			Approved = 0,
			History=@History,
			LastModDate=getutcdate(),
			LastModBy=@currentuser 
	 WHERE (ID = @leaveapplicationid);	

		SELECT @HistoryTypeID = ID 
		FROM HistoryTypes 
		where HistoryType = 'LeaveApplication'

	 EXEC [usp_mod_AllocationHistory] @leaveapplicationid,@HistoryTypeID,@currentuser,@History,1;

	    IF ( @@TRANCOUNT  > 0 ) 
         BEGIN
           COMMIT  TRANSACTION 
         END   
	   
		  SELECT 1 as status,
			     'Leave restored successfully' as strstatus 
			
	END TRY
				
	BEGIN CATCH

	  IF ( @@TRANCOUNT  > 0 ) 
	   BEGIN
		ROLLBACK TRANSACTION
	   END

		INSERT INTO ErrorLog
			(ErrorNumber,
				ErrorState,
				ErrorSeverity,
				ErrorProcedure,
				ErrorLine,
				ErrorMessage,
				ErrorDateTime,
				UserName
			)
		SELECT ERROR_NUMBER() AS ErrorNumber,
			ERROR_STATE() AS ErrorState,
			ERROR_SEVERITY() AS ErrorSeverity,
			ERROR_PROCEDURE() AS ErrorProcedure,
			ERROR_LINE() AS ErrorLine,
			ERROR_MESSAGE() AS ErrorMessage,
			getutcdate(),
			@currentuser	

	 	 SELECT 0 as status,
			    ERROR_MESSAGE() as strstatus  

	END CATCH;

END