USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_SetAllocateUsersActive]    Script Date: 29/06/2021 19:26:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_SetAllocateUsersActive]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_mod_SetAllocateUsersActive]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec [[usp_get_AllocateUsers]] 'SharmNW2'
*/
-- =============================================
-- Author:		
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_mod_SetAllocateUsersActive] 
	-- Add the parameters for the stored procedure here
	@netlogin		NVARCHAR(20),
	@isactive varchar (10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		UPDATE Users Set LastLogin = @isactive where NetLogin = @netlogin
END
GO
