USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MarkAllocationDutyRequest]    Script Date: 14/07/2022 17:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_mod_MarkAllocationDutyRequest] 
	-- Add the parameters for the stored procedure here
	@dutyId int,
	@teamId int,
	@requestStatus int,
	@CurrentuserID int,
	@CurrentuserName varchar(100),
	@status	 INT OUTPUT,
	@returnstring VARCHAR(1000) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @History VARCHAR(500) ='',
	@text char(20);
	
	 BEGIN TRANSACTION
        BEGIN TRY
    -- UPDATE statements for procedure here
	UPDATE Allocations SET isRequest = @requestStatus WHERE ID = @dutyId;
	if(@requestStatus=1)
	BEGIN
	SET @History ='Marked as Requested by '+ @CurrentuserName + ' on '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm');
	SET @text='Marked as Requested';
	END
	ELSE
	BEGIN
	
	SET @History ='UnMarked Request by '+ @CurrentuserName + ' on '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm');
	SET @text='Request is UnMarked';
	END

	EXEC [usp_mod_AllocationHistory] @dutyId,8,@CurrentuserID,@History,1;
	COMMIT TRANSACTION
	SET @returnstring = 'Duty '+@text+' sucessfully!';
	SET @status = 1;
	SELECT @status strstatus, @returnstring strsmsg;
	return
		END TRY
		BEGIN CATCH
	RoLLBACK TRANSACTION
	SET @returnstring = 'Opps! Some Error Found.';
	SET @status = 0;
	SELECT @status strstatus, @returnstring strsmsg;
	return
	END CATCH
END
GO
