USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_Checkusers]    Script Date: 09/09/2025 18:43:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_GET_Checkusers]
	-- Add the parameters for the stored procedure here
	@netlogin VARCHAR(80)
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @returnstring2 VARCHAR(200)
	DECLARE @returnstrin3 VARCHAR(200)
	DECLARE @username VARCHAR(300)
	DECLARE @status varchar(10)
	DECLARE @returnstring  varchar(100) 
	
	SET @status = 'error'
	SET @returnstring = 'No Record Found'
	SET @username = ''
	


	IF  EXISTS (SELECT 1 
				 FROM UserDetails (NOLOCK) 
				where UD_NetLogin = @netlogin)
		BEGIN
			
			SELECT @username = UD_DisplayName
			 FROM UserDetails (NOLOCK) 
			 where UD_NetLogin = @netlogin 	

			SET @returnstring = 'The Network Login you have entered is already a Allocate User.';
			SET @returnstring2 = 'The Name of the user is ' +@username
			SET @status = 'success'
		END
	
		
	SELECT @status strstatus , @returnstring strreturnstring,@returnstring2 strreturnstring2,@username strreturnstring3;	
			
	
END