USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterJobsFromMasterDuties]    Script Date: 13/10/2022 18:14:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_mod_MasterJobsFromMasterDuties]

@masterdutyid		INT,
@jobname			NVARCHAR(100),
@starttime			INT,
@endtime			INT,
@details			NVARCHAR(max),
@programmeid		INT,
@backcolour			NVARCHAR(12),
@fontcolour			NVARCHAR(12),
@contact			NVARCHAR(24),
@location			NVARCHAR(max),
@currentuser		NVARCHAR(100),
@areaid				INT ,
@teamid             INT,
@actionType			NVARCHAR(15)
AS
BEGIN
		Declare @RowNum INT,@masterjobid INT;
		SET NOCOUNT ON

BEGIN TRY
		-- Check if JobName already exist for AreaID.
		-- If Yes, send duplicate job name message
	DECLARE @status int, @JobStartTime int, @JobEndTime int,@DutyStartTime int, @DutyEndTime int, @IsMidNight bit, @strStatus varchar(500), @RecordCount int;
	set @status = 1;
	set @strStatus = 'Record inserted Successfully'
	if (@starttime > @endtime)
BEGIN
		set @endtime = (@endtime + 86400);
END
	IF(EXISTS(select 1 from MasterJobs where JobName = @jobname and IsActive = 1 and TeamID = @teamid and StartTime = @starttime and EndTime = @endtime) AND @actionType = 'EDIT')
BEGIN
		if (CHARINDEX(' - copy',@jobname) > 0)
BEGIN
			set @jobname = substring(@jobname,0,CHARINDEX(' - copy',@jobname));
select @RecordCount = (count(*)) from MasterJobs where JobName like @jobname+' - copy%' and TeamID = @teamid;
END
ELSE
BEGIN
select @RecordCount = (count(*) + 1) from MasterJobs where JobName like @jobname+' - copy%' and TeamID = @teamid;
END
		set @JobName = @JobName+ ' - copy' + convert(varchar(10),@RecordCount)
END
	if EXISTS(select 1 from MasterJobs where JobName = @jobname and IsActive = 1 and StartTime = @starttime and EndTime = @endtime and TeamID = @teamid)
BEGIN
		set @status = 0;
select @status intStatus, 'Job name is already exists.' strStatus;
return;
END
else
BEGIN
BEGIN TRANSACTION
		if (@starttime > @endtime)
BEGIN
			set @endtime = @endtime + 86400;
END
select @DutyStartTime = StartTime, @DutyEndTime = EndTime from MasterDuties where MasterDutyID = @masterdutyid and IsActive = 1;
if ((@starttime < @DutyStartTime) or (@endtime > @DutyEndTime))
BEGIN
			if (((@starttime + 86400) between @DutyStartTime and @DutyEndTime) and ((@endtime + 86400) between @DutyStartTime and @DutyEndTime))
BEGIN
				set @starttime = @starttime;
END
ELSE
BEGIN
ROLLBACK TRANSACTION;
select 0 intStatus, '<br><br><br><br>Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.<br><br><br><br><br><br>' strStatus;
return;
END
END
INSERT INTO MasterJobs (JobName,TeamID, StartTime, EndTime, CreatedDate,Contact,[Location],AreaID,IsActive,Details)
VALUES (@jobname,@teamid, @starttime, @endtime, GETDATE(),@contact,@location,@areaid,1,@details)

    SET @masterjobid = Scope_Identity()

INSERT INTO LINK_MasterJobs_Programmes (MasterJobID, ProgrammeID, IsActive)
VALUES (@masterjobid, @programmeid, 1)

INSERT INTO REF_MasterJobColours (MasterJobID,ColourBackground, ColourFont, IsActive)
VALUES (@masterjobid, @backcolour, @fontcolour, 1)

INSERT INTO MasterDutiesMasterJobs_LINK (MasterDutyID,MasterJobID)
VALUES (@masterdutyid,@masterjobid)

    IF (@JobEndTime > 86400 or @DutyEndTime > 86400)
BEGIN
select @DutyStartTime = StartTime, @DutyEndTime = EndTime from MasterDuties where MasterDutyID = @masterdutyid and IsActive = 1;
IF (@JobStartTime < @DutyEndTime and (@JobEndTime - 86340) > @DutyStartTime)
BEGIN
					if ((@JobStartTime < 86400) and (@DutyEndTime < 86400) and ((@JobStartTime + 86400) between @DutyStartTime and @DutyEndTime) and ((@JobEndTime + 86400) between @DutyStartTime and @DutyEndTime))
BEGIN
						set @strStatus = 'Record inserted Successfully';
END
else
BEGIN
ROLLBACK TRANSACTION;
set @status = 0;
select @status intStatus, 'The job you are trying to add will extend the Master Duty duration to more than 24 hours. A duty cannot be equal to or more than 24 hours.' strStatus;
return;
END
END
ELSE IF((@DutyEndTime - @DutyStartTime) > 86400)
BEGIN
ROLLBACK TRANSACTION;
set @status = 0;
select @status intStatus, 'The job you are trying to add will extend the Master Duty duration to more than 24 hours. A duty cannot be equal to or more than 24 hours.' strStatus;
return;
END
ELSE
BEGIN
update [dbo].[MasterDutiesMasterJobs_LINK] set IsMidNight = 1 where MasterJobID = @masterjobid and MasterDutyID = @masterdutyid;
END

END
COMMIT TRANSACTION
select 1 intStatus, 'Record inserted Successfully' strStatus, @masterjobid masterjobid;
return;
END
END TRY
BEGIN CATCH
	--SET @errormessage=ERROR_MESSAGE()
INSERT INTO ErrorLog
		VALUES
		(
		ERROR_NUMBER(),
		ERROR_STATE(),
		ERROR_SEVERITY(),
		ERROR_LINE(),
		'usp_mod_MasterJobsFromMasterDuties',
		ERROR_MESSAGE(),
		GETDATE(),
		''
		)
END CATCH

END
