USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_RotaMasterDuties]    Script Date: 23/10/2024 20:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_GET_RotaMasterDuties]
	-- Add the parameters for the stored procedure here
	@areaid INT = 0,
	@dutytypeid INT = 0,
	@isarchived INT = 0,
	@searchtext VARCHAR(60),
	@searchteams VARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @searchtext IS NULL
		SET @searchtext = ''

	DECLARE @isactive INT
	SET @isactive = 1

	IF @isarchived = 1
		SET @isactive = 0



	IF (@searchteams = '0' or @searchteams = null)
	BEGIN
		select 0 MasterDutyID;
		return;
	END

	IF @searchtext = ''
      BEGIN
		 SELECT T1.MasterDutyID,
				T1.DutyName,
				case when (T1.EndTime - T1.StartTime) < 0 then (T1.EndTime - T1.StartTime) + (24*3600)
					 else (T1.EndTime - T1.StartTime) END
														as Duration,
				T1.WindowDuration,
				CONVERT(VARCHAR(10),T1.StartDate,103) as StartDate,
				CONVERT(VARCHAR(10),T1.EndDate,103) as EndDate,
				T1.StartTime,
				T1.EndTime,
				T1.dotw,
				T1.BackColour,
				T1.ForeColour,
				T1.TeamID,
				ISNULL(T1.DutyColourID, 0) AS DutyColourID,
				ISNULL(T5.ColourBackground, '708090') as ColourBackground,
				ISNULL(T5.ColourFont, 'fff0f5') as ColourFont,
				T2.MasterJobID AS JobID,
				T2.JobTypeID,
				T2.JobName as Job,
				T2.StartTime AS JobStartTime,
				T2.EndTime AS JobEndTime,
				T4.ColourBackground AS JobBackColour,
				T4.ColourFont AS JobForeColour,
				ISNULL(T1.Saturday, 0) as Sat,
				ISNULL(T1.Sunday, 0) as Sun,
				ISNULL(T1.Monday, 0) as Mon,
				ISNULL(T1.Tuesday, 0) as Tue,
				ISNULL(T1.Wednesday, 0) as Wed,
				ISNULL(T1.Thursday, 0) as Thu,
				ISNULL(T1.Friday, 0) as Fri,
				ISNULL(T40.[0], 0) as CountSat,
				ISNULL(T40.[1], 0) as CountSun,
				ISNULL(T40.[2], 0) as CountMon,
				ISNULL(T40.[3], 0) as CountTue,
				ISNULL(T40.[4], 0) as CountWed,
				ISNULL(T40.[5], 0) as CountThu,
				ISNULL(T40.[6], 0) as CountFri,
				CONVERT(VARCHAR(30),T1.LastModDate,121) as LastModDate
		   FROM MasterJobs T2 (NOLOCK) INNER JOIN MasterDutiesMasterJobs_LINK T3 (NOLOCK) ON T2.MasterJobID = T3.MasterJobID
		  RIGHT OUTER JOIN MasterDuties T1 (NOLOCK) ON T3.MasterDutyID = T1.MasterDutyID AND T1.IsActive = @isactive
		   LEFT OUTER JOIN [dbo].[REF_MasterJobColours] T4 (NOLOCK) ON  T2.MasterJobID = T4.MasterJobID
		   LEFT OUTER JOIN REF_MasterDutyColours T5 (NOLOCK) ON T1.DutyColourID = T5.MasterDutyColourID
		   LEFT OUTER JOIN (SELECT MasterDutyID, [0], [1], [2], [3], [4], [5], [6]
							FROM (
								select rd.MasterDutyId,
										rd.DOTW as DayOfRota,
										count(1) as DutyCount
									from MasterRotas MR
									inner join RotaDuties RD on RD.RotaID = mr.RotaID
									where rd.IsActive = 1 
									and mr.TeamID IN ( SELECT value 
														FROM STRING_SPLIT(@searchteams, ',')
														)						
								GROUP BY rd.MasterDutyID, rd.DOTW
							) AS T30
							PIVOT
							(
								SUM(DutyCount)
								FOR [DayOfRota] IN ([0], [1], [2], [3], [4], [5], [6])
							) AS PIV
						) AS T40
						ON T1.MasterDutyID = T40.MasterDutyID
		WHERE ((T1.AreaID = @areaid)
			OR (T1.AreaID = 0))
			AND T1.IsActive = @isactive
			AND T1.DutyTypeID = @dutytypeid
			AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@searchteams, ',')))
		ORDER BY T1.DutyName
	  END
     ELSE
	  BEGIN
		 SELECT T1.MasterDutyID,
				T1.DutyName,
				case when (T1.EndTime - T1.StartTime) < 0 then (T1.EndTime - T1.StartTime) + (24*3600)
					 else (T1.EndTime - T1.StartTime) END
														as Duration,
				T1.WindowDuration,
				CONVERT(VARCHAR(10),T1.StartDate,103) as StartDate,
				CONVERT(VARCHAR(10),T1.EndDate,103) as EndDate,
				T1.StartTime,
				T1.EndTime,
				T1.dotw,
				T1.BackColour,
				T1.ForeColour,
				T1.TeamID,
				ISNULL(T1.DutyColourID, 0) AS DutyColourID,
				ISNULL(T5.ColourBackground, '708090') as ColourBackground,
				ISNULL(T5.ColourFont, 'fff0f5') as ColourFont,
				T2.MasterJobID AS JobID,
				T2.JobTypeID,
				T2.JobName Job,
				T2.StartTime AS JobStartTime,
				T2.EndTime AS JobEndTime,
				T4.ColourBackground AS JobBackColour,
				T4.ColourFont AS JobForeColour,
				ISNULL(T1.Saturday, 0) as Sat,
				ISNULL(T1.Sunday, 0) as Sun,
				ISNULL(T1.Monday, 0) as Mon,
				ISNULL(T1.Tuesday, 0) as Tue,
				ISNULL(T1.Wednesday, 0) as Wed,
				ISNULL(T1.Thursday, 0) as Thu,
				ISNULL(T1.Friday, 0) as Fri,
				ISNULL(T40.[0], 0) as CountSat,
				ISNULL(T40.[1], 0) as CountSun,
				ISNULL(T40.[2], 0) as CountMon,
				ISNULL(T40.[3], 0) as CountTue,
				ISNULL(T40.[4], 0) as CountWed,
				ISNULL(T40.[5], 0) as CountThu,
				ISNULL(T40.[6], 0) as CountFri,
				CONVERT(VARCHAR(30),T1.LastModDate,121) as LastModDate
		   FROM MasterJobs T2 (NOLOCK) INNER JOIN MasterDutiesMasterJobs_LINK T3 (NOLOCK) ON T2.MasterJobID = T3.MasterJobID
		  RIGHT OUTER JOIN MasterDuties T1 (NOLOCK) ON T3.MasterDutyID = T1.MasterDutyID AND T1.IsActive = @isactive
		   LEFT OUTER JOIN [dbo].[REF_MasterJobColours] T4 (NOLOCK)ON  T2.MasterJobID = T4.MasterJobID
		   LEFT OUTER JOIN REF_MasterDutyColours T5 (NOLOCK) ON T1.DutyColourID = T5.MasterDutyColourID
		   LEFT OUTER JOIN (SELECT MasterDutyID, [0], [1], [2], [3], [4], [5], [6]
					FROM (
						select rd.MasterDutyId,
								rd.DOTW as DayOfRota,
								count(1) as DutyCount
							from MasterRotas MR
							inner join RotaDuties RD on RD.RotaID = mr.RotaID
							where rd.IsActive = 1 
							and mr.TeamID IN ( SELECT value 
												FROM STRING_SPLIT(@searchteams, ',')
												)						
						GROUP BY rd.MasterDutyID, rd.DOTW
					) AS T30
					PIVOT
					(
						SUM(DutyCount)
						FOR [DayOfRota] IN ([0], [1], [2], [3], [4], [5], [6])
					) AS PIV
						) AS T40
						ON T1.MasterDutyID = T40.MasterDutyID
			WHERE ((T1.AreaID = @areaid)
			         OR (T1.AreaID = 0))
		      AND T1.IsActive = @isactive
			  AND T1.DutyTypeID = @dutytypeid
			  AND CHARINDEX(@searchtext, T1.DutyName) > 0
			  AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@searchteams, ',')))
			ORDER BY T1.DutyName
		END
END
