USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUserWebConfigHourWidth]    Script Date: 01/03/2023 18:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_UpdateUserWebConfigHourWidth]
@strLogin VARCHAR(50) , 
@intZoomAmount int ,
@teamId INT,
@HourWidth INT = 100


AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @HRwidth int;
    IF EXISTS (SELECT HourWidth FROM User_Web_Config  WHERE   (Login = @strLogin))
	BEGIN
		Select @HRwidth =max(HourWidth) FROM User_Web_Config WHERE Login = @strLogin AND ISNULL(HourWidth, 0) > 0 
        Update User_Web_Config SET HourWidth =isnull(@HRwidth,100)+@intZoomAmount
		WHERE  (Login = @strLogin) 
	END
	ELSE 
		INSERT INTO User_Web_Config (HourWidth, Login)
		VALUES (@HourWidth, @strLogin)
END