USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_SchedulePersonByStaffNumber]    Script Date: 21/10/2025 19:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_get_SchedulePersonByStaffNumber]
@ScheduledPersonID VARCHAR(500)
AS
BEGIN
	SET NOCOUNT ON;
	Select  U.UD_DisplayName AS DisplayName, schedulingTeams.schedulingTeamId,  
					schedulingTeams.isActive, stl.isDefault,
     U.UD_StaffNumber AS StaffNumber, U.UD_NetLogin AS NetLogin, stl.ScheduledPersonID  
 FROM  UserDetails AS U WITH(NOLOCK)   
      INNER JOIN ScheduledPersonTeam_LINK as stl WITH(NOLOCK) on U.UD_UserID = stl.ScheduledPersonID  
      INNER JOIN schedulingTeams WITH(NOLOCK) on stl.TeamID = schedulingTeams.schedulingTeamId  
       WHERE     U.UD_UserID  = @ScheduledPersonID;  
END