USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ListAllProgrammesByTeamId]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_GET_ListAllProgrammesByTeamId]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ListAllProgrammesByTeamId]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Author:		Neeraj  Kumar
-- Create date: 04/07/2021
-- Description:	SP to get List of All Programmes By TeamId.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_ListAllProgrammesByTeamId]
@teamid INT
AS
BEGIN
	SET NOCOUNT ON;
    SELECT ID, programmename
    FROM          skills_programmes
    WHERE         (TeamID = @teamid)
    ORDER BY      programmename
END
GO
