USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchSchedulingTeamDetails]    Script Date: 04/11/2025 20:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_SearchSchedulingTeamDetails]  
 -- Add the parameters for the stored procedure here  
 @intUserId int,  
 @schedulingteamid int  
   
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statementsss.  
 SET NOCOUNT ON;  
  
 IF (@schedulingteamid = 0)  
 BEGIN  
  -- Select statement for procedure here  
  IF EXISTS(select 1 
			  from UserRoles (NOLOCK) 
			 where UR_UserID = @intUserId 
			   and UR_RoleID = 1 
			   and GETDATE() between UR_StartDate and UR_EndDate)  
  BEGIN  
   SELECT DISTINCT  
    st.schedulingTeamId, st.schedulingTeamName, st.schedulingTeamDescription,st.divisionId,0 as "isDivsiosn",  
    div.DivisionName, st.defaultDutyChargeCode, st.isActive,  
    st.defaultSicknessHoursAllocation, st.defaultDutyDuration, st.workTimeDirectiveOptOut, st.checkOverSixDaysWorked,  
    st.checkOverFiveDaysWorked, st.signIn, st.signInDays, st.allowInBuilding,  
    st.allowOvertimeRequests, st.colourWeek, st.locks, st.locksStart, st.locksEnd,  
    st.locksWeekataTime, st.maskType, mt.maskTypeName, st.maskAfter, st.DailyViewMasking,  
    st.dailyViewMaskingDays, st.freelancerMasking, st.freelancerMaskingDays,  
    st.restrictedEditing, st.numberofDaysAllowedEditing, convert(varchar(30),st.editingStart,105) as editingStart, convert(varchar(30),st.editingEnd,105) as editingEnd,  
    st.WeekendOnly, st.autoLockTodayTimer, st.hasGridChecks, st.showProductionView,  
    st.autoImportWeeks, st.NoofAutoAutoimportWeeks, st.hasXmasPoints,  
    st.defaultNumberweeksRotaPattern, convert(varchar(30),st.defaultRotaStartDate,105) as defaultRotaStartDate, st.currentLeaveYear,  
    st.leaveSelectiveHide, st.hasHandovers, convert(varchar(30),st.staffAvailabilityReportStartDate,105) as staffAvailabilityReportStartDate, st.Email AS Email, est.EstablishCode, 
    est.EstablishCodeDescription,st.defaultActiveCode,st.IsRestrictCopyDuty,st.ShowJobsInWeeklyView,st.IsCreateDutyFromRota,
    st.IsShowEditYearly, st.IsRestrictDeleteDuty, st.RestrictApplyROTAPattern
   from Schedulingteams as st (NOLOCK)
    inner join [dbo].[Divisions] as div (NOLOCK) on div.DivisionID = st.divisionId and div.isActive = 1  
    left join [dbo].[maskType] as mt (NOLOCK) on mt.maskTypeId = st.maskType   
    left join EstablishCode est (NOLOCK) on est.EstablishCodeId = st.establishCodeID
    ORDER BY st.schedulingTeamName ASC
  END  
  ELSE  
  BEGIN  
   SELECT DISTINCT  
    st.schedulingTeamId, st.schedulingTeamName, st.schedulingTeamDescription,st.divisionId,0 as "isDivsiosn",  
    div.DivisionName, st.defaultDutyChargeCode, st.isActive,  
    st.defaultSicknessHoursAllocation, st.defaultDutyDuration, st.workTimeDirectiveOptOut, st.checkOverSixDaysWorked,  
    st.checkOverFiveDaysWorked, st.signIn, st.signInDays, st.allowInBuilding,  
    st.allowOvertimeRequests, st.colourWeek, st.locks, st.locksStart, st.locksEnd,  
    st.locksWeekataTime, st.maskType, mt.maskTypeName, st.maskAfter, st.DailyViewMasking,  
    st.dailyViewMaskingDays, st.freelancerMasking, st.freelancerMaskingDays,  
    st.restrictedEditing, st.numberofDaysAllowedEditing, convert(varchar(30),st.editingStart,105) as editingStart, convert(varchar(30),st.editingEnd,105) as editingEnd,  
    st.WeekendOnly, st.autoLockTodayTimer, st.hasGridChecks, st.showProductionView,  
    st.autoImportWeeks, st.NoofAutoAutoimportWeeks, st.hasXmasPoints,  
    st.defaultNumberweeksRotaPattern, convert(varchar(30),st.defaultRotaStartDate,105) as defaultRotaStartDate, st.currentLeaveYear,  
    st.leaveSelectiveHide, st.hasHandovers, convert(varchar(30),st.staffAvailabilityReportStartDate,105) as staffAvailabilityReportStartDate,  st.Email AS Email, est.EstablishCode,
    est.EstablishCodeDescription, st.defaultActiveCode,st.IsRestrictCopyDuty,st.ShowJobsInWeeklyView,st.IsCreateDutyFromRota,
	st.IsShowEditYearly, st.IsRestrictDeleteDuty, st.RestrictApplyROTAPattern
   from Schedulingteams as st (NOLOCK)  
    inner join UserRoles as ut (NOLOCK) on st.schedulingTeamId = ut.UR_SchedulingTeamID
	AND ut.UR_RoleID IN (3, 4, 5) 
	and GETDATE() between UR_StartDate and UR_EndDate
    inner join [dbo].[Divisions] as div (NOLOCK) on div.DivisionID = st.divisionId  
    inner join [dbo].[maskType] as mt (NOLOCK) on mt.maskTypeId = st.maskType 
    left join EstablishCode est (NOLOCK) on est.EstablishCodeId = st.establishCodeID 
   where ut.UR_UserID = @intUserId 
     and NOT EXISTS ( Select 1
                        from UserRoles da
						inner join REF_Roles rr on rr.RoleID = da.UR_RoleID
						where da.UR_UserID = ut.UR_UserID
						and rr.RoleName = 'Area Admin'
						and div.DivisionID = ISNULL(da.UR_DivisionId,0)
					  )
   UNION  
   SELECT DISTINCT  
    st.schedulingTeamId, st.schedulingTeamName, st.schedulingTeamDescription,st.divisionId,st.divisionId as "isDivsiosn",  
    div.DivisionName, st.defaultDutyChargeCode, st.isActive,  
    st.defaultSicknessHoursAllocation, st.defaultDutyDuration, st.workTimeDirectiveOptOut, st.checkOverSixDaysWorked,  
    st.checkOverFiveDaysWorked, st.signIn, st.signInDays, st.allowInBuilding,  
    st.allowOvertimeRequests, st.colourWeek, st.locks, st.locksStart, st.locksEnd,  
    st.locksWeekataTime, st.maskType, mt.maskTypeName, st.maskAfter, st.DailyViewMasking,  
    st.dailyViewMaskingDays, st.freelancerMasking, st.freelancerMaskingDays,  
    st.restrictedEditing, st.numberofDaysAllowedEditing, convert(varchar(30),st.editingStart,105) as editingStart, convert(varchar(30),st.editingEnd,105) as editingEnd,  
    st.WeekendOnly, st.autoLockTodayTimer, st.hasGridChecks, st.showProductionView,  
    st.autoImportWeeks, st.NoofAutoAutoimportWeeks, st.hasXmasPoints,  
    st.defaultNumberweeksRotaPattern, convert(varchar(30),st.defaultRotaStartDate,105) as defaultRotaStartDate, st.currentLeaveYear,  
    st.leaveSelectiveHide, st.hasHandovers, convert(varchar(30),st.staffAvailabilityReportStartDate,105) as staffAvailabilityReportStartDate, st.Email AS Email, est.EstablishCode,
    est.EstablishCodeDescription, st.defaultActiveCode,st.IsRestrictCopyDuty,st.ShowJobsInWeeklyView,st.IsCreateDutyFromRota,
	st.IsShowEditYearly, st.IsRestrictDeleteDuty, st.RestrictApplyROTAPattern
   from Schedulingteams as st  (NOLOCK) 
    left join [dbo].[Divisions] as div (NOLOCK) on div.DivisionID = st.divisionId and div.isActive = 1  
    left join [dbo].[maskType] as mt (NOLOCK) on mt.maskTypeId = st.maskType  
    inner join UserRoles  as da (NOLOCK) on da.UR_DivisionId = st.divisionId  
	inner join REF_Roles rr on rr.RoleID = da.UR_RoleID
    left join EstablishCode est (NOLOCK) on est.EstablishCodeId = st.establishCodeID 
   where da.UR_UserID = @intUserId
     and rr.RoleName = 'Area Admin'
   ORDER BY st.schedulingTeamName ASC
  
  END  
 END  
 ELSE  
 BEGIN  
     SELECT DISTINCT  
    st.schedulingTeamId, st.schedulingTeamName, st.schedulingTeamDescription,st.divisionId,  
    div.DivisionName, st.defaultDutyChargeCode, st.isActive,  
    st.defaultSicknessHoursAllocation, st.defaultDutyDuration, st.workTimeDirectiveOptOut, st.checkOverSixDaysWorked,  
    st.checkOverFiveDaysWorked, st.signIn, st.signInDays, st.allowInBuilding,  
    st.allowOvertimeRequests, st.colourWeek, st.locks, st.locksStart, st.locksEnd,  
    st.locksWeekataTime, st.maskType, mt.maskTypeName, st.maskAfter, st.DailyViewMasking,  
    st.dailyViewMaskingDays, st.freelancerMasking, st.freelancerMaskingDays,  
    st.restrictedEditing, st.numberofDaysAllowedEditing, convert(varchar(30),st.editingStart,105) as editingStart, convert(varchar(30),st.editingEnd,105) as editingEnd,  
    st.WeekendOnly, st.autoLockTodayTimer, st.hasGridChecks, st.showProductionView,  
    st.autoImportWeeks, st.NoofAutoAutoimportWeeks, st.hasXmasPoints,  
    st.defaultNumberweeksRotaPattern, convert(varchar(30),st.defaultRotaStartDate,105) as defaultRotaStartDate, st.currentLeaveYear,  
    st.leaveSelectiveHide, st.hasHandovers, convert(varchar(30),st.staffAvailabilityReportStartDate,105) as staffAvailabilityReportStartDate, st.Email AS Email, est.EstablishCode,
    est.EstablishCodeDescription,st.defaultActiveCode,st.IsRestrictCopyDuty,st.ShowJobsInWeeklyView,st.IsCreateDutyFromRota,
	st.IsShowEditYearly, st.IsRestrictDeleteDuty, st.RestrictApplyROTAPattern
   from Schedulingteams as st (NOLOCK)
    left join [dbo].[Divisions] as div (NOLOCK) on div.DivisionID = st.divisionId  
    left join [dbo].[maskType] as mt (NOLOCK) on mt.maskTypeId = st.maskType  
    left join EstablishCode est (NOLOCK) on est.EstablishCodeId = st.establishCodeID
   where st.schedulingTeamId = @schedulingteamid
   ORDER BY st.schedulingTeamName ASC
 END  
END  