USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_MasterJobs]    Script Date: 25/01/2022 13:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_MasterJobs]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_get_MasterJobs]
@areaid				INT,
@currentuser		NVARCHAR(100),
@masterjobid		INT,
@teamid				VARCHAR(255) = 0
AS
BEGIN
BEGIN TRY
IF ((@teamid = 0 or @teamid = null) and @masterjobid = 0)
BEGIN
	SELECT 0 MasterJobID,
			'''' JobName,
			'''' StartTime,
			'''' EndTime,
			'''' Details,
			'''' Contact,
			'''' Location,
			'''' ProgrammeID,
			'''' TeamID,
			'''' as TeamName ,
			'''' as ''Programme'',
			'''' as ''BackColour'',
			'''' as ''FontColour'',
			'''' ''IsLinkjob'';
	return;
END
ELSE
BEGIN
	IF (isnull(@masterjobid,0)=0)
	BEGIN
		SELECT distinct T1.MasterJobID,
				JobName,
				case when StartTime >= 86400 then (StartTime - 86400) else StartTime end as StartTime,
				case when EndTime > 86400 then (EndTime - 86400) else EndTime end as EndTime,
				Details,
				Contact,
			[Location],
			T2.ProgrammeID,
			T1.TeamID,
			T5.schedulingTeamName as TeamName ,
			T3.Programme as ''Programme'',
			T4.ColourBackground as ''BackColour'',
			T4.ColourFont as ''FontColour'',
			case when isnull(mdmj.MasterJobID,'''') = '''' then 0
			else 1 end as IsLinkjob
		FROM MasterJobs T1 (NOLOCK)
			INNER JOIN LINK_MasterJobs_Programmes T2 (NOLOCK) ON T1.MasterJobID=T2.MasterJobID
			LEFT JOIN Programmes T3 (NOLOCK) ON T2.ProgrammeID=T3.ID
			LEFT JOIN MasterDutiesMasterJobs_LINK as mdmj (NOLOCK) on T1.MasterJobID = mdmj.MasterJobID
			LEFT JOIN REF_MasterJobColours T4 (NOLOCK) ON T1.MasterJobID=T4.MasterJobID
			LEFT JOIN schedulingTeams T5 (NOLOCK) ON T5.schedulingTeamId = T1.TeamID
		WHERE T1.IsActive=1 and (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, '','')))
	END
	ELSE
	BEGIN
	SELECT distinct T1.MasterJobID,
		   JobName,
		   case when StartTime >= 86400 then (StartTime - 86400) else StartTime end as StartTime,
		   case when EndTime > 86400 then (EndTime - 86400) else EndTime end as EndTime,
		   Details,
		   Contact,
		[Location],
		T2.ProgrammeID,
		T1.TeamID,
		T5.schedulingTeamName as TeamName ,
		T3.Programme as ''Programme'',
		T4.ColourBackground as ''BackColour'',
		T4.ColourFont as ''FontColour'',
		case when isnull(mdmj.MasterJobID,'''') = '''' then 0
		else 1 end as IsLinkjob
				FROM MasterJobs T1 (NOLOCK)
					INNER JOIN LINK_MasterJobs_Programmes T2 (NOLOCK) ON T1.MasterJobID=T2.MasterJobID
					LEFT JOIN Programmes T3 (NOLOCK) ON T2.ProgrammeID=T3.ID
					LEFT JOIN MasterDutiesMasterJobs_LINK as mdmj (NOLOCK) on T1.MasterJobID = mdmj.MasterJobID
					LEFT JOIN REF_MasterJobColours T4 (NOLOCK) ON T1.MasterJobID=T4.MasterJobID
					LEFT JOIN schedulingTeams T5 (NOLOCK) ON T5.schedulingTeamId= T1.TeamID
				WHERE (T1.MasterJobID = @masterjobid
				or
				(
				T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, '','')))
				)
				AND T1.IsActive=1
	END

END


END TRY
BEGIN CATCH
			--SET @errormessage=ERROR_MESSAGE()

INSERT INTO ErrorLog
				VALUES
			  (
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   ''usp_get_MasterJobs'',
			   ERROR_MESSAGE(),
			   GETDATE(),
			   @currentuser
			  )
END CATCH

END
'

EXEC dbo.sp_executesql @strSQL

GO
