USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_getdivisionbyuserForSchedulingTeam]    Script Date: 18/12/2024 20:37:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_getdivisionbyuserForSchedulingTeam]
	-- Add the parameters for the stored procedure here
	@intUserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		-- Select statement for procedure here
		IF EXISTS(select 1 from UserSystemRole_Link (NOLOCK) where UserID = @intUserId and RoleID = 1)
		BEGIN
			SELECT DISTINCT
				std.DivisionID,div.DivisionName
				from Schedulingteams as st
				inner join [dbo].[schedulingTeamDivision_Link] as std on std.schedulingTeamId = st.schedulingTeamId and std.isActive =1
				inner join [dbo].[Divisions] as div on div.DivisionID = std.divisionId and div.isActive = 1
				inner join [dbo].[maskType] as mt on mt.maskTypeId = st.maskType 
				where st.isActive = 1
		END
		ELSE
		BEGIN
			SELECT DISTINCT
				std.divisionId as DivisionID,div.DivisionName as DivisionName
				from Schedulingteams as st
				inner join UserTeamRole_LINK as ut on st.schedulingTeamId = ut.TeamID and ut.StartDate <= convert(datetime,convert(varchar(10),getdate(),110),110)
					and isnull(ut.EndDate,'9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)
				left join [dbo].[schedulingTeamDivision_Link] as std on std.schedulingTeamId = st.schedulingTeamId and st.isActive = 1
				left join [dbo].[Divisions] as div on div.DivisionID = std.divisionId
				left join [dbo].[maskType] as mt on mt.maskTypeId = st.maskType
			where ut.UserID = @intUserId

			UNION

			SELECT DISTINCT
				std.divisionId as DivisionID,div.DivisionName as DivisionName
				from Schedulingteams as st
				left join [dbo].[schedulingTeamDivision_Link] as std on std.schedulingTeamId = st.schedulingTeamId and st.isActive = 1
				left join [dbo].[Divisions] as div on div.DivisionID = std.divisionId and div.isActive = 1
				left join [dbo].[maskType] as mt on mt.maskTypeId = st.maskType
				inner join DivisonalAdmin  as da on da.DivisionID = std.divisionId and da.IsActive = 1
				inner join REF_Roles rr on rr.RoleID = da.RoleId
			where da.UserID = @intUserId
			  and rr.RoleName = 'Area Admin'


		END
	
END
