USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_userTeamRoleList]    Script Date: 11/04/2022 13:28:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER PROCEDURE [dbo].[usp_get_userTeamRoleList]
	-- Add the parameters for the stored procedure here
	@teamid INT,
	@userid INT,
	@roletype Varchar(10),
	@action Varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @action = 'all'
    BEGIN
    SELECT ut.RoleID FROM UserTeamRole_LINK ut JOIN REF_ROLES rr on rr.RoleID = ut.RoleID
    Where ut.TeamID =@teamid AND ut.UserID = @userid
        and ut.StartDate <= convert(datetime,convert(varchar(10),getdate(),110),110) and isnull(ut.EndDate,'9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)
    END
    ELSE
    BEGIN
        SELECT ut.RoleID FROM UserTeamRole_LINK ut JOIN REF_ROLES rr on rr.RoleID = ut.RoleID
        Where ut.TeamID =@teamid AND ut.UserID = @userid and isAdditional = @roletype
            and ut.StartDate <= convert(datetime,convert(varchar(10),getdate(),110),110) and isnull(ut.EndDate,'9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)
    END
END
