USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_Divisionrecord]    Script Date: 03/09/2025 21:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER         PROCEDURE [dbo].[usp_mod_Divisionrecord]  
@divisionid  int,  
@action VARCHAR(20),   
@name VARCHAR(50),   
@isactive bit,  
@notes VARCHAR(500),  
@modulename varchar(200),  
@currentuserid  INT,  
@currentuser  VARCHAR(200),  
@status    VARCHAR(20) OUTPUT,  
@returnstring  VARCHAR(1000) OUTPUT  
  
AS  
BEGIN  

 SET NOCOUNT ON;  
  
 DECLARE @err int  
 DECLARE @rows int  
 DECLARE @RowNum int  
  
 DECLARE @newid INT  
 DECLARE @historytype int  
 DECLARE @activestring varchar(15)  
 DECLARE @oldname varchar(50)  
 DECLARE @oldactive varchar(10)  
 DECLARE @historytext varchar(max)  
 DECLARE @oldactivestring VARCHAR(15)  
  
 DECLARE @oldNotes VARCHAR(500)  
   
 SET @activestring = 'Activate'  
 SET @oldactivestring = 'Inactive'  
 SET @historytext = ''  
 SET @status = 'success'  
 SET @returnstring = 'Area has been created successfully.'  
  
  
 IF ( ISNULL(@currentuser,'') =  '')  
  BEGIN  
	 SELECT @currentuser =U.UD_DisplayLastName      
	  FROM [UserDetails] U (nolock)  
	  where U.UD_UserID = @currentuserid  
  END  
   
 --Check unique record  
  IF EXISTS (	Select 1 
				from Divisions 
				where DivisionName = @name 
				  and DivisionID <> @divisionid )  
	  Begin 
  
	   SET @status = 'uniquename';
	   SET  @returnstring = 'This Area Name Already Exists, Please Try with Other Area Name.'  

	   SELECT @status strstatus , @returnstring strreturnstring;  
	   Return 0  

	  End  
 
	 IF @isactive = 0  
	  BEGIN  
	   IF EXISTS (select 1 from schedulingTeams where divisionid = @divisionid)  
		BEGIN  
		 SET @returnstring = 'You can''t deactivate this Area, it has active Scheduling Teams. 
		 Please make the Scheduling Teams inactive or assign Scheduling Teams to other Area before making this Area inactive.'  
		 SET @status = 'error'  
		 SELECT @status strstatus , @returnstring strreturnstring;  
		 RETURN 0  
		END  
		SET @activestring = 'Inactive';  
		SET @oldactivestring  = 'Activate';  
	  END  
 
  
 BEGIN TRANSACTION  
  BEGIN  
	if ( @action = 'insert')  
	  Begin  
 
		 INSERT INTO Divisions (DivisionName, Notes, EffectedFrom,IsActive,CreatedBy,CreatedDate)  
		  VALUES (@name, @notes,GETDATE(),@isactive,@currentuserid,GETDATE());  

		   SET @newid = Scope_Identity();  
    
		   SET @historytext  = 'Area Created by ' +  @currentuser + ' on ' 
							  +  FORMAT(Getdate(),'dd/MM/yyyy HH:mm') + '.<br>'  

			SELECT @err = @@ERROR, @rows = @@ROWCOUNT 
		
			 IF @err <> 0   
			  BEGIN  
			   ROLLBACK TRANSACTION  
			   SET @status = 'error'  
			   SET @returnstring = 'Error saving the Area Details.'  
			   RETURN 0  
			  END  
			 IF @rows = 0   
			  BEGIN  
			   ROLLBACK TRANSACTION  
			   SET @status = 'error'  
			   SET @returnstring = 'Error saving the Area Details.'  
			   RETURN 0  
			  END  
	 End  
   Else  
	  BEGIN  
  
	   SET @newid = @divisionid  
     
	   Select @oldname = DivisionName,
			  @oldactive = isActive,
			  @oldNotes = Notes   
		 from Divisions   
		where DivisionID = @divisionid  
       
	   SET @historytext =  'Area updated by '   
						  + @currentuser 
						  + ' on '   
						  +  FORMAT(Getdate(),'dd/MM/yyyy HH:mm')   
						  + '.<br>'  
 
		 IF @action = 'update'  
		  BEGIN  

		   Update Divisions   
			  SET DivisionName =@name ,Notes = @notes,isActive = @isactive,LastModDate = GETDATE()  
			Where DivisionID = @divisionid  

			SET @returnstring = 'Area has been updated successfully.'  
			if(@oldname != @name)  
			 begin   
			  SET @historytext =  @historytext +  'The Area name changed from '+ @oldname + ' to ' + @name + '. <br>'  
			 end  
			if(@oldactive != @isactive)  
			 begin   
			  SET @historytext =  @historytext + ' Area set from '+ @oldactivestring + ' to ' + @activestring + '. <br>'  
			 end  
			if(@oldNotes != @notes)  
			 begin   
			  SET @historytext  = @historytext +' Area Note Updated by ' +  @currentuser+ '. <br>'  
			 end  
         
		  END  
 
		 IF @action = 'isactive'  
		 BEGIN  
         
		   Update Divisions   
			SET isActive = @isactive,LastModDate = GETDATE()  
			Where DivisionID = @divisionid  
			 SET @returnstring = 'Area has been '+ @activestring +' successfully.'  
         
			 SET @historytext  = @historytext +' Area set from  '+ @oldactivestring + ' to ' + @activestring   
		 END  
      END         

	 Select @historytype = id 
	   from HistoryTypes 
	  where HistoryType = @modulename  
  
	  INSERT INTO [dbo].[History]([HistoryType],[UserID],[History],[datetime],[AttributeID])  
	  VALUES (@historytype ,@currentuserid,@historytext,GETDATE(),@newid)  
  
	  SELECT @status strstatus , 
			 @returnstring strreturnstring;
 
	COMMIT TRANSACTION  

  END  
  
END