USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ColorID_ByName]    Script Date: 08/09/2021 19:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_ColorID_ByName]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_GET_ColorID_ByName]
	-- Add the parameters for the stored procedure here
	@ColorName varchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP(1) MasterDutyColourID FROM REF_MasterDutyColours WHERE ColourName = @ColorName
END'

EXEC dbo.sp_executesql @strSQL

GO