USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_Rota]    Script Date: 23/10/2024 16:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_mod_Rota]
@rotaid			INT,
@task			INT,
@areaid			INT,
@teamid			INT,
@rotaname		VARCHAR(50),
@startdate		VARCHAR(10),
@startweek		INT,
@weeks			INT,
@notes			VARCHAR(1000),
@LastModDate	VARCHAR(30),
@currentuser	VARCHAR(100),
@currentuserid	INT,
@history		VARCHAR(3000),
@status			INT OUTPUT,
@returnstring	VARCHAR(1000) OUTPUT,
@newrotaid		int OUTPUT,
@intNewRotaStartsWeek int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int
	DECLARE @UpdateDateTime		datetime
	DECLARE @strUpdateDateTime  varchar(35)
	DECLARE @TmpHistory			varchar(4000)
	DECLARE @checkID			int
	DECLARE @tmprotaid			INT
	DECLARE @tmprotaweeks		INT
	DECLARE @tmprotastart		INT

	SET @newrotaid = @rotaid
	SET @status = 1
	SET @returnstring = 'success'
	SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)
	SET @checkID = @rotaid

	-- Check for minimum start date of a rota
	if(convert(datetime,@startdate,103))<(convert(datetime,'02-12-1995',103))
	BEGIN
		SET @returnstring = 'Start Date cannot be less than 02-12-1995.';
		SET @status = 0;
		select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
		return;
	END
	if(@teamid < 1 or @teamid = '' or @teamid = null)
	BEGIN
		SET @returnstring = 'No rota can be created without a team. Please select one of the team in teams drop down.';
		SET @status = 0;
		select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
		return;
	END

	IF @task = 2
	SET @checkID = 0

	--Check unique Rota name
	SELECT @tmprotaid = RotaID
	FROM MasterRotas (NOLOCK)
	WHERE (RotaName = @rotaname)
	  AND TeamID = @teamid
	  AND RotaID <> @checkid and IsActive = 1
    SET @RowNum = @@rowcount
	IF @RowNum > 0
	BEGIN
		SET @returnstring = 'Error - There is already a Rota with the same name in this Scheduling team.'
		SET @status = 0
		select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
		RETURN;
	END

	SELECT @tmprotaid = RotaID
	FROM MasterRotas (NOLOCK)
	WHERE (RotaID = @rotaid)
    SET @RowNum = @@rowcount

	IF @Rotaid = 0
	BEGIN
		IF @RowNum > 0
		BEGIN
			SET @returnstring = 'Error - A Rota with this ID already exists.'
			SET @status = 0;
			select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
			return;
		END
		ELSE
		BEGIN
			SET @TmpHistory = 'Created by ' + COALESCE(@currentuser, 'UNKNOWN') + ' on ' + @strUpdateDateTime
			IF Exists(select 1 from MasterRotas (nolock) where RotaName = @rotaname and TeamID = @teamid and IsActive = 1)
			BEGIN
				SET @returnstring = 'Rota name already exists. Please enter different name.'
				SET @status = 0;
				select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
				return;
			END

			BEGIN TRANSACTION
				--Insert new Rota record
				INSERT INTO MasterRotas (AreaID, TeamID, RotaName, RotaNotes, RotaStartDate, RotaStartWeek, WeeksInRota, IsActive, CreatedBy, CreatedDate, LastModBy, LastModDate, History)
						VALUES (@areaid, @teamid, @RotaName, @notes, CONVERT(DATETIME, @startdate + ' 00:00:00', 103), @startweek, @weeks, 1, @currentuserid, @UpdateDateTime, @currentuserid,
								@UpdateDateTime, @TmpHistory)
				--Get new Rota ID
				set @newRotaID = @@identity
				
				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the new Rota record.  Error ID: ' + CAST(@err as VARCHAR(20)) + '.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota record.  No records were added to the database.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END

				INSERT INTO RotaWeeks(RotaID, ixYearWeek, RotaWeek)
				SELECT @newRotaID, T11.ixYearWeek, dbo.GetWeekofRota(@weeks, @StartWeek, T11.ixYearWeek) as RotaWeek
				FROM dbo.TimeDimension T11 (NOLOCK)
				WHERE T11.dDateTime >= CONVERT(DATETIME, @startdate + ' 00:00:00', 103)
				  AND (T11.dDateTime BETWEEN DATEADD(DD, - 30, GETDATE()) AND DATEADD(MM, 24, GETDATE()))
				  AND ixDayInWeek = 0
				ORDER BY T11.ixYearWeek

				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota Weeks.  Error ID: ' + CAST(@err as VARCHAR(20)) + '.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN
				END
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota Week records.  No records were added to the database.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END

				--If we get here, all good
				COMMIT TRANSACTION
				select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
			END
		END
		ELSE IF @task = 2
		--We are copying the Rota
		BEGIN
			SET @TmpHistory = 'Created by ' + COALESCE(@currentuser, 'UNKNOWN') + ' on ' + @strUpdateDateTime

			-- Copy rota pattern validation new Start
			IF (@intNewRotaStartsWeek > @weeks)
			BEGIN
				SET @returnstring = 'Rota Start from week cannot be greater than copied rota number of weeks here it is ' + convert(varchar,@weeks)+' Weeks';
				SET @status = 0;
				select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
				return;
			END
			-- Copy rota pattern validation new End
			IF Exists(select 1 from MasterRotas (nolock) where RotaName = @rotaname and IsActive = 1)
			BEGIN
				SET @returnstring = 'Rota name already exists. Please enter different name.'
				SET @status = 0;
				select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
				return;
			END

			BEGIN TRANSACTION
			-- Copy Master Rota End
				--Insert new Rota record
				INSERT INTO MasterRotas (AreaID, TeamID, RotaName, RotaNotes, RotaStartDate, RotaStartWeek, WeeksInRota, IsActive, CreatedBy, CreatedDate, LastModBy, LastModDate, History)
				VALUES (@areaid, @teamid, @RotaName, @notes, CONVERT(DATETIME, @startdate + ' 00:00:00', 103), @startweek, @weeks, 1, @currentuserid, @UpdateDateTime, @currentuserid,
						@UpdateDateTime, @TmpHistory)
				
				--Get new Rota ID
				set @newRotaID = @@identity
				
				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the new Rota record.  Error ID: ' + CAST(@err as VARCHAR(20)) + '.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota record.  No records were added to the database.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END

				--Copy Rota Duties
				INSERT INTO RotaDuties (RotaID, RotaWeek, DOTW, MasterDutyID, IsAssigned, IsTemplate, CreatedBy, CreatedDate,
										LastModBy, LastModDate,IsActive)
				SELECT @newRotaID,
					case when RotaWeek >= @intNewRotaStartsWeek then (RotaWeek - (@intNewRotaStartsWeek-1))
					else ((@weeks - @intNewRotaStartsWeek) + (RotaWeek + 1)) end RotaWeek,
					DOTW, MasterDutyID, IsAssigned, IsTemplate, @currentuserid, @UpdateDateTime, @currentuserid, @UpdateDateTime, 1 IsActive
				FROM RotaDuties as rd (NOLOCK)
				WHERE RotaID = @rotaid and IsActive = 1
				order by RotaWeek

				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error copying the existing Rota Duties.  Error ID: ' + CAST(@err as VARCHAR(20)) + '.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was no records present for rotas duties.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END

				INSERT INTO RotaWeeks(RotaID, ixYearWeek, RotaWeek)
					SELECT @newRotaID, T11.ixYearWeek, dbo.GetWeekofRota(@weeks, @StartWeek, T11.ixYearWeek) as RotaWeek
					FROM dbo.TimeDimension T11 (NOLOCK)
					WHERE T11.dDateTime >= CONVERT(DATETIME, @startdate + ' 00:00:00', 103)
					  AND (T11.dDateTime BETWEEN DATEADD(DD, - 30, GETDATE()) AND DATEADD(MM, 24, GETDATE()))
					  AND ixDayInWeek = 0
					ORDER BY T11.ixYearWeek

				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota Weeks.  Error ID: ' + CAST(@err as VARCHAR(20)) + '.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota Week records.  No records were added to the database.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN 0
				END
				if (@task = 2)
				BEGIN
					UPDATE MR
					SET MR.isExported = 0 
					FROM MasterRotas MR WHERE MR.isExported != 0 AND MR.RotaID = @newRotaID
				END
			--If we get here, all good
			COMMIT TRANSACTION
			select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
		END

	--We are updating the Rota
	ELSE
	BEGIN
		IF EXISTS(select 1 from RotaDuties rd (NOLOCK)
					inner join MasterRotas mr (NOLOCK) on mr.RotaID = rd.RotaID
				where rd.RotaID = @rotaid and rd.IsActive = 1 and mr.WeeksInRota != @weeks)
		BEGIN
			SET @returnstring = 'Edit of rota pattern weeks is not allowed after Duty is assigned to it.'
			set @status = 0;
			select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
			RETURN;
		END
		SET @TmpHistory = 'Updated by ' + COALESCE(@currentuser, 'UNKNOWN') + ' on ' + @strUpdateDateTime
		If @history <> ''
		SET @TmpHistory = @TmpHistory + @history
		IF @RowNum = 0
		BEGIN
			--Can't find the Rota
			SET @returnstring = 'Error - Could not find the Rota record to modify.'
			set @status = 0;
			select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
			RETURN;
		END

-- Update Master Rotas Start
		ELSE
		BEGIN
			--Get existing weeks in Rota
			SELECT @tmprotaweeks = WeeksInRota,
				   @tmprotastart = RotaStartWeek
			FROM MasterRotas (NOLOCK)
			WHERE RotaID = @Rotaid

			BEGIN TRANSACTION

			UPDATE MasterRotas
			SET AreaID = @areaid,
				TeamID = @teamid,
				RotaName = @Rotaname,
				RotaNotes = @notes,
				RotaStartDate = CONVERT(DATETIME, @startdate + ' 00:00:00', 103),
				RotaStartWeek = @startweek,
				WeeksInRota = @weeks,
				LastModDate = @UpdateDateTime,
				IsExported =0,
				LastModBy = @currentuserid,
				History = CASE WHEN (NULLIF(History, '') IS NULL) Then @TmpHistory
							   ELSE History + CHAR(13) + CHAR(10) + @TmpHistory
							END
			WHERE RotaID = @Rotaid
			--AND Convert(DATETIME, LastModDate, 121) = Convert(DATETIME, @LastModDate, 121)

			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
			IF @err <> 0
			BEGIN
				ROLLBACK TRANSACTION
				SET @returnstring = 'There was an Error modifying the Rota record.  Error ID: ' + CAST(@err as VARCHAR(20)) + '.'
				set @status = 0;
				select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
				RETURN;
			END
			IF @rows = 0
			BEGIN
				ROLLBACK TRANSACTION
				SET @returnstring = 'There was an Error modifying the Rota record.  No records were updated in the database.'
				set @status = 0;
				select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
				RETURN;
			END

			--Check that the Start Week and Weeks In Rota are the same
			IF ((@tmprotaweeks <> @weeks) OR (@tmprotastart <> @startweek))
			BEGIN
				DELETE
				FROM RotaWeeks
				WHERE RotaID = @Rotaid

				INSERT INTO RotaWeeks(RotaID, ixYearWeek, RotaWeek)
					SELECT @RotaID, T11.ixYearWeek, dbo.GetWeekofRota(@weeks, @StartWeek, T11.ixYearWeek) as RotaWeek
					FROM dbo.TimeDimension T11 (NOLOCK)
					WHERE T11.dDateTime >= CONVERT(DATETIME, @startdate + ' 00:00:00', 103)
					  AND (T11.dDateTime BETWEEN DATEADD(DD, - 30, GETDATE()) AND DATEADD(MM, 24, GETDATE()))
					  AND ixDayInWeek = 0
					ORDER BY T11.ixYearWeek

				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota Weeks.  Error ID: ' + CAST(@err as VARCHAR(20)) + '.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'There was an Error creating the Rota Week records.  No records were added to the database.'
					set @status = 0;
					select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
					RETURN;
				END
			END
			--If we get here, all good
			COMMIT TRANSACTION
			select @status intStatus, @returnstring strStatus, @newrotaid newRotaID;
		END
	END
END
