USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSkillDutyById]    Script Date: 15/07/2021 13:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Delete Skill duties Program Link.
-- =============================================
CREATE PROCEDURE [dbo].[usp_DeleteSkillDutyById]
@id INT

AS
BEGIN
	SET NOCOUNT ON;
    Delete
            FROM skills_duties
            WHERE  (ID = @id)

END
GO
