USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllPeopleByTeam]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_AllPeopleByTeam]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_AllPeopleByTeam]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllPeopleByTeam]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Graeme Fawcett
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_get_AllPeopleByTeam] 
	-- Add the parameters for the stored procedure here
	@teamid int,
	@StaffFlag int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    if (@StaffFlag = 0)
	BEGIN
		SELECT T2.StaffID as TeamworkStaffID, T2.Forename, T2.Surname, T2.Forename + ' ' + T2.Surname as Fullname, 1 as EFT
		FROM REF_Staff_Team_LINK T1
			INNER JOIN StaffDetails T2 ON T1.TeamworkStaffID = T2.StaffID
		WHERE (T1.TeamID = @teamid) AND T1.IsActive = 1
		ORDER BY T2.Surname, T2.Forename
	END
	ELSE
	BEGIN
		SELECT T2.StaffID as TeamworkStaffID, T2.Forename, T2.Surname, T2.Forename + ' ' + T2.Surname as Fullname, 1 as EFT
		FROM REF_Staff_Team_LINK T1
			INNER JOIN StaffDetails T2 ON T1.TeamworkStaffID = T2.StaffID
		WHERE (T1.TeamID = @teamid) AND T1.IsActive = 1 and T2.StaffId not in (select StaffId from RotaPeople where IsActive = 1)
		ORDER BY T2.Surname, T2.Forename
	END

END


GO
