USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RequestEmailsToSend]    Script Date: 19/02/2024 19:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  OR ALTER    PROCEDURE [dbo].[usp_get_RequestEmailsToSend]
@NetLogin varchar(100)
AS
BEGIN
Set NOCOUNT ON
Set DATEFORMAT YMD
	-- SET NOCOUNT ON added to prevent extra result sets from
   SELECT        COUNT(LeaveApplications.ID) AS CountToSend
               FROM          LeaveApplications 
               INNER JOIN    leave_types ON LeaveApplications.LeaveTypesID = leave_types.ID 
               INNER JOIN    LeaveRequestGroups ON leave_types.GroupID = LeaveRequestGroups.ID
              WHERE         (LeaveRequestGroups.AllowEmails = 1) AND (LeaveApplications.ShortNotice=0)
                 AND        (LeaveApplications.UserEmailSent = 0) 
                 AND         (LeaveApplications.Approved = 0) 
                 AND         (LeaveApplications.Login = @NetLogin) 
                 AND         (LeaveApplications.dDate >= getdate() )
                 AND         (LeaveApplications.Deleted = 0) 
               OR            (LeaveRequestGroups.AllowEmails = 1) 
                 AND         (LeaveApplications.UserEmailSent = 2) 
                 AND         (LeaveApplications.Approved = 0) 
                 AND         (LeaveApplications.Login = @NetLogin) 
                 AND         (LeaveApplications.dDate>= getdate() )
					                        
                

END
GO
