USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotaDutyCounts]    Script Date: 18/07/2022 16:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_RotaDutyCounts]
    -- Add the parameters for the stored procedure here
    @rotaid            int = 0,
    @incbreaks        int = 1,
    @date            varchar(10)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;



    DECLARE @AllocatedDays			INT
    DECLARE @TotalAllocatedDays		INT
    DECLARE @UnAllocatedDays		INT
    DECLARE @FullHours				REAL
    Declare @FullHoursMisc			REAL
    Declare @FullHoursMaster		REAL
    DECLARE @HoursExc				REAL
    DECLARE @Masters				INT
    DECLARE @Templates				INT
    DECLARE @Absences				INT
    DECLARE @Unknowns				INT
    DECLARE @RotaWeeks				INT

    DECLARE @FullRotaHours			REAL
    DECLARE @RotaHoursExc			REAL
    DECLARE @EFT					DECIMAL(5,4)
    DECLARE @EFTExc					DECIMAL(5,4), @TotalAllocatedDaysMisc int;
	DECLARE @BreakTime				numeric(9)
	DECLARE @BreakTimeHours         REAL
	DECLARE @BreakTimeMins          REAL
	DECLARE @FullHoursMiscBreak		REAL
	DECLARE @TotalBreakTimeMaster	REAL
	DECLARE @TotalBreakTimeMisc		REAL
	DECLARE @BreakTimeMisc			numeric(9)
	set @FullHoursMiscBreak			= 0
	set @TotalAllocatedDays			= 0
	set @TotalBreakTimeMaster		= 0
	set @TotalBreakTimeMisc			= 0
    -- Insert statements for procedure here
SELECT @AllocatedDays = COUNT(T1.RotaDutyID)
FROM RotaDuties T1 (NOLOCK)
         INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
         INNER JOIN (SELECT T10.RotaWeek, T10.DOTW, MAX(CONVERT(INT,T10.IsAssigned)) as MaxIsAssigned
                     FROM RotaDuties T10 (NOLOCK)
                     WHERE T10.rotaid = @rotaid and IsActive = 1
                     GROUP BY T10.RotaWeek, T10.DOTW) as T11
                    ON T1.RotaWeek  = T11.RotaWeek AND T1.DOTW = T11.DOTW AND T1.IsAssigned = T11.MaxIsAssigned
WHERE T1.IsActive = 1
--WHERE T2.DutyTypeID <> 4 and T1.IsActive = 1



SELECT @FullHoursMaster = cast(concat(ISNULL(ROUND((SUM(CAST(ISNULL(T2.EndTime - T2.StartTime, 0) AS INT)) / 3600), 2),0), '.',
                                      ISNULL(ROUND((SUM(CAST(ISNULL(T2.EndTime - T2.StartTime, 0) AS INT)) % 3600) / 60, 2),0)) as real)
FROM RotaDuties T1 (NOLOCK)
         INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
WHERE DutyTypeID = 1 and T1.IsActive = 1



SELECT @FullHoursMisc = cast(concat(ISNULL(ROUND((SUM(CAST(ISNULL(T2.Duration, 0) AS INT)) / 3600), 2),0), '.',
                                    ISNULL(ROUND((SUM(CAST(ISNULL(T2.Duration, 0) AS INT)) % 3600) / 60, 2),0)) as real)
FROM RotaDuties T1 (NOLOCK)
         INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
WHERE DutyTypeID <> 1 and T1.IsActive = 1

select @FullHours = @FullHoursMaster + @FullHoursMisc;

SELECT @Masters = COUNT(T1.RotaDutyID)
FROM RotaDuties T1 (NOLOCK)
         INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
WHERE DutyTypeID = 1 and T1.IsActive = 1

SELECT @Templates = COUNT(T1.RotaDutyID)
FROM RotaDuties T1 (NOLOCK)
         INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
         INNER JOIN (SELECT T10.RotaWeek, T10.DOTW, MAX(CONVERT(INT,T10.IsAssigned)) as MaxIsAssigned
                     FROM RotaDuties T10 (NOLOCK)
                     WHERE T10.rotaid = @rotaid
                     GROUP BY T10.RotaWeek, T10.DOTW) as T11
                    ON T1.RotaWeek  = T11.RotaWeek AND T1.DOTW = T11.DOTW AND T1.IsAssigned = T11.MaxIsAssigned
WHERE T1.IsAssigned = 0 and T1.IsActive = 1

SELECT @Absences = COUNT(T1.RotaDutyID)
FROM RotaDuties T1 (NOLOCK)
         INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
WHERE DutyTypeID = 4 and T1.IsActive = 1

SELECT @Unknowns = COUNT(T1.RotaDutyID)
FROM RotaDuties T1 (NOLOCK)
         INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
WHERE DutyTypeID = 5 and T1.IsActive = 1

SELECT @RotaWeeks = WeeksInRota
FROM MasterRotas (NOLOCK)
WHERE RotaID = @rotaid

    IF EXISTS(select Rotaid FROM RotaDuties where RotaID = @rotaid and IsActive = 1)
BEGIN
SELECT  @BreakTime = sum(T2.BreakTime)
FROM RotaDuties T1 (NOLOCK) INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
WHERE T1.IsActive = 1 and T2.DutyTypeID = 1
group by T1.RotaID
    IF @BreakTime IS NOT NULL
BEGIN
		set @BreakTimeHours = Cast(@BreakTime / 3600 as int)
		set @BreakTimeMins    = cast((@BreakTime % 3600) / 60 as int)
		set @TotalBreakTimeMaster  =  round(cast(concat(@BreakTimeHours, '.', @BreakTimeMins) as real), 2)
END
ELSE
BEGIN
		set @TotalAllocatedDays  =  0
END
SELECT  @BreakTimeMisc = sum(T2.BreakTime)
FROM RotaDuties T1 (NOLOCK) INNER JOIN MasterDuties T2 (NOLOCK) ON T1.RotaID = @rotaid AND T1.MasterDutyID = T2.MasterDutyID
WHERE T1.IsActive = 1 and T2.DutyTypeID <> 1
group by T1.RotaID
    IF @BreakTimeMisc IS NOT NULL
BEGIN
		set @BreakTimeHours = Cast(@BreakTimeMisc / 3600 as int)
		set @BreakTimeMins    = cast((@BreakTimeMisc % 3600) / 60 as int)
		set @TotalBreakTimeMisc  =  round(cast(concat(@BreakTimeHours, '.', @BreakTimeMins) as real), 2)
END
ELSE
BEGIN
		set @TotalBreakTimeMisc  =  0
END
END
ELSE
BEGIN
	set @TotalAllocatedDays  =  0
END

    SET @UnAllocatedDays = (@RotaWeeks * 7) - @AllocatedDays
SET @FullRotaHours = CAST((@RotaWeeks * 40) AS REAL)
SET @RotaHoursExc = CAST((@RotaWeeks * 35) AS REAL)

SET @HoursExc = @FullHours - (CAST(@TotalBreakTimeMaster AS REAL) + @FullHoursMisc);
SET @EFT = CAST((@FullHours/@FullRotaHours) AS DECIMAL(5,4))
    SET @EFTExc = CAST((@HoursExc/@RotaHoursExc) AS DECIMAL(5,4))

IF @incbreaks = 0
BEGIN
		SET @HoursExc = @FullHours - CAST(@TotalBreakTimeMaster AS REAL) - @TotalBreakTimeMisc;
        SET @FullHours = @HoursExc
        SET @EFT = @EFTExc
END

SELECT  @AllocatedDays as AllocatedDays,
        @UnAllocatedDays as UnAllocatedDays,
        @FullHours as [Hours],
            @Masters as Masters,
            @Templates as Templates,
            @Absences as Absences,
            @Unknowns as Unknowns,
            @EFT as EFT
END
