USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[USP_Get_UserRolePermission]    Script Date: 22/04/2022 14:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[USP_Get_UserRolePermission]
 -- Add the parameters for the stored procedure here
 @NetLogin varchar(20)
AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;

    -- Insert statements for procedure here
select
    NetLogin, UserID, StaffID, StaffNumber, Surname, Forename, SortCode, FormID, RoleID, RoleName,
    TeamID, IsView, IsCreate, IsEdit as IsModify, IsDelete  , IsMakePublic
from (
         select
             RP2.PermissionName,RP2.PermissionId, NetLogin, UserID, StaffID, StaffNumber,
             Surname, Forename, SortCode, FormID, RoleID, RoleName, TeamID
         from
             Ref_Permissions as RP2
                 inner join

             (
                 SELECT Distinct U.NetLogin, U.UserID, SD. StaffID, SD.StaffNumber, SD.Surname, SD.Forename, 0 as SortCode,
                                 RPFL.FormID, RR.RoleID, RR.RoleName, UTRL.TeamID, RP.PermissionName, RP.PermissionID
                 FROM Users U
                          INNER JOIN UserTeamRole_LINK UTRL ON U.UserID = UTRL.UserID
                              and UTRL.StartDate <= convert(datetime,convert(varchar(10),getdate(),110),110) and isnull(UTRL.EndDate,'9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)
                          INNER JOIN StaffDetails SD ON SD.NetLogin = U.NetLogin
                          INNER JOIN REF_Roles RR ON UTRL.RoleID = RR.RoleID
                          INNER JOIN RolePermissionForm_LINK RPFL ON RPFL.RoleID = UTRL.RoleID
                          INNER JOIN REF_Forms FRM ON RPFL.FormID = FRM.FormID
                          INNER JOIN REF_Permissions RP ON RP.PermissionID = RPFL.PermissionID
                 WHERE U.NetLogin = @NetLogin) as Temp on RP2.PermissionId = Temp.PermissionId
     ) t
    PIVOT (
   COUNT(PermissionId)
   for PermissionName IN ([IsView],[IsCreate],[IsEdit],[IsDelete],[IsMakePublic])
 ) as pivot_table

END
