USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Create_SchedulePerson]    Script Date: 29/07/2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [dbo].[usp_Create_SchedulePerson] 'wertyu',32,'01-05-2021','31-05-2021','defrtyu','aswqdertyu','edrwathy',
'[{"addteamsid":"31","addteamstartdate":"03-05-2021","addteamenddate":"31-05-2021","addteamsortcode":"swerty","addteamBackcolor":"#000000","addteamfontcolor":"#000000"},{"addteamsid":"24","addteamstartdate":"04-05-2021","addteamenddate":"31-05-2021","addteamsortcode":"zaswderty","addteamBackcolor":"#000000","addteamfontcolor":"#325bb8"}]',1
*/
-- =================================================================================
-- Author     :	Vipin Kushwaha
-- Create date: 13/05/2021
-- Description:	Create Schedule Person and add its additional scheduling team
-- =================================================================================
CREATE PROCEDURE [dbo].[usp_Create_SchedulePerson]
	-- Add the parameters for the stored procedure here
	@strdisplayname varchar(100),
	@inthomeTeamid int,
	@strhometeamstartDate varchar(30),
	@strhometeamendDate varchar(30),
	@strhometeamsortCode varchar(20),
	@strhometeambackcolour varchar(20),
	@strhometeamfontcolour varchar(20),
	@stradminNotes varchar(500),
	@strfwaNotes varchar(500),
	@addteamarray nvarchar(4000),
	@intuserid int,
	@IsAvailable int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @IsActive int, @ScheduledPersonID int;
	SET @IsActive = 1;
	-- Insert Schedule people details in [dbo].[ScheduledPeople] table
	INSERT INTO [dbo].[ScheduledPeople] (DisplayName, PersonalPhone, PersonalEmail, UserID, StaffDetailsID, CreatedBy, CreatedDate, AdminNotes, FWANotes)
		VALUES (@strdisplayname,'','',null,null,@intuserid,getdate(),@stradminNotes,@strfwaNotes);

	-- Insert home schedule team details to [dbo].[ScheduledPersonTeam_LINK] table
	INSERT INTO [dbo].[ScheduledPersonTeam_LINK] (ScheduledPersonID,TeamID, IsHomeTeam, SortCode, CreatedBy, CreatedDate, StartDate, EndDate,
												LastUpdatedBy, LastUpdatedDate, BackgroundColour, fontcolour, IsActive, IsAvailable)
		VALUES (@ScheduledPersonID,@inthomeTeamid,1,@strhometeamsortCode,@intuserid,getdate(),@strhometeamstartDate,@strhometeamendDate,@intuserid,getdate(),
				@strhometeambackcolour,@strhometeamfontcolour,@IsActive,@IsAvailable)

	-- Insert Additional team data to [dbo].[ScheduledPersonTeam_LINK] table
	INSERT INTO [dbo].[ScheduledPersonTeam_LINK] (ScheduledPersonID,TeamID, IsHomeTeam, SortCode, CreatedBy, CreatedDate, StartDate, EndDate,
												LastUpdatedBy, LastUpdatedDate, BackgroundColour, fontcolour, IsActive, IsAvailable)
	SELECT
		@ScheduledPersonID as ScheduledPersonID,
		addteamsid as TeamID,
		0 as IsHomeTeam,
		addteamsortcode as SortCode,
		@intuserid as CreatedBy,
		getdate() as CreatedDate,
		addteamstartdate as StartDate,
		addteamenddate as EndDate,
		@intuserid as LastUpdatedBy,
		getdate() as LastUpdatedDate,
		addteamBackcolor as BackgroundColour,
		addteamfontcolor as fontcolour,
		@IsActive as IsActive,
		@IsAvailable as IsAvailable
	FROM OPENJSON(@addteamarray)
	WITH (   
			addteamsid   int '$.addteamsid' ,  
			addteamstartdate     datetime     '$.addteamstartdate',  
			addteamenddate datetime '$.addteamenddate',  
			addteamsortcode varchar(10) '$.addteamsortcode',
			addteamBackcolor varchar(10) '$.addteamBackcolor',
			addteamfontcolor varchar(10) '$.addteamfontcolor'
		)


--select * from [dbo].[ScheduledPeople]-- and , ,
--select * from [dbo].[ScheduledPersonTeam_LINK] -- fontcolour, IsActive, IsAvailable // Default 0
--SELECT * from users
END

GO
