USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_MasterDuty_History]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_MasterDuty_History]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_MasterDuty_History]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_MasterDuty_History]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_get_MasterDuty_History]
	@DutyID		INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT CAST(ISNULL(T1.History, '') AS TEXT) AS History
	  FROM [MasterDuties] T1
	 WHERE T1.MasterDutyID = @DutyID

END


GO
