-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[usp_fetch_fullNameandsortCode_ByScheduledPer_Team] 
	-- Add the parameters for the stored procedure here
	@ScheduledPersonID int, 
	@TeamID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT sp.DisplayFirstName +' '+sp.DisplayLastName as fullname, spl.SortCode,spl.TeamID   FROM ScheduledPersonTeam_LINK as spl (nolock) INNER JOIN ScheduledPeople as sp (nolock) ON spl.ScheduledPersonID = sp.ScheduledPersonID
	WHERE spl.ScheduledPersonID = @ScheduledPersonID AND spl.TeamID =@TeamID
END
GO