USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_XmasPointDayByTeam]    Script Date: 15/07/2021 17:25:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_XmasPointDayByTeam]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_mod_XmasPointDayByTeam]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_mod_XmasPointDayByTeam]
	-- Add the parameters for the stored procedure here
	@teamId int,
	@basicpoint INT,
	@limit INT,
	@day INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @status VARCHAR(20),@returnstring VARCHAR(300)
	SET @status = 'success'
	SET @returnstring = 'Xmas Point of update successfully.'
	
    -- Insert statements for procedure her
	IF EXISTS(SELECT   ID  FROM XmasPointsByDepartment WHERE  MonthDay = @day AND SchedulingTeamId = @teamId)
		BEGIN
			 
			  --UPDATE THE RECORD
              UPDATE         XmasPointsByDepartment
              SET            BasicPoints = @basicpoint, 
                             Limit = @limit
              WHERE          (MonthDay = @day) 
              AND            (SchedulingTeamId = @teamId)
		END

    ELSE
			--INSERT THE RECORD        
              INSERT  INTO   XmasPointsByDepartment(BasicPoints, Limit, MonthDay, SchedulingTeamId)
                      VALUES   (@basicpoint, @limit, @day, @teamId)




	SELECT @status strstatus,@returnstring strreturnstring
	
END
