USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddSkillDuties]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_AddSkillDuties]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddSkillDuties]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Add Skill duties.
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddSkillDuties]
@duty varchar(255),
@description varchar(255),
@gmt INT,
@bst INT,
@intDuration INT,
@intTeamID INT
AS
BEGIN
	SET NOCOUNT ON;
    INSERT INTO skills_duties
              (duty, description, gmt, bst, DurationWith, TeamID)
              VALUES (@duty,@description,@gmt,@bst,@intDuration,@intTeamID)
END
GO
