USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_EmpGroup]    Script Date: 3/12/2026 10:24:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_EmpGroup]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_EmpGroup];
		
		--Update existing records
		UPDATE T1
		SET T1.[EmpGroupCode] = T2.[EmpGroupCode]
			  ,T1.[EmpGroupDescription] = T2.[EmpGroupDescription]
			  ,T1.[IsActive] = T2.[IsActive]
			  ,T1.[CreatedDate] = T2.[CreatedDate]
			  ,T1.[LastModDate] = T2.[LastModDate]
			  ,T1.[LastModBy] = T2.[LastModBy]
			  ,T1.[History] = T2.[History]
		FROM [REF_EmpGroup] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_EmpGroup] T2 ON T1.EmpGroupCode = T2.EmpGroupCode
		WHERE T1.EmpGroupCode = T2.EmpGroupCode
		
		--Insert new records
		INSERT INTO [REF_EmpGroup] (
			   [EmpGroupCode]
			  ,[EmpGroupDescription]
			  ,[IsActive]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			)  
		SELECT [EmpGroupCode]
			  ,[EmpGroupDescription]
			  ,[IsActive]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_EmpGroup] T2 
		  WHERE NOT EXISTS (SELECT T1.EmpGroupCode FROM [Allocate7].[dbo].[REF_EmpGroup] T1 
		  WHERE T1.EmpGroupCode = T2.EmpGroupCode)
        
END
