USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_SchedulingTeamExtraXmasPointByYear]    Script Date: 24/09/2025 13:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_GET_SchedulingTeamExtraXmasPointByYear]    
@year INT,    
@teamid INT    
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
  Select sxp.*, sp.UD_DisplayName as Fullname ,sp.UD_UserID as ScheduledPersonID,sp.UD_StaffNumber as StaffNumber      
FROM SchedulingTeamUserExtraXmasPoint  sxp  WITH(NOLOCK)  
     JOIN UserDetails sp WITH(NOLOCK) ON sp.UD_UserID = sxp.ScheduledPersonID    
     Where sxp.year = @year and sxp.SchedulingTeamID = @teamid    
      
END 