USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_AdditionalTeamPersonsList]    Script Date: 16/08/2024 15:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_Get_AdditionalTeamPersonsList]

	@TeamID int,
	@WeekNumber int,
	@isAdditionalTeamAvailable INT = 0
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @vSQL VARCHAR(MAX)

    SET @vSQL = 'SELECT DISTINCT spl.ScheduledPersonID, 
                        CASE WHEN (sp.DisplayName IS NULL) 
                        THEN CASE WHEN (sd.PreferredForename IS NULL or sd.PreferredForename = '' '')
                        THEN (sd.Forename + '' '' + sd.Surname) 
                        ELSE (sd.PreferredForename + '' '' + sd.Surname) END
                        ELSE sp.DisplayName END AS FullName
           		   FROM ScheduledPersonTeam_LINK AS spl
           		  INNER JOIN ScheduledPeople AS sp (NOLOCK) ON sp.ScheduledPersonID = spl.ScheduledPersonID   
           		  INNER JOIN ( SELECT MIN(td.dDateTime) AS StartDate, MAX(td.dDateTime) AS EndDate 
                                 FROM TimeDimension as td
           		                WHERE td.ixYearWeek = '+CAST(@WeekNumber AS VARCHAR)
                             +' ) AS td1 ON 1 = 1
           		   LEFT JOIN StaffDetails sd  ON sp.StaffDetailsID = sd.StaffID
           		  WHERE spl.TeamID = '+ +CAST(@TeamID  AS VARCHAR)+'
           		    AND spl.scheduledType = 1
           		    AND td1.EndDate >= ISNULL(spl.StartDate, td1.EndDate)
           		    AND td1.StartDate <= ISNULL(spl.EndDate, td1.StartDate)'

        if( @isAdditionalTeamAvailable = 1) 
		 BEGIN
          SET @vSQL = @vSQL + ' AND (spl.IsHomeTeam = 1 OR (spl.IsHomeTeam = 0 AND spl.IsAvailable = 1 )) '  
         END
		ELSE
		 BEGIN
           SET @vSQL = @vSQL + ' AND (spl.IsHomeTeam = 0)
                                 AND NOT EXISTS (
                   										           SELECT 1
                                                                     FROM Allocations (NOLOCK)  al
																	WHERE DutyName != ''REMOVEDDUTY''
																	  AND al.WeekNumber = '+ CAST(@WeekNumber AS VARCHAR)
																  + ' AND al.SchedulingTeamId = ' + CAST(@TeamID AS VARCHAR)
                   												  + ' AND spl.ScheduledPersonID = al.SchedulingPersonID )
																	ORDER BY FullName ASC'  
         END

  EXEC (@vSQL)
  
END