USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ScheduledNonScheduled]    Script Date: 07/11/2025 20:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_get_ScheduledNonScheduled]
       -- Add the parameters for the stored procedure here
       @teamid VARCHAR(100),
       @usertype VARCHAR(100)

AS
BEGIN
       -- SET NOCOUNT ON added to prevent extra result sets from
       -- interfering with SELECT statements.
       SET NOCOUNT ON

       DECLARE	@cols AS NVARCHAR(MAX),
				@query  AS NVARCHAR(MAX),
				@conditionString AS NVARCHAR(MAX)

	SELECT @cols = STUFF((SELECT ',' + QUOTENAME(RoleName)
                    from REF_Roles
                                    WHERE IsActive = 1 and isAdditional = 1
                    group by RoleName,RoleID
                    order by RoleID
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)')
        ,1,1,'')
	SET @query = N'SELECT
	StaffID,
	UserID,
	ScheduledPersonID,
	TeamID ,
	isDefault,
	scheduledType,
	schedUserID,
	StaffDetailsID,
	NetLogin,
	StaffNumber,
	rota,
	IsHomeTeam,
	userDisplayName,
	NonAdditionalRoleID, ' + @cols + N' from
             (
								Select DISTINCT
								ud.UD_TeampayStaffID as StaffID,
								ud.UD_UserID as UserID,
								st.ScheduledPersonID as ScheduledPersonID,
								st.TeamID as TeamID,
								st.isDefault as isDefault,
								st.scheduledType as scheduledType,
								ud.UD_UserID as schedUserID,
								ud.UD_NetLogin as NetLogin,
								ud.UD_TeampayStaffID as StaffDetailsID,
								ud.UD_StaffNumber as StaffNumber,
								st.rota as rota,
								st.IsHomeTeam as IsHomeTeam,
								ud.UD_DisplayName as userDisplayName,
								rr2.RoleID as NonAdditionalRoleID,
								rr.RoleName as RoleName,
								ur.UR_RoleID as RoleID
			   from UserDetails ud (NOLOCK)
					INNER JOIN ScheduledPersonTeam_LINK st (NOLOCK) on st.ScheduledPersonID = ud.Ud_UserID
					and  convert(date, GETDATE(), 105) between convert(date, st.StartDate, 105) and isnull(convert(date,st.EndDate,105),convert(date, GETDATE(), 105))
					left join UserRoles ur (nolock) on  ur.UR_SchedulingTeamID= st.TeamID AND ur.UR_UserID = ud.UD_UserID and ur.UR_RoleID IN (select RoleID from REF_Roles where isAdditional= 1)
						and ur.UR_StartDate <= convert(DATE,convert(varchar(10),getdate(),110),110)
						and ur.UR_EndDate >= convert(DATE,convert(varchar(10),getdate(),110),110)
					left JOIN REF_Roles rr (nolock) on rr.RoleID = ur.UR_RoleID and rr.isAdditional = 1
					left join UserRoles ur1 (nolock) on  ur1.UR_SchedulingTeamID= st.TeamID AND ur1.UR_UserID = ud.UD_UserID and ur1.UR_RoleID IN (select RoleID from REF_Roles where isAdditional= 0)
						and ur1.UR_StartDate <= convert(DATE,convert(varchar(10),getdate(),110),110)
						and ur1.UR_EndDate >= convert(DATE,convert(varchar(10),getdate(),110),110)
					left JOIN REF_Roles rr2 (nolock) on rr2.RoleID = ur1.UR_RoleID and rr2.isAdditional = 0
                WHERE  st.TeamID ='''+ @teamid + ''' AND st.scheduledType = ''' + @usertype + ''' AND ud.UD_NetLogin is not null
            ) x
            pivot
            (
                MAX  (RoleID)
                for RoleName in (' + @cols + N')
            ) p ';

exec sp_executesql @query
END