USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotaDutiesDetails]    Script Date: 14/09/2022 14:47:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_RotaDutiesDetails]
	-- Add the parameters for the stored procedure here
	@rotaid			int = 0,
	@date			varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @currweek		INT
	DECLARE @currRotaWeek	INT
	DECLARE @startWeek		INT
	DECLARE @rotaWeek       INT
	SET @currweek = 0
	SET @currRotaWeek = 0
	SET @startWeek = 0
	SET @rotaWeek = 0

	declare @BBCCurrFirstWeek int,@WeekLine int, @FirstDateOfRotaLine datetime, @NoWeeksInRota int, @rotaStartWeek int;
select @NoWeeksInRota = WeeksInRota, @rotaStartWeek = RotaStartWeek from MasterRotas (NOLOCK) where RotaID = @rotaid
-- Create temp table to get rota first week from current date
DECLARE @TempRotaWeek TABLE (RotaID INT, ixYearWeek INT, RotaWeek INT)
	insert into @TempRotaWeek
SELECT @rotaid RotaID, T11.ixYearWeek, dbo.GetWeekofRota(@NoWeeksInRota, @rotaStartWeek, T11.ixYearWeek) as RotaWeek
FROM dbo.TimeDimension T11 (NOLOCK)
WHERE T11.dDateTime BETWEEN DATEADD(Week, -(@NoWeeksInRota), GETDATE()) AND DATEADD(MM, 24, GETDATE()) AND ixDayInWeek = 0
ORDER BY T11.ixYearWeek

select Top 1 @BBCCurrFirstWeek = case when
			convert(int,SUBSTRING(convert(varchar,ixYearWeek),5,6)) < RotaWeek
			then convert(int,convert(varchar,(convert(int,SUBSTRING(convert(varchar,ixYearWeek),1,4)) - 1))+''+convert(varchar,(convert(int,SUBSTRING(convert(varchar,ixYearWeek),5,6)) + 52) - (RotaWeek - 1)))
			else (ixYearWeek - (RotaWeek - 1)) end
from @TempRotaWeek where RotaId = @rotaid
                     and ixYearWeek <= (
        select top 1 ixYearWeek  from TimeDimension (NOLOCK) where convert(datetime,dDateTime,110) = convert(datetime,convert(Varchar(30),getdate(),110),110)
    ) order by RotaWeek ASC,ixYearWeek DESC

SELECT @FirstDateOfRotaLine = dDateTime
FROM TimeDimension (NOLOCK)
WHERE ixYearWeek = @BBCCurrFirstWeek and ixDayInWeek = 0

SELECT @currweek = ixYearWeek
FROM TimeDimension (NOLOCK)
WHERE dDateTime = CONVERT(DATETIME, @date + ' 00:00:00', 103);

SELECT @currRotaWeek = dbo.GetWeekofRota(T1.WeeksInRota, T1.RotaStartWeek, @currweek)
FROM MasterRotas T1 (NOLOCK)
WHERE (T1.rotaid = @rotaid)

    SET @startweek = dbo.SubtractWeeks(@currweek, (@currRotaWeek - 1))

-- Insert statements for procedure here
SELECT  T4.RotaName,
        T4.WeeksInRota,
        CONVERT(VARCHAR(10),T4.RotaStartDate,103) as RotaStartDate,
        @BBCCurrFirstWeek as RotaStartWeek,
        @rotaWeek as RotaWeek,
        T4.RotaStartWeek as RotaStartWeekDefault,
        @currRotaWeek as CurrentWeekInRota,
        @startWeek AS BBCStartWeek,
        T4.TeamID
FROM  MasterRotas T4 (NOLOCK)
WHERE (T4.rotaid = @rotaid)

END
