USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_highestWaitUserRole]    Script Date: 18/12/2024 20:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER         PROCEDURE [dbo].[usp_get_highestWaitUserRole]
	-- Add the parameters for the stored procedure here

	@currentuserid int,
	@formid int

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 -- get the min role id by form
	IF EXISTS (SELECT DISTINCT 1 
	             FROM UserSystemRole_Link USL (NOLOCK) 
				 JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = 1  
				 where USL.UserId = @currentuserid 
				   and USL.RoleId = 1 
				   and FormID = @formid
				 )
    BEGIN
        Select 1 as 'HighestRole'
    END
    ELSE IF EXISTS (SELECT DISTINCT 1 
	                  FROM DivisonalAdmin da  (NOLOCK) 
					  JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = 2 
					  join REF_Roles rr on rr.RoleID = da.RoleId
					 where da.IsActive = 1 
					   and da.UserId = @currentuserid 
					   and rr.RoleName = 'Area Admin'
					   and FormID = @formid
					 )
    BEGIN
        Select 2 as 'HighestRole'
    END
    ELSE
    BEGIN
        Select min(r2.RoleID) as 'HighestRole' from RolePermissionForm_LINK r1 (NOLOCK)
            join UserTeamRole_LINK r2 (NOLOCK) on r1.RoleID = r2.RoleID
            JOIN REF_Roles rr (NOLOCK) on rr.RoleID = r2.RoleID 
			 and rr.IsActive = 1 and rr.isAdditional = 0
        where r1.FormID = @formid 
		  and r2.UserID= @currentuserid 
		  and r2.StartDate <= convert(datetime,convert(varchar(10),getdate(),110),110)
          and isnull(r2.EndDate,'9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)
    END
END
