USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_CostCode_Activity_Matrix]    Script Date: 3/12/2026 10:19:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_CostCode_Activity_Matrix]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_CostCode_Activity_Matrix];
		
		--Update existing records
		UPDATE T1
		SET T1.[MatrixID]   = T2.[MatrixID]
			  ,T1.[StartDate]   = T2.[StartDate]
			  ,T1.[EndDate]   = T2.[EndDate]
			  ,T1.[CostCode]   = T2.[CostCode]
			  ,T1.[ActivityTypeID]   = T2.[ActivityTypeID]
			  ,T1.[ActivityType]   = T2.[ActivityType]
			  ,T1.[ActivityTypeDesc]   = T2.[ActivityTypeDesc]
			  ,T1.[TotalPrice]   = T2.[TotalPrice]
			  ,T1.[PrI]   = T2.[PrI]
			  ,T1.[History]   = T2.[History]
		FROM [REF_CostCode_Activity_Matrix] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_CostCode_Activity_Matrix] T2 ON T1.MatrixID = T2.MatrixID
		WHERE T1.MatrixID = T2.MatrixID
		
		--Insert new records
		INSERT INTO [REF_CostCode_Activity_Matrix] (
			   [MatrixID]
			  ,[StartDate]
			  ,[EndDate]
			  ,[CostCode]
			  ,[ActivityTypeID]
			  ,[ActivityType]
			  ,[ActivityTypeDesc]
			  ,[TotalPrice]
			  ,[PrI]
			  ,[History]
			)  
		SELECT [MatrixID]
			  ,[StartDate]
			  ,[EndDate]
			  ,[CostCode]
			  ,[ActivityTypeID]
			  ,[ActivityType]
			  ,[ActivityTypeDesc]
			  ,[TotalPrice]
			  ,[PrI]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_CostCode_Activity_Matrix] T2 
		  WHERE NOT EXISTS (SELECT T1.MatrixID FROM [REF_CostCode_Activity_Matrix] T1 
		  WHERE T1.MatrixID = T2.MatrixID)
        
END

