USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteSkillProgramStaffLink]    Script Date: 14/07/2021 16:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Add Skill duties.
-- =============================================
CREATE PROCEDURE [dbo].[usp_DeleteSkillProgramStaffLink]
@id INT 
AS
BEGIN
	SET NOCOUNT ON;
    DELETE FROM  skills_programmes_staff_link
            WHERE  (programmes_id = @id)
END
GO
