USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ActiveChargeCodeMappingList]    Script Date: 14/03/2026 19:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_GET_ActiveChargeCodeMappingList]
	-- Add the parameters for the stored procedure here
	@establishcode  Varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @fYear INT
	SELECT @fYear = 
				CASE
					WHEN MONTH(getdate()) >= 4 THEN 
						YEAR(getdate())
					ELSE 
						(YEAR(getdate()) - 1)
				END

    SELECT distinct
        ec.EstablishCodeId,acl.MappingId,ac.ActivityCodeName,ac.ActivityCodeId ,acl.Price, ac.Description
    from EstablishCode ec (NOLOCK)
             JOIN ActivityChargeCodeMapping_Link acl (NOLOCK) on acl.EstablishCodeId = ec.EstablishCodeId
             JOIN ActivityCode ac (NOLOCK) on ac.ActivityCodeId = acl.ActiveCodeId and ac.IsActive = 1
    where EstablishCode = @establishcode and Year = @fYear--YEAR(getdate());

END