USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_allocateUser]    Script Date: 29/06/2021 19:26:27 ******/

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_allocateUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_mod_allocateUser]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_mod_allocateUser]
	-- Add the parameters for the stored procedure here
	@netlogin VARCHAR(80),
	@currentuserid int,
	@status varchar(10),
	@returnstring  varchar(100)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
	DECLARE @newuserid INT
	DECLARE @err int
	DECLARE @rows int
	DECLARE @returnstring2 VARCHAR(200)
	DECLARE @returnstrin3 VARCHAR(200)
	DECLARE @username VARCHAR(300)
	
	
	SET @returnstring = 'Allocate user has been created successfully.'
	SET @status = 'success'
	SET @returnstring2 = ''
	SET @username = ''
	


	IF NOT EXISTS (SELECT 1 FROM Users (NOLOCK) where NetLogin = @netlogin)
		 BEGIN	
			--BEGIN TRANSACTION
			-- FIRST INSERT user
			INSERT INTO [dbo].[Users]([NetLogin],[LastLogin],[CreatedDate],[CreatedBy])
			VALUES (@netlogin,NULL,getdate(),@currentuserid)
			-- get last insert data
			SET @newuserid = Scope_Identity();
			SET @returnstring = 'Allocate User has been created successfully.'
			SET @status = 'success'
			SET @returnstring2 = ''
			SET @username = ''

			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0 
					SET @returnstring = 'Allocate User has been created successfully.'	
					SELECT @status strstatus , @returnstring strreturnstring
								
			IF @rows = 0 
					BEGIN
						SET @returnstring = 'Due to some reason  not able to complete this action'
						SET @status = 'error'
						--ROLLBACK TRANSACTION
					END
			--COMMIT TRANSACTION
			
			
		 END
	ELSE
		BEGIN
			SELECT @username = Forename + ' ' + Surname  FROM StaffDetails where NetLogin = @netlogin 	
			SET @returnstring = 'The Network Login you have entered is already a Allocate User.';
			SET @returnstring2 = 'The Name of the user is '
			SET @status = 'usererror'
		END
	SELECT @status strstatus , @returnstring strreturnstring,@returnstring2 strreturnstring2,@username strreturnstring3;	
			
	
END

GO
