USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_ValidateRotaPattern] Script Date: 16/07/2021 22:59:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[usp_ValidateRotaPattern]
	-- Add the parameters for the stored procedure here
	@rotaid int,
	@dutyid int,
	@dayofrota int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @UsedInRotaName varchar(200),@MasterDutyCount int;
	set @UsedInRotaName = '';
SELECT @MasterDutyCount = CASE WHEN @dayofrota = 0 THEN ISNULL(T1.Saturday, 0)
                               WHEN @dayofrota = 1 THEN ISNULL(T1.Sunday, 0)
                               WHEN @dayofrota = 2 THEN ISNULL(T1.Monday, 0)
                               WHEN @dayofrota = 3 THEN ISNULL(T1.Tuesday, 0)
                               WHEN @dayofrota = 4 THEN ISNULL(T1.Wednesday, 0)
                               WHEN @dayofrota = 5 THEN ISNULL(T1.Thursday, 0)
                               WHEN @dayofrota = 6 THEN ISNULL(T1.Friday, 0)
    END
FROM MasterDuties T1 (NOLOCK)
WHERE T1.MasterDutyID = @dutyid and T1.IsActive in (1,2)

    if exists(Select 1 from RotaDuties (NOLOCK) where RotaID = @rotaid and MasterDutyID = @dutyid and IsActive = 1)
BEGIN
select @UsedInRotaName strConflictRotaName, 1 intStatus;
return;
END
    IF @MasterDutyCount = 0
BEGIN
select '' strConflictRotaName,2 intStatus;
return;
END

select
        @UsedInRotaName = mr.RotaName
from RotaDuties as rd
         Left Join MasterRotas mr on mr.RotaID = rd.ROtaID
where rd.MasterDutyID = @dutyid and rd.isActive = 1
  and WeeksInRota <> (select WeeksInRota from MasterRotas where RotaId = @rotaid and IsActive = 1)
  and convert(datetime,mr.RotaStartDate,110) <> (select convert(datetime,RotaStartDate,110) from MasterRotas where RotaID = @rotaid and isActive = 1);

if (@UsedInRotaName <> '')
BEGIN
select @UsedInRotaName strConflictRotaName, 0 intStatus;
return;
END
else
BEGIN
select @UsedInRotaName strConflictRotaName, 1 intStatus;
return;
END
END
GO
