USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_fetch_leaverequestAllocationAndRota]    Script Date: 11/09/2025 21:19:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_fetch_leaverequestAllocationAndRota]
@intweekStart          INT,
@intweekEnd            INT,
@intschedulingPersonId INT,
@pNetLogin             VARCHAR(30)


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @WeekStart          INT
	DECLARE @WeekEnd            INT
	DECLARE @IsFreelancer       BIT = 0
	DECLARE @FreelancerSPID     INT 
	DECLARE @isShiftLeader          VARCHAR(10) = '1'
	
	SET @WeekStart = CAST(@intweekStart AS INT)
	SET @WeekEnd = CAST(@intweekEnd  AS INT)
	
	SELECT DISTINCT @FreelancerSPID = SP.UD_UserID
	  FROM UserDetails SP
	 INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) AS STL ON SP.UD_UserID = STL.scheduledpersonid 
	 INNER JOIN schedulingTeams (NOLOCK) ST ON ST.schedulingTeamId = STL.TeamID
	 WHERE ST.schedulingTeamName IN ('Freelancers','Other BBC')
	   AND sp.UD_NetLogin = @pNetLogin
	   AND STL.IsHomeTeam = 1
	   AND STL.scheduledType = 1
	   AND GETDATE() between STL.StartDate and STL.EndDate
	   
	 IF ( ISNULL(@FreelancerSPID,0) > 0 AND @intschedulingPersonId <> @FreelancerSPID )
	  BEGIN
	    SET @IsFreelancer = 1
	  END

	SELECT WeekNumber,
	       DutyName,
		   DOTW, 
		   display_priority,
		   Duration,
		   AllocationID,
		   StartTime,
		   EndTime
	       INTO #TempAllocations
	 FROM
	     (
	       SELECT a.WeekNumber AS WeekNumber, 
			      case WHEN ISNULL(a.IsHomeTeam,1) = 0 AND DutyName = 'U' then '' 
			           when ISNULL(@isshiftleader,0) = 1 then 
				        case when a.dutydate > getdate()+ISNULL(st.maskafter,999) 
						 and ISNULL(st.masktype,2) = 0 then ''
						when a.dutydate > getdate()+ISNULL(st.maskafter,999) 
						 and ISNULL(st.masktype,2) = 0 
						 and a.dutyname ='U' then ''
						when a.dutydate > getdate()+ISNULL(st.maskafter,999)  
						 and ISNULL(st.masktype,2) = 1 
						 and (a.starttime > 0 or a.endtime > 0 ) then substring(a.DutyName,1,1)
					   else a.DutyName end 								
					else a.DutyName end    AS DutyName,
						a.iDay                   AS DOTW, 
			case when a.adhocduty = 1 then 0 else 1 end AS display_priority,
			a.duration,
			a.AllocationID,
			ISNULL(a.StartTime,0) as StartTime,
			ISNULL(a.EndTime,0) as EndTime,
			rank() over (partition by a.weeknumber,a.iday order by (case when a.dutyname <> 'U' then 1 else 0 end) desc, a.ishometeam desc) AS rankcol			
	   FROM dbo.Allocations_Publish as a (NOLOCK)	   
	  INNER JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID = a.SchedulingPersonID
      INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as spl on sp.UD_UserID = spl.ScheduledPersonID 
	         AND spl.teamid=A.SchedulingTeamId 
	  INNER JOIN schedulingTeams (NOLOCK) AS st ON  st.schedulingTeamId = spl.TeamID
	  INNER JOIN (SELECT td.ixYearWeek weeknumber,
					     MIN(td.dDateTime) startdate
				    FROM TimeDimension TD
				   WHERE td.ixYearWeek between @weekStart and @weekEnd 
				   GROUP BY td.ixYearWeek) AS TD1 ON a.weeknumber = TD1.WeekNumber
	 WHERE a.SchedulingPersonID = @intschedulingPersonId
	   AND spl.scheduledType = 1
	   And a.DutyDate >= ISNULL(spl.StartDate,a.DutyDate) 
	   AND a.DutyDate <= ISNULL(spl.EndDate,a.DutyDate)
	   AND 1 = CASE WHEN @IsFreelancer = 1 AND a.DutyDate < CAST(getdate() - 1 AS DATE)
	                THEN 2
					WHEN @IsFreelancer = 1 AND a.DutyDate > getdate()+ISNULL(st.freelancerMaskingDays,999) 
					THEN 2
		            ELSE 1 END
	   AND 1 = CASE WHEN @isshiftleader = '1' THEN
				 CASE WHEN TD1.startdate > getdate()+ isnull(st.maskafter,999)
				       AND isnull(st.masktype,2) <> 2 
				      THEN 2 ELSE 1 END
			   ELSE 1 END			
		) FD where rankcol = 1 

    --- Populate ROTA if there are no allocations

    INSERT INTO #TempAllocations
	SELECT td1.ixYearWeek           AS WeekNumber,		   
		   er.DutyName,
		   er.DOTW,
		   2                        AS display_priority,
		   MD.Duration,
		   0 as AllocationID,
		   ISNULL(MD.StartTime,0) AS StartTime,
		   ISNULL(MD.EndTime,0) AS EndTime		   	  
      FROM Exported_rota as er (NOLOCK)
	  INNER JOIN MasterDuties MD on md.MasterDutyID = er.MasterDutyID
      INNER JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID = er.SchedulingPersonID
      INNER JOIN ( SELECT td.ixYearWeek, SchedulingPersonID, RotaID, SchedulingTeamId,
		           CASE WHEN ROW_NUMBER() over(partition by SchedulingPersonID,RotaID
				   ORDER by td.ixYearWeek) % td.WeeksInRota = 0
					THEN td.WeeksInRota
					ELSE ROW_NUMBER() over(partition by SchedulingPersonID,RotaID
					               order by td.ixYearWeek) % td.WeeksInRota 
								   END weeksinrota
					FROM (
						  SELECT DISTINCT ixYearWeek,
						         er.WeeksInRota,
								 SchedulingPersonID,
								 RotaID,
								 SchedulingTeamId
						    FROM TimeDimension td, 
							    (
								  
								SELECT DISTINCT AssignmentStartWeek,
								                WeeksInRota,
												SchedulingPersonID,
												RotaID,
												SchedulingTeamId
								FROM Exported_rota (NOLOCK) ER1
								INNER JOIN 
									(SELECT MIN(TDI.dDateTime) AS startdate, 
											MAX(TDI.dDateTime ) AS enddate 
									 FROM  TimeDimension TDI (NOLOCK) 
									 WHERE ixYearWeek BETWEEN @WeekStart AND @WeekEnd ) AS TDI1 ON 1 = 1 
								 WHERE SchedulingPersonID = @intschedulingPersonId
								  AND TDI1.startdate <= ISNULL( CAST(ER1.RotaAssignmentEndDate AS DATE), TDI1.startdate)
								  AND TDI1.enddate >= ISNULL(ER1.RotaAssignmentStartDate, TDI1.enddate)
								  
								 ) er
					WHERE td.ixYearWeek BETWEEN er.AssignmentStartWeek AND @intweekEnd) TD) TD1
		      ON td1.weeksinrota = er.rotaweek 
		      AND td1.SchedulingPersonID=er.SchedulingPersonID
			   AND td1.RotaID = er.RotaID 
			   AND td1.SchedulingTeamId = er.SchedulingTeamId 			  
		INNER JOIN schedulingTeams (NOLOCK) AS st ON er.SchedulingTeamId = st.schedulingTeamId
		INNER JOIN (SELECT MIN(tdt.dDateTime) AS startdate, 
		                   MAX(tdt.dDateTime ) AS enddate 
					  FROM TimeDimension tdt 
					 WHERE ixYearWeek BETWEEN @WeekStart AND @WeekEnd ) td2 ON 1 = 1
		INNER JOIN TimeDimension TD3 (NOLOCK) ON TD3.ixYearWeek = TD1.ixYearWeek AND TD3.ixDayInWeek = ER.DOTW			 
		INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl on sp.UD_UserID = sptl.ScheduledPersonID 
		        AND sptl.TeamID = er.SchedulingTeamId
		        AND ISNULL(sptl.ROTA,0) = CASE WHEN ISNULL(@isShiftLeader,'0') = '1' AND ISNULL(sptl.ROTA,0) =0
			                                  THEN 0
											WHEN ISNULL(@isShiftLeader,'0') = '1' AND ISNULL(sptl.ROTA,0) =2
			                                  THEN 2	
			                                ELSE  -1 END
				AND sptl.scheduledType = 1 
				AND td3.dDateTime between sptl.StartDate and ISNULL(sptl.EndDate, td3.dDateTime)
        WHERE er.SchedulingPersonID = @intschedulingPersonId
          AND td1.ixYearWeek BETWEEN @WeekStart AND @WeekEnd 
		  and td3.dDateTime between er.RotaAssignmentStartDate and ISNULL( er.RotaAssignmentEndDate, td3.dDateTime)
		  AND td1.ixYearWeek <= er.AssignmentEndWeek
		  AND st.isActive=1
		  AND TD3.dDateTime between ISNULL(DutyStartDate,TD3.dDateTime) and ISNULL(DutyEndDate,TD3.dDateTime)
		  AND 1 = CASE WHEN @IsFreelancer = 1 THEN
		             CASE WHEN td3.dDateTime < CAST(getdate() - 1 AS DATE) THEN 2
					      WHEN td3.dDateTime > getdate() + ISNULL(st.freelancerMaskingDays,999) THEN 2
					      ELSE 1 END
		             ELSE 1 END		  
		  AND td1.ixYearWeek NOT IN ( SELECT distinct WeekNumber 
										FROM #TempAllocations
									   WHERE display_priority <> 0)
		  AND NOT EXISTS ( SELECT 1
							 FROM #TempAllocations TLS
							WHERE
							   TLS.DOTW = ER.DOTW
							  AND TLS.WeekNumber = TD1.ixYearWeek 
							  AND TLS.display_priority = 0)		

		-- UPDATE #TempAllocations SET display_priority = 1 WHERE display_priority = 0
							  
		 SELECT * 
		   FROM #TempAllocations 
		  ORDER BY  WeekNumber, DOTW
		
 END