USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ScheduledPeopleDetails]    Script Date: 26/11/2025 14:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_ScheduledPeopleDetails]
-- Add the parameters for the stored procedure here

@searchuservalue VARCHAR(60),
@searchteamsvalue VARCHAR(60),
@actionType  VARCHAR(60),
@userid int,
@excludeNoTeam int
AS
 BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @SQL NVARCHAR(MAX)
	DECLARE @isHomeTeam INT
	DECLARE @noTeamId int =  -1
	if @excludeNoTeam = 1
	BEGIN
		SELECT @noTeamId = schedulingTeamId
		 FROM schedulingTeams
		WHERE LOWER(schedulingTeamName) = 'archive' AND isActive = 1
	END
	SET @isHomeTeam = 1

	IF @searchuservalue = ''
	SET @searchuservalue = NULL

	IF @searchteamsvalue = '' and  @actionType = 'search'
	 SET @searchteamsvalue = NULL

	   --IF USER NOT SYSTEM ADMIN then check divisionadmin and team base acces
    IF @searchuservalue IS NULL and @searchteamsvalue IS NOT NULL
     BEGIN
           DECLARE @tempTableVariable TABLE (ScheduledPersonID int,
                                  DisplayName varchar(200),
                                  PersonalEmail varchar(100),
								  PersonalPhone varchar(200),
								  DisplayLastName varchar(25),
								  TeamName varchar(120),
								  TeamID int,
								  IsHomeTeam tinyint,
								  Forename varchar(25),
								  Surname varchar(25),
								  NetLogin varchar(30),
								  InternalEmail varchar(132),
								  username varchar(51),
								  DivisionId int)

                   insert into @tempTableVariable(ScheduledPersonID, DisplayName,
                               PersonalEmail, PersonalPhone, DisplayLastName,
							   TeamName, TeamID, IsHomeTeam, Forename,
							   Surname, NetLogin, InternalEmail, username,
							   DivisionId)
							   (

               SELECT DISTINCT t2.ScheduledPersonID, UD_DisplayName DisplayName,
			                   ud.UD_ExternalEmail as PersonalEmail, ud.UD_PersonalPhone PersonalPhone,
							   ud.UD_DisplayLastName DisplayLastName,
							   T3.schedulingTeamName as TeamName,T2.TeamID,
							   T2.IsHomeTeam,
							   case when ud.UD_DisplayFirstName is null then ud.UD_DisplayLastName
									when ud.UD_DisplayFirstName = '' then ud.UD_DisplayLastName
									else ud.UD_DisplayFirstName
								end as Forename,
								ud.UD_DisplayLastName as Surname,
							    ud.UD_NetLogin NetLogin,
								ud.UD_InternalEmail InternalEmail,
								ud.UD_DisplayFirstName+' '+ud.UD_DisplayLastName  as 'username',
							   '' as DivisionId
		FROM  UserDetails ud (NOLOCK)
	   INNER  JOIN ScheduledPersonTeam_LINK T2 (NOLOCK) ON T2.ScheduledPersonID = ud.UD_UserID
	   INNER  JOIN schedulingTeams T3 (NOLOCK) ON T3.schedulingTeamId = T2.TeamID and T3.isActive = 1
		WHERE T2.TeamID =  @searchteamsvalue and T2.IsHomeTeam = @isHomeTeam and T2.scheduledType = 1
				  AND T3.divisionid not in ( Select DivisionID
				                                from UserRoles ur (NOLOCK)
												JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = ur.UR_RoleID and rpl.FormID = 6
												join REF_Roles rr on rr.RoleID = ur.UR_RoleID
											   where ur.UR_UserID=@userid
											     and rr.RoleName = 'Area Admin'
										     )
				  and  isnull(convert(datetime,T2.EndDate,110),cast(getdate() AS DATE)) >= cast(getdate() AS DATE)
								and cast (T2.StartDate AS DATE) <= cast (getdate() AS DATE)


	UNION
	SELECT DISTINCT t2.ScheduledPersonID,ud.UD_DisplayName DisplayName,
			                   ud.UD_ExternalEmail as PersonalEmail,ud.UD_PersonalPhone PersonalPhone,
							   ud.UD_DisplayLastName DisplayLastName,
							   T3.schedulingTeamName as TeamName,T2.TeamID,
							   T2.IsHomeTeam,
							   case when ud.UD_DisplayFirstName is null then ud.UD_DisplayLastName
									when ud.UD_DisplayFirstName = '' then ud.UD_DisplayLastName
									else ud.UD_DisplayFirstName
								end as Forename,
								ud.UD_DisplayLastName as Surname,
							    ud.UD_NetLogin NetLogin,
								ud.UD_InternalEmail InternalEmail,
								ud.UD_DisplayFirstName+' '+ud.UD_DisplayLastName  as 'username',
							   '' as DivisionId
		FROM  UserDetails ud (NOLOCK)
	   INNER  JOIN ScheduledPersonTeam_LINK T2 (NOLOCK) ON T2.ScheduledPersonID = ud.UD_UserID
	   INNER  JOIN schedulingTeams T3 (NOLOCK) ON T3.schedulingTeamId = T2.TeamID and T3.isActive = 1
		WHERE T2.TeamID =  @searchteamsvalue and T2.IsHomeTeam = @isHomeTeam and T2.scheduledType = 1
				  AND T3.divisionid not in ( Select DivisionID
				                                from UserRoles ur (NOLOCK)
												JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = ur.UR_RoleID and rpl.FormID = 6
												join REF_Roles rr on rr.RoleID = ur.UR_RoleID
											   where ur.UR_UserID=@userid
											     and rr.RoleName = 'Area Admin'
										     )

		  and  isnull(convert(datetime,T2.EndDate,110),cast(getdate() AS DATE)) >= cast(getdate() AS DATE)
						and cast (T2.StartDate AS DATE) >= cast (getdate() AS DATE)
				AND EXISTS (select UD_UserID  from ScheduledPersonTeam_LINK spl
						JOIN UserDetails sp on sp.UD_UserID = spl.ScheduledPersonID
						where
						  IsHomeTeam= 1 and scheduledType = 1 AND sp.UD_UserID= T2.ScheduledPersonID
						  group by sp.UD_UserID having count(1)>0 )
		  );

	WITH CTE(ScheduledPersonID, DisplayName, PersonalEmail, PersonalPhone, DisplayLastName, TeamName,
	TeamID, IsHomeTeam, Forename, Surname, NetLogin, InternalEmail, username, DuplicateCount)
	AS (SELECT ScheduledPersonID, DisplayName, PersonalEmail, PersonalPhone, DisplayLastName,
			   TeamName, TeamID, IsHomeTeam, Forename, Surname, NetLogin, InternalEmail, username,
			   ROW_NUMBER() OVER(PARTITION BY ScheduledPersonID, DisplayName,
											  PersonalEmail, PersonalPhone,
											  TeamName, TeamID, IsHomeTeam,
											  Forename, Surname, NetLogin, InternalEmail, username
			   ORDER BY DivisionId desc) AS DuplicateCount
		FROM @tempTableVariable)

	DELETE FROM CTE WHERE DuplicateCount >  1;

	SELECT * FROM @tempTableVariable where TeamID != @noTeamId ORDER BY DisplayLastName;

  END

  IF @searchteamsvalue IS NULL AND @searchuservalue IS NOT NULL
   BEGIN


		--FOR OTHER ROLES ON TEAM

		select * from (
SELECT DISTINCT t2.ScheduledPersonID, UD_DisplayName DisplayName,
			                   ud.UD_ExternalEmail as PersonalEmail, UD_PersonalPhone PersonalPhone,
							   ud.UD_DisplayLastName DisplayLastName,
							   T3.schedulingTeamName as TeamName,T2.TeamID,
							   T2.IsHomeTeam,
							   case when ud.UD_DisplayFirstName is null then ud.UD_DisplayLastName
									when ud.UD_DisplayFirstName = '' then ud.UD_DisplayLastName
									else ud.UD_DisplayFirstName
								end as Forename,
								ud.UD_DisplayLastName as Surname,
							    ud.UD_NetLogin NetLogin,
								ud.UD_InternalEmail InternalEmail,
								ud.UD_DisplayFirstName+' '+ud.UD_DisplayLastName  as 'username',
							   '' as DivisionId,
							   ROW_NUMBER() over ( partition by T2.ScheduledPersonID order by T2.StartDate) as rank_display

		FROM  UserDetails ud (NOLOCK)
	   INNER  JOIN ScheduledPersonTeam_LINK T2 (NOLOCK) ON T2.ScheduledPersonID = ud.UD_UserID
	   INNER  JOIN schedulingTeams T3 (NOLOCK) ON T3.schedulingTeamId = T2.TeamID and T3.isActive = 1
		WHERE  T2.IsHomeTeam = @isHomeTeam and T2.scheduledType = 1
		and T2.TeamID in  (select TeamID
					                    from UserRoles ur (NOLOCK)
										JOIN REF_Roles rr (NOLOCK) on rr.RoleID = ur.UR_RoleID and rr.isAdditional = 0 and isActive = 1
										where   cast(getdate() as DATE) between ur.UR_StartDate
										 and isnull(ur.UR_EndDate,cast(getdate() as DATE))
										)
				  AND T3.divisionid not in ( Select DivisionID
				                                from UserRoles ur (NOLOCK)
												JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = ur.UR_RoleID and rpl.FormID = 6
												join REF_Roles rr on rr.RoleID = ur.UR_RoleID
											   where ur.UR_UserID=@userid
											     and rr.RoleName = 'Area Admin'
										     )
				AND  CHARINDEX(@searchuservalue, ud.UD_DisplayName) > 0


		  and ISNULL(T2.EndDate,cast(getdate() AS DATE)) >= cast(getdate() AS DATE)
		) FD WHERE rank_display = 1 AND TeamID != @noTeamId
		--ORDER BY DisplayLastName

   END

	IF @searchteamsvalue IS NOT NULL AND @searchuservalue IS NOT NULL
	BEGIN

	 SELECT DISTINCT               t2.ScheduledPersonID, UD_DisplayName DisplayName,
			                   ud.UD_ExternalEmail as PersonalEmail, UD_PersonalPhone PersonalPhone,
							   ud.UD_DisplayLastName DisplayLastName,
							   T3.schedulingTeamName as TeamName,T2.TeamID,
							   T2.IsHomeTeam,
							   case when ud.UD_DisplayFirstName is null then ud.UD_DisplayLastName
									when ud.UD_DisplayFirstName = '' then ud.UD_DisplayLastName
									else ud.UD_DisplayFirstName
								end as Forename,
								ud.UD_DisplayLastName as Surname,
							    ud.UD_NetLogin NetLogin,
								ud.UD_InternalEmail InternalEmail,
								ud.UD_DisplayFirstName+' '+ud.UD_DisplayLastName  as 'username',
							   '' as DivisionId
	   FROM  UserDetails ud (NOLOCK)
	   INNER  JOIN ScheduledPersonTeam_LINK T2 (NOLOCK) ON T2.ScheduledPersonID = ud.UD_UserID
	   INNER  JOIN schedulingTeams T3 (NOLOCK) ON T3.schedulingTeamId = T2.TeamID and T3.isActive = 1
	    LEFT join ( select DISTINCT ur.UR_SchedulingTeamID,ur.UR_DivisionId
		              from UserRoles ur (NOLOCK)
	                  JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = 2 and rpl.FormID = 6
					  join REF_Roles rr on rr.RoleID = ur.UR_RoleID and rr.isAdditional=1
	                 where ur.UR_UserID = @userid
					   AND ur.UR_SchedulingTeamID= @searchteamsvalue
					   and rr.RoleName = 'Area Admin'
				   )  as temp2 on temp2.UR_SchedulingTeamID = T2.TeamID
	   WHERE  T2.TeamID = @searchteamsvalue  AND CHARINDEX(@searchuservalue, ud.UD_DisplayName) > 0
		 AND T2.IsHomeTeam = @isHomeTeam and T2.scheduledType = 1
		 and TeamID in (
						select top(1) TeamID
						  from ScheduledPersonTeam_LINK (NOLOCK)
						 where IsHomeTeam = @isHomeTeam
						   and ScheduledPersonID = T2.ScheduledPersonID
						   and isnull(convert(datetime,EndDate,110),'9999-01-01') >= convert(datetime,convert(varchar(30),getdate(),110),110)
						   and (
								convert(datetime, StartDate, 110) >= convert(datetime, convert(varchar,GETDATE(),110), 110) or
								isnull(convert(datetime,EndDate,110),'9999-01-01') >= convert(datetime,convert(varchar(30),getdate(),110),110)
								and convert(datetime,StartDate,110) <= convert(datetime,convert(varchar(30),getdate(),110),110)
								) order by startdate asc
						)
			  and (convert(datetime, T2.StartDate, 105) > convert(datetime, GETDATE(), 105) or convert(datetime, GETDATE(), 105)
			  between convert(datetime, T2.StartDate, 105) and convert(datetime, T2.EndDate, 105) )
			  AND T2.TeamID != @noTeamId
	ORDER BY Surname
	END
END