USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_Historydata]    Script Date: 20/11/2023 15:23:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_GET_Historydata]
@modulename varchar(200),
@attributeid int
AS
BEGIN
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
		DECLARE @historytype int

		-- select the history type
		SELECT @historytype = id 
		  FROM HistoryTypes 
		 WHERE HistoryType = @modulename 

		SELECT History,
			   ISNULL(HistorySubType,'CH') as HistorySubType
		  FROM History 
		 WHERE HistoryType = @historytype 
		   AND AttributeID = @attributeid 
		 ORDER BY [datetime] DESC, HistoryID desc
						
END
