USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ReadAllocationsDayLastUpdDetails]    Script Date: 16/07/2022 16:15:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_get_ReadAllocationsDayLastUpdDetails]
@StartDate            VARCHAR(22),
@EndDate              VARCHAR(22),
@SchedulingTeamId     INT,
@IsViewPage           INT,
@DutyHistoryID        INT = NULL,
@JobHistoryID         INT = NULL,
@SigninID             INT = NULL,
@SigninLastUpdte      INT = NULL



AS

BEGIN

	SET NOCOUNT ON	
    SET DATEFORMAT YMD
	
	DECLARE @vDutyHistoryID        INT
	DECLARE @vJobHistoryID         INT
	DECLARE @vSigninID             INT
	DECLARE @vSigninLastUpdte      INT
	DECLARE @vDutyLastUpdate       INT
	DECLARE @vJobLastUpdate        INT
	DECLARE @vPublishLastUpdate    INT
	
	BEGIN TRY
	
	 IF ( @IsViewPage = 1 )
		BEGIN		

		  SELECT @vPublishLastUpdate = min(DATEDIFF(SS,UpdatedDate,GETDATE() ) )
		    FROM Allocations_published_weeks AP
			INNER JOIN ( SELECT DISTINCT TD.ixYearWeek AS WeekNumber
			               FROM TimeDimension TD
						  WHERE TD.dDateTime between CONVERT(DATETIME,@StartDate,101) 
						    AND CONVERT(DATETIME,@EndDate,101) 	
						) TD ON AP.WeekNumber = TD.WeekNumber
		    WHERE AP.SchedulingTeamID = @SchedulingTeamId

			IF ( ISNULL(@vPublishLastUpdate,100) < 62 )
			BEGIN
			 THROW 51000, 'Week Published', 1;  			  
			END					

		   SELECT @vDutyHistoryID = MAX(HY.HistoryID), 
		          @vDutyLastUpdate = DATEDIFF(SS,MAX(HY.datetime),GETDATE() )
			 FROM history HY
			INNER JOIN Allocations AL ON AL.ID = HY.AttributeID
			INNER JOIN TimeDimension TD ON AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek
			INNER JOIN HistoryTypes HT ON HY.HistoryType = HT.id
			WHERE AL.SchedulingTeamId = @SchedulingTeamId
			  AND AL.isEdited = 1
			  AND HT.HistoryType='AllocationDuty'
			  AND HY.HistoryID > ISNULL(@DutyHistoryID ,1)
			  AND TD.dDateTime between CONVERT(DATETIME,@StartDate,101) and CONVERT(DATETIME,@EndDate,101) 
			  
			IF ( ISNULL(@vDutyLastUpdate,100) < 62 )
			BEGIN
			 THROW 51001, 'Duty Updated', 1;  			  
			END					
			
		END
	 ELSE
		BEGIN			
					
		   SELECT @vDutyHistoryID = MAX(HY.HistoryID), 
		          @vDutyLastUpdate = DATEDIFF(SS,MAX(HY.datetime),GETDATE() )
			 FROM history HY
			INNER JOIN Allocations AL ON AL.ID = HY.AttributeID
			INNER JOIN TimeDimension TD ON AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek
			INNER JOIN HistoryTypes HT ON HY.HistoryType = HT.id
			WHERE AL.SchedulingTeamId = @SchedulingTeamId
			  AND HT.HistoryType='AllocationDuty'
			  AND HY.HistoryID > ISNULL(@DutyHistoryID ,1)
			  AND TD.dDateTime between CONVERT(DATETIME,@StartDate,101) and CONVERT(DATETIME,@EndDate,101) 
			  
			IF ( ISNULL(@vDutyLastUpdate,100) < 62 )
			BEGIN
			 THROW 51000, 'Duty Updated', 1;  			  
			END			  
			  
		   SELECT @vJobHistoryID = MAX(HY.HistoryID), 
		          @vJobLastUpdate = DATEDIFF(SS,MAX(HY.datetime),GETDATE() )
			 FROM history HY
			INNER JOIN Allocations_jobs AJ ON AJ.ID = HY.AttributeID
			INNER JOIN Allocations AL ON AL.ID = AJ.AllocationID
			INNER JOIN TimeDimension TD ON AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek
			INNER JOIN HistoryTypes HT ON HY.HistoryType = HT.id
			WHERE AL.SchedulingTeamId = @SchedulingTeamId
			  AND HT.HistoryType='AllocationJobs'
			  AND HY.HistoryID > ISNULL(@JobHistoryID ,1)	
			  AND TD.dDateTime between CONVERT(DATETIME,@StartDate,101) and CONVERT(DATETIME,@EndDate,101) 			  

			IF ( ISNULL(@vJobLastUpdate,100) < 62 )
			BEGIN
			 THROW 51001, 'Job Updated', 1;  			  
			END				  			  
					
		END
		
		   SELECT @vSigninID = MAX(SG.ID), 
		          @vSigninLastUpdte = DATEDIFF(SS,MAX(SG.lastupdate),GETDATE() )
			 FROM signin SG
			INNER JOIN Allocations AL ON AL.WeekNumber=SG.iWeek 
									 AND AL.iday = SG.iDay 
									 AND AL.SchedulingPersonID=SG.SchedulingPersonID
			INNER JOIN TimeDimension TD ON AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek
			WHERE AL.SchedulingTeamId = @SchedulingTeamId	
			  AND TD.dDateTime between CONVERT(DATETIME,@StartDate,101) and CONVERT(DATETIME,@EndDate,101) 			  
			  AND SG.ID > ISNULL(@SigninID ,1)			  
			  
			IF ( ISNULL(@vSigninLastUpdte,100) <  62 )
			BEGIN
			 THROW 51002, 'User Signed IN', 1;  			  
			END				
		
			SELECT ISNULL(@vDutyHistoryID,@DutyHistoryID) AS DutyHistoryID, 
		           ISNULL(@vJobHistoryID,@JobHistoryID) AS JobHistoryID,
		           ISNULL(@vSigninID,@SigninID) AS SignINID,  
		           ISNULL(@vSigninLastUpdte,@SigninLastUpdte) AS SigninLastUpdate,
				   0 AS IsRefresh		

	END TRY
				
	BEGIN CATCH
				
			SELECT ISNULL(@vDutyHistoryID,@DutyHistoryID) AS DutyHistoryID, 
		           ISNULL(@vJobHistoryID,@JobHistoryID) AS JobHistoryID,
		           ISNULL(@vSigninID,@SigninID) AS SignINID,  
		           ISNULL(@vSigninLastUpdte,@SigninLastUpdte) AS SigninLastUpdate,
				   1 AS IsRefresh
					
	END CATCH;		


END
