USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterDutyDates]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_MasterDutyDates]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GET_MasterDutyDates]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterDutyDates]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Michael Hoskin
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_MasterDutyDates] 
	-- Add the parameters for the stored procedure here
	@dutyid INT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @dutyid IS NULL
		SET @dutyid = 0

    -- Insert statements for procedure here
	SELECT  T1.MasterDutyDateID, 
			T1.DutyID, 
			CONVERT(VARCHAR(10), T1.StartDate, 103) AS StartDate,
			CONVERT(VARCHAR(10), T1.EndDate, 103) AS EndDate,
			CONVERT(VARCHAR(30),T1.LastModDate,121) as LastModDate
	FROM MasterDutyDates T1 INNER JOIN MasterDuties T2 ON T1.DutyID = T2.ID
    WHERE T1.DutyID = @dutyid
	ORDER BY T1.StartDate
    
END


GO
