 USE [ALLOCATE7]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_CountOfJobsByTime]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
-- =============================================
-- Author:		<Soniya,R>
-- Create date: <29 Sep 2021>
-- Description:	<Fetch Unallocated Job By Id For Edit Purpose>
-- =============================================
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_get_CountOfJobsByTime]
	@jobid INT,
@dutyid  INT,
@jobstarttime varchar(100),
@jobendtime varchar(100)

AS
BEGIN
if (@jobid= 0) 
	BEGIN
     -- The join depends on the staff number of the duty:
 
     -- Get the edited jobs start and end time
     SELECT COUNT(Allocations_jobs.EndTime) AS CountJobs
      FROM Allocations
      INNER JOIN Allocations_jobs ON Allocations.ID = Allocations_jobs.AllocationID
      WHERE (Allocations.ID = @dutyid) AND (Allocations_jobs.EndTime > @jobstarttime)
      AND (Allocations_jobs.StartTime > @jobendtime) 
      and (Allocations_jobs.isActive =0 OR Allocations_jobs.isActive is NULL)
   END
   ELSE 
		BEGIN
			SELECT COUNT(Allocations_jobs.EndTime) AS CountJobs
			FROM AllocationGs
			INNER JOIN Allocations_jobs ON Allocations.ID = Allocations_jobs.AllocationID
			WHERE (Allocations.ID = @dutyid) AND (Allocations_jobs.EndTime > @jobstarttime)
			AND (Allocations_jobs.StartTime < @jobendtime) and Allocations_jobs.ID!=@jobid
			and (Allocations_jobs.isActive =1 OR Allocations_jobs.isActive is NULL)
 
		END

END
'

EXEC dbo.sp_executesql @strSQL

GO