USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterDutiesFilter]    Script Date: 31/10/2025 19:11:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_GET_MasterDutiesFilter]
    -- Add the parameters for the stored procedure here
    @filterid INT = 0,
    @teamid VARCHAR(255) = '0',
    @userID int
	
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;
    IF @filterid = 0
        SET @filterid = NULL

    IF (@teamid = '0' or @teamid = '')
     BEGIN
		select 0 status, '' strstatus
        RETURN
     END

    IF EXISTS(select 1 
				from UserRoles (NOLOCK) 
			   where UR_UserID = @userID 
			     and UR_RoleID = 1 
				 and GETDATE() between UR_StartDate and UR_EndDate)
     BEGIN
        SELECT T1.*, 
		       T2.schedulingTeamName
          from MasterDutiesFilter T1
          LEFT JOIN schedulingTeams as T2 on T2.schedulingTeamId = T1.TeamID
         where (T1.IsPublic=1 OR (T1.IsPublic=0 AND T1.UserID=@userID )) 
		   AND T1.TeamID in (SELECT value 
							   FROM STRING_SPLIT(@teamid, ','))
		 ORDER BY T1.FilterName ASC

        RETURN;

     END
    ELSE
     BEGIN
       
	   SELECT T1.*, 
			  T2.schedulingTeamName
         from MasterDutiesFilter T1
         LEFT JOIN schedulingTeams as T2 on T2.schedulingTeamId = T1.TeamID
        WHERE (T1.IsPublic=1 OR (T1.IsPublic=0 AND T1.UserID=@userID )) 
		  AND T1.MasterDutyFilterID = COALESCE(@filterid,T1.MasterDutyFilterID)
          AND T1.TeamID IN (select UR_SchedulingTeamID 
							  from UserRoles 
							 where UR_UserID = @userID 
							   and UR_SchedulingTeamID in (SELECT value FROM STRING_SPLIT(@teamid, ',')) 
							   and getdate() between UR_StartDate and UR_EndDate
						   )
		UNION
        SELECT T1.*, T2.schedulingTeamName
          FROM  MasterDutiesFilter T1
          LEFT JOIN schedulingTeams as T2 on T2.schedulingTeamId = T1.TeamID
         WHERE (T1.IsPublic=1 
					OR (T1.IsPublic = 0 AND T1.UserID=@userID )) 
		   AND T1.MasterDutyFilterID = COALESCE(@filterid,T1.MasterDutyFilterID)
           and TeamID in (SELECT value FROM STRING_SPLIT(@teamid, ','))
		   AND EXISTS  (Select 1 
		                        from UserRoles da
							   INNER JOIN schedulingTeams ST ON ST.divisionid = da.UR_DivisionId
								join REF_Roles rr on rr.RoleID = da.UR_RoleID
								where UR_UserID = @userid
								  and rr.RoleName = 'Area Admin'
								  AND ST.schedulingTeamId = T1.TeamID
							and getdate() between UR_StartDate and UR_EndDate
								 )
		  ORDER BY T1.FilterName ASC
        
		  RETURN;

    END
END