USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_DelSkillDutiesProgrammesLink]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_DelSkillDutiesProgrammesLink]
GO
/****** Object:  StoredProcedure [dbo].[usp_DelSkillDutiesProgrammesLink]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Delete Skill duties Program Link.
-- =============================================
CREATE PROCEDURE [dbo].[usp_DelSkillDutiesProgrammesLink]
@dutyid INT,
@progid INT
AS
BEGIN
	SET NOCOUNT ON;
    DELETE FROM skills_duties_programmes_link
          WHERE  (duties_id = @dutyid)
          AND (programmes_id = @progid)
END
GO
