USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_RotaDutyDates]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_RotaDutyDates]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_mod_RotaDutyDates]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_RotaDutyDates]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Michael Hoskin
-- Create date: 14/12/2015
-- Description:	SP to modify the RotaDuties table
-- =============================================
CREATE PROCEDURE [dbo].[usp_mod_RotaDutyDates]
@RotaDutyID		INT,
@StartDate		VARCHAR(10),
@EndDate		VARCHAR(10),
@LastModDate	VARCHAR(30),
@currentuser	VARCHAR(100),
@currentuserid	INT, 
@history		VARCHAR(3000), 
@status			INT OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int
	DECLARE @UpdateDateTime datetime
	DECLARE @strUpdateDateTime varchar(35)
	DECLARE @TmpHistory varchar(4000)
	DECLARE @oldDutyID	INT

	SET @status = 1 
	SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)
	
	--Check Rota
	
			SET @TmpHistory = 'Updated by ' + COALESCE(@currentuser, 'UNKNOWN') + ' on ' + @strUpdateDateTime
			If @history <> ''
				SET @TmpHistory = @TmpHistory + @history
			
			
					UPDATE RotaDuties
					   SET StartDate = CONVERT(DATETIME, @StartDate + ' 00:00:00', 103),
						   EndDate = CONVERT(DATETIME, @EndDate + ' 00:00:00', 103),
						   LastModDate = @UpdateDateTime, 
						   LastModBy = @currentuserid
					 WHERE RotaDutyID = @RotaDutyID
					   --AND Convert(DATETIME, LastModDate, 121) = Convert(DATETIME, @LastModDate, 121)
							  
					SELECT @err = @@ERROR, @rows = @@ROWCOUNT
					IF @err <> 0 
						RETURN @err
					IF @rows = 0 
						BEGIN
							SET @status = 0
							RETURN 0
						END

END


GO
