USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_DutyPersonComment]    Script Date: 15/03/2026 17:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER      PROCEDURE [dbo].[usp_get_DutyPersonComment]
	-- Add the parameters for the stored procedure here
@roleIDPermission		INT,
@AllocationID			INT,
@AllocationDutyID		INT = NULL,
@AllocationSPID			INT = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   IF ( @roleIDPermission = 1 )
		BEGIN	
			SELECT  ud.UD_DisplayName AS FullName, 
					al.AL_SchedulingTeamID as SchedulingTeamId, 
					ad.AD_DutyName as DutyName, 
					ad.AD_Comments AS DutyComments, 
					ISNULL(asp.ASP_Comments,AAP_Comments) AS PersonComments
			FROM  Allocations AL
			LEFT JOIN  ( SELECT AD_AllocationsID,
									AD_DutyName,
									AD_Comments
							FROM AllocationsDuties 
						   WHERE AD_AllocationsDutyID = @AllocationDutyID
						   ) AD on al.AL_AllocationsID = ad.AD_AllocationsID
			LEFT JOIN ( SELECT ASP_AllocationsID,
								ASP_Comments,
								ASP_SchedulingPersonID
						FROM AllocationsScheduledPersons
						WHERE ASP_AllocationsSPID = @AllocationSPID
							) ASP on  AL_AllocationsID = ASP_AllocationsID 
			LEFT JOIN ( SELECT AAP_AllocationsID,
								AAP_Comments,
								AAP_SchedulingPersonID
						FROM AllocationsAddPersons
						WHERE AAP_AllocationsSPID = @AllocationSPID
						 AND AAP_AllocationsID = @AllocationID
							) AAP on  AL_AllocationsID = AAP_AllocationsID 
			LEFT JOIN UserDetails ud ON ud.UD_UserID = ASP.ASP_SchedulingPersonID
			WHERE AL.AL_AllocationsID = @allocationId 
		END
	ELSE
		BEGIN	
			SELECT  UD_DisplayName AS FullName, 
					a.SchedulingTeamId, 
					a.DutyName, 
					a.DutyComments AS DutyComments, 
					a.PersonComments AS PersonComments
			FROM  Allocations_Publish a
			INNER JOIN UserDetails sp ON sp.UD_UserID = a.SchedulingPersonID
			WHERE a.ID = @allocationId 
		END
	
END