USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateDutiesDay]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_UpdateDutiesDay]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateDutiesDay]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to update duties day.
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdateDutiesDay]
@intDay INT,
@intDutyID INT
AS
BEGIN
	SET NOCOUNT ON;
    IF EXISTS (SELECT ID FROM skills_duties_days  
		WHERE   (duty_id = @intDutyID) AND (dotw = @intDay))
        DELETE FROM skills_duties_days
		WHERE  (duty_id = @intDutyID) AND (dotw = @intDay)
		ELSE 
		INSERT INTO skills_duties_days (duty_id, dotw)
		VALUES (@intDutyID, @intDay)
END
GO
