USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_PayrollDates]    Script Date: 3/12/2026 10:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_PayrollDates]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_PayrollDates];
		
		--Update existing records
		UPDATE T1
		SET T1.PayrollStatus = T2.PayrollStatus
			  ,T1.AccountUpto = T2.AccountUpto
			  ,T1.PayrollStartDate = T2.PayrollStartDate
			  ,T1.PayRollEndDate = T2.PayRollEndDate
			  ,T1.PayrollFinaliseDate = T2.PayrollFinaliseDate
			  ,T1.PayrollProcessDate = T2.PayrollProcessDate
			  ,T1.BankCreditDate = T2.BankCreditDate
			  ,T1.ixMonth = T2.ixMonth
			  ,T1.ixYear = T2.ixYear
			  ,T1.LastUpdated = T2.LastUpdated
			  ,T1.LastUpdatedBy = T2.LastUpdatedBy
			  ,T1.History = T2.History
		FROM [REF_PayrollDates] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_PayrollDates] T2 ON T1.PayrollMonth = T2.PayrollMonth
		WHERE T1.PayrollMonth = T2.PayrollMonth
		
		--Insert new records
		INSERT INTO [REF_PayrollDates] (
			   [PayrollMonth]
			  ,[PayrollStatus]
			  ,[AccountUpto]
			  ,[PayrollStartDate]
			  ,[PayRollEndDate]
			  ,[PayrollFinaliseDate]
			  ,[PayrollProcessDate]
			  ,[BankCreditDate]
			  ,[ixMonth]
			  ,[ixYear]
			  ,[LastUpdated]
			  ,[LastUpdatedBy]
			  ,[History]
			)  
		SELECT [PayrollMonth]
			  ,[PayrollStatus]
			  ,[AccountUpto]
			  ,[PayrollStartDate]
			  ,[PayRollEndDate]
			  ,[PayrollFinaliseDate]
			  ,[PayrollProcessDate]
			  ,[BankCreditDate]
			  ,[ixMonth]
			  ,[ixYear]
			  ,[LastUpdated]
			  ,[LastUpdatedBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_PayrollDates] T2 
		  WHERE NOT EXISTS (SELECT T1.PayrollMonth FROM [REF_PayrollDates] T1 WHERE T1.PayrollMonth = T2.PayrollMonth)
        
END
