USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllRotasByDuty]    Script Date: 25/06/2021 12:08:22 ******/
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllRotasByDuty]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_AllRotasByDuty]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_get_AllRotasByDuty]
	-- Add the parameters for the stored procedure here
	@dutyid int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    SELECT
		T2.RotaID,
		T2.RotaName,
		T2.WeeksInRota,
		T1.RotaWeek,
		case when T1.DOTW = 0 then ''Saturday''
			when  T1.DOTW = 1 then ''Sunday''
			when  T1.DOTW = 2 then ''Monday''
			when  T1.DOTW = 3 then ''Tuesday''
			when  T1.DOTW = 4 then ''Wednesday''
			when  T1.DOTW = 5 then ''Thursday''
			else ''Friday'' end as DOTW,
		T2.AreaID,
		T2.TeamID,
		ISNULL(T3.schedulingTeamName, ''Unknown'') AS TeamName
    FROM RotaDuties T1
		INNER JOIN MasterRotas T2 ON T1.RotaID = T2.RotaID AND T1.MasterDutyID = @dutyid
		LEFT OUTER JOIN schedulingTeams T3 ON T2.TeamID = T3.schedulingTeamId
        where T1.IsActive in (1,2) and T2.IsActive = 1 and T3.IsActive = 1
    ORDER BY T2.RotaName, T1.RotaWeek, T1.DOTW
END
'

EXEC dbo.sp_executesql @strSQL

GO