USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_MasterDutiesfilterlinks]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_del_MasterDutiesfilterlinks]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_del_MasterDutiesfilterlinks]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_MasterDutiesfilterlinks]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Michael Hoskin
-- Create date: 20/05/2016
-- Description:	SP to modify the MasterDuties table with new/modified data.
-- =============================================
CREATE PROCEDURE [dbo].[usp_del_MasterDutiesfilterlinks]
@filterid				INT



AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   DECLARE @status TINYINT 
   DECLARE @returnstring VARCHAR(1000) 
	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int
	DECLARE @UpdateDateTime datetime
	DECLARE @strUpdateDateTime varchar(35)
	DECLARE @TmpHistory varchar(4000)
	DECLARE @newLastModDate		VARCHAR(30) 

	SET @status = 1 
	SET @returnstring = 'ok'
	SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)
	SET @newLastModDate = CONVERT(VARCHAR(30), @UpdateDateTime, 121)

	

	--DELETE Record	
	DELETE MasterDutiesFilter
	 WHERE MasterDutyFilterID = @filterid 
	 
	 		--CHECK IF RECORD AVAILABLE
	SELECT FilterID FROM MasterDutiesFilterLinks	
			WHERE FilterID = @filterid	
	
	SET @RowNum = @@rowcount

	IF @RowNum > 0
			BEGIN
			   DELETE MasterDutiesFilterLinks
				WHERE FilterID = @filterid  
			END



	
	 


	SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				--ROLLBACK TRANSACTION
				SET @returnstring = 'There was a problem deleting the Duty'
				RETURN @err
			END
		IF @rows = 0 
			BEGIN
				--ROLLBACK TRANSACTION
				SET @returnstring = 'There was a problem deleting the Duty'
				SET @status = 0
				RETURN 0
			END

	--ALL GOOD
	-- COMMIT TRANSACTION AND RETURN LAST MOD DATE
	--COMMIT TRANSACTION

END


GO
