USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_ActivityType]    Script Date: 3/12/2026 10:26:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_ActivityType]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[ActivityCode];
		
		--Update existing records
		UPDATE T1
		SET T1.[ActivityCodeName] = T2.ActivityType
			  ,T1.[Description] = T2.[ActivityType_Description]
			  ,T1.[IsActive] = T2.[IsActive]
			  ,T1.[History] = T2.[History]
		FROM.[ActivityCode] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_ActivityType] T2 ON T1.ActivityCodeName = T2.ActivityType
		WHERE T1.ActivityCodeName = T2.ActivityType
		
		--Insert new records
	INSERT INTO [ActivityCode] (
			   [ActivityCodeName]
			  ,[Description]
			  ,[CreatedBy]
			  ,[CreatedDate]
			  ,[ModifiedBy]
			  ,[ModifiedDate]
			  ,[IsActive]
			  ,[History]
			)  
		SELECT [ActivityType]
			  ,[ActivityType_Description]
			  ,0
			  ,GETDATE()
			  ,0
			  ,GETDATE()
			  ,[IsActive]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_ActivityType] T2 
		  WHERE NOT EXISTS (SELECT T1.ActivityCodeName FROM [ActivityCode] T1 
		  WHERE T1.ActivityCodeName = T2.ActivityType)
        
END
