USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ContractHistory]    Script Date: 06/10/2025 17:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER      PROCEDURE [dbo].[usp_get_ContractHistory]
       -- Add the parameters for the stored procedure here
      @UserID INT = 0
AS
BEGIN
       -- SET NOCOUNT ON added to prevent extra result sets from
       -- interfering with SELECT statements.
       SET NOCOUNT ON;

		SELECT DISTINCT
				COALESCE(T2.Title,'') as Title,
				T2.StaffNumber,
				T2.NetLogin AS network_id,
				T2.Forename AS first_name,
				T2.Surname,
				T2.SecondName AS middle_name,
				T2.PreferredForename,
				CONCAT(T2.Forename,' ',T2.Surname) AS fullname,
				T1.jobtitle AS Designation,
				T1.Startdate,
				T1.Enddate,
				T1.EDPMinimumExcBreaks,
				ManualEDP,
				1 as ShiftBreak,
				T1.TermsCondsVersionID,
				T1.PaymentTypeID,
				T1.CostCode,
				ActivityType,
				BreaksGroupID,
				T1.TeampayDepartmentID,
				CONVERT(DECIMAL(10,3), UC_EFT) as EFT,
				T3.DepartmentName as TeamPayDepartment,
				CONVERT(DECIMAL(10,2),T1.AveDayLen)  as duty_duration,
				T1.AccGroupID as AccountingPeriod,
				T1.AccGroup as AccountingGroup,
				T1.PartTimeEDP as PaidContract,
				T5.ContractDescription as ContractType,
				T6.TermsCondsVersionName as TermsConditions,
				T1.PaymentTypeName as PaymentType,
				EmpGroupDescription as EmployeeGroup,
				ISNULL(T1.IsActive,1) AS ContractIsActiveVal,
				ISNULL(T1.IsActive,1) AS ConfigIsActiveVal,
				T1.AutoEDPTOIL,
				T1.ImportedHistory
			FROM UserDetails UD
			INNER JOIN UserConfigs UC ON UC.UC_UserID = UD.UD_UserID
			INNER JOIN StaffConfig_Processed T1 ON T1.StaffID = UD.UD_TeampayStaffID
			LEFT JOIN Staffdetails T2 ON T1.TeampayStaffNumber=T2.StaffNumber
			LEFT JOIN TeampayDepartments T3 (NOLOCK) ON T1.TeampayDepartmentID = T3.DepartmentID
			LEFT JOIN REF_ContractCode T5 (NOLOCK) ON T1.ContractCode = T5.ContractCode
			LEFT JOIN REF_TermsConditionsVersion T6 (NOLOCK) ON T1.TermsCondsVersionID = T6.TermsCondsVersionID
			LEFT JOIN REF_EmpGroup T8 (NOLOCK) ON T1.EmpGroupCode = T8.EmpGroupCode
			WHERE UD.UD_UserID = @UserID
			  AND UC_StartDate between T1.StartDate and T1.EndDate
			order by StartDate DESC

END