USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_getStaffExtractReportDetails]    Script Date: 03/04/2026 15:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		HCL
-- Create date: 27-09-2022
-- Description:	Used to get entire data of staff exyract report with filters
-- =============================================
CREATE OR ALTER        PROCEDURE [dbo].[usp_getStaffExtractReportDetails] 
	-- Add the parameters for the stored procedure here
	@teamId VARCHAR(MAX) = '',
	@effectINForm VARCHAR(15),
	@eft SMALLINT,
	@edp SMALLINT,
	@fsv VARCHAR(15),
	@reportType VARCHAR(15) = 'ALL',
	@estabCodes VARCHAR(15),
	@staffNumber VARCHAR(MAX),
	@grpBy1 SMALLINT = 0,
	@grpBy2 SMALLINT = 0,
	@sortingCol VARCHAR(63) = '1',
	@sortingType VARCHAR(7) = 'asc',
	@UserID INT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @queryMain VARCHAR(MAX) = 'DISTINCT SP.UD_DisplayName AS DisplayName, SPTL.SortCode, 
												ST.schedulingTeamName, SP.UD_StaffNumber as StaffNumber, 
												SCP.EFT, SCP.CostCode, SCP.ManualEDP, 
												RPT.PaymentTypeShortCode';
	DECLARE @queryStr VARCHAR(MAX) = '';
	DECLARE @queryGrpStr VARCHAR(MAX) = '';
	IF(@eft = 1)
	BEGIN
		SET @queryStr = @queryStr + ' AND SCP.EFT = 1';
	END
	IF(@eft = 0)
	BEGIN
		SET @queryStr = @queryStr + ' AND SCP.EFT != 1';
	END
	IF(@edp = 1)
	BEGIN
		SET @queryStr = @queryStr + ' AND SCP.ManualEDP = 1';
	END
	IF(@edp = 0)
	BEGIN
		SET @queryStr = @queryStr + ' AND SCP.ManualEDP = 0';
	END
	IF(isNull(@fsv, '') != '')
	BEGIN
		SET @queryStr = @queryStr + ' AND RPT.PaymentTypeShortCode = ' + '''' +convert(varchar,  @fsv) + '''';
	END
	IF(isNull(@staffNumber, '') != '')
	BEGIN
		SET @staffNumber = REPLACE(@staffNumber, '|', ''', ''')
		SET @staffNumber = char(39) + @staffNumber  + char(39)
		SET @queryStr = @queryStr + ' AND SP.UD_StaffNumber in(' + @staffNumber + ')';
	END
	IF(isNull(@estabCodes, '') != '')
	BEGIN
		IF(CHARINDEX('|',@estabCodes) > 0)
		BEGIN
			SET @estabCodes = '''' + REPLACE(@estabCodes, '|', ''',''') + ''''
			SET @queryStr = @queryStr + ' AND SCP.CostCode in(' + @estabCodes + ')';
		END
		ELSE
		BEGIN
			SET @queryStr = @queryStr + ' AND SCP.CostCode =' + '''' + @estabCodes + '''';
		END
	END
	IF(isNull(@effectINForm, '') != '')
	BEGIN
		SET DATEFORMAT dmy; 
		SET @queryStr = @queryStr + ' AND CONVERT(date, ' + '''' + @effectINForm + '''' + ') between SPTL.StartDate AND SPTL.EndDate';
	END
	IF((isNull(@teamId, '') != '') AND (@teamId != '-1'))
	BEGIN
		IF(CHARINDEX('|',@teamId) > 0)
		BEGIN
			SET @teamId = REPLACE(@teamId, '|', ',')
			SET @queryStr = @queryStr + ' AND ST.schedulingTeamId in(' + @teamId + ')';
		END
		ELSE
		BEGIN
			SET @queryStr = @queryStr + ' AND ST.schedulingTeamId =' + '''' + @teamId + '''';
		END
	END
	IF(@sortingType = '')
	BEGIN
		SET @sortingType = 'ASC';
	END
	IF(@reportType = 'GRP')
	BEGIN
		SET @sortingCol = '1 '
		SET @sortingType = ' '
		IF(@grpBy1 = 1)
		BEGIN
			SET @queryGrpStr =  'Group By  ST.schedulingTeamName'
			SET @queryMain = ' ST.schedulingTeamName'
		END
		IF(@grpBy1 = 2)
		BEGIN
			SET @queryGrpStr = 'Group By SPTL.SortCode'
			SET @queryMain = ' SPTL.SortCode'
		END
		IF(@grpBy1 = 3)
		BEGIN
			SET @queryGrpStr = 'Group By SCP.CostCode'
			SET @queryMain = ' SCP.CostCode'
		END
		IF(@grpBy1 > 0 AND @grpBy2 = 1)
		BEGIN
			SET @queryGrpStr = @queryGrpStr + ', ST.schedulingTeamName'
			SET @queryMain = @queryMain + ', ST.schedulingTeamName'
		END
		IF(@grpBy1 > 0 AND @grpBy2 = 2)
		BEGIN
			SET @queryGrpStr = @queryGrpStr + ', SPTL.SortCode'
			SET @queryMain = @queryMain + ', SPTL.SortCode'
		END
		IF(@grpBy1 > 0 AND @grpBy2 = 3)
		BEGIN
			SET @queryGrpStr = @queryGrpStr + ', SCP.CostCode'
			SET @queryMain = @queryMain + ', SCP.CostCode'
		END
	END
	SET @queryMain = 'SELECT ' + @queryMain + '
	FROM UserDetails SP (NOLOCK)
	JOIN ScheduledPersonTeam_LINK SPTL (NOLOCK) ON SPTL.ScheduledPersonID = SP.UD_UserID AND SPTL.IsHomeTeam = 1
	JOIN schedulingTeams ST (NOLOCK) ON ST.schedulingTeamId= SPTL.TeamID
	LEFT JOIN UserConfigs UC ON UC.UC_UserID = SP.UD_UserID
							AND SPTL.StartDate < UC.UC_endDate   
							AND isnull(SPTL.EndDate,UC.UC_StartDate) >= UC.UC_StartDate
	LEFT JOIN Staffconfig_Processed SCP (NOLOCK) ON SCP.SCP_ID = UC.UC_SCP_ID
	LEFT JOIN REF_PaymentType RPT (NOLOCK) ON RPT.PaymentTypeID = SCP.PaymentTypeID
	WHERE 1=1 
	AND EXISTS (
			SELECT 1
			FROM UserRoles UR
			INNER JOIN REF_Roles RR
			ON RR.RoleID = UR.UR_RoleID
			WHERE UR.UR_SchedulingTeamID = ST.SchedulingTeamId
			AND UR.UR_UserID = ' + cast(@userID as varchar) + '
			AND RR.RoleName IN (''Advanced Reports'', ''Scheduling Team Admin'')
		UNION
			SELECT 1
			FROM UserRoles UR
			INNER JOIN REF_Roles RR
			ON RR.RoleID = UR.UR_RoleID
			INNER join schedulingTeams stf2 on stf2.divisionId = UR.UR_DivisionId
			WHERE UR.UR_StartDate <= GETDATE() AND UR.UR_EndDate >= GETDATE()
			AND RR.RoleName = ''Area Admin''
			AND stf2.schedulingTeamId = ST.schedulingTeamId
			AND UR.UR_UserID = ' + cast(@userID as varchar) + '
		UNION
			SELECT 1
			FROM UserRoles UR
			INNER JOIN REF_Roles RR
			ON RR.RoleID = UR.UR_RoleID
			WHERE UR.UR_StartDate <= GETDATE() AND UR.UR_EndDate >= GETDATE()
			AND RR.RoleName = ''System Admin''
			AND UR.UR_UserID = ' + cast(@userID as varchar) + '
		)
       AND CONVERT(date,'''+@effectINForm+''') between UC.UC_StartDate AND UC.UC_EndDate ' 
	   + @queryStr + ' '+ @queryGrpStr + ' ORDER BY ' + @sortingCol + ' ' + @sortingType
	
	exec (@queryMain)


END