USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ScheduledPeopleStaffDetails]    Script Date: 23/03/2026 18:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_GET_ScheduledPeopleStaffDetails]
@staffnumber Varchar(20),
@forename  Varchar(100),
@surname Varchar(100),
@netlogin Varchar(60),
@returnstring		VARCHAR(1000) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @sql varchar(max)
	DECLARE @conditionstring Varchar(max)
	DECLARE @isactive varchar(1)

	SET @conditionstring = ''
	SET @returnstring = ''
	SET @isactive = '1'

	IF @staffnumber = '' 
	SET @staffnumber = null

	IF @forename = '' 
	SET @forename = null

	IF @surname = '' 
	SET @surname = null

	IF @netlogin = '' 
	SET @netlogin = null


	IF @staffnumber IS NOT NULL
		SET @conditionstring = @conditionstring + '(StaffNumber LIKE '+CHAR(39)+'%'+ @staffnumber + '%'+CHAR(39)  + ')';
	
	IF @conditionstring != '' and  @forename IS NOT NULL
		SET @conditionstring = @conditionstring + ' AND ';

	IF @forename IS NOT NULL
		SET @conditionstring = @conditionstring + '(Forename LIKE '+CHAR(39)+'%' + @forename + '%'+CHAR(39)+' or PreferredForename LIKE '+CHAR(39)+'%' + @forename + '%'+CHAR(39) +' )'

	IF @conditionstring != '' and  @surname IS NOT NULL
		SET @conditionstring = @conditionstring + ' AND ';

	IF @surname IS NOT NULL
		SET @conditionstring = @conditionstring + '(Surname LIKE '+CHAR(39)+'%' + @surname + '%'+CHAR(39) + ')';
		
	IF @conditionstring != ''  and @netlogin IS NOT NULL
		SET @conditionstring = @conditionstring + ' AND ';

	IF @netlogin IS NOT NULL
		SET @conditionstring = @conditionstring + '( NetLogin LIKE '+CHAR(39)+'%' + @netlogin + '%'+CHAR(39)  + ')';


	IF @conditionstring != ''
		BEGIN

						SELECT DISTINCT sd.StaffNumber,
							   sd.NetLogin,
							   case when sd.PreferredForename is null then sd.Forename
									when sd.PreferredForename = '' then sd.Forename
							   else sd.PreferredForename
							   end as Forename,
							   PreferredForename,
							   sd.Surname,
							   scp.EmpGroupCode,
							   sp.UD_TeampayStaffID StaffDetailsID,
							   sd.StaffID,
							   UD_UserID ScheduledPersonID,
							   CASE WHEN ISNULL(scp.SCP_ID,0) = 0 THEN 0
							   ELSE 1 END AS IsConfig,
							   CASE when scp.EmpGroupCode in (1,4) then 'Staff'
									when scp.EmpGroupCode in (2,3,5,9) then 'Freelencer'
									else 'none' end as userType,
							   CASE WHEN UD_UserID IS NULL then 0 ELSE 1 END AS IsLinked
							   INTO #TempStaff
						from StaffDetails sd  (nolock)
						LEFT JOIN Staffconfig_Processed scp (nolock) on scp.StaffID = sd.StaffID 
						LEFT JOIN UserDetails sp (nolock) on sp.UD_TeampayStaffID = sd.StaffID
						WHERE 1 = 2

			SET @sql = 'INSERT INTO #TempStaff SELECT DISTINCT sd.StaffNumber,
							   sd.NetLogin,
							   case when sd.PreferredForename is null then sd.Forename
									when sd.PreferredForename = '''' then sd.Forename
							   else sd.PreferredForename
							   end as Forename,
							   PreferredForename,
							   sd.Surname,
							   scp.EmpGroupCode,
							   sp.UD_TeampayStaffID StaffDetailsID,
							   sd.StaffID,
							   UD_UserID ScheduledPersonID,
							   CASE WHEN ISNULL(scp.SCP_ID,0) = 0 THEN 0
							   ELSE 1 END AS IsConfig,
							   CASE when scp.EmpGroupCode in (1,4) then '+CHAR(39)+'Staff'+CHAR(39)+'
									when scp.EmpGroupCode in (2,3,5,9) then '+CHAR(39)+'Freelencer'+CHAR(39)+'
									else '+CHAR(39)+'none'+CHAR(39)+' end as userType,
							   CASE WHEN UD_UserID IS NULL then 0 
									WHEN SCP.StaffID IS NULL AND SL.ScheduledPersonID IS NULL THEN 0 
									ELSE 1 END AS IsLinked							   
						from StaffDetails sd  (nolock)
						LEFT JOIN Staffconfig_Processed scp (nolock) on scp.StaffID = sd.StaffID 
								and isnull(scp.EndDate,'+CHAR(39)+'9999-01-01'+CHAR(39)+') >= getdate()
						LEFT JOIN UserDetails sp (nolock) on sp.UD_TeampayStaffID = sd.StaffID 
						OUTER APPLY ( SELECT TOP 1 ScheduledPersonID
									 FROM ScheduledPersonTeam_LINK SL1
									where SL1.scheduledType = 1
									  AND SL1.IsHomeTeam = 1
									  AND GETDATE() BETWEEN SL1.StartDate AND SL1.EndDate
									  AND SL1.ScheduledPersonID = sp.UD_UserID
									 ) SL
						WHERE '+ @conditionstring
						+' AND NetLogin != '' '''

			 exec (@sql)

			 SET @sql =  ' INSERT INTO #TempStaff
						 SELECT * FROM 
						 (SELECT DISTINCT UD_StaffNumber StaffNumber,
							   UD_NetLogin NetLogin,
							   case when UD_PreferredFirstName is null then UD_DisplayFirstName
									when UD_PreferredFirstName = '''' then UD_DisplayFirstName
							   else UD_PreferredFirstName
							   end as Forename,
							   UD_PreferredFirstName as PreferredForename,
							   UD_DisplayLastName Surname,
							   NULL AS EmpGroupCode,
							   UD_TeampayStaffID StaffDetailsID,
							   ISNULL(UD_TeampayStaffID,0) StaffID,
							   UD_UserID ScheduledPersonID,
							   CASE WHEN ISNULL(scp.UC_SCP_ID,0) = 0 THEN 0
							   ELSE 1 END AS IsConfig,
							   ''none'' as userType,
							   CASE WHEN ISNULL(SL.ScheduledPersonID,0) > 0 THEN 1
									ELSE 0 END IsLinked
						from UserDetails sd WITH (NOLOCK)
						OUTER APPLY (  SELECT TOP 1 SL1.ScheduledPersonID
										FROM ScheduledPersonTeam_LINK SL1
										WHERE SL1.scheduledType = 1
										  AND SL1.IsHomeTeam = 1
										  AND GETDATE() BETWEEN SL1.StartDate AND SL1.EndDate
										  AND SL1.ScheduledPersonID = sd.UD_UserID
									 ) SL 
						LEFT JOIN UserConfigs scp (nolock) on scp.UC_UserID = sd.UD_UserID 
								and isnull(scp.UC_EndDate,'+CHAR(39)+'9999-01-01'+CHAR(39)+') >= getdate()	
						) SD
						WHERE '+ @conditionstring
						+' AND NetLogin != '' ''
						   AND NOT EXISTS ( SELECT 1 FROM #TempStaff TS WHERE SD.NetLogin = TS.NetLogin)	' 
								
			exec (@sql)

			SELECT * FROM #TempStaff Order By StaffNumber DESC;

		END
	ELSE
	   BEGIN
	      SET @returnstring ='Please Apply filter to display records.'
		  RETURN 0
		END
	
	
END