USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_SET_DutyShiftCountingFilter]    Script Date: 01/08/2022 13:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_SET_DutyShiftCountingFilter]
@filterName VARCHAR(255),
@userId INT,
@teamId INT,
@isPublic INT,
@isActive INT,
@detailsShow INT,
@totalCountShow INT,
@colA INT,
@colB INT,
@colC INT,
@colD INT,
@colE INT,
@colF INT,
@colG INT,
@colH INT,
@colI INT,
@colJ INT,
@colK INT,
@colL INT,
@colM INT,
@colN INT,
@colO INT,
@colP INT,
@colQ INT,
@colR INT,
@colS INT,
@colT INT,
@colU INT,
@colV INT,
@colW INT,
@colX INT,
@colY INT,
@colZ INT,
@type VARCHAR(10),
@returnFilterId INT = 0

AS
BEGIN
	SET NOCOUNT ON;
	
	IF(@type = 'New')
		BEGIN
			INSERT INTO DutyShiftcountingFilters (UserID, SchedulingTeamId, FilterName, isPublic, isActive, ShowGrandTotal, ShowDetails, 
			ColA, ColB, ColC, ColD, ColE, ColF, ColG, ColH, ColI, ColJ, ColK, ColL, ColM, 
			ColN, ColO, ColP, ColQ, ColR, ColS, ColT, ColU, ColV, ColW, ColX, ColY, ColZ, 
			CreatedDateTime, UpdatedDateTime) VALUES (@userId, @teamId, @filterName, @isPublic, @isActive, @totalCountShow, @detailsShow,
			@colA, @colB, @colC, @colD, @colE, @colF, @colG, @colH, @colI, @colJ, @colK, @colL, @colM, 
			@colN, @colO, @colP, @colQ, @colR, @colS, @colT, @colU, @colV, @colW, @colX, @colY, @colZ, 
			CAST(GETDATE() AS DATETIME), CAST(GETDATE() AS DATETIME))

			SET @returnFilterId = @@IDENTITY
		END
	IF(@type = 'Old')
		BEGIN
			UPDATE DutyShiftcountingFilters SET ShowGrandTotal=@totalCountShow, ShowDetails=@detailsShow, 
			ColA=@colA, ColB=@colB, ColC=@colC, ColD=@colD, ColE=@colE, ColF=@colF, ColG=@colG, ColH=@colH, ColI=@colI, 
			ColJ=@colJ, ColK=@colK, ColL=@colL, ColM=@colM, ColN=@colN, ColO=@colO, ColP=@colP, ColQ=@colQ, ColR=@colR, 
			ColS=@colS, ColT=@colT, ColU=@colU, ColV=@colV, ColW=@colW, ColX=@colX, ColY=@colY, ColZ=@colZ, 
			UpdatedDateTime=CAST(GETDATE() AS DATETIME) WHERE UserID=@userId AND SchedulingTeamId=@teamId 
			AND FilterName=@filterName

			SELECT @returnFilterId = ID FROM DutyShiftcountingFilters WHERE UserID=@userId AND SchedulingTeamId=@teamId AND FilterName=@filterName
		END

	return @returnFilterId
END
