USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteLeaveApplications]    Script Date: 21/12/2025 20:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_DeleteLeaveApplications]
@leaveapplicationid int,
@History VARCHAR(Max),
@currentuser  INT,
@username  VARCHAR(50)
	
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @status bit, 
	        @Returncode varchar(10), 
			@err int, 
	        @rows int,
			@approved int,
			@Allocationid INT,
			@AllocationHistory VARCHAR(Max) ='',
			@dutyDate DATE,
			@DutyHistoryTypeID INT,
			@LeaveHistoryTypeID INT,
			@NetLogin   VARCHAR(30),
			@return_value INT,
			@LeaveStartTime INT,
			@LeaveEndTime INT,
			@SchedulingPersonID INT,
			@UserEmailSent INT,
			@intUserEmailSent INT,
			@intShortNotice INT,
			@AllocationsSPID INT,
			@AllocationsDutyID INT,
			@SchedulingTeamId INT,
			@ReturnValue INT,
			@Duration	 INT;

	DECLARE @EditAllocationStatus TABLE (SPStatus INT,ErrorMsg VARCHAR(1000));

	SET @Returncode = 'Success';
	SET @status = 1;

	select @DutyHistoryTypeID = ID 
	  from HistoryTypes 
	 where HistoryType ='AllocationScheduledPerson';

	select @LeaveHistoryTypeID = ID 
	  from HistoryTypes 
	 where HistoryType ='LeaveApplication';

   SELECT @NetLogin = UD_NetLogin
     from Userdetails (nolock)
	where UD_UserID = @currentuser;
 
 BEGIN TRY
   BEGIN TRANSACTION

   select @approved=Approved,
          @dutyDate=dDate,
		  @LeaveStartTime = LeaveStartTime,
		  @LeaveEndTime = LeaveEndTime,
		  @SchedulingPersonID = SchedulingPersonID,
		  @UserEmailSent= UserEmailSent,
		  @intShortNotice =ShortNotice
     from LeaveApplications (NOLOCK) 
	where ID= @leaveapplicationid;

	IF(@UserEmailSent=1 )
	 begin
		set	@intUserEmailSent = 2
	 end
    ELSE 
	  BEGIN
		IF(@UserEmailSent=0) 
		 set @intUserEmailSent = 1;
		ELSE 
		 set @intUserEmailSent = 0; 
	  END
   
   IF(@intShortNotice =1)
	 begin
		set	@intUserEmailSent = 1
	 end

   UPDATE LeaveApplications 
      SET Approved = 0,
	      Deleted = 1,
		  Sent = 0,
		  LeaveID=0,
		  Totalhrs=NULL,
		  UserEmailSent = @intUserEmailSent, 
		  LastModDate=getutcdate(),
		  LastModBy=@currentuser 
   WHERE (ID = @leaveapplicationid);

   DELETE ref_LeaveApplications_Amounts
    WHERE ApplicationID = @leaveapplicationid;
	
    SELECT @Allocationid = al.AL_AllocationsID,
			@AllocationsSPID = ASP_AllocationsSPID,
			@SchedulingTeamId = al.AL_SchedulingTeamID,
			@AllocationsDutyID = ASP_AllocationsDutyID,
			@SchedulingPersonID = ASP_SchedulingPersonID,
			@dutyDate = ASP_DutyDate,
			@Duration = ASP_LeaveDuration
		FROM Allocations al (NOLOCK)
		INNER JOIN TimeDimension TD ON TD.ixYearWeek = al.AL_WeekNumber 
		INNER JOIN AllocationsScheduledPersons ASP ON AL.AL_AllocationsID=ASP.ASP_AllocationsID 
												AND td.ixDayInWeek = ASP.ASP_iDay
		WHERE ASP.ASP_SchedulingPersonID = @SchedulingPersonID
		AND TD.dDateTime = @dutyDate

   IF ( @approved =1 )
 	 BEGIN

	   IF (ISNULL(@AllocationsSPID,0) > 0 )
	    BEGIN
		 
		   IF (ISNULL(@LeaveStartTime,0) > 0 OR ISNULL(@LeaveEndTime,0) > 0 )
		    BEGIN

			 update AllocationsScheduledPersons 
				SET ASP_LeaveStatus = NULL,
					ASP_LeaveType = NULL,
					ASP_LeaveDuration = NULL,
					ASP_LeaveStartTimeLocal = NULL,
				    ASP_LeaveEndTimeLocal = NULL,
				    ASP_LeaveStartTimeSec = NULL,
				    ASP_LeaveEndTimeSec = NULL,
					ASP_UpdatedDate=getutcdate(),
					ASP_UpdatedBy=@currentuser 
			  where ASP_AllocationsSPID = @AllocationsSPID

			 DELETE AllocationsJobs
			  where AJ_AllocationsDutyID = @AllocationsDutyID
			    AND AJ_JobName = 'Leave';

			END
		   ELSE
		    BEGIN

			  SELECT @AllocationsDutyID = AD_AllocationsDutyID
			    FROM Allocations AL
			   INNER JOIN AllocationsDuties AD ON AL_AllocationsID = AD_AllocationsID
			   WHERE AL_AllocationsID = @Allocationid
			     AND AD_DutyDate = @dutyDate
				 AND AD_DutyType = 7


			 update AllocationsScheduledPersons 
				SET ASP_AllocationsDutyID = @AllocationsDutyID,
					ASP_LeaveStatus = NULL,
					ASP_LeaveType = NULL,
					ASP_LeaveDuration = NULL,
					ASP_LeaveStartTimeLocal = NULL,
				    ASP_LeaveEndTimeLocal = NULL,
				    ASP_LeaveStartTimeSec = NULL,
				    ASP_LeaveEndTimeSec = NULL,
					ASP_UpdatedDate=getutcdate(),
					ASP_UpdatedBy=@currentuser 
			  where ASP_AllocationsSPID = @AllocationsSPID

			END

          SET @AllocationHistory = 'Leave deleted by '+ @username
		                          + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm') + '.' 
								  + CASE WHEN NOT (ISNULL(@LeaveStartTime,0) > 0 OR ISNULL(@LeaveEndTime,0) > 0 )
								    THEN ' Duty: U.' ELSE '' END;

          EXEC [usp_mod_AllocationHistory] @AllocationsSPID,@DutyHistoryTypeID,@currentuser,@AllocationHistory,1,'PH';

		  EXEC	@return_value = usp_UpdateWTD @AllocationsSPID, @NetLogin

	   END

	 END 
    ELSE
	 BEGIN
	   IF ( ISNULL(@AllocationsSPID,0) > 0 )
	     BEGIN

			 update AllocationsScheduledPersons 
				SET ASP_LeaveStatus = NULL,
					ASP_LeaveType = NULL,
					ASP_LeaveDuration = NULL,
					ASP_LeaveStartTimeLocal = NULL,
				    ASP_LeaveEndTimeLocal = NULL,
				    ASP_LeaveStartTimeSec = NULL,
				    ASP_LeaveEndTimeSec = NULL,
					ASP_UpdatedDate=getutcdate(),
					ASP_UpdatedBy=@currentuser 
			  where ASP_AllocationsSPID = @AllocationsSPID
	 
	     END
	 END


			INSERT INTO @EditAllocationStatus
			EXEC usp_Update_DutyAccPeriodSummary @DutyDate, @SchedulingPersonID,
								@Duration,0,0,0,@NetLogin

	 IF ( ISNULL(@AllocationsSPID,0) > 0 )
		BEGIN

	 		EXEC @ReturnValue = usp_CreateAllocationsUpdate @Allocationid,
											@AllocationsDutyID,
											@AllocationsSPID,
											0,
											@NetLogin
		END
        
		EXEC [usp_mod_AllocationHistory] @leaveapplicationid,@LeaveHistoryTypeID,@currentuser,@History,1;

			IF ( ISNULL(@ReturnValue,0) <> 0 )
			 BEGIN
				THROW 51000, 'Error while creating Duty update status', 1;
			 END;

	    IF ( @@TRANCOUNT  > 0 ) 
         BEGIN
           COMMIT  TRANSACTION 
         END   
	   
		  SELECT 0 as SPExecStatus,
			     'Success' as SPMessage 
			
	END TRY
				
	BEGIN CATCH

	  IF ( @@TRANCOUNT  > 0 ) 
	   BEGIN
		ROLLBACK TRANSACTION
	   END

		INSERT INTO ErrorLog
			(ErrorNumber,
				ErrorState,
				ErrorSeverity,
				ErrorProcedure,
				ErrorLine,
				ErrorMessage,
				ErrorDateTime,
				UserName
			)
		SELECT ERROR_NUMBER() AS ErrorNumber,
			ERROR_STATE() AS ErrorState,
			ERROR_SEVERITY() AS ErrorSeverity,
			ERROR_PROCEDURE() AS ErrorProcedure,
			ERROR_LINE() AS ErrorLine,
			ERROR_MESSAGE() AS ErrorMessage,
			getutcdate(),
			@currentuser	

	 	 SELECT ISNULL(@@IDENTITY,ERROR_NUMBER()) as SPExecStatus,
			    ERROR_MESSAGE() as SPMessage  

	END CATCH;		

END