USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_AllocationHistory]    Script Date: 06/11/2023 14:02:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[usp_mod_AllocationHistory]
@attributeid INT,
@historytype INT,
@userid INT,
@message VARCHAR(1000),
@status	INT OUTPUT,
@HistorySubType VARCHAR(2) = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
	INSERT INTO History (HistoryType,UserID,History,datetime,AttributeID, HistorySubType) VALUES 
	(@historytype,@userid,@message,CAST(GETDATE() AS DATETIME),@attributeid,@HistorySubType);
	SET @status = 1;
	return @status;
	END TRY
	BEGIN CATCH
	INSERT INTO ErrorLog
				VALUES
			  (
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   'usp_mod_AllocationHistory',
			   ERROR_MESSAGE(),
			   GETDATE(),
			   @userid
			  )
	SET @status = 0;
	return @status;
	END CATCH
END

