USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_AssignedMasterDutiesFilterLinks]    Script Date: 14/07/2022 20:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_GET_AssignedMasterDutiesFilterLinks] 
	-- Add the parameters for the stored procedure here
	@filterid INT ,
	@dutytypeid INT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @filterid = 0
		SET @filterid = NULL

    
	SELECT DISTINCT T1.MasterDutyID , T1.DutyName,T2.IsMiscDuty
     FROM MasterDuties T1 (NOLOCK) 
	 INNER JOIN MasterDutiesFilterLinks T2 (NOLOCK) ON T1.MasterDutyID = T2.MasterDutyID 
   WHERE T2.FilterID = @filterid
    AND T2.IsMiscDuty = 0  AND T1.DutyTypeID = @dutytypeid
    UNION ALL 
     SELECT DISTINCT T1.MasterDutyID  As MasterDutyID,T1.DutyName,T2.IsMiscDuty 
     FROM MasterDuties T1 (NOLOCK)
	 INNER JOIN MasterDutiesFilterLinks T2 (NOLOCK) ON T1.MasterDutyID = T2.MasterDutyID 
    WHERE T2.FilterID = @filterid
      AND T2.IsMiscDuty = 1 AND T1.DutyTypeID != @dutytypeid
  ORDER BY T1.DutyName ASC; 
	
END

