USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_validateSchPersonHomeTeamHaveRota]    Script Date: 16/03/2026 13:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_get_validateSchPersonHomeTeamHaveRota]
	-- Add the parameters for the stored procedure here
	@ScheduledPersonId int,
	@HomeTeamId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @HomeTeamStartDate datetime, 
	        @RotaName varchar(200), 
	        @RotaId int, @HomeTeamStartDateAfterDel datetime, 
			@HomeTeamIdAfterDel int;

	set @RotaName = '';

    -- Insert statements for procedure here

	select @HomeTeamStartDate = StartDate 
	  from ScheduledPersonTeam_LINK (NOLOCK)
	 where ScheduledPersonID = @ScheduledPersonId 
	   and TeamID = @HomeTeamId 
	   and IsHomeTeam = 1 
	   and IsActive = 1			
	   and EndDate > convert(datetime,convert(varchar(10),getdate(),110),110);
	
	select @RotaName = RotaName, 
	       @RotaID = RotaID 
	  from MasterRotas 
	 where RotaId in (
			           select RotaID 
					     from RotaPeople 
						where ScheduledPersonID = @ScheduledPersonId
						  and EndDate > convert(datetime,convert(varchar(10),@HomeTeamStartDate,110)) and IsActive = 1
		              ) 
	   and IsActive = 1;
	
	select @HomeTeamStartDateAfterDel = StartDate, 
	       @HomeTeamIdAfterDel = TeamID 
	  from ScheduledPersonTeam_LINK
	 where ScheduledPersonID = @ScheduledPersonId and IsHomeTeam = 1
	   and EndDate in ( select max(EndDate) 
	                      from ScheduledPersonTeam_LINK (NOLOCK)
						 where ScheduledPersonID = @ScheduledPersonId 
						   and IsHomeTeam = 1 
						   and IsActive = 0
					   );

	if (@RotaName != '')
	  BEGIN
		select 0 IntStatus, 
		       'This person is assigned to Rota Pattern: '
			   +@RotaName+'.<br> To delete their Home Team, press Yes.<br> To cancel the action, press No.' StrStatus
	  END
	ELSE if EXISTS( select 1 
	                  from ScheduledPersonTeam_LINK (NOLOCK)
		             where ScheduledPersonID = @ScheduledPersonId 
					   and TeamID = @HomeTeamIdAfterDel 
					   and EndDate > @HomeTeamStartDateAfterDel 
					   and IsHomeTeam IN (0, 2)
					   and scheduledType = 1)
	BEGIN
		select 0 IntStatus, 
			  'The previous team after deleting this record is added as an active Additional Team. 
			   This action will result in the removal of that Additional team. 
			   If you still want to delete this Home team press Yes. To cancel this action press No.' StrStatus
	END
	ELSE if EXISTS(select 1 
	                 from ScheduledPersonTeam_LINK (NOLOCK)
		            where ScheduledPersonID = @ScheduledPersonId 
		              and TeamID = @HomeTeamIdAfterDel 
					  and EndDate > @HomeTeamStartDateAfterDel 
					  and IsHomeTeam IN (0, 2) 
					  and scheduledType = 0)
	BEGIN
		select 0 IntStatus, 
		       'This person is currently non-scheduled in the penultimate home team. 
			    If you delete this record, their non-scheduled permissions for that team will be removed, and they will become a scheduled person instead. 
				If you still want to delete this home team press Yes. To cancel the action press No.' StrStatus
	END
	ELSE
	BEGIN
		select 1 IntStatus, 'Successfully Validated.' StrStatus;
	END
END