USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSkillDuties]    Script Date: 15/07/2021 13:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Add Skill duties.
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdateSkillDuties]
@duty varchar(255),
@description varchar(255),
@intDuration DECIMAL(10,2),
@id INT
AS
BEGIN
	SET NOCOUNT ON;
    UPDATE skills_duties
              SET duty = @duty,
              description = @description,
              DurationWith = @intDuration
              WHERE  (ID = @id)
END
GO
