USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_EditDuty]    Script Date: 21/03/2026 20:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER                 PROCEDURE  [dbo].[usp_EditDuty]
@AllocationsID			INT,
@DutyName				NVARCHAR(100),
@StartTime				INT,
@EndTime				INT,
@BreakTime				INT,
@Duration				INT,
@DutyColour				INT,
@DutyLable				INT,
@DutyLable2				INT,
@DutyLable3				INT,
@DutyLable4				INT,
@DutyLable5				INT,
@DutyLable6				INT,
@pNetLogin				VARCHAR(30),
@IsShiftleader			INT = 0,
@IsNeedCovering			INT,
@IsOverrideOver12		INT,
@AllocationsDutyID		INT,
@AllocationsSPID		INT,
@DutyDate				DATE,
@pSchedulingPersonID	INT,
@pDutyComments			VARCHAR(MAX),
@SchedulingTeamID		INT = 0

AS
BEGIN

    SET NOCOUNT ON

    SET DATEFORMAT YMD

	DECLARE   @vname              VARCHAR(100),
			  @vSQL               VARCHAR(MAX),
			  @vHistory           NVARCHAR(MAX),
			  @vDutyName          NVARCHAR(100),
			  @vStartTime         INT,
			  @vEndTime           INT,
			  @vBreakTime         INT,
			  @vDuration          INT,
			  @vDutyColour        INT,
			  @vDutyLable         INT,
	          @vDutyLable2        INT,
	          @vDutyLable3        INT,
	          @vDutyLable4        INT,
	          @vDutyLable5        INT,
	          @vDutyLable6        INT,
			  @vIsNeedCovering    INT,
			  @vIsOverrideOver12  INT,
			  @vAllocationsID		INT,
			  @IsOverrideOver12UpdateFlag BIT = 0,
			  @updateflag         INT = 0 ,
			  @vStartDate         DATETIME,
			  @vEndDate           DATETIME,
			  @vDutyDate          DATE,
			  @voldcolourname     NVARCHAR(50),
			  @vnewcolourname     NVARCHAR(50)	,
			  @voldlabel          NVARCHAR(50),
			  @vnewlabel          NVARCHAR(50),
			  @vTimeChangeFlag    INT = 0 ,
			  @vDurationFlag      INT = 0 	,
			  @return_value       INT = 0 ,
			  @vuserID            INT,
			  @vIsHomeTeam        INT,
			  @WeekNumber         INT = 0,
			  @iDay               INT,
			  @teamId             INT = 0	,
			  @PlannedDuration    INT = 0,
			  @MarkOverTwelve     INT,
			  @UpdateTimeFlag     INT = 0,
			  @nextdutydate       date,
			  @prevdutydate       date,
			  @alcurrentDutyDate  date,
			  @nextDutyStartTime  INT,
			  @prevDutyEndTime    INT,
			  @aftermidnight      INT,
			  @prevOverlapMsg     VARCHAR(500),
			  @nextOverlapMsg     VARCHAR(500),
			  @OvreLapMsg	      VARCHAR(1000),
	          @ActualDuration     INT,
			  @vDutyStartDateLocal DATETIME,
			  @vDutyEndDateLocal   DATETIME,
			  @IsDutyOverLap	   BIT,
			  @DutyTypeID		   INT,
			  @IsJobTimeExeed	   BIT,
			  @PublishStatus		INT,
			  @DutyComments			VARCHAR(MAX),
			  @DutyStatus			INT,
			  @OverTwelveStatus	    INT,
			  @OverTimeHrs			INT,
			  @IsMarkWIAD			BIT = 0,
			  @ReturnValue			INT,
			  @NewEndTime			INT;

	  DECLARE @EditAllocationStatus TABLE (SPStatus INT,ErrorMsg VARCHAR(1000));
 	  DECLARE @vErrorMsg		  VARCHAR(1000),
			  @vSPStatus		  INT;


	BEGIN TRY
	 BEGIN TRANSACTION

	      SET @PublishStatus = CASE WHEN @IsShiftleader IS NULL
									THEN 0
									WHEN @IsShiftleader NOT IN (0,1)
									THEN 0
									ELSE @IsShiftleader
								END

	   SELECT @vname =  UD_DisplayName,
			  @vuserID = UD_UserID
	     from UserDetails
		WHERE UD_NetLogin = @pNetLogin

	  SELECT @teamId = AL_SchedulingTeamID
	    FROM Allocations
	   WHERE AL_AllocationsID = @AllocationsID

	  SELECT @vAllocationsID = AD_AllocationsID,
	         @vDutyName   = AD_DutyName,
			 @vStartTime  = AD_StartTimeSec,
	         @vEndTime    = AD_EndTimeSec,
			 @vDuration   = AD_Duration,
			 @vBreakTime  = AD_DutyBreakTime,
			 @vDutyColour = AD_DutyColourID,
			 @vDutyLable  = AD_DutyProgramID1,
			 @vDutyLable2 = AD_DutyProgramID2,
			 @vDutyLable3 = AD_DutyProgramID3,
			 @vDutyLable4 = AD_DutyProgramID4,
			 @vDutyLable5 = AD_DutyProgramID5,
			 @vDutyLable6 = AD_DutyProgramID6,
			 @vDutyDate   = AD_DutyDate,
			 @vDutyStartDateLocal = AD_DutyStartTimeLocal,
			 @vDutyEndDateLocal = AD_DutyEndTimeLocal,
			 @vIsHomeTeam = 1,
			 @vIsNeedCovering = AD_IsNeedCovering,
			 @vIsOverrideOver12 = AD_IsOverrideOver12,
			 @iDay        = AD_iDay,
			 @PlannedDuration = AD_PlannedDuration,
			 @DutyTypeID	  = AD_DutyType,
			 @DutyComments     = AD_Comments,
			 @DutyStatus	   = AD_DutyStatus
	    FROM AllocationsDuties
	   WHERE AD_AllocationsDutyID = @AllocationsDutyID

	   	IF EXISTS (SELECT 1 
					 FROM Allocations AL 
					 INNER JOIN AllocationsDuties AD ON AL.AL_AllocationsID = AD.AD_AllocationsID
					WHERE AL.AL_SchedulingTeamID = @SchedulingTeamID
					  AND AD_DutyName = @DutyName 
					  AND AD_DutyDate= @DutyDate
					  AND AD_DutyStatus <> 9
					) AND ISNULL(@SchedulingTeamID,0) > 0 AND ISNULL(@pSchedulingPersonID,0) = 0
			BEGIN
				THROW 51000, 'Warning! this duty already exist.', 1;
			END;

		 SET @vStartdate = CASE  WHEN @StartTime IS NULL THEN NULL
								 WHEN @StartTime = 0 AND @EndTime = 0 THEN NULL
								 WHEN @StartTime = 0 AND @EndTime > 0 THEN @DutyDate
								 WHEN @StartTime > 0 THEN dbo.ufn_ConvertToDateTime(@DutyDate,@StartTime)
								 ELSE dbo.ufn_ConvertToDateTime(@DutyDate,@StartTime) END

		 SET @vEndDate = CASE  WHEN @EndTime IS  NULL THEN NULL
					 WHEN @StartTime = 0 AND @EndTime = 0 THEN NULL
					 WHEN @StartTime > 0 AND @EndTime = 0 THEN DATEADD(DAY,1,@DutyDate)
					 WHEN @EndTime = 86400 THEN DATEADD(DAY,1,@DutyDate)
					 WHEN @EndTime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,@DutyDate),@EndTime-86400)
					 WHEN @EndTime < @StartTime THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,@DutyDate),@EndTime)
					 ELSE dbo.ufn_ConvertToDateTime(@DutyDate,@EndTime) END

		IF  ( ( ISNULL(@vDutyStartDateLocal,getdate()) <> ISNULL(@vStartdate,getdate() )
			  OR ISNULL(@vDutyEndDateLocal,getdate()) <> ISNULL(@vEndDate,getdate()) )
			  AND ISNULL(@pSchedulingPersonID,0) > 0 AND ISNULL(@AllocationsSPID,0) > 0)
		BEGIN

		    SET @vTimeChangeFlag = 1

			SELECT @IsDutyOverLap = IsDutyOverLap,
			       @prevOverlapMsg = PrevDayOvrlapMsg,
			       @nextOverlapMsg = NextDayOvrlapMsg
			  FROM ufn_check_DutyOverLap(@AllocationsSPID, @vStartdate,@vEndDate)

		    SET @OvreLapMsg = ISNULL(@prevOverlapMsg,'')+' '+ISNULL(@nextOverlapMsg,'')

			IF ( @IsDutyOverLap = 1 )
			 BEGIN
			  THROW 51001, @OvreLapMsg, 1;
			 END;
  	    END

		IF ( @DutyTypeID = 7 OR ( ISNULL(@AllocationsDutyID,0) = 0 AND  ISNULL(@AllocationsSPID,0) = 0  ))
		 BEGIN

		   SET @NewEndTime = case when @EndTime >= 86400 then (@EndTime - 86400) else @EndTime end

		   EXEC @ReturnValue = usp_CreateDuty	@AllocationsID,
								@AllocationsSPID,
								@pSchedulingPersonID,
								@DutyName,
								@DutyDate,
								@StartTime,
								@NewEndTime,
								@BreakTime,
								@Duration,
								@DutyColour,
								@DutyLable,
								@DutyLable2,
								@DutyLable3,
								@DutyLable4,
								@DutyLable5,
								@DutyLable6,
								@IsShiftleader,
								@IsNeedCovering,
								@IsOverrideOver12,
								@pDutyComments,
								@pNetLogin,
								@AllocationsDutyID = @AllocationsDutyID OUTPUT


				IF ( ISNULL(@ReturnValue,0) > 0 )
				BEGIN
					THROW 51000, 'Error while creating duty', 1;
				END

		    IF ( ISNULL(@StartTime,0) > 0 OR ISNULL(@EndTime,0) > 0 )
			   SET @DutyTypeID = 1
			 ELSE
			   SET @DutyTypeID = 2

		    IF ( ISNULL(@pSchedulingPersonID,0) = 0  AND ISNULL(@AllocationsSPID,0) = 0 )
			    SET @DutyStatus = 0

		    IF ( ISNULL(@pSchedulingPersonID,0) > 0  AND ISNULL(@AllocationsSPID,0) = 0 )
		      BEGIN

			    SET @DutyStatus = 1

				EXEC @ReturnValue = usp_CreateScheduledPerson  @AllocationsID,
												@AllocationsDutyID,
												@pSchedulingPersonID,
												@DutyDate,
												@pNetLogin,
												@AllocationsSPID = @AllocationsSPID OUTPUT

				IF ( ISNULL(@ReturnValue,0) > 0 )
				BEGIN
					THROW 51000, 'Error while creating scheduled person allocation', 1;
				END

				SELECT @IsDutyOverLap = IsDutyOverLap,
					   @prevOverlapMsg = PrevDayOvrlapMsg,
					   @nextOverlapMsg = NextDayOvrlapMsg
				  FROM ufn_check_DutyOverLap(@AllocationsSPID, @vStartdate,@vEndDate)

				SET @OvreLapMsg = ISNULL(@prevOverlapMsg,'')+' '+ISNULL(@nextOverlapMsg,'')

				IF ( @IsDutyOverLap = 1 )
				 BEGIN
				  THROW 51001, @OvreLapMsg, 1;
				 END;

			  END


				EXEC @ReturnValue = usp_CreateAllocationsUpdate @AllocationsID,
												 @AllocationsDutyID,
												 @AllocationsSPID,
												 @PublishStatus,
												 @pNetLogin;


				IF ( ISNULL(@ReturnValue,1) <> 0 )
				BEGIN
					THROW 51000, 'Error while creating Duty update status', 1;
				END

			    UPDATE AllocationsScheduledPersons
				    SET ASP_AllocationsDutyID = @AllocationsDutyID,
						ASP_DutyTeamID = CASE WHEN ISNULL(@teamId,0) > 0 THEN @teamId
											  ELSE ASP_DutyTeamID END,
						ASP_OverTwelveStatus = case when @Duration > 43200
						                        and isnull(@IsOverrideOver12,1) = 1
						                        then 1 else 0 end,
						ASP_OverTwelveHrs = 0,
						ASP_IsOverseasOverTwelve = 0,
						ASP_UpdatedBy = @vuserID,
						ASP_UpdatedDate = GETUTCDATE()
				WHERE ASP_AllocationsSPID = @AllocationsSPID

				/*INSERT INTO history ( historytype,
									  attributeid,
									  HistorySubType,
									  datetime,
									  userid,
									  history )
				SELECT ht.id AS historytype,
					   @AllocationsDutyID AS attributeid,
					   'DH' AS HistorySubType,
					   getdate(),
					   @vuserID,
					   'New duty created using create duty option on a U duty by '
					   +@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
				  FROM HistoryTypes HT (Nolock)
				 WHERE historytype = 'AllocationDuty'	 */

			  IF ( ISNULL(@IsShiftleader,0) = 1 )
			   BEGIN
				EXEC usp_mod_PublishIndividulAllocations @AllocationsID,@AllocationsDutyID,@AllocationsSPID
			   END

		     -- IF ( 	@vTimeChangeFlag = 1 OR @vDurationFlag = 1) 
			 --  BEGIN

					SELECT @OverTimeHrs = ASP_OverTimeHours,
					       @IsMarkWIAD = CASE WHEN ASP_WIADStatus = 1 then 1 ELSE 0 END,
						   @pSchedulingPersonID = ASP_SchedulingPersonID
					  FROM AllocationsScheduledPersons  
					 WHERE ASP_AllocationsSPID =  @AllocationsSPID

					SET @Duration = CASE WHEN @IsMarkWIAD = 1 
										   THEN 0 
										   ELSE ISNULL(@Duration,0) - ISNULL(@BreakTime,0) END
					SET @vDuration = CASE WHEN @IsMarkWIAD = 1 
											 THEN 0 
											 ELSE ISNULL(@vDuration,0) - ISNULL(@vBreakTime,0) END

					DELETE @EditAllocationStatus;
					INSERT INTO @EditAllocationStatus
					EXEC usp_Update_DutyAccPeriodSummary @DutyDate, @pSchedulingPersonID,
										@vDuration,@Duration,
										@OverTimeHrs,@OverTimeHrs,@pNetLogin


			   --END


			  IF ( ISNULL(@pSchedulingPersonID,0) > 0 )
			   BEGIN
				 EXEC	@return_value = usp_UpdateWTD @AllocationsSPID, @pNetLogin
			   END

				IF ( @@TRANCOUNT  > 0 )
				 BEGIN
				   COMMIT  TRANSACTION
				 END

				 SELECT 0 as SPExecStatus,
						'Success' as SPMessage

				 RETURN 0
		 END

		-- Job time verification Start

		set @IsJobTimeExeed = dbo.ufn_IsJobTimeExceededDuty(@AllocationsDutyID,@vStartDate, @vEndDate)

	    IF ( @IsJobTimeExeed = 1 )
		 BEGIN
		  THROW 51005, 'You cannot resize a duty to times less than the Jobs within it. Please remove the Jobs first!', 1;
         END

		-- Job time verification end

		  IF ( @vAllocationsID <> @AllocationsID )
		   BEGIN
			 THROW 51000, 'Cannot Edit. Duty is from a different team', 1;
		   END


      SET @ActualDuration = ISNULL(@Duration,0)

	  SET @vSQL = 'UPDATE AllocationsDuties SET '
	  SET @vHistory = ''

      IF ( @Duration IS NOT NULL AND @vDuration IS NOT NULL)
	   BEGIN
	    IF ( @vDuration <> @Duration )
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @Duration IS NULL AND @vDuration IS NOT NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @Duration IS NOT NULL AND @vDuration IS NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END

	  IF ( @UpdateTimeFlag = 1  )
	   BEGIN

		 IF (ISNULL(@StartTime,0) = 0 AND ISNULL(@EndTime,0) = 0 )
		  BEGIN
		   		SET @updateflag = 1
		        SET @vDurationFlag = 1
			 IF ( @Duration IS NULL)
			  BEGIN
			   SET @vSQL = @vSQL+' AD_Duration = NULL, '
			  END
			 IF ( @Duration IS NOT NULL)
			  BEGIN
			   SET @vSQL = @vSQL+' AD_Duration = '+cast(@Duration as varchar)+', '
			  END
			 SET @vHistory = 'Duration amended by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
							 +' From '+right('0'+CAST( isnull(@vduration,0) / 3600 AS varchar(2)),2) + ':'
							 + right('0' + CAST( (isnull(@vduration,0) % 3600)/60 AS varchar(2)),2)+' To '
							 + right('0'+CAST( isnull(@duration,0) / 3600 AS varchar(2)),2) + ':'
							 + right('0' + CAST( (isnull(@duration,0) % 3600)/60 AS varchar(2)),2)+'.'
		 END
	   END


	  SET @UpdateTimeFlag = 0

	  IF ( ISNULL(@DutyName COLLATE SQL_Latin1_General_CP1_CS_AS,'U') <> ISNULL(@vDutyName COLLATE SQL_Latin1_General_CP1_CS_AS,'U') )
	   BEGIN

		 SET @vSQL = @vSQL+' AD_DutyName = '''+@DutyName+''', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SET @vHistory = @vHistory+'Duty Name changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '+@vDutyName+' To '+@DutyName+'.'
		 SET @updateflag = 1
	   END

      IF ( @StartTime IS NOT NULL AND @vStartTime IS NOT NULL)
	   BEGIN
	    IF ( @vStartTime <> @StartTime )
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @StartTime IS NULL AND @vStartTime IS NOT NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @StartTime IS NOT NULL AND @vStartTime IS NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END

	  IF ( @UpdateTimeFlag = 1  )
	   BEGIN
	     SET @vTimeChangeFlag = 1
		 IF ( @StartTime IS NULL)
		  BEGIN
		    SET @vSQL = @vSQL+' AD_StartTimeSec = NULL , '
		  END
		 IF ( @StartTime IS NOT NULL)
		  BEGIN
		   SET @vSQL = @vSQL+' AD_StartTimeSec = '+cast(ISNULL(@StartTime,0) as varchar)+', '
		  END

		 IF ( @StartTime >= 0 AND @vStartTime IS NOT NULL)
		  BEGIN
			 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
			 SET @vHistory = @vHistory+'Start Time amended by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
							 +' From '+right('0'+CAST( isnull(@vStartTime,0) / 3600 AS varchar(2)),2) + ':'
							 + right('0' + CAST((isnull(@vStartTime,0) % 3600)/60 AS varchar(2)),2)+' To '
							 + right('0'+CAST( isnull(@StartTime,0) / 3600 AS varchar(2)),2) + ':'
							 + right('0' + CAST((isnull(@StartTime,0) % 3600)/60 AS varchar(2)),2)+'.'
		  END
		 SET @updateflag = 1

		 IF ( @vStartDate IS NOT NULL)
		  BEGIN
			 SET @vSQL = @vSQL+' AD_DutyStartTimeLocal = '''+cast(format(@vStartDate,'yyyy-MM-dd HH:mm:ss') as varchar)+''', '
			 SET @vSQL = @vSQL+' AD_DutyStartTimeUTC = '''+cast(format(@vStartDate,'yyyy-MM-dd HH:mm:ss') as varchar)+''', '
		  END

	   END

	  SET @UpdateTimeFlag = 0

      IF ( @EndTime IS NOT NULL AND @vEndTime IS NOT NULL)
	   BEGIN
	    IF ( @vEndTime <> @EndTime )
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @EndTime IS NULL AND @vEndTime IS NOT NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @EndTime IS NOT NULL AND @vEndTime IS NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END

	  IF ( @UpdateTimeFlag = 1 )
	   BEGIN
	     SET @vTimeChangeFlag = 1
		 IF ( @EndTime IS NULL)
		  BEGIN
		   SET @vSQL = @vSQL+' AD_EndTimeSec = NULL , '
		  END
		 IF ( @EndTime IS NOT NULL)
		  BEGIN
		   SET @vSQL = @vSQL+' AD_EndTimeSec = '+cast(ISNULL(case when @EndTime >= 86400 
																  then (@EndTime - 86400) 
																  else @EndTime end,0) 
																  as varchar)+', '
		  END

		   

		 IF ( @EndTime >= 0 AND @vEndTime IS NOT NULL)
		  BEGIN
			 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
			 SET @vHistory = @vHistory+'End Time amended by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
							 +' From '+right('0'+CAST( isnull(@vEndTime,0) / 3600 AS varchar(2)),2) + ':'
							 + right('0' + CAST((isnull(@vEndTime,0) % 3600)/60 AS varchar(2)),2)+' To '
							 + right('0'+ CAST( isnull(@EndTime,0) / 3600 AS varchar(2)),2) + ':'
							 + right('0' + CAST((isnull(@EndTime,0) % 3600 )/60 AS varchar(2)),2)+'.'
		  END
		 SET @updateflag = 1

		 IF ( @vEndDate IS NOT NULL)
		  BEGIN
			SET @vSQL = @vSQL+' AD_DutyEndTimeLocal = '''+cast(format(@vEndDate,'yyyy-MM-dd HH:mm:ss') as varchar)+''', '
			SET @vSQL = @vSQL+' AD_DutyEndTimeUTC = '''+cast(format(@vEndDate,'yyyy-MM-dd HH:mm:ss') as varchar)+''', '
		  END

	   END

	   SET @UpdateTimeFlag = 0

	   IF ( @vTimeChangeFlag = 1 AND @vDurationFlag = 0)
	    BEGIN

		 IF ( @EndTime IS NOT NULL AND @StartTime IS NOT NULL AND ( ISNULL(@StartTime,0) > 0 OR ISNULL(@EndTime,0) > 0)  )
		  BEGIN
			 SET @Duration = case WHEN @EndTime > @StartTime then ISNULL(@EndTime,0) - ISNULL(@StartTime,0)
								  WHEN @EndTime < @StartTime then (86400 - ISNULL(@StartTime,0))+ ISNULL(@EndTime,0)
								  WHEN ISNULL(@StartTime,0) > 0 AND ISNULL(@EndTime,0) > 0 AND @EndTime = @StartTime THEN 86400
								  ELSE @Duration
							  end

			 SET @vSQL = @vSQL+' AD_Duration = '+cast(ISNULL(@Duration,0) as varchar)+', '
		  END

		END

      IF ( @BreakTime IS NOT NULL AND @vBreakTime IS NOT NULL)
	   BEGIN
	    IF ( @vBreakTime <> @BreakTime )
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @BreakTime IS NULL AND @vBreakTime IS NOT NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END
      IF ( @BreakTime IS NOT NULL AND @vBreakTime IS NULL)
	   BEGIN
		   SET @UpdateTimeFlag = 1
	   END

	  IF ( @UpdateTimeFlag = 1  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_DutyBreakTime = '+CASE WHEN @BreakTime IS NULL THEN 'NULL' ELSE cast(@BreakTime as varchar) END+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SET @vHistory = @vHistory+'Break Time amended by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
						 +' From '+right('0'+CAST( isnull(@vBreakTime,0) / 3600 AS varchar(2)),2) + ':'
						 + right('0' + CAST((isnull(@vBreakTime,0) % 3600)/60 AS varchar(2)),2)+' To '
						 + right('0'+CAST( isnull(@BreakTime,0) / 3600 AS varchar(2)),2) + ':'
						 + right('0' + CAST((isnull(@BreakTime,0) % 3600)/60 AS varchar(2)),2)+'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vDutyColour,0) <> ISNULL(@DutyColour,0)  )
	   BEGIN

		 SET @vSQL = @vSQL+' AD_DutyColourID = '+cast(@DutyColour as varchar)+', '

		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SELECT @voldcolourname = ColourBackground FROM REF_MasterDutyColours (Nolock) WHERE MasterDutyColourID = @vDutyColour
		 SELECT @vnewcolourname = ColourBackground FROM REF_MasterDutyColours (Nolock) WHERE MasterDutyColourID = @DutyColour
		 SET @vHistory = @vHistory+'Duty Colour Changed by '+@vname+' On '
		                          + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
								  +' From <span style=''background-color:#'
						          +CAST(ISNULL(@voldcolourname,'') as nvarchar)
								  +'''>&nbsp;&nbsp;&nbsp;&nbsp;</span> To <span style=''background-color:#'
								  +CAST(ISNULL(@vnewcolourname,'') as nvarchar)+'''>&nbsp;&nbsp;&nbsp;&nbsp;</span> '

		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vIsNeedCovering,2) <> ISNULL(@IsNeedCovering,2)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_IsNeedCovering = '+cast(isnull(@IsNeedCovering,1) as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END

		 SET @vHistory = @vHistory+'Need coveringflag changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '
						 +case when @vIsNeedCovering = 1 then 'Yes' else 'No' end
						 +' To '
						 +case when @IsNeedCovering = 1 then 'Yes' else 'No' end +'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vIsOverrideOver12,2) <> ISNULL(@IsOverrideOver12,2)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_IsOverrideOver12 = '+cast(isnull(@IsOverrideOver12,1) as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SET @IsOverrideOver12UpdateFlag = 1

		 SET @vHistory = @vHistory+'Override over 12 flag changed by '+@vname+' On '
		                 + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '
						 +case when @vIsOverrideOver12 = 1 then 'Yes' else 'No' end
						 +' To '
						 +case when @IsOverrideOver12 = 1 then 'Yes' else 'No' end +'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vDutyLable,0) <> ISNULL(@DutyLable,0)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_DutyProgramID1 = '+cast(@DutyLable as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SELECT @voldlabel = Programme FROM Programmes (Nolock) WHERE ID = @vDutyLable
		 SELECT @vnewlabel = Programme FROM Programmes (Nolock) WHERE ID = @DutyLable
		 SET @vHistory = @vHistory+'Duty Label Changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '+ISNULL(@voldlabel,'')+' To '+ISNULL(@vnewlabel,'')+'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vDutyLable2,0) <> ISNULL(@DutyLable2,0)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_DutyProgramID2 = '+cast(@DutyLable2 as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SELECT @voldlabel = Programme FROM Programmes (Nolock) WHERE ID = @vDutyLable2
		 SELECT @vnewlabel = Programme FROM Programmes (Nolock) WHERE ID = @DutyLable2
		 SET @vHistory = @vHistory+'Duty Label Changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '+ISNULL(@voldlabel,'')+' To '+ISNULL(@vnewlabel,'')+'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vDutyLable3,0) <> ISNULL(@DutyLable3,0)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_DutyProgramID3 = '+cast(@DutyLable3 as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SELECT @voldlabel = Programme FROM Programmes (Nolock) WHERE ID = @vDutyLable3
		 SELECT @vnewlabel = Programme FROM Programmes (Nolock) WHERE ID = @DutyLable3
		 SET @vHistory = @vHistory+'Duty Label Changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '+ISNULL(@voldlabel,'')+' To '+ISNULL(@vnewlabel,'')+'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vDutyLable4,0) <> ISNULL(@DutyLable4,0)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_DutyProgramID4 = '+cast(@DutyLable4 as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SELECT @voldlabel = Programme FROM Programmes (Nolock) WHERE ID = @vDutyLable4
		 SELECT @vnewlabel = Programme FROM Programmes (Nolock) WHERE ID = @DutyLable4
		 SET @vHistory = @vHistory+'Duty Label Changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '+ISNULL(@voldlabel,'')+' To '+ISNULL(@vnewlabel,'')+'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vDutyLable5,0) <> ISNULL(@DutyLable5,0)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_DutyProgramID5 = '+cast(@DutyLable5 as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SELECT @voldlabel = Programme FROM Programmes (Nolock) WHERE ID = @vDutyLable5
		 SELECT @vnewlabel = Programme FROM Programmes (Nolock) WHERE ID = @DutyLable5
		 SET @vHistory = @vHistory+'Duty Label Changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '+ISNULL(@voldlabel,'')+' To '+ISNULL(@vnewlabel,'')+'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@vDutyLable6,0) <> ISNULL(@DutyLable6,0)  )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_DutyProgramID6 = '+cast(@DutyLable6 as varchar)+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SELECT @voldlabel = Programme FROM Programmes (Nolock) WHERE ID = @vDutyLable6
		 SELECT @vnewlabel = Programme FROM Programmes (Nolock) WHERE ID = @DutyLable6
		 SET @vHistory = @vHistory+'Duty Label Changed by '+@vname+' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
		                 +' From '+ISNULL(@voldlabel,'')+' To '+ISNULL(@vnewlabel,'')+'.'
		 SET @updateflag = 1

	   END

	  IF ( ISNULL(@pDutyComments,'X') <> ISNULL(@DutyComments,'X')  )
	   BEGIN
		-- SET @vSQL = @vSQL+' AD_Comments = '+CASE WHEN @pDutyComments IS NULL THEN 'NULL'
		--											ELSE ''''+@pDutyComments+'''' END+', '
		 SET @vHistory = @vHistory+ CASE WHEN @updateflag =1 THEN CHAR(13) ELSE '' END
		 SET @vHistory = @vHistory+'Comments were added/changed by '
								  + @vname
						          + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+'.<br><br>'

	   END

	  IF ( 	@vTimeChangeFlag = 1 OR @vDurationFlag = 1)
	   BEGIN

		 IF ( CAST(@ActualDuration AS FLOAT)/CAST(3600 AS FLOAT) > 12 and ISNULL(@IsOverrideOver12,1) = 1 )
		  BEGIN
		    SET @OverTwelveStatus = 1
		  END
		 ELSE
		  BEGIN
		    SET @OverTwelveStatus = 0
		  END

	   END

	  IF ( 	isnull(@vTimeChangeFlag,0) <> 1 AND ISNULL(@vDurationFlag,0) <> 1 and @IsOverrideOver12UpdateFlag = 1)
	   BEGIN

		 IF ( CAST(@ActualDuration AS FLOAT)/CAST(3600 AS FLOAT) > 12 and ISNULL(@IsOverrideOver12,1) = 0 )
		  BEGIN
		    SET @OverTwelveStatus = 0
		  END

		 IF ( CAST(@ActualDuration AS FLOAT)/CAST(3600 AS FLOAT) > 12 and ISNULL(@IsOverrideOver12,1) = 1
		      and  ISNULL(@MarkOverTwelve,9) = 9 )
		  BEGIN
		    SET @OverTwelveStatus = 1
		  END

	   END

	  IF ( @updateflag = 1 AND ISNULL(@IsShiftleader,0) = 1 )
	   BEGIN
		 SET @vSQL = @vSQL+' AD_IsEditedDutyAttention = '+cast(@IsShiftleader as varchar)+', '
	   END

		IF ( ISNULL( @DutyTypeID,0 ) > 6 AND  ( ISNULL(@StartTime,0) > 0 OR ISNULL(@EndTime,0) > 0 ) )
			SET @DutyTypeID = 1

		IF ( ISNULL( @DutyTypeID,0 ) > 6 AND  ( ISNULL(@StartTime,0) = 0 AND ISNULL(@EndTime,0) = 0 ) )
			SET @DutyTypeID = 2

		IF ( ISNULL( @DutyTypeID,0 ) in (0,2) AND  ( ISNULL(@StartTime,0) > 0 OR ISNULL(@EndTime,0) > 0 ) )
			SET @DutyTypeID = 1

		IF ( ISNULL( @DutyTypeID,0 ) in ( 0,1)  AND  ( ISNULL(@StartTime,0) = 0 AND ISNULL(@EndTime,0) = 0 ) )
			SET @DutyTypeID = 2



		 IF ( ISNULL(@pDutyComments,'X') <> ISNULL(@DutyComments,'X')  )
			BEGIN

			   UPDATE AllocationsDuties
				  SET AD_Comments = @pDutyComments,
					  AD_UpdatedBy = @vuserID,
					  AD_UpdatedDate = getutcdate()
				WHERE AD_AllocationsDutyID = @AllocationsDutyID

			IF ( ISNULL(@updateflag,0) = 0 )
			  BEGIN
				INSERT INTO history ( historytype,
									  attributeid,
									  HistorySubType,
									  datetime,
									  userid,
									  history )
				SELECT ht.id AS historytype,
					   @AllocationsDutyID AS attributeid,
					   'DH' AS HistorySubType,
					   getdate(),
					   @vuserID,
					   @vHistory
				  FROM HistoryTypes HT (Nolock)
				 WHERE historytype = 'AllocationDuty'
			  END
			  
			END

      IF ( @updateflag = 1)
	   BEGIN

		 SET @vSQL = @vSQL+' AD_IsDutyEdited = 1, AD_DutyType = '+CAST(ISNULL(@DutyTypeID,1) AS varchar)
							+', AD_UpdatedBy = '+ CAST(@vuserID AS VARCHAR)
						    +', AD_UpdatedDate = getutcdate()
								WHERE AD_AllocationsDutyID = '+cast(@AllocationsDutyID as varchar)
										
		 EXEC (@vSQL)

			INSERT INTO history ( historytype,
								  attributeid,
								  HistorySubType,
								  datetime,
								  userid,
								  history )
			SELECT ht.id AS historytype,
				   @AllocationsDutyID AS attributeid,
				   'DH' AS HistorySubType,
				   getdate(),
				   @vuserID,
				   @vHistory
			  FROM HistoryTypes HT (Nolock)
			 WHERE historytype = 'AllocationDuty'

				INSERT INTO history ( historytype,
						  attributeid,
						  HistorySubType,
						  datetime,
						  userid,
						  history )
				SELECT ht.id AS historytype,
					   @AllocationsSPID AS attributeid,
					   'PH' AS HistorySubType,
					   getdate(),
					   @vuserID,
					   'Over12 was Removed by system '+
					   + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy')+' at '
						+ FORMAT(Getdate(),'HH:mm')+'.'
				  FROM AllocationsScheduledPersons ASP
				  INNER JOIN HistoryTypes HT (Nolock) ON 1 =1
				 WHERE HT.historytype = 'AllocationScheduledPerson'
				   AND ASP_AllocationsSPID = @AllocationsSPID
				   AND ASP_OverTwelveStatus = 2

			    UPDATE AllocationsScheduledPersons
				    SET ASP_AllocationsDutyID = @AllocationsDutyID,
						ASP_DutyTeamID = CASE WHEN ISNULL(@teamId,0) > 0 THEN @teamId
											  ELSE ASP_DutyTeamID END,
						ASP_OverTwelveStatus = case when @Duration > 43200
						                        and isnull(@IsOverrideOver12,1) = 1
						                        then 1 else 0 end,
						ASP_OverTwelveHrs = 0,
						ASP_IsOverseasOverTwelve = 0,
						ASP_UpdatedBy = @vuserID,
						ASP_UpdatedDate = GETUTCDATE()
				WHERE ASP_AllocationsSPID = @AllocationsSPID

		    IF ( 	@vTimeChangeFlag = 1 OR @vDurationFlag = 1)
			 BEGIN


					SELECT @OverTimeHrs = ASP_OverTimeHours,
					       @IsMarkWIAD = CASE WHEN ASP_WIADStatus = 1 then 1 ELSE 0 END,
						   @pSchedulingPersonID = ASP_SchedulingPersonID
					  FROM AllocationsScheduledPersons  
					 WHERE ASP_AllocationsSPID =  @AllocationsSPID

					SET @ActualDuration = CASE WHEN @IsMarkWIAD = 1
										   THEN 0
										   ELSE ISNULL(@ActualDuration,0) - ISNULL(@BreakTime,0) END
					SET @vDuration = CASE WHEN @IsMarkWIAD = 1
											 THEN 0
											 ELSE ISNULL(@vDuration,0) - ISNULL(@vBreakTime,0) END

					DELETE @EditAllocationStatus;
					INSERT INTO @EditAllocationStatus
					EXEC usp_Update_DutyAccPeriodSummary @DutyDate, @pSchedulingPersonID,
										@vDuration,@ActualDuration,
										@OverTimeHrs,@OverTimeHrs,@pNetLogin
					select  @vErrorMsg = ErrorMsg , @vSPStatus=SPStatus
						from @EditAllocationStatus

					IF ( ISNULL(@vSPStatus,1) <> 0 )
					BEGIN
						THROW 51000, @vErrorMsg, 1;
					END;

			 END



			EXEC @ReturnValue = usp_CreateAllocationsUpdate @AllocationsID,
											 @AllocationsDutyID,
											 @AllocationsSPID,
											 @PublishStatus,
											 @pNetLogin


				IF ( ISNULL(@ReturnValue,1) <> 0 )
				BEGIN
					THROW 51000, 'Error while creating Duty update status', 1;
				END

			  IF ( ISNULL(@pSchedulingPersonID,0) > 0 )
			   BEGIN
				IF ( 	@vTimeChangeFlag = 1 OR @vDurationFlag = 1)
				 BEGIN
				  EXEC	@return_value = usp_UpdateWTD @AllocationsSPID, @pNetLogin
				 END
			   END

			  IF ( ISNULL(@IsShiftleader,0) = 1 )
			   BEGIN
				EXEC usp_mod_PublishIndividulAllocations @AllocationsID,@AllocationsDutyID,@AllocationsSPID
			   END

		END

	    IF ( @@TRANCOUNT  > 0 )
         BEGIN
           COMMIT  TRANSACTION
         END

		  SELECT 0 as SPExecStatus,
			     'Success' as SPMessage

	END TRY

	BEGIN CATCH

	  IF ( @@TRANCOUNT  > 0 )
	   BEGIN
		ROLLBACK TRANSACTION
	   END

	  IF ( ERROR_NUMBER() < 50000 )
		INSERT INTO ErrorLog
			(ErrorNumber,
				ErrorState,
				ErrorSeverity,
				ErrorProcedure,
				ErrorLine,
				ErrorMessage,
				ErrorDateTime,
				UserName
			)
		SELECT ERROR_NUMBER() AS ErrorNumber,
			ERROR_STATE() AS ErrorState,
			ERROR_SEVERITY() AS ErrorSeverity,
			ERROR_PROCEDURE() AS ErrorProcedure,
			ERROR_LINE() AS ErrorLine,
			ERROR_MESSAGE() AS ErrorMessage,
			getutcdate(),
			@vuserID

	 	 SELECT ISNULL(@@IDENTITY,ERROR_NUMBER()) as SPExecStatus,
			    ERROR_MESSAGE() as SPMessage

	END CATCH;
END