USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_EmpSubGroup]    Script Date: 3/12/2026 10:20:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_EmpSubGroup]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_EmpSubGroup];
		
		--Update existing records
		UPDATE T1
		SET T1.[EmpSubGroupCode] = T2.[EmpSubGroupCode]
			  ,T1.[EmpSubGroupDescription] = T2.[EmpSubGroupDescription]
			  ,T1.[IsActive] = T2.[IsActive]
			  ,T1.[CreatedDate] = T2.[CreatedDate]
			  ,T1.[LastModDate] = T2.[LastModDate]
			  ,T1.[LastModBy] = T2.[LastModBy]
			  ,T1.[History] = T2.[History]
		FROM [REF_EmpSubGroup] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_EmpSubGroup] T2 ON T1.EmpSubGroupCode = T2.EmpSubGroupCode
		WHERE T1.EmpSubGroupCode = T2.EmpSubGroupCode
		
		--Insert new records
		INSERT INTO [REF_EmpSubGroup] (
			   [EmpSubGroupCode]
			  ,[EmpSubGroupDescription]
			  ,[IsActive]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			)  
		SELECT [EmpSubGroupCode]
			  ,[EmpSubGroupDescription]
			  ,[IsActive]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_EmpSubGroup] T2 
		  WHERE NOT EXISTS (SELECT T1.EmpSubGroupCode FROM [REF_EmpSubGroup] T1 
		  WHERE T1.EmpSubGroupCode = T2.EmpSubGroupCode)
        
END

