USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_WTDBreach]    Script Date: 18/08/2022 20:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER          PROCEDURE [dbo].[usp_WTDBreach]
@pBreakId          INT = NULL,
@pSchedulingPersonID INT = NULL,
@pDutyDate           VARCHAR(50) = NULL,
@pTeamID             INT = NULL
AS
BEGIN
  SET NOCOUNT ON;

  set dateformat ymd
   
  IF(ISNULL(@pBreakId,0) > 0)
    BEGIN
    SELECT wtd.ID,
         NULL AS SchedulingTeamId,
         wtd.SchedulingPersonID,
         wtd.BreachType,
         Format (wtd.StartDate, 'dd/MM/yyyy')    AS StartDate,
         Format (wtd.EndDate, 'dd/MM/yyyy')      AS EndDate,
         wtd.BreachedBy,
         Format (wtd.BreachedDate, 'dd/MM/yyyy') AS BreachedDate,
         wtd.IsApproved,
         wtd.ApprovedBy,
         wtd.ApprovedDate,
         Isnull(wtd.Comments, '')                AS Comments,
         wtd.History,
         wtdt."Rule"
    FROM   Working_time_directive wtd (nolock)
         INNER JOIN Wtd_types wtdt (nolock)
             ON wtdt.ID = wtd.BreachType
    WHERE  wtd.ID = @pBreakId 
    END
  ELSE
    BEGIN
    SELECT wtd.ID,
         NULL AS SchedulingTeamId,
         wtd.SchedulingPersonID,
         wtd.BreachType,
         wtd.StartDate,
         wtd.EndDate,
         wtd.BreachedBy,
         wtd.BreachedDate,
         wtd.IsApproved,
         wtd.ApprovedBy,
         wtd.ApprovedDate,
         wtd.Comments,
         wtd.History,
         wtdt."Rule"
    FROM   Working_time_directive wtd (nolock)
         INNER JOIN Wtd_types wtdt (nolock)
             ON wtdt.ID = wtd.BreachType
    WHERE  wtd.SchedulingPersonID = @pSchedulingPersonID
         AND CONVERT(DATETIME, @pDutyDate, 102) BETWEEN
           wtd.StartDate AND wtd.EndDate
    ORDER  BY wtd.BreachType,
          wtd.StartDate 
    END
END 
