USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ScheduledPersonTeams]    Script Date: 30/03/2026 15:07:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_get_ScheduledPersonTeams]
	-- Add the parameters for the stored procedure here
	@intschedulepersonid int
AS
 BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
 
  select distinct sp.UD_UserID ScheduledPersonID, 
         sp.UD_DisplayName DisplayName, 
		 sp.UD_UserID UserID, 
		 UD_TeampayStaffID  StaffDetailsID,
		 UD_InternalEmail  InternalEmail, 
		 sp.UD_AdminNotes  AdminNotes, 
		 sp.UD_FWANotes FWANotes, 
		 sptl.ScheduledPersonID, 
		 sptl.TeamID, 
		 team.schedulingTeamName as TeamName, 
		 sptl.IsHomeTeam, 
		 sptl.SortCode, 
		 sptl.CreatedBy, 
		 convert(varchar(30), sptl.CreatedDate,105) as CreatedDate,
		 convert(varchar(30), sptl.StartDate,105) as StartDate, 
		 convert(varchar(30), sptl.EndDate,105) as EndDate, 
		 sptl.LastUpdatedBy, 
		 convert(datetime,sptl.LastUpdatedDate, 103) as LastUpdatedDate, 
		 sptl.BackgroundColour, 
		 sptl.fontcolour, 
		 sptl.IsActive,
		 sptl.isDefault,
		 sptl.IsAvailable,   
		 UD_DisplayFirstName Forename,
		 UD_PreferredFirstName  PreferredForename,
		 UD_NetLogin NetLogin,
		 sp.UD_DisplayLastName Surname,
		 scp.UC_JobTitle JobTitle,
		 '' Title,
		 UD_StaffNumber StaffNumber,
		 0 AveDayLen,
		 0 ShiftBreak,
		 sp.UD_DisplayFirstName DisplayFirstName,
		 sp.UD_DisplayLastName DisplayLastName,
		 sptl.IsDefaultBGColour,
		 sp.UD_IsEligibleForAdditionalLeave   IsAdditionalLeave,
		 sptl.SPTeamID
     from UserDetails (NOLOCK) as sp
    INNER JOIN [dbo].[ScheduledPersonTeam_LINK] (NOLOCK) as sptl on sp.UD_UserID = sptl.ScheduledPersonID
    INNER JOIN schedulingTeams (NOLOCK) as team on team.schedulingTeamId = sptl.TeamID and team.isActive=1
	 LEFT JOIN UserConfigs scp (nolock) ON scp.UC_UserID = UD_UserID
	 AND CAST(GETDATE() AS Date) BETWEEN scp.UC_StartDate AND ISNULL(scp.UC_EndDate, CAST(GETDATE() AS Date)) 	 
    where sp.UD_UserID = @intschedulepersonid 
	  AND CAST(isnull(sptl.EndDate,GETDATE()) AS DATE ) >= cast(getdate() as date)
	  AND sptl.IsHomeTeam IN (0,2)
	  and sptl.scheduledType = 1 
	UNION
  select distinct sp.UD_UserID ScheduledPersonID, 
         sp.UD_DisplayName DisplayName, 
		 sp.UD_UserID UserID, 
		 UD_TeampayStaffID  StaffDetailsID,
		 UD_InternalEmail  InternalEmail, 
		 sp.UD_AdminNotes  AdminNotes, 
		 sp.UD_FWANotes FWANotes, 
		 sptl.ScheduledPersonID, 
		 sptl.TeamID, 
		 team.schedulingTeamName as TeamName, 
		 sptl.IsHomeTeam, 
		 sptl.SortCode, 
		 sptl.CreatedBy, 
		 convert(varchar(30), sptl.CreatedDate,105) as CreatedDate,
		 convert(varchar(30), sptl.StartDate,105) as StartDate, 
		 convert(varchar(30), sptl.EndDate,105) as EndDate, 
		 sptl.LastUpdatedBy, 
		 convert(datetime,sptl.LastUpdatedDate, 103) as LastUpdatedDate, 
		 sptl.BackgroundColour, 
		 sptl.fontcolour, 
		 sptl.IsActive,
		 sptl.isDefault,
		 sptl.IsAvailable,   
		 UD_DisplayFirstName Forename,
		 UD_PreferredFirstName  PreferredForename,
		 UD_NetLogin NetLogin,
		 sp.UD_DisplayLastName Surname,
		 scp.UC_JobTitle JobTitle,
		 '' Title,
		 UD_StaffNumber StaffNumber,
		 0 AveDayLen,
		 0 ShiftBreak,
		 sp.UD_DisplayFirstName DisplayFirstName,
		 sp.UD_DisplayLastName DisplayLastName,
		 sptl.IsDefaultBGColour,
		 sp.UD_IsEligibleForAdditionalLeave   IsAdditionalLeave,
		 sptl.SPTeamID
     from UserDetails (NOLOCK) as sp
    INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl on sp.UD_UserID = sptl.ScheduledPersonID
    INNER JOIN schedulingTeams (NOLOCK) as team on team.schedulingTeamId = sptl.TeamID and team.isActive=1
	 LEFT JOIN UserConfigs scp (nolock) ON scp.UC_UserID = UD_UserID
	 AND CAST(GETDATE() AS Date) BETWEEN scp.UC_StartDate AND ISNULL(scp.UC_EndDate, CAST(GETDATE() AS Date)) 	 
    where sp.UD_UserID = @intschedulepersonid 	  
	  and sptl.scheduledType = 1 
	  and sptl.IsHomeTeam = 1
	  and sptl.EndDate = ( 
	                        select MAX(EndDate)
							 from ScheduledPersonTeam_LINK
						    where ScheduledPersonID = @intschedulepersonid 	  
							  and scheduledType = 1 
							  and IsHomeTeam = 1
							  and EndDate >= cast(getdate() as date)
						 )
    order by IsHomeTeam DESC

END