USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_StaffScheduledTeams]    Script Date: 15/09/2021 13:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_Get_StaffScheduledTeams]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '
--Execute the script statement
Set @strSQL= @strSQL + N'PROCEDURE [dbo].[usp_Get_StaffScheduledTeams]
@userid INT,
@type VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON;
	IF (@type = '''')
		BEGIN
			SELECT st.schedulingTeamId,st.schedulingTeamName,st.isActive
			FROM ScheduledPeople sp 
			INNER JOIN ScheduledPersonTeam_LINK sptl on sp.ScheduledPersonID=sptl.ScheduledPersonID	AND sptl.IsActive=1				
			INNER JOIN schedulingTeams st ON sptl.TeamID=st.schedulingTeamId 				
			WHERE sp.UserId=@userid and sptl.isDefault=1 AND isnull(EndDate,''9999-01-01'') >= getdate() and StartDate<=getdate()
			ORDER BY st.schedulingTeamName
		END
	ELSE
		BEGIN
			SELECT st.schedulingTeamId,st.schedulingTeamName,st.isActive
			FROM ScheduledPeople sp 
			INNER JOIN ScheduledPersonTeam_LINK sptl on sp.ScheduledPersonID=sptl.ScheduledPersonID	AND sptl.IsActive=1 AND sptl.scheduledType=0	
			INNER JOIN schedulingTeams st ON sptl.TeamID=st.schedulingTeamId 				
			WHERE sp.UserId=@userid AND isnull(EndDate,''9999-01-01'') >= getdate() and StartDate<=getdate()
			ORDER BY st.schedulingTeamName
		END
    
END
'

EXEC dbo.sp_executesql @strSQL
GO