USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDailyRequestsByscheduledPersonId]    Script Date: 24/05/2022 16:51:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_GetDailyRequestsByscheduledPersonId]
	-- Add the parameters for the stored procedure here
	@strUser varchar(50), @strStartDate varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	Declare @strQuery VARCHAR(MAX);
 	SELECT Requests.dDate,   Requests.RequestType,   LOWER(Requests.Login) as Login,   Requests.isOK,   Requests.Approved, usercomments AS UserComments,  Requests.Created,  comments AS Comments,Requests.Unlikely,   Requests.ShortNotice,   Requests.ID AS RequestID,  RequestTypes.GroupID,RequestTypes.description as requesttype ,LeaveRequestGroups.Description,LeaveRequestGroups.RequestsAllowedYearly,LeaveRequestGroups.RequestsAllowedMonthly,RequestTypes.Starts, RequestTypes.Ends, RequestTypes.isRestricted, RequestTypes.AllowOverLimit, RequestTypes.UniqueCount, 
    RequestTypes.RequestsAllowed
	FROM Requests (NoLock)   
	INNER JOIN RequestTypes (NoLock) ON Requests.RequestType = RequestTypes.ID  
	INNER JOIN  LeaveRequestGroups (Nolock) ON RequestTypes.GroupID = LeaveRequestGroups.ID 
	WHERE (Requests.Deleted = 0)  
AND (Requests.dDate = CONVERT(DATETIME,@strStartDate,102)) AND Requests.login=@strUser ORDER BY Requests.Created
END

