USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_MoveJobToOtherDuty]    Script Date: 2/18/2026 9:53:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_MoveJobToOtherDuty]
@SchedulingPersonID		INT = NULL,
@DutyDate				DATE,
@TeamID					INT,
@AllocateJobID			INT,
@AllocationsDutyID		INT = NULL,
@UserID					INT,
@Role					INT

AS
BEGIN

 SET NOCOUNT ON;

  DECLARE @Allocationsid			INT,
		  @JobName					NVARCHAR(100),
          @JobStartTimeSec			INT,
		  @JobEndTimeSec			INT,
		  @WeekNumber				INT,
		  @iDay						INT,
          @History1					VARCHAR(Max),
		  @History2					VARCHAR(Max),
		  @DutyStartTimeSec			INT,
		  @DutyEndTimeSec			INT,
		  @NewDutyStartTimeSec		INT,
		  @NewDutyEndTimeSec		INT,
		  @ReturnValue				INT = 0,
		  @DutyName					NVARCHAR(100),
		  @NetLogin					NVARCHAR(25),
		  @Status					INT ,
		  @ReturnString				VARCHAR(1000),
		  @WTDFlag					BIT = 0,
		  @DisplayName				NVARCHAR(100),
		  @UpdateAllocationFlag		BIT = 1,
		  @Name						VARCHAR(50),
		  @DutyType					INT,
		  @JobStartTimeLocal		DATETIME,
		  @JobEndTimeLocal			DATETIME,
		  @DutyStartTimeLocal		DATETIME,
		  @DutyEndTimeLocal			DATETIME,
		  @NewDutyStartTimeLocal	DATETIME,
		  @NewDutyEndTimeLocal		DATETIME,
		  @DutyHistoryType			INT,
		  @PersonHistoryType		INT,
		  @JobHistoryType			INT,
		  @AllocationsSPID			INT,
		  @IsDutyOverLap			BIT,
		  @prevOverlapMsg			VARCHAR(500),
		  @nextOverlapMsg			VARCHAR(500),
		  @OvreLapMsg				VARCHAR(1000),
		  @JobStartTimeOverNightFlag		BIT = 0,
		  @JobEndTimeOverNightFlag			BIT = 0;

    SELECT @NetLogin = UD_NetLogin ,
		   @Name = UD_DisplayName
	  FROM UserDetails
     WHERE UD_UserID = @UserID
	
		SET @status = 0;
		SET @returnstring = '';

	SELECT @DutyHistoryType = ID
	 FROM HistoryTypes
	WHERE HistoryType = 'AllocationDuty'

	SELECT @PersonHistoryType = ID
	 FROM HistoryTypes
	WHERE HistoryType = 'AllocationScheduledPerson'

	SELECT @JobHistoryType = ID
	 FROM HistoryTypes
	WHERE HistoryType = 'AllocationJobs'
	
	 SELECT @jobname=AJ_JobName,
			@JobStartTimeSec = AJ_JobStartTimeSec,
			@JobEndTimeSec = AJ_JobEndTimeSec,
			@JobStartTimeLocal = AJ_JobStartTimeLocal,
			@JobEndTimeLocal = AJ_JobEndTimeLocal
	   FROM AllocationsJobs (NOLOCK) 
	  where AJ_AllocateJobID = @AllocateJobID;

  select @JobName=AJ_JobName,
         @JobStartTimeSec=AJ_JobStartTimeSec,
		 @JobEndTimeSec=AJ_JobEndTimeSec,
		 @JobStartTimeLocal = AJ_JobStartTimeLocal,
		 @JobEndTimeLocal	= AJ_JobEndTimeLocal,
		 @JobStartTimeOverNightFlag  =  CASE WHEN DATEDIFF(DAY,AD_DutyDate,AJ_JobStartTimeLocal) > 0 THEN 1 ELSE 0 END,
		 @JobEndTimeOverNightFlag = CASE WHEN DATEDIFF(DAY,AD_DutyDate,AJ_JobEndTimeLocal) > 0 THEN 1 ELSE 0 END
    FROM AllocationsJobs (NOLOCK) AJ
   INNER JOIN AllocationsDuties AD on AJ_AllocationsDutyID = AD_AllocationsDutyID
   where AJ_AllocateJobID = @AllocateJobID;

	 IF ( ISNULL(@AllocationsDutyID,0) > 0 )
	  BEGIN
			IF EXISTS ( SELECT 1
						  FROM AllocationsDuties AD
						 INNER JOIN AllocationsJobs AJ on AJ_AllocationsDutyID = AD_AllocationsDutyID
						 WHERE AD_AllocationsDutyID = @AllocationsDutyID
						   AND AJ_JobStatus <> 9
						   AND AJ_JobStartTimeLocal < DATEADD(DAY, -1*DATEDIFF(DAY,AD_DutyDate,@JobEndTimeLocal) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) 
						   AND AJ_JobEndTimeLocal > DATEADD(DAY, -1*DATEDIFF(DAY,AD_DutyDate,@JobStartTimeLocal) + @JobStartTimeOverNightFlag,@JobStartTimeLocal)						 
						 )

		BEGIN
		 SELECT 1 AS SPExecStatus,
				'The Job you are trying to add will conflict with existing job. Please Try Again.' AS SPMessage		        
		 return;
		END
	  END
  
   
	BEGIN TRY
	  BEGIN TRANSACTION

		IF ( ISNULL(@AllocationsDutyID,0) = 0 )
		  BEGIN
		  
			  SELECT @AllocationsDutyID = AD_AllocationsDutyID 
			    FROM Allocations (NOLOCK) AL 
			   INNER JOIN TimeDimension TD on AL_WeekNumber = TD.ixYearWeek
			   INNER JOIN AllocationsDuties AD on AL_AllocationsID = AD_AllocationsID 
											  AND TD.ixDayInWeek = AD_iDay
			   WHERE TD.dDateTime = @DutyDate
				 AND AL_SchedulingTeamID = @teamId 
				 AND AD_DutyType = 10
		   

                SET @History2 ='This Job ( '+ @JobName + ' ) was Moved to Unallocated ' + ' by '+ @Name + ' On '
							  + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+ '<hr>';			

		  END
		ELSE
		  BEGIN
		    
			 SELECT @DutyName			= AD_DutyName,
					@DutyType			= AD_DutyType,
					@DutyDate			= AD_DutyDate,
					@DutyStartTimeSec	= AD_StartTimeSec,
					@DutyEndTimeSec		= AD_EndTimeSec,
					@DutyStartTimeLocal	= AD_DutyStartTimeLocal,
					@DutyEndTimeLocal	= AD_DutyEndTimeLocal,
					@SchedulingPersonID	= UD_UserID,
					@DisplayName		= UD_DisplayName,
					@AllocationsSPID	= ASP_AllocationsSPID
			  FROM AllocationsDuties AD
			  LEFT JOIN AllocationsScheduledPersons ASP on ASP_AllocationsDutyID = AD_AllocationsDutyID
			  LEFT JOIN UserDetails UD on UD_UserID = ASP_SchedulingPersonID
			 WHERE AD_AllocationsDutyID = @AllocationsDutyID;	  
		      
			 IF ( @DutyStartTimeLocal > DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal) ) + @JobStartTimeOverNightFlag,@JobStartTimeLocal) 
				OR @DutyEndTimeLocal < DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )
			   BEGIN
				IF (@AllocationsSPID > 0 )
				  BEGIN
				   IF ( @DutyStartTimeLocal > DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal) 
						AND @DutyEndTimeLocal < DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )
				     BEGIN					
				   			SELECT @IsDutyOverLap = IsDutyOverLap,
								   @prevOverlapMsg = PrevDayOvrlapMsg,
								   @nextOverlapMsg = NextDayOvrlapMsg
							  FROM ufn_check_DutyOverLap(@AllocationsSPID, 
												DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal),
											    DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )

							SET @OvreLapMsg = ISNULL(@prevOverlapMsg,'')+' '+ISNULL(@nextOverlapMsg,'')

							IF ( @IsDutyOverLap = 1 )
							 BEGIN
							  THROW 51001, @OvreLapMsg, 1;
							 END;

				     END
				   IF ( @DutyStartTimeLocal > DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal) 
						AND @DutyEndTimeLocal > DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )
				     BEGIN

				   			SELECT @IsDutyOverLap = IsDutyOverLap,
								   @prevOverlapMsg = PrevDayOvrlapMsg
							  FROM ufn_check_DutyOverLap_PrevDay(@AllocationsSPID, 
							  DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag ,@JobStartTimeLocal) )							

							IF ( @IsDutyOverLap = 1 )
							 BEGIN
							  THROW 51002, @prevOverlapMsg, 1;
							 END;							

				     END
				   IF ( @DutyStartTimeLocal < DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal) 
						AND @DutyEndTimeLocal < DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )
				     BEGIN

				   			SELECT @IsDutyOverLap = IsDutyOverLap,
								   @nextOverlapMsg = NextDayOvrlapMsg
							  FROM ufn_check_DutyOverLap_NextDay(@AllocationsSPID, 
											DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)+@JobEndTimeOverNightFlag),@JobEndTimeLocal)	)						

							IF ( @IsDutyOverLap = 1 )
							 BEGIN
							  THROW 51003, @nextOverlapMsg, 1;
							 END;
				     END
				   END

				   		SET @History1 ='Duty start time update because of Move job start time by ' 
									  + @Name
									  +' From '+right('0'+CAST( isnull(@DutyStartTimeSec,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@DutyStartTimeSec,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@JobStartTimeSec,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@JobStartTimeSec,0) % 3600)/60 AS varchar(2)),2)								  
									  +' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm');

				   		SET @History2 = ' Duty end time update because to Move job end time by ' + @Name 
									  + ' From '+right('0'+CAST( isnull(@DutyEndTimeSec,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@DutyEndTimeSec,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@JobEndTimeSec,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@JobEndTimeSec,0) % 3600)/60 AS varchar(2)),2)										  
									  + ' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm');

				 IF ( @DutyStartTimeLocal > DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal)  
						AND @DutyEndTimeLocal < DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )
				  BEGIN
				    
					SET @DutyStartTimeSec	= @JobStartTimeSec
					SET @DutyEndTimeSec		= @JobEndTimeSec
					SET @DutyStartTimeLocal	= DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal)
					SET @DutyEndTimeLocal	= DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)+@JobEndTimeOverNightFlag),@JobEndTimeLocal)
				    SET @History2 = @History1 + CHAR(13) + @History2

				  END
				    
				 IF ( @DutyStartTimeLocal > DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal)  
					  AND @DutyEndTimeLocal > DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )
				  BEGIN

					SET @DutyStartTimeSec	= @JobStartTimeSec
					SET @DutyStartTimeLocal	= DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal)
					SET @History2 = @History1 

				  END
				 
				 IF ( @DutyStartTimeLocal < DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobStartTimeLocal)) + @JobStartTimeOverNightFlag,@JobStartTimeLocal)  
					AND @DutyEndTimeLocal < DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal) )
				  BEGIN

					SET @DutyEndTimeSec		= @JobEndTimeSec
					SET @DutyEndTimeLocal	= DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,@JobEndTimeLocal)) + @JobEndTimeOverNightFlag,@JobEndTimeLocal)

				  END
 
				 EXEC @ReturnValue = usp_UpdateDuty @AllocationsDutyID,@DutyStartTimeSec, 
													@DutyEndTimeSec, @DutyStartTimeLocal, 
													@DutyEndTimeLocal,@UserID,@Role

					IF ( @ReturnValue > 0 )
					 BEGIN
					   THROW 51004, 'Error while updating duty details', 1;
					 END;

				 EXEC [usp_mod_AllocationHistory] @AllocationsDutyID,@DutyHistoryType,@UserID,@History2,1,'DH'

				 IF ( ISNULL (@SchedulingPersonID,0) > 0 )
				   BEGIN
				    EXEC usp_mod_AllocationHistory @AllocationsSPID,@PersonHistoryType,@UserID,@History2,1,'PH'
					EXEC @ReturnValue = usp_UpdateWTD @AllocationsSPID, @NetLogin	
				   END
						 
			    END

			END	

		 	UPDATE AllocationsJobs 
				set AJ_AllocationsDutyID = @AllocationsDutyID,
					AJ_JobStartTimeLocal = DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,AJ_JobStartTimeUTC)) + @JobStartTimeOverNightFlag, AJ_JobStartTimeUTC),
				    AJ_JobEndTimeLocal =  DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,AJ_JobEndTimeUTC)) + @JobEndTimeOverNightFlag, AJ_JobEndTimeUTC),	
				    AJ_JobStartTimeUTC = DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,AJ_JobStartTimeLocal)) + @JobStartTimeOverNightFlag, AJ_JobStartTimeLocal),
				    AJ_JobEndTimeUTC =  DATEADD(DAY, -1*(DATEDIFF(DAY,@DutyDate,AJ_JobEndTimeLocal)) + @JobEndTimeOverNightFlag,AJ_JobEndTimeLocal),	
					AJ_UpdatedBy = @UserID,
					AJ_UpdatedDate = GETUTCDATE()
			WHERE AJ_AllocateJobID = @AllocateJobID;

			SET @History2 ='This Job ( '+ @JobName + ' ) was '
							+ CASE WHEN @DutyName IS NULL THEN 'Moved to unallocated job ' 
							       ELSE 'Moved to '+@DutyName END
							+ ' by '+ @Name + ' On '
						+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm') + '<hr>';
						
			EXEC [usp_mod_AllocationHistory] @AllocateJobID,@JobHistoryType,@UserId,@History2,1

			IF(@role=1)	
			  EXEC usp_mod_PublishIndividulAllocations @AllocationsID, @AllocationsDutyID, @AllocationsSPID;

			    DECLARE @PublishStatus INT = 0

				IF(@role=1)	SET @PublishStatus = 1
				EXEC @ReturnValue = usp_CreateAllocationsUpdate  @AllocationsID,
														@AllocationsDutyID,
														@AllocationsSPID,
														@PublishStatus,
														@NetLogin
																 
				IF ( @ReturnValue > 0 )
				  BEGIN
					THROW 51000, 'Error while creating Duty update status', 1;
				  END 	

	    IF ( @@TRANCOUNT  > 0 ) 
         BEGIN
           COMMIT  TRANSACTION 
         END   
	   
		  SELECT 0 as SPExecStatus,
			     'Success' as SPMessage 
			
	END TRY
				
	BEGIN CATCH

	  IF ( @@TRANCOUNT  > 0 ) 
	   BEGIN
		ROLLBACK TRANSACTION
	   END

	  IF ( ERROR_NUMBER() < 50000 )
		INSERT INTO ErrorLog
			(ErrorNumber,
				ErrorState,
				ErrorSeverity,
				ErrorProcedure,
				ErrorLine,
				ErrorMessage,
				ErrorDateTime,
				UserName
			)
		SELECT ERROR_NUMBER() AS ErrorNumber,
			ERROR_STATE() AS ErrorState,
			ERROR_SEVERITY() AS ErrorSeverity,
			ERROR_PROCEDURE() AS ErrorProcedure,
			ERROR_LINE() AS ErrorLine,
			ERROR_MESSAGE() AS ErrorMessage,
			getutcdate(),
			@UserID	

	 	 SELECT ISNULL(@@IDENTITY,ERROR_NUMBER()) as SPExecStatus,
			    ERROR_MESSAGE() as SPMessage  

	END CATCH;

 END