USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_TermsConditionsVersion]    Script Date: 3/12/2026 10:22:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_Import_AL_A7_REF_TermsConditionsVersion]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/01/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_TermsConditionsVersion];
		
		--Update existing records
		
UPDATE T1
		SET T1.[TermsCondsVersionName] = T2.[TermsCondsVersionName]
			  ,T1.[TermsCondsVersionDescription] = T2.[TermsCondsVersionDescription]
			  ,T1.[TermsCondsVersionStoredProc] = T2.[TermsCondsVersionStoredProc]
			  ,T1.[Show_UnPaid] = T2.[Show_UnPaid]
			  ,T1.[Show_PayOvertimeBreaks] = T2.[Show_PayOvertimeBreaks]
			  ,T1.[Show_PayEDPx15] = T2.[Show_PayEDPx15]
			  ,T1.[Show_PayEDPx10] = T2.[Show_PayEDPx10]
			  ,T1.[Show_CompEDP] = T2.[Show_CompEDP]
			  ,T1.[Show_TOILEDP] = T2.[Show_TOILEDP]
			  ,T1.[Show_PayNights] = T2.[Show_PayNights]
			  ,T1.[Show_PayAdditional] = T2.[Show_PayAdditional]
			  ,T1.[Show_PayPHL] = T2.[Show_PayPHL]
			  ,T1.[Show_PayUPA] = T2.[Show_PayUPA]
			  ,T1.[Show_PayERR] = T2.[Show_PayERR]
			  ,T1.[Show_PayCCP] = T2.[Show_PayCCP]
			  ,T1.[Show_PayStatHoliday] = T2.[Show_PayStatHoliday]
			  ,T1.[Show_PayUnder10Break] = T2.[Show_PayUnder10Break]
			  ,T1.[Show_PayUnder11Break] = T2.[Show_PayUnder11Break]
			  ,T1.[Show_TOILUnder11Break] = T2.[Show_TOILUnder11Break]
			  ,T1.[Show_PayOver12Duty] = T2.[Show_PayOver12Duty]
			  ,T1.[Show_TOILOver12Duty] = T2.[Show_TOILOver12Duty]
			  ,T1.[AutoPayOver12] = T2.[AutoPayOver12]
			  ,T1.[AutoTOIL] = T2.[AutoTOIL]
			  ,T1.[IsDefault] = T2.[IsDefault]
			  ,T1.[IsActive] = T2.[IsActive]
		FROM [REF_TermsConditionsVersion] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_TermsConditionsVersion] T2 ON T1.TermsCondsVersionName = T2.TermsCondsVersionName
		WHERE T1.TermsCondsVersionName = T2.TermsCondsVersionName
        
		
		--Insert new records
		INSERT INTO [REF_TermsConditionsVersion] (
			   [TermsCondsVersionName]
			  ,[TermsCondsVersionDescription]
			  ,[TermsCondsVersionStoredProc]
			  ,[Show_UnPaid]
			  ,[Show_PayOvertimeBreaks]
			  ,[Show_PayEDPx15]
			  ,[Show_PayEDPx10]
			  ,[Show_CompEDP]
			  ,[Show_TOILEDP]
			  ,[Show_PayNights]
			  ,[Show_PayAdditional]
			  ,[Show_PayPHL]
			  ,[Show_PayUPA]
			  ,[Show_PayERR]
			  ,[Show_PayCCP]
			  ,[Show_PayStatHoliday]
			  ,[Show_PayUnder10Break]
			  ,[Show_PayUnder11Break]
			  ,[Show_TOILUnder11Break]
			  ,[Show_PayOver12Duty]
			  ,[Show_TOILOver12Duty]
			  ,[AutoPayOver12]
			  ,[AutoTOIL]
			  ,[IsDefault]
			  ,[IsActive]
			)  
		SELECT [TermsCondsVersionName]
			  ,[TermsCondsVersionDescription]
			  ,[TermsCondsVersionStoredProc]
			  ,[Show_UnPaid]
			  ,[Show_PayOvertimeBreaks]
			  ,[Show_PayEDPx15]
			  ,[Show_PayEDPx10]
			  ,[Show_CompEDP]
			  ,[Show_TOILEDP]
			  ,[Show_PayNights]
			  ,[Show_PayAdditional]
			  ,[Show_PayPHL]
			  ,[Show_PayUPA]
			  ,[Show_PayERR]
			  ,[Show_PayCCP]
			  ,[Show_PayStatHoliday]
			  ,[Show_PayUnder10Break]
			  ,[Show_PayUnder11Break]
			  ,[Show_TOILUnder11Break]
			  ,[Show_PayOver12Duty]
			  ,[Show_TOILOver12Duty]
			  ,[AutoPayOver12]
			  ,[AutoTOIL]
			  ,[IsDefault]
			  ,[IsActive]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_TermsConditionsVersion] T2 
		  WHERE NOT EXISTS (SELECT T1.TermsCondsVersionName FROM [REF_TermsConditionsVersion] T1 
		  WHERE T1.TermsCondsVersionName = T2.TermsCondsVersionName)
        
END

