USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_StaffDetailByUserId]    Script Date: 23/10/2025 19:36:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		Lalan Sahu
-- Create date: 25/07/2025
-- Description:	SP to get list of Net Login of All Users.
-- =============================================
CREATE OR ALTER   PROCEDURE [dbo].[usp_get_StaffDetailByUserId]
@userid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
SELECT SD.*,UD.UD_DisplayName as DisplayName, UD.UD_NetLogin, UD.UD_DisplayFirstName, UD.UD_DisplayLastName, UD.UD_InternalEmail, UD.UD_EmpNumber FROM UserDetails UD 
left JOIN StaffDetails SD on UD.UD_NetLogin = SD.NetLogin
where UD.UD_UserID = @userid
END