USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_ExportRota]    Script Date: 28/10/2025 17:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER        PROCEDURE [dbo].[usp_ExportRota]
	-- Add the parameters for the stored procedure here
	@TeamID int,
	@UserID int,
	@status	 INT OUTPUT


AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @total int = 0,
			@ReturnStatus INT,
			@WeekNumber INT,
			@NetLogin VARCHAR(25),
			@SchedulingPersonID INT;

	DECLARE @TempSP TABLE ( SchedulingPersonID INT);

	SELECT @total = count(RotaID)
	  FROM MasterRotas (nolock)
	  WHERE TeamID = @TeamID
	  AND (IsExported=0 OR IsExported IS NULL);

	  INSERT INTO @TempSP (SchedulingPersonID)
	  SELECT DISTINCT RP.ScheduledPersonID
	    FROM MasterRotas MR
	   INNER JOIN RotaPeople RP ON MR.RotaID = RP.RotaID
	   WHERE RP.IsActive = 1
	     AND MR.TeamID = @TeamID
		 AND (MR.IsExported=0 OR MR.IsExported IS NULL);

	IF(@total>0)
		BEGIN
			BEGIN TRY

		  SELECT @NetLogin = UD_NetLogin
		    FROM UserDetails
		   WHERE UD_UserID = @UserID

		  DELETE Exported_rota
		   WHERE SchedulingTeamId = @TeamID;

			INSERT INTO dbo.Exported_rota
				(
				RotaID
				,RotaWeek
				,IsTemplate
				,AssignmentStartWeek
				,WeeksInRota
				,MasterDutyID
				,DutyName
				,SchedulingPersonID
				,DOTW
				,Duration
				,StartTime
				,EndTime
				,SchedulingTeamId
				,IsHomeTeam
				,DutyColourID
				,DisplayName
				,NetLogin
				,StaffNumber
				,StaffTextColour
				,SortCode,
				DutyStartDate,
				DutyEndDate,
				RotaAssignmentStartDate,
				RotaAssignmentEndDate,
				TeamJoinDate,
				TeamJoinEndDate,
				AssignmentEndWeek,
				RosterStartWeek,
				StaffBackColour
				)
		SELECT rd.RotaID,
		       rd.RotaWeek,
			   rd.IsTemplate,
			   mr.RotaStartWeek,
			   mr.WeeksInRota,
		       md.MasterDutyID,
			   md.DutyName,
			   stl.ScheduledPersonID as SchedulingPersonID,
			   rd.DOTW,
               case  when ISNULL(md.Duration,0) = 0 then (md.EndTime - md.StartTime) Else md.Duration end as Duration,
			   md.StartTime,
			   md.EndTime,
			   stl.TeamID as SchedulingTeamId,
			   stl.IsHomeTeam,
			   md.DutyColourID,
			   sp.UD_DisplayName,
			   sp.UD_NetLogin,
			   sp.UD_StaffNumber,
			   ISNULL(stl.fontcolour,'#000000') AS StaffTextColour,
			   stl.SortCode,
			   md.StartDate,
			   md.EndDate,
			   rp.StartDate,
			   rp.EndDate,
			   stl.StartDate,
			   stl.EndDate,
			   convert(varchar,DATEPART(YEAR,rp.EndDate)) +''+convert(varchar,FORMAT(DATEPART(Week,rp.EndDate),'00')) as EndWeek,
			   mr.RotaStartWeek,
			   ISNULL(stl.BackgroundColour,'#cccccc') AS StaffBackColour
          FROM ScheduledPersonTeam_LINK as stl (NOLOCK)
         INNER JOIN RotaPeople as rp (NOLOCK) on rp.ScheduledPersonID = stl.ScheduledPersonID
         INNER JOIN MasterRotas as mr (NOLOCK) on mr.RotaID = rp.RotaID  and mr.TeamID = stl.TeamID
         INNER JOIN RotaDuties as rd (NOLOCK) ON rd.RotaID = mr.RotaID
         INNER JOIN MasterDuties as md (NOLOCK) on md.MasterDutyID = rd.MasterDutyID
         INNER JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID =stl.ScheduledPersonID
         WHERE stl.IsHomeTeam = 1
		   and stl.scheduledType = 1
		   AND mr.IsActive=1
		   AND rd.IsActive =1
		   AND md.IsActive=1
		   AND rp.isActive=1
		   AND stl.TeamID =  @TeamID

	--Upadte Rota Status

		UPDATE dbo.MasterRotas
		SET IsExported = 1,
		    ExportedOn=GETDATE(),
		    ExportedBy=@UserID
		WHERE TeamID = @TeamID;

	  DECLARE CUR_AccWeeks CURSOR FOR
	  SELECT DISTINCT AccPeriodStartWeek,
					  SchedulingPersonID
	    FROM AccPeriodROTADurationSummary APS
	   INNER JOIN @TempSP TP ON APS.ScheduledPersonID = TP.SchedulingPersonID
	   WHERE AccPeriodEndDate >= GETDATE()

	   OPEN CUR_AccWeeks

	   FETCH NEXT FROM CUR_AccWeeks
	   INTO @WeekNumber,
			@SchedulingPersonID

		WHILE @@FETCH_STATUS = 0
		  BEGIN

		   EXEC @ReturnStatus = usp_Create_ROTAAccPeriodSummary @WeekNumber, @TeamID, @SchedulingPersonID, @NetLogin

		   IF ( @ReturnStatus > 0 )
		    BEGIN
			  CLOSE CUR_AccWeeks

			  DEALLOCATE CUR_AccWeeks

			  SELECT 3 intstatus
			  RETURN 0

			END

		   FETCH NEXT FROM CUR_AccWeeks
		   INTO @WeekNumber,
				@SchedulingPersonID

		  END

	  CLOSE CUR_AccWeeks

      DEALLOCATE CUR_AccWeeks

		SET @status = 1;

		SELECT @status intstatus

		return

	 END TRY
			BEGIN CATCH
				SET @status = 0;
				INSERT INTO ErrorLog
				VALUES
			  (
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   'usp_ExportRota',
			   ERROR_MESSAGE(),
			   GETDATE(),
			   @UserID
			  );
				SELECT @status intstatus;
				return
			END CATCH
		END
	ELSE
		BEGIN
			SET @status = 2;
			SELECT @status intstatus;
				return
		END
END