USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_rolesList]    Script Date: 28/11/2025 20:39:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_get_rolesList] 
	-- Add the parameters for the stored procedure here
	@action Varchar(10),
	@roletype Varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @schedulerroleid INT
	DECLARE @facilityAdminroleid INT = 0
    -- Insert statements for procedure here
	IF @action = 'all'
	Begin

	SELECT * from REF_Roles where  IsActive = 1 order by isSequence,RoleID ASC
	End
	ELSE
	Begin
	select @schedulerroleid = RoleID from REF_Roles where RoleName = 'Scheduled Person'
	select @facilityAdminroleid = RoleID from REF_Roles where RoleName = 'Facility Administrator'
	SELECT * from REF_Roles WHERE RoleID NOT IN (1,2,18,19,@facilityAdminroleid,@schedulerroleid) and IsActive = 1 AND isAdditional = @roletype  order by isSequence,RoleID ASC
	END
END
