USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_Create_Allocations]    Script Date: 30/03/2026 14:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE  [dbo].[usp_Create_Allocations]
@pWeekNumber     INT,
@pTeamId       INT,
@pNetLogin           VARCHAR(30)
AS
BEGIN

   SET NOCOUNT ON;
   SET DATEFORMAT YMD;

   DECLARE    @vMasterDuty    INT,
			  @viday          INT,
			  @vdutycount     INT,
			  @vAllocationID  INT,
			  @vname          VARCHAR(50),
			  @vuserID        INT,
			  @ALID           INT,
			  @LeaveID        INT,
			  @return_value   INT,
			  @LeaveType      VARCHAR(20),
			  @DutyName       NVARCHAR(100),
			  @IsHomeTeam     INT,
			  @DutyColourID   INT,
			  @StartDate      VARCHAR(22),
			  @EndDate        VARCHAR(22),
			  @FRSPID         INT,
			  @FRTeamID       INT,
              @StartWeek      INT,
			  @EndWeek        INT,
			  @AllocDutyHistoryType INT,
			  @AllocSPHistoryType INT,
			  @AllocJobHistoryTye INT,
			  @WeekStatus		INT,
			  @vDelAllocationID INT,
			  @OtherBBCALID		INT,
			  @FreelancerALID	INT,
			  @FreelancerTeamID	INT,
			  @OtherBBCTeamID	INT,
			  @ReturnValue		INT,
			  @MDDutyDate		DATE;


   DECLARE @TempDuties TABLE ( MasterDutyID INT,
                               iDay INT);

   DECLARE @TempAllocationsDuties TABLE ( AllocationsDutyID INT);

   DECLARE @TempSPList TABLE ( SchedulingPersonID	INT,
                               SchedulingTeamId		INT,
							   SchedulingTeamName	VARCHAR(120) );

   DECLARE @TempRequests TABLE (	AllocationsID	INT,
									WeekNumber		INT,
									iday			INT,
									schedulingpersonid	INT,
									ShowLock			INT,
									LockIconColour		INT,
									ReqCount			INT)


      SELECT  @vname =  UD_DisplayName,
			  @vuserID = UD_UserID
	    FROM UserDetails
	   WHERE UD_NetLogin = @pNetLogin


	   SELECT @vAllocationID = AL_AllocationsID,
			  @WeekStatus =  AL_Status
		FROM Allocations (NOLOCK)
       WHERE AL_WeekNumber = @pweekNumber
         AND AL_SchedulingTeamId = @pteamId

	   select @MDDutyDate = MIN(ddatetime) 
	     from TimeDimension 
		where ixYearWeek = @pWeekNumber


	IF ( ISNULL(@WeekStatus,9)  in (0,1) )
	 BEGIN
		RETURN 0
	 END

    BEGIN TRY
        BEGIN TRANSACTION

				SELECT @AllocDutyHistoryType = id
                FROM   HistoryTypes
                WHERE  historytype = 'AllocationDuty'

				SELECT @AllocSPHistoryType = id
                FROM   HistoryTypes
                WHERE  historytype = 'AllocationScheduledPerson'

				SELECT @AllocJobHistoryTye = id
				FROM   historytypes
				WHERE  historytype='AllocationJobs'

        -- Week Creation details


		IF ( ISNULL(@WeekStatus,0) NOT IN (2,9) )
		 BEGIN

			 INSERT INTO  Allocations
					( AL_WeekNumber,
					  AL_SchedulingTeamId,
					  AL_Status,
					  AL_CreatedBy,
					  AL_CreatedDate)
			 Values ( @pweekNumber,
					  @pteamId,
					  0,
					  @vuserID,
					  getutcdate()
					)

            SET @vAllocationID = @@Identity

		 END


		IF ( ISNULL(@WeekStatus,0) IN (2,9) )
		 BEGIN

			INSERT INTO Allocations_DEL (
											AL_ORIG_AllocationsID,
											AL_WeekNumber,
											AL_SchedulingTeamID,
											AL_Status,
											AL_CreatedBy,
											AL_CreatedDate,
											AL_UpdatedBy,
											AL_UpdatedDate)
					SELECT  AL_AllocationsID,
						    AL_WeekNumber,
						    AL_SchedulingTeamID,
							AL_Status,
							AL_CreatedBy,
							AL_CreatedDate,
							@vuserID,
							getutcdate()
					  FROM  Allocations
					 WHERE  AL_AllocationsID = @vAllocationID;

					 SET @vDelAllocationID = @@Identity

					 INSERT INTO AllocationsDuties_DEL (
							AD_ORIG_AllocationsDutyID,
							AD_AllocationsID,
							AD_DutyName,
							AD_Duration,
							AD_iDay,
							AD_StartTimeSec,
							AD_EndTimeSec,
							AD_DutyBreakTime,
							AD_DutyDate,
							AD_DutyStartTimeUTC,
							AD_DutyEndTimeUTC,
							AD_DutyStartTimeLocal,
							AD_DutyEndTimeLocal,
							AD_MasterDutyID,
							AD_DutyType,
							AD_DutyStatus,
							AD_DutyColourID,
							AD_Comments,
							AD_isAttention,
							AD_isRequest,
							AD_DutyProgramID1,
							AD_DutyProgramID2,
							AD_DutyProgramID3,
							AD_DutyProgramID4,
							AD_DutyProgramID5,
							AD_DutyProgramID6,
							AD_PlannedDuration,
							AD_PlannedDutyBreakTime,
							AD_IsNeedCovering,
							AD_IsOverrideOver12,
							AD_IsDutyEdited,
							AD_IsEditedDutyAttention,
							AD_CreatedBy,
							AD_CreatedDate,
							AD_UpdatedBy,
							AD_UpdatedDate)
				   SELECT   AD_AllocationsDutyID,
							@vDelAllocationID,
							AD_DutyName,
							AD_Duration,
							AD_iDay,
							AD_StartTimeSec,
							AD_EndTimeSec,
							AD_DutyBreakTime,
							AD_DutyDate,
							AD_DutyStartTimeUTC,
							AD_DutyEndTimeUTC,
							AD_DutyStartTimeLocal,
							AD_DutyEndTimeLocal,
							AD_MasterDutyID,
							AD_DutyType,
							AD_DutyStatus,
							AD_DutyColourID,
							AD_Comments,
							AD_isAttention,
							AD_isRequest,
							AD_DutyProgramID1,
							AD_DutyProgramID2,
							AD_DutyProgramID3,
							AD_DutyProgramID4,
							AD_DutyProgramID5,
							AD_DutyProgramID6,
							AD_PlannedDuration,
							AD_PlannedDutyBreakTime,
							AD_IsNeedCovering,
							AD_IsOverrideOver12,
							AD_IsDutyEdited,
							AD_IsEditedDutyAttention,
							AD_CreatedBy,
							AD_CreatedDate,
							@vuserID,
							getutcdate()
					  FROM AllocationsDuties
					 WHERE AD_AllocationsID = @vAllocationID

		INSERT INTO AllocationsJobs_DEL(
							AJ_ORIG_AllocateJobID,
							AJ_AllocationsDutyID,
							AJ_MasterJobID,
							AJ_ProgrammeID,
							AJ_Contact,
							AJ_Location,
							AJ_JobName,
							AJ_JobStartTimeSec,
							AJ_JobEndTimeSec,
							AJ_JobStartTimeUTC,
							AJ_JobEndTimeUTC,
							AJ_JobStartTimeLocal,
							AJ_JobEndTimeLocal,
							AJ_JobBGColour,
							AJ_JobFontColour,
							AJ_Comments,
							AJ_JobStatus,
							AJ_JobInfo,
							AJ_IsEditedJobAttention,
							AJ_CreatedBy,
							AJ_CreatedDate,
							AJ_UpdatedBy,
							AJ_UpdatedDate)
			         SELECT AJ_AllocateJobID,
							AD_AllocationsDutyID,
							AJ_MasterJobID,
							AJ_ProgrammeID,
							AJ_Contact,
							AJ_Location,
							AJ_JobName,
							AJ_JobStartTimeSec,
							AJ_JobEndTimeSec,
							AJ_JobStartTimeUTC,
							AJ_JobEndTimeUTC,
							AJ_JobStartTimeLocal,
							AJ_JobEndTimeLocal,
							AJ_JobBGColour,
							AJ_JobFontColour,
							AJ_Comments,
							AJ_JobStatus,
							AJ_JobInfo,
							AJ_IsEditedJobAttention,
							AJ_CreatedBy,
							AJ_CreatedDate,
							AJ_UpdatedBy,
							AJ_UpdatedDate
					FROM   AllocationsJobs AJ
					INNER JOIN AllocationsDuties_DEL AD on AD.AD_ORIG_AllocationsDutyID = AJ_AllocationsDutyID
					WHERE AD_AllocationsID = @vDelAllocationID

			INSERT INTO AllocationsScheduledPersons_DEL( ASP_ORIG_AllocationsSPID,
											ASP_AllocationsID,
											ASP_AllocationsDutyID,
											ASP_SchedulingPersonID,
											ASP_iDay,
											ASP_SortCode,
											ASP_LeaveStatus,
											ASP_LeaveType,
											ASP_DutyDate,
											ASP_WIADStatus,
											ASP_MarkedOverTime,
											ASP_OverTimeHours,
											ASP_DutyTeamID,
											ASP_SigninStartTime,
											ASP_SigninEndTime,
											ASP_SigninStatus,
											ASP_SigninINBuilding,
											ASP_EDPStatus,
											ASP_Comments,
											ASP_LeaveStartTimeSec,
											ASP_LeaveEndTimeSec,
											ASP_LeaveStartTimeLocal,
											ASP_LeaveEndTimeLocal,
											ASP_UnderElevenBreakStatus,
											ASP_CalculatedUnderElevenHrs,
											ASP_OverrideUnderElevenHrs,
											ASP_RequestsStatus,
											ASP_RequestsCount,
											ASP_LockRequestsStatus,
											ASP_ChargingStatus,
											ASP_CreatedBy,
											ASP_CreatedDate,
											ASP_UpdatedBy,
											ASP_UpdatedDate)
								SELECT		ASP_AllocationsSPID,
											@vDelAllocationID,
											ADL.AD_AllocationsDutyID,
											ASP_SchedulingPersonID,
											ASP_iDay,
											ASP_SortCode,
											ASP_LeaveStatus,
											ASP_LeaveType,
											ASP_DutyDate,
											ASP_WIADStatus,
											ASP_MarkedOverTime,
											ASP_OverTimeHours,
											ASP_DutyTeamID,
											ASP_SigninStartTime,
											ASP_SigninEndTime,
											ASP_SigninStatus,
											ASP_SigninINBuilding,
											ASP_EDPStatus,
											ASP_Comments,
											ASP_LeaveStartTimeSec,
											ASP_LeaveEndTimeSec,
											ASP_LeaveStartTimeLocal,
											ASP_LeaveEndTimeLocal,
											ASP_UnderElevenBreakStatus,
											ASP_CalculatedUnderElevenHrs,
											ASP_OverrideUnderElevenHrs,
											ASP_RequestsStatus,
											ASP_RequestsCount,
											ASP_LockRequestsStatus,
											ASP_ChargingStatus,
											ASP_CreatedBy,
											ASP_CreatedDate,
											@vuserID,
											getutcdate()
									FROM	AllocationsScheduledPersons AP
									INNER JOIN AllocationsDuties_DEL ADL ON AP.ASP_AllocationsDutyID = ADL.AD_ORIG_AllocationsDutyID
									WHERE   AP.ASP_AllocationsID = @vAllocationID

		 INSERT INTO AllocationsAddPersons_DEL (AAP_ORIG_AllocationsAPID,
											AAP_AllocationsID,
											AAP_AllocationsSPID,
											AAP_SchedulingPersonID,
											AAP_Status,
											AAP_iDay,
											AAP_DutyDate,
											AAP_Comments,
											AAP_SortCode,
											AAP_CreatedBy,
											AAP_CreatedDate,
											AAP_UpdatedBy,
											AAP_UpdatedDate)
								    SELECT  AAP_AllocationsAPID,
											@vDelAllocationID,
											AP.ASP_AllocationsSPID,
											AAP_SchedulingPersonID,
											AAP_Status,
											AAP_iDay,
											AAP_DutyDate,
											AAP_Comments,
											AAP_SortCode,
											AAP_CreatedBy,
											AAP_CreatedDate,
											@vuserID,
											getutcdate()
									 FROM AllocationsAddPersons AAP
									INNER JOIN  AllocationsScheduledPersons_DEL  AP on AAP.AAP_AllocationsSPID = AP.ASP_ORIG_AllocationsSPID
									WHERE AAP.AAP_AllocationsID = @vAllocationID

		INSERT INTO AllocationsDelPersons_DEL(  ADP_Orig_AllocationsADPID,
												ADP_AllocationsID,
												ADP_SchedulingPersonID,
												ADP_Status,
												ADP_CreatedBy,
												ADP_CreatedDate,
												ADP_UpdatedBy,
												ADP_UpdatedDate)
		     SELECT ADP_AllocationsADPID,
					@vDelAllocationID,
					ADP_SchedulingPersonID,
					ADP_Status,
					ADP_CreatedBy,
					ADP_CreatedDate,
					ADP_UpdatedBy,
					ADP_UpdatedDate
			   FROM AllocationsDelPersons ADP
			  WHERE ADP.ADP_AllocationsID = @vAllocationID

			  DELETE AllocationsDelPersons
			   WHERE ADP_AllocationsID = @vAllocationID


			  DELETE AU
				FROM AllocationsUpdated AU
			   INNER JOIN AllocationsScheduledPersons ASP ON AU_AllocationsSPID = ASP_AllocationsSPID
			   where ASP_AllocationsID =  @vAllocationID
				 AND ISNULL(ASP_DutyTeamID,@pTeamId) =  @pTeamId

			  DELETE AU
				FROM AllocationsUpdated AU
			   INNER JOIN AllocationsDuties AD ON AU_AllocationsDutyID = AD_AllocationsDutyID
			   where AD_AllocationsID =  @vAllocationID

			   DELETE AllocationsAddPersons
			    where AAP_AllocationsID = @vAllocationID

			  DELETE AAP
			    FROM AllocationsAddPersons AAP
				INNER JOIN AllocationsScheduledPersons ASP ON ASP.ASP_AllocationsSPID = AAP.AAP_AllocationsSPID
			    where ASP_AllocationsID = @vAllocationID
				  AND ASP_DutyTeamID = @pTeamId

			   DELETE AllocationsScheduledPersons
			    where ASP_AllocationsID = @vAllocationID
				  AND ISNULL(ASP_DutyTeamID,@pTeamId) =  @pTeamId

			   DELETE AJ
				 FROM AllocationsJobs AJ
				INNER JOIN AllocationsDuties AD ON AJ_AllocationsDutyID = AD_AllocationsDutyID
				WHERE AD_AllocationsID = @vAllocationID

			   DELETE AllocationsDuties
			    WHERE AD_AllocationsID = @vAllocationID

		       UPDATE Allocations 
				  SET AL_Status = 0, 
					  AL_CreatedBy = @vuserID, 
					  AL_CreatedDate = getutcdate(),
					  AL_UpdatedBy = NULL,
					  AL_UpdatedDate = NULL
			    WHERE AL_AllocationsID = @vAllocationID

		 END


			INSERT INTO history
				  (
						historytype,
						attributeid,
						datetime,
						userid,
						history
				  )
			SELECT ID AS historytype,
				   @vAllocationID AS attributeid,
				   getutcdate(),
				   @vuserID,
				   'The allocations for '
				   +RIGHT(cast(@pWeekNumber as VARCHAR),2) + '/'
				   +LEFT(cast(@pWeekNumber as VARCHAR),len(cast(@pWeekNumber as VARCHAR))-2)
				   +' created by '
				   +@vname+' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm') +'.'
			FROM   HistoryTypes
			where  HistoryType = 'PublishWeek'

         -- Create ROTA duration Summary Start


		   EXEC @ReturnValue = usp_Create_ROTAAccPeriodSummary @pWeekNumber, @pTeamID,NULL,@pNetLogin;


		 -- Create ROTA duration Summary End

         SELECT @DutyColourID = MasterDutyColourID
           FROM REF_MasterDutyColours MC (NOLOCK)
          INNER JOIN schedulingTeams ST ON ST.divisionId = MC.AreaID
          WHERE UPPER(ColourName) like '%LEAVE%'
            AND ST.schedulingTeamId = @pteamId

		 -- Create Dummy Duties Start

         INSERT INTO AllocationsDuties
                (
				AD_AllocationsID,
				AD_DutyName,
				AD_iDay,
				AD_DutyDate,
				AD_DutyStartTimeUTC,
				AD_DutyEndTimeUTC,
				AD_DutyStartTimeLocal,
				AD_DutyEndTimeLocal,
				AD_DutyType,
				AD_DutyStatus,
				AD_CreatedBy,
				AD_CreatedDate
				 )
          SELECT @vAllocationID AS allocationid,
                 'U',
				 ixDayInWeek,
				 dDateTime,
				 NULL,
				 NULL,
				 NULL,
				 NULL,
				 7,
				 1,
				 @vuserID,
				 getutcdate()
			FROM TimeDimension
           where ixYearWeek=@pweekNumber

         INSERT INTO AllocationsDuties
                (
				AD_AllocationsID,
				AD_DutyName,
				AD_iDay,
				AD_DutyDate,
				AD_DutyStartTimeUTC,
				AD_DutyEndTimeUTC,
				AD_DutyStartTimeLocal,
				AD_DutyEndTimeLocal,
				AD_DutyType,
				AD_DutyStatus,
				AD_CreatedBy,
				AD_CreatedDate
				 )
          SELECT @vAllocationID AS allocationid,
                 'Unassigned Job',
				 ixDayInWeek,
				 dDateTime,
				 NULL,
				 NULL,
				 NULL,
				 NULL,
				 10,
				 0,
				 @vuserID,
				 getutcdate()
			FROM TimeDimension
           where ixYearWeek=@pweekNumber

         INSERT INTO AllocationsDuties
                (
				AD_AllocationsID,
				AD_DutyName,
				AD_iDay,
				AD_DutyDate,
				AD_DutyStartTimeUTC,
				AD_DutyEndTimeUTC,
				AD_DutyStartTimeLocal,
				AD_DutyEndTimeLocal,
				AD_DutyType,
				AD_DutyStatus,
				AD_DutyColourID,
				AD_CreatedBy,
				AD_CreatedDate
				 )
          SELECT @vAllocationID AS allocationid,
                 'Leave',
				 ixDayInWeek,
				 dDateTime,
				 NULL,
				 NULL,
				 NULL,
				 NULL,
				 8,
				 1,
				 @DutyColourID,
				 @vuserID,
				 getutcdate()
			FROM TimeDimension
           where ixYearWeek=@pweekNumber


		 -- Create Dummy Duties End

		 -- Create Leave Start

          INSERT INTO AllocationsScheduledPersons(
				 ASP_AllocationsID,
				 ASP_AllocationsDutyID,
				 ASP_SchedulingPersonID,
				 ASP_DutyTeamID,
				 ASP_iDay,
				 ASP_SortCode,
				 ASP_LeaveStatus,
				 ASP_leaveType,
				 ASP_DutyDate,
				 ASP_EDPStatus,
				 ASP_LeaveStartTimeSec,
				 ASP_LeaveEndTimeSec,
				 ASP_LeaveStartTimeLocal,
				 ASP_LeaveEndTimeLocal,
				 ASP_LeaveColourID,
				 ASP_LeaveDuration,
				 ASP_CreatedBy,
				 ASP_CreatedDate)
		  SELECT AL_AllocationsID AS allocationid,
				 AD.AD_AllocationsDutyID,
				 SL.ScheduledPersonid,
				 AL_SchedulingTeamID,
				 AD.AD_iDay,
				 SL.SortCode,
				 CASE   WHEN LA.Approved = 1 AND LA.Deleted = 0
						THEN 1
						WHEN LA.Approved = 0 AND LA.Deleted = 0
						THEN 0
						WHEN LA.Deleted = 1 THEN 9 END,
				 LA.LeaveTypeID,
				 AD.AD_DutyDate,
				 0,
				 LA.LeaveStartTime,
				 LA.LeaveEndTime,
				 LA.LeaveStartDateTime,
				 LA.LeaveEndDateTime,
				 @DutyColourID,
				 CASE WHEN ISNULL(LA.LeaveTypeID,0) IN (3,4,5)
					  THEN LA.Totalhrs
					  ELSE LA.Totalhrs*60*60
					  END AS LeaveDuration,
				 @vuserID,
                 getutcdate()
            FROM Allocations AL
		   INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID
           INNER JOIN ScheduledPersonTeam_LINK SL ON SL.TeamID = AL.AL_SchedulingTeamID
		   INNER JOIN LeaveApplications LA  on LA.dDate = AD.AD_DutyDate AND LA.SchedulingPersonID = sl.ScheduledPersonID
           WHERE AD.AD_DutyDate >= SL.startdate AND AD.AD_DutyDate <= SL.enddate
             AND AD.AD_DutyType = 8
			 AND SL.scheduledtype = 1
			 AND SL.IsHomeTeam = 1
			 AND LA.Approved = 1
			 AND LA.Deleted = 0
			 AND ISNULL(LA.LeaveTypeID,0) <> 6
             AND AL_AllocationsID = @vAllocationID

		 -- Create Leave End

         --  Creating Master Duties

		BEGIN

			DECLARE CUR_Pend_Duty CURSOR FOR
			SELECT MasterDutyID,
			       iDay,
				   max(DutyCount)
			  FROM
					(select MasterDutyID,
					        iDay,
							count(1) DutyCount
					   from ufn_get_SchedulingTeamROTA(@pweekNumber,@pteamId)
					  group by MasterDutyID,
					           iDay
					 having count(1) > 0
					  union all
					 SELECT masterdutyid,
							CASE
							WHEN iday = 'Saturday' THEN 0
							WHEN iday = 'Sunday' THEN 1
							WHEN iday = 'Monday' THEN 2
							WHEN iday = 'Tuesday' THEN 3
							WHEN iday = 'Wednesday' THEN 4
							WHEN iday = 'Thursday' THEN 5
							WHEN iday = 'Friday' THEN 6							
							END AS IDAY,
							dutycount
					   FROM (SELECT masterdutyid,
									CASE WHEN @MDDutyDate between StartDate and EndDate and DutyTypeID = 6 
										 then saturday
										 WHEN ISNULL(DutyTypeID,1) <> 6 
										 then saturday END saturday,
									CASE WHEN DATEADD(DAY,1,@MDDutyDate) between StartDate and EndDate and DutyTypeID = 6 
										 then sunday
										 WHEN ISNULL(DutyTypeID,1) <> 6 
										 then sunday END sunday,	
									CASE WHEN DATEADD(DAY,2,@MDDutyDate) between StartDate and EndDate and DutyTypeID = 6 
										 then monday
										 WHEN ISNULL(DutyTypeID,1) <> 6 
										 then monday END monday,
									CASE WHEN DATEADD(DAY,3,@MDDutyDate) between StartDate and EndDate and DutyTypeID = 6 
										 then tuesday
										 WHEN ISNULL(DutyTypeID,1) <> 6 
										 then tuesday END tuesday,		
									CASE WHEN DATEADD(DAY,4,@MDDutyDate) between StartDate and EndDate and DutyTypeID = 6 
										 then wednesday
										 WHEN ISNULL(DutyTypeID,1) <> 6 
										 then wednesday END wednesday,		
									CASE WHEN DATEADD(DAY,5,@MDDutyDate) between StartDate and EndDate and DutyTypeID = 6 
										 then thursday
										 WHEN ISNULL(DutyTypeID,1) <> 6 
										 then thursday END thursday,
									CASE WHEN DATEADD(DAY,6,@MDDutyDate) between StartDate and EndDate and DutyTypeID = 6 
										 then friday
										 WHEN ISNULL(DutyTypeID,1) <> 6 
										 then friday END friday		
							   FROM MasterDuties
							  WHERE teamid = @pteamId
							    AND @pweekNumber BETWEEN startweek AND endweek
								AND IsActive = 1
							) MD
						UNPIVOT (dutycount
							FOR iday IN (saturday,
								sunday,
								monday,
								tuesday,
								wednesday,
								thursday,
								friday) ) AS md1
								WHERE  dutycount > 0
					) fd
					group by MasterDutyID, iDay

            OPEN CUR_Pend_Duty

			FETCH NEXT FROM CUR_Pend_Duty INTO  @vMasterDuty,
												@viday,
												@vdutycount

			WHILE @@FETCH_STATUS = 0
			BEGIN
				WHILE @vdutycount > 0
				BEGIN

					INSERT INTO @TempDuties VALUES (@vMasterDuty,@viday)

					SET @vdutycount = @vdutycount - 1

				END

				FETCH NEXT FROM CUR_Pend_Duty INTO
				@vMasterDuty,
				@viday,
				@vdutycount
			END

			CLOSE CUR_Pend_Duty;

			DEALLOCATE CUR_Pend_Duty;

		  END


          INSERT INTO AllocationsDuties
                (
				AD_AllocationsID,
				AD_DutyName,
				AD_Duration,
				AD_PlannedDuration,
				AD_iDay,
				AD_StartTimeSec,
				AD_EndTimeSec,
				AD_Comments,
				AD_DutyDate,
				AD_DutyStartTimeUTC,
				AD_DutyEndTimeUTC,
				AD_DutyStartTimeLocal,
				AD_DutyEndTimeLocal,
				AD_DutyBreakTime,
				AD_MasterDutyID,
				AD_DutyType,
				AD_DutyStatus,
				AD_DutyColourID,
				AD_isAttention,
				AD_isRequest,
				AD_PlannedDutyBreakTime,
				AD_IsNeedCovering,
				AD_IsOverrideOver12,
				AD_IsDutyEdited,
				AD_DutyProgramID1,
				AD_DutyProgramID2,
				AD_DutyProgramID3,
				AD_DutyProgramID4,
				AD_DutyProgramID5,
				AD_DutyProgramID6,
				AD_CreatedBy,
				AD_CreatedDate
				 )
          SELECT @vAllocationID AS allocationid,
                 MD.dutyname,
                 case when isnull(MD.duration,0) = 0 then
                 case when MD.endtime > MD.starttime then MD.endtime- MD.starttime
                      when MD.endtime < MD.starttime then (86400-MD.starttime)+MD.endtime end
                      else  MD.duration end as duration,
                 case when isnull(MD.duration,0) = 0 then
                 case when MD.endtime > MD.starttime then MD.endtime- MD.starttime
                      when MD.endtime < MD.starttime then (86400-MD.starttime)+MD.endtime end
                      else  MD.duration end AS PlannedDuration,
               td.ixdayinweek,
               case when MD.StartTime >= 86400 then ( MD.StartTime - 86400) else MD.StartTime end AS starttime,
               case when MD.EndTime >= 86400 then (MD.EndTime - 86400) else MD.EndTime end AS endtime,
			   case when MD.DutyTypeID = 6 and CHARINDEX('__COMMENT_SEPARETOR__',MD.DutyComment) > 0
					then nullif(SUBSTRING(MD.DutyComment,CHARINDEX('__COMMENT_SEPARETOR__',MD.DutyComment) + 21, LEN(MD.DutyComment)),'')
					else MD.DutyComment end,
               td.dDateTime,
			   CASE
				 WHEN md.starttime IS NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN md.starttime = 0 AND md.EndTime > 0 THEN td.dDateTime
				 WHEN md.starttime > 0 THEN dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime) END AS StartDateUTC,
			   CASE
				 WHEN md.endtime IS  NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN MD.StartTime > 0 AND md.EndTime = 0 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime = 86400 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime-86400)
				 WHEN MD.endtime < MD.StartTime THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.EndTime) END AS EndDateUTC,
               CASE
				 WHEN md.starttime IS NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN md.starttime = 0 AND md.EndTime > 0 THEN td.dDateTime
				 WHEN md.starttime > 0 THEN dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime) END AS StartDateLocal,
               CASE
				 WHEN md.endtime IS  NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN MD.StartTime > 0 AND md.EndTime = 0 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime = 86400 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime-86400)
				 WHEN MD.endtime < MD.StartTime THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.EndTime) END AS EndDateLocal,
				 MD.BreakTime,
				 MD.MasterDutyID,
				 MD.DutyTypeID as DutyTypeID,
				 0 as DutyStatus,
                 MD.dutycolourid,
                 0,
                 0,
			     MD.BreakTime as PlannedDutyBreakTime,
				 MD.IsNeedCovering,
				 MD.IsOverrideOver12,
				 0,
				 md.DutyProgramId1,
				 md.DutyProgramId2,
				 md.DutyProgramId3,
				 md.DutyProgramId4,
				 md.DutyProgramId5,
				 md.DutyProgramId6,
                 @vuserID,
                 getutcdate()
            FROM MasterDuties MD
		   INNER JOIN @TempDuties TDS ON TDS.MasterDutyID = MD.MasterDutyID
           INNER JOIN TimeDimension TD ON TDS.iDay = TD.ixDayInWeek
           WHERE TD.ixyearweek = @pweekNumber

	  -- Creation of masterduty completed

 	  -- Map Scheduled person to duty

        IF ( @@ROWCOUNT > 0 )
          BEGIN

          INSERT INTO AllocationsScheduledPersons(
				 ASP_AllocationsID,
				 ASP_AllocationsDutyID,
				 ASP_SchedulingPersonID,
				 ASP_DutyTeamID,
				 ASP_iDay,
				 ASP_SortCode,
				 ASP_LeaveStatus,
				 ASP_DutyDate,
				 ASP_WIADStatus,
				 ASP_MarkedOverTime,
				 ASP_OverTimeHours,
				 ASP_EDPStatus,
				 ASP_Comments,
				 ASP_CreatedBy,
				 ASP_CreatedDate)
		  SELECT AL_AllocationsID AS allocationid,
				 AD.AD_AllocationsDutyID,
				 MD.ScheduledPersonid,
				 AL_SchedulingTeamID,
				 AD.AD_iDay,
				 SL.SortCode,
				 0,
				 AD.AD_DutyDate,
				 0,
				 0,
				 0,
				 NULL,
				 CASE WHEN CHARINDEX('__COMMENT_SEPARETOR__',MD.DutyComment) > 0
				 THEN nullif(SUBSTRING(MD.DutyComment,0,CHARINDEX('__COMMENT_SEPARETOR__',MD.DutyComment)),'')
				 ELSE NULL END,
				 @vuserID,
                 getutcdate()
            FROM Allocations AL
		   INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID
		   INNER JOIN MasterDuties MD on AD.AD_MasterDutyID = MD.MasterDutyID
           INNER JOIN ScheduledPersonTeam_LINK SL ON MD.TeamID = SL.teamid
												 AND MD.ScheduledPersonID = SL.ScheduledPersonID
           WHERE AD.AD_DutyDate BETWEEN ISNULL(SL.startdate, AD.AD_DutyDate)
                                  AND ISNULL(SL.enddate, AD.AD_DutyDate)
             AND SL.scheduledtype = 1
			 AND SL.IsHomeTeam = 1
             AND SL.teamid = @pteamId
			 AND AL.AL_WeekNumber = @pweekNumber
			 AND MD.DutyTypeID = 6
			 AND MD.IsActive = 1
			 AND NOT EXISTS ( SELECT 1
			                    FROM AllocationsScheduledPersons ASP
							   WHERE ASP.ASP_SchedulingPersonID = MD.ScheduledPersonID
							     AND AL.AL_AllocationsID = ASP.ASP_AllocationsID
								 AND AD.AD_iDay = ASP.ASP_iDay )

          INSERT INTO AllocationsScheduledPersons(
				 ASP_AllocationsID,
				 ASP_AllocationsDutyID,
				 ASP_SchedulingPersonID,
				 ASP_DutyTeamID,
				 ASP_iDay,
				 ASP_SortCode,
				 ASP_LeaveStatus,
				 ASP_DutyDate,
				 ASP_WIADStatus,
				 ASP_MarkedOverTime,
				 ASP_OverTimeHours,
				 ASP_EDPStatus,
				 ASP_Comments,
				 ASP_CreatedBy,
				 ASP_CreatedDate)
		  SELECT AL_AllocationsID AS allocationid,
				 AD.AD_AllocationsDutyID,
				 ASP.SchedulingPersonID,
				 @pTeamId,
				 AD.AD_iDay,
				 ASP.SortCode,
				 0,
				 AD.AD_DutyDate,
				 0,
				 0,
				 0,
				 NULL,
				 NULL,
				 @vuserID,
                 getutcdate()
		  FROM
		  (SELECT AL_AllocationsID,
				 AD.AD_AllocationsDutyID,
				 AD.AD_iDay,
				 AD.AD_DutyDate,
				 AD_MasterDutyID,
				 row_number() over (partition by AD.AD_MasterDutyID, AD.AD_iDay order by AD.AD_AllocationsDutyID ) as RowNumber
            FROM Allocations AL
		   INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID
           WHERE AL.AL_SchedulingTeamID = @pteamId
			 AND AL.AL_WeekNumber = @pweekNumber ) AD
		  INNER JOIN
		  (SELECT RT.SchedulingPersonID,
				 SL.SortCode,
				 RT.MasterDutyID,
				 RT.iDay,
				 row_number() over (partition by RT.masterdutyid, RT.iday order by RT.schedulingpersonid ) as RowNumber
		    FROM ufn_get_SchedulingTeamROTA(@pWeekNumber,@pTeamId) RT
		   INNER JOIN ScheduledPersonTeam_LINK SL on RT.SchedulingPersonID = SL.ScheduledPersonID
												 AND RT.SchedulingTeamID = SL.TeamID
		   INNER JOIN TimeDimension TD on TD.ixYearWeek = RT.WeekNumber and TD.ixDayInWeek = RT.iDay
           WHERE TD.dDateTime between sl.StartDate and sl.EndDate
		     AND SL.scheduledtype = 1
			 AND SL.IsHomeTeam = 1
             AND SL.teamid = @pteamId
			 AND TD.ixYearWeek = @pweekNumber ) ASP ON ASP.MasterDutyID = AD.AD_MasterDutyID
												   AND ASP.iDay = AD.AD_iDay
												   AND ASP.RowNumber = AD.RowNumber
			WHERE NOT EXISTS ( SELECT 1
			                    FROM AllocationsScheduledPersons SP
							   WHERE AD.AL_AllocationsID = SP.ASP_AllocationsID
								 AND SP.ASP_SchedulingPersonID = ASP.SchedulingPersonID
							     AND AD.AD_DutyDate = SP.ASP_DutyDate )

			-- Mark allocated Duties

		   UPDATE AD
		      SET AD.AD_DutyStatus = 1
		  	 FROM AllocationsDuties AD
			INNER JOIN AllocationsScheduledPersons AP ON ap.ASP_AllocationsDutyID = ad.AD_AllocationsDutyID
			WHERE  AD.AD_AllocationsID = @vAllocationID

		   UPDATE AllocationsDuties
		      SET AD_DutyStatus = 9
			WHERE AD_IsNeedCovering = 0
			  AND AD_DutyStatus = 0
			  AND AD_AllocationsID = @vAllocationID

			-- Create MISC Duties from ROTA

          INSERT INTO AllocationsDuties
                (
				AD_AllocationsID,
				AD_DutyName,
				AD_Duration,
				AD_PlannedDuration,
				AD_iDay,
				AD_StartTimeSec,
				AD_EndTimeSec,
				AD_Comments,
				AD_DutyDate,
				AD_DutyStartTimeUTC,
				AD_DutyEndTimeUTC,
				AD_DutyStartTimeLocal,
				AD_DutyEndTimeLocal,
				AD_DutyBreakTime,
				AD_MasterDutyID,
				AD_DutyType,
				AD_DutyStatus,
				AD_DutyColourID,
				AD_isAttention,
				AD_isRequest,
				AD_PlannedDutyBreakTime,
				AD_IsNeedCovering,
				AD_IsOverrideOver12,
				AD_IsDutyEdited,
				AD_DutyProgramID1,
				AD_DutyProgramID2,
				AD_DutyProgramID3,
				AD_DutyProgramID4,
				AD_DutyProgramID5,
				AD_DutyProgramID6,
				AD_CreatedBy,
				AD_CreatedDate
				 )
				OUTPUT INSERTED.AD_AllocationsDutyID INTO @TempAllocationsDuties
          SELECT @vAllocationID AS allocationid,
                 MD.dutyname,
                 case when isnull(MD.duration,0) = 0 then
                 case when MD.endtime > MD.starttime then MD.endtime- MD.starttime
                      when MD.endtime < MD.starttime then (86400-MD.starttime)+MD.endtime end
                      else  MD.duration end as duration,
                 case when isnull(MD.duration,0) = 0 then
                 case when MD.endtime > MD.starttime then MD.endtime- MD.starttime
                      when MD.endtime < MD.starttime then (86400-MD.starttime)+MD.endtime end
                      else  MD.duration end AS PlannedDuration,
               td.ixdayinweek,
               case when MD.StartTime >= 86400 then ( MD.StartTime - 86400) else MD.StartTime end AS starttime,
               case when MD.EndTime >= 86400 then (MD.EndTime - 86400) else MD.EndTime end AS endtime,
               MD.DutyComment,
               td.dDateTime,
			   CASE
				 WHEN md.starttime IS NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN md.starttime = 0 AND md.EndTime > 0 THEN td.dDateTime
				 WHEN md.starttime > 0 THEN dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime) END AS StartDateUTC,
			   CASE
				 WHEN md.endtime IS  NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN MD.StartTime > 0 AND md.EndTime = 0 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime = 86400 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime-86400)
				 WHEN MD.endtime < MD.StartTime THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.EndTime) END AS EndDateUTC,
               CASE
				 WHEN md.starttime IS NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN md.starttime = 0 AND md.EndTime > 0 THEN td.dDateTime
				 WHEN md.starttime > 0 THEN dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.starttime) END AS StartDateLocal,
               CASE
				 WHEN md.endtime IS  NULL THEN NULL
				 WHEN MD.StartTime = 0 AND MD.EndTime = 0 THEN NULL
				 WHEN MD.StartTime > 0 AND md.EndTime = 0 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime = 86400 THEN DATEADD(DAY,1,td.dDateTime)
				 WHEN md.endtime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime-86400)
				 WHEN MD.endtime < MD.StartTime THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,td.dDateTime),md.endtime)
				 ELSE dbo.ufn_ConvertToDateTime(td.dDateTime,md.EndTime) END AS EndDateLocal,
				 MD.BreakTime,
				 MD.MasterDutyID,
				 MD.DutyTypeID as DutyTypeID,
				 1 as DutyStatus,
                 MD.dutycolourid,
                 0,
                 0,
			     MD.BreakTime as PlannedDutyBreakTime,
				 MD.IsNeedCovering,
				 0,
				 0,
				 md.DutyProgramId1,
				 md.DutyProgramId2,
				 md.DutyProgramId3,
				 md.DutyProgramId4,
				 md.DutyProgramId5,
				 md.DutyProgramId6,
                 @vuserID,
                 getutcdate()
            FROM MasterDuties MD
		   INNER JOIN ufn_get_SchedulingTeamROTA(@pWeekNumber,@pTeamId) TDS ON TDS.MasterDutyID = MD.MasterDutyID
           INNER JOIN TimeDimension TD ON TDS.iDay = TD.ixDayInWeek
           WHERE TD.ixyearweek = @pweekNumber
		     AND @pweekNumber BETWEEN ISNULL(md.startweek,@pweekNumber) AND ISNULL(md.endweek,@pweekNumber )
		     AND MD.DutyTypeID = 2
			 AND MD.IsActive = 1
			 AND NOT EXISTS ( SELECT 1
			                    FROM AllocationsScheduledPersons SP
							   WHERE TDS.SchedulingPersonID = SP.ASP_SchedulingPersonID
							     AND TDS.DutyDate = SP.ASP_DutyDate
								 AND SP.ASP_AllocationsID = @vAllocationID
							  )


          INSERT INTO AllocationsScheduledPersons(
				 ASP_AllocationsID,
				 ASP_AllocationsDutyID,
				 ASP_SchedulingPersonID,
				 ASP_DutyTeamID,
				 ASP_iDay,
				 ASP_SortCode,
				 ASP_LeaveStatus,
				 ASP_DutyDate,
				 ASP_WIADStatus,
				 ASP_MarkedOverTime,
				 ASP_OverTimeHours,
				 ASP_EDPStatus,
				 ASP_Comments,
				 ASP_CreatedBy,
				 ASP_CreatedDate)
		  SELECT AL_AllocationsID AS allocationid,
				 AD.AD_AllocationsDutyID,
				 RT.SchedulingPersonID,
				 SL.TeamID,
				 AD.AD_iDay,
				 SL.SortCode,
				 0,
				 AD.AD_DutyDate,
				 0,
				 0,
				 0,
				 NULL,
				 NULL,
				 @vuserID,
                 getutcdate()
		    FROM Allocations AL
		   INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID
		   INNER JOIN @TempAllocationsDuties TAD ON TAD.AllocationsDutyID = AD.AD_AllocationsDutyID
		   INNER JOIN ufn_get_SchedulingTeamROTA(@pWeekNumber,@pTeamId) RT ON RT.MasterDutyID = AD.AD_MasterDutyID
																		  AND RT.iDay = AD_iDay
		   INNER JOIN ScheduledPersonTeam_LINK SL on RT.SchedulingPersonID = SL.ScheduledPersonID
												 AND RT.SchedulingTeamID = SL.TeamID
           WHERE RT.DutyDate between sl.StartDate and sl.EndDate
		     AND SL.scheduledtype = 1
			 AND SL.IsHomeTeam = 1
			 AND AL.AL_SchedulingTeamID = @pteamId
			 AND AL.AL_WeekNumber = @pweekNumber
			 AND NOT EXISTS ( SELECT 1
			                    FROM AllocationsScheduledPersons SP
							   WHERE RT.SchedulingPersonID = SP.ASP_SchedulingPersonID
							     AND AL.AL_AllocationsID = SP.ASP_AllocationsID
								 AND RT.iDay = SP.ASP_iDay )

			-- Create SP if there are any EDP data

	    update ap
		   set ASP_EDPStatus = 1
		  from AllocationsScheduledPersons ap
		 INNER JOIN EDP on ap.ASP_SchedulingPersonID = edp.SchedulingPersonId and ap.ASP_DutyDate = edp.ddate
		 WHERE ap.ASP_AllocationsID = @vAllocationID

        INSERT INTO AllocationsScheduledPersons(
				 ASP_AllocationsID,
				 ASP_AllocationsDutyID,
				 ASP_SchedulingPersonID,
				 ASP_DutyTeamID,
				 ASP_iDay,
				 ASP_SortCode,
				 ASP_LeaveStatus,
				 ASP_DutyDate,
				 ASP_WIADStatus,
				 ASP_MarkedOverTime,
				 ASP_OverTimeHours,
				 ASP_EDPStatus,
				 ASP_Comments,
				 ASP_CreatedBy,
				 ASP_CreatedDate)
		  SELECT AL_AllocationsID AS allocationid,
				 AD.AD_AllocationsDutyID,
				 sl.ScheduledPersonID,
				 @pTeamId,
				 AD.AD_iDay,
				 sl.SortCode,
				 0,
				 AD.AD_DutyDate,
				 0,
				 0,
				 0,
				 1,
				 NULL,
				 @vuserID,
                 getutcdate()
		    FROM ScheduledPersonTeam_LINK SL
			INNER JOIN Allocations AL on al.AL_SchedulingTeamID = sl.TeamID
			INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
			INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID AND td.ixDayInWeek = AD.AD_iDay
			INNER JOIN ( SELECT DISTINCT SchedulingPersonId, ddate
						   FROM EDP
						  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.ScheduledPersonID = edp.SchedulingPersonId
						  INNER JOIN Allocations AL ON AL.AL_SchedulingTeamID = SL.TeamID
						  INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
						  WHERE td.dDateTime between sl.StartDate and sl.EndDate
						    and al.AL_AllocationsID = @vAllocationID
						    and sl.scheduledType = 1
						    and sl.IsHomeTeam = 1
						) EDP on EDP.SchedulingPersonId = sl.ScheduledPersonID and td.dDateTime = edp.ddate
			where td.dDateTime between sl.StartDate and sl.EndDate
			  and al.AL_AllocationsID = @vAllocationID
			  and ad.AD_DutyType = 7
			  and sl.scheduledType = 1
			  and sl.IsHomeTeam = 1
			  AND NOT EXISTS ( SELECT 1
			                    FROM AllocationsScheduledPersons ASP
							   WHERE ASP.ASP_SchedulingPersonID = sl.ScheduledPersonID
							     AND AL.AL_AllocationsID = ASP.ASP_AllocationsID
								 AND AD.AD_iDay = ASP.ASP_iDay )

            -- Freelancer creation

			SELECT @OtherBBCALID = AL_AllocationsID
			 FROM Allocations AL
			INNER JOIN schedulingTeams ST on ST.schedulingTeamId = AL.AL_SchedulingTeamID
			WHERE ST.isActive = 1
			  AND ST.schedulingTeamName = 'Other BBC'
			  AND AL.AL_WeekNumber = @pWeekNumber
			  AND AL.AL_Status <> 9


			SELECT @FreelancerALID = AL_AllocationsID
			 FROM Allocations AL
			INNER JOIN SchedulingTeams ST on ST.schedulingTeamId = AL.AL_SchedulingTeamID
			WHERE ST.isActive = 1
			  AND ST.schedulingTeamName = 'Freelancers'
			  AND AL.AL_WeekNumber = @pWeekNumber
			  AND AL.AL_Status <> 9


			  INSERT INTO @TempSPList(SchedulingPersonID,SchedulingTeamId ,SchedulingTeamName)
			  SELECT SL.ScheduledPersonID, SL1.TeamID, ST.schedulingTeamName
			   FROM Allocations AL
			  INNER JOIN TimeDimension TD on TD.ixYearWeek = AL.AL_WeekNumber
			  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.TeamID = AL.AL_SchedulingTeamID
			  INNER JOIN ScheduledPersonTeam_LINK SL1 ON SL1.ScheduledPersonID = SL.ScheduledPersonID
			  INNER JOIN SchedulingTeams ST on ST.schedulingTeamId = SL1.TeamID
			  WHERE TD.dDateTime BETWEEN SL.StartDate and SL.EndDate
			    AND TD.dDateTime BETWEEN SL1.StartDate and SL1.EndDate
				AND SL.scheduledType = 1
				AND SL.IsHomeTeam IN (0,2)
				AND SL.IsAvailable = 1
				AND SL1.scheduledType = 1
				AND SL1.IsHomeTeam = 1
			    AND AL.AL_AllocationsID = @vAllocationID
			    AND ST.schedulingTeamName IN ('Other BBC','Freelancers')

				IF EXISTS ( SELECT TOP 1 SchedulingPersonID
							  FROM @TempSPList
							 WHERE SchedulingTeamName = 'Other BBC')
				 BEGIN

				     SELECT @OtherBBCTeamID = schedulingTeamId
					   FROM schedulingTeams
					  WHERE SchedulingTeamName = 'Other BBC'

				  IF ( ISNULL(@OtherBBCALID,0) = 0 )
				   BEGIN

					 INSERT INTO  Allocations
							( AL_WeekNumber,
							  AL_SchedulingTeamId,
							  AL_Status,
							  AL_CreatedBy,
							  AL_CreatedDate)
					 Values ( @pweekNumber,
							  @OtherBBCTeamID,
							  2,
							  @vuserID,
							  getutcdate()
							)

					SET @OtherBBCALID = @@Identity

					 INSERT INTO AllocationsDuties
							(
							AD_AllocationsID,
							AD_DutyName,
							AD_iDay,
							AD_DutyDate,
							AD_DutyStartTimeUTC,
							AD_DutyEndTimeUTC,
							AD_DutyStartTimeLocal,
							AD_DutyEndTimeLocal,
							AD_DutyType,
							AD_DutyStatus,
							AD_CreatedBy,
							AD_CreatedDate
							 )
					  SELECT @OtherBBCALID AS allocationid,
							 'U',
							 ixDayInWeek,
							 dDateTime,
							 NULL,
							 NULL,
							 NULL,
							 NULL,
							 7,
							 1,
							 @vuserID,
							 getutcdate()
						FROM TimeDimension
					   where ixYearWeek=@pweekNumber

					 INSERT INTO AllocationsDuties
							(
							AD_AllocationsID,
							AD_DutyName,
							AD_iDay,
							AD_DutyDate,
							AD_DutyStartTimeUTC,
							AD_DutyEndTimeUTC,
							AD_DutyStartTimeLocal,
							AD_DutyEndTimeLocal,
							AD_DutyType,
							AD_DutyStatus,
							AD_DutyColourID,
							AD_CreatedBy,
							AD_CreatedDate
							 )
					  SELECT @OtherBBCALID AS allocationid,
							 'Leave',
							 ixDayInWeek,
							 dDateTime,
							 NULL,
							 NULL,
							 NULL,
							 NULL,
							 8,
							 1,
							 @DutyColourID,
							 @vuserID,
							 getutcdate()
						FROM TimeDimension
					   where ixYearWeek=@pweekNumber

				   END

					INSERT INTO AllocationsScheduledPersons(
							 ASP_AllocationsID,
							 ASP_AllocationsDutyID,
							 ASP_SchedulingPersonID,
							 ASP_DutyTeamID,
							 ASP_iDay,
							 ASP_SortCode,
							 ASP_LeaveStatus,
							 ASP_DutyDate,
							 ASP_WIADStatus,
							 ASP_MarkedOverTime,
							 ASP_OverTimeHours,
							 ASP_EDPStatus,
							 ASP_Comments,
							 ASP_CreatedBy,
							 ASP_CreatedDate)
					  SELECT AL_AllocationsID AS allocationid,
							 AD.AD_AllocationsDutyID,
							 sl.ScheduledPersonID,
							 @OtherBBCTeamID,
							 AD.AD_iDay,
							 sl.SortCode,
							 0,
							 AD.AD_DutyDate,
							 0,
							 0,
							 0,
							 1,
							 NULL,
							 @vuserID,
							 getutcdate()
						FROM ScheduledPersonTeam_LINK SL
						INNER JOIN Allocations AL on al.AL_SchedulingTeamID = sl.TeamID
						INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
						INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID AND td.ixDayInWeek = AD.AD_iDay
						INNER JOIN ( SELECT DISTINCT SchedulingPersonId, ddate
									   FROM EDP
									  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.ScheduledPersonID = edp.SchedulingPersonId
									  INNER JOIN Allocations AL ON AL.AL_SchedulingTeamID = SL.TeamID
									  INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
									  WHERE td.dDateTime between sl.StartDate and sl.EndDate
										and al.AL_AllocationsID = @OtherBBCALID
										and sl.scheduledType = 1
										and sl.IsHomeTeam = 1
									) EDP on EDP.SchedulingPersonId = sl.ScheduledPersonID and td.dDateTime = edp.ddate
						where td.dDateTime between sl.StartDate and sl.EndDate
						  and al.AL_AllocationsID = @OtherBBCALID
						  and ad.AD_DutyType = 7
						  and sl.scheduledType = 1
						  and sl.IsHomeTeam = 1
						  AND NOT EXISTS ( SELECT 1
											FROM AllocationsScheduledPersons ASP
										   WHERE ASP.ASP_SchedulingPersonID = sl.ScheduledPersonID
											 AND AL.AL_AllocationsID = ASP.ASP_AllocationsID
											 AND AD.AD_iDay = ASP.ASP_iDay )

				 END

				IF EXISTS ( SELECT TOP 1 SchedulingPersonID
							  FROM @TempSPList
							 WHERE SchedulingTeamName = 'Freelancers')
				 BEGIN

				     SELECT @FreelancerTeamID = schedulingTeamId
					   FROM schedulingTeams
					  WHERE SchedulingTeamName = 'Freelancers'

				  IF ( ISNULL(@FreelancerALID,0) = 0 )
				   BEGIN

					 INSERT INTO  Allocations
							( AL_WeekNumber,
							  AL_SchedulingTeamId,
							  AL_Status,
							  AL_CreatedBy,
							  AL_CreatedDate)
					 Values ( @pweekNumber,
							  @FreelancerTeamID,
							  2,
							  @vuserID,
							  getutcdate()
							)

					SET @FreelancerALID = @@Identity

					 INSERT INTO AllocationsDuties
							(
							AD_AllocationsID,
							AD_DutyName,
							AD_iDay,
							AD_DutyDate,
							AD_DutyStartTimeUTC,
							AD_DutyEndTimeUTC,
							AD_DutyStartTimeLocal,
							AD_DutyEndTimeLocal,
							AD_DutyType,
							AD_DutyStatus,
							AD_CreatedBy,
							AD_CreatedDate
							 )
					  SELECT @FreelancerALID AS allocationid,
							 'U',
							 ixDayInWeek,
							 dDateTime,
							 NULL,
							 NULL,
							 NULL,
							 NULL,
							 7,
							 1,
							 @vuserID,
							 getutcdate()
						FROM TimeDimension
					   where ixYearWeek=@pweekNumber

					 INSERT INTO AllocationsDuties
							(
							AD_AllocationsID,
							AD_DutyName,
							AD_iDay,
							AD_DutyDate,
							AD_DutyStartTimeUTC,
							AD_DutyEndTimeUTC,
							AD_DutyStartTimeLocal,
							AD_DutyEndTimeLocal,
							AD_DutyType,
							AD_DutyStatus,
							AD_DutyColourID,
							AD_CreatedBy,
							AD_CreatedDate
							 )
					  SELECT @FreelancerALID AS allocationid,
							 'Leave',
							 ixDayInWeek,
							 dDateTime,
							 NULL,
							 NULL,
							 NULL,
							 NULL,
							 8,
							 1,
							 @DutyColourID,
							 @vuserID,
							 getutcdate()
						FROM TimeDimension
					   where ixYearWeek=@pweekNumber

				   END

					INSERT INTO AllocationsScheduledPersons(
							 ASP_AllocationsID,
							 ASP_AllocationsDutyID,
							 ASP_SchedulingPersonID,
							 ASP_DutyTeamID,
							 ASP_iDay,
							 ASP_SortCode,
							 ASP_LeaveStatus,
							 ASP_DutyDate,
							 ASP_WIADStatus,
							 ASP_MarkedOverTime,
							 ASP_OverTimeHours,
							 ASP_EDPStatus,
							 ASP_Comments,
							 ASP_CreatedBy,
							 ASP_CreatedDate)
					  SELECT AL_AllocationsID AS allocationid,
							 AD.AD_AllocationsDutyID,
							 sl.ScheduledPersonID,
							 @FreelancerTeamID,
							 AD.AD_iDay,
							 sl.SortCode,
							 0,
							 AD.AD_DutyDate,
							 0,
							 0,
							 0,
							 1,
							 NULL,
							 @vuserID,
							 getutcdate()
						FROM ScheduledPersonTeam_LINK SL
						INNER JOIN Allocations AL on al.AL_SchedulingTeamID = sl.TeamID
						INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
						INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID AND td.dDateTime = AD.AD_DutyDate
						INNER JOIN ( SELECT DISTINCT SchedulingPersonId, ddate
									   FROM EDP
									  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.ScheduledPersonID = edp.SchedulingPersonId
									  INNER JOIN Allocations AL ON AL.AL_SchedulingTeamID = SL.TeamID
									  INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
									  WHERE td.dDateTime >= sl.StartDate and td.dDateTime <= sl.EndDate
										and sl.scheduledType = 1
										and sl.IsHomeTeam = 1
										AND al.AL_AllocationsID = @FreelancerALID
									) EDP on EDP.SchedulingPersonId = sl.ScheduledPersonID and td.dDateTime = edp.ddate
						where td.dDateTime >= sl.StartDate and td.dDateTime <= sl.EndDate
						  and al.AL_AllocationsID = @FreelancerALID
						  and ad.AD_DutyType = 7
						  and sl.scheduledType = 1
						  and sl.IsHomeTeam = 1
						  AND NOT EXISTS ( SELECT 1
											FROM AllocationsScheduledPersons ASP
										   WHERE AL.AL_AllocationsID = ASP.ASP_AllocationsID
											 AND sl.ScheduledPersonID = ASP.ASP_SchedulingPersonID 
											 AND AD.AD_DutyDate = ASP.ASP_DutyDate )


				 END

			  INSERT INTO AllocationsScheduledPersons(
					 ASP_AllocationsID,
					 ASP_AllocationsDutyID,
					 ASP_SchedulingPersonID,
					 ASP_DutyTeamID,
					 ASP_iDay,
					 ASP_SortCode,
					 ASP_LeaveStatus,
					 ASP_leaveType,
					 ASP_DutyDate,
					 ASP_EDPStatus,
					 ASP_LeaveStartTimeSec,
					 ASP_LeaveEndTimeSec,
					 ASP_LeaveStartTimeLocal,
					 ASP_LeaveEndTimeLocal,
					 ASP_LeaveColourID,
					 ASP_LeaveDuration,
					 ASP_CreatedBy,
					 ASP_CreatedDate)
			  SELECT AL_AllocationsID AS allocationid,
					 AD.AD_AllocationsDutyID,
					 SL.ScheduledPersonid,
					 AL_SchedulingTeamID,
					 AD.AD_iDay,
					 SL.SortCode,
					 CASE   WHEN LA.Approved = 1 AND LA.Deleted = 0
							THEN 1
							WHEN LA.Approved = 0 AND LA.Deleted = 0
							THEN 0
							WHEN LA.Deleted = 1 THEN 9 END,
					 NULL AS LeaveTypeID,
					 AD.AD_DutyDate,
					 0,
					 LA.LeaveStartTime,
					 LA.LeaveEndTime,
					 LA.LeaveStartDateTime,
					 LA.LeaveEndDateTime,
					 NULL,
					 NULL AS LeaveDuration,
					 @vuserID,
					 getutcdate()
				FROM Allocations AL
			   INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID
			   INNER JOIN ScheduledPersonTeam_LINK SL ON SL.TeamID = AL.AL_SchedulingTeamID
			   INNER JOIN LeaveApplications LA  on LA.dDate = AD.AD_DutyDate AND LA.SchedulingPersonID = sl.ScheduledPersonID
			   WHERE AD.AD_DutyDate >= SL.startdate AND AD.AD_DutyDate <= SL.enddate
				 AND AD.AD_DutyType = 7
				 AND SL.scheduledtype = 1
				 AND SL.IsHomeTeam = 1
				 AND LA.Approved = 0
				 AND LA.Deleted = 0
				 AND ISNULL(LA.LeaveTypeID,0) <> 6
				 AND AL_AllocationsID = @vAllocationID
				 AND NOT EXISTS ( SELECT 1
									FROM AllocationsScheduledPersons ASP
								   WHERE ASP.ASP_SchedulingPersonID = sl.ScheduledPersonID
									 AND AL.AL_AllocationsID = ASP.ASP_AllocationsID
									 AND AD.AD_iDay = ASP.ASP_iDay )


			-- Create addhoc duty history Start

			 INSERT INTO history (
                    historytype,
                    attributeid,
                    datetime,
                    userid,
                    history
                    )
            SELECT @AllocDutyHistoryType historytype,
                 AD_AllocationsDutyID AS attributeid,
                 HT.datetime,
                 @vuserID,
                 HT.history
            FROM   AllocationsDuties AD
            INNER JOIN Allocations AL ON AL_AllocationsID = AD_AllocationsID
            INNER JOIN HISTORY HT ON AD.AD_MasterDutyID = HT.AttributeID
            INNER JOIN HistoryTypes HY ON HT.HistoryType = HY.ID
            WHERE AL.AL_AllocationsID = @vAllocationID
              AND AD.AD_DutyType = 6
              AND HY.HistoryType ='AdhocDuty'

			-- Create addhoc duty history End

			-- Creaet Duty History Start

			  INSERT INTO history
					(
					  historytype,
					  attributeid,
					  datetime,
					  userid,
					  history
					)
			  SELECT @AllocDutyHistoryType AS historytype,
				   ad.AD_AllocationsDutyID AS attributeid,
				   getdate(),
				   @vuserID,
				   'Created '
				   + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy') + ' '
				   + FORMAT(Getdate(),'HH:mm')
				   + ' By ' + @vname
				   + ' in unallocated section. Duty: '
				   + AD.AD_DutyName+'.'
			   FROM AllocationsDuties AD
			  WHERE  AD.AD_AllocationsID = @vAllocationID
			    AND AD_DutyStatus = 0


			-- Creaet Duty History Start

			-- Create Scheduled Person history Start


				  INSERT INTO history
						(
						  historytype,
						  attributeid,
						  datetime,
						  userid,
						  history
						)
				  SELECT @AllocSPHistoryType AS historytype,
					   AL.ASP_AllocationsSPID AS attributeid,
					   hty.[datetime],
					   userid,
					   HTY.history
				  FROM   AllocationsScheduledPersons AL
				  INNER  JOIN LeaveApplications LA ON AL.ASP_SchedulingPersonID = LA.SchedulingPersonID
				          AND AL.ASP_DutyDate = LA.dDate
				  INNER  JOIN History HTY ON HTY.AttributeID = LA.ID
				  INNER  JOIN HistoryTypes HTP ON HTP.id = HTY.HistoryType
				  WHERE  AL.ASP_AllocationsID = @vAllocationID
				    AND HTP.historytype = 'LeaveApplication'
					AND LA.Deleted = 0


			  INSERT INTO history
					(
					  historytype,
					  attributeid,
					  datetime,
					  userid,
					  history
					)
			  SELECT @AllocSPHistoryType AS historytype,
				   AP.ASP_AllocationsSPID AS attributeid,
				   getdate(),
				   @vuserID,
				   'Created '
				   + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy') + ' '
				   + FORMAT(Getdate(),'HH:mm')
				   + ' By ' + @vname
				   + CASE WHEN AD.AD_DutyName NOT like '%Leave%'
						  THEN ' assigned to '+UD.UD_DisplayName
						  ELSE '' END
				   + '. Duty: ' + AD.AD_DutyName
				   +'.'
			   FROM AllocationsScheduledPersons  AP
			  INNER JOIN AllocationsDuties AD ON ap.ASP_AllocationsDutyID = ad.AD_AllocationsDutyID
			  INNER JOIN UserDetails UD on UD.UD_UserID = AP.ASP_SchedulingPersonID
			  WHERE  AD.AD_AllocationsID = @vAllocationID

			  INSERT INTO history
					(
					  historytype,
					  attributeid,
					  datetime,
					  userid,
					  history
					)
			  SELECT @AllocDutyHistoryType AS historytype,
				   AD_AllocationsDutyID AS attributeid,
				   getdate(),
				   @vuserID,
				   'Created '
				   + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy') + ' '
				   + FORMAT(Getdate(),'HH:mm')
				   + ' By ' + @vname
				   + CASE WHEN AD.AD_DutyName NOT like '%Leave%'
						  THEN ' assigned to '+UD.UD_DisplayName
						  ELSE '' END
				   + '. Duty: ' + AD.AD_DutyName
				   +'.'
			   FROM AllocationsScheduledPersons  AP
			  INNER JOIN AllocationsDuties AD ON ap.ASP_AllocationsDutyID = ad.AD_AllocationsDutyID
			  INNER JOIN UserDetails UD on UD.UD_UserID = AP.ASP_SchedulingPersonID
			  WHERE  AD.AD_AllocationsID = @vAllocationID
			    AND AD_DutyType < 7


			-- Create Scheduled Person history End



			-- Create assigned job start

			INSERT INTO AllocationsJobs
				  ( AJ_AllocationsDutyID,
					AJ_MasterJobID,
					AJ_ProgrammeID,
					AJ_Contact,
					AJ_Location,
					AJ_JobName,
					AJ_JobStartTimeSec,
					AJ_JobEndTimeSec,
					AJ_JobStartTimeUTC,
					AJ_JobEndTimeUTC,
					AJ_JobStartTimeLocal,
					AJ_JobEndTimeLocal,
					AJ_JobBGColour,
					AJ_JobFontColour,
					AJ_Comments,
					AJ_JobStatus,
					AJ_JobInfo,
					AJ_CreatedBy,
					AJ_CreatedDate)
			SELECT AD.AD_AllocationsDutyID,
				   MJ.masterjobid,
				   PG.ID as programmeid,
				   mj.Contact,
				   mj.[Location],
				   MJ.JobName,
				   case when MJ.starttime >= 86400 then (MJ.starttime - 86400) else MJ.starttime end as starttime,
				   case when MJ.endtime >= 86400 then (MJ.endtime - 86400) else MJ.endtime end as endtime,
				   CASE WHEN DATEDIFF(DAY,AD_DutyStartTimeLocal, AD_DutyEndTimeLocal) > 0
				    THEN
				    CASE
					 WHEN MJ.starttime = 0 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.starttime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.starttime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.starttime - 86400)
					 WHEN MJ.StartTime < AD.AD_StartTimeSec THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.StartTime)
					 ELSE dbo.ufn_ConvertToDateTime(AD_DutyDate,MJ.starttime ) END
					ELSE
					 CASE
					 WHEN MJ.starttime = 0 THEN AD.AD_DutyDate
					 WHEN MJ.starttime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.starttime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.starttime - 86400)
					 ELSE dbo.ufn_ConvertToDateTime(AD_DutyDate,MJ.starttime ) END
				   END AS StartDate,
				   CASE WHEN DATEDIFF(DAY,AD_DutyStartTimeLocal, AD_DutyEndTimeLocal) > 0
				    THEN
				    CASE
					 WHEN MJ.StartTime > 0 AND MJ.EndTime = 0 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.EndTime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime - 86400)
					 WHEN MJ.EndTime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.EndTime < MJ.StartTime THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime)
					 WHEN MJ.StartTime < AD.AD_StartTimeSec THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime)
					 ELSE dbo.ufn_ConvertToDateTime(AD.AD_DutyDate,MJ.EndTime) END
					ELSE
					 CASE
					 WHEN MJ.StartTime > 0 AND MJ.EndTime = 0 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.EndTime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime - 86400)
					 WHEN MJ.EndTime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 ELSE dbo.ufn_ConvertToDateTime(AD.AD_DutyDate,MJ.EndTime) END
					END AS EndDate,
				   				   CASE WHEN DATEDIFF(DAY,AD_DutyStartTimeLocal, AD_DutyEndTimeLocal) > 0
				    THEN
				    CASE
					 WHEN MJ.starttime = 0 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.starttime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.starttime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.starttime - 86400)
					 WHEN MJ.StartTime < AD.AD_StartTimeSec THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.StartTime)
					 ELSE dbo.ufn_ConvertToDateTime(AD_DutyDate,MJ.starttime ) END
					ELSE
					 CASE
					 WHEN MJ.starttime = 0 THEN AD.AD_DutyDate
					 WHEN MJ.starttime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.starttime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.starttime - 86400)
					 ELSE dbo.ufn_ConvertToDateTime(AD_DutyDate,MJ.starttime ) END
				   END AS StartDateLocal,
				   CASE WHEN DATEDIFF(DAY,AD_DutyStartTimeLocal, AD_DutyEndTimeLocal) > 0
				    THEN
				    CASE
					 WHEN MJ.StartTime > 0 AND MJ.EndTime = 0 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.EndTime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime - 86400)
					 WHEN MJ.EndTime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.EndTime < MJ.StartTime THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime)
					 WHEN MJ.StartTime < AD.AD_StartTimeSec THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime)
					 ELSE dbo.ufn_ConvertToDateTime(AD.AD_DutyDate,MJ.EndTime) END
					ELSE
					 CASE
					 WHEN MJ.StartTime > 0 AND MJ.EndTime = 0 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 WHEN MJ.EndTime > 86400 THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,AD.AD_DutyDate),MJ.EndTime - 86400)
					 WHEN MJ.EndTime = 86400 THEN DATEADD(DAY,1,AD.AD_DutyDate)
					 ELSE dbo.ufn_ConvertToDateTime(AD.AD_DutyDate,MJ.EndTime) END
					END AS  EndDateLocal,
				   JC.ColourBackground as jobbackcolour,
				   JC.ColourFont as jobfontcolour,
				   NULL,
				   1,
				   mj.Details as job_info,
				   @vuserID,
				   getdate()
			 FROM MasterJobs MJ (NOLOCK)
			INNER JOIN MasterDutiesMasterJobs_LINK as mdmj (NOLOCK) on MJ.MasterJobID = mdmj.MasterJobID
			INNER JOIN AllocationsDuties AD on AD.AD_MasterDutyID = mdmj.MasterDutyID
			 LEFT JOIN LINK_MasterJobs_Programmes MLP (NOLOCK) ON MJ.MasterJobID=MLP.MasterJobID
			 LEFT JOIN Programmes PG (NOLOCK) ON MLP.ProgrammeID=PG.ID
			 LEFT JOIN REF_MasterJobColours JC (NOLOCK) ON MJ.MasterJobID=JC.MasterJobID and JC.IsActive=1
			WHERE MJ.IsActive=1
			  and MJ.TeamID = @pteamId
			  and AD.AD_AllocationsID = @vAllocationID

			-- Create assigned job End

			-- Create job history Start

			INSERT INTO history
				  (
						historytype,
						attributeid,
						datetime,
						userid,
						history
				  )
			SELECT @AllocJobHistoryTye AS historytype,
				   aj.AJ_AllocateJobID AS attributeid,
				   getdate(),
				   @vuserID,
				   'New Job created by '+@vname+' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm') +'.'
			FROM   AllocationsJobs aj
			INNER JOIN AllocationsDuties AD on AD.AD_AllocationsDutyID = AJ.AJ_AllocationsDutyID
			WHERE AD.AD_AllocationsID = @vAllocationID

			-- Create job history End

		END

		  -- Update PDL Start

          UPDATE AP
			 SET AP.ASP_LeaveStatus = CASE WHEN LA.Approved = 1 AND LA.Deleted = 0
										THEN 1
										WHEN LA.Approved = 0 AND LA.Deleted = 0
										THEN 0
										WHEN LA.Deleted = 1 THEN 9 END,
				 AP.ASP_leaveType = LA.LeaveTypeID,
				 AP.ASP_LeaveStartTimeSec = LA.LeaveStartTime,
				 AP.ASP_LeaveEndTimeSec = LA.LeaveEndTime,
				 AP.ASP_LeaveStartTimeLocal = LA.LeaveStartDateTime,
				 AP.ASP_LeaveEndTimeLocal = LA.LeaveEndDateTime,
				 AP.ASP_LeaveDuration = LA.Totalhrs * 60 * 60
            FROM Allocations AL
		   INNER JOIN AllocationsScheduledPersons AP on AL.AL_AllocationsID = AP.ASP_AllocationsID
		   INNER JOIN LeaveApplications LA  on LA.dDate = AP.ASP_DutyDate AND LA.SchedulingPersonID = AP.ASP_SchedulingPersonID
           WHERE AL.AL_AllocationsID = @vAllocationID
			 AND AP.ASP_LeaveStatus IS NULL

		  -- Update PDL End

		  -- Update Leave details start

		INSERT INTO @TempRequests
		 SELECT DISTINCT AL_AllocationsID,
				WeekNumber,
		        iday,
				schedulingpersonid,
				max(ShowLock) AS ShowLock,
				max(LockIconColour) AS LockIconColour,
				ReqCount
		 FROM
		 (
		 SELECT td.ixYearWeek as WeekNumber,
		        AL.AL_AllocationsID,
				td.ixDayInWeek as iday,
		        sl.ScheduledPersonID as schedulingpersonid,
				CASE when LR.ID > 0 THEN 1
				     WHEN RQ.ID > 0 THEN 1
				ELSE 0 END AS IsRequestAvailable,
		        CASE WHEN LR.ID > 0 THEN 1
		             WHEN RT.AffectLocks = 1 AND RQ.Approved = 1 THEN 1
					 ELSE 0 END AS ShowLock,
		        CASE WHEN RQ.Approved = 1 AND RT.RequestsAllowed >= 1 THEN 3 --'O'
				     WHEN ( CASE WHEN td.ixDayInWeek = 0 THEN RT.day_0
					             WHEN td.ixDayInWeek = 1 THEN RT.day_1
								 WHEN td.ixDayInWeek = 2 THEN RT.day_2
								 WHEN td.ixDayInWeek = 3 THEN RT.day_3
								 WHEN td.ixDayInWeek = 4 THEN RT.day_4
								 WHEN td.ixDayInWeek = 5 THEN RT.day_5
								 WHEN td.ixDayInWeek = 6 THEN RT.day_6
							 END) = -1 THEN 1 --'B'
					 WHEN RQ.isOK = 1 AND RT.RequestsAllowed >= 1 THEN 4 --'Y'
					 WHEN RT.AllowOverLimit = 1 THEN 2 --'G'
					 ELSE 0 END AS LockIconColour,
                COUNT (rq.scheduledpersonid) OVER ( Partition by rq.ddate, rq.scheduledpersonid) as ReqCount
           FROM Allocations AL
		  INNER join Timedimension TD (nolock) on AL.AL_WeekNumber=TD.ixYearWeek
		  INNER JOIN ScheduledPersonTeam_LINK SL (nolock) on sl.TeamID = AL.AL_SchedulingTeamID
		   LEFT JOIN Requests RQ (nolock) ON RQ.dDate = TD.dDateTime AND RQ.ScheduledPersonID = sl.ScheduledPersonID
			                                                AND RQ.Deleted = 0
		   LEFT JOIN RequestTypes (Nolock) RT ON RQ.RequestType = RT.ID
		   LEFT JOIN LockRequests LR (nolock) ON LR.WeekNumber = td.ixYearWeek AND LR.iDay = td.ixDayInWeek
			                          AND LR.ScheduledPersonID = sl.ScheduledPersonID
			                          AND LR.deleted = 0
		  WHERE TD.dDateTime between sl.StartDate and sl.EndDate
			AND AL.AL_SchedulingTeamID = @pteamId
			AND AL.AL_WeekNumber = @pWeekNumber
			AND sl.IsHomeTeam = 1
			AND sl.scheduledType = 1
            ) FD where IsRequestAvailable = 1
			GROUP BY WeekNumber,
					 AL_AllocationsID,
					 iday,
					 schedulingpersonid,
					 ReqCount


        INSERT INTO AllocationsScheduledPersons(
				 ASP_AllocationsID,
				 ASP_AllocationsDutyID,
				 ASP_SchedulingPersonID,
				 ASP_DutyTeamID,
				 ASP_iDay,
				 ASP_SortCode,
				 ASP_LeaveStatus,
				 ASP_DutyDate,
				 ASP_WIADStatus,
				 ASP_MarkedOverTime,
				 ASP_OverTimeHours,
				 ASP_EDPStatus,
				 ASP_Comments,
				 ASP_CreatedBy,
				 ASP_CreatedDate)
		  SELECT AL_AllocationsID AS allocationid,
				 AD.AD_AllocationsDutyID,
				 sl.ScheduledPersonID,
				 @pTeamId,
				 AD.AD_iDay,
				 sl.SortCode,
				 0,
				 AD.AD_DutyDate,
				 0,
				 0,
				 0,
				 0,
				 NULL,
				 @vuserID,
                 getutcdate()
		    FROM ScheduledPersonTeam_LINK SL
			INNER JOIN Allocations AL on al.AL_SchedulingTeamID = sl.TeamID
			INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
			INNER JOIN AllocationsDuties AD on AL.AL_AllocationsID = AD.AD_AllocationsID AND td.ixDayInWeek = AD.AD_iDay
			INNER JOIN ( SELECT DISTINCT SchedulingPersonId,
										 TD.dDateTime
						   FROM @TempRequests TR
						  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.ScheduledPersonID = TR.SchedulingPersonId
						  INNER JOIN Allocations AL ON AL.AL_SchedulingTeamID = SL.TeamID
						  INNER JOIN TimeDimension TD on TD.ixYearWeek = AL_WeekNumber
													 AND TD.ixDayInWeek = TR.iday
						  WHERE td.dDateTime between sl.StartDate and sl.EndDate
						    and al.AL_AllocationsID = @vAllocationID
						    and sl.scheduledType = 1
						    and sl.IsHomeTeam = 1
						) RQ on RQ.SchedulingPersonId = sl.ScheduledPersonID and td.dDateTime = RQ.dDateTime
			where td.dDateTime between sl.StartDate and sl.EndDate
			  and al.AL_AllocationsID = @vAllocationID
			  and ad.AD_DutyType = 7
			  and sl.scheduledType = 1
			  and sl.IsHomeTeam = 1
			  AND NOT EXISTS ( SELECT 1
			                    FROM AllocationsScheduledPersons ASP
							   WHERE ASP.ASP_SchedulingPersonID = sl.ScheduledPersonID
							     AND AL.AL_AllocationsID = ASP.ASP_AllocationsID
								 AND AD.AD_iDay = ASP.ASP_iDay )

		  UPDATE AP
		     SET AP.ASP_RequestsStatus = LR.LockIconColour,
				 ASP_RequestsCount = LR.ReqCount,
				 ASP_LockRequestsStatus = LR.ShowLock
		    FROM AllocationsScheduledPersons AP
		   INNER JOIN  @TempRequests LR on LR.schedulingpersonid = ap.ASP_SchedulingPersonID
			    AND LR.AllocationsID = ap.ASP_AllocationsID
				AND LR.iday = ap.ASP_iDay
				AND AP.ASP_AllocationsID = @vAllocationID


		  -- Update Leave details end


        -- Update Additional Person details Starts

			INSERT INTO AllocationsAddPersons
						(   AAP_AllocationsID,
							AAP_AllocationsSPID,
							AAP_SchedulingPersonID,
							AAP_Status,
							AAP_iDay,
							AAP_DutyDate,
							AAP_Comments,
							AAP_SortCode,
							AAP_CreatedBy,
							AAP_CreatedDate )
					 SELECT @vAllocationID,
							AP.ASP_AllocationsSPID,
							AP.ASP_SchedulingPersonID,
							1,
							ASP_iDay,
							ASP_DutyDate,
							NULL,
							SLA.SortCode,
							@vuserID,
							getdate()
					   FROM Allocations AL
					  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.TeamID = AL.AL_SchedulingTeamID
					  INNER JOIN AllocationsScheduledPersons AP on AL.AL_AllocationsID = AP.ASP_AllocationsID
															   AND SL.ScheduledPersonID = AP.ASP_SchedulingPersonID
					  INNER JOIN ScheduledPersonTeam_LINK SLA ON SLA.ScheduledPersonID = SL.ScheduledPersonID
					   WHERE AP.ASP_DutyDate BETWEEN SL.startdate AND SL.enddate
					     AND AP.ASP_DutyDate BETWEEN SLA.startdate AND SLA.enddate
						 AND SL.scheduledtype = 1
						 AND SL.IsHomeTeam = 1
						 AND SLA.scheduledtype = 1
						 AND SLA.IsHomeTeam IN (0,2)
						 AND SLA.IsAvailable = 1
						 AND SLA.teamid = @pteamId
						 AND AL.AL_WeekNumber = @pweekNumber
						 AND AL.AL_AllocationsID <> @vAllocationID

						 
			INSERT INTO AllocationsAddPersons
						(   AAP_AllocationsID,
							AAP_AllocationsSPID,
							AAP_SchedulingPersonID,
							AAP_Status,
							AAP_iDay,
							AAP_DutyDate,
							AAP_Comments,
							AAP_SortCode,
							AAP_CreatedBy,
							AAP_CreatedDate )
					 SELECT AL1.AL_AllocationsID,
							AP.ASP_AllocationsSPID,
							AP.ASP_SchedulingPersonID,
							1,
							ASP_iDay,
							ASP_DutyDate,
							NULL,
							SLA.SortCode,
							@vuserID,
							getdate()
					   FROM Allocations AL
					  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.TeamID = AL.AL_SchedulingTeamID
					  INNER JOIN ScheduledPersonTeam_LINK SLA ON SLA.ScheduledPersonID = SL.ScheduledPersonID
					  INNER JOIN AllocationsScheduledPersons AP on AL.AL_AllocationsID = AP.ASP_AllocationsID
															   AND SLA.ScheduledPersonID = ASP_SchedulingPersonID
					  INNER JOIN Allocations AL1 on SLA.TeamID = AL1.AL_SchedulingTeamID and AL.AL_WeekNumber = AL1.AL_WeekNumber
					   WHERE AP.ASP_DutyDate BETWEEN SL.startdate AND SL.enddate
					     AND AP.ASP_DutyDate BETWEEN SLA.startdate AND SLA.enddate
						 AND SL.scheduledtype = 1
						 AND SL.IsHomeTeam = 1
						 AND SLA.scheduledtype = 1
						 AND SLA.IsHomeTeam IN (0,2)
						 AND SLA.IsAvailable = 1
						 AND AL1.AL_AllocationsID <> @vAllocationID
						 AND AL.AL_AllocationsID = @vAllocationID

		--  Update Additional Person details Ends


			UPDATE AJ
			   SET AJ.AJ_AllocationsDutyID = ADU.AD_AllocationsDutyID
			  FROM AllocationsJobs AJ
			 INNER JOIN AllocationsDuties AD on AD.AD_AllocationsDutyID = AJ.AJ_AllocationsDutyID
			 INNER JOIN AllocationsScheduledPersons AP on AP.ASP_AllocationsDutyID = AD.AD_AllocationsDutyID
			 INNER JOIN Allocations AL on AL.AL_AllocationsID = AD.AD_AllocationsID
			 INNER JOIN AllocationsDuties ADU ON AL.AL_AllocationsID = AD.AD_AllocationsID
			 WHERE Al.AL_WeekNumber = @pweekNumber
			   AND AL.AL_SchedulingTeamID = @pteamId
			   AND ADU.AD_DutyType = 10
			   AND AP.ASP_LeaveType = 6
			   AND AJ.AJ_JobStartTimeLocal < AP.ASP_LeaveEndTimeLocal
			   AND AJ.AJ_JobEndTimeLocal > AP.ASP_LeaveStartTimeLocal


			INSERT INTO AllocationsJobs
				  ( AJ_AllocationsDutyID,
					AJ_MasterJobID,
					AJ_ProgrammeID,
					AJ_JobName,
					AJ_JobStartTimeSec,
					AJ_JobEndTimeSec,
					AJ_JobStartTimeUTC,
					AJ_JobEndTimeUTC,
					AJ_JobStartTimeLocal,
					AJ_JobEndTimeLocal,
					AJ_JobStatus,
					AJ_CreatedBy,
					AJ_CreatedDate)
			SELECT AD.AD_AllocationsDutyID,
				   0,
				   0,
				   'Leave',
				   ap.ASP_LeaveStartTimeSec,
				   ap.ASP_LeaveEndTimeSec,
				   ap.ASP_LeaveStartTimeLocal,
				   ap.ASP_LeaveEndTimeLocal,
				   ap.ASP_LeaveStartTimeLocal,
				   ap.ASP_LeaveEndTimeLocal,
				   1,
				   @vuserID,
				   getdate()
			  FROM AllocationsDuties AD
			 INNER JOIN AllocationsScheduledPersons AP on AP.ASP_AllocationsDutyID = AD.AD_AllocationsDutyID
			 INNER JOIN Allocations AL on AL.AL_AllocationsID = AD.AD_AllocationsID
			 WHERE Al.AL_WeekNumber = @pweekNumber
			   AND AL.AL_SchedulingTeamID = @pteamId
			   AND AP.ASP_LeaveType = 6


		  -- Create Acc period duty summary including this week Start

		   EXEC @ReturnValue =  usp_Create_DutyAccPeriodSummary @pWeekNumber,@pWeekNumber, @pTeamID, @pNetLogin;

		  -- Create Acc period duty summary including this week End


        IF ( @@TRANCOUNT  > 0 )
         BEGIN
           COMMIT  TRANSACTION
         END

                -- WTD Verification Start

           BEGIN

             SELECT @StartDate = FORMAT(MIN( ddatetime ), 'yyyy-MM-dd') ,
                    @EndDate = FORMAT(MAX( ddatetime ),'yyyy-MM-dd')
               FROM TimeDimension
              WHERE ixYearWeek = @pweekNumber

		   EXEC @ReturnValue =  usp_CreateWTDBreach @startDate, @EndDate,@pteamId, @pNetLogin


           END

           -- WTD Verification end

		  SELECT 0 as SPExecStatus,
			     'Success' as SPMessage

        END TRY

        BEGIN CATCH

          ROLLBACK  TRANSACTION

		 INSERT INTO ErrorLog
		        (ErrorNumber,
				 ErrorState,
				 ErrorSeverity,
				 ErrorProcedure,
				 ErrorLine,
				 ErrorMessage,
				 ErrorDateTime,
				 UserName
				)
         SELECT ERROR_NUMBER() AS ErrorNumber,
                ERROR_STATE() AS ErrorState,
				ERROR_SEVERITY() AS ErrorSeverity,
				ERROR_PROCEDURE() AS ErrorProcedure,
				ERROR_LINE() AS ErrorLine,
				ERROR_MESSAGE() AS ErrorMessage,
				getutcdate(),
				@vuserID

		 SELECT @@IDENTITY as SPExecStatus,
			    ERROR_MESSAGE() as SPMessage

        END CATCH;

END