USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_GetStaffProgsCanDoByStaffnumber]    Script Date: 27/11/2025 11:16:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_GET_GetStaffProgsCanDoByStaffnumber]
@staffnumber VARCHAR(100),
@teamid INT
AS
BEGIN
	SET NOCOUNT ON;
	IF @teamid = 0
		BEGIN
			SELECT  skills_programmes.programmename, skills_programmes.id
			FROM    skills_programmes_staff_link
			INNER JOIN    skills_programmes ON skills_programmes_staff_link.programmes_id = skills_programmes.ID
			INNER JOIN    UserDetails UD ON skills_programmes_staff_link.UserID = UD.UD_UserID
			WHERE         (ud.UD_StaffNumber = @staffnumber)
			ORDER BY      skills_programmes.programmename
		END
	ELSE
		BEGIN
			SELECT  skills_programmes.programmename, skills_programmes.id
			FROM    skills_programmes_staff_link
			INNER JOIN    skills_programmes ON skills_programmes_staff_link.programmes_id = skills_programmes.ID AND skills_programmes.TeamID = @teamid
			INNER JOIN    UserDetails UD ON skills_programmes_staff_link.UserID = UD.UD_UserID
			WHERE         (ud.UD_StaffNumber = @staffnumber)
			ORDER BY      skills_programmes.programmename
		END
END
