USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_userLeaveRequestByNetLogin]    Script Date: 05/08/2025 19:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER         PROCEDURE [dbo].[usp_userLeaveRequestByNetLogin] 
	-- Add the parameters for the stored procedure here
	@adminLogin varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
    SELECT ISNULL(SW.Admin, 0) AS LeaveAdmin, 
	       LR.Description, 
		   LR.ID,  
		   LT.ID AS LeaveTypeID, 
		   LT.description AS LeaveTypeDescription, 
		   R.ID AS RequestTypeID, 
		   R.description AS RequestType, 
	       LR.IsPartDayLeaveAllowed AS  IsPartDayLeaveAllowed,
           spl.IsHomeTeam 
	  FROM Staff_Web_Config_LeaveGroups_Link (NOLOCK) SW
     INNER JOIN LeaveRequestGroups (NOLOCK) LR ON SW.LeaveGroupID = LR.ID 
	 INNER JOIN UserDetails   (NOLOCK) sd on sd.UD_UserID =SW.ScheduledPersonID
	  LEFT OUTER JOIN leave_types (NOLOCK) LT ON LR.ID = LT.GroupID  
      LEFT OUTER JOIN RequestTypes (NOLOCK) R ON LR.ID = R.GroupID
	  LEFT JOIN ScheduledPersonTeam_LINK (NOLOCK) spl on spl.ScheduledPersonID= sd.UD_USERID 
	                                                 and spl.IsHomeTeam = 1 and spl.scheduledType = 1
	            and  CAST(GETDATE() AS date) between spl.StartDate and spl.EndDate
	 WHERE UD_NetLogin = @adminLogin
	   and SW.isActive=1
     ORDER BY LR.Description

END