USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_GetUserTeamListByUserPermission]    Script Date: 06/04/2026 16:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER             PROCEDURE [dbo].[usp_get_GetUserTeamListByUserPermission]
	---- Add the parameters for the stored procedure here
	@userID INT = 0,
	@strtask varchar(20),
	@formid INT,
	@schedulepersonid INT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @isactive int
	SET @isactive = 1

	IF EXISTS(select 1 
				from UserRoles USL  (NOLOCK) 
				JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = 1   
	           where UR_UserID = @userID 
			     and USL.UR_RoleID = 1 
				 and FormID = @formid
				 and GETDATE() between UR_StartDate and UR_EndDate )
	BEGIN
		select mainteams.TeamID,mainteams.TeamName, 
			   mainteams.DivisionName 
		from
			(
				 Select schedulingTeamId as TeamID, 
						schedulingTeamName as TeamName,'' DivisionName 
				   from schedulingTeams (NOLOCK) 
				  where IsActive = 1 
				    and schedulingTeamName not in ('Other BBC','Archive','Freelancers')
			) as mainteams
		union
		select
			st.schedulingTeamId as TeamID,
			st.schedulingTeamName as TeamName,
			'' as DivisionName
		from schedulingTeams as st (NOLOCK)
		inner join Divisions as div (NOLOCK) on div.DivisionID = st.divisionId
		where schedulingTeamName in ('Other BBC','Archive','Freelancers')
		order by mainteams.TeamName ASC
		return;
	END

	ELSE
	BEGIN
		if(@strtask = 'createAddTeam')
		  BEGIN
			SELECT DISTINCT schedulingTeamId as TeamID, 
					schedulingTeamName as TeamName, 
					'' as DivisionName 
			FROM schedulingTeams 
			WHERE isActive = 1 
			ORDER BY TeamName ASC
		  return;
		END
		if(@strtask = 'create')
		BEGIN
			select  mainteams.TeamID,mainteams.TeamName, 
					mainteams.DivisionName 
			from
			(
				select DISTINCT T2.schedulingTeamId as TeamID,T2.schedulingTeamName as TeamName,'' as DivisionName 
				from UserRoles  da (NOLOCK)
				JOIN schedulingTeams T2 (NOLOCK) on T2.divisionid = da.UR_DivisionId and T2.isActive = @isactive
				JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = da.UR_RoleID  and FormID = @formid
				join REF_Roles rr on rr.RoleID = da.UR_RoleID
				where da.UR_UserID = @userID 
				  and rr.RoleName = 'Area Admin'
				  and GETDATE() between da.UR_StartDate and UR_EndDate
				Union
				Select
					T2.schedulingTeamId as TeamID,
					T2.schedulingTeamName as TeamName,
					'' as DivisionName
				from UserRoles  T1 (NOLOCK)
			    join schedulingTeams T2  (NOLOCK) on T2.schedulingTeamId = T1.UR_SchedulingTeamID 
												 and T2.IsActive = @isactive
				WHERE T1.UR_UserID = @userID and UR_RoleID in (Select distinct RoleID 
				                                          from RolePermissionForm_LINK 
														  where FormID= @formid and PermissionID=2) 
				and GETDATE() between UR_StartDate and UR_EndDate
				UNION
				-- SysAdmin All Teams
				SELECT 
				st.schedulingTeamId AS TeamID,
				st.schedulingTeamName AS TeamName,
				'' AS DivisionName
				FROM schedulingTeams st (NOLOCK)
				WHERE st.isActive = @isactive
  				AND EXISTS (
        		SELECT 1
        		FROM UserRoles ur
        		JOIN REF_Roles rr2 ON rr2.RoleID = ur.UR_RoleID
        		WHERE ur.UR_UserID = @userID
          		AND rr2.RoleName = 'System Admin'
          		AND GETDATE() BETWEEN ur.UR_StartDate AND ur.UR_EndDate)
			) as mainteams
			union
			select
				schedulingTeamId as TeamID,
				schedulingTeamName as TeamName,
				'' as DivisionName
			from schedulingTeams (NOLOCK) 
			where schedulingTeamName in ('Other BBC','Archive','Freelancers')
			ORDER BY mainteams.TeamName ASC
			return;
		END
	if(@strtask = 'edit')
	BEGIN
	if exists( SELECT 1 
	            from schedulingTeams st 
				JOIN ScheduledPersonTeam_LINK sptl on st.schedulingTeamId = sptl.TeamID
				JOIN ( select utrl.UR_SchedulingTeamID TeamID
				         from UserRoles utrl  
						WHERE UR_UserID = @userID 
					      and UR_RoleID IN(3,4)
						  and GETDATE() BETWEEN UR_StartDate AND UR_EndDate
				     ) UT ON UT.TeamID = SPTL.TeamID
				where GETDATE() BETWEEN sptl.StartDate and sptl.EndDate 
					AND st.isActive = 1 
					AND sptl.ishometeam = 1
			  )
	BEGIN
		SELECT DISTINCT schedulingTeamId as TeamID, 
				schedulingTeamName as TeamName, 
				'' as DivisionName 
		  FROM schedulingTeams 
		  WHERE isActive = 1 
		  ORDER BY TeamName ASC
		return;
	END
	ELSE
	BEGIN
	----division admin
		if exists(select 1 
		            from UserRoles da (NOLOCK) 
					JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = da.UR_RoleID  
					join REF_Roles rr on rr.RoleID = da.UR_RoleID
					where da.UR_UserID = @userID 
					  and rr.RoleName = 'Area Admin' 
					  and FormID = @formid
					  and GETDATE() between da.UR_StartDate and UR_EndDate)
		BEGIN
			select mainteams.TeamID,mainteams.TeamName, mainteams.DivisionName from
				(
					select DISTINCT T2.schedulingTeamId as TeamID,T2.schedulingTeamName as TeamName,'' as DivisionName 
					from UserRoles  da (NOLOCK)
					join schedulingTeams T2 (NOLOCK) on T2.divisionid = da.UR_DivisionId and T2.isActive = @isactive
					join REF_Roles rr on rr.RoleID = da.UR_RoleID
					where da.UR_UserID = @userID
					  and rr.RoleName = 'Area Admin' 
					  and GETDATE() between da.UR_StartDate and UR_EndDate
					Union
					Select
						T2.schedulingTeamId as TeamID,
						T2.schedulingTeamName as TeamName,
						'' as DivisionName
					from UserRoles  T1 (NOLOCK)
					 Join schedulingTeams T2  (NOLOCK) on T2.schedulingTeamId = T1.UR_SchedulingTeamID  and T2.IsActive = @isactive
					WHERE T1.UR_UserID = @userID 
					  and UR_RoleID in (Select distinct RoleID 
					                   from RolePermissionForm_LINK (NOLOCK) 
									   where FormID= @formid 
									   and PermissionID=3
									  ) 
				     and GETDATE() between UR_StartDate and UR_EndDate
					 UNION
					 -- SysAdmin All Teams
					 SELECT 
					 st.schedulingTeamId AS TeamID,
    				 st.schedulingTeamName AS TeamName,
    				 '' AS DivisionName
					 FROM schedulingTeams st (NOLOCK)
					 WHERE st.isActive = @isactive
  					 AND EXISTS (
        			 SELECT 1
        			 FROM UserRoles ur
        			 JOIN REF_Roles rr2 ON rr2.RoleID = ur.UR_RoleID
        			 WHERE ur.UR_UserID = @userID
          			 AND rr2.RoleName = 'System Admin'
          			 AND GETDATE() BETWEEN ur.UR_StartDate AND ur.UR_EndDate)
				) as mainteams
			union
			select
				schedulingTeamId as TeamID,
				schedulingTeamName as TeamName,
				'' as DivisionName
			from schedulingTeams (NOLOCK) 
			where schedulingTeamName in ('Other BBC','Archive','Freelancers')
			ORDER BY mainteams.TeamName ASC;
			return;
		END
		if exists(select 1 
		            from UserRoles 
				   where UR_UserID = @userID 
				     and UR_RoleID = 3 
				     and GETDATE() between UR_StartDate and UR_EndDate)
		BEGIN
			select mainteams.TeamID,mainteams.TeamName, mainteams.DivisionName 
			from
				(
					Select
						Distinct T2.schedulingTeamId as TeamID,
						T2.schedulingTeamName as TeamName,
						'' as DivisionName
					from UserRoles  T1 (NOLOCK)
					Join schedulingTeams T2 (NOLOCK) on T2.schedulingTeamId = T1.UR_SchedulingTeamID 
					and T2.IsActive = @isactive
					WHERE T1.UR_UserID = @userID 
					  and UR_RoleID in ( Select distinct RoleID 
										   from RolePermissionForm_LINK (NOLOCK) 
										  where FormID= @formid 
											and PermissionID=3
										) 
					and GETDATE() between UR_StartDate and UR_EndDate			
				) as mainteams
			union
			select
				schedulingTeamId as TeamID,
				schedulingTeamName as TeamName,
				'' as DivisionName
			from schedulingTeams 
			where schedulingTeamName in ('Other BBC','Archive','Freelancers')
			ORDER BY mainteams.TeamName ASC;
			return;
		END
		ELSE
		BEGIN
			Select
				T2.schedulingTeamId as TeamID,
				T2.schedulingTeamName as TeamName,
				'' as DivisionName
			from UserRoles  T1 (NOLOCK)
			join schedulingTeams T2 (NOLOCK) on T2.schedulingTeamId = T1.UR_SchedulingTeamID and T2.IsActive = @isactive
			WHERE T1.UR_UserID = @userID 
			 and UR_RoleID = 4 
			 and GETDATE() between UR_StartDate and UR_EndDate
			order by TeamName ASC
			return;
		END
	END
	END
	else
	BEGIN
	select mainteams.TeamID,mainteams.TeamName, mainteams.DivisionName from
		(
			select DISTINCT T2.schedulingTeamId as TeamID,T2.schedulingTeamName as TeamName,'' as DivisionName 
			from UserRoles  da (NOLOCK)
			join schedulingTeams T2 (NOLOCK) on T2.divisionid = UR_DivisionId and T2.isActive = @isactive
			JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = da.UR_RoleID   
													 AND da.UR_UserID = @userID 
			 and FormID = @formid
			join REF_Roles rr on rr.RoleID = da.UR_RoleID
		   where da.UR_UserID = @userID 
			 and rr.RoleName = 'Area Admin'
			 and GETDATE() between UR_StartDate and UR_EndDate
			Union
			Select
				T2.schedulingTeamId as TeamID,
				T2.schedulingTeamName as TeamName,
				'' as DivisionName
			from UserRoles  T1 (NOLOCK)
			Join schedulingTeams T2  (NOLOCK) on T2.schedulingTeamId = T1.UR_SchedulingTeamID and T2.IsActive = @isactive
			WHERE T1.UR_UserID = @userID 
			 and UR_RoleID in (  Select distinct RoleID 
								from RolePermissionForm_LINK (NOLOCK) 
								where FormID= @formid
							   ) 
			 and GETDATE() between UR_StartDate and UR_EndDate
			 UNION
			 -- SysAdmin All Teams
			 SELECT 
    		st.schedulingTeamId AS TeamID,
    		st.schedulingTeamName AS TeamName,
    		'' AS DivisionName
			FROM schedulingTeams st (NOLOCK)
			WHERE st.isActive = @isactive
  			AND EXISTS (
				SELECT 1
				FROM UserRoles ur
				JOIN REF_Roles rr2 ON rr2.RoleID = ur.UR_RoleID
				WHERE ur.UR_UserID = @userID
				AND rr2.RoleName = 'System Admin'
				AND GETDATE() BETWEEN ur.UR_StartDate AND ur.UR_EndDate)							   
		) as mainteams
	union
	select
		schedulingTeamId as TeamID,
		schedulingTeamName as TeamName,
		'' as DivisionName
	from schedulingTeams (NOLOCK) 
	where schedulingTeamName in ('Other BBC','Archive','Freelancers')
	ORDER BY mainteams.TeamName ASC;
	return;
	END
END
END