USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterDutyFilterAction]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_MasterDutyFilterAction]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_mod_MasterDutyFilterAction]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterDutyFilterAction]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL    NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_MasterDutyFilterAction]') AND type in (N'P', N'PC'))
    SET @strSQL = N'ALTER '
ELSE
    SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_mod_MasterDutyFilterAction]  
@filterid    INT,  
@actionkey   VARCHAR(1000),  
@actionvalue   INT,  
@userId   INT,
@status    TINYINT OUTPUT,  
@returnstring  VARCHAR(1000) OUTPUT  
  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
 DECLARE @err int  
 DECLARE @rows int  
 DECLARE @RowNum int  
 DECLARE @UpdateDateTime datetime  
 DECLARE @strUpdateDateTime varchar(35)  
 DECLARE @TmpHistory varchar(4000)  
 DECLARE @newfilterid INT  
 DECLARE @isactiveold  TINYINT  
   
  
   
  
 SET @status = 1   
 SET @returnstring = ''''  
 SET @UpdateDateTime = GETDATE()  
 SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + '' at '' + CONVERT(VARCHAR, @UpdateDateTime, 108)  
  
   
    
 --Check unique record  
     
       
   IF @actionkey=''isPublic''  
   BEGIN
          IF @actionValue = ''''  
      BEGIN  
       SET @actionValue = NULL  
      END  

         
        IF EXISTS(select 1 from MasterDutiesFilter WHERE MasterDutyFilterID = @filterid AND IsPublic = 0)
	   BEGIN  
        UPDATE MasterDutiesFilter  
         SET   
          IsPublic = 1,
		  UpdateDate = CONVERT(DATETIME,GETDATE(),102)
         WHERE MasterDutyFilterID = @filterid  
		END
		ELSE
		BEGIN
			 UPDATE MasterDutiesFilter  
			 SET   
			  IsPublic = 0,
			  UpdateDate = CONVERT(DATETIME,GETDATE(),102)
			  WHERE MasterDutyFilterID = @filterid  
		END
    END  
  
  
   IF @actionkey=''isActive''  
     BEGIN  
      UPDATE MasterDutiesFilter  
       SET IsActive = @actionValue,UpdateDate = CONVERT(DATETIME,GETDATE(),102),
      UpdatedBy = @userId   
       WHERE MasterDutyFilterID = @filterid  
     END  
          
      
    SELECT @err = @@ERROR, @rows = @@ROWCOUNT  
     IF @err <> 0   
      RETURN @err  
     IF @rows = 0   
      BEGIN  
       SET @status = 0  
       RETURN 0  
      END  
END      
    
'

EXEC dbo.sp_executesql @strSQL

GO
