USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_fetch_RequestComment]    Script Date: 06/08/2025 19:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE OR ALTER   PROCEDURE [dbo].[usp_fetch_RequestComment]
	-- Add the parameters for the stored procedure here
	@intID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT		Requests.dDate,
				Requests.RequestType,
				Requests.UserComments,
				Requests.Comments, 
				ud.UD_DisplayName AS fullname,
				Requests.Login, 
				RequestTypes.description AS TypeDescription,
				LeaveRequestGroups.Description AS GroupDescription
    FROM Requests (Nolock)
    INNER JOIN RequestTypes (Nolock) ON Requests.RequestType = RequestTypes.ID 
    INNER JOIN LeaveRequestGroups (Nolock) ON RequestTypes.GroupID = LeaveRequestGroups.ID
	INNER JOIN UserDetails ud(nolock) on ud.UD_UserID=Requests.ScheduledPersonID
		--INNER JOIN ScheduledPeople as sp (NoLock) ON sp.ScheduledPersonID=Requests.ScheduledPersonID
		--LEFT JOIN StaffDetails as Staff (NoLock)  ON sp.StaffDetailsID = Staff.StaffID
    WHERE (Requests.ID = @intID)
END