USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateDutiesByID]    Script Date: 14/07/2021 16:57:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to update duties day.
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdateDutiesByID]
@intID INT,
@intGMTBST INT
AS
BEGIN
	SET NOCOUNT ON;
    If @intGMTBST=1
	UPDATE       skills_duties
             SET          GMT = GMT ^ 1
             WHERE       (ID = @intID)
	ELSE
	UPDATE       skills_duties
             SET          BST = BST ^ 1
             WHERE       (ID = @intID)

END
GO
