USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllPeoplebyTeamId]    Script Date: 14/11/2022 15:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_get_AllPeoplebyTeamId] 
    @TeamId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select
		distinct sp.ScheduledPersonID, sp.DisplayName as Fullname, 1 as EFT
	from [dbo].[ScheduledPeople] as sp (nolock)
		inner join [dbo].[ScheduledPersonTeam_LINK] as spt(nolock)  on sp.ScheduledPersonID = spt.ScheduledPersonID
	where spt.TeamID = @teamid and  convert(date, GETDATE(), 105) between convert(date, spt.StartDate, 105) and convert(date, spt.EndDate, 105) 
	AND sp.UserID != 0 AND spt.IsHomeTeam = 1 and spt.scheduledType = 1
END
