SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_insup_SummerLeave]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_insup_SummerLeave]
	-- Add the parameters for the stored procedure here
	-- Add the parameters for the stored procedure here
	@year  Varchar(100),
	@intlevaegroupid int,
	@startdate  Varchar(100),
	@enddate  Varchar(100),
	@untildate varchar(100),
	@amount int,
	@userid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @Status bit
--set value
	
	SET @Status = 1;
	
BEGIN TRANSACTION
	IF EXISTS (SELECT 1 FROM SummerLeave WHERE  (GroupID = @intlevaegroupid) AND (iYear = @year))
		BEGIN
					BEGIN TRY
						   UPDATE SummerLeave SET dStart = @startdate,dEnd = @enddate,dUntil = @untildate,  amount = @amount
							   where GroupID = @intlevaegroupid AND (iYear = @year)
					END TRY
					BEGIN CATCH
						INSERT INTO ErrorLog VALUES (ERROR_NUMBER(),ERROR_STATE(),ERROR_SEVERITY(),ERROR_LINE(),
						''usp_insup_SummerLeave'',ERROR_MESSAGE(),GETDATE(),@userid)
						SET @Status = 0;
						return @Status;
					END CATCH
		
	
		END
	ELSE
		BEGIN
				
				BEGIN TRY
						INSERT INTO SummerLeave (GroupID,iYear,dStart,dEnd,dUntil,amount)
							   VALUES (@intlevaegroupid,@year,@startdate,@enddate,@untildate,@amount)
				END TRY
				BEGIN CATCH
						INSERT INTO ErrorLog VALUES (ERROR_NUMBER(),ERROR_STATE(),ERROR_SEVERITY(),ERROR_LINE(),
						''usp_insup_SummerLeave'',ERROR_MESSAGE(),GETDATE(),@userid)
						SET @Status = 0;
						return @Status;
				END CATCH
			  
		END
COMMIT TRANSACTION

	select @Status intStatus;		
END

'

EXEC dbo.sp_executesql @strSQL

GO
