USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_MySetUp]    Script Date: 17/03/2026 06:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_get_MySetUp]
       @userID INT = 0,
       @netlogin VARCHAR(60) = NULL,
	   @ShowFutureTeam BIT = 0
       
AS
BEGIN
	
	SET NOCOUNT ON 

	DECLARE @cols				NVARCHAR(MAX),
			@cols1				NVARCHAR(MAX),
			@query				NVARCHAR(MAX),
			@conditionString2	NVARCHAR(MAX);
		
	
	IF ISNULL(@userID,0) = 0 and  @netlogin is NULL
	  BEGIN
		RETURN
	  END

   SELECT @userID = UD_UserID,
		  @netlogin = UD_NetLogin
	 FROM UserDetails 
	WHERE UD_UserID = @userID OR UD_NetLogin = @netlogin
	
	SET @conditionString2 = N'WHERE da.userid = COALESCE ('+ convert(varchar, @userID)+N',da.UserID)'

	SELECT @cols = STUFF((SELECT ',MAX(' + QUOTENAME(RoleName) +') '+QUOTENAME(RoleName)
								from REF_Roles
								where IsActive = 1 AND RoleID != 2
								group by RoleName,isSequence
								order by isSequence
							FOR XML PATH(''), TYPE
							).value('.', 'NVARCHAR(MAX)'),1,1,'')

	SELECT @cols1 = STUFF((SELECT ',' + QUOTENAME(RoleName) 
								from REF_Roles
								where IsActive = 1 AND RoleID != 2
								group by RoleName,isSequence
								order by isSequence
							FOR XML PATH(''), TYPE
							).value('.', 'NVARCHAR(MAX)'),1,1,'')

	SET @query = N'SELECT	ScheduledPersonID,
							schedulingTeamId,
							schedulingTeamName,
							schedulingTeamDivisionId,
							hasXmasPoints,
							hasGridChecks,
							hasHandovers,
							showProductionView,
							IsShowEditYearly,
							isDefault, 
							isWhosIn,
							SortCode,
							scheduledType,
							StaffNumber,
							rota,
							MAX(DivisionId) DivisionId,
							maskAfter,
							ShowJobsInWeeklyView, '
							+ CASE WHEN ISNULL(@ShowFutureTeam,0) = 1  
						          THEN ' Todayactivehometeam,'
								  ELSE ''
								  END
							+' IsHomeTeam as [Home Team], ' + @cols + N'
					from 
					 (
					   SELECT   st.schedulingTeamId,
								st.schedulingTeamName,
								st.divisionid as schedulingTeamDivisionId,
								UD_UserID as  ScheduledPersonID,
								r.RoleID,
								r.RoleName,
								case WHEN (
											SELECT TOP 1 ScheduledType 
											  FROM ScheduledPersonTeam_LINK (nolock) 
											 WHERE UD_UserID = ScheduledPersonID
											   AND getdate() BETWEEN StartDate AND EndDate
											   AND ScheduledType = 1
											   AND stl.TeamId = TeamId
											) = 1 then 1
									 ELSE stl.scheduledType
									  END AS scheduledType,
								stl.SortCode, 
								stl.isDefault, 
								stl.isWhosIn,
								st.hasXmasPoints,
								st.hasGridChecks,
								st.hasHandovers,
								st.showProductionView, 
								UD_StaffNumber AS StaffNumber,
								stl.IsHomeTeam,
								stl.rota,
								CASE WHEN GETDATE() BETWEEN STL.StartDate AND STL.EndDate and STL.IsHomeTeam = 1 
								then ''Current''
								when STL.IsHomeTeam IN (0,2) and stl.scheduledType = 1
								then ''Additional''
								when STL.IsHomeTeam IN (0,2) and stl.scheduledType = 0
								then ''Non-Sched''
								else ''Future'' END as Todayactivehometeam,
								CASE WHEN r.rolename =''Area Admin'' then utr.DivisionId else NULL end as DivisionId ,
								st.maskAfter,
								st.ShowJobsInWeeklyView, 
								st.IsShowEditYearly
						   FROM UserDetails (nolock) UD
						   JOIN ScheduledPersonTeam_LINK (nolock) stl ON UD_UserID = stl.ScheduledPersonID '
						   + CASE WHEN ISNULL(@ShowFutureTeam,0) = 0  
						          THEN ' AND getdate() BETWEEN stl.StartDate AND isnull(stl.enddate,getdate()) '
							 ELSE ' and getdate() <= isnull(stl.enddate,getdate()) '
							 END
						   +' JOIN schedulingTeams (nolock) st on st.schedulingTeamId = stl.TeamID and st.isActive = 1
						   LEFT JOIN (SELECT UR_SchedulingTeamID TeamID,
											 UR_RoleID RoleID, 
											 UR_DivisionId DivisionId, 
											 UR_UserID userid
										FROM UserRoles
										WHERE UR_UserID = '+cast(@userID as varchar) 
										+ ' AND getdate() BETWEEN UR_StartDate AND UR_EndDate 
									) utr on utr.userid = UD.UD_Userid and stl.teamid = ISNULL(utr.teamid,stl.teamid)
									AND st.divisionid = Isnull(utr.DivisionId, st.divisionid)
						   LEFT JOIN REF_Roles (nolock) r on r.RoleID = utr.RoleID 
						   WHERE UD.UD_NetLogin = '''+ @netlogin +''' 
					) x
					pivot 
					(
						MAX(RoleID)
						FOR RoleName in (' + @cols1 + N')
					) p 
				group by scheduledpersonid,
				   schedulingteamid,
				   schedulingteamname,
				   schedulingTeamDivisionId,
				   hasxmaspoints,
				   hasgridchecks,
				   hashandovers,
				   showproductionview,
				   isshowedityearly,
				   isdefault,
				   iswhosin,
				   sortcode,
				   scheduledtype,
				   staffnumber,
				   rota,
				   maskafter,
				   showjobsinweeklyview,
				   todayactivehometeam,
				   ishometeam					
		  Order by schedulingTeamName ASC,isDefault Desc '
			
	exec sp_executesql @query
		
END