USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_LeaveAllocationsByID]    Script Date: 18/08/2022 16:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_get_LeaveAllocationsByID]
	-- Add the parameters for the stored procedure here
	@leaveallocationid int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering wigth SELECT statements.
	SET NOCOUNT ON;

   		 SELECT         la.StaffNumber, la.iYear, la.Annual, la.PHL, la.TOIL, la.Comp, 
                              la.Additional, la.Exceptional, la.dDate, la.Comments, la.History, la.ID, la.Under11TOIL,la.LongService,la.Casual,la.Other,
							  la.Over12TOIL	,
                             CASE WHEN (sp.DisplayName IS NULL) THEN CASE WHEN 
			 (sd.PreferredForename IS NULL or sd.PreferredForename = '') THEN (sd.Forename + '' + sd.Surname) ELSE
			 (sd.PreferredForename + '' + sd.Surname)    END ELSE sp.DisplayName END AS FullName 
               FROM           LeaveAllocation la (nolock)
			   									INNER JOIN StaffDetails sd (nolock) on sd.StaffNumber = la.StaffNumber
               INNER JOIN     ScheduledPeople sp (nolock) ON sp.StaffDetailsID = sd.StaffID
               WHERE     la.ID = @leaveallocationid AND la.IsActive=1
END

