USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddSkillDutiesProgrammesLink]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_AddSkillDutiesProgrammesLink]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddSkillDutiesProgrammesLink]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Add Skill duties Program Link.
-- =============================================
CREATE PROCEDURE [dbo].[usp_AddSkillDutiesProgrammesLink]
@dutyid INT,
@progid INT
AS
BEGIN
	SET NOCOUNT ON;
    INSERT  
          INTO skills_duties_programmes_link(
          duties_id, programmes_id)
          VALUES (@dutyid, @progid)
END
GO
