USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[USP_Get_UserRolePermissionByPage]    Script Date: 23/07/2025 22:08:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[USP_Get_UserRolePermissionByPage]
 -- Add the parameters for the stored procedure here
 @NetLogin varchar(20),
 @pageid int


AS
BEGIN
 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;

    -- Insert statements for procedure here
 select
  NetLogin, UserID, StaffID, StaffNumber, Surname, Forename, SortCode, FormID, RoleID, RoleName,
  TeamID, IsView, IsCreate, IsEdit as IsModify, IsDelete  , IsMakePublic
 from (
  select
   RP2.PermissionName,RP2.PermissionId, NetLogin, UserID, StaffID, StaffNumber,
   Surname, Forename, SortCode, FormID, RoleID, RoleName, TeamID
  from   
  Ref_Permissions as RP2 (nolock)
  inner join

  (
    SELECT DISTINCT U.ud_netlogin            AS NetLogin,
					U.ud_userid              AS UserID,
					U.ud_staffnumber         StaffID,
					U.ud_empnumber           StaffNumber,
					U.ud_displaylastname     Surname,
					U.ud_displayname         Forename,
					0                        AS SortCode,
					rpfl.formid,
					rr.roleid,
					rr.rolename,
					utrl.ur_schedulingteamid AS TeamID,
					rp.permissionname,
					rp.permissionid
			FROM   userdetails U  (nolock)
			INNER JOIN UserRoles  UTRL (nolock) ON U.UD_UserID = UTRL.UR_UserID
			INNER JOIN SchedulingTeams  as std (nolock) on std.schedulingTeamId = UTRL.UR_SchedulingTeamID
			INNER JOIN Divisions as div (nolock) on div.DivisionID = std.divisionId
			INNER JOIN RolePermissionForm_LINK RPFL (nolock) ON RPFL.RoleID = UTRL.UR_RoleID
			INNER JOIN REF_Roles RR (nolock) ON UTRL.UR_RoleID = RR.RoleID
			INNER JOIN REF_Forms FRM (nolock) ON RPFL.FormID = FRM.FormID
			INNER JOIN REF_Permissions RP (nolock) ON RP.PermissionID = RPFL.PermissionID
   WHERE U.UD_NetLogin = @NetLogin 
	 and RPFL.FormID = @pageid 
	 and div.DivisionID not in (  Select da.UR_DivisionID 
									from UserRoles da (nolock) 
									INNER JOIN RolePermissionForm_LINK rpfl2 (nolock) on rpfl2.RoleID = da.UR_RoleID
									inner join REF_Roles rr on rr.RoleID = da.UR_RoleID
									where da.UR_UserID = U.UD_UserID 
									and rpfl2.FormID=@pageid 
									and rr.RoleName = 'Area Admin'
								)
    and getdate() between UTRL.UR_StartDate and UTRL.UR_EndDate
   UNION
	  SELECT DISTINCT U.ud_netlogin,
					U.ud_userid,
					U.ud_staffnumber     StaffID,
					U.ud_empnumber       StaffNumber,
					U.ud_displaylastname Surname,
					U.ud_displayname     Forename,
					0                    AS SortCode,
					rpfl.formid,
					rr.roleid,
					rr.rolename,
					0                    AS TeamID,
					rp.permissionname,
					rp.permissionid
			 FROM   userdetails U  (nolock)
			INNER JOIN UserRoles da (nolock) ON U.UD_UserID = da.UR_UserID 
			INNER JOIN RolePermissionForm_LINK RPFL (nolock) ON RPFL.RoleID = 2
			INNER JOIN REF_Roles RR (nolock) ON RPFL.RoleID = RR.RoleID
			INNER JOIN REF_Forms FRM (nolock) ON RPFL.FormID = FRM.FormID
			INNER JOIN REF_Permissions RP (nolock) ON RP.PermissionID = RPFL.PermissionID
			inner join REF_Roles rr1 on rr1.RoleID = da.UR_RoleId
	WHERE  U.UD_NetLogin = @NetLogin 
	and  RPFL.FormID = @pageid
	and rr1.RoleName = 'Area Admin'
	UNION
	 SELECT Distinct U.UD_NetLogin, U.UD_UserID, U.UD_StaffNumber StaffID, U.UD_EmpNumber StaffNumber, U.UD_DisplayLastName Surname,
	 U.UD_DisplayName Forename, 0 as SortCode,
	RPFL.FormID, RR.RoleID, RR.RoleName, 0 as TeamID, RP.PermissionName, RP.PermissionID
	FROM UserDetails U (nolock)
	INNER JOIN UserRoles USRL (nolock) ON U.UD_UserID = USRL.UR_UserID AND USRL.UR_RoleID = 1  
	INNER JOIN RolePermissionForm_LINK RPFL (nolock) ON RPFL.RoleID = 1	
	INNER JOIN REF_Roles RR (nolock) ON RPFL.RoleID = RR.RoleID
	INNER JOIN REF_Forms FRM (nolock) ON RPFL.FormID = FRM.FormID
	INNER JOIN REF_Permissions RP (nolock) ON RP.PermissionID = RPFL.PermissionID
	WHERE  U.UD_NetLogin = @NetLogin and  RPFL.FormID = @pageid
   ) as Temp on RP2.PermissionId = Temp.PermissionId
  ) t
  PIVOT (
   COUNT(PermissionId)
   for PermissionName IN ([IsView],[IsCreate],[IsEdit],[IsDelete],[IsMakePublic])
 ) as pivot_table

END