USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterDutyDetails]    Script Date: 11/10/2024 09:43:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_GET_MasterDutyDetails] 
	-- Add the parameters for the stored procedure here
	@areaid INT = 0,
	@dutytype INT = 0,
	@dutyid INT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @areaid = 0
		SET @areaid = NULL

	IF @dutytype = 0
		SET @dutytype = NULL

	IF @dutyid = 0
		SET @dutyid = NULL

    -- Insert statements for procedure here
	SELECT T1.MasterDutyID as DutyID, 
			T1.AreaID, 
			T1.DutyName, 
			T1.DutyTypeID, 
			ISNULL(T1.TeamID, 0) as TeamID, 
			ISNULL(T1.BaseCode, 0) as BaseCode, 
			ISNULL(T1.Duration, 0) as Duration, 
			ISNULL(T1.WindowDuration, 0) as WindowDuration, 
			ActualDuration = CASE WHEN T1.DutyTypeID = 3 THEN ISNULL(T1.WindowDuration, 0)
								  ELSE ISNULL(T1.Duration, 0)
							 END,
			CONVERT(VARCHAR(10), T1.StartDate, 103) AS StartDate,
			CONVERT(VARCHAR(10), T1.EndDate, 103) AS EndDate,
			T1.StartWeek,
			T1.EndWeek,
			ISNULL(T1.StartTime, 0) AS StartTime, 
			case when T1.EndTime > 86400 then (T1.EndTime - 86400) else ISNULL(T1.EndTime, 0) end AS EndTime,
			ActualEndTime = CASE WHEN T1.EndTime IS NULL THEN 0
								 WHEN T1.EndTime < ISNULL(T1.StartTime, 0) THEN T1.EndTime + 86400
								 ELSE ISNULL(T1.EndTime, 0)
							END,
			T1.BackColour, 
			T1.ForeColour,
			T1.DutyColourID,
			T2.ColourBackground,
			T2.ColourFont, 
			ISNULL(T1.AutoShrink, 0) as AutoShrink, 
			ISNULL(T1.Saturday, 0) as Saturday, 
			ISNULL(T1.Sunday, 0) as Sunday, 
			ISNULL(T1.Monday, 0) as Monday, 
			ISNULL(T1.Tuesday, 0) as Tuesday, 
			ISNULL(T1.Wednesday, 0) as Wednesday, 
			ISNULL(T1.Thursday, 0) as Thursday, 
			ISNULL(T1.Friday, 0) as Friday,
			T1.dotw,
			ISNULL(T1.IsPaid, 0) AS IsPaid,  
			CONVERT(VARCHAR(30),T1.LastModDate,121) as LastModDate,
			T1.BreakTime,
			T1.DutyProgramId1,
			T1.DutyProgramId2,
			T1.DutyProgramId3,
			T1.DutyProgramId4,
			T1.DutyProgramId5,
			T1.DutyProgramId6,
			T1.IsNightShift,
			T1.timezoneId,
			T1.IsNightShift,
			T1.IsNeedCovering,
			T1.IsOverrideOver12
	FROM MasterDuties T1 
	LEFT OUTER JOIN REF_MasterDutyColours T2 ON T1.DutyColourID = T2.MasterDutyColourID  
    WHERE (T1.AreaID = COALESCE(@areaid, T1.AreaID))
	  AND (T1.DutyTypeID = COALESCE(@dutytype, T1.DutyTypeID))
	  AND (T1.MasterDutyID = COALESCE(@dutyid, T1.MasterDutyID))
    ORDER BY T1.DutyName
END

