USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_GetUserTeamList_ByFormId]    Script Date: 20/08/2025 19:47:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER          PROCEDURE [dbo].[usp_get_GetUserTeamList_ByFormId]
	-- Add the parameters for the stored procedure here
	@userID INT = 0,
	@roleid INT = 0,
	@FormId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @isactive int
	SET @isactive = 1

	IF EXISTS(select 1 
	            from UserRoles USL (NOLOCK)
				JOIN RolePermissionForm_LINK rpl on rpl.RoleID = 1   
				where UR_UserID = @userID 
				  and UR_RoleID = 1 
				  and FormID = @FormId
				  and GETDATE() between UR_StartDate and UR_EndDate
			  ) 
	BEGIN
	--select 'system' return
		Select DISTINCT schedulingTeamId as TeamID,
			schedulingTeamName as TeamName,
			divisionid as  DivisionId,
			defaultNumberweeksRotaPattern,
			hasXmasPoints
		from schedulingTeams (NOLOCK) 
		where IsActive = 1
		order by schedulingTeamName ASC
	END

	ELSE IF EXISTS(select 1 
	                 from UserRoles da (NOLOCK) 
					 JOIN RolePermissionForm_LINK rpl (NOLOCK) on rpl.RoleID = 2 
					 join REF_Roles rr on rr.RoleID = da.UR_RoleID
					 where da.UR_UserID = @userID 
					 and rr.RoleName = 'Area Admin'
					 and FormID = @formid
					 and GETDATE() between UR_StartDate and UR_EndDate
					 )
	BEGIN
	--select 'divc' return
		select
			DISTINCT T2.schedulingTeamId as TeamID,
			T2.schedulingTeamName as TeamName,
			da.UR_DivisionId as DivisionId,
			T2.defaultNumberweeksRotaPattern,
			T2.hasXmasPoints
		from UserRoles  da (NOLOCK)
		join schedulingTeams T2 (NOLOCK) on t2.divisionId = da.UR_DivisionId		 
		join REF_Roles rr on rr.RoleID = da.UR_RoleID
		where da.UR_UserID = COALESCE(@userID,da.ur_UserID)
		  and rr.RoleName = 'Area Admin'
		  and T2.isActive = @isactive
		  and GETDATE() between UR_StartDate and UR_EndDate
		union
		Select DISTINCT
			T2.schedulingTeamId as TeamID,
			T2.schedulingTeamName as TeamName,
			0 as DivisionId,
			T2.defaultNumberweeksRotaPattern,
			T2.hasXmasPoints
		FROM UserRoles  T1 (NOLOCK)
		inner join RolePermissionForm_LINK rpf (NOLOCK) on rpf.RoleID = T1.UR_RoleID and rpf.FormID = @FormId
		Join schedulingTeams T2  on T2.schedulingTeamId = T1.UR_SchedulingTeamID and T2.IsActive = @isactive
		WHERE T1.UR_UserID = COALESCE(@userID,T1.ur_UserID)
          and T1.UR_StartDate <= getdate() 
		  and isnull(T1.UR_EndDate,'9999-12-01') >= getdate() 
		  and T1.UR_SchedulingTeamID NOT IN (select t4.schedulingTeamId 
		                from UserRoles  da1 (NOLOCK)
						join schedulingTeams T4 (NOLOCK) on T4.schedulingTeamId = da1.UR_SchedulingTeamID 
						 and T4.divisionid = da1.UR_DivisionId
						 and T4.isActive = @isactive
						join REF_Roles rr on rr.RoleID = da1.UR_RoleID
					   where da1.UR_UserID = COALESCE(@userID,da1.ur_UserID)
						 and rr.RoleName = 'Area Admin'
						 and GETDATE() between UR_StartDate and UR_EndDate)
		  and GETDATE() between UR_StartDate and UR_EndDate
		ORDER BY T2.schedulingTeamName ASC
	END

	ELSE
	BEGIN
	--select 'else' return
		Select DISTINCT
			T2.schedulingTeamId as TeamID,
			T2.schedulingTeamName as TeamName,
			0 as DivisionId,
			T2.defaultNumberweeksRotaPattern,
			T2.hasXmasPoints
		FROM UserRoles  T1 (NOLOCK)
		inner join RolePermissionForm_LINK rpf (NOLOCK) on rpf.RoleID = T1.UR_RoleID and rpf.FormID = @FormId
		Join schedulingTeams T2  (NOLOCK) on T2.schedulingTeamId = T1.UR_SchedulingTeamID and T2.IsActive = @isactive
		WHERE T1.UR_UserID = COALESCE(@userID,T1.ur_UserID) 
		and T1.UR_StartDate <= getdate()
		and isnull(T1.UR_EndDate,'9999-12-01') >= getdate() 
		and GETDATE() between UR_StartDate and UR_EndDate
		ORDER BY T2.schedulingTeamName ASC
	END
END