USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Edit_Job]    Script Date: 11/10/2023 20:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE [dbo].[usp_Edit_Job]
@EditType 		     VARCHAR(30),
@pNetLogin           VARCHAR(30),
@FromJobID  		 INT = NULL,
@IsShiftleader       INT = NULL

AS
BEGIN

   -- Edit Type Parameters are given below. 
   -- COPY               -> COPY Job to unallocated job grid
  

   SET NOCOUNT ON;
   SET DATEFORMAT YMD;

   DECLARE @vname              VARCHAR(100)
   DECLARE @vuserID            INT	
   DECLARE @NewJobID           INT
   DECLARE @AllocationID       INT   
  
   select @vname = Forename+' '+Surname 
     from StaffDetails 
	where NetLogin=@pNetLogin
	
   select @vuserID = UserID 
     from [dbo].[Users] 
	where NetLogin = @pNetLogin  
		
    BEGIN TRY
        BEGIN TRANSACTION  
		
           IF  (@EditType = 'COPY')
		    BEGIN

			 IF (@FromJobID IS NULL )
			  BEGIN
			   THROW 51000, 'From Job ID Cannot be NULL', 1;  
			  END
			  
			SELECT @AllocationID = AL.ID 
			  FROM Allocations AL
			 INNER JOIN Allocations AL1 ON AL.WeekNumber = AL1.WeekNumber
			                           AND AL.iDay = AL1.iDay
									   AND AL.SchedulingTeamId = AL1.SchedulingTeamId
			 INNER JOIN Allocations_jobs AJ ON AL1.ID = AJ.AllocationID
			 WHERE ISNULL(AL.SchedulingPersonID,0) = 0 
			   AND AL.DutyName IS NULL
			   AND AJ.ID = @FromJobID 
			   
			 IF ( @AllocationID IS NULL )
			  BEGIN
			   THROW 51000, 'No Allocation ID Found to assign the new Job', 1;  
			  END			   
			  	 
			INSERT INTO Allocations_jobs
				   (AllocationID, iday,Programme, Contact, Location, JobName,
					StartTime, EndTime, JobBackColour,JobFontColour,
					Comments, MasterJobID, UnAllocated,isActive,
					ProgrammeId,Job_Info,aftermidnight, JobDefaultColour)
			SELECT @AllocationID, 0,Programme, Contact, Location, JobName,
					StartTime, EndTime, JobBackColour,JobFontColour,
					Comments, MasterJobID, 1,isActive,
					ProgrammeId,Job_Info,aftermidnight, JobDefaultColour
			   FROM Allocations_jobs 
			  WHERE ID=@FromJobID
			  
            SET @NewJobID = @@Identity
			
			  INSERT INTO history
					  ( historytype,
						attributeid,
						datetime,
						userid,
						history )
				 SELECT ht.id AS historytype,
						@NewJobID AS attributeid,
						getdate(),
						@vuserID,
						'New Job created by '+@vname+' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
				   FROM historytypes HT
				  WHERE historytype='AllocationJobs'			  

			 IF ( @@TRANCOUNT	> 0 ) 
			  BEGIN
			   COMMIT  TRANSACTION 
			  END	

			 SELECT 'Success' AS errorMessage, 1 AS spStatus				
				
		   END		   

	END TRY
				
	BEGIN CATCH
				
			ROLLBACK  TRANSACTION  

			SELECT ERROR_MESSAGE() AS errorMessage, 0 spStatus
					
	END CATCH;
				
END
GO
