USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_LockUnlockDay]    Script Date: 20/04/2022 17:31:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_LockUnlockDay]
@history varchar(255),
@strDate varchar(255),
@intSchedulingTeamId INT,
@intAction INT


AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (SELECT        id
                         FROM            released_days
                         WHERE        (dDate = CONVERT(DATETIME, @strDate, 102)) AND (schedulingTeamId = @intSchedulingTeamId))
             UPDATE    released_days
               SET       history = CONCAT(@history,ISNULL(History, '') ), 
                         status = @intAction
               WHERE     (schedulingTeamId = @intSchedulingTeamId) 
               AND (dDate = CONVERT(DATETIME, @strDate, 102)) 
             ELSE    
               INSERT  INTO  released_days(dDate, schedulingTeamId, history, status)
               VALUES        (CONVERT(DATETIME, @strDate, 102), @intSchedulingTeamId, @history, @intAction)
   
END
GO
