USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_DutyShiftCountingFilters]    Script Date: 04/09/2023 13:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_GET_DutyShiftCountingFilters]
@userId INT,
@teamId INT,
@isActive INT,
@filterId INT

AS
BEGIN
	SET NOCOUNT ON;

	IF(@filterId = 0)
		BEGIN
			IF(@isActive = 0)
				BEGIN
					SELECT ID, UserID, SchedulingTeamId, 
					CASE WHEN isPublic=0 THEN FilterName ELSE CONCAT('[Pub] ',FilterName) END AS FilterName, 
					isPublic, isActive, ShowGrandTotal, ShowDetails, 
					ColA, ColB, ColC, ColD, ColE, ColF, ColG, ColH, ColI, ColJ, ColK, ColL, ColM, 
					ColN, ColO, ColP, ColQ, ColR, ColS, ColT, ColU, ColV, ColW, ColX, ColY, ColZ 
					FROM DutyShiftCountingFilters 
					WHERE SchedulingTeamId=@teamId AND (isActive=0 OR isActive=1) AND 
					((UserID=@userId AND isPublic=0) OR isPublic=1)
				END
			ELSE
				BEGIN
					SELECT ID, UserID, SchedulingTeamId, 
					CASE WHEN isPublic=0 THEN FilterName ELSE CONCAT('[Pub] ',FilterName) END AS FilterName, 
					isPublic, isActive, ShowGrandTotal, ShowDetails, 
					ColA, ColB, ColC, ColD, ColE, ColF, ColG, ColH, ColI, ColJ, ColK, ColL, ColM, 
					ColN, ColO, ColP, ColQ, ColR, ColS, ColT, ColU, ColV, ColW, ColX, ColY, ColZ 
					FROM DutyShiftCountingFilters 
					WHERE SchedulingTeamId=@teamId AND isActive=1 AND 
					((UserID=@userId AND isPublic=0) OR isPublic=1)
				END
		END
	IF(@filterId > 0)
		BEGIN
			SELECT ID, UserID, SchedulingTeamId, 
			CASE WHEN isPublic=0 THEN FilterName ELSE CONCAT('[Pub] ',FilterName) END AS FilterName, 
			FilterName AS OrgFilterName,isPublic, isActive, ShowGrandTotal, ShowDetails, 
			ColA, ColB, ColC, ColD, ColE, ColF, ColG, ColH, ColI, ColJ, ColK, ColL, ColM, 
			ColN, ColO, ColP, ColQ, ColR, ColS, ColT, ColU, ColV, ColW, ColX, ColY, ColZ 
			FROM DutyShiftCountingFilters 
			WHERE ID=@filterId
		END	
END
