USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_ListSkillDutiesById]    Script Date: 09/07/2021 14:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 09/07/2021
-- Description:	SP to Add Skill duties.
-- =============================================
CREATE PROCEDURE [dbo].[usp_ListSkillDutiesById]
@id INT
AS
BEGIN
	SET NOCOUNT ON;
    SELECT duty, description, DurationWith
              FROM  skills_duties
              WHERE  (ID = @id)
END
GO
