USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllTeamsByArea]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_AllTeamsByArea]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_AllTeamsByArea]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllTeamsByArea]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:  Michael Hoskin  
-- Create date:   
-- Description:   
-- =============================================  
CREATE PROCEDURE [dbo].[usp_get_AllTeamsByArea]   
 -- Add the parameters for the stored procedure here  
	@areaid int = 0--,   
	--@teamtypeid int = 0  
AS  BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
    -- Insert statements for procedure here  
	SELECT
		id,
		AreaID,
		TeamName  
	FROM Teams  
	WHERE (AreaID = @areaid) and IsActive = 1
	--AND (TeamTypeID = @teamtypeid)  
	ORDER BY TeamName  
   
END  


GO
