USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_AllocationDuty]    Script Date: 11/10/2024 17:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER      PROCEDURE [dbo].[usp_mod_AllocationDuty]
@DutyID INT,
@WeekNumber INT,
@iDay  INT,

@AllocationID INT,
@DutyName NVARCHAR(100),
@StartTime INT,
@EndTime  INT,
@teamId INT,

@unallocated  INT,
@duration INT,
@currentuser  INT,
@currentuserId  varchar(50),
@TaskType varchar(20),

@StartDate varchar(50),
@endDate varchar(50),
@DutyDate varchar(50),
@Breaktime INT,
@ColorId INT,
@labelid INT,
@labelid2 INT,
@labelid3 INT,
@labelid4 INT,
@labelid5 INT,
@labelid6 INT,
@SchedulingPersonID INT,

@status	 INT OUTPUT,
@returnstring VARCHAR(1000) OUTPUT,
@midnight INT,
@role INT,
@IsNeedCovering INT,
@DutyComments varchar(MAX),
@IsOverrideOver12 INT
 
AS

BEGIN
SET DATEFORMAT ymd
	Declare 
	@errormessage varchar(max),
	@History VARCHAR(Max) ='',
	@updatedCols varchar(MAX)='',
	@LastestInserteddutyId int,
	@rows int,
	@err int,
	@oldDutyName NVARCHAR(100),
	@oldDuration INT,
	@oldStartTime INT,
	@oldEndTime   INT,
	@oldDutyDate varchar(50),
	@oldStartDate varchar(50),
	@oldEndDate  varchar(50),
	@oldBreaktime  INT,
	@oldDutyColorId INT,
	@oldlabelid    INT,
	@AllocationEditID INT,
	@existing_DutyName NVARCHAR(100),
	@existing_StartTime INT,
	@existing_EndTime  INT,
	@existing_dutyBreakTime INT,
	@existing_dutyColorId  INT,
	@existing_dutyProgramId INT,
	@NewLineChar AS CHAR(2) = CHAR(13) + CHAR(10),
	@existing_ColorName NVARCHAR(100),
	@ColorName  NVARCHAR(100),
	@existing_ProgramName NVARCHAR(100),
	@ProgramName NVARCHAR(100),
	@DutyStartDate DATETIME,
	@DutyEndDate DATETIME,
	@pNetLogin NVARCHAR(25),
	@return_value INT = 0,
	@existing_dutyProgramId2 INT,
	@existing_dutyProgramId3 INT,
	@existing_dutyProgramId4 INT,
	@existing_dutyProgramId5 INT,
	@existing_dutyProgramId6 INT,
	@existing_isneedcovering  INT,
	@existing_dutycomments  varchar(max),
	@existing_IsOverrideOver12 INT;

	SET NOCOUNT ON;

		-- Check if JobName already exist.
		-- If Yes, send duplicate job name message
		-- CHECK Name available
	SET @status = 0;
	SET @returnstring = '';

	   SELECT @pNetLogin = NetLogin 
		 FROM [dbo].[Users] (NOLOCK) 
		WHERE UserID = @currentuser

	select @AllocationID = AllocationID
	FROM Allocations_published_weeks AP (NOLOCK)
	WHERE AP.WeekNumber = @WeekNumber
	AND AP.SchedulingTeamID = @teamId
	
	IF EXISTS (SELECT ID 
				 FROM Allocations (NOLOCK)
				WHERE (ID != @DutyID 
				  and DutyName = @DutyName 
				  and (schedulingTeamId = @teamid 
				  and isActive=1 
				  AND DutyDate=CONVERT(datetime,@DutyDate, 101)) 
				  and (@TaskType = 'addDuty')))
	BEGIN
				SET @returnstring = 'Warning! this duty already exist.';
				SET @status = 0;
	select @status intstatus, @returnstring strstatus, '' ID;
	SET @errormessage=ERROR_MESSAGE();
	return;
	END

	IF (@Breaktime > @duration)
	BEGIN
	SET @returnstring = 'Warning! the break time of duty is Incorrect.';
	SET @status = 0;
	SET @errormessage=ERROR_MESSAGE();
	select @status intstatus, @returnstring strstatus;
		return;
	END


	IF (ISNULL(@starttime,0) = ISNULL(@endtime,0) AND ISNULL(@duration,0)=0 )
	--IF (@starttime = @endtime)
	BEGIN
	SET @returnstring = 'Warning! the time of duty is Incorrect.';
	SET @status = 0;
	SET @errormessage=ERROR_MESSAGE();
	select @status intstatus, @returnstring strstatus;
		return;
	END

	IF @teamid is null or @teamid = '' and @TaskType != 'copyduty'
	BEGIN
				SET @returnstring = 'Please choose Scheduling team.';
				SET @status = 0;
	select @status intstatus, @returnstring strstatus, '' ID;
	return;
	END


	    SET @StartTime =  case when @StartTime%3600/60 > 0 and  @StartTime%3600/60 < 15 THEN @StartTime - (@StartTime%3600) 
                               when @StartTime%3600/60 > 15 and  @StartTime%3600/60 < 30 THEN @StartTime - (@StartTime%3600) + 900
							   when @StartTime%3600/60 > 30 and  @StartTime%3600/60 < 45 THEN @StartTime - (@StartTime%3600) + 1800
							   when @StartTime%3600/60 > 45  THEN @StartTime - (@StartTime%3600) + 2700
							   ELSE @StartTime
							 end
		SET @StartTime = CASE WHEN @StartTime >= 86400 then ( @StartTime - 86400) else @StartTime end 

	    SET @EndTime =	case when @EndTime%3600/60 > 0 and  @EndTime%3600/60 < 15 THEN @EndTime - (@EndTime%3600) + 900
                             when @EndTime%3600/60 > 15 and  @EndTime%3600/60 < 30 THEN @EndTime - (@EndTime%3600) + 1800
							 when @EndTime%3600/60 > 30 and  @EndTime%3600/60 < 45 THEN @EndTime - (@EndTime%3600) + 2700
							 when @EndTime%3600/60 > 45  THEN @EndTime - (@EndTime%3600) + 3600
							 ELSE @EndTime
							end	

		SET @EndTime = CASE WHEN @EndTime > 86400 then ( @EndTime - 86400) else @EndTime end 


        SET @duration = CASE when @EndTime > @StartTime then @EndTime - @StartTime
									when @EndTime < @StartTime then (86400- @StartTime) + @EndTime 
									when @StartTime > 0 and @EndTime > 0 and @StartTime = @EndTime then 86400 
									else @duration end

		SET @DutyStartDate = cast(  CASE
								 WHEN @StartTime IS NOT NULL THEN Concat(
								 Format (CONVERT(datetime,@DutyDate, 101), 'yyyy-MM-dd'),
																	' ', (
																	RIGHT(
																	'0' + Cast(Cast(@StartTime AS INT)
																	/ 3600
																	AS VARCHAR )
																	, 2)
																	+
																	':'
																	+ RIGHT('0' +
																	Cast((Cast(@StartTime AS INT) / 60
																	) % 60
																	AS VARCHAR), 2)
																			+ ':'
																			+ RIGHT('0' +
																	Cast(Cast(@StartTime AS INT) % 60
																	AS
																	VARCHAR ), 2)
																				+ '.000' ))
								 ELSE NULL
							   END     as datetime)


		SET @DutyEndDate =  cast(CASE
								 WHEN @EndTime IS NOT NULL THEN Concat(Format (CASE
																				   WHEN
																		 ( CASE WHEN @EndTime >= 86400 then ( @EndTime - 86400) else @EndTime end) < @StartTime THEN
																				   DATEADD(DAY,1, CONVERT(datetime,@DutyDate, 101))
																				   ELSE CONVERT(datetime,@DutyDate, 101)
																				 END, 'yyyy-MM-dd'), ' '
																  , (
																	RIGHT('0' + Cast(Cast( (CASE WHEN @EndTime >= 86400 then ( @EndTime - 86400) else @EndTime end) AS
																	INT) /
																	3600 AS VARCHAR ), 2)
																	+ ':'
																	+ RIGHT('0' + Cast((Cast( (CASE WHEN @EndTime >= 86400 then ( @EndTime - 86400) else @EndTime end )
																	AS INT)
																	/ 60) % 60 AS VARCHAR), 2)
																	+ ':'
																	+ RIGHT('0' + Cast(Cast((CASE WHEN @EndTime >= 86400 then ( @EndTime - 86400) else @EndTime end )
																	AS INT)
																	% 60 AS VARCHAR ), 2)
																	+ '.000' ))
								 ELSE NULL
							   END    as datetime) 



	IF (@DutyID = 0 and (@TaskType != 'copyduty' and @TaskType != 'adddutyCopy' 
	    AND  @TaskType != 'updateDuty' and  @TaskType !='' 
		and @TaskType! ='addDutyfromEdit') )
	BEGIN

	BEGIN TRANSACTION	

		INSERT INTO [dbo].[Allocations]([AllocationID],[Duration],[WeekNumber],
		[iDay],[dutyName],[StartTime],[EndTime],
		[schedulingTeamId],[SchedulingPersonID],[DutyDate],[StartDate],[EndDate],UnAllocated,aftermidnight,[dutyProgramId],
		[dutyProgramId2],[dutyProgramId3],[dutyProgramId4],[dutyProgramId5],[dutyProgramId6],
		[dutyBreakTime],IsNeedCovering,dutycomments,IsOverrideOver12,
		[dutyColorId],[isEdited], CreatedBy, CreatedDate, UpdatedBy, UpdatedDate)
		values(@AllocationID,@duration,@WeekNumber,@iDay,@DutyName,@StartTime,@EndTime,
		@teamId,0,CONVERT(datetime,@DutyDate, 101),@DutyStartDate,
		@DutyEndDate,1,@midnight,@labelid,@labelid2,
		@labelid3,@labelid4,@labelid5,@labelid6,
		@Breaktime,@IsNeedCovering,@DutyComments,@IsOverrideOver12,@ColorId, 
		case when @role = 1 then 1 else 0 end,
		@currentuser,getutcdate(),@currentuser,getutcdate())

 
	   IF ( @@ROWCOUNT > 0 AND @role = 1 )
	    BEGIN
		 EXEC [usp_mod_PublishIndividulAllocations] @WeekNumber,@teamId,@@IDENTITY
	    END
 

		SET @History ='New Duty created by '+ @currentuserId + ' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+'<hr>';
		SET @LastestInserteddutyId =SCOPE_IDENTITY();

		EXEC [usp_mod_AllocationHistory] @LastestInserteddutyId,8,@currentuser,@History,1
		
		SELECT @err = @@ERROR, @rows = @@ROWCOUNT
			IF @err <> 0 
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'Opps! Some Error Found.';
					SET @status = 0;
				END
			IF @rows = 0 
				BEGIN
					ROLLBACK TRANSACTION
					SET @returnstring = 'Opps! Some Error Found.';
					SET @status = 0;
				END
				
		SET @returnstring = 'Duty saved successfully.';
		SET @status = 1;
		COMMIT TRANSACTION

		select @status intstatus, @returnstring strstatus
			return;
	 END


	IF (@DutyID = 0 and (@TaskType ='addDutyfromEdit') )
	BEGIN

	BEGIN TRANSACTION	

		INSERT INTO [dbo].[Allocations]([AllocationID],[Duration],[WeekNumber],
		[iDay],[dutyName],[StartTime],[EndTime],
		[schedulingTeamId],[SchedulingPersonID],[DutyDate],[StartDate],[EndDate],UnAllocated,aftermidnight,[dutyProgramId],
		[dutyProgramId2],[dutyProgramId3],[dutyProgramId4],[dutyProgramId5],[dutyProgramId6],
		[dutyBreakTime],IsNeedCovering,DutyComments,IsOverrideOver12,
		[dutyColorId],[isEdited], MarkOverTwelve, CreatedBy, CreatedDate, UpdatedBy, UpdatedDate)
		values(@AllocationID,@duration,@WeekNumber,@iDay,@DutyName,@StartTime,@EndTime,
		@teamId,@SchedulingPersonID,CONVERT(datetime,@DutyDate, 101),@DutyStartDate,
		@DutyEndDate,0,@midnight,@labelid,@labelid2,
		@labelid3,@labelid4,@labelid5,@labelid6,
		@Breaktime,isnull(@IsNeedCovering,1), @DutyComments,@IsOverrideOver12,@ColorId,
		case when @role = 1 then 1 else 0 end,
		CASE WHEN CAST(@duration AS FLOAT)/CAST(3600 AS FLOAT) > 12 
		      and isnull(@IsOverrideOver12,0) = 1
		     THEN -1 
			 ELSE 9 END,
		@currentuser,getutcdate(),@currentuser,getutcdate())
  

		IF ( @@ROWCOUNT > 0 AND @role = 1 )
		   BEGIN
			 EXEC [usp_mod_PublishIndividulAllocations] @WeekNumber,@teamId,@@IDENTITY
		   END
  
		SET @History ='New Duty created by '+ @currentuserId + ' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm') +'<hr>';
		
		SET @LastestInserteddutyId =SCOPE_IDENTITY();

		EXEC [usp_mod_AllocationHistory] @LastestInserteddutyId,8,@currentuser,@History,1

		SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0 
					BEGIN
						ROLLBACK TRANSACTION
						SET @returnstring = 'Opps! Some Error Found.';
						SET @status = 0;
					END
				IF @rows = 0 
					BEGIN
						ROLLBACK TRANSACTION
						SET @returnstring = 'Opps! Some Error Found.';
						SET @status = 0;
					END
		SET @returnstring = 'Duty saved successfully.';
		SET @status = 1;
		COMMIT TRANSACTION

		--SET	@DutyID = @LastestInserteddutyId;

		IF ( ISNULL(@SchedulingPersonID,0) > 0 )
		 BEGIN
		   EXEC	@return_value = usp_UpdateWTD @LastestInserteddutyId, @pNetLogin	
		 END

	END


	IF(@DutyID != 0 AND ((@TaskType = 'updateDuty') or (@TaskType = 'addDutyfromEdit')))
	BEGIN
	
		IF(@role=1)
		BEGIN

			BEGIN

			  select @existing_DutyName =[DutyName],
					 @existing_StartTime =[StartTime],
					 @existing_EndTime =[EndTime],
					 @existing_dutyBreakTime =[dutyBreakTime],
					 @existing_dutyColorId =[dutyColorId],
					 @existing_dutyProgramId =[dutyProgramId],
					 @existing_dutyProgramId2 = DutyProgramId2,
					 @existing_dutyProgramId2 = DutyProgramId3,
					 @existing_dutyProgramId2 = DutyProgramId4,
					 @existing_dutyProgramId2 = DutyProgramId5,
					 @existing_dutyProgramId2 = DutyProgramId6,
					 @existing_isneedcovering = IsNeedCovering,
					 @existing_dutycomments = DutyComments,
					 @existing_IsOverrideOver12 = IsOverrideOver12
			    from Allocations 
			   where ID=@DutyID;

        IF(@existing_DutyName != @DutyName)
			BEGIN
			SET @updatedCols = @updatedCols + 'DutyName was changed from '+cast(@existing_DutyName as NVARCHAR) +' to '
			                                +cast(@DutyName as NVARCHAR)+ @NewLineChar;
			END

        IF(@existing_StartTime != @StartTime)
			BEGIN
			SET @updatedCols = @updatedCols + 'StartTime was changed from '
									  + right('0'+CAST( isnull(@existing_StartTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@existing_StartTime,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@StartTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@StartTime,0) % 3600)/60 AS varchar(2)),2)+ @NewLineChar;

			END
        IF(@existing_EndTime != @EndTime)
			BEGIN
			SET @updatedCols = @updatedCols + 'EndTime was changed from '
									  + right('0'+CAST( isnull(@existing_EndTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@existing_EndTime,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@EndTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@EndTime,0) % 3600)/60 AS varchar(2)),2)+ @NewLineChar;
			END
			IF(@existing_dutyBreakTime != @Breaktime)
			BEGIN
			SET @updatedCols = @updatedCols + 'BreakTime was changed from '
									  + right('0'+CAST( isnull(@existing_dutyBreakTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@existing_dutyBreakTime,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@Breaktime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@Breaktime,0) % 3600)/60 AS varchar(2)),2)+ @NewLineChar;
			END

          IF(@existing_dutyColorId != @ColorId)
			BEGIN
				SELECT @existing_ColorName = ColourName FROM REF_MasterDutyColours WHERE MasterDutyColourID = @existing_dutyColorId;
			
				SELECT @ColorName = ColourName FROM REF_MasterDutyColours WHERE MasterDutyColourID = @ColorId;
				
				SET @updatedCols = @updatedCols + 'DutyColour was changed from '+cast(ISNULL(@existing_ColorName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ColorName,'') as VARCHAR)+ @NewLineChar;
			END

			 IF(@existing_dutyProgramId != @labelid)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId2 != @labelid2)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId2;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid2;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId3 != @labelid3)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId3;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid3;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId4 != @labelid4)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId4;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid4;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId5 != @labelid5)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId5;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid5;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId6 != @labelid6)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId6;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid6;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_isneedcovering != @IsNeedCovering )
			  BEGIN
			 
				SET @updatedCols = @updatedCols + 'NeedCovering was changed from '
				                                + case when @existing_isneedcovering = 1 then 'Yes' else 'No' end
				                                + ' to '
												+ case when @IsNeedCovering = 1 then 'Yes' else 'No' end
												+ @NewLineChar;
				
			  END

			 IF(@existing_IsOverrideOver12 != @IsOverrideOver12 )
			  BEGIN
			 
				SET @updatedCols = @updatedCols + 'Override Over12 was changed from '
				                                + case when @existing_IsOverrideOver12 = 1 then 'Yes' else 'No' end
				                                + ' to '
												+ case when @IsOverrideOver12 = 1 then 'Yes' else 'No' end
												+ @NewLineChar;
				
			  END

			 IF(@existing_dutycomments != @DutyComments )
			  BEGIN
			 
				SET @updatedCols = @updatedCols + 'Duty comments was changed '
												+ @NewLineChar;
				
			  END

	   IF(@updatedCols!='')
	   BEGIN
         SET @History = @updatedCols+' by '+ @currentuserId + ' on '+FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+ '<hr>';
	   END


		UPDATE [dbo].[Allocations]
		   SET DutyName=@DutyName,
		       Duration=@duration,
		       StartTime=@StartTime,
			   EndTime=@EndTime,
			   isEditable=1,
			   isEdited =1,
			   DutyDate=CONVERT(datetime,@DutyDate, 101),
			   StartDate=@DutyStartDate,
			   EndDate=@DutyEndDate,dutyBreakTime=@Breaktime,
			   dutyColorId=@ColorId,dutyProgramId=@labelid,
			   dutyProgramId2=@labelid2,
			   dutyProgramId3=@labelid3,
			   dutyProgramId4=@labelid4,
			   dutyProgramId5=@labelid5,
			   dutyProgramId6=@labelid6,
			   IsNeedCovering = @IsNeedCovering,
			   IsOverrideOver12 = @IsOverrideOver12,
			   DutyComments = @existing_dutycomments,
			   isActive = CASE WHEN isnull(SchedulingPersonID,0) = 0 AND @IsNeedCovering = 0 then 0 else 1 end,
			   MarkOverTwelve = CASE WHEN SchedulingPersonID > 0 
			                          AND CAST(@duration AS FLOAT)/CAST(3600 AS FLOAT) > 12 
									  AND ISNULL(@IsOverrideOver12,1) = 1 
									  THEN -1 
									  ELSE 9 END,
			   UpdatedBy = @currentuser, UpdatedDate = getutcdate()
		 where ID=@DutyID;
   

	END  

	EXEC [usp_mod_PublishIndividulAllocations] @WeekNumber,@teamId,@DutyID

	EXEC [usp_mod_AllocationHistory] @DutyID,8,@currentuser,@History,1

		IF ( ISNULL(@SchedulingPersonID,0) > 0 )
		 BEGIN
		   EXEC	@return_value = usp_UpdateWTD @DutyID, @pNetLogin	
		 END

	SET @returnstring = 'Duty updated successfully!';
	SET @status = 1;
	SET @errormessage=ERROR_MESSAGE();
	select @status intstatus, @returnstring strstatus;
	return;

    END

	IF(@role=2)
	 BEGIN

	  BEGIN

		 select @existing_DutyName =[DutyName],
				@existing_StartTime =[StartTime],
				@existing_EndTime =[EndTime],
				@existing_dutyBreakTime =[dutyBreakTime],
				@existing_dutyColorId =[dutyColorId],
				@existing_dutyProgramId =[dutyProgramId],
				@existing_dutyProgramId2 = DutyProgramId2,
				@existing_dutyProgramId2 = DutyProgramId3,
				@existing_dutyProgramId2 = DutyProgramId4,
				@existing_dutyProgramId2 = DutyProgramId5,
				@existing_dutyProgramId2 = DutyProgramId6,
				@existing_isneedcovering = IsNeedCovering,
				@existing_IsOverrideOver12 = @IsOverrideOver12,
				@existing_dutycomments = DutyComments
		   from Allocations 
		  where ID=@DutyID;

        IF(@existing_DutyName != @DutyName)
			BEGIN
			SET @updatedCols = @updatedCols + 'DutyName was changed from '+cast(@existing_DutyName as NVARCHAR) +' to '+cast(@DutyName as NVARCHAR) + @NewLineChar;
			END
       

        IF(@existing_StartTime != @StartTime)
			BEGIN
			SET @updatedCols = @updatedCols + 'StartTime was changed from '
									  + right('0'+CAST( isnull(@existing_StartTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@existing_StartTime,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@StartTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@StartTime,0) % 3600)/60 AS varchar(2)),2)+ @NewLineChar;
			END
		
        IF(@existing_EndTime != @EndTime)
			BEGIN
			SET @updatedCols = @updatedCols + 'EndTime was changed from '
									  + right('0'+CAST( isnull(@existing_EndTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@existing_EndTime,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@EndTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@EndTime,0) % 3600)/60 AS varchar(2)),2)+ @NewLineChar;
			END
        
		IF(@existing_dutyBreakTime != @Breaktime)
			BEGIN
			SET @updatedCols = @updatedCols + 'BreakTime was changed from '
									  + right('0'+CAST( isnull(@existing_dutyBreakTime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@existing_dutyBreakTime,0) % 3600)/60 AS varchar(2)),2)+' To '
									  + right('0'+CAST( isnull(@Breaktime,0) / 3600 AS varchar(2)),2) + ':'  
									  + right('0' + CAST( (isnull(@Breaktime,0) % 3600)/60 AS varchar(2)),2)+ @NewLineChar;
			END
	    
        IF(@existing_dutyColorId != @ColorId)
			BEGIN
			SELECT @existing_ColorName = ColourName FROM REF_MasterDutyColours WHERE MasterDutyColourID = @existing_dutyColorId;
			SELECT @ColorName = ColourName FROM REF_MasterDutyColours WHERE MasterDutyColourID = @ColorId;
			SET @updatedCols = @updatedCols + 'DutyColour was changed from '+cast(ISNULL(@existing_ColorName,'') as VARCHAR) 
			             +' to '+cast(ISNULL(@ColorName,'') as VARCHAR)+ @NewLineChar;
			END
		IF(@existing_dutyProgramId != @labelid)
			BEGIN
			select @existing_ProgramName = Programme from Programmes where ID = @existing_dutyProgramId;
            select @ProgramName = Programme from Programmes where ID = @labelid;
			SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
			            +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
			END

			 IF(@existing_dutyProgramId2 != @labelid2)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId2;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid2;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId3 != @labelid3)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId3;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid3;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId4 != @labelid4)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId4;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid4;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId5 != @labelid5)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId5;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid5;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_dutyProgramId6 != @labelid6)
			  BEGIN
				select @existing_ProgramName = Programme 
				 from Programmes 
				where ID = @existing_dutyProgramId6;
				
				select @ProgramName = Programme 
				  from Programmes 
				 where ID = @labelid6;
				 
				SET @updatedCols = @updatedCols + 'Label was changed from '+cast(ISNULL(@existing_ProgramName,'') as VARCHAR) 
				                                +' to '+cast(ISNULL(@ProgramName,'') as VARCHAR)+ @NewLineChar;
				
			  END

			 IF(@existing_isneedcovering != @IsNeedCovering )
			  BEGIN
			 
				SET @updatedCols = @updatedCols + 'NeedCovering was changed from '
				                                + case when @existing_isneedcovering = 1 then 'Yes' else 'No' end
				                                + ' to '
												+ case when @IsNeedCovering = 1 then 'Yes' else 'No' end
												+ @NewLineChar;
				
			  END

			 IF(@existing_IsOverrideOver12 != @IsOverrideOver12 )
			  BEGIN
			 
				SET @updatedCols = @updatedCols + 'Override Over12 was changed from '
				                                + case when @existing_IsOverrideOver12 = 1 then 'Yes' else 'No' end
				                                + ' to '
												+ case when @IsOverrideOver12 = 1 then 'Yes' else 'No' end
												+ @NewLineChar;
				
			  END

			 IF(@existing_dutycomments != @DutyComments )
			  BEGIN
			 
				SET @updatedCols = @updatedCols + 'Duty commetns was changed '
												+ @NewLineChar;
				
			  END
			
	   IF(@updatedCols!='')
	   BEGIN
         SET @History = @updatedCols+' by '+ @currentuserId + ' on '+SUBSTRING ( CONVERT(VARCHAR, Getdate(), 113),1,17) + '<hr>';
	   END

		UPDATE [dbo].[Allocations]
		   SET DutyName=@DutyName,Duration=@duration,
		       StartTime=@StartTime,EndTime=@EndTime,
			   isEditable=1,
			   DutyDate=CONVERT(date,@DutyDate, 101),
			   StartDate=@DutyStartDate,
			   EndDate=@DutyEndDate,
			   dutyBreakTime=@Breaktime,
			   dutyColorId=@ColorId,dutyProgramId=@labelid,
			   MarkOverTwelve = CASE WHEN SchedulingPersonID > 0 
			                          AND CAST(@duration AS FLOAT)/CAST(3600 AS FLOAT) > 12
									  and isnull(@IsOverrideOver12,1) = 1
									  THEN -1 
									  ELSE 9 END,
			   dutyProgramId2=@labelid2,
			   dutyProgramId3=@labelid3,
			   dutyProgramId4=@labelid4,
			   dutyProgramId5=@labelid5,
			   dutyProgramId6=@labelid6,
			   IsNeedCovering = @IsNeedCovering,
			   IsOverrideOver12 = @IsOverrideOver12,
			   DutyComments = @DutyComments,
			   isActive = CASE WHEN isnull(SchedulingPersonID,0) = 0 AND @IsNeedCovering = 0 then 0 else 1 end,
			   UpdatedBy = @currentuser, UpdatedDate = getutcdate()
		 where ID=@DutyID;

		EXEC [usp_mod_AllocationHistory] @DutyID,8,@currentuser,@History,1;

		IF ( ISNULL(@SchedulingPersonID,0) > 0 )
		 BEGIN
		   EXEC	@return_value = usp_UpdateWTD @DutyID, @pNetLogin	
		 END

	END
	
	SET @returnstring = 'Duty updated successfully;';
	SET @status = 1;
	SET @errormessage=ERROR_MESSAGE();
	select @status intstatus, @returnstring strstatus;
	return;
	
   END
  END
END
