USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStaffCanDoDutyByDutyId]    Script Date: 27/11/2025 11:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER      PROCEDURE [dbo].[usp_GetStaffCanDoDutyByDutyId]
@intID INT
AS
BEGIN

    SET NOCOUNT ON;

     SELECT distinct FullName,
              ScheduledPersonID,
              DisplayLastName,
              DisplayFirstName
        FROM
       (
           SELECT SPSL.programmes_id,
                  ud.UD_UserID as ScheduledPersonID,
                  ud.UD_DisplayFirstName as DisplayFirstname,
                  ud.UD_DisplayLastName as DisplayLastname,
                  SF.DutySkillCount,
                  ud.UD_DisplayName AS FullName,
                  SUM(CASE WHEN SPSL.programmes_id = SF.programmes_id THEN 1 ELSE 0 END)  OVER (partition by ud.UD_TeampayStaffID) AS  StaffDutyFlagCount
             FROM skills_programmes_staff_link SPSL
            INNER JOIN skills_programmes SP ON SP.ID = SPSL.programmes_id
			INNER JOIN UserDetails (nolock) ud on ud.UD_UserID = SPSL.UserID
            INNER JOIN
            (
              select SD.duty,
                     Sd.description,
                     SD.ID,
                     SDPL.programmes_id,
                     COUNT(SDPL.programmes_id) OVER (partition by SD.duty) AS   DutySkillCount
                from skills_duties SD
               inner join skills_duties_programmes_link SDPL on SDPL.duties_ID = SD.ID
               inner join skills_programmes SP ON SP.ID = SDPL.programmes_id
               WHERE SD.ID = @intID
            )  SF on SPSL.programmes_id = SF.programmes_id
        ) FD
        --WHERE DutySkillCount = StaffDutyFlagCount
        ORDER BY DisplayLastName, DisplayFirstName

END