USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_fetch_monthlyAllocationAndRota]    Script Date: 30/03/2026 14:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER                             PROCEDURE [dbo].[usp_fetch_monthlyAllocationAndRota]
@WeekStart				INT,
@WeekEnd				INT,
@intschedulingPersonId INT,
@isShiftLeader         INT,
@pNetLogin             VARCHAR(30),
@CallingPage           INT = NULL

AS
BEGIN

    -- 
	-- 1 -> Leave Page
	-- 2 -> Yearly Page

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	SET NOCOUNT ON;

	DECLARE @IsFreelancer       BIT = 0,
			@FreelancerSPID     INT,
			@FLStartDate		DATE, 
	        @FLEndDate			DATE,
			@WeekStartDate		DATE,
			@WeekEndDate		DATE;

    DECLARE @TempLabelList VARCHAR(MAX);
	DECLARE @WeekNumbers TABLE ( WeekNumber INT)
	
		   SELECT @WeekStartDate = MIN(dDateTime),  
		          @WeekEndDate = MAX(dDateTime)
		     FROM TimeDimension
			WHERE ixYearWeek between @WeekStart and @WeekEnd
	
	SELECT @FreelancerSPID = MAX(UD.UD_UserID),
		   @FLStartDate = MIN(STL.startdate),
		   @FLEndDate = MAX(STL.enddate)
	  FROM UserDetails UD
	 INNER JOIN ScheduledPersonTeam_LINK AS STL ON UD.UD_UserID = STL.scheduledpersonid
	 INNER JOIN schedulingTeams ST ON ST.schedulingTeamId = STL.TeamID
	 WHERE ST.schedulingTeamName IN ('Freelancers','Other BBC')
	   AND UD_NetLogin = @pNetLogin
	   AND STL.IsHomeTeam = 1
	   AND STL.scheduledType = 1
	   AND STL.startdate between @WeekEndDate and  @WeekStartDate	
	   
	 IF ( ISNULL(@FreelancerSPID,0) > 0 AND @intschedulingPersonId <> @FreelancerSPID )
	  BEGIN
	    SET @IsFreelancer = 1
	  END
     ELSE
	  BEGIN
		   SET @FLStartDate = @WeekStartDate  
		   SET @FLEndDate = @WeekEndDate 
	  END

	  IF ( @CallingPage = 2 ) AND  EXISTS ( SELECT 1
					FROM ScheduledPersonTeam_LINK sl
				   INNER JOIN schedulingTeams ST ON ST.schedulingTeamId = sl.TeamID
				   WHERE ST.schedulingTeamName IN ('Freelancers','Other BBC')
				     AND sl.ScheduledPersonID = @intschedulingPersonId
					 AND SL.StartDate <= @WeekEndDate
					 AND SL.EndDate >= @WeekStartDate
					 AND sl.scheduledType = 1
					 AND sl.IsHomeTeam = 1
				)
	     BEGIN
		    
			 INSERT INTO @WeekNumbers
			 SELECT DISTINCT AL_WeekNumber			  
			  FROM Allocations AL
			  INNER JOIN TimeDimension TD on AL.AL_WeekNumber = TD.ixYearWeek
			  INNER JOIN ScheduledPersonTeam_LINK SL on SL.TeamID = AL_SchedulingTeamID
			  INNER JOIN AllocationsAddPersons AP on AL.AL_AllocationsID = AP.AAP_AllocationsID
			  WHERE SL.ScheduledPersonID = @intschedulingPersonId
			    AND SL.IsHomeTeam IN (0,2)
				AND SL.scheduledType = 1
				AND AL.AL_Status IN (0,1,2)
				AND TD.dDateTime BETWEEN SL.StartDate and SL.EndDate
				AND TD.ixYearWeek BETWEEN @WeekStart and @WeekEnd
				AND NOT EXISTS ( SELECT 1
								   FROM AllocationsDelPersons ADP
								  WHERE ADP_AllocationsID = AL.AL_AllocationsID
								    AND sl.ScheduledPersonID = ADP.ADP_SchedulingPersonID
								)

		 END

		SELECT @TempLabelList =   '#'+STUFF(
		(SELECT '#' + cast(id  as varchar)+'#'
				from Programmes
			where Programme = 'Acting'
				FOR XML PATH(''), TYPE
			).value('.', 'VARCHAR(MAX)'),1,1,'')

   SELECT  CAST(NULL AS INT)            as WeekNumber, 
	       CAST(NULL as NVARCHAR(100))  as FullName, 
		   CAST(NULL as NVARCHAR(25))   as NetLogin, 
		   CAST(NULL AS INT)            as SchedulingTeamId, 
		   CAST(NULL as NVARCHAR(120))  as schedulingTeamName, 
		   CAST(NULL AS DATETIME)       as defaultRotaStartDate, 
		   CAST(NULL AS INT)            as colourWeek,	
		   CAST(NULL as VARCHAR(132))   as Email1, 
		   CAST(NULL AS INT)            as active, 
		   CAST(NULL AS INT)            as inBuilding, 
		   CAST(NULL AS INT)            as SignInStartTime, 
		   CAST(NULL AS INT)            as SignInEndTime, 
		   CAST(NULL AS INT)            as SignInID, 
		   CAST(NULL AS INT)            as signInDays, 
		   CAST(NULL AS INT)            as allowOvertimeRequests, 
		   CAST(NULL AS INT)            as MasterDutyID, 
		   CAST(NULL as NVARCHAR(120))  as DutyName,
		   CAST(NULL AS DATE)           as DutyDate,
		   CAST(NULL AS INT)            as SchedulingPersonID, 
		   CAST(NULL AS INT)            as DOTW, 
		   CAST(NULL AS INT)            as Duration, 
		   CAST(NULL AS INT)            as StartTime,
		   CAST(NULL AS INT)            as EndTime,				   
		   CAST(NULL AS INT)            as IsHomeTeam, 
		   CAST(NULL AS INT)            as dutyColorId,
		   CAST(NULL AS NCHAR(6))       as BackColour,
		   CAST(NULL AS NCHAR(6))       as FontColour,
		   CAST(NULL as NVARCHAR(50))   as SortCode, 
		   CAST(NULL AS INT)            as ID, 
		   CAST(NULL AS INT)            as maskAfter, 
		   CAST(NULL AS INT)            as maskType, 
		   CAST(NULL AS INT)            as dutyBreakTime, 
		   CAST(NULL AS INT)            as MarkedOvertime,
		   CAST(NULL AS INT)            as ActingGrade, 
		   CAST(NULL AS BIT)            as MarkedPTExtraDay, 
		   CAST(NULL AS BIT)            as MarkedCompLeave, 
		   CAST(NULL AS INT)            as display_priority,
           CAST(NULL AS INT)            as ROTA,
		   CAST(NULL AS INT)            as ManualOThours,
		   CAST(NULL AS INT)            as isHiddenDays,
		   CAST(NULL AS INT)            as DutyComments,
           CAST(NULL AS INT)            as PersonComments,
		   CAST(NULL AS INT)            as LeaveStartTime,
		   CAST(NULL AS INT)            as LeaveEndTime,
		   CAST(NULL AS INT)            as ActingFlag,
		   CAST(NULL AS INT)            as TotalDuration,
	       CAST(NULL AS INT)            as TDExBreak,
		   CAST(NULL AS BIT)            as IsChargingAdded,
		   CAST(NULL AS BIT)            as IsNeedCovering,
		   CAST(NULL AS BIT)            as IsRestrictDeleteDuty,
		   CAST(NULL AS BIT)            as RestrictApplyROTAPattern,
		   CAST(NULL AS INT)            as AllocationsDutyID
		   INTO #TempAllocations

	IF ( @CallingPage = 2 )
	 BEGIN
	      
		  INSERT INTO #TempAllocations
	 	    SELECT WeekNumber, 
				   FullName, 
				   NetLogin, 
				   SchedulingTeamId, 
				   schedulingTeamName, 
				   defaultRotaStartDate, 
				   colourWeek,	
				   Email1, 
				   active, 
				   inBuilding, 
				   SignInStartTime, 
				   SignInEndTime, 
				   SignInID, 
				   signInDays, 
				   allowOvertimeRequests, 
				   MasterDutyID, 
				   DutyName,
				   DutyDate,
				   SchedulingPersonID, 
				   DOTW, 
				   Duration, 
				   StartTime,
				   EndTime,				   
				   IsHomeTeam, 
				   dutyColorId,
				   BackColour,
				   FontColour,
				   SortCode, 
				   ID, 
				   maskAfter, 
				   maskType, 
				   dutyBreakTime, 
				   MarkedOvertime,
				   ActingGrade, 
				   MarkedPTExtraDay, 
				   MarkedCompLeave, 
				   display_priority,
				   ROTA,
				   ManualOThours,
				   isHiddenDays,
				   DutyComments,
				   PersonComments,
				   LeaveStartTime,
				   LeaveEndTime,
				   ActingFlag,
				   SUM(ISNULL(Duration,0)) over (partition by weeknumber) as TotalDuration,
				   SUM(ISNULL(Duration,0)-ISNULL(dutyBreakTime,0)) over (partition by weeknumber) as TDExBreak,
				   IsChargingAdded,
				   IsNeedCovering,
				   IsRestrictDeleteDuty,
				   RestrictApplyROTAPattern,
				   AllocationsDutyID
	FROM
	(
	SELECT  AL_WeekNumber AS WeekNumber, 
	        UD_DisplayName  AS FullName, 
			UD_NetLogin	as NetLogin, 
			spl.TeamID            AS SchedulingTeamId, 
			ISNULL(ST.schedulingTeamName, STH.schedulingTeamName) AS schedulingTeamName, 
			ISNULL(ST.defaultRotaStartDate,STH.defaultRotaStartDate)  AS defaultRotaStartDate, 
			ISNULL(st.colourWeek,STH.colourWeek)           AS colourWeek,	
			UD_InternalEmail         AS Email1, 
			ASP_SigninStatus         AS active, 
			ASP_SigninINBuilding     AS inBuilding, 
			ASP_SigninStartTime      AS SignInStartTime, 
			ASP_SigninEndTime        AS SignInEndTime, 
			ASP_AllocationsSPID      AS SignInID, 
			ISNULL(ST.signInDays,STH.signInDays)            AS signInDays, 
			st.allowOvertimeRequests AS allowOvertimeRequests, 
			AD_MasterDutyID          AS MasterDutyID, 
			CASE WHEN AD.AD_DutyName IS NULL THEN 'U'
					WHEN AD.AD_DutyType IN (8,11,12)
					     THEN CASE WHEN ASP_LeaveType = 1
								   THEN 'Leave'
								   WHEN ASP_LeaveType = 2
								   THEN 'OFF Leave'
								   WHEN ASP_LeaveType = 3
								   THEN 'Sick'
								   WHEN ASP_LeaveType = 4
								   THEN 'U-Sick'
								   WHEN ASP_LeaveType = 5
								   THEN '-Sick'
								   WHEN ASP_LeaveType = 7
								   THEN 'Absent'
							   END
			        ELSE AD.AD_DutyName
			END		  	 	         AS DutyName,
			TD.dDateTime			 AS DutyDate,
			UD_UserID			     AS SchedulingPersonID, 
			TD.ixDayInWeek           AS DOTW, 
			AD_Duration              AS Duration, 
		    AD_StartTimeSec          AS StartTime,
		    AD_EndTimeSec            as EndTime,				   
			ISNULL(SPL.IsHomeTeam, SL.IsHomeTeam)          AS IsHomeTeam, 
			CASE WHEN AD_DutyType IN (8,11,12)
					THEN ASP_LeaveColourID
					ELSE AD_DutyColourID END AS dutyColorId,			
			CASE WHEN (ST.colourWeek = 1) THEN ISNULL(ColourBackground, 'EFEFEF') 
				 ELSE 'EFEFEF'  END AS BackColour,
			CASE WHEN (ST.colourWeek = 1) THEN ISNULL(ColourFont, '000000') 
				 ELSE ISNULL(TextColour, '000000')  END AS FontColour,
			case when CHARINDEX('#'+cast(AD_DutyProgramID1 as varchar)+'#', @TempLabelList, 1) > 0 then 1 
				 when CHARINDEX('#'+cast(AD_DutyProgramID2 as varchar)+'#', @TempLabelList, 1) > 0 then 1 
				 when CHARINDEX('#'+cast(AD_DutyProgramId3 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				 when CHARINDEX('#'+cast(AD_DutyProgramID4 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				 when CHARINDEX('#'+cast(AD_DutyProgramID5 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				 when CHARINDEX('#'+cast(AD_DutyProgramID6 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				 else 0 end as ActingFlag,
			ISNULL(ASP_SortCode,SL.SortCode )            AS SortCode, 
			AL.AL_AllocationsID         AS ID, 
			ISNULL(ST.maskAfter,STH.maskAfter)             AS maskAfter, 
			ISNULL(ST.maskType,STH.maskType)              AS maskType, 
			AD_DutyBreakTime          AS dutyBreakTime, 
			ASP_MarkedOverTime         AS MarkedOvertime,
			0            AS ActingGrade, 
			0       AS MarkedPTExtraDay, 
			0        AS MarkedCompLeave, 
			1  AS display_priority,
		    SPL.ROTA                   AS ROTA,
			ISNULL(ASP_OverTimeHours,0) AS ManualOThours,
			ISNULL(ah.isRestricted,0)  AS isHiddenDays,
			CASE WHEN isnull(AD_Comments, '') = '' THEN 0 ELSE 1 END AS DutyComments,
			CASE WHEN isnull(ASP_Comments, '') = '' THEN 0 ELSE 1 END AS PersonComments,
			CASE WHEN ASP_LeaveStatus = 1 then ISNULL(ASP_LeaveStartTimeSec,0) else 0 end as LeaveStartTime,
			CASE WHEN ASP_LeaveStatus = 1 then ISNULL(ASP_LeaveEndTimeSec,0) else 0 end as LeaveEndTime,
			case when ISNULL(ASP_ChargingStatus,0) = 0 Then 0 else 1 end as IsChargingAdded,
			AD_IsNeedCovering		AS IsNeedCovering,
			ISNULL(ST.IsRestrictDeleteDuty,STH.IsRestrictDeleteDuty) as IsRestrictDeleteDuty,
			ISNULL(ST.RestrictApplyROTAPattern,STH.RestrictApplyROTAPattern) as RestrictApplyROTAPattern,
			AD_AllocationsDutyID  AS AllocationsDutyID,
			CASE WHEN STH.schedulingTeamName IN ('Freelancers','Other BBC','Archive') AND WN.WeekNumber IS NULL THEN 1 ELSE 0 END AS IsExclude
	   FROM Allocations as AL (NOLOCK)
	  INNER JOIN TimeDimension TD on TD.ixYearWeek = AL.AL_WeekNumber
	  INNER JOIN ScheduledPersonTeam_LINK SL ON SL.TeamID = AL_SchedulingTeamID
	  INNER JOIN schedulingTeams AS STH ON  sth.schedulingTeamId = SL.TeamID
	  INNER JOIN UserDetails UD on UD_UserID = SL.ScheduledPersonID
	   LEFT JOIN AllocationsScheduledPersons ASP on AL.AL_AllocationsID = ASP_AllocationsID
												AND TD.ixDayInWeek = ASP_iDay
												AND SL.ScheduledPersonID = ASP_SchedulingPersonID
	   LEFT JOIN AllocationsDuties AD on AD_AllocationsDutyID = ASP_AllocationsDutyID
	   LEFT JOIN ScheduledPersonTeam_LINK (NOLOCK) as spl on spl.ScheduledPersonID = ASP_SchedulingPersonID
					AND spl.teamid = ASP_DutyTeamID
					AND spl.scheduledType = 1
					AND TD.dDateTime between spl.StartDate and spl.EndDate
	   LEFT JOIN schedulingTeams AS st ON  st.schedulingTeamId = spl.TeamID
	   LEFT JOIN REF_MasterDutyColours AS dc ON dc.MasterDutyColourID =  CASE WHEN AD_DutyType IN (8,11,12)
																				THEN ASP_LeaveColourID
																				ELSE AD.AD_DutyColourID END
	   LEFT JOIN ( SELECT DESCRIPTION , stl.schedulingTeamId, TextColour 
					from AllocationsTextColours AT
					INNER JOIN schedulingTeams STL on stl.divisionId = at.DivisionID) AT ON AT.Description = AD_DutyName
					       AND at.schedulingTeamId = CASE WHEN ASP_DutyTeamID > 0 
														  THEN ASP_DutyTeamID
														  ELSE AL_SchedulingTeamID 
														END    	  
	  LEFT JOIN AllocationsHiddenDays ah ON ah.SchedulingTeamId= CASE WHEN ISNULL(ASP_DutyTeamID,0) > 0 THEN ASP_DutyTeamID ELSE AL_SchedulingTeamID END
	        and ah.dDate = TD.dDateTime
	  LEFT JOIN @WeekNumbers WN ON WN.WeekNumber = TD.ixYearWeek
	 WHERE UD_UserID = @intschedulingPersonId
	   AND TD.ixYearWeek BETWEEN @WeekStart and @WeekEnd
	   AND TD.dDateTime between SL.StartDate and SL.EndDate
	   AND SL.scheduledType = 1
	   AND SL.IsHomeTeam = 1
	   AND AL_Status IN (0,1,2)
		) FD WHERE IsExclude = 0

	 END
	ELSE
     BEGIN	  

	  INSERT INTO #TempAllocations
	  SELECT WeekNumber, 
	       FullName, 
		   NetLogin, 
		   SchedulingTeamId, 
		   schedulingTeamName, 
		   defaultRotaStartDate, 
		   colourWeek,	
		   Email1, 
		   active, 
		   inBuilding, 
		   SignInStartTime, 
		   SignInEndTime, 
		   SignInID, 
		   signInDays, 
		   allowOvertimeRequests, 
		   MasterDutyID, 
		   DutyName,
		   DutyDate,
		   SchedulingPersonID, 
		   DOTW, 
		   Duration, 
		   StartTime,
		   EndTime,				   
		   IsHomeTeam, 
		   dutyColorId,
		   BackColour,
		   FontColour,
		   SortCode, 
		   ID, 
		   maskAfter, 
		   maskType, 
		   dutyBreakTime, 
		   MarkedOvertime,
		   ActingGrade, 
		   MarkedPTExtraDay, 
		   MarkedCompLeave, 
		   display_priority,
           ROTA,
		   ManualOThours,
		   isHiddenDays,
		   DutyComments,
           PersonComments,
		   LeaveStartTime,
		   LeaveEndTime,
		   ActingFlag,
		   SUM(ISNULL(Duration,0)) over (partition by weeknumber) as TotalDuration,
	       SUM(ISNULL(Duration,0)-ISNULL(dutyBreakTime,0)) over (partition by weeknumber) as TDExBreak,
		   0 as IsChargingAdded,
		   0 as IsNeedCovering,
		   0 as IsRestrictDeleteDuty,
		   0 as RestrictApplyROTAPattern,
		   AllocationsDutyID
	FROM
	(
	SELECT AL_WeekNumber AS WeekNumber, 
	       sd.UD_DisplayName AS FullName, 
			sd.UD_NetLogin as NetLogin, 
			spl.TeamID               AS SchedulingTeamId, 
			CASE WHEN ISNULL(a.IsHomeTeam,1) IN (0,2) AND DutyName = 'U' 
			      then '' 
				  ELSE isNULL(ST1.schedulingTeamName,st.schedulingTeamName)
				  END   AS schedulingTeamName, 
			st.defaultRotaStartDate  AS defaultRotaStartDate, 
			st.colourWeek            AS colourWeek,	
			sd.UD_InternalEmail         AS Email1, 
			a.SigninStatus            AS active, 
			a.SigninINBuilding        AS inBuilding, 
			a.SigninStartTime         AS SignInStartTime, 
			a.SigninEndTime           AS SignInEndTime, 
			a.AllocationsSPID         AS SignInID, 
			st.signInDays            AS signInDays, 
			st.allowOvertimeRequests AS allowOvertimeRequests, 
			a.MasterDutyID           AS MasterDutyID, 
			case WHEN ISNULL(a.IsHomeTeam,1) IN (0,2) AND DutyName = 'U' then '' 
			     when ISNULL(@isshiftleader,0) = 1 then 
				   case when TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
						 and ISNULL(st.masktype,2) = 0 then ''
						when TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
						 and ISNULL(st.masktype,2) = 0 
						 and ISNULL(a.DutyName,'U') ='U' then ''
						when TD.dDateTime > getdate()+ISNULL(st.maskafter,999)  
						 and ISNULL(st.masktype,2) = 1 
						 and (ISNULL(a.starttime,0) > 0 or ISNULL(a.endtime,0) > 0 ) then substring(a.DutyName,1,1)
					   else ISNULL(a.DutyName,'U') 
				   end 								
			    else ISNULL(a.DutyName,'U') end    AS DutyName,
			TD.dDateTime AS DutyDate,
			spl.ScheduledPersonID     AS SchedulingPersonID, 
			td.ixDayInWeek                   AS DOTW, 
			  case when ISNULL(@isshiftleader,0) = 1 then 
			   case when TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
					 AND ISNULL(st.masktype,2) = 0 then NULL
					when TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
					 AND ISNULL(st.masktype,2) = 1 
					 AND (ISNULL(a.starttime,0) > 0 or ISNULL(a.endtime,0) > 0 ) then NULL
			      ELSE a.Duration  END   
				 ELSE  a.Duration  END          AS Duration, 
		    case when ISNULL(@isshiftleader,0) = 1 
			     and TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
				 AND ISNULL(st.masktype,2) <> 2 then NULL
			 else a.StartTime end    AS StartTime,
		    case when ISNULL(@isshiftleader,0) = 1 
			      and TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
				  AND ISNULL(st.masktype,2) <> 2 then NULL
				else a.EndTime end as EndTime,				   
			spl.IsHomeTeam           AS IsHomeTeam, 
			a.dutyColorId            AS dutyColorId, 			
			CASE WHEN (st.colourWeek = 1) THEN ISNULL(dc.ColourBackground, 'EFEFEF') 
				 ELSE 'EFEFEF'  END AS BackColour,
			CASE WHEN (st.colourWeek = 1) THEN ISNULL(dc.ColourFont, '000000') 
				 ELSE ISNULL(AT.TextColour, '000000')  END AS FontColour,
			case when CHARINDEX('#'+cast(A.dutyProgramId as varchar)+'#', @TempLabelList, 1) > 0 then 1 
					when CHARINDEX('#'+cast(A.DutyProgramId2 as varchar)+'#', @TempLabelList, 1) > 0 then 1 
					when CHARINDEX('#'+cast(A.DutyProgramId3 as varchar)+'#', @TempLabelList, 1) > 0 then 1
					when CHARINDEX('#'+cast(A.DutyProgramId4 as varchar)+'#', @TempLabelList, 1) > 0 then 1
					when CHARINDEX('#'+cast(A.DutyProgramId5 as varchar)+'#', @TempLabelList, 1) > 0 then 1
					when CHARINDEX('#'+cast(A.DutyProgramId6 as varchar)+'#', @TempLabelList, 1) > 0 then 1
					else 0 end as ActingFlag,
			ISNULL(a.SortCode,spl.SortCode )            AS SortCode, 
			a.ID                     AS ID, 
			st.maskAfter             AS maskAfter, 
			st.maskType              AS maskType, 
			case when ISNULL(@isshiftleader,0) = 1 then 
			   case when TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
					 AND ISNULL(st.masktype,2) = 0 then NULL
					when TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
					 AND ISNULL(st.masktype,2) = 1 
					 AND (ISNULL(a.starttime,0) > 0 or ISNULL(a.endtime,0) > 0 ) then NULL
			      ELSE a.dutyBreakTime  END   
				 ELSE  a.dutyBreakTime  END          AS dutyBreakTime, 
			a.MarkedOvertime         AS MarkedOvertime,
			a.ActingGrade            AS ActingGrade, 
			a.MarkedPTExtraDay       AS MarkedPTExtraDay, 
			a.MarkedCompLeave        AS MarkedCompLeave, 
			case when a.adhocduty = 1 then 0 else 1 end AS display_priority,
			rank() over (partition by TD.ixYearWeek,TD.ixDayInWeek 
						 order by spl.ishometeam desc, (case when ISNULL(a.ID ,0) > 0 AND ISNULL(a.dutyteamid,0) = 0 THEN 1
															 when ISNULL(a.ID ,0) > 0 AND a.dutyteamid = a.schedulingteamid THEN 1
															 else 0 end) desc 
														) AS rankcol,
			CASE WHEN ISNULL(a.IsHomeTeam,1) = 1 THEN 1
			     WHEN ISNULL(a.IsHomeTeam,1) IN (0,2) AND DutyName <> 'U' THEN 1
				 ELSE 0 END AS AdditionalTeamFilter,
		    spl.ROTA                   AS ROTA,
			ISNULL(a.MannualOThours,0) AS ManualOThours,
			ISNULL(ah.isRestricted,0)  AS isHiddenDays,
			case when ISNULL(@isshiftleader,0) = 1 
			     and TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
				 AND ISNULL(st.masktype,2) <> 2
				 THEN NULL
				 ELSE CASE WHEN isnull(a.DutyComments, '') = '' THEN 0 ELSE 1 END
				END AS DutyComments,
             case when ISNULL(@isshiftleader,0) = 1 
			     and TD.dDateTime > getdate()+ISNULL(st.maskafter,999) 
				 AND ISNULL(st.masktype,2) <> 2
				 THEN NULL
				 ELSE CASE WHEN isnull(a.PersonComments, '') = '' THEN 0 ELSE 1 END 
			 END AS PersonComments,
			 ISNULL(a.LeaveStartTime,0) as LeaveStartTime,
			 ISNULL(a.LeaveEndTime,0) as LeaveEndTime,
			 AllocationsDutyID
	   FROM vAllocationsPublishedWeeks al (NOLOCK)	 
	  INNER JOIN TimeDimension TD ON al.AL_WeekNumber = TD.ixYearWeek
      INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as spl on spl.TeamID = al.AL_SchedulingTeamID
	  INNER JOIN UserDetails sd (NOLOCK) on sd.UD_UserID = spl.ScheduledPersonID 
	  INNER JOIN schedulingTeams AS st ON  st.schedulingTeamId = spl.TeamID
	  INNER JOIN (SELECT td.ixYearWeek weeknumber,
					     MIN(td.dDateTime) startdate
				    FROM TimeDimension TD
				   WHERE td.ixYearWeek between @weekStart and @weekEnd 
				   GROUP BY td.ixYearWeek) AS TD1 ON al.al_weeknumber = TD1.WeekNumber	
	  LEFT JOIN Allocations_Publish a (NOLOCK) ON spl.ScheduledPersonID  = a.SchedulingPersonID
			 AND TD.ixYearWeek = a.WeekNumber
			 AND TD.ixDayInWeek = a.iDay
	         AND spl.teamid = A.SchedulingTeamId 
	  LEFT JOIN schedulingTeams ST1 on st1.schedulingTeamId = a.DutyTeamID
	  LEFT JOIN REF_MasterDutyColours AS dc ON dc.MasterDutyColourID = a.dutyColorId
	  LEFT JOIN (select Description , stl.schedulingTeamId, TextColour 
	               from AllocationsTextColours AT
				  inner join schedulingTeams STL on stl.divisionId = at.DivisionID) AT ON AT.Description = A.DutyName
	        AND at.schedulingTeamId = case when a.DutyTeamID > 0 then a.DutyTeamID
			                                 else a.SchedulingTeamId end
	  LEFT JOIN AllocationsHiddenDays ah ON ah.SchedulingTeamId = a.SchedulingTeamId 
	        and ah.dDate = a.DutyDate
	 WHERE spl.ScheduledPersonID = @intschedulingPersonId
	   AND spl.scheduledType = 1
	   AND al.AL_Status = 1
	   And TD.dDateTime between spl.StartDate and spl.EndDate
	   AND TD.ixYearWeek BETWEEN @weekStart and @weekEnd 
	   AND 1 = CASE WHEN @IsFreelancer = 1 AND TD.dDateTime < CAST(getdate() - 1 AS DATE)
	                 AND TD.dDateTime BETWEEN @FLStartDate and @FLEndDate 
	                THEN 2
					WHEN @IsFreelancer = 1 AND TD.dDateTime > getdate()+ISNULL(st.freelancerMaskingDays,999)
					 AND TD.dDateTime BETWEEN @FLStartDate and @FLEndDate 
					THEN 2
		            ELSE 1 END
	   AND 1 = CASE WHEN @isshiftleader = '1' THEN
				 CASE WHEN TD1.startdate > getdate()+ isnull(st.maskafter,999)
				       AND isnull(st.masktype,2) <> 2 
				      THEN 2 ELSE 1 END
			   ELSE 1 END			
		) FD where rankcol = 1 AND AdditionalTeamFilter = 1

	END

    INSERT INTO #TempAllocations
	SELECT TD3.ixYearWeek           AS WeekNumber, 
	       sp.UD_DisplayName  AS FullName,
		   sp.UD_NetLogin as NetLogin,
		   MD.TeamID       AS SchedulingTeamId, 
		   st.schedulingTeamName, 
		   st.defaultRotaStartDate, 
		   st.colourWeek, 
		   sp.UD_InternalEmail          AS Email1, 
		   NULL                      AS active, 
		   NULL                      AS inBuilding, 
		   NULL                      AS SignInStartTime,
		   null                      AS SignInEndTime, 
		   NULL                      AS SignInID,  
		   0                         AS signInDays, 
		   0                         AS allowOvertimeRequests, 
		   MD.MasterDutyID, 
		   MD.DutyName,
		   td3.dDateTime AS DutyDate,
		   MD.ScheduledPersonID, 
		   TD3.ixDayInWeek DOTW,
		   MD.Duration, 
		   MD.StartTime, 
		   MD.EndTime, 
		   sptl.IsHomeTeam,
		   MD.DutyColourID           AS dutyColorId, 
			CASE WHEN (st.colourWeek = 1) THEN  ISNULL(dc.ColourBackground, 'EEEEFF') 
				ELSE 'EEEEFF' END AS BackColour,
			CASE WHEN (st.colourWeek = 1) THEN ISNULL(dc.ColourFont, '000000') 
				 ELSE ISNULL(AT.TextColour, '000000')  END AS FontColour,
		   sptl.SortCode, 
		   MD.MasterDutyID AS  ID,
		   st.maskAfter, 
		   st.maskType, 
		   0                         AS dutyBreakTime, 
		   0                         AS MarkedOvertime, 
		   0                         AS ActingGrade, 
		   0                         AS MarkedPTExtraDay, 
		   0                         AS MarkedCompLeave, 
		   0                         AS display_priority,
		   sptl.ROTA                 AS ROTA,
		   0                         AS ManualOThours,
		   ISNULL(ah.isRestricted,0) AS isHiddenDays,
		   0                         AS DutyComments,
           0                         AS PersonComments,
		   ISNULL(la.LeaveStartTime,0) as LeaveStartTime,
		   ISNULL(la.LeaveEndTime,0)  as LeaveEndTime,
		   case when CHARINDEX('#'+cast(md.DutyProgramId1 as varchar)+'#', @TempLabelList, 1) > 0 then 1 
				when CHARINDEX('#'+cast(md.DutyProgramId2 as varchar)+'#', @TempLabelList, 1) > 0 then 1 
				when CHARINDEX('#'+cast(md.DutyProgramId3 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				when CHARINDEX('#'+cast(md.DutyProgramId4 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				when CHARINDEX('#'+cast(md.DutyProgramId5 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				when CHARINDEX('#'+cast(md.DutyProgramId6 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				else 0 end as ActingFlag,		   
		   0                         AS TotalDuration,
		   0                         AS TDExBreak,
		   0 as IsChargingAdded,
		   md.IsNeedCovering,
		   0 as IsRestrictDeleteDuty,
		   0 as RestrictApplyROTAPattern,
		   0 AllocationsDutyID
      FROM  MasterDuties MD (NOLOCK)
      INNER JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID = MD.ScheduledPersonID
		INNER JOIN schedulingTeams AS st ON MD.ScheduledPersonID = st.schedulingTeamId
		INNER JOIN (SELECT MIN(tdt.dDateTime) AS startdate, 
		                   MAX(tdt.dDateTime ) AS enddate 
					  FROM TimeDimension tdt 
					 WHERE ixYearWeek BETWEEN @WeekStart AND @WeekEnd ) td2 ON 1 = 1
		INNER JOIN TimeDimension TD3 ON TD3.dDateTime BETWEEN MD.StartDate AND MD.EndDate
		INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl on sp.UD_UserID = sptl.ScheduledPersonID 
		        AND sptl.TeamID = MD.TeamID
		        AND ( ISNULL(sptl.ROTA,0) = CASE WHEN ISNULL(@isShiftLeader, 0) = 0 then 
			                                       ISNULL(sptl.ROTA,0) ELSE 0 END
					  OR ISNULL(sptl.ROTA,0) = CASE WHEN ISNULL(@CallingPage,0) = 1 THEN 2 ELSE 0 END)
				AND sptl.scheduledType = 1 
				AND td3.dDateTime between sptl.StartDate and ISNULL(sptl.EndDate, td3.dDateTime) 
		LEFT JOIN REF_MasterDutyColours AS dc ON dc.MasterDutyColourID = MD.DutyColourID
		LEFT JOIN (select Description , stl.schedulingTeamId, TextColour 
					from AllocationsTextColours AT
					inner join schedulingTeams STL on stl.divisionId = at.DivisionID) AT ON AT.Description = MD.DutyName
			AND at.schedulingTeamId = MD.TeamID
		LEFT JOIN AllocationsHiddenDays ah ON ah.SchedulingTeamId=MD.TeamID
	        and ah.dDate = TD3.dDateTime
		LEFT JOIN LeaveApplications LA ON LA.SchedulingPersonID = sp.UD_UserID
	        and la.dDate = TD3.dDateTime and LA.Approved = 1 and la.Deleted = 0
        WHERE MD.ScheduledPersonID = @intschedulingPersonId
		  AND TD3.ixYearWeek BETWEEN @WeekStart AND @WeekEnd 
		  AND MD.DutyTypeID = 6 
		  AND ISNULL(MD.isPublished,0) = 1
		  AND 1 = CASE WHEN @IsFreelancer = 1 THEN
		             CASE WHEN td3.dDateTime < CAST(getdate() - 1 AS DATE) 
					       AND td3.dDateTime BETWEEN @FLStartDate and @FLEndDate
						   THEN 2
					      WHEN td3.dDateTime > getdate() + ISNULL(st.freelancerMaskingDays,999) 
						   AND td3.dDateTime BETWEEN @FLStartDate and @FLEndDate
						   THEN 2
					      ELSE 1 END
		             ELSE 1 END		  
		  AND TD3.ixYearWeek NOT IN ( SELECT distinct WeekNumber 
										FROM #TempAllocations
									   WHERE display_priority <> 0)

    --- Populate ROTA if there are no allocations

    INSERT INTO #TempAllocations
	SELECT td1.ixYearWeek           AS WeekNumber, 
	       sp.UD_DisplayName  AS FullName,
		   sp.UD_NetLogin as NetLogin,
		   er.SchedulingTeamId       AS SchedulingTeamId, 
		   st.schedulingTeamName, 
		   st.defaultRotaStartDate, 
		   st.colourWeek, 
		   sp.UD_InternalEmail          AS Email1, 
		   NULL                      AS active, 
		   NULL                      AS inBuilding, 
		   NULL                      AS SignInStartTime,
		   null                      AS SignInEndTime, 
		   NULL                      AS SignInID,  
		   0                         AS signInDays, 
		   0                         AS allowOvertimeRequests, 
		   er.MasterDutyID, 
		   er.DutyName,
		   td3.dDateTime AS DutyDate,
		   er.SchedulingPersonID, 
		   er.DOTW,
		   er.Duration, 
		   er.StartTime, 
		   er.EndTime, 
		   er.IsHomeTeam,
		   er.DutyColourID           AS dutyColorId, 
			CASE WHEN (st.colourWeek = 1) THEN  ISNULL(dc.ColourBackground, 'EEEEFF') 
				ELSE 'EEEEFF' END AS BackColour,
			CASE WHEN (st.colourWeek = 1) THEN ISNULL(dc.ColourFont, '000000') 
				 ELSE ISNULL(AT.TextColour, '000000')  END AS FontColour,
		   er.SortCode, 
		   er.ID,
		   st.maskAfter, 
		   st.maskType, 
		   0                         AS dutyBreakTime, 
		   0                         AS MarkedOvertime, 
		   0                         AS ActingGrade, 
		   0                         AS MarkedPTExtraDay, 
		   0                         AS MarkedCompLeave, 
		   2                         AS display_priority,
		   sptl.ROTA                 AS ROTA,
		   0                         AS ManualOThours,
		   ISNULL(ah.isRestricted,0) AS isHiddenDays,
		   0                         AS DutyComments,
           0                         AS PersonComments,
		   ISNULL(la.LeaveStartTime,0) as LeaveStartTime,
		   ISNULL(la.LeaveEndTime,0)  as LeaveEndTime,
		   case when CHARINDEX('#'+cast(md.DutyProgramId1 as varchar)+'#', @TempLabelList, 1) > 0 then 1 
				when CHARINDEX('#'+cast(md.DutyProgramId2 as varchar)+'#', @TempLabelList, 1) > 0 then 1 
				when CHARINDEX('#'+cast(md.DutyProgramId3 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				when CHARINDEX('#'+cast(md.DutyProgramId4 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				when CHARINDEX('#'+cast(md.DutyProgramId5 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				when CHARINDEX('#'+cast(md.DutyProgramId6 as varchar)+'#', @TempLabelList, 1) > 0 then 1
				else 0 end as ActingFlag,		   
		   0                         AS TotalDuration,
		   0                         AS TDExBreak,
		   0 as IsChargingAdded,
		   md.IsNeedCovering,
		   0 as IsRestrictDeleteDuty,
		   0 as RestrictApplyROTAPattern,
		   0 as AllocationsDutyID
      FROM Exported_rota as er (NOLOCK)
      INNER JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID = er.SchedulingPersonID
	  inner join MasterDuties MD on md.MasterDutyID = er.MasterDutyID
      INNER JOIN ( SELECT td.ixYearWeek, SchedulingPersonID, RotaID,
								 SchedulingTeamId,
		           CASE WHEN ROW_NUMBER() over(partition by SchedulingPersonID, ROTAID
				   ORDER by td.ixYearWeek) % td.WeeksInRota = 0
					THEN td.WeeksInRota
					ELSE ROW_NUMBER() over(partition by SchedulingPersonID ,ROTAID
					               order by td.ixYearWeek) % td.WeeksInRota 
								   END weeksinrota
					FROM (
						  SELECT DISTINCT ixYearWeek,
						         er.WeeksInRota,
								 SchedulingPersonID,
								 RotaID,
								 SchedulingTeamId
						    FROM TimeDimension td, 
							    (
								SELECT DISTINCT AssignmentStartWeek,
								                WeeksInRota,
												SchedulingPersonID,
												RotaID,
												SchedulingTeamId
								FROM Exported_rota (NOLOCK) ER1
								INNER JOIN 
									(SELECT MIN(TDI.dDateTime) AS startdate, 
											MAX(TDI.dDateTime ) AS enddate 
									 FROM  TimeDimension TDI (NOLOCK) 
									 WHERE ixYearWeek BETWEEN @WeekStart AND @WeekEnd ) AS TDI1 ON 1 = 1 
								 WHERE SchedulingPersonID = @intschedulingPersonId
								  AND TDI1.startdate <= ISNULL( CAST(ER1.RotaAssignmentEndDate AS DATE), TDI1.startdate)
								  AND TDI1.enddate >= ISNULL(ER1.RotaAssignmentStartDate, TDI1.enddate)							  								  
								 ) er
					WHERE td.ixYearWeek BETWEEN er.AssignmentStartWeek AND @WeekEnd) TD) TD1
		      ON td1.weeksinrota = er.rotaweek 
		      AND td1.SchedulingPersonID=er.SchedulingPersonID
			  AND td1.RotaID = er.RotaID 
			  AND td1.SchedulingTeamId = er.SchedulingTeamId 
		INNER JOIN schedulingTeams AS st ON er.SchedulingTeamId = st.schedulingTeamId
		INNER JOIN (SELECT MIN(tdt.dDateTime) AS startdate, 
		                   MAX(tdt.dDateTime ) AS enddate 
					  FROM TimeDimension tdt 
					 WHERE ixYearWeek BETWEEN @WeekStart AND @WeekEnd ) td2 ON 1 = 1
		INNER JOIN TimeDimension TD3 ON TD3.ixYearWeek = TD1.ixYearWeek AND TD3.ixDayInWeek = ER.DOTW			 
		INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl on sp.UD_UserID = sptl.ScheduledPersonID 
		        AND sptl.TeamID = er.SchedulingTeamId
		        AND ( ISNULL(sptl.ROTA,0) = CASE WHEN ISNULL(@isShiftLeader, 0) = 0 then 
			                                       ISNULL(sptl.ROTA,0) ELSE 0 END
					  OR ISNULL(sptl.ROTA,0) = CASE WHEN ISNULL(@CallingPage,0) = 1 THEN 2 ELSE 0 END)
				AND sptl.scheduledType = 1 
				AND td3.dDateTime between sptl.StartDate and ISNULL(sptl.EndDate, td3.dDateTime) 
		LEFT JOIN REF_MasterDutyColours AS dc ON dc.MasterDutyColourID = er.DutyColourID
		LEFT JOIN (select Description , stl.schedulingTeamId, TextColour 
					from AllocationsTextColours AT
					inner join schedulingTeams STL on stl.divisionId = at.DivisionID) AT ON AT.Description = er.DutyName
			AND at.schedulingTeamId = er.SchedulingTeamId
		LEFT JOIN AllocationsHiddenDays ah ON ah.SchedulingTeamId=er.SchedulingTeamId
	        and ah.dDate = TD3.dDateTime
		LEFT JOIN LeaveApplications LA ON LA.SchedulingPersonID = sp.UD_UserID
	        and la.dDate = TD3.dDateTime and LA.Approved = 1 and la.Deleted = 0
        WHERE er.SchedulingPersonID = @intschedulingPersonId
          AND td1.ixYearWeek BETWEEN @WeekStart AND @WeekEnd 
		  and td3.dDateTime between er.RotaAssignmentStartDate and ISNULL( er.RotaAssignmentEndDate, td3.dDateTime)
		  AND td1.ixYearWeek <= er.AssignmentEndWeek
		  AND TD3.dDateTime between isnull(er.DutyStartDate,TD3.dDateTime) and isnull(er.DutyEndDate,TD3.dDateTime)
		  AND 1 = CASE WHEN @IsFreelancer = 1 THEN
		             CASE WHEN td3.dDateTime < CAST(getdate() - 1 AS DATE) 
					       AND td3.dDateTime BETWEEN @FLStartDate and @FLEndDate
						   THEN 2
					      WHEN td3.dDateTime > getdate() + ISNULL(st.freelancerMaskingDays,999) 
						   AND td3.dDateTime BETWEEN @FLStartDate and @FLEndDate
						   THEN 2
					      ELSE 1 END
		             ELSE 1 END		  
		  AND td1.ixYearWeek NOT IN ( SELECT distinct WeekNumber 
										FROM #TempAllocations
									   WHERE display_priority <> 0)
		  AND NOT EXISTS ( SELECT 1
							 FROM #TempAllocations TLS
							WHERE TLS.SchedulingTeamId = ER.SchedulingTeamId
							  AND TLS.SchedulingPersonID = ER.SchedulingPersonID
							  AND TLS.DOTW = ER.DOTW
							  AND TLS.WeekNumber = TD1.ixYearWeek 
							  AND TLS.display_priority = 0)		

		 UPDATE #TempAllocations SET display_priority = 1 WHERE display_priority = 0
							  
		 SELECT * 
		   FROM #TempAllocations 
		 ORDER BY FullName, WeekNumber, DOTW
		
 END