USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_UnapproveLeave]    Script Date: 20/03/2026 18:02:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_UnapproveLeave]
	-- Add the parameters for the stored procedure here
@leaveapplicationid int,
@History VARCHAR(Max),
@currentuser  INT,
@username  VARCHAR(50),
@pLeaveStartTime INT = NULL,
@pLeaveEndTime INT = NULL,
@pLeaveStartDateTime DATETIME = NULL,
@pLeaveEndDateTime DATETIME = NULL,
@IsLeaveConvertion BIT = NULL

	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	SET NOCOUNT ON;

	DECLARE @status BIT, 
	        @Returncode VARCHAR(10), 
			@err INT, 
			@rows INT,
			@approved INT,
			@AllocationsID INT,
			@AllocationsSPID INT,
			@Duration INT,
			@AllocationHistory VARCHAR(Max) ='',
			@dutyDate DATE,
			@LeaveStartTime INT,
			@LeaveEndTime INT,
			@ScheduledPersonID INT,
			@PersonHistoryType INT,
			@LeaveHistoryType INT,
			@NetLogin	VARCHAR(20);

	DECLARE @EditAllocationStatus TABLE (SPStatus INT,ErrorMsg VARCHAR(1000));
	
	SET @Returncode = 'Success';
	SET @status = 1;

  BEGIN TRANSACTION

    SELECT @NetLogin = UD_NetLogin
	  FROM UserDetails 
	 WHERE UD_UserID = @currentuser
   
	
	select @approved = Approved,
		   @dutyDate = dDate,
		   @LeaveStartTime = LeaveStartTime,
		   @LeaveEndTime = LeaveEndTime,
		   @ScheduledPersonID =SchedulingPersonID
	  from LeaveApplications (NOLOCK) 
	 where ID = @leaveapplicationid;

	 SELECT @LeaveHistoryType = ID 
	   FROM HistoryTypes
	  WHERE HistoryType = 'LeaveApplication'

	 SELECT @PersonHistoryType = ID 
	   FROM HistoryTypes
	  WHERE HistoryType = 'AllocationScheduledPerson'

	IF(@approved='1')
	 BEGIN

		DELETE ref_LeaveApplications_Amounts 
		 WHERE ApplicationID = @leaveapplicationid;

	    UPDATE LeaveApplications 
		   SET Approved = 0,
		       CountLeave=1,
			   ZeroLeave=0,
			   Totalhrs=NULL,
			   Sent = 0,
			   LeaveStartTime = CASE WHEN @pLeaveStartTime IS NULL THEN LeaveStartTime
			                         WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 THEN NULL
			                         ELSE @pLeaveStartTime END,
			   LeaveEndTime = CASE WHEN @pLeaveEndTime IS NULL THEN LeaveEndTime 
			                       WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 THEN NULL
			                       ELSE @pLeaveEndTime END,
			   LeaveStartDateTime = CASE WHEN @pLeaveStartDateTime IS NULL THEN LeaveStartDateTime
			                         WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 THEN NULL
			                         ELSE @pLeaveStartDateTime END,
			   LeaveEndDateTime = CASE WHEN @pLeaveEndDateTime IS NULL THEN LeaveEndDateTime 
			                       WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 THEN NULL
			                       ELSE @pLeaveEndDateTime END,
			   LastModDate=getutcdate(),
			   LastModBy=@currentuser 
		 WHERE ID = @leaveapplicationid;


       IF ( ISNULL(@LeaveStartTime,0) > 0 OR ISNULL(@LeaveEndTime,0) > 0 )
	    BEGIN
			UPDATE AllocationsScheduledPersons 
			   SET ASP_LeaveStatus = 0,
			       ASP_LeaveStartTimeLocal = CASE WHEN @pLeaveStartDateTime IS NULL 
												  THEN ASP_LeaveStartTimeLocal
												  WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
												  THEN NULL
												  ELSE @pLeaveStartDateTime END,
				   ASP_LeaveEndTimeLocal = CASE WHEN @pLeaveEndDateTime IS NULL 
												THEN ASP_LeaveEndTimeLocal 
											    WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
												THEN NULL
											    ELSE @pLeaveEndDateTime END,
				   ASP_LeaveStartTimeSec = CASE WHEN @pLeaveStartTime IS NULL 
												THEN ASP_LeaveStartTimeSec
												WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
												THEN NULL
												ELSE @pLeaveStartTime END,
				   ASP_LeaveEndTimeSec = CASE WHEN @pLeaveStartTime IS NULL 
											  THEN ASP_LeaveStartTimeSec
											  WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
											  THEN NULL
											  ELSE @pLeaveStartTime END,
				   ASP_UpdatedDate = getutcdate(),
				   ASP_UpdatedBy = @currentuser  
			 WHERE ASP_SchedulingPersonID = @ScheduledPersonID	
			   AND ASP_DutyDate = @dutyDate

			/* DELETE Allocations_jobs
			  WHERE AllocationID IN ( SELECT AL.ID 
			                            FROM Allocations AL 
									   INNER JOIN Allocations AT ON AT.SchedulingPersonID = AL.SchedulingPersonID
									                            AND AT.WeekNumber = AL.WeekNumber
																AND AT.iDay = AL.iDay
									   WHERE AT.ID = @Allocationid )
				AND JobName = 'Leave' */

          SET @AllocationHistory ='Leave unapproved by '+ @username
		                          + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm') + '.';

		END
	   ELSE
	    BEGIN

		    SELECT @AllocationsID = ap.ASP_AllocationsID,
				   @AllocationsSPID = ap.ASP_AllocationsSPID,
				   @Duration = ISNULL(ap.ASP_LeaveDuration,0)
			  FROM AllocationsScheduledPersons ap 
			 WHERE ASP_SchedulingPersonID = @ScheduledPersonID	
			   AND ASP_DutyDate = @dutyDate

			UPDATE ASP
			   SET ASP.ASP_AllocationsDutyID = AD_AllocationsDutyID,
				   ASP.ASP_LeaveStatus = 0,
			       ASP_LeaveStartTimeLocal = CASE WHEN @pLeaveStartDateTime IS NULL 
												  THEN ASP_LeaveStartTimeLocal
												  WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
												  THEN NULL
												  ELSE @pLeaveStartDateTime END,
				   ASP_LeaveEndTimeLocal = CASE WHEN @pLeaveEndDateTime IS NULL 
												THEN ASP_LeaveEndTimeLocal 
											    WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
												THEN NULL
											    ELSE @pLeaveEndDateTime END,
				   ASP_LeaveStartTimeSec = CASE WHEN @pLeaveStartTime IS NULL 
												THEN ASP_LeaveStartTimeSec
												WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
												THEN NULL
												ELSE @pLeaveStartTime END,
				   ASP_LeaveEndTimeSec = CASE WHEN @pLeaveStartTime IS NULL 
											  THEN ASP_LeaveStartTimeSec
											  WHEN @pLeaveStartTime = 0 AND @pLeaveEndTime = 0 
											  THEN NULL
											  ELSE @pLeaveStartTime END,
				   ASP_UpdatedDate = getutcdate(),
				   ASP_UpdatedBy = @currentuser  
			  FROM AllocationsScheduledPersons ASP
			 INNER JOIN AllocationsDuties AD on ASP.ASP_AllocationsID = AD.AD_AllocationsID AND ASP_DutyDate = AD_DutyDate
			 WHERE ASP_AllocationsSPID = @AllocationsSPID
			   AND AD_DutyType = 7


					INSERT INTO @EditAllocationStatus
					EXEC usp_Update_DutyAccPeriodSummary @dutyDate, @ScheduledPersonID,
										@Duration,0,
										0,0,@NetLogin


          SET @AllocationHistory ='Leave unapproved by '+ @username
		                          + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy HH:mm') + '.' +' Duty: U ';
		END

		IF ( ISNULL(@IsLeaveConvertion,0) = 1 )
		 BEGIN
          EXEC [usp_mod_AllocationHistory] @AllocationsSPID,@PersonHistoryType,@currentuser,@History,1,'PH';
		 END
		ELSE 
		 BEGIN
          EXEC [usp_mod_AllocationHistory] @AllocationsSPID,@PersonHistoryType,@currentuser,@AllocationHistory,1,'PH';
		 END

         EXEC [usp_mod_AllocationHistory] @leaveapplicationid,@LeaveHistoryType,@currentuser,@History,1;

	    SELECT @err = @@ERROR, 
		       @rows = @@ROWCOUNT

		IF @err <> 0 
			BEGIN
				ROLLBACK TRANSACTION
				SET @Returncode = 'Oops! Some Error Found.';
				SET @status = 0;
			END

		IF @rows = 0 
			BEGIN
				ROLLBACK TRANSACTION
				SET @Returncode = 'Oops! Some Error Found.';
				SET @status = 0;
			END

	SET @Returncode = 'leave unapproved successfully';
	SET @status = 1;
	
	END

  COMMIT TRANSACTION

END