USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_MASTER]    Script Date: 3/12/2026 10:17:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_MASTER]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7. 
-- =============================================

BEGIN

		SET NOCOUNT ON;

		EXEC usp_Import_AL_A7_REF_CostCode_Activity_Matrix;
		EXEC usp_Import_AL_A7_REF_EmpSubGroup;
		EXEC usp_Import_AL_A7_REF_Grades;
		EXEC usp_Import_AL_A7_REF_ManagerPositions;
		EXEC usp_Import_AL_A7_REF_ManagerRelation;
		EXEC usp_Import_AL_A7_REF_OrganisationLevels;
		EXEC usp_Import_AL_A7_REF_OrganisationRelation;
		EXEC usp_Import_AL_A7_REF_PayrollDates;
		EXEC usp_Import_AL_A7_REF_Buildings;
		EXEC usp_Import_AL_A7_REF_TimeDimension;
		EXEC usp_Import_AL_A7_REF_AccountingGroups;
		EXEC usp_Import_AL_A7_REF_ActivityType;
		EXEC usp_Import_AL_A7_REF_ContractCode;
		EXEC usp_Import_AL_A7_REF_EmpGroup;
		EXEC usp_Import_AL_A7_REF_PaymentType;
		EXEC usp_Import_AL_A7_REF_TermsConditionsVersion;


END
