USE [BBCSchedules_WP]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllocationsDetailsForLeave]    Script Date: 30/03/2026 14:59:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER           PROCEDURE [dbo].[usp_get_AllocationsDetailsForLeave]
    @netlogin  VARCHAR(20),
    @FromtDate VARCHAR(25),
	@ToDate    VARCHAR(25)
AS
BEGIN

    SET NOCOUNT ON;

    SET DATEFORMAT YMD;

	DECLARE  @TempAllocations TABLE
					(
					 ID INT,
					 StartTime INT,
					 EndTime INT,
					 leaveStartTime INT,
					 leaveEndTime INT,
					 DutyDate DATE,
					 IsLeaveApproved BIT,
					 dutyBreakTime INT,
					 Duration INT,
					 DutyName NVARCHAR(100),
					 IsPDLApplied BIT
					);

    DECLARE @schedulingPersonId INT,
            @WeekStart INT,
		    @WeekEnd INT;


   SELECT @schedulingPersonId = UD_UserID
	 FROM UserDetails
	 WHERE UD_NetLogin = @netlogin;

	SELECT @WeekStart = MIN(ixYearWeek),
	       @WeekEnd = MAX(ixYearWeek)
	  FROM TimeDimension
     WHERE dDateTime between CONVERT(DATETIME,@FromtDate,101) and CONVERT(DATETIME,@ToDate,101)


   INSERT INTO @TempAllocations
   SELECT AL.AL_AllocationsID as ID,
          ISNULL(ad.AD_StartTimeSec,0) as StartTime,
		  ISNULL(ad.AD_EndTimeSec,0) as EndTime,
		  sp.ASP_LeaveStartTimeSec as leaveStartTime,
		  sp.ASP_LeaveEndTimeSec as leaveEndTime,
		  td.dDateTime as DutyDate,
		  la.Approved IsLeaveApproved,
		  ad.AD_DutyBreakTime as dutyBreakTime,
		  ad.AD_Duration as Duration,
		  ISNULL(ad.AD_DutyName,'U') as DutyName,
          CASE WHEN ( ISNULL(la.leaveStartTime,0) > 0 OR ISNULL(la.leaveEndTime,0) > 0 )
		       THEN 1
		       ELSE 0 END AS IsPDLApplied
     FROM Allocations AL(nolock)
    inner join TimeDimension td on td.ixYearWeek = al.AL_WeekNumber
	inner join ScheduledPersonTeam_LINK SL(nolock) on sl.TeamID = al.AL_SchedulingTeamID
	Left join AllocationsScheduledPersons sp (nolock) on al.AL_AllocationsID=sp.ASP_AllocationsID
													and td.ixDayInWeek = sp.ASP_iDay
													and sl.ScheduledPersonID = sp.ASP_SchedulingPersonID
	Left join AllocationsDuties ad(nolock) on ad.AD_AllocationsDutyID=sp.ASP_AllocationsDutyID
	left join LeaveApplications LA on la.SchedulingPersonID = SL.ScheduledPersonID and LA.dDate = td.dDateTime
								AND ISNULL(la.LeaveTypeID,0) NOT IN ( 3,4,5)
	WHERE td.dDateTime between CONVERT(DATETIME,@FromtDate,101) and CONVERT(DATETIME,@ToDate,101)
	  and sl.scheduledType = 1
	  and td.dDateTime between sl.StartDate and sl.EndDate
	  AND SL.ScheduledPersonID = @schedulingPersonId
	  AND SL.IsHomeTeam = 1;

    INSERT INTO @TempAllocations
	SELECT AD.MasterDutyID                AS ID,
		   AD.StartTime,
		   AD.EndTime,
		   ISNULL(la.LeaveStartTime,0)          AS LeaveStartTime,
		   ISNULL(la.LeaveEndTime,0)            AS LeaveEndTime,
		   AD.StartDate                 AS DutyDate,
		   la.Approved IsLeaveApproved,
		   ad.BreakTime              AS dutyBreakTime,
		   case when isnull(AD.duration,0) = 0 then
                case when ad.endtime > ad.starttime then ad.endtime- ad.starttime
                   when ad.endtime < ad.starttime then (86400-ad.starttime)+ad.endtime end
              else  ad.duration
			end                      as Duration,
		   ad.DutyName               AS DutyName,
           CASE WHEN ( ISNULL(la.leaveStartTime,0) > 0 OR ISNULL(la.leaveEndTime,0) > 0 )
		        THEN 1
		        ELSE 0 END AS IsPDLApplied
      FROM MasterDuties as ad (NOLOCK)
	 INNER JOIN TimeDimension TD (NOLOCK) ON TD.dDateTime = ad.StartDate
	 INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl on sptl.ScheduledPersonID  = AD.ScheduledPersonID
			           AND sptl.TeamID = ad.TeamID
		               AND td.dDateTime between sptl.StartDate and ISNULL(sptl.EndDate, td.dDateTime)
	  LEFT JOIN LeaveApplications LA on la.SchedulingPersonID = SPTL.ScheduledPersonID and LA.dDate = td.dDateTime
									AND ISNULL(la.LeaveTypeID,0) NOT IN ( 3,4,5)
	WHERE td.dDateTime between CONVERT(DATETIME,@FromtDate,101) and CONVERT(DATETIME,@ToDate,101)
      AND SPTL.scheduledType = 1
	  AND SPTL.ScheduledPersonID = @schedulingPersonId
	  AND ad.DutyTypeID = 6
	  AND NOT EXISTS ( SELECT 1
						  FROM @TempAllocations TLS
						 WHERE TLS.DutyDate = TD.dDateTime
					  )

    INSERT INTO @TempAllocations
	SELECT RP.RotaPeopleID AS ID,
		   ISNULL(MD.StartTime,0) AS StartTime,
		   ISNULL(MD.EndTime,0) AS EndTime,
		   ISNULL(la.LeaveStartTime,0)          AS LeaveStartTime,
		   ISNULL(la.LeaveEndTime,0)            AS LeaveEndTime,
		   TD3.dutydate                 AS DutyDate,
		   la.Approved IsLeaveApproved,
		   MD.BreakTime              AS dutyBreakTime,
		   case when md.dutyname  <> 'U' and ISNULL(md.duration,0) = 0
		        then
                  case when md.endtime > md.starttime
				       then md.endtime- md.starttime
                       when md.endtime < md.starttime
					   then (86400-md.starttime)+md.endtime
				  end
            else  md.duration end as Duration,
		   md.DutyName               AS DutyName,
           CASE WHEN ( ISNULL(la.leaveStartTime,0) > 0 OR ISNULL(la.leaveEndTime,0) > 0 )
		        THEN 1
		        ELSE 0 END AS IsPDLApplied
        FROM   RotaPeople AS rp
          INNER JOIN ScheduledPersonTeam_LINK AS stl
             ON rp.scheduledpersonid = stl.scheduledpersonid
              AND ( stl.ishometeam = 1
                 OR ( stl.ishometeam IN (0,2)
                    AND stl.IsAvailable = 1 ) )
          INNER JOIN MasterRotas AS mr ON mr.rotaid = rp.rotaid
          INNER JOIN RotaDuties AS rd (nolock) ON rd.rotaid = mr.rotaid
          INNER JOIN MasterDuties AS md ON md.masterdutyid = rd.masterdutyid
          INNER JOIN (SELECT td.ixyearweek,
                        CASE WHEN Row_number() OVER( partition BY schedulingpersonid
                                                     ORDER BY td.ixyearweek) % td.weeksinrota = 0
													 THEN td.weeksinrota
							 ELSE Row_number() OVER( partition BY schedulingpersonid
                                                     ORDER BY td.ixyearweek) % td.weeksinrota
                  END weeksinrota,
                  schedulingpersonid
               FROM   (SELECT DISTINCT ixyearweek,
                              er.weeksinrota,
                              er.schedulingpersonid
                         FROM TimeDimension td,
                      (SELECT DISTINCT mr.rotastartweek
                               AssignmentStartWeek,
                               mr.weeksinrota
                               WeeksInRota,
                               rp.scheduledpersonid AS
                               SchedulingPersonID
                          FROM RotaPeople rp
                         INNER JOIN MasterRotas AS mr ON mr.rotaid = rp.rotaid
                           AND rp.ScheduledPersonID = @schedulingPersonId
                           AND rp.isactive = 1
                         WHERE isnull(rp.startdate,CONVERT(DATETIME,@ToDate,101))  <= CONVERT(DATETIME,@ToDate,101)
                           AND isnull(rp.enddate,CONVERT(DATETIME,@FromtDate,101))  >= CONVERT(DATETIME,@FromtDate,101)
                       ) er
                   WHERE  td.ixyearweek BETWEEN er.assignmentstartweek AND @WeekEnd) TD
              ) TD1 ON rd.rotaweek = td1.weeksinrota
                AND rp.scheduledpersonid = td1.schedulingpersonid
          INNER JOIN  (SELECT ixyearweek   weeknumber,
                      ddatetime   dutydate,
                      ixdayinweek iday
                 FROM TimeDimension
                WHERE ixyearweek BETWEEN @WeekStart AND @WeekEnd ) TD3 ON rd.dotw = TD3.iday
		                      AND td1.ixYearWeek = td3.weeknumber
          LEFT JOIN LeaveApplications LA on la.SchedulingPersonID = rp.scheduledpersonid and LA.dDate = td3.dutydate
										AND ISNULL(la.LeaveTypeID,0) NOT IN ( 3,4,5)
         WHERE  td1.ixyearweek BETWEEN @WeekStart AND @WeekEnd
           AND stl.ScheduledPersonID = @schedulingPersonId
           AND isnull(rd.startdate,CONVERT(DATETIME,@ToDate,101))  <= CONVERT(DATETIME,@ToDate,101)
           AND isnull(rd.enddate,CONVERT(DATETIME,@FromtDate,101))  >= CONVERT(DATETIME,@FromtDate,101)
           AND isnull(rp.startdate,CONVERT(DATETIME,@ToDate,101))  <= CONVERT(DATETIME,@ToDate,101)
           AND isnull(rp.enddate,CONVERT(DATETIME,@FromtDate,101))  >= CONVERT(DATETIME,@FromtDate,101)
           AND TD3.dutydate between isnull(stl.StartDate,TD3.dutydate) AND isnull(stl.EndDate,TD3.dutydate)
		   AND TD3.dutydate between CONVERT(DATETIME,@FromtDate,101) AND CONVERT(DATETIME,@ToDate,101)
           AND stl.scheduledtype = 1
           AND rp.isactive = 1
           AND md.IsActive = 1
           AND rd.isactive = 1
		   AND NOT EXISTS ( SELECT 1
							  FROM @TempAllocations TLS
							 WHERE TLS.DutyDate = TD3.dutydate)

     SELECT * FROM @TempAllocations

END