USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_add_AutoPagesFilter]    Script Date: 30/04/2024 18:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_add_AutoPagesFilter]
@filterName VARCHAR(255),
@filterDuty VARCHAR(255),
@filterSortCode VARCHAR(255),
@teamId INT,
@userId INT,
@filterStaffName VARCHAR(255),
@filterCostCode VARCHAR(255),
@filterSkill VARCHAR(255),
@filterJobName VARCHAR(255),
@filterJobLabel VARCHAR(255),
@filterAdditionalTeams VARCHAR(255),
@isPublic INT,
@andMatch INT,
@ID INT,
@filterDutyLabel VARCHAR(255),
@SortOrder INT,
@JobNameAll INT = 0,
@JobLabelAll INT = 0,
@filterDutyTime INT = 0

AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @returnStatus INT
	IF(@ID = 0)
		BEGIN TRY
			INSERT INTO AutoPagesFilters(Description,DutyFilter,SortCodeFilter,SchedulingTeamId,UserID,StaffName,CostCode,
			SkillName,JobName,JobLabel,AdditionalTeams,DutyLabel,isPublic,AndMatch,SortOrder,JobNameAll,JobLabelAll,DutyTime) 
			VALUES(@filterName,@filterDuty,@filterSortCode,
			@teamId,@userId,@filterStaffName,@filterCostCode,@filterSkill,@filterJobName,@filterJobLabel,
			@filterAdditionalTeams,@filterDutyLabel,@isPublic,@andMatch,@SortOrder,@JobNameAll,@JobLabelAll,@filterDutyTime)
			SET @returnStatus = SCOPE_IDENTITY();
			return @returnStatus;
		END TRY
		BEGIN CATCH
			INSERT INTO ErrorLog VALUES (ERROR_NUMBER(),ERROR_STATE(),ERROR_SEVERITY(),ERROR_LINE(),
			'usp_add_AutoPagesFilter',ERROR_MESSAGE(),GETDATE(),@userid)
			SET @returnStatus = 0;
			return @returnStatus;
		END CATCH
	ELSE
		BEGIN TRY
			IF(@isPublic = 1)
				BEGIN
					UPDATE AutoPagesFilters 
					SET Description=@filterName,DutyFilter=@filterDuty,SortCodeFilter=@filterSortCode,StaffName=@filterStaffName,
					CostCode=@filterCostCode,SkillName=@filterSkill,JobName=@filterJobName,
					JobLabel=@filterJobLabel,AdditionalTeams=@filterAdditionalTeams,
					DutyLabel=@filterDutyLabel,isPublic=@isPublic,AndMatch=@andMatch,SortOrder=@SortOrder,
					JobNameAll=@JobNameAll,JobLabelAll=@JobLabelAll, DutyTime=@filterDutyTime
					WHERE ID=@ID AND SchedulingTeamId=@teamId
					SET @returnStatus = 1;
					return @returnStatus;
				END
			ELSE
				BEGIN
					UPDATE AutoPagesFilters 
					SET Description=@filterName,DutyFilter=@filterDuty,SortCodeFilter=@filterSortCode,
					StaffName=@filterStaffName,CostCode=@filterCostCode,SkillName=@filterSkill,
					JobName=@filterJobName,JobLabel=@filterJobLabel,AdditionalTeams=@filterAdditionalTeams,DutyLabel=@filterDutyLabel,
					isPublic=@isPublic,AndMatch=@andMatch,SortOrder=@SortOrder,
					JobNameAll=@JobNameAll,JobLabelAll=@JobLabelAll , DutyTime=@filterDutyTime
					WHERE ID=@ID AND SchedulingTeamId=@teamId AND UserID=@userId
					SET @returnStatus = 1;
					return @returnStatus;
				END
		END TRY
		BEGIN CATCH
			INSERT INTO ErrorLog VALUES (ERROR_NUMBER(),ERROR_STATE(),ERROR_SEVERITY(),ERROR_LINE(),
			'usp_add_AutoPagesFilter',ERROR_MESSAGE(),GETDATE(),@userid)
			SET @returnStatus = 0;
			return @returnStatus;
		END CATCH
END