USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_ContractCode]    Script Date: 3/12/2026 10:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_ContractCode]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_ContractCode];
		
		--Update existing records
		UPDATE T1
		SET T1.[ContractCode] = T2.[ContractCode]
			  ,T1.[ContractDescription] = T2.[ContractDescription]
			  ,T1.[StaffType] = T2.[StaffType]
			  ,T1.[CreatedDate] = T2.[CreatedDate]
			  ,T1.[IsActive] = T2.[IsActive]
			  ,T1.[LastModDate] = T2.[LastModDate]
			  ,T1.[LastModBy] = T2.[LastModBy]
			  ,T1.[History] = T2.[History]
		FROM [REF_ContractCode] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_ContractCode] T2 ON T1.ContractCode = T2.ContractCode
		WHERE T1.ContractCode = T2.ContractCode

		
		--Insert new records
		INSERT INTO [REF_ContractCode] (
			   [ContractCode]
			  ,[ContractDescription]
			  ,[StaffType]
			  ,[CreatedDate]
			  ,[IsActive]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			)  
		SELECT [ContractCode]
			  ,[ContractDescription]
			  ,[StaffType]
			  ,[CreatedDate]
			  ,[IsActive]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_ContractCode] T2 
		  WHERE NOT EXISTS (SELECT T1.[ContractCode] FROM [REF_ContractCode] T1 
		  WHERE T1.[ContractCode] = T2.[ContractCode])
        
END
