USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_ins_MasterDutyFilterLinks]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_ins_MasterDutyFilterLinks]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_ins_MasterDutyFilterLinks]
GO
/****** Object:  StoredProcedure [dbo].[usp_ins_MasterDutyFilterLinks]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Naveeta Sharma
-- Create date: 27/01/2016
-- Description:	SP to insert the Master Duties Filter table with new data.
-- =============================================
CREATE PROCEDURE [dbo].[usp_ins_MasterDutyFilterLinks]
@filterid				INT,
@masterdutyid		int, 
@action				VARCHAR(30),
@ismisc				TINYINT,
@status				TINYINT OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @err int
	DECLARE @rows int
	

	SET @status = 1 
	SET @returnstring = ''
				--SET @TmpHistory = 'Created by ' + @currentuser + ' on ' + @strUpdateDateTime
			IF @action = 'insert'
				BEGIN
				--Insert new role record
					INSERT INTO MasterDutiesFilterLinks(FilterID,MasterDutyID,IsMiscDuty)
					VALUES (@filterid, @masterdutyid, @ismisc)
				END

			IF @action = 'delete'
				BEGIN
				--Insert new role record
					DELETE MasterDutiesFilterLinks
					WHERE FilterID = @filterid  AND  MasterDutyID = @masterdutyid
				END

END


GO
