USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_EstablishCode]    Script Date: 15/08/2022 02:12:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_mod_EstablishCode]
	-- Add the parameters for the stored procedure here
	@establishcode Varchar(50),
	@establishcodedesc Varchar(75),
	@userid INT,
	@schedulingteamid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @CreatedDate datetime,@ModifiedDate datetime, @Status bit, @Returncode varchar(500), @err int, @rows int, @EstablishCodeid int,
	@establishcodedescold varchar(100);
	
	set @CreatedDate = convert(datetime,getdate(),110);
	set @ModifiedDate = convert(datetime,getdate(),110);
	set @Returncode = 'Successfullyy Added';
	SET @Status = 1;
	BEGIN TRANSACTION
	IF EXISTS (Select 1 from EstablishCode where EstablishCode = @establishcode)
	BEGIN
		--Update the establish code
		
			BEGIN TRY
				Select @EstablishCodeid = EstablishCodeId,@establishcodedescold = EstablishCodeDescription from EstablishCode where EstablishCode = @establishcode --and EstablishCodeDescription != @establishcodedesc
					IF(@establishcodedesc = '')
						BEGIN 
							set @establishcodedesc = @establishcodedescold
						END
					Update EstablishCode SET EstablishCodeDescription = @establishcodedesc,UpdatedDate= @ModifiedDate ,UpdatedBy= @userid
					 where EstablishCodeId = @EstablishCodeid
		
				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
	    
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @Returncode = 'Error while adding Establish Code';
					SET @Status = 0;
					select @Status intStatus, @Returncode strStatus, @EstablishCodeid EstablishCodeid;
				RETURN;
				END
		
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @Returncode = 'Error while adding Establish Code';
					SET @Status = 0;
					select @Status intStatus, @Returncode strStatus, @EstablishCodeid EstablishCodeid;
					RETURN;
				END


			END TRY

			BEGIN CATCH
						ROLLBACK TRANSACTION
            			INSERT INTO ErrorLog
						VALUES
					  (ERROR_NUMBER(),ERROR_STATE(),ERROR_SEVERITY(),ERROR_LINE(),'usp_mod_EstablishCode',ERROR_MESSAGE(),
						GETDATE(),@userid);
					
			END CATCH
				
	END
	ELSE
	BEGIN
				
						INSERT INTO [dbo].[EstablishCode]([EstablishCode],[EstablishCodeDescription],[CreatedDate],[CreatedBy])
					VALUES
						( @establishcode,@establishcodedesc,@CreatedDate,@userid)
				
					SET @EstablishCodeid = Scope_Identity();
					SELECT @err = @@ERROR, @rows = @@ROWCOUNT
	    
				IF @err <> 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @Returncode = 'Error while adding Establish Code';
					SET @Status = 0;
					select @Status intStatus, @Returncode strStatus, @EstablishCodeid EstablishCodeid;
				RETURN;
				END
		
				IF @rows = 0
				BEGIN
					ROLLBACK TRANSACTION
					SET @Returncode = 'Error while adding Establish Code';
					SET @Status = 0;
					select @Status intStatus, @Returncode strStatus, @EstablishCodeid EstablishCodeid;
					RETURN;
				END
				
		
	END

	--update the scheduling teamSS 
	
	UPDATE schedulingTeams SET establishCodeID = @EstablishCodeid where schedulingTeamId=@schedulingteamid

					SELECT @err = @@ERROR, @rows = @@ROWCOUNT
	    
								IF @err <> 0
								BEGIN
									ROLLBACK TRANSACTION
									SET @Returncode = 'Error while adding Establish Code';
									SET @Status = 0;
									select @Status intStatus, @Returncode strStatus, @EstablishCodeid EstablishCodeid;
								RETURN;
								END
		
								IF @rows = 0
								BEGIN
									ROLLBACK TRANSACTION
									SET @Returncode = 'Error while adding Establish Code';
									SET @Status = 0;
									select @Status intStatus, @Returncode strStatus, @EstablishCodeid EstablishCodeid;
									RETURN;
								END

	COMMIT TRANSACTION
select @Status intStatus, @Returncode strStatus, @EstablishCodeid EstablishCodeid;
	
END

