USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_RotaDuty]    Script Date: 28/10/2025 17:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[usp_del_RotaDuty]
    @RotaDutyId INT,
    @LastModBy INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @status INT = 1,
            @returnstring VARCHAR(100) = 'success',
            @err INT,
            @rows INT;

    -- Check if the duty exists and is active
    IF NOT EXISTS (
        SELECT 1
        FROM RotaDuties
        WHERE RotaDutyID = @RotaDutyId
          AND IsActive IN (1, 2)
    )
    BEGIN
        SET @status = 0;
        SET @returnstring = 'Duty already deleted from rota day.';
        SELECT @status AS intStatus, @returnstring AS strStatus;
        RETURN;
    END

    BEGIN TRANSACTION;

    -- Soft delete the duty
    UPDATE RotaDuties
    SET IsActive = 0,
        LastModBy = @LastModBy,
        LastModDate = GETDATE()
    WHERE RotaDutyID = @RotaDutyId
      AND IsActive IN (1, 2);


    SELECT @err = @@ERROR, @rows = @@ROWCOUNT;

    IF ( @err <> 0 OR @rows = 0 )
    BEGIN
        ROLLBACK TRANSACTION;
        SET @status = 0;
        SET @returnstring = 'There was an error while deleting the record.';
        SELECT @status AS intStatus, @returnstring AS strStatus;
        RETURN;
    END

	UPDATE MR
	   SET MR.IsExported = 0
	  FROM MasterRotas MR
	 INNER JOIN RotaDuties RD on MR.RotaID = RD.RotaID
	 WHERE RD.RotaDutyID = @RotaDutyId
	   AND ISNULL(MR.IsExported,0) > 0

    COMMIT TRANSACTION;

    SELECT @status AS intStatus, @returnstring AS strStatus;
END
