USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_LeaderTypeInfoByID]    Script Date: 05/07/2021 19:02:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_LeaderTypeInfoByID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GET_LeaderTypeInfoByID]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Arvind Kumar
-- Create date: 18/06/2021
-- Description:	SP to fetch all public holidays.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_LeaderTypeInfoByID]
@shifleaderid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		SELECT        shiftleadertypes.description, shiftleadertypes.SchedulingTeamId as schedulingTeamId, shiftleadertypes.telephone, shiftleadertypes.BackColour, schedulingTeams.schedulingTeamName 
               FROM          shiftleadertypes 
               INNER JOIN    schedulingTeams ON shiftleadertypes.SchedulingTeamId = schedulingTeams.schedulingTeamId
               WHERE        (shiftleadertypes.ID = @shifleaderid)
END		
GO
