USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_getdivisionbyuserForAllUsers]    Script Date: 27/07/2025 15:01:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_getdivisionbyuserForAllUsers]
	-- Add the parameters for the stored procedure here
	@intUserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		-- Select statement for procedure here
		IF EXISTS(select 1 from UserRoles (NOLOCK) where UR_UserID = @intUserId and UR_RoleID = 1)
BEGIN
SELECT DISTINCT
    st.divisionid as  DivisionID,div.DivisionName
from Schedulingteams as st
         --inner join [dbo].[schedulingTeamDivision_Link] as std on std.schedulingTeamId = st.schedulingTeamId and std.isActive =1
    inner join [dbo].[Divisions] as div on div.DivisionID = st.divisionid and div.isActive = 1
    inner join [dbo].[maskType] as mt on mt.maskTypeId = st.maskType
where st.isActive = 1
END
ELSE
BEGIN
SELECT DISTINCT
    st.divisionid as DivisionID,div.DivisionName as DivisionName
from Schedulingteams as st
         inner join UserRoles as ut on st.schedulingTeamId = ut.UR_SchedulingTeamID and ut.UR_StartDate <= convert(datetime,convert(varchar(10),getdate(),110),110)
    and isnull(ut.UR_EndDate,'9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)
         --left join [dbo].[schedulingTeamDivision_Link] as std on std.schedulingTeamId = st.schedulingTeamId
    left join [dbo].[Divisions] as div on div.DivisionID = st.divisionid
    left join [dbo].[maskType] as mt on mt.maskTypeId = st.maskType
where ut.UR_UserID = @intUserId

UNION

SELECT DISTINCT
    st.divisionid as DivisionID,div.DivisionName as DivisionName
from Schedulingteams as st
         --left join [dbo].[schedulingTeamDivision_Link] as std on std.schedulingTeamId = st.schedulingTeamId and st.isActive = 1
    left join [dbo].[Divisions] as div on div.DivisionID = st.divisionid and div.isActive = 1
    left join [dbo].[maskType] as mt on mt.maskTypeId = st.maskType
	inner join UserRoles ur on ur.UR_DivisionId=st.divisionid
    --inner join DivisonalAdmin  as da on da.DivisionID = std.divisionId and da.IsActive = 1
	inner join REF_Roles rr on rr.RoleID = ur.UR_RoleID
where ur.UR_UserID = @intUserId
  and rr.RoleName = 'Area Admin'
END
END