USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_RotasByName]    Script Date: 18/07/2022 16:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_GET_RotasByName]
	-- Add the parameters for the stored procedure here
	@areaid int = 0,
	@teamid VARCHAR(255) = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if (@teamid = '0')
BEGIN
SELECT 0 rotaid, ' RotaName, ' WeeksInRota;
return;
END
ELSE
BEGIN
SELECT rotaid, RotaName, WeeksInRota
FROM  MasterRotas (NOLOCK)
WHERE (AreaID = @areaid and (TeamID IS NULL OR TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, ',')))) and IsActive = 1
ORDER BY RotaName
END
END
