USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_StaffDefaultTeamByNetLogon]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_StaffDefaultTeamByNetLogon]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_StaffDefaultTeamByNetLogon]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_StaffDefaultTeamByNetLogon]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Graeme Fawcett
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_get_StaffDefaultTeamByNetLogon] 
	-- Add the parameters for the stored procedure here
	@netlogin		NVARCHAR(20)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT  T2. StaffID, T1.StaffNumber, T3.AreaID, T1.Surname, T1.Forename, T1.Login, T2.Forename, T1.SortCode,
			T3.FormID, T3.TeamID, T3.IsView, T3.IsViewExtended, T3.IsModify, T3.IsModifyExtended, T3.IsDelete, T3.IsCreate,
			T3.TeamTypeID, '' as Level1Menu, '' as Level2Menu, '' as Level3Menu, '' as FormName, '' as AreaName, Null as TeamName, T3.LastModDate
		FROM  Staff T1
			INNER JOIN StaffDetails T2 on T2.NetLogin = T1.Login and T2.StaffNumber = T1.StaffNumber
			INNER JOIN [dbo].[Staff_User_Access] T3 on T1.StaffNumber = T3.StaffNumber
		WHERE T2.NetLogin = @netlogin and T3.IsActive=1
END

GO
