USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_XmasPointDayDetail]    Script Date: 15/07/2021 17:29:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_XmasPointDayDetail]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_XmasPointDayDetail]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_get_XmasPointDayDetail]
	-- Add the parameters for the stored procedure here
	@teamId int,
	@day int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here
	SELECT     ID AS 'xmasPointsByTeamID',BasicPoints, Limit,SchedulingTeamId,MonthDay
            FROM       XmasPointsByDepartment
            WHERE     MonthDay = @day 
            AND       SchedulingTeamId = @teamId
	
END
	
            

