USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Delete_RotaPeople]    Script Date: 23/10/2024 16:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_Delete_RotaPeople]
	-- Add the parameters for the stored procedure here
	@rotaid int,
	@rotapersonid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Soft Delete people from rota
	declare @status int, @returnstring varchar(100), @err int, @rows int;
	set @status = 1;
	set @returnstring = 'success';
	if not exists(select 1 from RotaPeople where ScheduledPersonID = @rotapersonid and RotaID = @rotaid and IsActive = 1)
BEGIN
		set @status = 0;
		set @returnstring = 'Rota people already deleted.';
select @status as intStatus, @returnstring as strStatus;
return
END
BEGIN TRANSACTION
update RotaPeople set IsActive = 0 where ScheduledPersonID = @rotapersonid and RotaID = @rotaid and IsActive = 1;
SELECT @err = @@ERROR, @rows = @@ROWCOUNT
    IF @err <> 0
BEGIN
ROLLBACK TRANSACTION
		SET @status = 0;
SET @returnstring = 'There was an error creating the record.';
select @status intStatus, @returnstring strStatus;
RETURN;
END
	IF @rows = 0
BEGIN
ROLLBACK TRANSACTION
		SET @status = 0;
SET @returnstring = 'There was an error creating the record.';
select @status intStatus, @returnstring strStatus;
RETURN;
End

UPDATE MR
SET MR.isExported = 0 
FROM MasterRotas MR WHERE MR.isExported != 0 AND MR.RotaID = @rotaid

    IF @err <> 0
BEGIN
ROLLBACK TRANSACTION
		SET @status = 0;
SET @returnstring = 'There was an error while deleting people rota duty days record.';
select @status intStatus, @returnstring strStatus;
RETURN;
END
	IF @rows = 0
BEGIN
ROLLBACK TRANSACTION
		SET @status = 0;
SET @returnstring = 'Cannot delete person from rota because assigned duty start date is less than current date.';
select @status intStatus, @returnstring strStatus;
RETURN;
END

COMMIT TRANSACTION
select @status intStatus, @returnstring strStatus;
END

