USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_getdivisionbyuser]    Script Date: 27/07/2025 14:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Get divisions by user.
-- =============================================
CREATE OR ALTER   PROCEDURE [dbo].[usp_getdivisionbyuser]
	-- Add the parameters for the stored procedure here
	@intUserId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- Insert statements for procedure here
	IF EXISTS(select 1 from UserRoles (NOLOCK) where UR_UserID = @intUserId and UR_RoleID = 1)
BEGIN
SELECT DivisionID,DivisionName from divisions where isActive = 1
END
ELSE
BEGIN
SELECT distinct div.DivisionID,div.DivisionName
from divisions as div (NOLOCK)
         inner join schedulingTeams as st (NOLOCK) on st.divisionid = div.DivisionID and st.isActive = 1
         inner join [dbo].UserRoles as url on url.UR_SchedulingTeamID = st.schedulingTeamId 
		 and url.UR_StartDate <= convert(datetime,convert(varchar(10),getdate(),110),110) 
		 and isnull(url.UR_EndDate,'9999-12-01') >= convert(datetime,convert(varchar(10),getdate(),110),110)
where url.UR_UserID = @intUserId
union 
select dv.DivisionID,dv.DivisionName
from [dbo].UserRoles ur 
inner join divisions dv on dv.DivisionID = ur.UR_DivisionId
inner join REF_Roles rr on rr.RoleID = ur.UR_RoleID
where ur.UR_UserID = @intUserId
  and rr.RoleName = 'Area Admin'

END
END