USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotaDuties]    Script Date: 16/03/2026 13:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER     PROCEDURE [dbo].[usp_get_RotaDuties]
	-- Add the parameters for the stored procedure here
	@rotaid			int = 0,
	@showtemplates	int = 0,
	@showall		int = 0,
	@date			varchar(10)
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

	SET NOCOUNT ON;
	SET DATEFORMAT YMD;

	set @showtemplates = 2;

	DECLARE @currweek		INT
	DECLARE @currRotaWeek	INT
	DECLARE @startWeek		INT
	DECLARE @EndWeek        INT
	DECLARE @WeeksInRota    INT
	DECLARE @RotaStartWeek  INT,
	        @TeamID         INT,
			@startDate      DATE,
			@EndDate        DATE,
			@SchedulingPersonID INT;


    DECLARE @TempAccounting TABLE (staffid INT, 
	                               schedulingpersonid INT,
								   SchedulingTeamId INT,
								   startdate DATETIME,
								   enddate DATETIME,
								   startweek INT,
								   endweek INT,
								   WeekNumber INT,
								   totalweeks INT,
								   currentweek INT,
								   totalduration INT,
								   NoOfDays INT,
								   OverTimeHrs INT,
								   IsHomeTeam BIT);
								   
    DECLARE @TempRotaWeeks TABLE ( WeekNumber INT,
	                               ROTAWeek INT);

	SET @currweek = 0
	SET @currRotaWeek = 0
	SET @startWeek = 0

	SELECT @currweek = ixYearWeek
	FROM TimeDimension
	WHERE dDateTime = CONVERT(DATETIME, @date + ' 00:00:00', 103)

	SELECT @WeeksInRota = T1.WeeksInRota, 
	       @RotaStartWeek = T1.RotaStartWeek,
		   @TeamID = TeamID
	FROM MasterRotas T1 (NOLOCK)
	WHERE (T1.rotaid = @rotaid)

	select @SchedulingPersonID = ScheduledPersonID
	  from RotaPeople 
	 where RotaID = @rotaid
	   and IsActive = 1
	   and CONVERT(DATETIME, @date + ' 00:00:00', 103) between StartDate and EndDate

	SELECT @currRotaWeek = dbo.GetWeekofRota(@WeeksInRota, @RotaStartWeek, @currweek)

    SET @startweek = dbo.SubtractWeeks(@currweek, (@currRotaWeek - 1))

	IF ( ISNULL(@SchedulingPersonID,0) > 0 )
	 BEGIN

	  INSERT INTO @TempRotaWeeks
	  select ixYearWeek,
	         rownum
	    from (
               select ixYearWeek, 
			          ROW_NUMBER() over ( order by ixYearWeek) rownum
                 from  ( select  distinct td.ixYearWeek	       
	                      from TimeDimension TD
	                     where td.ixYearWeek >= @startweek
	                    ) fd
	          ) TD where rownum <= @WeeksInRota

	  select @EndWeek = max(WeekNumber )
	   from @TempRotaWeeks


		select @startDate = min(dDateTime),
		       @EndDate =  max(dDateTime)
		 from TimeDimension 
		 where ixYearWeek between @startWeek and @EndWeek



		INSERT INTO @TempAccounting
		SELECT distinct UD_TeampayStaffID  staffid, 
		       UD_UserID ScheduledPersonID,
			   SPL.TeamID,
			   AGD.AccPeriodStartDate as startdate , 
			   AGD.AccPeriodEndDate as enddate, 
			   AGD.AccPeriodStartWeek as startweek, 
			   AGD.AccPeriodEndWeek as endweek,
			   TD.ixYearWeek weeknumber, 
			   AccPeriodWeeks as totalweeks,
			   WeekOfAccPeriod as currentweek,
			   0 as totalduration,
			   0 as NoOfDays,
			   0 AS OverTimeHrs,
			   spl.IsHomeTeam
		  FROM UserDetails AS sp (nolock) 
		 INNER JOIN ScheduledPersonTeam_LINK  AS spl (nolock) ON UD_UserID = spl.scheduledpersonid
		 INNER JOIN UserConfigs SCP ON SCP.UC_UserID = sp.UD_UserID 
		 INNER join Timedimension TD on 1=1
		 INNER JOIN REF_AccountingGroup_Dates AGD ON AGD.BBCWeek=TD.ixYearWeek AND SCP.UC_AccGroupID=AGD.AccGroupID
		 WHERE (TD.dDateTime between  SCP.UC_StartDate and SCP.UC_EndDate ) 
		   and TD.dDateTime between @startDate and @EndDate 
		   AND @startDate <=  isnull( spl.enddate, @startDate ) 
		   AND @EndDate  >=  isnull( spl.startdate, @EndDate)	
		   AND @startDate <=  isnull( AGD.AccPeriodEndDate, @startDate ) 
		   AND @EndDate  >=  isnull( AGD.AccPeriodStartDate, @EndDate)
		   AND spl.scheduledType = 1
		   AND SPL.TeamID = @TeamID	
		   AND UD_UserID = @SchedulingPersonID
		   
	  select @startWeek = min(StartWeek),
	         @EndWeek = max(EndWeek )
	    from @TempAccounting

		select @startDate = min(dDateTime),
		       @EndDate =  max(dDateTime)
		 from TimeDimension 
		 where ixYearWeek between @startWeek and @EndWeek

		INSERT INTO @TempAccounting
		SELECT distinct UD_TeampayStaffID  staffid, 
		       UD_UserID ScheduledPersonID,
			   SPL.TeamID,
			   AGD.AccPeriodStartDate as startdate , 
			   AGD.AccPeriodEndDate as enddate, 
			   AGD.AccPeriodStartWeek as startweek, 
			   AGD.AccPeriodEndWeek as endweek,
			   TD.ixYearWeek weeknumber, 
			   AccPeriodWeeks as totalweeks,
			   WeekOfAccPeriod as currentweek,
			   0 as totalduration,
			   0 as NoOfDays,
			   0 AS OverTimeHrs,
			   spl.IsHomeTeam
		  FROM UserDetails (nolock) UD
		 INNER JOIN ScheduledPersonTeam_LINK  AS spl (nolock) ON UD_UserID = spl.scheduledpersonid
		 INNER JOIN StaffDetails sd (nolock) ON sd.staffid = UD_TeampayStaffID
		 INNER JOIN UserConfigs SCP ON SCP.UC_UserID = UD_UserID		 
		 INNER join Timedimension TD on 1=1
		 INNER JOIN REF_AccountingGroup_Dates AGD ON AGD.BBCWeek=TD.ixYearWeek AND SCP.UC_AccGroupID=AGD.AccGroupID
		 WHERE (TD.dDateTime between  SCP.UC_StartDate and SCP.UC_EndDate ) 
		   and TD.dDateTime between @startDate and @EndDate 
		   AND @startDate <=  isnull( spl.enddate, @startDate ) 
		   AND @EndDate  >=  isnull( spl.startdate, @EndDate)	
		   AND @startDate <=  isnull( AGD.AccPeriodEndDate, @startDate ) 
		   AND @EndDate  >=  isnull( AGD.AccPeriodStartDate, @EndDate)
		   AND spl.scheduledType = 1
		   AND SPL.TeamID = @TeamID	
		   AND UD_UserID = @SchedulingPersonID
		   AND not exists ( select 1
		                     from @TempAccounting TA
							where TA.WeekNumber = TD.ixYearWeek)

			 update TC
				set TC.totalduration = AC.totaldtn,
				    TC.NoOfDays = AC.NoOfDays
			   from @TempAccounting TC
			  inner join 
			  (
			 select TA.schedulingpersonid,
					ta.startweek, 
					sum( isnull(al.duration,0)-isnull(al.dutyBreakTime,0)) as totaldtn,
					sum( case when isnull(al.duration,0) > 0 THEN 1 else 0 end ) as NoOfDays
			   from @TempAccounting TA
			  inner join ( 
					select schedulingpersonid, 
						   schedulingteamid,
						   weeknumber,
						   iday,
						   duration,
						   dutybreaktime,
						   dutypriority
					 from (
						   select rp.scheduledpersonid as schedulingpersonid, 
								  md.TeamID as schedulingteamid,
								  td3.weeknumber,
								  td3.iday,
								  case when md.dutyname  <> 'U' and ISNULL(md.duration,0) = 0 then 
									   case when md.endtime > md.starttime 
									        then md.endtime- md.starttime
									        when md.endtime < md.starttime 
											then (86400-md.starttime)+md.endtime 
									    end
							           else md.duration 
								  end as duration,
							      md.breaktime            AS dutybreaktime,
								  Row_number() OVER( partition BY rp.scheduledpersonid, td3.weeknumber,td3.iday 
								  order by md.dutytypeid) as dutypriority
							 FROM RotaPeople AS rp
							INNER JOIN ScheduledPersonTeam_LINK AS stl ON rp.scheduledpersonid = stl.scheduledpersonid
							  AND ( stl.ishometeam = 1
									OR ( stl.ishometeam IN (0, 2)
									      AND stl.IsAvailable = 1 ) )
							INNER JOIN MasterRotas AS mr ON mr.rotaid = rp.rotaid
							INNER JOIN RotaDuties AS rd (nolock) ON rd.rotaid = mr.rotaid
							INNER JOIN MasterDuties AS md ON md.masterdutyid = rd.masterdutyid
							  AND ( @EndWeek BETWEEN ISNULL(md.startweek,@EndWeek) AND ISNULL(md.endweek,@EndWeek ) )
							INNER JOIN (SELECT td.ixyearweek,
									CASE
									WHEN Row_number()
										OVER(
										partition BY schedulingpersonid
										ORDER BY td.ixyearweek) % td.weeksinrota =
										0 THEN
									td.weeksinrota
									ELSE Row_number()
										OVER(
										partition BY schedulingpersonid
										ORDER BY td.ixyearweek) % td.weeksinrota
									END weeksinrota,
									schedulingpersonid
								FROM   (SELECT DISTINCT ixyearweek,
											er.weeksinrota,
											er.schedulingpersonid
									FROM   TimeDimension td,
										(SELECT DISTINCT mr.rotastartweek
												AssignmentStartWeek,
												mr.weeksinrota
												WeeksInRota,
												rp.scheduledpersonid AS
												SchedulingPersonID
										FROM   RotaPeople rp
										INNER JOIN MasterRotas AS mr ON mr.rotaid = rp.rotaid
												AND mr.teamid = @TeamID
												AND mr.RotaID = @rotaid
												AND rp.isactive = 1,
											(SELECT Min(ddatetime) AS wStart_Date,
												Max(ddatetime) AS wEnd_Date
											FROM TimeDimension
											WHERE ixyearweek between @startWeek and @EndWeek) as TD5
											WHERE isnull(rp.startdate,TD5.wend_date)  <= TD5.wend_date
											AND isnull(rp.enddate,TD5.wstart_date)  >= TD5.wstart_date
												) er
									WHERE  td.ixyearweek BETWEEN er.assignmentstartweek
												AND
												@EndWeek) TD
								) TD1 ON rd.rotaweek = td1.weeksinrota
								AND rp.scheduledpersonid = td1.schedulingpersonid,
								(SELECT Min(ddatetime) AS wStart_Date,
									Max(ddatetime) AS wEnd_Date
							FROM   TimeDimension
							WHERE  ixyearweek between @startWeek and @EndWeek) AS TD2,
								(SELECT ixyearweek  weeknumber,
									ddatetime   dutydate,
									ixdayinweek iday
							FROM   TimeDimension
							WHERE  ixyearweek between @startWeek and  @EndWeek) TD3
					  WHERE  td1.ixyearweek between @startWeek and  @EndWeek
						AND stl.teamid = @TeamID
						AND rd.dotw = TD3.iday
						AND td1.ixyearweek = td3.weeknumber
						AND isnull(rd.startdate,td2.wend_date)  <= td2.wend_date
						AND isnull(rd.enddate,td2.wstart_date)  >= td2.wstart_date
						AND isnull(rp.startdate,td2.wend_date)  <= td2.wend_date
						AND isnull(rp.enddate,td2.wstart_date)  >= td2.wstart_date
						AND TD3.dutydate between isnull(stl.StartDate,TD3.dutydate) 
						AND isnull(stl.EndDate,TD3.dutydate) 
						AND stl.scheduledtype = 1
						AND rp.isactive = 1
						AND md.IsActive = 1
						AND rd.isactive = 1  
						AND mr.RotaID = @rotaid
						) FD WHERE dutypriority=1 
			              ) AL  on TA.schedulingpersonid = AL.schedulingpersonid
				AND TA.SchedulingTeamId = AL.SchedulingTeamId 
				AND TA.WeekNumber = al.weeknumber
			  INNER JOIN TimeDimension TD (nolock) on TD.ixYearWeek = AL.WeekNumber and TD.ixDayInWeek = AL.iday
			  WHERE td.dDateTime between ta.startdate and ta.enddate				  
			  group by TA.schedulingpersonid,ta.startweek
			 ) AC ON TC.schedulingpersonid = AC.schedulingpersonid 
				  AND TC.startweek = AC.startweek	 
	
     END

	 
-- Insert statements for procedure here
   select FD.RotaName,
                FD.WeeksInRota,
                FD.RotaStartDate,
                FD.RotaStartWeek,
                FD.CurrentWeekInRota,
                FD.BBCStartWeek,
                FD.TeamID,
                FD.RotaDutyID,
                FD.MasterDutyID,
                ISNULL(FD.RotaWeek,TA.ROTAWeek) as RotaWeek,
                FD.DayOfRota,
                FD.IsAssigned,
                FD.RotaDutyStartDate,
                FD.RotaDutyEndDate,
                FD.DutyID,
                FD.DutyName,
                FD.DutyColourID,
                FD.DutyTypeID,
                FD.Duration,
                FD.DurationExc,
                FD.StartTime,
                FD.EndTime,
                FD.ColourBackground,
                FD.ColourFont,
                FD.IsActive,
				FD.IsNightShift,
   				CAST(TA.currentweek AS VARCHAR)+'/'+CAST(TA.totalweeks AS VARCHAR) AS AccPeriod,
				TA.totalduration as AccHrs,
				TA.WeekNumber
				from (
         SELECT distinct T4.RotaName,
                T4.WeeksInRota,
                CONVERT(VARCHAR(10),T4.RotaStartDate,103) as RotaStartDate,
                T4.RotaStartWeek,
                @currRotaWeek as CurrentWeekInRota,
                @startWeek AS BBCStartWeek,
                T4.TeamID,
                T3.RotaDutyID,
                T3.MasterDutyID,
                T3.RotaWeek,
                T3.DOTW as DayOfRota,
                T3.IsAssigned,
                CONVERT(VARCHAR(10),ISNULL(T1.StartDate, T4.RotaStartDate),103) as RotaDutyStartDate,
                CONVERT(VARCHAR(10),ISNULL(T1.EndDate, '99990101'),103) as RotaDutyEndDate,
                T1.MasterDutyID AS DutyID,
                T1.DutyName,
                T1.DutyColourID,
                T1.DutyTypeID,
                case when T1.DutyTypeID = 1 
						     then CASE WHEN StartTime > EndTime 
							           THEN ((86400-T1.starttime) + T1.endtime )
							           ELSE (T1.EndTime  - T1.StartTime)
								   END
						     else T1.Duration
							 end Duration,
                DurationExc = case when T1.DutyTypeID = 1 
						     then CASE WHEN StartTime > EndTime 
							           THEN ((86400-T1.starttime) + T1.endtime )- ISNULL(T1.BreakTime,0)
							           ELSE (T1.EndTime  - T1.StartTime) - ISNULL(T1.BreakTime,0) 
								   END
						     else T1.Duration
							 end,
                T1.StartTime,
                T1.EndTime,
                ColourBackground = CASE WHEN ISNULL(T1.DutyColourID, 0) = 0 THEN ISNULL(T6.ColourBackground, '708090')
                                        ELSE ISNULL(T2.ColourBackground, '708090')
                    END,
                ColourFont =  CASE WHEN ISNULL(T1.DutyColourID, 0) = 0 THEN ISNULL(T6.ColourFont, 'fff0f5')
                                   ELSE ISNULL(T2.ColourFont, 'fff0f5')
                    END,
                T3.IsActive,
				T1.IsNightShift
		   FROM MasterDuties T1 (NOLOCK) 
		   LEFT OUTER JOIN REF_MasterDutyColours T2 (NOLOCK) ON T1.DutyColourID = T2.MasterDutyColourID
		   LEFT OUTER JOIN REF_MasterDutyColours T6 (NOLOCK) ON T6.IsDefaultColour = 1
		  RIGHT OUTER JOIN RotaDuties T3 (NOLOCK) ON T1.MasterDutyID = T3.MasterDutyID and T3.IsActive in (1,2)
		  RIGHT OUTER JOIN MasterRotas T4 (NOLOCK) ON T3.RotaID = T4.rotaid
		   WHERE (T4.rotaid = @rotaid)
			 AND T1.IsActive = 1
			 ) fd
		   full outer JOIN (  select TA.currentweek,
		                        TA.totalweeks,
								TA.WeekNumber,
								TW.ROTAWeek,
								TA.totalduration
		                  from @TempRotaWeeks TW  
		                 inner JOIN @TempAccounting TA on TW.WeekNumber = TA.WeekNumber
					   ) TA on fd.ROTAWeek = Ta.RotaWeek
		   ORDER BY fd.RotaWeek, fd.DayOfRota, fd.IsAssigned DESC

END