USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Get_Request_GroupsTypesAndAmountsByDate]    Script Date: 28/10/2022 16:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE  [dbo].[usp_Get_Request_GroupsTypesAndAmountsByDate]
	@strStartDate varchar(50),
	@strEndDate varchar(50),
	@strUser varchar(50),
	@adminStatus varchar(1)
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET DATEFORMAT YMD
	Declare @strQuery VARCHAR(MAX);

    -- Insert statements for procedure here
	 SET @strQuery='SELECT RequestTypes.GroupID, LeaveRequestGroups.RequestsAllowedYearly, LeaveRequestGroups.Description AS RequestGroupDesc, RequestTypes.ID AS TypeID, RequestTypes.description, RequestTypes.startdate, 
    RequestTypes.enddate, RequestTypes.AffectsOthers, RequestTypes.day_0, RequestTypes.day_1, RequestTypes.day_2, RequestTypes.day_3, RequestTypes.day_4, RequestTypes.day_5, 
    RequestTypes.day_6, RequestTypes.Starts, RequestTypes.Ends, RequestTypes.isRestricted, RequestTypes.AllowOverLimit, RequestTypes.UniqueCount, 
    RequestTypes.RequestsAllowed, RequestTypes.AffectLocks, LeaveRequestGroups.RequestsAllowedMonthly, Staff_Web_Config_LeaveGroups_Link.Login, 
    Staff_Web_Config_LeaveGroups_Link.Admin, Staff_Web_Config_LeaveGroups_Link.EFT, Staff_Web_Config_LeaveGroups_Link.EFT1, 
    RequestTypesStaffLink.Login AS LinkedLogin
    FROM  RequestTypes (Nolock)
    INNER JOIN  LeaveRequestGroups (Nolock) ON RequestTypes.GroupID = LeaveRequestGroups.ID 
    INNER JOIN  Staff_Web_Config_LeaveGroups_Link (Nolock) ON LeaveRequestGroups.ID = Staff_Web_Config_LeaveGroups_Link.LeaveGroupID 
    LEFT OUTER JOIN RequestTypesStaffLink (Nolock) ON RequestTypes.ID = RequestTypesStaffLink.RequestTypeID 
    AND Staff_Web_Config_LeaveGroups_Link.Login = RequestTypesStaffLink.Login
    WHERE  (RequestTypes.enddate >='''+@strStartDate+''') 
    AND (RequestTypes.startdate <= '''+@strEndDate+''') 
    AND (Staff_Web_Config_LeaveGroups_Link.Login = '''+@strUser+''') AND (Staff_Web_Config_LeaveGroups_Link.IsActive = 1)';
	IF(@adminStatus='0') 
	BEGIN
	 SET @strQuery = @strQuery+' AND (Staff_Web_Config_LeaveGroups_Link.Admin = 0)';
	END
	ELSE
	BEGIN
	 SET @strQuery = @strQuery+' AND (Staff_Web_Config_LeaveGroups_Link.Admin >= 1)';
	END
	 SET @strQuery = @strQuery+' ORDER BY RequestGroupDesc, RequestTypes.AffectsOthers desc, RequestTypes.UniqueCount, RequestTypes.description';  
	exec(@strQuery);
END
