USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_setDefaultTeamRecord]    Script Date: 22/07/2025 14:45:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_mod_setDefaultTeamRecord]
@personid int,
@isdefault int,
@teamid int,
@currentuserid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @teamname varchar(300), @UpdateDateTime datetime, @strUpdateDateTime varchar(35), @status VARCHAR(20),
		@returnstring VARCHAR(1000), @HistoryStart VARCHAR(300), @modulename VARCHAR(100), @historytype INT = 5,  @userId INT,
		@historyMsg VARCHAR(1000), @historyUserName VARCHAR(300);

	SET @status = 'success'
	SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)
	SET @teamname =''
BEGIN TRY
	BEGIN TRANSACTION

		SELECT @teamname = schedulingTeamName  FROM schedulingTeams WHERE schedulingTeamId = @teamid

		Update ScheduledPersonTeam_LINK
			SET isDefault = 0 --, LastUpdatedDate = @UpdateDateTime, LastUpdatedBy = @currentuserid
		Where ScheduledPersonID = @personid and isDefault = 1

		SELECT @userId = UD_UserID,
				@historyUserName = UD_DisplayName
				from UserDetails where UD_UserID = @currentuserid
		--SELECT @historyUserName = UD_DisplayName from UserDetails where UD_UserID = @currentuserid

		SET @returnstring = @teamname + ' has been unset from default scheduled team successfully.'
		SET @historyMsg = @teamname + ' has been unset from default by ' + @historyUserName + ' on ' + CONVERT(VARCHAR, @UpdateDateTime, 103) + ' at ' +SUBSTRING(CONVERT(VARCHAR, GETDATE(), 108), 1, 5)

		if(@isdefault = 1)
		BEGIN
			Update ScheduledPersonTeam_LINK
				SET isDefault = @isdefault--, LastUpdatedDate = @UpdateDateTime, LastUpdatedBy = @currentuserid
			Where ScheduledPersonID = @personid and TeamID = @teamid

			SET @returnstring = @teamname + ' has been set as default scheduled team successfully.'
			SET @historyMsg = @teamname + ' has been set as default by ' + @historyUserName + ' on ' + CONVERT(VARCHAR, @UpdateDateTime, 103) + ' at ' +SUBSTRING(CONVERT(VARCHAR, GETDATE(), 108), 1, 5)
		END
		INSERT INTO [dbo].[AdditionalPermissionsHistory]([HistoryType],[UserID],[History],[datetime],[AttributeID],[AttributeID2])
		VALUES (@historytype ,@currentuserid,@historyMsg,@UpdateDateTime,@teamid,@personid)
		SELECT @status strstatus , @returnstring strreturnstring;
	COMMIT TRANSACTION
END TRY
BEGIN CATCH

	IF ( @@TRANCOUNT  > 0 )
	BEGIN
		ROLLBACK TRANSACTION
	END

	IF ( ERROR_NUMBER() < 50000 )
	INSERT INTO ErrorLog
		(ErrorNumber,
			ErrorState,
			ErrorSeverity,
			ErrorProcedure,
			ErrorLine,
			ErrorMessage,
			ErrorDateTime,
			UserName
		)
	SELECT ERROR_NUMBER() AS ErrorNumber,
		ERROR_STATE() AS ErrorState,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage,
		getutcdate(),
		@personid

	 	SELECT ISNULL(@@IDENTITY,ERROR_NUMBER()) as strstatus,
			ERROR_MESSAGE() as strreturnstring
END CATCH;
END