USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllPeopleByArea]    Script Date: 20/08/2025 20:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[usp_get_AllPeopleByArea]
  -- Add the parameters for the stored procedure here
  @userid int = 0,
  @TeamId int
AS
  BEGIN
      -- SET NOCOUNT ON added to prevent extra result sets from
      -- interfering with SELECT statements.
      SET NOCOUNT ON;

      -- Insert statements for procedure here
      IF EXISTS(select 1
                from   UserRoles (NOLOCK)
                where  UR_UserID = @userID
                       and UR_RoleID = 1)
        BEGIN
            if ( @TeamId = null
                  or @TeamId = '' )
              BEGIN
                  SELECT sp.UD_UserID           as ScheduledPersonID,
                         sp.UD_DisplayName      as Fullname,
                         sp.UD_DisplayFirstName as Forename,
                         sp.UD_DisplayLastName  as Surname,
                         1                      as EFT
                    FROM RotaPeople RP
                   INNER JOIN ScheduledPersonTeam_LINK sptl  on sptl.ScheduledPersonID = RP.ScheduledPersonID
                        AND sptl.scheduledType = 1
                        and sptl.IsHomeTeam = 1
                  INNER JOIN UserDetails sp on sp.UD_UserID = RP.ScheduledPersonID
                  where RP.IsActive = 1
                    and RP.EndDate > Cast(Getdate() AS date)
                  group  by sp.UD_StaffNumber,
                            sp.UD_DisplayFirstName,
                            sp.UD_DisplayLastName,
                            sp.UD_UserID,
                            sp.UD_DisplayName
                  ORDER  BY Forename,
                            Surname
              END
            ELSE
              BEGIN
                  SELECT sp.UD_UserID           as ScheduledPersonID,
                         sp.UD_DisplayName      as Fullname,
                         sp.UD_DisplayFirstName as Forename,
                         sp.UD_DisplayLastName  as Surname,
                         1                      as EFT
                  FROM   RotaPeople RP
                  INNER JOIN ScheduledPersonTeam_LINK sptl on sptl.ScheduledPersonID = RP.ScheduledPersonID
                        AND sptl.scheduledType = 1
                        and TeamID = @TeamId
                        and sptl.IsHomeTeam = 1
                        and sptl.EndDate > Cast(Getdate() AS DATE)
                 INNER JOIN UserDetails sp  on sp.UD_UserID = RP.ScheduledPersonID
                  where  RP.IsActive = 1
                    and RP.EndDate > Cast(Getdate() AS DATE)
                    and sp.UD_UserID in (select ScheduledPersonID
                                        from   ScheduledPersonTeam_LINK (NOLOCK)
                                        where  TeamID = @TeamId)
                  group  by sp.UD_StaffNumber,
                            sp.UD_DisplayFirstName,
                            sp.UD_DisplayLastName,
                            sp.UD_UserID,
                            sp.UD_DisplayName
                  ORDER  BY Forename,
                            Surname
              END
        END
      ELSE
        BEGIN
            if ( @TeamId = null or @TeamId = '' )
              BEGIN
                  select ScheduledPersonID,
                         Fullname,
                         Forename,
                         Surname,
                         EFT
                  from   (SELECT sp.UD_UserID           as ScheduledPersonID,
                                 sp.UD_DisplayName      as Fullname,
                                 sp.UD_DisplayFirstName as Forename,
                                 sp.UD_DisplayLastName  as Surname,
                                 1                      as EFT
                          FROM   RotaPeople RP
                        INNER JOIN ScheduledPersonTeam_LINK sptl
                                on sptl.ScheduledPersonID = RP.ScheduledPersonID
                                AND sptl.scheduledType = 1
                                and sptl.IsHomeTeam = 1
                                and sptl.EndDate  > CAST(Getdate() AS DATE)
                        INNER JOIN UserDetails sp  on sp.UD_UserID = RP.ScheduledPersonID
                          where  RP.IsActive = 1
                            and RP.EndDate > Cast(Getdate() AS DATE)
                            and sp.UD_UserID in (select distinct ScheduledPersonID
                                                from   UserRoles da
												inner join schedulingTeams st
														on da.UR_SchedulingTeamID = st.schedulingTeamId
														and da.UR_DivisionId = st.divisionid
														and st.isActive = 1
														and sptl.IsHomeTeam = 1
														and sptl.EndDate > Cast(Getdate() AS DATE)
												inner join ScheduledPersonTeam_LINK sptl on sptl.TeamID = st.schedulingTeamId
												inner join REF_Roles RR on RR.RoleID = da.UR_RoleID
                                                where  da.UR_UserID = COALESCE(@userid, da.UR_UserID)
                                                  and RR.RoleName = 'Area Admin')
                          union
                          SELECT sp.UD_UserID           as ScheduledPersonID,
                                 sp.UD_DisplayName      as Fullname,
                                 sp.UD_DisplayFirstName as Forename,
                                 sp.UD_DisplayLastName  as Surname,
                                 1                      as EFT
                          FROM   RotaPeople RP
                        INNER JOIN ScheduledPersonTeam_LINK sptl on sptl.ScheduledPersonID = RP.ScheduledPersonID
                                AND sptl.scheduledType = 1
                                and sptl.IsHomeTeam = 1
                                and sptl.EndDate  > CAST(Getdate() AS DATE)
                        INNER JOIN UserDetails sp on sp.UD_UserID = RP.ScheduledPersonID
                          where  RP.IsActive = 1
                                 and RP.EndDate  > CAST(Getdate() AS DATE)
                                 and sp.UD_UserID in (SELECT DISTINCT sptl.ScheduledPersonID
														FROM UserRoles utrl
														INNER JOIN  ScheduledPersonTeam_LINK sptl ON sptl.TeamID = utrl.UR_SchedulingTeamID
														WHERE utrl.UR_UserID = COALESCE(@userid, utrl.UR_UserID)
														  AND Getdate() BETWEEN utrl.UR_StartDate AND utrl.UR_EndDate)
                         ) as a
                  group  by a.ScheduledPersonID,
                            a.Fullname,
                            a.Forename,
                            a.Surname,
                            a.EFT
                  ORDER  BY a.Fullname
              END
            ELSE
              BEGIN
                  select ScheduledPersonID,
                         Fullname,
                         Forename,
                         Surname,
                         EFT
                  from   (SELECT sp.UD_UserID           as ScheduledPersonID,
                                 sp.UD_DisplayName      as Fullname,
                                 sp.UD_DisplayFirstName as Forename,
                                 sp.UD_DisplayLastName  as Surname,
                                 1                      as EFT
                          FROM   RotaPeople RP
                        INNER JOIN ScheduledPersonTeam_LINK sptl
                                on sptl.ScheduledPersonID = RP.ScheduledPersonID
                                AND sptl.scheduledType = 1
                                and sptl.TeamID = @TeamId
                                and sptl.IsHomeTeam = 1
                                and sptl.EndDate > CAST(Getdate() AS DATE)
                        LEFT JOIN UserDetails sp on sp.UD_UserID = RP.ScheduledPersonID
                          where  RP.IsActive = 1
							and RP.EndDate > CAST(Getdate() AS DATE)
							and sp.UD_UserID in (select distinct ScheduledPersonID
												from   UserRoles da
												inner join schedulingTeams stl on stl.divisionId = da.UR_DivisionId
														and stl.isActive = 1
														and stl.IsActive = 1
												inner join ScheduledPersonTeam_LINK sptl2 on sptl2.TeamID = stl.schedulingTeamId
												inner join REF_Roles RR on RR.RoleID = da.UR_RoleID
										where  da.UR_UserID = COALESCE(@userid, da.UR_UserID)
														and sptl.TeamID = @TeamId
														and RR.RoleName = 'Area Admin')
                          union
                          SELECT sp.UD_UserID           as ScheduledPersonID,
                                 sp.UD_DisplayName      as Fullname,
                                 sp.UD_DisplayFirstName as Forename,
                                 sp.UD_DisplayLastName  as Surname,
                                 1                      as EFT
                          FROM   RotaPeople RP
                          INNER JOIN ScheduledPersonTeam_LINK sptl
                                on sptl.ScheduledPersonID = RP.ScheduledPersonID
                                AND sptl.scheduledType = 1
                                and sptl.TeamID = @TeamId
                                and sptl.IsHomeTeam = 1
                                and sptl.EndDate > CAST(Getdate() AS DATE)
                          LEFT JOIN UserDetails sp
                            on sp.UD_UserID = RP.ScheduledPersonID
                          where  RP.IsActive = 1
                            and RP.EndDate > CAST(Getdate() AS DATE)
                            and sp.UD_UserID in (SELECT DISTINCT sptl.ScheduledPersonID
												FROM  UserRoles utrl
												INNER JOIN  ScheduledPersonTeam_LINK sptl ON sptl.TeamID = utrl.UR_SchedulingTeamID
												WHERE utrl.UR_UserID = COALESCE(@userid, utrl.UR_UserID)
												AND sptl.TeamID = @TeamId
												AND CAST(Getdate() AS DATE) BETWEEN utrl.UR_StartDate AND utrl.UR_EndDate)
                         ) as a
                  group  by a.ScheduledPersonID,
                            a.Fullname,
                            a.Forename,
                            a.Surname,
                            a.EFT
                  ORDER  BY a.Fullname
              END
        END
  END 