USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_Prodviewgroups]    Script Date: 01/12/2022 16:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER PROCEDURE [dbo].[usp_mod_Prodviewgroups]
@prodviewgroupid INT,
@teamid INT,
@strDescription VARCHAR(200),
@strFilter VARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	DECLARE @newid int,@err int, @rows int, @RowNum int,@status int,@maxsortorder int = 0
	SET @status = 1
	
	
 -- insert new record 
 BEGIN TRANSACTION
	if @prodviewgroupid = 0
		Begin
			if exists (SELECT TOP(1) * FROM ProdViewGroups (nolock) WHERE SchedulingTeamId = @teamid)
			BEGIN
			SELECT @maxsortorder =  MAX(SortOrder) FROM ProdViewGroups (nolock) WHERE SchedulingTeamId = @teamid
			SET @maxsortorder = @maxsortorder+1
			END

			INSERT INTO [dbo].[ProdViewGroups]([SchedulingTeamID] ,[Description],[Filter],[SortOrder])
				VALUES(@teamid,@strDescription,@strFilter,@maxsortorder)
			-- get last insert data
				SET @newid = Scope_Identity();
			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
						IF @err <> 0 
							BEGIN
								ROLLBACK TRANSACTION
								SET @status =0
								
								RETURN 0
							END
						IF @rows = 0 
							BEGIN
								ROLLBACK TRANSACTION
								SET @status = 0
								
								RETURN 0
							END
		End
	Else
		-- update whole record
	BEGIN
		UPDATE [dbo].[ProdViewGroups]
			SET [Description] = @strDescription ,[Filter] = @strFilter,[SchedulingTeamId] = @teamid
			WHERE id = @prodviewgroupid
			SET @status = 1
								
	END
	
	SELECT @status strstatus;	
	COMMIT TRANSACTION
	

END

