USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSkillProgramWithTeam]    Script Date: 09/07/2021 13:33:57 ******/
DROP PROCEDURE [dbo].[usp_UpdateSkillProgramWithTeam]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSkillProgramWithTeam]    Script Date: 09/07/2021 13:33:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Neeraj  Kumar
-- Create date: 08/07/2021
-- Description:	SP to update Skill Program with Team.
-- =============================================
Create PROCEDURE [dbo].[usp_UpdateSkillProgramWithTeam]
@prog Varchar(200),
@id INT
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE skills_programmes
              SET programmename = @prog
              WHERE  (ID = @id)
    
END
GO
