USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterColorRecords]    Script Date: 25/08/2022 14:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  OR  ALTER PROCEDURE [dbo].[usp_mod_MasterColorRecords]
@colourid	INT,
@action VARCHAR(20), 
@divisionid INT, 
@colourname VARCHAR(255), 
@colournotes VARCHAR(500),
@backgroundcolour VARCHAR(10),
@fontcolour VARCHAR(10),
@isdefault INT,
@isactive INT,
@currentuser VARCHAR(255),
@createdby INT,
@modifyby VARCHAR(10),
@status				VARCHAR(20) OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @err int
	DECLARE @rows int
	DECLARE @RowNum int
	DECLARE @CurrentDateTime datetime
	DECLARE @HistoryStart nvarchar(max)

	SET @CurrentDateTime = CONVERT(datetime, CURRENT_TIMESTAMP, 106)

 	-- insert new record 
 	BEGIN TRANSACTION
		if @action = 'insert'
			BEGIN
				SET @HistoryStart  = 'Created by ' +  @currentuser + ' on ' +  CONVERT(VARCHAR, getdate(), 103) + ' at ' + CONVERT(VARCHAR(5),GETDATE(),108)

				INSERT INTO REF_MasterDutyColours (AreaID,DivisionID,ColourName, ColourNotes, ColourBackground,ColourFont,IsDefaultColour,IsActive,CreatedBy,CreatedDate,LastModBy,LastModDate,History)
				VALUES (@divisionid,@divisionid, @colourname,@colournotes,@backgroundcolour,@fontcolour,@isdefault,@isactive,@createdby,@CurrentDateTime,@createdby,@CurrentDateTime,@HistoryStart);
			
				--check error
	        	SELECT @err = @@ERROR, @rows = @@ROWCOUNT
					IF @err <> 0 
						BEGIN
							ROLLBACK TRANSACTION
							SET @status = 'error'
							SET @returnstring = 'Error saving the Master Colour Details.'
							RETURN 0
						END
						IF @rows = 0 
							BEGIN
								ROLLBACK TRANSACTION
								SET @status = 'error'
								SET @returnstring = 'Error saving the Master Colour Details.'
								RETURN 0
							END
					ELSE
						SET @status = 'success'
						SET @returnstring = 'Master Duty Colour Saved Successfully.'
			END
		ELSE
			if @action = 'isdefault'
				BEGIN
					if @isdefault = 0
						BEGIN
							SET @HistoryStart  = 'Modify by ' +  @currentuser + ' on ' +  CONVERT(VARCHAR, getdate(), 103) + ' at ' + CONVERT(VARCHAR(5),GETDATE(),108)
							UPDATE REF_MasterDutyColours SET IsDefaultColour = @isdefault,LastModBy = @createdby,LastModDate = @CurrentDateTime,History = @HistoryStart WHERE MasterDutyColourID = @colourid AND 
							DivisionID = @divisionid

							--check error
	        				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
								IF @err <> 0 
									BEGIN
										ROLLBACK TRANSACTION
										SET @status = 'error'
										SET @returnstring = 'Error saving the Master Colour Details.'
										RETURN 0
									END
									IF @rows = 0 
										BEGIN
											ROLLBACK TRANSACTION
											SET @status = 'error'
											SET @returnstring = 'Error saving the Master Colour Details.'
											RETURN 0
										END
								ELSE
									SET @status = 'success'
									SET @returnstring = 'Master Duty Colour Removed from Default Colour'
						END
					ELSE
						BEGIN
							SET @HistoryStart  = 'Modify by ' +  @currentuser + ' on ' +  CONVERT(VARCHAR, getdate(), 103) + ' at ' + CONVERT(VARCHAR(5),GETDATE(),108)
							UPDATE REF_MasterDutyColours SET IsDefaultColour = 0 WHERE DivisionID = @divisionid
							UPDATE REF_MasterDutyColours SET IsDefaultColour = @isdefault,LastModBy = @createdby,LastModDate = @CurrentDateTime,History = @HistoryStart WHERE MasterDutyColourID = @colourid AND 
							DivisionID = @divisionid

							--check error
	        				SELECT @err = @@ERROR, @rows = @@ROWCOUNT
								IF @err <> 0 
									BEGIN
										ROLLBACK TRANSACTION
										SET @status = 'error'
										SET @returnstring = 'Error saving the Master Colour Details.'
										RETURN 0
									END
									IF @rows = 0 
										BEGIN
											ROLLBACK TRANSACTION
											SET @status = 'error'
											SET @returnstring = 'Error saving the Master Colour Details.'
											RETURN 0
										END
								ELSE
									SET @status = 'success'
									SET @returnstring = 'Master Duty Colour Marked as Default Colour'
						END
				END
			ELSE
				if @action = 'updatestatus'
					BEGIN
						SET @HistoryStart  = 'Modify by ' +  @currentuser + ' on ' +  CONVERT(VARCHAR, getdate(), 103) + ' at ' + CONVERT(VARCHAR(5),GETDATE(),108)
						UPDATE REF_MasterDutyColours SET IsActive = @isactive,LastModBy = @createdby,LastModDate = @CurrentDateTime,History = @HistoryStart WHERE MasterDutyColourID = @colourid

						--check error
	        			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
							IF @err <> 0 
								BEGIN
									ROLLBACK TRANSACTION
									SET @status = 'error'
									SET @returnstring = 'Error saving the Master Colour Details.'
									RETURN 0
								END
								IF @rows = 0 
									BEGIN
										ROLLBACK TRANSACTION
										SET @status = 'error'
										SET @returnstring = 'Error saving the Master Colour Details.'
										RETURN 0
									END
							ELSE
								SET @status = 'success'
								SET @returnstring = 'Master Duty Colour Status Updated Successfully'
					END
				ELSE
					BEGIN
						SET @HistoryStart  = 'Modify by ' +  @currentuser + ' on ' +  CONVERT(VARCHAR, getdate(), 103) + ' at ' + CONVERT(VARCHAR(5),GETDATE(),108)

						UPDATE REF_MasterDutyColours SET AreaID = @divisionid, DivisionID = @divisionid,ColourName = @colourname, 
						ColourNotes = @colournotes,ColourBackground = @backgroundcolour,ColourFont = @fontcolour,IsDefaultColour = @isdefault,
						IsActive = @isactive,LastModBy = @createdby,LastModDate = @CurrentDateTime,History = @HistoryStart
						WHERE MasterDutyColourID = @colourid;
			
						--check error
	        			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
							IF @err <> 0 
								BEGIN
									ROLLBACK TRANSACTION
									SET @status = 'error'
									SET @returnstring = 'Error saving the Master Colour Details.'
									RETURN 0
								END
								IF @rows = 0 
									BEGIN
										ROLLBACK TRANSACTION
										SET @status = 'error'
										SET @returnstring = 'Error saving the Master Colour Details.'
										RETURN 0
									END
							ELSE
								SET @status = 'success'
								SET @returnstring = 'Master Duty Colour Updated Successfully.'
					END
	SELECT @status strstatus , @returnstring strreturnstring;	
	COMMIT TRANSACTION
	

END
