USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_setNonScheduledTeamStaff]    Script Date: 24/07/2025 22:52:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       PROCEDURE  [dbo].[usp_mod_setNonScheduledTeamStaff]
	-- Add the parameters for the stored procedure here
	 @netlogin VARCHAR(500),
	 @teamid INT,
	 @currentuser INT,
	 @modulename VARCHAR(200),
	 @currentusername VARCHAR(500)


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @schedulpersonid INT , @err int, @rows int, @HistoryStart nvarchar(max)	,@historytype int,	@strhometeamendDate varchar(30);
	DECLARE @teamname VARCHAR (1000),@returnstring3 VARCHAR(200),@status	VARCHAR(20) ,@returnstring VARCHAR(1000) , @returnstring2 VARCHAR(200),@username VARCHAR(500);
	DECLARE @staffid int,@displayname VARCHAR (200),@email varchar(200),@phone VARCHAR(100), @UpdateDateTime datetime,@userid INT, @FirstName varchar(200),@LastName varchar(200);

	set @strhometeamendDate = convert(datetime,'9999-01-01', 103);
	SET @status = 'success'
	SET @returnstring = 'Non Scheduled staff has been assigned successfully.'
	SET @UpdateDateTime = GETDATE()
    -- Insert user team role permissions
BEGIN TRANSACTION

	if (@currentusername = '' or  @currentusername = null)
	BEGIN
	SELECT @currentusername = U.UD_DisplayLastName  -- U.UD_DisplayName
     
  FROM [UserDetails] U (nolock)  
  where U.UD_UserID   = @currentuser
	END
	
	SELECT @teamname = schedulingTeamName FROM schedulingTeams (NOLOCK) where schedulingTeamId = @teamid
	
	--SELECT 'SELECT1',@teamname
	
	--check already exist or not
	IF NOT EXISTS (Select 1 from UserDetails (NOLOCK) where UD_NetLogin = @netlogin)
	BEGIN
			SET @status ='error'
			SET @returnstring =  '<br>The Login has not been found. Please try again.<br><br>'
			SELECT @status strstatus , @returnstring strreturnstring,@returnstring2 strreturnstring2,@username strreturnstring3,@returnstring3  strreturnstring4 ,@teamname strreturnstring3;
			RETURN 0
	END
	--SELECT 'SELECT2',@netlogin
	-- Check for there is any schedule person or non schedule person record- present for that team in future
	select @strhometeamendDate = DATEADD(day, -1, st.StartDate) from UserDetails u (NOLOCK)
	join ScheduledPersonTeam_LINK st (NOLOCK) on st.ScheduledPersonID = u.UD_UserID
				where u.UD_NetLogin = @netlogin and st.TeamID = @teamid and isnull(st.StartDate,'9999-01-01') > getdate() and isnull(st.EndDate,'9999-01-01') >= getdate()
	--SELECT 'SELECT3',@strhometeamendDate
	if(@strhometeamendDate = '' or @strhometeamendDate = null)
	BEGIN
		set @strhometeamendDate = convert(datetime,'9999-01-01', 103);
	END
	--SELECT 'SELECT4',@strhometeamendDate

--	-- check user already not part of the same team
	IF EXISTS (select 1  from UserDetails   u (NOLOCK) --JOIN ScheduledPeople sp (NOLOCK) on sp.UserID = u.UserID
				join ScheduledPersonTeam_LINK st (NOLOCK) on st.ScheduledPersonID = U.UD_UserID
				where u. UD_NetLogin = @netlogin and st.TeamID = @teamid and isnull(st.StartDate,'9999-01-01') <= getdate() and isnull(st.EndDate,'9999-01-01') >= getdate())
			BEGIN
				SELECT @username = U.UD_DisplayName--CASE WHEN (sp.DisplayName IS NULL) THEN
					--CASE WHEN (sd.PreferredForename IS NULL or sd.PreferredForename = '')
					--THEN (sd.Forename + ' ' + sd.Surname) ELSE (sd.PreferredForename + ' ' + sd.Surname)    END
					--ELSE sp.DisplayName END 
				from UserDetails U (NOLOCK)
					--left join ScheduledPeople sp (NOLOCK) on sp.StaffDetailsID = U.UD_StaffNumber
				where U.UD_NetLogin = @netlogin ;
				----GET THE TEAM
	
				SET @returnstring = 'The network login you have entered is already assigned with the selected team.'
				SET @returnstring2 = 'The Name of the user is '
				SET @returnstring3 ='Team Name '
				SET @status = 'usererror'
				SELECT @status strstatus , @returnstring strreturnstring,@returnstring2 strreturnstring2,@username strreturnstring3,@returnstring3  strreturnstring4 ,@teamname strreturnstring5;
				--RETURN 0
			END 

			--SELECT 'SELECT5',@returnstring

-- VALIDATION END --check user already not part of the same team
	
	SELECT @staffid = U.UD_TeampayStaffID,
		@displayname = u.UD_DisplayName,
		@FirstName = 	U.UD_DisplayFirstName	,				
		@LastName = U.UD_DisplayLastName,
		@email = U.UD_InternalEmail,
		@phone = cast(U.UD_PersonalPhone as varchar),
		@userid = u.UD_UserID
	FROM UserDetails u (NOLOCK)
		--LEFT JOIN StaffDetails sd (NOLOCK) on sd.NetLogin = u.UD_NetLogin
	WHERE u.UD_NetLogin = @netlogin
	
	
	-- Check user has data in ScheduledPeople
	IF NOT EXISTS (select 1  from UserDetails u (NOLOCK) --JOIN ScheduledPeople sp on sp.UserID = u.UD_UserID 
	where u.UD_NetLogin = @netlogin)
		BEGIN
	
		-- create record if we don have record in scheduled people table
			INSERT INTO [dbo].UserDetails([UD_DisplayName],[UD_PersonalPhone],[UD_InternalEmail],[UD_UserID],[UD_StaffNumber]
			   ,[UD_CreatedBy],[UD_CreatedDate],[UD_DisplayFirstName],[UD_DisplayLastName])
			 VALUES(@displayname,@phone,@email,@userid,@staffid,@currentuser,@UpdateDateTime,@FirstName,@LastName)
	
			 --CHECK ERROR THN ROLLBACL TRANSACTION
			 SELECT @err = @@ERROR, @rows = @@ROWCOUNT
					IF @err <> 0
						BEGIN
							ROLLBACK TRANSACTION
							SET @status = 'error'
							SET @returnstring = 'Error saving the non-scheduled people  Details.'
							RETURN 0
						END
					IF @rows = 0
						BEGIN
							ROLLBACK TRANSACTION
							SET @status = 'error'
							SET @returnstring = 'Error saving the non-scheduled people Details.'
							RETURN 0
						END
	
	
		END
	--select ' assigned the team as non-scheduled'
	SELECT @schedulpersonid = UD_UserID from userdetails (nolock) where UD_UserID = @userid
	INSERT INTO [dbo].[ScheduledPersonTeam_LINK]
           ([ScheduledPersonID],[TeamID],[IsHomeTeam],[CreatedBy],[CreatedDate],[StartDate],[EndDate],[IsActive],[scheduledType])
     VALUES
           (@schedulpersonid,@teamid,0,@currentuser,@UpdateDateTime,convert(datetime,convert(varchar(40),getdate(),110),110),@strhometeamendDate,1,0)
	--select * from [ScheduledPersonTeam_LINK]with(nolock)  where [ScheduledPersonID]=@schedulpersonid 
	--and [TeamID]=@teamid and [IsHomeTeam]=0
		SELECT @err = @@ERROR, @rows = @@ROWCOUNT
					IF @err <> 0
						BEGIN
							ROLLBACK TRANSACTION
							SET @status = 'error'
							SET @returnstring = 'Error saving the  non-scheduled team Details.'
							RETURN 0
						END
					IF @rows = 0
						BEGIN
							ROLLBACK TRANSACTION
							SET @status = 'error'
							SET @returnstring = 'Error saving the non-scheduled team Details.'
							RETURN 0
						END
						
						--*/
	
-- select the history type
	if (@rows > 0)
	BEGIN
		Select @historytype = id from HistoryTypes (NOLOCK) where HistoryType = @modulename
		SET @HistoryStart  = @teamname + ' permission assigned  by ' +  @currentusername + ' on ' +  CONVERT(VARCHAR, GETDATE(), 103) + ' at ' + CONVERT(VARCHAR(5),getdate(),108) +'.'
	
		INSERT INTO [dbo].[AdditionalPermissionsHistory]([HistoryType],[UserID],[History],[datetime],[AttributeID],[AttributeID2])
			VALUES (@historytype ,@currentuser,@HistoryStart,@UpdateDateTime,@teamid,@userid)
	END
	SELECT @status strstatus , @returnstring strreturnstring,@returnstring2 strreturnstring2,@username strreturnstring3,@returnstring3  strreturnstring4 ,@teamname strreturnstring3;
COMMIT TRANSACTION

END