USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_Grades]    Script Date: 3/12/2026 10:33:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_Grades]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[Grades];
		
		
		--Update existing records
		UPDATE T1
		SET T1.[Grade] = T2.[Grade]
			  ,T1.[Conditions] = T2.[Conditions]
			 -- ,T1.[Amount] = T2.[Amount]
		FROM [Grades] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_Grades] T2 ON T1.Grade = T2.Grade
		WHERE T1.Grade = T2.Grade
		
		--Insert new records
		INSERT INTO [Grades] (
			   [ID]
			   ,[Grade]
			  ,[Conditions]
			 -- ,[Amount]
			  ,[AllocateInstanceID]
			)  
		SELECT [GradeID]
			  ,[Grade]
			  ,[Conditions]
			 -- ,[Amount]
			  ,0
		  FROM [AllocateLink].[dbo].[TP_A7_REF_Grades] T2 
		  WHERE NOT EXISTS (SELECT T1.Grade FROM [Grades] T1 
		  WHERE T1.Grade = T2.Grade)
        
END
