USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_MasterDutiesReal]    Script Date: 16/05/2024 13:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_GET_MasterDutiesReal]
	-- Add the parameters for the stored procedure here
	@areaid INT = 0,
	@dutytypeid INT = 0,
	@isarchived INT = 0,
	@teamid VARCHAR(255) = 0,
	@strsearch VARCHAR(255) = 0
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET
NOCOUNT ON;

	DECLARE
@isactive INT;
	SET
@isactive = 1;

    -- Insert statements for procedure here
IF (@teamid = '0' or @teamid = null)
BEGIN
	select 0 MasterDutyID;
	return;
END
else
BEGIN
	IF
(@dutytypeid = '0')
BEGIN
if
(@strsearch = '')
BEGIN
SELECT T1.MasterDutyID,
       T1.DutyName,
       T1.DutyTypeID,
       rdt.DutyTypeName,
       ISNULL(T1.Duration, 0)                     as Duration,
       ISNULL(T1.WindowDuration, 0)               as WindowDuration,
       T1.StartDate,
       T1.EndDate,
       T1.StartTime,
       T1.EndTime,
       T1.dotw,
       ISNULL(T1.BackColour, 'a4a4a4')          as ColourBackground,
       ISNULL(T1.ForeColour, 'ffffff')          as ColourFont,
       T1.TeamID,
       ISNULL(T1.DutyColourID, 0)                 AS DutyColourID,
       ISNULL(T5.ColourBackground, 'a4a4a4')    as ColourBackground,
       ISNULL(T5.ColourFont, 'ffffff')          as ColourFont,
       T2.MasterJobID                             AS JobID,
       T2.JobTypeID,
       T2.JobName,
       T2.StartTime                               AS JobStartTime,
       T2.EndTime                                 AS JobEndTime,
       T4.ColourBackground                        AS JobBackColour,
       T4.ColourFont                              AS JobForeColour,
       ISNULL(T1.IsPaid, 1)                       as IsPaid,
       ISNULL(T1.Saturday, 0)                     as Sat,
       ISNULL(T1.Sunday, 0)                       as Sun,
       ISNULL(T1.Monday, 0)                       as Mon,
       ISNULL(T1.Tuesday, 0)                      as Tue,
       ISNULL(T1.Wednesday, 0)                    as Wed,
       ISNULL(T1.Thursday, 0)                     as Thu,
       ISNULL(T1.Friday, 0)                       as Fri,
       CONVERT(VARCHAR (30), T1.LastModDate, 121) as LastModDate,
       T1.BreakTime,
	   T1.IsNightShift
FROM MasterJobs T2 (NOLOCK)
         INNER JOIN MasterDutiesMasterJobs_LINK T3 (NOLOCK) ON T2.MasterJobID = T3.MasterJobID
         RIGHT OUTER JOIN MasterDuties T1 (NOLOCK) ON T3.MasterDutyID = T1.MasterDutyID
         inner Join REF_DutyTypes rdt (NOLOCK) on T1.DutyTypeID = rdt.ID
         LEFT OUTER JOIN REF_MasterJobColours T4 (NOLOCK) ON T2.MasterJobID = T4.MasterJobID
         LEFT OUTER JOIN REF_MasterDutyColours T5 (NOLOCK) ON T1.DutyColourID = T5.MasterDutyColourID
WHERE ((T1.AreaID = @areaid)
    OR (T1.AreaID = 0))
  AND T1.IsActive = @isactive
  AND T1.DutyTypeID <> 1
  AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, ',')))
ORDER BY T1.DutyName
END
ELSE
BEGIN
SELECT T1.MasterDutyID,
       T1.DutyName,
       T1.DutyTypeID,
       rdt.DutyTypeName,
       ISNULL(T1.Duration, 0)                     as Duration,
       ISNULL(T1.WindowDuration, 0)               as WindowDuration,
       T1.StartDate,
       T1.EndDate,
       T1.StartTime,
       T1.EndTime,
       T1.dotw,
       ISNULL(T1.BackColour, 'a4a4a4')          as ColourBackground,
       ISNULL(T1.ForeColour, 'ffffff')          as ColourFont,
       T1.TeamID,
       ISNULL(T1.DutyColourID, 0)                 AS DutyColourID,
       ISNULL(T5.ColourBackground, 'a4a4a4')    as ColourBackground,
       ISNULL(T5.ColourFont, 'ffffff')          as ColourFont,
       T2.MasterJobID                             AS JobID,
       T2.JobTypeID,
       T2.JobName,
       T2.StartTime                               AS JobStartTime,
       T2.EndTime                                 AS JobEndTime,
       T4.ColourBackground                        AS JobBackColour,
       T4.ColourFont                              AS JobForeColour,
       ISNULL(T1.IsPaid, 1)                       as IsPaid,
       ISNULL(T1.Saturday, 0)                     as Sat,
       ISNULL(T1.Sunday, 0)                       as Sun,
       ISNULL(T1.Monday, 0)                       as Mon,
       ISNULL(T1.Tuesday, 0)                      as Tue,
       ISNULL(T1.Wednesday, 0)                    as Wed,
       ISNULL(T1.Thursday, 0)                     as Thu,
       ISNULL(T1.Friday, 0)                       as Fri,
       CONVERT(VARCHAR (30), T1.LastModDate, 121) as LastModDate,
       T1.BreakTime,
	   T1.IsNightShift
FROM MasterJobs T2 (NOLOCK)
         INNER JOIN MasterDutiesMasterJobs_LINK T3 (NOLOCK) ON T2.MasterJobID = T3.MasterJobID
         RIGHT OUTER JOIN MasterDuties T1 (NOLOCK) ON T3.MasterDutyID = T1.MasterDutyID
         inner Join REF_DutyTypes rdt (NOLOCK) on T1.DutyTypeID = rdt.ID
         LEFT OUTER JOIN REF_MasterJobColours T4 (NOLOCK) ON T2.MasterJobID = T4.MasterJobID
         LEFT OUTER JOIN REF_MasterDutyColours T5 (NOLOCK) ON T1.DutyColourID = T5.MasterDutyColourID
WHERE ((T1.AreaID = @areaid)
    OR (T1.AreaID = 0))
  AND T1.IsActive = @isactive
  AND T1.DutyTypeID <> 1
  AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, ',')))
  AND CHARINDEX(@strsearch, T1.DutyName) > 0
ORDER BY T1.DutyName
END
END
else
BEGIN
if
(@strsearch = '')
BEGIN
SELECT T1.MasterDutyID,
       T1.DutyName,
       T1.DutyTypeID,
       rdt.DutyTypeName,
       ISNULL(T1.Duration, 0)                     as Duration,
       ISNULL(T1.WindowDuration, 0)               as WindowDuration,
       T1.StartDate,
       T1.EndDate,
       T1.StartTime,
       T1.EndTime,
       T1.dotw,
       ISNULL(T1.BackColour, 'a4a4a4')          as ColourBackground,
       ISNULL(T1.ForeColour, 'ffffff')          as ColourFont,
       T1.TeamID,
       ISNULL(T1.DutyColourID, 0)                 AS DutyColourID,
       ISNULL(T5.ColourBackground, 'a4a4a4')    as ColourBackground,
       ISNULL(T5.ColourFont, 'ffffff')          as ColourFont,
       T2.MasterJobID                             AS JobID,
       T2.JobTypeID,
       T2.JobName,
       T2.StartTime                               AS JobStartTime,
       T2.EndTime                                 AS JobEndTime,
       T4.ColourBackground                              AS JobBackColour,
       T4.ColourFont                              AS JobForeColour,
       ISNULL(T1.IsPaid, 1)                       as IsPaid,
       ISNULL(T1.Saturday, 0)                     as Sat,
       ISNULL(T1.Sunday, 0)                       as Sun,
       ISNULL(T1.Monday, 0)                       as Mon,
       ISNULL(T1.Tuesday, 0)                      as Tue,
       ISNULL(T1.Wednesday, 0)                    as Wed,
       ISNULL(T1.Thursday, 0)                     as Thu,
       ISNULL(T1.Friday, 0)                       as Fri,
       CONVERT(VARCHAR (30), T1.LastModDate, 121) as LastModDate,
       T1.BreakTime,
	   T1.IsNightShift
FROM MasterJobs T2 (NOLOCK)
         INNER JOIN MasterDutiesMasterJobs_LINK T3 (NOLOCK) ON T2.MasterJobID = T3.MasterJobID
         RIGHT OUTER JOIN MasterDuties T1 (NOLOCK) ON T3.MasterDutyID = T1.MasterDutyID
         inner Join REF_DutyTypes rdt (NOLOCK) on T1.DutyTypeID = rdt.ID
         LEFT OUTER JOIN REF_MasterJobColours T4 (NOLOCK) ON T2.MasterJobID = T4.MasterJobID
         LEFT OUTER JOIN REF_MasterDutyColours T5 (NOLOCK) ON T1.DutyColourID = T5.MasterDutyColourID
WHERE ((T1.AreaID = @areaid)
    OR (T1.AreaID = 0))
  AND T1.IsActive = @isactive
  AND T1.DutyTypeID = @dutytypeid
  AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, ',')))
ORDER BY T1.DutyName
END
ELSE
BEGIN
SELECT T1.MasterDutyID,
       T1.DutyName,
       T1.DutyTypeID,
       rdt.DutyTypeName,
       ISNULL(T1.Duration, 0)                     as Duration,
       ISNULL(T1.WindowDuration, 0)               as WindowDuration,
       T1.StartDate,
       T1.EndDate,
       T1.StartTime,
       T1.EndTime,
       T1.dotw,
       ISNULL(T1.BackColour, 'a4a4a4')          as ColourBackground,
       ISNULL(T1.ForeColour, 'ffffff')          as ColourFont,
       T1.TeamID,
       ISNULL(T1.DutyColourID, 0)                 AS DutyColourID,
       ISNULL(T5.ColourBackground, 'a4a4a4')    as ColourBackground,
       ISNULL(T5.ColourFont, 'ffffff')          as ColourFont,
       T2.MasterJobID                             AS JobID,
       T2.JobTypeID,
       T2.JobName,
       T2.StartTime                               AS JobStartTime,
       T2.EndTime                                 AS JobEndTime,
       T4.ColourBackground                        AS JobBackColour,
       T4.ColourFont                              AS JobForeColour,
       ISNULL(T1.IsPaid, 1)                       as IsPaid,
       ISNULL(T1.Saturday, 0)                     as Sat,
       ISNULL(T1.Sunday, 0)                       as Sun,
       ISNULL(T1.Monday, 0)                       as Mon,
       ISNULL(T1.Tuesday, 0)                      as Tue,
       ISNULL(T1.Wednesday, 0)                    as Wed,
       ISNULL(T1.Thursday, 0)                     as Thu,
       ISNULL(T1.Friday, 0)                       as Fri,
       CONVERT(VARCHAR (30), T1.LastModDate, 121) as LastModDate,
       T1.BreakTime,
	   T1.IsNightShift
FROM MasterJobs T2 (NOLOCK)
         INNER JOIN MasterDutiesMasterJobs_LINK T3 (NOLOCK) ON T2.MasterJobID = T3.MasterJobID
         RIGHT OUTER JOIN MasterDuties T1 (NOLOCK) ON T3.MasterDutyID = T1.MasterDutyID
         inner Join REF_DutyTypes rdt (NOLOCK) on T1.DutyTypeID = rdt.ID
         LEFT OUTER JOIN REF_MasterJobColours T4 (NOLOCK) ON T2.MasterJobID = T4.MasterJobID
         LEFT OUTER JOIN REF_MasterDutyColours T5 (NOLOCK) ON T1.DutyColourID = T5.MasterDutyColourID
WHERE ((T1.AreaID = @areaid)
    OR (T1.AreaID = 0))
  AND T1.IsActive = @isactive
  AND T1.DutyTypeID = @dutytypeid
  AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, ',')))
  AND CHARINDEX(@strsearch, T1.DutyName) > 0
ORDER BY T1.DutyName
END
END
END
END
