USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_OrganisationLevels]    Script Date: 3/12/2026 10:31:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_OrganisationLevels]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_OrganisationLevels];
		
		--Update existing records
		UPDATE T1
		SET    T1.[OrgUnit_0] = T2.[OrgUnit_0]
			  ,T1.[OrgDescription_0] = T2.[OrgDescription_0]
			  ,T1.[OrgUnit_1] = T2.[OrgUnit_1]
			  ,T1.[OrgDescription_1] = T2.[OrgDescription_1]
			  ,T1.[OrgUnit_2] = T2.[OrgUnit_2]
			  ,T1.[OrgDescription_2] = T2.[OrgDescription_2]
			  ,T1.[OrgUnit_3] = T2.[OrgUnit_3]
			  ,T1.[OrgDescription_3] = T2.[OrgDescription_3]
			  ,T1.[OrgUnit_4] = T2.[OrgUnit_4]
			  ,T1.[OrgDescription_4] = T2.[OrgDescription_4]
			  ,T1.[OrgUnit_5] = T2.[OrgUnit_5]
			  ,T1.[OrgDescription_5] = T2.[OrgDescription_5]
			  ,T1.[OrgUnit_6] = T2.[OrgUnit_6]
			  ,T1.[OrgDescription_6] = T2.[OrgDescription_6]
			  ,T1.[OrgUnit_7] = T2.[OrgUnit_7]
			  ,T1.[OrgDescription_7] = T2.[OrgDescription_7]
			  ,T1.[OrgUnit_8] = T2.[OrgUnit_8]
			  ,T1.[OrgDescription_8] = T2.[OrgDescription_8]
			  ,T1.[OrgUnit_9] = T2.[OrgUnit_9]
			  ,T1.[OrgDescription_9] = T2.[OrgDescription_9]
			  ,T1.[OrgUnit_10] = T2.[OrgUnit_10]
			  ,T1.[OrgDescription_10] = T2.[OrgDescription_10]
			  ,T1.[OrgUnit_11] = T2.[OrgUnit_11]
			  ,T1.[OrgDescription_11] = T2.[OrgDescription_11]
			  ,T1.[OrgUnit_12] = T2.[OrgUnit_12]
			  ,T1.[OrgDescription_12] = T2.[OrgDescription_12]
			  ,T1.[OrgUnit_13] = T2.[OrgUnit_13]
			  ,T1.[OrgDescription_13] = T2.[OrgDescription_13]
			  ,T1.[OrgUnit_14] = T2.[OrgUnit_14]
			  ,T1.[OrgDescription_14] = T2.[OrgDescription_14]
			  ,T1.[OrgUnit_15] = T2.[OrgUnit_15]
			  ,T1.[OrgDescription_15] = T2.[OrgDescription_15]
			  ,T1.[CreatedDate] = T2.[CreatedDate]
			  ,T1.[LastModDate] = T2.[LastModDate]
			  ,T1.[LastModBy] = T2.[LastModBy]
			  ,T1.[History] = T2.[History]
		FROM [REF_OrganisationLevels] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_OrganisationLevels] T2 ON T1.OrgID = T2.OrgID
		WHERE T1.OrgID = T2.OrgID
		
		--Insert new records
		INSERT INTO [REF_OrganisationLevels] (
			   [OrgID]
			  ,[OrgUnit_0]
			  ,[OrgDescription_0]
			  ,[OrgUnit_1]
			  ,[OrgDescription_1]
			  ,[OrgUnit_2]
			  ,[OrgDescription_2]
			  ,[OrgUnit_3]
			  ,[OrgDescription_3]
			  ,[OrgUnit_4]
			  ,[OrgDescription_4]
			  ,[OrgUnit_5]
			  ,[OrgDescription_5]
			  ,[OrgUnit_6]
			  ,[OrgDescription_6]
			  ,[OrgUnit_7]
			  ,[OrgDescription_7]
			  ,[OrgUnit_8]
			  ,[OrgDescription_8]
			  ,[OrgUnit_9]
			  ,[OrgDescription_9]
			  ,[OrgUnit_10]
			  ,[OrgDescription_10]
			  ,[OrgUnit_11]
			  ,[OrgDescription_11]
			  ,[OrgUnit_12]
			  ,[OrgDescription_12]
			  ,[OrgUnit_13]
			  ,[OrgDescription_13]
			  ,[OrgUnit_14]
			  ,[OrgDescription_14]
			  ,[OrgUnit_15]
			  ,[OrgDescription_15]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			)  
		SELECT [OrgID]
			  ,[OrgUnit_0]
			  ,[OrgDescription_0]
			  ,[OrgUnit_1]
			  ,[OrgDescription_1]
			  ,[OrgUnit_2]
			  ,[OrgDescription_2]
			  ,[OrgUnit_3]
			  ,[OrgDescription_3]
			  ,[OrgUnit_4]
			  ,[OrgDescription_4]
			  ,[OrgUnit_5]
			  ,[OrgDescription_5]
			  ,[OrgUnit_6]
			  ,[OrgDescription_6]
			  ,[OrgUnit_7]
			  ,[OrgDescription_7]
			  ,[OrgUnit_8]
			  ,[OrgDescription_8]
			  ,[OrgUnit_9]
			  ,[OrgDescription_9]
			  ,[OrgUnit_10]
			  ,[OrgDescription_10]
			  ,[OrgUnit_11]
			  ,[OrgDescription_11]
			  ,[OrgUnit_12]
			  ,[OrgDescription_12]
			  ,[OrgUnit_13]
			  ,[OrgDescription_13]
			  ,[OrgUnit_14]
			  ,[OrgDescription_14]
			  ,[OrgUnit_15]
			  ,[OrgDescription_15]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_OrganisationLevels] T2 
		  WHERE NOT EXISTS (SELECT T1.OrgID FROM [REF_OrganisationLevels] T1 
		  WHERE T1.OrgID = T2.OrgID)
        
END
