USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_update_prodviewgroupposition]    Script Date: 30/11/2022 19:10:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  or ALTER    PROCEDURE [dbo].[usp_update_prodviewgroupposition]
	-- Add the parameters for the stored procedure here
	@prodviewgroupid int,
	@intaction INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @intTeamID int , @sortorder int,@intReplaceSortOrder int,@intrplaceid int
	DECLARE @Status int, @err int, @rows int;
	SET @Status =1 

	SELECT @intTeamID=SchedulingTeamId, @sortorder=SortOrder FROM ProdViewGroups WHERE id = @prodviewgroupid
    
	if @intaction = 1 
	BEGIN
		set @intReplaceSortOrder =@sortorder + 1;
	END
	ELSE
	BEGIN
		set @intReplaceSortOrder =@sortorder - 1;
	END

	SELECT @intrplaceid = id FROM ProdViewGroups WHERE SchedulingTeamId = @intTeamID AND SortOrder = @intReplaceSortOrder
   BEGIN TRANSACTION
   UPDATE ProdViewGroups SET SortOrder = @sortorder WHERE id = @intrplaceid
   UPDATE ProdViewGroups SET SortOrder = @intReplaceSortOrder WHERE id=@prodviewgroupid
     SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		 
		  
		IF @err <> 0
		BEGIN
			ROLLBACK TRANSACTION
			SET @Status = 0;
			select @Status intStatus;
		RETURN;
		END

		IF @rows = 0
		BEGIN
			ROLLBACK TRANSACTION
			SET @Status = 0;
			select @Status intStatus;
			RETURN;
		END
		
COMMIT TRANSACTION
		select @Status intStatus;
END