USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ListAllDutiesWithProgrammesDaywise]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_GET_ListAllDutiesWithProgrammesDaywise]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ListAllDutiesWithProgrammesDaywise]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Author:		Neeraj  Kumar
-- Create date: 02/07/2021
-- Description:	SP to get skill programm by staff number.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_ListAllDutiesWithProgrammesDaywise]

@bst INT,
@teamID INT
AS
BEGIN
	SET NOCOUNT ON;
	IF @bst = 1 
    SELECT skills_duties.duty + N' (' + skills_duties.description + N')' AS dutydesc, skills_duties.id, 
	skills_duties_days.dotw,skills_duties.BST, skills_duties.GMT, skills_duties.GMT, skills_duties.DurationWith 
    FROM skills_duties
    LEFT OUTER JOIN skills_duties_days ON skills_duties.id = skills_duties_days.duty_id
	WHERE skills_duties.TeamID = @teamID AND skills_duties.BST = 1 
	ELSE	
	SELECT skills_duties.duty + N' (' + skills_duties.description + N')' AS dutydesc, skills_duties.id, 
	skills_duties_days.dotw,skills_duties.BST, skills_duties.GMT, skills_duties.GMT, skills_duties.DurationWith 
    FROM skills_duties
    LEFT OUTER JOIN skills_duties_days ON skills_duties.id = skills_duties_days.duty_id
	WHERE skills_duties.TeamID = @teamID AND skills_duties.GMT = 1 

		 


END
GO
