USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_Divisionrecord]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_Divisionrecord]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GET_Divisionrecord]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_Divisionrecord]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Naveete Sharma
-- Create date: 31/05/2021
-- Description:	SP to modify the Division table with new/modified data.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_Divisionrecord]
@divisionid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		IF @divisionid = 0
		set @divisionid = NULL;

		if @divisionid is not null
			BEGIN
				 Select DivisionID,DivisionName,Notes,isActive,EffectedFrom from Divisions Where DivisionID = @divisionid 
			END
		ELSE
			Select DivisionID,DivisionName,Notes,isActive,EffectedFrom from Divisions order by DivisionName 

		 
						
END


GO
