USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_Prodviewgroups]    Script Date: 01/12/2022 16:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE or ALTER PROCEDURE [dbo].[usp_get_Prodviewgroups]
@prodviewgroupid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	SELECT SchedulingTeamId, Description, Filter, SortOrder FROM ProdViewGroups (nolock) WHERE id =@prodviewgroupid	
END

