USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_Buildings]    Script Date: 3/12/2026 10:29:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_Buildings]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].REF_Buildings;
		--Update existing records
		UPDATE T1
		SET BaseDescription = T2.BaseDescription,
		   IsActive = T2.IsActive,
		   LastModDate = getdate(),
		   LastModBy = 'TP_SYNC'
		FROM [REF_Buildings] T1 INNER JOIN [AllocateLink].[dbo].[TP_A7_REF_Buildings] T2 ON T1.BaseCode = T2.BaseCode
		WHERE (((T1.BaseDescription <> T2.BaseDescription) OR (T1.BaseDescription IS NULL AND T2.BaseDescription IS NOT NULL) OR (T1.BaseDescription IS NOT NULL AND T2.BaseDescription IS NULL))
		OR ((T1.IsActive <> T2.IsActive) OR (T1.IsActive IS NULL AND T2.IsActive IS NOT NULL) OR (T1.IsActive IS NOT NULL AND T2.IsActive IS NULL)))
		
		--Insert new records
		INSERT INTO [REF_Buildings] (
			   [BaseCode]
			  ,[BaseDescription]
			  ,[IsActive]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			)  
		SELECT [BaseCode]
			  ,[BaseDescription]
			  ,[IsActive]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_Buildings] T2 
		  WHERE NOT EXISTS (SELECT T1.BaseCode FROM [REF_Buildings] T1 WHERE T1.BaseCode = T2.BaseCode)
        
END
