USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Yearly_Leave_Info_ByScheduledPersonID]    Script Date: 28/12/2025 16:53:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER             PROCEDURE [dbo].[usp_Yearly_Leave_Info_ByScheduledPersonID]
	@strtoday VARCHAR(60) ,
	@strendDate VARCHAR(60) ,
	@scheduledPersonID VARCHAR(20),
	@adminNetlogin varchar(60),
	@checked_approved varchar(8),
	@checked_pending varchar(8),
	@checked_deleted varchar(8),
	@checked_agreed varchar(8)
	
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @sql VARCHAR(MAX),
	        @CheckFlag BIT = 0 ;


      SET @sql=
	    'SELECT LA.ID, 
				LA.Login, 
				LA.dDate, 
				LA.Created, 
				LA.Approved, 
				LA.Deleted, 
				LA.Sent,  
				isnull(LA.Comments, '''') as Comments, 
				isnull(LA.OfficeComments, '''') as OfficeComments,
				LA.Attention, 
				LA.ShortNotice, 
				LA.unlikely, 
				LA.oversummer, 
				LA.CountLeave,
				LA.isOK, 
				LA.History,
				ud.UD_DisplayName as FullName,
				LRG.Description AS GroupDescription, 
				LRG.ID AS GroupID, 
				LT.ID AS TypeID, 
				LT.description AS TypeDescription ,
				LT.GroupID,
				CASE WHEN (ISNULL(la.LeaveStartTime,0) > 0 OR ISNULL(la.LeaveEndTime,0) > 0 ) 
			              THEN 1 ELSE 0 END As IsPartDayLeaveApplied,
			    LA.LeaveStartTime,
				LA.LeaveEndTime,
				LA.IsAgreed,
				AP.ASP_AllocationsSPID
		   FROM LeaveApplications LA (Nolock)
		  INNER JOIN leave_types LT (Nolock) ON LA.LeaveTypesID = LT.ID 
		  INNER JOIN LeaveRequestGroups LRG (Nolock) ON LT.GroupID = LRG.ID
		  INNER JOIN UserDetails ud(nolock) on LA.SchedulingPersonID = ud.UD_UserID
		  LEFT JOIN AllocationsScheduledPersons AP on LA.SchedulingPersonID = AP.ASP_SchedulingPersonID AND LA.dDate = AP.ASP_DutyDate
		  WHERE (LA.dDate >= CONVERT(DATETIME,'''+@strtoday+''', 110))        
			AND (LA.dDate <= CONVERT(DATETIME,'''+@strendDate+''', 110)) 
			AND ISNULL(LA.LeaveTypeID,0) NOT IN ( 3,4,5)
			AND LA.SchedulingPersonID='''+@scheduledPersonID+'''';

				--When All off Case 1
				  IF(@checked_approved != 'checked' AND @checked_pending != 'checked' 
				      AND @checked_deleted != 'checked' AND @checked_agreed != 'checked')
					BEGIN
					 SET @sql= @sql+' AND 1 = 2 ';
				    END
				   ELSE
				    BEGIN
				     SET @sql= @sql+' AND ( ';
					END

		 
				 --When All Approved need only Case 2

				IF ( @checked_approved='checked' )
				 BEGIN
					SET @sql= @sql+' LA.Approved = 1 ';
					SET @CheckFlag = 1;
				 END


				IF( @checked_pending = 'checked' )				    
				 BEGIN
				  IF ( @CheckFlag = 1 )
				   BEGIN
				    SET @sql= @sql+' OR '
				   END

				     SET @sql= @sql+' LA.Approved = 0 '
					 SET @CheckFlag = 1;

				 END

				  --When All Approved and unapproved need Case 3

				IF( @checked_deleted = 'checked' )
				 BEGIN
				  IF ( @CheckFlag = 1 )
				   BEGIN
				    SET @sql= @sql+' OR '
				   END

				     SET @sql= @sql+' LA.Deleted = 1 '
					 SET @CheckFlag = 1;

				 END

				IF( @checked_agreed = 'checked' )
				 BEGIN
				  IF ( @CheckFlag = 1 )
				   BEGIN
				    SET @sql= @sql+' OR '
				   END

				     SET @sql= @sql+' ( LA.IsAgreed = 1 AND LA.Approved = 0 ) '
					 SET @CheckFlag = 1;

				 END

				 IF ( @CheckFlag = 1)
				 BEGIN
					SET @sql= @sql+' ) ';
				 END

				 IF ( @checked_deleted != 'checked'  AND @CheckFlag = 1 )
				  SET @sql= @sql+' AND LA.Deleted = 0 '

                SET @sql= @sql+' ORDER BY   GroupDescription, LA.dDate';

	exec(@sql);

END