USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_delete_Unallocated_Job]    Script Date: 20/08/2025 20:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_delete_Unallocated_Job]
	-- Add the parameters for the stored procedure here
	@JobID				INT,
    @CurrentuserID		INT, 
	@Currentuser		VARCHAR(200),
	@status	            INT OUTPUT,
	@returnstring       VARCHAR(1000) OUTPUT
AS
BEGIN
SET NOCOUNT ON;
DECLARE
	@errormessage		varchar(max),
    @History		    VARCHAR(500) ='',
	@AlocationJobId int
	
BEGIN
	
        BEGIN TRANSACTION
		 BEGIN TRY
			
			SET @History ='Job - deleted by ' + @Currentuser + ' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm') ;

			---Delete Job From Allocations_edit

			UPDATE AllocationsJobs 
			   SET AJ_JobStatus = 9,
				   AJ_UpdatedBy = @CurrentuserID,
				   AJ_UpdatedDate = GETUTCDATE()
			 WHERE AJ_AllocateJobID = @JobID

			 ---Add History
			EXEC [usp_mod_AllocationHistory] @JobID,9,@CurrentuserID,@History,1
          
			COMMIT TRANSACTION	

			SET @returnstring = 'Job deleted successfully';
            
			SET @status = 1;
            
			SET @errormessage=ERROR_MESSAGE();
            
			select @status intstatus, @returnstring strstatus;

            return;

		END TRY
		 BEGIN CATCH
			
			ROLLBACK TRANSACTION
				
				INSERT INTO ErrorLog
				VALUES
			  (
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   'usp_delete_Unallocated_Job',
			   ERROR_MESSAGE(),
			   GETDATE(),
			   @currentuser
			  );

			  SET @returnstring = 'Opps!! Some Error Found,Try Later';
				SET @status = 1;
				SET @errormessage=ERROR_MESSAGE();
				select @status intstatus, @returnstring strstatus;
				return 

		  END CATCH
		END
	 	
END