USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_StaffDetailByUserLogon]    Script Date: 24/07/2025 15:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_StaffDetailByUserLogon] 
    @netlogin VARCHAR(500)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT UD_DisplayName AS userDisplayName ,UD_InternalEmail as InternalEmail, UD_UserID as ScheduledPersonID
     from Userdetails (NOLOCK)  
		--left join ScheduledPeople (NOLOCK) sp on sp.StaffDetailsID = sd.StaffID
		where UD_NetLogin = @netlogin
END