USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Set_UpdateBreachDetails]    Script Date: 19/10/2022 12:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Set_UpdateBreachDetails]
@pBreachId 		 VARCHAR(100) = NULL,
@pHistoryLog	 VARCHAR(MAX) = NULL,
@pBreachComments VARCHAR(MAX) = NULL,
@pApprovedBy	 VARCHAR(255) = NULL,
@pApproveDate	 VARCHAR(100) = NULL

AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Working_Time_Directive SET Comments=@pBreachComments,IsApproved=1,History=History+char(13)+@pHistoryLog,ApprovedBy=@pApprovedBy,ApprovedDate=@pApproveDate WHERE ID=@pBreachId
END	
