USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AvailableStaffNAmeByDayAndTeam]    Script Date: 11/03/2022 15:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  OR ALTER  PROCEDURE [dbo].[usp_get_AvailableStaffNAmeByDayAndTeam]
	-- Add the parameters for the stored procedure here
	@intWeek INT,
	@intDay INT,
	@intTeamID INT,
	@selectedDate DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT Distinct stl.ScheduledPersonID,CASE WHEN (sp.DisplayName IS NULL) 
	THEN CASE WHEN (sd.PreferredForename IS NULL or sd.PreferredForename = '')
THEN (sd.Forename + ' ' + sd.Surname) ELSE (sd.PreferredForename + ' ' + sd.Surname) END
ELSE sp.DisplayFirstName + ' ' + sp.DisplayLastName END AS FullName,isnull(a.DutyName,'U') as DutyName ,
 a.AllocationID as AllocationId 
	FROM ScheduledPersonTeam_LINK as stl (NOLOCK) 
        INNER JOIN ScheduledPeople as sp (NOLOCK) on sp.ScheduledPersonID =stl.ScheduledPersonID
		LEFT JOIN Allocations_publish as a (NOLOCK) on a.SchedulingPersonID=stl.ScheduledPersonID AND a.SchedulingTeamId=stl.TeamID AND a.WeekNumber = @intWeek AND a.iDay =@intDay AND a.SchedulingTeamId = @intTeamID
        LEFT Join StaffDetails as sd (NOLOCK)  on sd.StaffID =sp.StaffDetailsID
        WHERE stl.TeamID = @intTeamID AND isnull(stl.StartDate,convert(date,@selectedDate)) <= convert(date,@selectedDate) and isnull(stl.EndDate,convert(date,@selectedDate)) >= convert(date,@selectedDate)
		AND stl.IsActive=1 AND stl.scheduledType=1 AND stl.TeamID =@intTeamID
	ORDER BY FullName ASC 
END
GO
