USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_CheckWeekExistsForTeam]    Script Date: 25/05/2023 17:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER      PROCEDURE  [dbo].[usp_CheckWeekExistsForTeam]
@checkWeekNumber INT,
@teamId INT
AS
BEGIN	

	SET NOCOUNT ON;
	DECLARE @year VARCHAR(50),
			@week VARCHAR(50),
			@showResult VARCHAR(50)



    BEGIN
	SET @showResult = ''
	IF EXISTS (SELECT 1 FROM Allocations_published_weeks WHERE WeekNumber=@checkWeekNumber AND SchedulingTeamId=@teamId)
		BEGIN
			SET @year = SUBSTRING(CONVERT(varchar(50),@checkWeekNumber), 1, 4)
			SET @week = SUBSTRING(CONVERT(varchar(50),@checkWeekNumber), 5, 6)

			SET @showResult = @week+'/'+@year
			SELECT @showResult returnCookieSetWeek;
		END
	ELSE
		SELECT @showResult returnCookieSetWeek;
    END
END