USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_TeamsForShiftleaderSkill]    Script Date: 30/07/2025 19:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_get_TeamsForShiftleaderSkill] 
	-- Add the parameters for the stored procedure here
	@netlogin VARCHAR(60) = NULL ,
	@roleid int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT st.schedulingTeamId, st.schedulingTeamName 
	from UserDetails U 
	INNER  JOIN UserRoles UTL on UTL.UR_UserID = U.UD_UserID 
	                                  and cast(getdate() as date) between UTL.UR_StartDate  
									  and isnull(UTL.UR_EndDate,cast(getdate() as date)) 
	INNER JOIN schedulingTeams as st ON st.schedulingTeamId = UTL.UR_SchedulingTeamID 
	--inner join ScheduledPeople as sp on sp.UserID=u.UserID
	INNER JOIN ScheduledPersonTeam_LINK  as spl on spl.ScheduledPersonID=U.UD_UserID and 
	                                  spl.TeamID=st.schedulingTeamId  
	where U.UD_NetLogin = ltrim(rtrim(@netlogin)) 
	  AND st.isActive=1 
	  and UTL.UR_RoleID = @roleid  
	  and cast(getdate() as date) between spl.startdate and isnull(spl.enddate, cast(getdate() as date))
END