USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_read_UnllocatedJobs]    Script Date: 10/06/2022 16:36:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_read_UnllocatedJobs]
@WeekNumber int,
@iDay             VARCHAR(5),
@SchedulingTeamId VARCHAR(100),
@roleIDPermission int,
@AllocationStartDate VARCHAR(100),
@AllocationEndDate VARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SET @iDay = CAST(@iDay AS float)
	SET @iDay = CAST(@iDay AS int)

	set @SchedulingTeamId = replace(replace(replace(@SchedulingTeamId,'spl.TeamID IN',''),'(',''),')','')

	IF (@roleIDPermission =1 )
	BEGIN
	 SELECT  aj.isEdited,
	         aj.isPublished,
			 aj.AllocationID,
			 aj.ID  AS JobID,
			 aj.JobName  AS JobName,
			 aj.StartTime  AS StartTime,
			 aj.EndTime AS EndTime,
			 aj.JobBackColour  AS JobBackColour,
			 aj.JobFontColour  AS JobFontColour,
			 aj.Comments AS Comments,
			 aj.Job_Info AS Job_Info,
		     ISNULL(aj.Programme,pg.Programme) as Programme,
			 aj.AllocateJobID AS JobParentID,
			 AL.SchedulingPersonID AS SchedulingPersonID,
			 AL.schedulingTeamId  AS Team,
			 AL.DutyDate as dDateTime,
			 ISNULL(AJ.aftermidnight,0) as MidnightFlag
		FROM Allocations_jobs as AJ (NOLOCK)
	   INNER JOIN Allocations AL (NOLOCK) ON AL.ID = AJ.AllocationID
	   INNER JOIN Timedimension TD on AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek
	   LEFT JOIN Programmes PG (NOLOCK) ON PG.ID = AJ.ProgrammeId
	   WHERE AL.schedulingTeamId  in (select value FROM string_split(@SchedulingTeamId,',') )
	     AND TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) and CONVERT(DATETIME,@AllocationEndDate,101) 
	     AND ISNULL(AL.SchedulingPersonID,0) = 0 
	     AND ISNULL(AJ.isActive,1) = 1
		 AND AL.DutyName is NULL
	 END
	ELSE
	 BEGIN
	  SELECT aj.JobName as JobName,
     	     aj.StartTime as StartTime,
			 aj.EndTime as EndTime,
			 aj.JobBackColour as JobBackColour ,
			 aj.JobFontColour as JobFontColour ,
			 aj.ID as JobID ,
			 aj.isEdited,
			 aj.isPublished,
			 aj.Comments as Comments,
			 aj.Job_Info AS Job_Info,
		     ISNULL(aj.Programme,pg.Programme) as Programme,
			 AL.schedulingTeamId as Team,
			 AL.SchedulingPersonID as SchedulingPersonID,
			 aj.AllocateJobID  AS JobParentID,
			  AL.DutyDate as dDateTime,
			 aj.AllocationID,
			ISNULL(AJ.aftermidnight,0) as MidnightFlag
		FROM Allocations_Jobs_Publish AJ (NOLOCK)
	   INNER JOIN Allocations_publish AL (NOLOCK) ON AJ.AllocationID = AL.ID
	   INNER JOIN Timedimension TD on AL.WeekNumber=TD.ixYearWeek and AL.iDay = TD.ixDayInWeek
	   LEFT JOIN Programmes PG (NOLOCK) ON PG.ID = AJ.ProgrammeId
	   WHERE AL.schedulingTeamId   in (select value FROM string_split(@SchedulingTeamId,',') )  
	     AND TD.dDateTime between CONVERT(DATETIME,@AllocationStartDate,101) and CONVERT(DATETIME,@AllocationEndDate,101)
	     AND ISNULL(AL.SchedulingPersonID,0) = 0 
	     AND ISNULL(AJ.isActive,1) = 1
		 AND AL.DutyName is NULL
    END
	
END