USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllocationDutyDetailsByJobID]    Script Date: 29/09/2022 13:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_AllocationDutyDetailsByJobID]
	@jobid INT
AS
--Select query
BEGIN
Select A.StartTime,A.EndTime,AJ.AllocationID,A.aftermidnight,AJ.aftermidnight as jobmidnight from Allocations A INNER JOIN Allocations_jobs AJ 
  ON A.ID = AJ.AllocationID and AJ.ID=@jobid

END
GO
