USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_TeamsByStaffID]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_TeamsByStaffID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_TeamsByStaffID]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_TeamsByStaffID]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Graeme Fawcett
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_get_TeamsByStaffID] 
	-- Add the parameters for the stored procedure here
	@staffid int = 0,
	@areaid int = 0,
	@teamtypeid int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF @areaid = 0 
		SET @areaid = NULL

    -- Insert statements for procedure here
    SELECT 
		T1.TeamworkStaffID,
		T1.TeamID as id,
		T2.schedulingTeamName as TeamName,
		CONVERT(VARCHAR(10), T1.StartDate, 103) AS StartDate
    FROM REF_Staff_Team_LINK T1
		INNER JOIN schedulingTeams T2 ON T1.TeamID = T2.schedulingTeamId --AND T1.TeamTypeID = T2.TeamTypeID
    WHERE (T1.TeamworkStaffID = @staffid)
	  AND (T1.AreaID = COALESCE(@areaid, T1.AreaID))
	  --AND T1.TeamTypeID = @teamtypeid
	  AND T1.IsActive = 1
	ORDER BY T2.schedulingTeamName
END

GO
