USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_XmasPointTimeByTeam]    Script Date: 30/06/2021 17:23:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_del_XmasPointTimeByTeam]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_del_XmasPointTimeByTeam]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_del_XmasPointTimeByTeam]
	-- Add the parameters for the stored procedure here
	
	@xmaspointid INT
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE
            FROM  XmasPointsByDepartmentLink
            WHERE (ID = @xmaspointid)
END

GO
