USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotaPeopleByID]    Script Date: 20/08/2025 21:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_get_RotaPeopleByID] 
	-- Add the parameters for the stored procedure here
	@rotapeopleid	int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
    -- Insert statements for procedure here

			SELECT  T4.RotaID,
					T4.RotaName, 
					T4.WeeksInRota, 
					CONVERT(VARCHAR(10),T4.RotaStartDate,103) as RotaStartDate,
			        T4.RotaStartWeek,
					T3.RotaPeopleID, 
					T3.RotaWeek, 
					CONVERT(VARCHAR(10),T3.StartDate,103) as RotaPersonStartDate,
					CONVERT(VARCHAR(10),T3.EndDate,103) as RotaPersonEndDate,
					T1.StaffID TeamworkStaffID, 
					T1.Forename,
					T1.Surname,
					'-' as EFT
			 
			FROM RotaPeople T3
			RIGHT JOIN MasterRotas T4 ON T4.RotaID = T3.RotaID and T4.IsActive = 1
			JOIN ScheduledPeople sp on sp.ScheduledPersonID = T3.ScheduledPersonID
			JOIN StaffDetails T1 on T1.StaffID = sp.StaffDetailsID


			WHERE T3.RotaPeopleID = @rotapeopleid
			ORDER BY RotaPersonStartDate
			
END

