USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_del_Rota]    Script Date: 23/10/2024 16:00:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_del_Rota]
@RotaID			INT,
@currentuser	VARCHAR(100),
@currentuserid	INT,
@history		VARCHAR(3000),
@status			INT OUTPUT,
@returnstring	VARCHAR(1000) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @RowNum int
	DECLARE @UpdateDateTime datetime
	DECLARE @strUpdateDateTime varchar(35)
	DECLARE @strStatus varchar(50);
	--DECLARE @history varchar(1000)
	SET @status = 1
	SET @UpdateDateTime = GETDATE()
	SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)

SELECT @RotaID = RotaID
FROM MasterRotas
WHERE (RotaID = @Rotaid) and IsActive = 1
    SET @RowNum = @@rowcount

	IF @RowNum = 0
BEGIN
		SET @status = 0;
		SET @strStatus = 'Rota Pattern is already deleted.';
END
ELSE
BEGIN
		-- Soft delete rota pattern
update MasterRotas
set IsActive = 0,
    LastModBy = @currentuserid,
    LastModDate = getdate(),
    History = History+'  Rota Pattern is deleted by '+@currentuser
WHERE RotaID = @rotaid and IsActive = 1;
-- Remove if there is any duty present in rota.
update RotaDuties
set IsActive = 0, LastModBy = @currentuserid, LastModDate = getdate()
where RotaID = @RotaID and IsActive in (1,2);

update RotaPeople set IsActive = 0, LastModBy = @currentuserid, LastModDate = getdate() where RotaID = @RotaID and IsActive = 1
UPDATE MR
SET MR.isExported = 0 
FROM MasterRotas MR WHERE MR.isExported != 0 AND MR.RotaID = @RotaID	
SET @status = 1;
		SET @strStatus = 'success';
END
select @status intStatus, @strStatus strStatus;
END

