USE [ALLOCATE7]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_SchedulingTeamUserExtraXmasPoint]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_mod_SchedulingTeamUserExtraXmasPoint]
@ScheduledPersonID INT,
@notes VARCHAR(500),
@point INT,
@year INT,
@teamid INT,
@extraxmaspointid INT,
@action varchar(20)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--SELECT @ScheduledPersonID a1,@notes a2,@point a3,@year a4,@teamid a5,@extraxmaspointid a6,@action a7
	--RETURN 0
	DECLARE @newid int,@err int, @rows int, @RowNum int,@status VARCHAR(20),@returnstring VARCHAR(200),@UpdateDateTime datetime
	SET @status = ''success''
	SET @returnstring = ''Extra Christmas points have been assigned successfully.''
	SET @UpdateDateTime = GETDATE()
	
 -- insert new record 
 BEGIN TRANSACTION
	if @extraxmaspointid = 0
		Begin
			INSERT INTO [dbo].[SchedulingTeamUserExtraXmasPoint]([SchedulingTeamID] ,[ScheduledPersonID],[year],[points] ,[notes])
				VALUES(@teamid,@ScheduledPersonID,@year,@point,@notes)
			-- get last insert data
				SET @newid = Scope_Identity();
			SELECT @err = @@ERROR, @rows = @@ROWCOUNT
						IF @err <> 0 
							BEGIN
								ROLLBACK TRANSACTION
								SET @status = ''error''
								SET @returnstring = ''Error while saving the Extra Christmas points.''
								RETURN 0
							END
						IF @rows = 0 
							BEGIN
								ROLLBACK TRANSACTION
								SET @status = ''error''
								SET @returnstring = ''Error while saving the Extra Christmas points.''
								RETURN 0
							END
		End
	Else
	
			
			-- update whole record
					IF @action = ''update''
						BEGIN
							UPDATE [dbo].[SchedulingTeamUserExtraXmasPoint]
								SET [year] = @year ,[points] = @point,[notes] = @notes
								WHERE extraChristmasID = @extraxmaspointid
								SET @returnstring = ''Extra Christmas points has been updated successfully.''
								
						END
	
	SELECT @status strstatus , @returnstring strreturnstring;	
	COMMIT TRANSACTION
	

END

'
EXEC dbo.sp_executesql @strSQL
GO