USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchSchedulingTeamDetails]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_AllPeoplebyTeamIdWithStaffNumber]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_AllPeoplebyTeamIdWithStaffNumber]
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchSchedulingTeamDetails]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Shivam Verma
-- Create date: 2/07/2021
-- Description:	To get list of people along with Staff Number using team id
-- =============================================
ALTER PROCEDURE [dbo].[usp_get_AllPeoplebyTeamIdWithStaffNumber]
	-- Add the parameters for the stored procedure here
	@TeamId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
select
    distinct UD_UserID ScheduledPersonID,
             UD_DisplayName as Fullname,
             UD_DisplayName DisplayName,
             UD_StaffNumber StaffNumber
from UserDetails 
    inner join [dbo].[ScheduledPersonTeam_LINK] as spt on UD_UserID = spt.ScheduledPersonID
where spt.TeamID = @teamid and spt.IsActive = 1
END

GO