USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_RestoreDuty_From_Sick_Leave_Absent]    Script Date: 16/11/2025 15:19:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_mod_RestoreDuty_From_Sick_Leave_Absent]
	-- Add the parameters for the stored procedure here
	@dutyId int,
	@teamId int,
	@isEditedStatus int,
	@CurrentuserID int,
	@CurrentuserName varchar(100),
	@status	 INT OUTPUT,
	@returnstring VARCHAR(1000) OUTPUT,
	@ShiftleaderRole int,
	@dutyname varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @History			VARCHAR(500) ='',
			@weeknumber			int,
			@IsPublished		int,
			@ReturnValue		INT,
			@pNetLogin			VARCHAR(30),
			@AllocationsDutyID	INT,
			@DutyType			INT,
			@Duration			INT,
			@DutyDate			DATE,
			@ScheduledPersonID	INT;

	DECLARE @EditAllocationStatus TABLE (SPStatus INT,ErrorMsg VARCHAR(1000));

	 BEGIN TRANSACTION
        BEGIN TRY

          -- Update Duty Sattus

		 select @pNetLogin  = UD_NetLogin
           from UserDetails
	      where UD_UserID = @CurrentuserID

			IF ( @dutyname LIKE '%sick%' )
			  BEGIN

					SELECT @AllocationsDutyID = AD_AllocationsDutyID,
						   @DutyType = AD_DutyType,
						   @Duration = ASP_LeaveDuration,
						   @DutyDate = ASP_DutyDate,
						   @ScheduledPersonID = ASP_SchedulingPersonID
					  FROM AllocationsScheduledPersons ASP
					 INNER JOIN AllocationsDuties AD ON ASP_AllocationsDutyID = AD_AllocationsDutyID
					 WHERE ASP_AllocationsSPID = @dutyId

					INSERT INTO @EditAllocationStatus
					EXEC usp_Update_DutyAccPeriodSummary @DutyDate, @ScheduledPersonID,
										@Duration,0,
										0,0,@pNetLogin

				  UPDATE AP
					 SET AP.ASP_AllocationsDutyID = AD.AD_AllocationsDutyID,
						 AP.ASP_LeaveType = NULL,
						 AP.ASP_LeaveStatus = NULL,
						 AP.ASP_UpdatedBy = @CurrentuserID,
						 AP.ASP_UpdatedDate = GETUTCDATE()
					FROM AllocationsDuties AD
				   INNER JOIN AllocationsScheduledPersons AP on ap.ASP_AllocationsID = AD.AD_AllocationsID
															AND AP.ASP_iDay = AD.AD_iDay
				   WHERE AD.AD_DutyStatus = 1
					 AND AD.AD_DutyType = 7
					 AND AP.ASP_AllocationsSPID = @dutyId

					 SET @History = 'Sickness deleted by '
									+ @CurrentuserName
									+ ' on '
								    + FORMAT(Getdate(),'dd/MM/yyyy HH:mm')
									+'<br>'

				END
			ELSE
				BEGIN

					SELECT @AllocationsDutyID = AD_AllocationsDutyID,
						   @DutyType = AD_DutyType
					  FROM AllocationsScheduledPersons ASP
					 INNER JOIN AllocationsDuties AD ON ASP_AllocationsDutyID = AD_AllocationsDutyID
					 WHERE ASP_AllocationsSPID = @dutyId


				  IF ( @DutyType <> 11 )
				   BEGIN
					 INSERT INTO AllocationsDuties
							(
							AD_AllocationsID,
							AD_DutyName,
							AD_iDay,
							AD_DutyDate,
							AD_DutyStartTimeUTC,
							AD_DutyEndTimeUTC,
							AD_DutyStartTimeLocal,
							AD_DutyEndTimeLocal,
							AD_DutyType,
							AD_DutyStatus,
							AD_IsNeedCovering,
							AD_IsEditedDutyAttention,
							AD_CreatedBy,
							AD_CreatedDate
							 )
					  SELECT ASP_AllocationsID AS allocationid,
							 'Restored Duty',
							 ASP_iDay,
							 ASP_DutyDate,
							 ASP_DutyDate,
							 ASP_DutyDate,
							 ASP_DutyDate,
							 ASP_DutyDate,
							 1,
							 1,
							 0,
							 case when @ShiftleaderRole=1 then 1 else NULL end,
							 @CurrentuserID,
							 getutcdate()
						FROM AllocationsScheduledPersons
					   where ASP_AllocationsSPID = @dutyId

				      SET @AllocationsDutyID = @@IDENTITY

				  END
				 ELSE
				  BEGIN

					UPDATE AllocationsDuties
					   SET AD_DutyName = 'Restored Duty',
						   AD_DutyType = 1,
						   AD_UpdatedBy = @CurrentuserID,
						   AD_UpdatedDate = GETUTCDATE()
					 WHERE AD_AllocationsDutyID = @AllocationsDutyID

				  END

					UPDATE AllocationsScheduledPersons
					   SET ASP_AllocationsDutyID = @AllocationsDutyID,
						   ASP_LeaveType = NULL,
						   ASP_LeaveDuration = NULL,
						   ASP_LeaveStatus = NULL,
						   ASP_LeaveColourID = NULL,
						   ASP_UpdatedBy = @CurrentuserID,
						   ASP_UpdatedDate = GETUTCDATE()
					 WHERE ASP_AllocationsSPID = @dutyId

					SET @History ='Duty Restored by '
									+ @CurrentuserName + ' on '
									+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+'<br>'

				END

			--update the Allocation sickness marked as IsActive=1

			IF( @dutyname LIKE '%sick%')
				BEGIN

						UPDATE LeaveApplications
						   SET Approved = 0,
							   Deleted = 1,
							   LastModBy = @CurrentuserID,
							   LastModDate = getutcdate()
						where AllocationsSPID = @dutyId

				END


					EXEC @ReturnValue = usp_CreateAllocationsUpdate NULL,
													 @AllocationsDutyID,
													 @dutyId,
													 0,
													 @pNetLogin;


					IF ( ISNULL(@ReturnValue,0) <> 0 )
					 BEGIN
						RoLLBACK TRANSACTION
						SET @returnstring = 'Opps! Some Error Found.';
						SET @status = 0;
						SELECT @status strstatus, @returnstring strsmsg;
						RETURN 1
					 END;

				INSERT INTO history
					  (
							historytype,
							attributeid,
							datetime,
							userid,
							history,
							HistorySubType
					  )
				SELECT ht.id AS historytype,
					   @dutyId AS attributeid,
					   getdate(),
					   @CurrentuserID,
					   @History,
					   'PH'
				FROM   historytypes ht
				WHERE  historytype='AllocationScheduledPerson'

				IF (@ShiftleaderRole = 1 )
 				 BEGIN
				  EXEC [usp_mod_PublishIndividulAllocations] @weeknumber,@teamId, @dutyId;
				 END

				EXEC @ReturnValue = usp_UpdateWTD @dutyId, @pNetLogin

				COMMIT TRANSACTION

				SET @returnstring = 'Duty Restored sucessfully!';
				SET @status = 1;
				SELECT @status strstatus, @returnstring strsmsg;

		RETURN

	ENd TRY

	BEGIN CATCH

		RoLLBACK TRANSACTION
		SET @returnstring = 'Opps! Some Error Found.';
		SET @status = 0;
		SELECT @status strstatus, @returnstring strsmsg;

		RETURN 1

	END CATCH

END