USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_FetchAllocatioByID]    Script Date: 11/03/2022 15:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  OR ALTER PROCEDURE [dbo].[usp_FetchAllocatioByID]
	-- Add the parameters for the stored procedure here
	@AllocationID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT a.DutyName, a.WeekNumber, a.iDay, a.StartTime, a.EndTime, a.SchedulingTeamId, a.SchedulingPersonID, a.isEdited, a.PersonComments,a.StartDate ,
      sd.StaffNumber, 
      CASE WHEN sp.DisplayName IS NULL THEN sd.Forename + ' ' + sd.Surname ELSE sp.DisplayName END AS FullName
            FROM allocations_publish a (NOLOCK)
            LEFT JOIN ScheduledPersonTeam_LINK spt (NOLOCK) ON a.SchedulingPersonID = spt.ScheduledPersonID AND a.SchedulingTeamId = spt.TeamID
            LEFT JOIN ScheduledPeople sp (NOLOCK) ON sp.ScheduledPersonID = spt.ScheduledPersonID
            LEFT JOIN StaffDetails sd  (NOLOCK) ON sd.StaffID = sp.StaffDetailsID
            WHERE a.AllocationID = @AllocationID
END
GO
