USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Fetch_Edited_Job]    Script Date: 21/06/2022 18:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Fetch_Edited_Job]
	-- Add the parameters for the stored procedure here
	@jobid int,
	@Teamid int,
	@currentuserID varchar(20)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY

		SELECT  Allocations_jobs.AllocationID,AllocateJobID,Allocations.WeekNumber,Allocations.iDay,Contact,Location,JobName,Allocations_jobs.StartTime,Allocations_jobs.EndTime,
		JobBackColour,JobFontColour,Allocations_jobs.UnAllocated,Allocations_jobs.ID,Allocations.schedulingTeamId,Allocations.SchedulingPersonID,ProgrammeId,Job_Info,Allocations_jobs.aftermidnight
		FROM  Allocations_jobs (NOLOCK) INNER JOIN Allocations (NOLOCK) on Allocations_jobs.AllocationID = Allocations.ID  WHERE (Allocations_jobs.ID = @jobid)
		
	 END TRY
	 BEGIN CATCH
	
		INSERT INTO ErrorLog
				VALUES
			  (
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   'usp_Fetch_Edited_Job',
			   ERROR_MESSAGE(),
			   GETDATE(),
			   @currentuserID
			  );			
			
	 END CATCH
END