USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_PaymentType]    Script Date: 3/12/2026 10:24:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_Import_AL_A7_REF_PaymentType]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

TRUNCATE TABLE [REF_PaymentType];

--Insert new records

SET IDENTITY_INSERT [REF_PaymentType] ON

		INSERT INTO [REF_PaymentType] (
		       PaymentTypeID
			  ,[PaymentTypeName]
			  ,[PaymentTypeDescription]
			  ,[TermsCondsVersionID]
			  ,[TermsCondsVersionName]
			  ,[UnPaid]
			  ,[PayOvertimeBreaks]
			  ,[PayEDPx10]
			  ,[CompEDP]
			  ,[TOILEDP]
			  ,[PayEDPx15]
			  ,[PayNights]
			  ,[PayAdditional]
			  ,[PayPHL]
			  ,[PayUPA]
			  ,[PayERR]
			  ,[PayCCP]
			  ,[PayStatHoliday]
			  ,[PayUnder10Break]
			  ,[PayUnder11Break]
			  ,[TOILUnder11Break]
			  ,[PayOver12Duty]
			  ,[TOILOver12Duty]
			  ,[IsActive]
			  ,[CreatedBy]
			  ,[CreatedDate]
			  ,[LastModBy]
			  ,[LastModDate]
			  ,[History]
			  ,[PaymentTypeShortCode]
			)
SELECT PaymentTypeID
     ,[PaymentTypeName]
     ,[PaymentTypeDescription]
     ,[TermsCondsVersionID]
     ,[TermsCondsVersionName]
     ,[UnPaid]
     ,[PayOvertimeBreaks]
     ,[PayEDPx10]
     ,[CompEDP]
     ,[TOILEDP]
     ,[PayEDPx15]
     ,[PayNights]
     ,[PayAdditional]
     ,[PayPHL]
     ,[PayUPA]
     ,[PayERR]
     ,[PayCCP]
     ,[PayStatHoliday]
     ,[PayUnder10Break]
     ,[PayUnder11Break]
     ,[TOILUnder11Break]
     ,[PayOver12Duty]
     ,[TOILOver12Duty]
     ,[IsActive]
     ,[CreatedBy]
     ,[CreatedDate]
     ,[LastModBy]
     ,[LastModDate]
     ,[History]
     ,[PaymentTypeShortCode]
FROM [AllocateLink].[dbo].[TP_A7_REF_PaymentType]


SET IDENTITY_INSERT REF_PaymentType OFF

END