USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_ManagerRelation]    Script Date: 3/12/2026 10:32:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_ManagerRelation]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_ManagerRelation];
		
		--Update existing records
		UPDATE T1
		SET BaseDescription = T2.BaseDescription,
		   IsActive = T2.IsActive,
		   LastModDate = getdate(),
		   LastModBy = 'TP_SYNC'
		FROM [REF_Buildings] T1 INNER JOIN [AllocateLink].[dbo].[TP_A7_REF_Buildings] T2 ON T1.BaseCode = T2.BaseCode
		WHERE (((T1.BaseDescription <> T2.BaseDescription) OR (T1.BaseDescription IS NULL AND T2.BaseDescription IS NOT NULL) OR (T1.BaseDescription IS NOT NULL AND T2.BaseDescription IS NULL))
		OR ((T1.IsActive <> T2.IsActive) OR (T1.IsActive IS NULL AND T2.IsActive IS NOT NULL) OR (T1.IsActive IS NOT NULL AND T2.IsActive IS NULL)))
		
		--Update existing records
		
UPDATE T1
		SET T1.[PositionID] = T2.[PositionID]
			  ,T1.[PositionDescription] = T2.[PositionDescription]
			  ,T1.[CostCode] = T2.[CostCode]
			  ,T1.[OrgUnit] = T2.[OrgUnit]
			  ,T1.[Manager1] = T2.[Manager1]
			  ,T1.[Manager2] = T2.[Manager2]
			  ,T1.[PlannedHours] = T2.[PlannedHours]
			  ,T1.[PlannedGrade] = T2.[PlannedGrade]
			  ,T1.[PlannedResourceGroup] = T2.[PlannedResourceGroup]
			  ,T1.[CreatedDate] = T2.[CreatedDate]
			  ,T1.[LastModDate] = T2.[LastModDate]
			  ,T1.[LastModBy] = T2.[LastModBy]
			  ,T1.[History] = T2.[History]
		FROM [REF_ManagerRelation] T1 INNER JOIN [AllocateLink].[dbo].[TP_A7_REF_ManagerRelation] T2 ON T1.PositionID = T2.PositionID
		WHERE (((T1.PositionID <> T2.PositionID) OR 
		(T1.PositionDescription IS NULL AND T2.PositionDescription IS NOT NULL) OR 
		(T1.PositionDescription IS NOT NULL AND T2.PositionDescription IS NULL)) OR 
		((T1.CostCode <> T2.CostCode) OR (T1.CostCode IS NULL AND T2.CostCode IS NOT NULL) OR 
		(T1.CostCode IS NOT NULL AND T2.CostCode IS NULL)) OR
		((T1.OrgUnit <> T2.OrgUnit) OR (T1.OrgUnit IS NULL AND T2.OrgUnit IS NOT NULL) OR 
		(T1.OrgUnit IS NOT NULL AND T2.OrgUnit IS NULL))  OR
		((T1.Manager1 <> T2.Manager1) OR (T1.Manager1 IS NULL AND T2.Manager1 IS NOT NULL) OR 
		(T1.Manager1 IS NOT NULL AND T2.Manager1 IS NULL))  OR
		((T1.Manager2 <> T2.Manager2) OR (T1.Manager2 IS NULL AND T2.Manager2 IS NOT NULL) OR 
		(T1.Manager2 IS NOT NULL AND T2.Manager2 IS NULL))  OR
		((T1.PlannedHours <> T2.PlannedHours) OR (T1.PlannedHours IS NULL AND T2.PlannedHours IS NOT NULL) OR 
		(T1.PlannedHours IS NOT NULL AND T2.PlannedHours IS NULL))  OR
		((T1.PlannedGrade <> T2.PlannedGrade) OR (T1.PlannedGrade IS NULL AND T2.PlannedGrade IS NOT NULL) OR 
		(T1.PlannedGrade IS NOT NULL AND T2.PlannedGrade IS NULL))  OR
		((T1.PlannedResourceGroup <> T2.PlannedResourceGroup) OR (T1.PlannedResourceGroup IS NULL AND T2.PlannedResourceGroup IS NOT NULL) OR 
		(T1.PlannedResourceGroup IS NOT NULL AND T2.PlannedResourceGroup IS NULL)) )

		
		--Insert new records
		INSERT INTO [REF_ManagerRelation] (
			   [PositionID]
			  ,[PositionDescription]
			  ,[CostCode]
			  ,[OrgUnit]
			  ,[Manager1]
			  ,[Manager2]
			  ,[PlannedHours]
			  ,[PlannedGrade]
			  ,[PlannedResourceGroup]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			)  
		SELECT [PositionID]
			  ,[PositionDescription]
			  ,[CostCode]
			  ,[OrgUnit]
			  ,[Manager1]
			  ,[Manager2]
			  ,[PlannedHours]
			  ,[PlannedGrade]
			  ,[PlannedResourceGroup]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_ManagerRelation] T2 WHERE NOT EXISTS (SELECT T1.PositionID FROM [REF_ManagerRelation] T1 WHERE T1.PositionID = T2.PositionID)   
END

