USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ReadAllocationsByDuties]    Script Date: 23/03/2026 15:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER                PROCEDURE [dbo].[usp_get_ReadAllocationsByDuties]
@TeamID           VARCHAR(MAX),
@StartWeekNo      INT,
@EndWeekNo        INT,
@StartDate        DATE,
@EndDate          DATE,
@isshiftleader    INT = NULL,
@pNetLogin        VARCHAR(30)

AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @IsFreelancer       INT = 0
	DECLARE @FreelancerSPID     INT 
	DECLARE @NoOfLabels         INT = 0
	DECLARE @FLStartDate		DATE, 
	        @FLEndDate			DATE;

	DECLARE @TempLockStatus TABLE (
									WeekNumber			INT,
									iDay				INT,
									SchedulingTeamId	INT,
									IsEditable			INT
									);


	BEGIN
			
	    SET @isshiftleader = CASE WHEN @isshiftleader IS NULL THEN '0' ELSE @isshiftleader END

        IF ( @startDate IS NULL )
		 BEGIN
		   SELECT @StartDate = MIN(dDateTime),  
		          @EndDate = MAX(dDateTime)
		     FROM TimeDimension
			WHERE ixYearWeek between @StartWeekNo and @EndWeekNo
		 END
		
		SELECT @FreelancerSPID = MAX(SP.UD_UserID),
		       @FLStartDate = MIN(STL.startdate),
			   @FLEndDate = MAX(STL.enddate)
		  FROM UserDetails SP (Nolock)
		 INNER JOIN ScheduledPersonTeam_LINK AS STL (Nolock) ON SP.UD_UserID = STL.scheduledpersonid
		 INNER JOIN schedulingTeams ST (Nolock) ON ST.schedulingTeamId = STL.TeamID
		 WHERE ST.schedulingTeamName IN ('Freelancers','Other BBC')
		   AND UD_NetLogin = @pNetLogin
		   AND STL.IsHomeTeam = 1
		   AND STL.scheduledType = 1
		   AND STL.startdate <= @EndDate and STL.enddate >= @StartDate		
		
		IF ( ISNULL(@FreelancerSPID,0) > 0 )
		 BEGIN
			SET @IsFreelancer = 1
		 END
		ELSE
		 BEGIN
		  SET  @FLStartDate = @StartDate
		  SET  @FLEndDate = @EndDate		 
		 END	

					INSERT INTO @TempLockStatus
					SELECT WeekNumber,
						   iDay,
						   schedulingTeamId,
						   CASE WHEN DutyDate = ISNULL(LockedDate,DATEADD(Day,1,DutyDate)) THEN 0
						        WHEN DutyDate between ISNULL(ReleasedDate,EditingStartDate) AND ISNULL(ReleasedDate,EditingEndDate)
								 AND DutyDate <> ISNULL(LockedDate,DATEADD(Day,1,DutyDate))
						         AND ISNULL(@isshiftleader,0) in (1,3)
								 AND DutyDate <= CAST(getdate()+isnull(maskafter,999) AS DATE)
								THEN 1
						        WHEN DutyDate between ISNULL(ReleasedDate,EditingStartDate) AND ISNULL(ReleasedDate,EditingEndDate)
								 AND DutyDate <> ISNULL(LockedDate,DATEADD(Day,1,DutyDate))
						         AND ISNULL(@isshiftleader,0) in (1,3)
								 AND DutyDate > CAST(getdate()+isnull(maskafter,999) AS DATE)
						         AND ISNULL(masktype,2) = 2
								THEN 1 ELSE 0 END AS IsEditable
					  FROM
							(SELECT td.ixYearWeek WeekNumber,
								   td.ixDayInWeek iDay,
								   CASE WHEN RD.[status]=1 THEN CAST(RD.ddate AS DATE) END AS ReleasedDate,
								   CASE WHEN RD.[status]=0 THEN CAST(RD.ddate AS DATE) END AS LockedDate,
								   CASE WHEN DATENAME(WEEKDAY,GETDATE()) = 'Friday'
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 < ST.editingEnd
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND ST.WeekendOnly = 0 AND ST.numberofDaysAllowedEditing > 0 
												  THEN CAST(GETDATE()-1 AS DATE)
									    WHEN DATENAME(WEEKDAY,GETDATE()) = 'Friday'
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE() AS DATE)
										 WHEN DATENAME(WEEKDAY,GETDATE()) = 'Saturday'
										  AND ISNULL(st.restrictedEditing,0) = 1
										  AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE()-1 AS DATE)
										 WHEN DATENAME(WEEKDAY,GETDATE()) = 'Sunday'
										  AND ISNULL(st.restrictedEditing,0) = 1
										  AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE()-2 AS DATE)
										 WHEN DATENAME(WEEKDAY,GETDATE()) = 'Monday'
										  AND ISNULL(st.restrictedEditing,0) = 1
										  AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 < st.editingEnd
										  AND (ST.WeekendOnly = 1 OR ST.numberofDaysAllowedEditing > 0 )
												  THEN CAST(GETDATE()-3 AS DATE)											
                                        WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(st.restrictedEditing,0) = 1
										 AND ISNULL(ST.WeekendOnly,0) = 0 
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60  < ST.editingEnd
								        THEN CAST(getdate()-1 AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(restrictedEditing,0) = 1 AND ISNULL(ST.WeekendOnly,0) = 0 
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										THEN CAST(GETDATE() AS DATE)	
										WHEN ST.numberofDaysAllowedEditing > 1 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(restrictedEditing,0) = 1 AND ISNULL(ST.WeekendOnly,0) = 0 
										THEN CAST(GETDATE()+1 AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=0
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
										THEN CAST(GETDATE() AS DATE)																			
									ELSE NULL END AS EditingStartDate,
								   CASE WHEN  ISNULL(st.restrictedEditing,0) = 1 AND ST.WeekendOnly = 1 
				                        THEN CASE WHEN DATENAME(WEEKDAY,getdate()) = 'Friday'
												   AND DATENAME(HH,getdate())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
												  THEN CAST(getdate()+3 AS DATE)
												  WHEN DATENAME(WEEKDAY,getdate()) IN ('Saturday')
												  THEN CAST(getdate()+2 AS DATE)
												  WHEN DATENAME(WEEKDAY,getdate()) IN ('Sunday')
												  THEN CAST(getdate()+1 AS DATE)
												  WHEN DATENAME(WEEKDAY,getdate()) = 'Monday'
												   AND DATENAME(HH,getdate())*3600 +  DATENAME(HH,GETDATE())*60 < st.editingEnd
												  THEN CAST(GETDATE() AS DATE) 
							    	                    ELSE NULL END
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.WeekendOnly,0) = 0
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										 AND DATENAME(WEEKDAY,getdate()) = 'Friday'
										THEN CAST(GETDATE()+ CASE WHEN st.numberofDaysAllowedEditing < 3 THEN 3	
															ELSE st.numberofDaysAllowedEditing END							
										                      AS DATE)										  
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.WeekendOnly,0) = 0
										 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(WEEKDAY,getdate()) in ('Saturday','Sunday')
										THEN CAST(GETDATE()+ 
										                   CASE WHEN DATENAME(WEEKDAY,getdate()) = 'Saturday' AND st.numberofDaysAllowedEditing < 2 THEN 2
																WHEN DATENAME(WEEKDAY,getdate()) = 'Sunday' AND st.numberofDaysAllowedEditing <= 1 THEN 1 	
																ELSE st.numberofDaysAllowedEditing END							
										                      AS DATE)
			                           WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
							             AND DATENAME(HH,getdate())*3600 +  DATENAME(HH,GETDATE())*60 < st.editingEnd
										THEN CAST(GETDATE()+st.numberofDaysAllowedEditing-1 AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=1
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										THEN CAST(GETDATE()+CASE WHEN st.numberofDaysAllowedEditing = 1 THEN 1 ELSE st.numberofDaysAllowedEditing-1 END AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 AND ISNULL(ST.autoLockTodayTimer,0)=0
										 AND ISNULL(ST.WeekendOnly,0) = 0 AND ISNULL(st.restrictedEditing,0) = 1
										 AND DATENAME(HH,GETDATE())*3600 +  DATENAME(HH,GETDATE())*60 > ST.editingStart
										THEN CAST(GETDATE()+CASE WHEN st.numberofDaysAllowedEditing = 1 THEN 1 ELSE st.numberofDaysAllowedEditing-1 END AS DATE)
										WHEN ST.numberofDaysAllowedEditing > 0 
										 AND ISNULL(ST.WeekendOnly,0) = 0  AND ISNULL(st.restrictedEditing,0) = 1
										THEN CAST(GETDATE()+st.numberofDaysAllowedEditing-1 AS DATE)
									ELSE NULL END AS EditingEndDate,
								   CAST(dDateTime AS DATE)  AS DutyDate,
								   st.schedulingTeamId,
								   ST.maskafter,
								   ST.MaskType
							  FROM TimeDimension TD (Nolock)
							 inner join schedulingTeams ST (Nolock) ON 1=1
							 LEFT JOIN released_days RD (Nolock) ON RD.dDate = TD.dDateTime AND RD.schedulingTeamId=ST.schedulingTeamId
							  WHERE td.dDateTime between @startDate and @endDate
							   AND ST.schedulingTeamId in (select cast(value as INT) FROM string_split(@TeamID,',') )
							 ) ID

		 SELECT
					a.DutyDate,
					a.ID,
					a.AllocationID AS AllocationID,
					a.AllocationsDutyID,
                    a.WeekNumber,
                    a.iDay,
                    CASE WHEN a.ID IS NULL THEN 0 ELSE 1 END AS isCopy,
                    a.isEdited AS isEdited,
					a.isEditable,
					a.SchedulingTeamId,
                    UD_DisplayName AS FullName,
                     SUBSTRING(sp.UD_DisplayFirstName, 1, 1) + SUBSTRING(sp.UD_DisplayLastName, 1, 1) AS Initials,
                     isnull(a.SchedulingPersonID,0) AS StaffNumber,
                     case when @isshiftleader IN (1,2) then
					        case when a.dutydate > getdate()+isnull(st.maskafter,999)							      
								  and ISNULL(st.masktype,2) = 0 then ''
					             when a.dutydate > getdate()+isnull(st.maskafter,999)
							      and a.dutyname ='U'
								  and ISNULL(st.masktype,2) = 1 then ''
					             when a.dutydate > getdate()+isnull(st.maskafter,999)
								  and ISNULL(st.masktype,2) = 1 
								  and (a.starttime > 0 or a.endtime > 0 ) then ''
						         else a.DutyName end
							else a.DutyName end as DutyName,
                     a.Duration,
                     case when @isshiftleader IN (1,2) then
					      case when a.dutydate > getdate()+isnull(st.maskafter,999)
							    and (a.starttime > 0 or a.endtime > 0 )
							    and ISNULL(st.masktype,2) = 1 then NULL
							   when a.dutydate > getdate()+isnull(st.maskafter,999)							      
								and ISNULL(st.masktype,2) = 0 then NULL
							   when a.dutydate > getdate()+isnull(st.maskafter,999)
							      and a.dutyname ='U'
								  and ISNULL(st.masktype,2) = 1 then NULL
						       else a.StartTime end
						  else a.StartTime end as StartTime,
                     case when @isshiftleader IN (1,2) then
					      case when a.dutydate > getdate()+isnull(st.maskafter,999)
							    and (a.starttime > 0 or a.endtime > 0 )
							    and ISNULL(st.masktype,2) = 1 then NULL
							   when a.dutydate > getdate()+isnull(st.maskafter,999)							      
								and ISNULL(st.masktype,2) = 0 then NULL
							   when a.dutydate > getdate()+isnull(st.maskafter,999)
							      and a.dutyname ='U'
								  and ISNULL(st.masktype,2) = 1 then NULL
						           else a.EndTime end
								   else a.EndTime end as EndTime,
                     a.basecode AS BaseCode,
                     CAST(a.BackColour AS nvarchar) AS AllocBackColour,
                     CAST(a.FontColour AS nvarchar) AS AllocFontColour,
                     CASE WHEN isnull(a.DutyComments, '') = '' THEN 0 ELSE 1 END AS DutyComments,
                     CASE WHEN isnull(a.PersonComments, '') = '' THEN 0 ELSE 1 END AS PersonComments,
					 0 AS IsDayEditable,
					 ISNULL(A.dutyProgramId,0) as dutyProgramId,
					 ISNULL(a.SortCode,SPL.SortCode) As SortCode,
					 ISNULL(a.LeaveStartTime,0) as LeaveStartTime,
					 ISNULL(a.LeaveEndTime,0) as LeaveEndTime,
					 (SELECT aj.JobName as JobName, 
							 aj.StartTime as JobStartTime, 
							 aj.EndTime as JobEndTime, 
							 aj.JobBackColour as JobBackColour, 
							 aj.JobFontColour as JobFontColour 
					    FROM Allocations_Jobs_Publish aj 
					   WHERE aj.AllocationID = a.id 
					     AND ST.ShowJobsInWeeklyView = 1
						 FOR JSON PATH) AS jobs,
					a.DutyProgramId2,
					a.DutyProgramId3,
					a.DutyProgramId4,
					a.DutyProgramId5,
					a.DutyProgramId6,
					SPL.DisplayInViewScreen AS DisplayInViewScreen
				FROM Allocations_publish a (Nolock)
			   INNER join Timedimension TD (Nolock) on A.WeekNumber=TD.ixYearWeek and A.iDay = TD.ixDayInWeek 
			   INNER JOIN schedulingTeams AS ST (Nolock) ON A.SchedulingTeamId = ST.SchedulingTeamId
			   INNER JOIN @TempLockStatus FD ON FD.WeekNumber = a.WeekNumber
							          AND FD.iDay=a.iDay
							          AND FD.SchedulingTeamId = a.SchedulingTeamId 
		        LEFT JOIN UserDetails AS sp  (NOLOCK) ON a.SchedulingPersonID = sp.UD_UserID
		        LEFT JOIN ScheduledPersonTeam_LINK SPL (Nolock) ON SPL.TeamID = A.SchedulingTeamId and SPL.ScheduledPersonID = A.SchedulingPersonID
				          AND A.DutyDate between SPL.StartDate and ISNULL(SPL.EndDate,A.DutyDate)
		         AND SPL.ScheduledType=1
				WHERE td.dDateTime between @startDate  AND @endDate				
				 AND A.SchedulingTeamId = CASE WHEN ISNULL(A.DutyTeamID,0) <> 0 AND A.DutyTeamID <> A.SchedulingTeamId  THEN A.DutyTeamID
				      ELSE A.SchedulingTeamId END 
	              AND ST.SchedulingTeamId in (select cast(value as INT) FROM string_split(@TeamID,',') )
				  AND ISNULL(a.isActive,1) = CASE when ISNULL(a.schedulingpersonid,0) = 0 THEN 1 ELSE ISNULL(a.isActive,1) END
				  AND FD.IsEditable = 0
	              AND 1 = CASE WHEN CAST(@IsFreelancer AS VARCHAR) = 1 AND td.dDateTime < cast(getdate() - 1  AS DATE)
				                AND CAST(ISNULL(@FreelancerSPID,0) AS VARCHAR) <> a.SchedulingPersonID
								AND td.dDateTime BETWEEN format(@FLStartDate,'yyyy-MM-dd') and format(@FLEndDate,'yyyy-MM-dd')
				               THEN 2
					           WHEN CAST(@IsFreelancer AS VARCHAR) = 1 AND td.dDateTime > getdate()+ISNULL(st.freelancerMaskingDays,999)
				                AND CAST(ISNULL(@FreelancerSPID,0) AS VARCHAR) <> a.SchedulingPersonID	
								AND td.dDateTime BETWEEN format(@FLStartDate,'yyyy-MM-dd') and format(@FLEndDate,'yyyy-MM-dd')						
							   THEN 2
		                  ELSE 1 END				
				  AND 1 = case when @isshiftleader IN (1,2) then
					      case when @StartDate > getdate()+isnull(st.maskafter,999)
						        and ISNULL(st.masktype,2) <> 2
						       then 2 else 1 end
						       else 1 end 
		     UNION ALL
			 SELECT TD.dDateTime as  DutyDate,
					ASP_AllocationsSPID AS ID,
					AL.AL_AllocationsID  AS AllocationID,
					AD_AllocationsDutyID,
                    AL.AL_WeekNumber AS WeekNumber,
                    TD.ixDayInWeek AS iDay,
                    0 AS isCopy,
                    AD_IsEditedDutyAttention  AS isEdited,
					1  AS isEditable,
					AL.AL_SchedulingTeamID  SchedulingTeamId,
                    sp.UD_DisplayName AS  FullName,
                    SUBSTRING(sp.UD_DisplayFirstName, 1, 1) + SUBSTRING(sp.UD_DisplayLastName, 1, 1) AS Initials,
                    isnull(spl.ScheduledPersonID,0) AS StaffNumber,
                     case when @isshiftleader IN (1,2) then
					        case when TD.dDateTime > getdate()+isnull(st.maskafter,999)							      
								  and ISNULL(st.masktype,2) = 0 then ''
					             when TD.dDateTime > getdate()+isnull(st.maskafter,999)
							      and ISNULL(AD_DutyName,'U') ='U'
								  and ISNULL(st.masktype,2) = 1 then ''
					             when TD.dDateTime > getdate()+isnull(st.maskafter,999)
								  and ISNULL(st.masktype,2) = 1 
								  and (AD_StartTimeSec > 0 or AD_EndTimeSec > 0 ) then ''
						         else ISNULL(AD_DutyName,'U') end
							else ISNULL(AD_DutyName,'U') end as DutyName, 
                     AD_Duration as	 Duration,
                     case when @isshiftleader IN (1,2) then
					      case when TD.dDateTime > getdate()+isnull(st.maskafter,999)
							    and (AD_StartTimeSec > 0 or AD_EndTimeSec > 0 )
							    and ISNULL(st.masktype,2) = 1 then NULL
							   when TD.dDateTime > getdate()+isnull(st.maskafter,999)							      
								and ISNULL(st.masktype,2) = 0 then NULL
							   when TD.dDateTime > getdate()+isnull(st.maskafter,999)
							      and ISNULL(AD_DutyName,'U') ='U'
								  and ISNULL(st.masktype,2) = 1 then NULL
						       else AD_StartTimeSec end
						  else AD_StartTimeSec end as StartTime,
                     case when @isshiftleader IN (1,2) then
					      case when TD.dDateTime > getdate()+isnull(st.maskafter,999)
							    and (AD_StartTimeSec > 0 or AD_EndTimeSec > 0 )
							    and ISNULL(st.masktype,2) = 1 then NULL
							   when TD.dDateTime > getdate()+isnull(st.maskafter,999)							      
								and ISNULL(st.masktype,2) = 0 then NULL
							   when TD.dDateTime > getdate()+isnull(st.maskafter,999) 
								and ISNULL(AD_DutyName,'U') ='U'
								  and ISNULL(st.masktype,2) = 1 then NULL
						           else AD_EndTimeSec end
								   else AD_EndTimeSec end as EndTime,
                     0 AS BaseCode,
                     CAST(NULL AS nvarchar) AS AllocBackColour,
                     CAST(NULL AS nvarchar) AS AllocFontColour,
                     CASE WHEN isnull(AD_Comments, '') = '' THEN 0 ELSE 1 END AS DutyComments,
                     CASE WHEN isnull(ASP_Comments, '') = '' THEN 0 ELSE 1 END AS PersonComments,
					 FD.IsEditable AS IsDayEditable,
					 ISNULL(AD_DutyProgramID1,0) as dutyProgramId,
					 ISNULL(ASP_SortCode,SPL.SortCode) As SortCode,
					 ISNULL(ASP_LeaveStartTimeSec,0) as LeaveStartTime,
					 ISNULL(ASP_LeaveEndTimeSec,0) as LeaveEndTime,
					 (SELECT AJ_JobName as JobName, AJ_JobStartTimeSec as JobStartTime, 
							 AJ_JobEndTimeSec as JobEndTime, AJ_JobBGColour as JobBackColour, 
							 AJ_JobFontColour as JobFontColour 
							 FROM AllocationsJobs aj 
							 WHERE aj.AJ_AllocationsDutyID = AD_AllocationsDutyID
							 AND ST.ShowJobsInWeeklyView = 1 
							  FOR JSON PATH) AS jobs,
					 AD_DutyProgramID2	AS DutyProgramId2,
					 AD_DutyProgramID3	AS DutyProgramId3,
					 AD_DutyProgramID4	AS DutyProgramId4,
					 AD_DutyProgramID5	AS DutyProgramId5,
					 AD_DutyProgramID6	AS DutyProgramId6,
					 SPL.DisplayInViewScreen AS DisplayInViewScreen
				FROM Allocations AS AL (nolock)
			   INNER JOIN ScheduledPersonTeam_LINK (nolock) AS spl on spl.TeamID = AL_SchedulingTeamID
			   INNER JOIN Timedimension TD (nolock) on TD.ixYearWeek = AL_WeekNumber 
			   INNER JOIN UserDetails AS sp (nolock) ON UD_UserID = spl.ScheduledPersonID
			   INNER JOIN schedulingTeams AS ST (Nolock) ON AL_SchedulingTeamID = ST.SchedulingTeamId
			   INNER JOIN @TempLockStatus FD ON FD.WeekNumber = AL_WeekNumber
							          AND FD.iDay=TD.ixDayInWeek
							          AND FD.SchedulingTeamId = AL_SchedulingTeamID
			    LEFT JOIN (
							select AL_AllocationsID,
								   AL_SchedulingTeamID,								   
								   AD_AllocationsDutyID,
								   CASE WHEN AD_DutyName IS NULL THEN 'U'
										WHEN AD_DutyType IN (8,11,12)
											 THEN CASE WHEN ASP_LeaveType = 1
													   THEN 'Leave'
													   WHEN ASP_LeaveType = 2
													   THEN 'OFF Leave'
													   WHEN ASP_LeaveType = 3
													   THEN 'Sick'
													   WHEN ASP_LeaveType = 4
													   THEN 'U-Sick'
													   WHEN ASP_LeaveType = 5
													   THEN '-Sick'
													   WHEN ASP_LeaveType = 7
													   THEN 'Absent'
												   END
										ELSE AD_DutyName
										 END      AS AD_DutyName,
									CASE WHEN AD_DutyType IN (8,11,12)
										 THEN ASP_LeaveDuration
										 ELSE ISNULL(AD.AD_Duration,0) END 
										AS AD_Duration,
									AL_WeekNumber,
									AD_iDay,
									AD_StartTimeSec,
									AD_EndTimeSec,
									AD_DutyBreakTime,
									AD_DutyDate,
									AD_DutyStartTimeUTC,
									AD_DutyEndTimeUTC,
									AD_DutyStartTimeLocal,
									AD_DutyEndTimeLocal,
									AD_MasterDutyID,
									AD_DutyType,
									AD_DutyStatus,
									CASE WHEN AD_DutyType IN (8,11,12)
										 THEN ASP_LeaveColourID
										 ELSE AD.AD_DutyColourID END AS AD_DutyColourID,
									AD_Comments,
									AD_isAttention,
									AD_isRequest,
									AD_DutyProgramID1,
									AD_DutyProgramID2,
									AD_DutyProgramID3,
									AD_DutyProgramID4,
									AD_DutyProgramID5,
									AD_DutyProgramID6,
									AD_PlannedDuration,
									AD_PlannedDutyBreakTime,
									ASP_OverTwelveStatus,
									ASP_OverTwelveHrs,
									AD_IsNeedCovering,
									AD_IsOverrideOver12,
									ASP_AllocationsSPID,
									ASP_AllocationsDutyID,
									ASP_SchedulingPersonID,
									ASP_iDay,
									ASP_SortCode,
									ASP_LeaveStatus,
									ASP_LeaveType,
									ASP_DutyDate,
									ASP_WIADStatus,
									ASP_MarkedOverTime,
									ASP_OverTimeHours,
									ASP_DutyTeamID,
									ASP_SigninStartTime,
									ASP_SigninEndTime,
									ASP_SigninStatus,
									ASP_SigninINBuilding,
									ASP_EDPStatus,
									ASP_Comments,
									ASP_LeaveStartTimeSec,
									ASP_LeaveEndTimeSec,
									ASP_LeaveStartTimeLocal,
									ASP_LeaveEndTimeLocal,
									ASP_UnderElevenBreakStatus,
									ASP_CalculatedUnderElevenHrs,
									ASP_OverrideUnderElevenHrs,
									ASP_RequestsStatus,
									ASP_RequestsCount,
									ASP_LockRequestsStatus,
									ASP_ChargingStatus,
									0  AS AAP_AllocationsAPID,
									AD_IsEditedDutyAttention
							  FROM Allocations AS AL (nolock)
							 INNER JOIN TimeDimension TD on AL_WeekNumber = TD.ixYearWeek							 
							 INNER JOIN AllocationsScheduledPersons ASP on AL_AllocationsID = ASP_AllocationsID
																	   AND TD.ixDayInWeek = ASP_iDay
							 INNER JOIN AllocationsDuties AD on AD_AllocationsDutyID = ASP_AllocationsDutyID
							 WHERE dDateTime between @StartDate AND @EndDate
							   and AL_SchedulingTeamID IN ( select value FROM string_split(@TeamID,',') )
							   AND AL_Status in (0,1)
							UNION All
							select AL_AllocationsID,
								   AL_SchedulingTeamID,
								   AD_AllocationsDutyID,
								   CASE WHEN AD_DutyName IS NULL THEN 'U'
										WHEN AD_DutyType IN (8,11,12)
											 THEN CASE WHEN ASP_LeaveType = 1
													   THEN 'Leave'
													   WHEN ASP_LeaveType = 2
													   THEN 'OFF Leave'
													   WHEN ASP_LeaveType = 3
													   THEN 'Sick'
													   WHEN ASP_LeaveType = 4
													   THEN 'U-Sick'
													   WHEN ASP_LeaveType = 5
													   THEN '-Sick'
													   WHEN ASP_LeaveType = 7
													   THEN 'Absent'
												   END
										ELSE AD_DutyName
										 END      AS AD_DutyName,
									CASE WHEN AD_DutyType IN (8,11,12)
										 THEN ASP_LeaveDuration
										 ELSE ISNULL(AD.AD_Duration,0) END 
										AS AD_Duration,
									AL_WeekNumber,
									AD_iDay,
									AD_StartTimeSec,
									AD_EndTimeSec,
									AD_DutyBreakTime,
									AD_DutyDate,
									AD_DutyStartTimeUTC,
									AD_DutyEndTimeUTC,
									AD_DutyStartTimeLocal,
									AD_DutyEndTimeLocal,
									AD_MasterDutyID,
									AD_DutyType,
									AD_DutyStatus,
									CASE WHEN AD_DutyType IN (8,11,12)
										 THEN ASP_LeaveColourID
										 ELSE AD.AD_DutyColourID END AS AD_DutyColourID,
									AD_Comments,
									AD_isAttention,
									AD_isRequest,
									AD_DutyProgramID1,
									AD_DutyProgramID2,
									AD_DutyProgramID3,
									AD_DutyProgramID4,
									AD_DutyProgramID5,
									AD_DutyProgramID6,
									AD_PlannedDuration,
									AD_PlannedDutyBreakTime,
									ASP_OverTwelveStatus,
									ASP_OverTwelveHrs,
									AD_IsNeedCovering,
									AD_IsOverrideOver12,
									ASP_AllocationsSPID,
									ASP_AllocationsDutyID,
									ASP_SchedulingPersonID,
									ASP_iDay,
									ASP_SortCode,
									ASP_LeaveStatus,
									ASP_LeaveType,
									ASP_DutyDate,
									ASP_WIADStatus,
									ASP_MarkedOverTime,
									ASP_OverTimeHours,
									ASP_DutyTeamID,
									ASP_SigninStartTime,
									ASP_SigninEndTime,
									ASP_SigninStatus,
									ASP_SigninINBuilding,
									ASP_EDPStatus,
									ASP_Comments,
									ASP_LeaveStartTimeSec,
									ASP_LeaveEndTimeSec,
									ASP_LeaveStartTimeLocal,
									ASP_LeaveEndTimeLocal,
									ASP_UnderElevenBreakStatus,
									ASP_CalculatedUnderElevenHrs,
									ASP_OverrideUnderElevenHrs,
									ASP_RequestsStatus,
									ASP_RequestsCount,
									ASP_LockRequestsStatus,
									ASP_ChargingStatus,
									0  AS AAP_AllocationsAPID,
									AD_IsEditedDutyAttention
							  FROM Allocations AS AL (nolock)
							 INNER JOIN TimeDimension TD on AL_WeekNumber = TD.ixYearWeek
							 INNER JOIN AllocationsAddPersons AA on AL_AllocationsID = AAP_AllocationsID 
																AND TD.ixDayInWeek = AA.AAP_iDay
							 INNER JOIN AllocationsScheduledPersons ASP on AAP_AllocationsSPID = ASP_AllocationsSPID
							 INNER JOIN AllocationsDuties AD on AD_AllocationsDutyID = ASP_AllocationsDutyID						 
							 WHERE dDateTime between @startDate AND @endDate
							   and AL_SchedulingTeamID IN ( select value FROM string_split(@TeamId,',') )
							   AND AL_Status in (0,1)
						 ) AD on /*spl.ScheduledPersonID = AD.ASP_SchedulingPersonID
							 and td.ixDayInWeek = AD.ASP_iDay
							 and td.ixYearWeek = ad.AL_WeekNumber */
							     AL.AL_SchedulingTeamID = AD.AL_SchedulingTeamID
							 and spl.ScheduledPersonID = AD.ASP_SchedulingPersonID
							 AND TD.dDateTime = ASP_DutyDate
				WHERE td.dDateTime between @startDate AND @endDate
				  AND ST.schedulingTeamId = ASP_DutyTeamID
				  AND ST.SchedulingTeamId in (select cast(value as INT) FROM string_split(@TeamID,',') )
				  AND FD.IsEditable = 1
				  AND AL.AL_Status in (0,1)
				  AND NOT EXISTS ( SELECT 1
								     FROM AllocationsDelPersons ADP
								    WHERE ADP_AllocationsID = AL.AL_AllocationsID
								      AND spl.ScheduledPersonID = ADP.ADP_SchedulingPersonID)
	              AND 1 = CASE WHEN @IsFreelancer = 1 AND td.dDateTime < cast(getdate() - 1  AS DATE)
				                AND ISNULL(@FreelancerSPID,0) <> spl.ScheduledPersonID
								AND td.dDateTime BETWEEN @FLStartDate and @FLEndDate
				               THEN 2
					           WHEN @IsFreelancer = 1 AND td.dDateTime > getdate()+ISNULL(st.freelancerMaskingDays,999)
				                AND ISNULL(@FreelancerSPID,0)  <> spl.ScheduledPersonID	
								AND td.dDateTime BETWEEN @FLStartDate and @FLEndDate			
							   THEN 2
		                  ELSE 1 END				
				  AND 1 = case when @isshiftleader = 1 then
					      case when @StartDate > getdate()+isnull(st.maskafter,999)
						        and ISNULL(st.masktype,2) <> 2
						       then 2 else 1 end
						       else 1 end 
				UNION ALL
					 SELECT TD.dDateTime as  DutyDate,
							0 AS ID,
							AL.AL_AllocationsID  AS AllocationID,
							AD_AllocationsDutyID,
							AL.AL_WeekNumber AS WeekNumber,
							TD.ixDayInWeek AS iDay,
							0 AS isCopy,
							AD_IsEditedDutyAttention  AS isEdited,
							1  AS isEditable,
							AL_SchedulingTeamID  SchedulingTeamId,
							NULL AS  FullName,
							NULL AS Initials,
							0 AS StaffNumber,
							 case when @isshiftleader IN (1,2) then
									case when TD.dDateTime > getdate()+isnull(st.maskafter,999)							      
										  and ISNULL(st.masktype,2) = 0 then ''
										 when TD.dDateTime > getdate()+isnull(st.maskafter,999)
										  and ISNULL(AD_DutyName,'U') ='U'
										  and ISNULL(st.masktype,2) = 1 then ''
										 when TD.dDateTime > getdate()+isnull(st.maskafter,999)
										  and ISNULL(st.masktype,2) = 1 
										  and (AD_StartTimeSec > 0 or AD_EndTimeSec > 0 ) then ''
										 else ISNULL(AD_DutyName,'U') end
									else ISNULL(AD_DutyName,'U') end as DutyName, 
							 AD_Duration as	 Duration,
							 case when @isshiftleader IN (1,2) then
								  case when TD.dDateTime > getdate()+isnull(st.maskafter,999)
										and (AD_StartTimeSec > 0 or AD_EndTimeSec > 0 )
										and ISNULL(st.masktype,2) = 1 then NULL
									   when TD.dDateTime > getdate()+isnull(st.maskafter,999)							      
										and ISNULL(st.masktype,2) = 0 then NULL
									   when TD.dDateTime > getdate()+isnull(st.maskafter,999)
										  and ISNULL(AD_DutyName,'U') ='U'
										  and ISNULL(st.masktype,2) = 1 then NULL
									   else AD_StartTimeSec end
								  else AD_StartTimeSec end as StartTime,
							 case when @isshiftleader IN (1,2) then
								  case when TD.dDateTime > getdate()+isnull(st.maskafter,999)
										and (AD_StartTimeSec > 0 or AD_EndTimeSec > 0 )
										and ISNULL(st.masktype,2) = 1 then NULL
									   when TD.dDateTime > getdate()+isnull(st.maskafter,999)							      
										and ISNULL(st.masktype,2) = 0 then NULL
									   when TD.dDateTime > getdate()+isnull(st.maskafter,999) 
										and ISNULL(AD_DutyName,'U') ='U'
										  and ISNULL(st.masktype,2) = 1 then NULL
										   else AD_EndTimeSec end
										   else AD_EndTimeSec end as EndTime,
							 0 AS BaseCode,
							 CAST(NULL AS nvarchar) AS AllocBackColour,
							 CAST(NULL AS nvarchar) AS AllocFontColour,
							 CASE WHEN isnull(AD_Comments, '') = '' THEN 0 ELSE 1 END AS DutyComments,
							 0 AS  PersonComments,
							 FD.IsEditable AS IsDayEditable,
							 ISNULL(AD_DutyProgramID1,0) as dutyProgramId,
							 NULL As SortCode,
							 0 as LeaveStartTime,
							 0 as LeaveEndTime,
							 (SELECT AJ_JobName as JobName, AJ_JobStartTimeSec as JobStartTime, 
									 AJ_JobEndTimeSec as JobEndTime, AJ_JobBGColour as JobBackColour, 
									 AJ_JobFontColour as JobFontColour 
									 FROM AllocationsJobs aj 
									 WHERE aj.AJ_AllocationsDutyID = AD_AllocationsDutyID
									  AND ST.ShowJobsInWeeklyView = 1 
									  FOR JSON PATH) AS jobs,
							 AD_DutyProgramID2	AS DutyProgramId2,
							 AD_DutyProgramID3	AS DutyProgramId3,
							 AD_DutyProgramID4	AS DutyProgramId4,
							 AD_DutyProgramID5	AS DutyProgramId5,
							 AD_DutyProgramID6	AS DutyProgramId6,
							 1 AS DisplayInViewScreen
						FROM Allocations AL  
					   INNER JOIN AllocationsDuties AD on AL_AllocationsID = AD_AllocationsID  
					   INNER JOIN TimeDimension TD on AL_WeekNumber = TD.ixYearWeek AND TD.ixDayInWeek = AD.AD_iDay        
					   INNER JOIN schedulingTeams st on st.schedulingTeamId = al.AL_SchedulingTeamID  
					   INNER JOIN @TempLockStatus FD ON FD.WeekNumber = AL.AL_WeekNumber
											  AND FD.iDay=TD.ixDayInWeek
											  AND FD.SchedulingTeamId = AL.AL_SchedulingTeamID	
					   LEFT JOIN AllocationsJobs AJ (NOLOCK) ON (AJ.AJ_AllocationsDutyID = AD.AD_AllocationsDutyID) AND ( IsNULL(aj.AJ_JobStatus,1) IN (0, 1) )
					   WHERE dDateTime between @StartDate AND @EndDate
						 AND AL_SchedulingTeamID in ( select value FROM string_split(@TeamId,',')  )  
						 AND AD_DutyStatus = 0  
						 AND AL_Status in (0,1)
						 AND FD.IsEditable = 1	 
					ORDER BY 14
		END
  END