USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_DivisionalUserAdditionalRoleList]    Script Date: 25/07/2025 22:00:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_get_DivisionalUserAdditionalRoleList]
@divisionid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
 SELECT  ur.*, 
        rr.*,
	st.Forename,st.PreferredForename,st.NetLogin,st.Surname,st.Title,st.StaffNumber,UD_DisplayName as DisplayName
FROM StaffDetails st(nolock) 
left join UserDetails ud (nolock) on ud.UD_TeampayStaffID=st.StaffID
left join UserRoles ur(nolock) on ur.UR_UserID=ud.UD_UserID
left JOIN REF_Roles RR ON ur.UR_RoleID = RR.RoleID AND RR.RoleName IN ('Area Reports') 
--LEFT JOIN Users U ON U.UserID = DA.UserId INNER JOIN StaffDetails SD on SD.NetLogin = U.NetLogin 
-- left Join ScheduledPeople sp on sp.StaffDetailsID = SD.StaffID 
where ur.UR_DivisionId = @divisionid and rr.IsActive=1
END