USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ProgrammeById]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_GET_ProgrammeById]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ProgrammeById]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Author:		Neeraj  Kumar
-- Create date: 08/07/2021
-- Description:	SP to get List of All Programmes By Id.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_ProgrammeById]
@id INT
AS
BEGIN
	SET NOCOUNT ON;
   SELECT programmename
              FROM skills_programmes
              WHERE  (ID = @id)
END
GO
