USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllTeamsByDuty]    Script Date: 25/06/2021 12:08:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_AllTeamsByDuty]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_get_AllTeamsByDuty]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_AllTeamsByDuty]    Script Date: 25/06/2021 12:08:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Michael Hoskin
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[usp_get_AllTeamsByDuty] 
	-- Add the parameters for the stored procedure here
	@dutyid int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    SELECT id, AreaID, TeamName
    FROM Teams T1 INNER JOIN MasterDutyTeams T2 ON T1.ID = T2.TeamID AND T2.DutyID = @dutyid AND T2.IsActive = 1
    ORDER BY TeamName
END


GO
