USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MarkAllocationDuty_Sick_Leave_Absent]    Script Date: 30/10/2021 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_MarkAllocationDuty_Sick_Leave_Absent]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_mod_MarkAllocationDuty_Sick_Leave_Absent] 
	-- Add the parameters for the stored procedure here
	@allocationid int,
	@teamId int,
	@CurrentuserName varchar(100)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;
	DECLARE @weeknumber int;
	DECLARE @value int;

	 BEGIN TRANSACTION
        BEGIN TRY
		   SELECT @weeknumber  = WeekNumber FROM Allocations (NOLOCK) where ID =@allocationid;
		   EXEC [dbo].[usp_Edit_Allocations] ''MARKABSENT'',@CurrentuserName,@allocationid,@IsShiftLeader=1
		COMMIT TRANSACTION
	
		END TRY
		BEGIN CATCH
	RoLLBACK TRANSACTION
	
	END CATCH
	
END'
EXEC dbo.sp_executesql @strSQL

GO