USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotaPeople]    Script Date: 20/08/2025 20:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_get_RotaPeople]
    -- Add the parameters for the stored procedure here
	@rotaid int = 0
AS
BEGIN

	SET NOCOUNT ON;

	SELECT mr.RotaName,
		   mr.WeeksInRota,
		   CONVERT(VARCHAR(10),mr.RotaStartDate,103) as RotaStartDate,
		   mr.RotaStartWeek,
		   rp.RotaPeopleID,
		   rp.RotaWeek,
		   CONVERT(VARCHAR(10),rp.StartDate,103) as RotaPersonStartDate,
		   CONVERT(VARCHAR(10),rp.EndDate,103) as RotaPersonEndDate,
		   UD_UserID ScheduledPersonID,
		   UD_DisplayName DisplayName,
		   sd.UD_DisplayFirstName  Forename,
		   sd.UD_DisplayLastName  Surname,
		   sd.UD_TeampayStaffID  StaffID,
		   ISNULL(CAST(scp.UC_EFT AS VARCHAR(10)), '-') as EFT
	FROM RotaPeople rp (NOLOCK)
	INNER JOIN MasterRotas mr (NOLOCK) ON mr.RotaID = rp.RotaID and mr.IsActive = 1
	left join UserDetails (NOLOCK) sd on UD_UserID = rp.ScheduledPersonID
	left join ScheduledPersonTeam_LINK as spt on UD_UserID = spt.ScheduledPersonID
	LEFT OUTER JOIN UserConfigs scp (NOLOCK) ON UC_UserID = UD_UserID
					AND rp.StartDate BETWEEN scp.UC_StartDate AND COALESCE(scp.uc_EndDate, '9999-01-01') 
	WHERE (rp.rotaid = @rotaid) AND rp.IsActive = 1 and spt.scheduledType = 1
	ORDER BY rp.RotaWeek, UD_DisplayFirstName, UD_DisplayLastName


END