USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_LeaveSendEmails]    Script Date: 19/02/2024 19:13:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_get_LeaveSendEmails]
@NetLogin varchar(100)
AS
BEGIN
Set NOCOUNT ON
Set DATEFORMAT YMD
	-- SET NOCOUNT ON added to prevent extra result sets from
  SELECT               LeaveApplications.Deleted, LeaveApplications.ID AS LeaveApplicationsID, LeaveApplications.dDate, LeaveRequestGroups.ID AS GroupID, LeaveRequestGroups.Description AS GroupDescription, 
                               leave_types.description AS TypeDscription, LeaveApplications.Comments, LeaveApplications.ShortNotice, LeaveApplications.isOK, LeaveRequestGroups.email, LeaveRequestGroups.emailcopiesto, 
                               LeaveApplications.UserEmailSent,
                               StaffDetails.Forename + N' ' + StaffDetails.Surname AS RequesterName
          FROM                 StaffDetails 
          RIGHT OUTER JOIN     LeaveApplications 
          INNER JOIN           leave_types ON LeaveApplications.LeaveTypesID = leave_types.ID 
          INNER JOIN           LeaveRequestGroups ON leave_types.GroupID = LeaveRequestGroups.ID ON StaffDetails.NetLogin = LeaveApplications.Login
          WHERE                (LeaveRequestGroups.AllowEmails = 1) AND (LeaveApplications.ShortNotice=0)
            AND                (LeaveApplications.UserEmailSent <> 1) 
            AND                (LeaveApplications.Approved = 0) 
            AND                (LeaveApplications.Login = @NetLogin)  
            AND                (LeaveApplications.dDate >= getdate())                  
           ORDER BY            GroupDescription, TypeDscription, LeaveApplications.dDate

END
GO
