USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_AvaialbleMasterDutiesFilterLinks]    Script Date: 28/09/2021 00:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_AvaialbleMasterDutiesFilterLinks]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_GET_AvaialbleMasterDutiesFilterLinks]
	-- Add the parameters for the stored procedure here
	@filterid INT ,
	@dutytypeid INT,
	@teamid VARCHAR(255) = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @filterid = 0
		SET @filterid = NULL
if @teamid = 0 or @teamid = ''''
BEGIN
	SELECT 0 status, '''' strstatus
	return
END

SELECT T1.MasterDutyID, T1.DutyName,T1.DutyTypeID
FROM MasterDuties T1
WHERE NOT EXISTS
    (SELECT T2.MasterDutyID
     FROM MasterDutiesFilterLinks T2
     WHERE T2.FilterID = @filterid
       AND T2.IsMiscDuty = 0
       AND T2.MasterDutyID = T1.MasterDutyID)
  AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, '','')) and T1.DutyTypeID = @dutytypeid)
  and T1.IsActive = 1

UNION ALL
SELECT T1.MasterDutyID, T1.DutyName,T1.DutyTypeID
FROM MasterDuties T1
WHERE NOT EXISTS
    (SELECT T2.MasterDutyID
     FROM MasterDutiesFilterLinks T2
     WHERE T2.FilterID = @filterid
       AND T2.IsMiscDuty = 1
       AND T2.MasterDutyID = T1.MasterDutyID)
  AND (T1.TeamID IN (SELECT value FROM STRING_SPLIT(@teamid, '',''))
    and T1.DutyTypeID != @dutytypeid)
  and T1.IsActive = 1
ORDER BY T1.DutyName;

END
'

EXEC dbo.sp_executesql @strSQL 

GO
