USE [ALLOCATE7]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_mod_XmasPointTimeByTeam]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N'PROCEDURE [dbo].[usp_mod_XmasPointTimeByTeam]
	-- Add the parameters for the stored procedure here
	@teamid int,
	@xmaspointid INT,
	@day INT,
	@starttime INT,
	@endtime INT,
	@points INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	SET NOCOUNT ON;
	DECLARE @status VARCHAR(20),@returnstring VARCHAR(300),@parentid INT
	SET @status = ''success''
	SET @returnstring = ''Christmas Sub Point inserted successfully.''
	
    -- Insert statements for procedure here
	
	IF @xmaspointid != 0
		BEGIN
				UPDATE  XmasPointsByDepartmentLink
							 SET  StartTime = @starttime, EndTime = @endtime, Points = @points
							 WHERE   (ID = @xmaspointid);
		END
  
  ELSE 
	BEGIN
    -- Get the ID for this day.....
	
			   SELECT     @parentid =  ID
							 FROM         XmasPointsByDepartment
							 WHERE        (MonthDay = @day) 
							 AND          (SchedulingTeamId = @teamid)
							 
						 
			INSERT INTO  XmasPointsByDepartmentLink(XmasPointsByDepartmentID,StartTime,EndTime,Points)
                        VALUES   (@parentid,@starttime,@endtime,@points)
						
    END
	
	SELECT @status strstatus,@returnstring strreturnstring
END
'
EXEC dbo.sp_executesql @strSQL
GO