USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_AllShiftLeaders]    Script Date: 18/12/2024 19:50:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_GET_AllShiftLeaders] 
@userId INT,
@roleId INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
        IF @userId = 0
	set @userId = NULL;
		IF @roleId = 0
	set @roleId = NULL;

	if @roleId = 1
	BEGIN
		SELECT               
                shiftleadertypes.Active, shiftleadertypes.description,   
                shiftleadertypes.SchedulingTeamId as schedulingTeamId, shiftleadertypes.telephone, shiftleadertypes.ID,   
                shiftleadertypes.BackColour, schedulingTeams.schedulingTeamName ,   
                shiftleadertypes_appliesto.SchedulingTeamId AS shedulingTeamAppliesToID, st.schedulingTeamName AS schedulingTeamAppliesToName  
                FROM schedulingTeams AS st   
                INNER JOIN shiftleadertypes_appliesto   
                 ON st.schedulingTeamId = shiftleadertypes_appliesto.SchedulingTeamId   
                RIGHT OUTER JOIN shiftleadertypes   
                INNER JOIN schedulingTeams   
                ON shiftleadertypes.SchedulingTeamId = schedulingTeams.schedulingTeamId   
                ON shiftleadertypes_appliesto.TypeID = shiftleadertypes.ID   ORDER BY schedulingTeamName;
				END
	ELSE IF @roleId = 2
	BEGIN
		SELECT               
                shiftleadertypes.Active, shiftleadertypes.description,   
                shiftleadertypes.SchedulingTeamId as schedulingTeamId, shiftleadertypes.telephone, shiftleadertypes.ID,   
                shiftleadertypes.BackColour, schedulingTeams.schedulingTeamName ,   
                shiftleadertypes_appliesto.SchedulingTeamId AS shedulingTeamAppliesToID, st.schedulingTeamName AS schedulingTeamAppliesToName  
                FROM schedulingTeams AS st   
                INNER JOIN shiftleadertypes_appliesto   
                 ON st.schedulingTeamId = shiftleadertypes_appliesto.SchedulingTeamId   
                RIGHT OUTER JOIN shiftleadertypes   
                INNER JOIN schedulingTeams   
                ON shiftleadertypes.SchedulingTeamId = schedulingTeams.schedulingTeamId   
                ON shiftleadertypes_appliesto.TypeID = shiftleadertypes.ID  
				where shiftleadertypes.SchedulingTeamId IN (select schedulingTeamId from schedulingTeams AS st where st.isActive=1 and  st.schedulingTeamId in		
				(select schedulingTeamId from schedulingTeamDivision_Link  where divisionId in 
				( select DivisionId from DivisonalAdmin where UserId = @userId and IsActive=1 and RoleId in 
				   ( select RoleId from REF_Roles where RoleName = 'Area Admin')
				    ))
				)  ORDER BY schedulingTeamName; 
				END
	/* ELSE
	BEGIN
		SELECT             
                shiftleadertypes.Active, shiftleadertypes.description, 
                shiftleadertypes.SchedulingTeamId as schedulingTeamId, shiftleadertypes.telephone, shiftleadertypes.ID, 
                shiftleadertypes.BackColour, schedulingTeams.schedulingTeamName , 
                shiftleadertypes_appliesto.SchedulingTeamId AS shedulingTeamAppliesToID, st.schedulingTeamName AS schedulingTeamAppliesToName
                FROM schedulingTeams AS st 
                INNER JOIN shiftleadertypes_appliesto 
                 ON st.schedulingTeamId = shiftleadertypes_appliesto.SchedulingTeamId 
                RIGHT OUTER JOIN shiftleadertypes 
                INNER JOIN schedulingTeams 
                ON shiftleadertypes.SchedulingTeamId = schedulingTeams.schedulingTeamId 
                ON shiftleadertypes_appliesto.TypeID = shiftleadertypes.ID
		where shiftleadertypes.SchedulingTeamId IN (select ScheduledPersonTeam_LINK.TeamID from ScheduledPeople INNER JOIN ScheduledPersonTeam_LINK on ScheduledPersonTeam_LINK.ScheduledPersonID = ScheduledPeople.ScheduledPersonID where UserID = @userId)
                ORDER BY schedulingTeamName;
			END */
	
END		
