USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_RotaDuty]    Script Date: 28/10/2025 17:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER        PROCEDURE [dbo].[usp_mod_RotaDuty]
    -- Add the parameters for the stored procedure here
	@rotaid   INT,
	@dutyid   INT,
	@dutytypeid  INT,
	@rotaday  INT,
	@week   INT,
	@isassigned  INT,
	@istemplate  INT,
	@currentuser VARCHAR(100),
	@currentuserid INT,
	@history  VARCHAR(3000),
	@status   INT OUTPUT,
	@returnstring VARCHAR(1000) OUTPUT

AS
BEGIN

 -- SET NOCOUNT ON added to prevent extra result sets from
 -- interfering with SELECT statements.
 SET NOCOUNT ON;

 DECLARE @err int
 DECLARE @rows int
 DECLARE @RowNum int
 DECLARE @UpdateDateTime datetime
 DECLARE @strUpdateDateTime varchar(35)
 DECLARE @TmpHistory varchar(4000)
 DECLARE @oldDutyID INT

 DECLARE @MasterDutyCount INT
 DECLARE @RotaDutyCount  INT
 DECLARE @MasterStart  VARCHAR(10)
 DECLARE @MasterEnd   VARCHAR(10)
 DECLARE @RotaStart   VARCHAR(10)
 DECLARE @RotaEnd   VARCHAR(10)
 DECLARE @ConflictDutyName VARCHAR(50), @ConflictDutyId int;
 DECLARE @ConflictDutyStart VARCHAR(10)
 DECLARE @ConflictDutyEnd VARCHAR(10)
 DECLARE @MasterDutyStart VARCHAR(10)
 DECLARE @MasterDutyEnd  VARCHAR(10)
 DECLARE @RotaWeekAlloted INT
 DECLARE @DutyStartWeek INT,
		 @DutyEndWeek INT,
		 @StartDate  datetime,
		 @EndDate  datetime,
		 @EndWeekNumber INT;

 SET @status = 1
 SET @returnstring = ''
 SET @UpdateDateTime = GETDATE()
 SET @strUpdateDateTime = CONVERT(VARCHAR, @UpdateDateTime, 106) + ' at ' + CONVERT(VARCHAR, @UpdateDateTime, 108)


	--Check Duty available for this day
	Declare @MasterDutyTeam varchar(110);
	Declare @MasterRotaTeam varchar(110);

	select @MasterDutyTeam = st.schedulingTeamName
	  from MasterDuties md (NOLOCK)
	 inner join schedulingTeams st (NOLOCK) on st.schedulingTeamId = md.TeamID
	 where md.MasterDutyId = @dutyid;

	select @MasterRotaTeam = st.schedulingTeamName
	  from MasterRotas md (NOLOCK)
	 inner join schedulingTeams st (NOLOCK) on st.schedulingTeamId = md.TeamID
	 where md.RotaID = @rotaid;

	if (@MasterDutyTeam <> @MasterRotaTeam)
	  BEGIN
		SET @returnstring = 'Scheduling team of Rota Pattern is '
							+ convert(varchar(100),@MasterRotaTeam)
							+ ' while scheduling team of Master Duty is '
							+ convert(varchar(100),@MasterDutyTeam)
							+'. This is not permitted. Please drop Duty with same scheduling team as of Rota Pattern.';
		SET @status = 0;
		select @status intStatus, @returnstring strStatus;
		return;
	  END

	  IF @dutytypeid = 1
	   BEGIN
		SELECT @MasterDutyCount = CASE WHEN @rotaday = 0 THEN ISNULL(T1.Saturday, 0)
									   WHEN @rotaday = 1 THEN ISNULL(T1.Sunday, 0)
									   WHEN @rotaday = 2 THEN ISNULL(T1.Monday, 0)
									   WHEN @rotaday = 3 THEN ISNULL(T1.Tuesday, 0)
									   WHEN @rotaday = 4 THEN ISNULL(T1.Wednesday, 0)
									   WHEN @rotaday = 5 THEN ISNULL(T1.Thursday, 0)
									   WHEN @rotaday = 6 THEN ISNULL(T1.Friday, 0)
			                        END,
			   @RotaDutyCount = ISNULL(T30.Counter, 0)
		  FROM MasterDuties T1 (NOLOCK)
		  LEFT OUTER JOIN (SELECT T20.MasterDutyID,
		                          count(1) as Counter
							 FROM ( select MasterDutyID,
							               RotaID
									  from RotaDuties
									 where masterdutyid = 7665
									   and dotw = 0
									   and IsActive = 1
									 group by MasterDutyID, RotaID
								  ) AS T20
								  GROUP BY T20.MasterDutyID
		                   ) AS T30 ON T1.MasterDutyID = T30.MasterDutyID
		 WHERE T1.MasterDutyID = @dutyid
		   and T1.IsActive in (1,2)

		IF @MasterDutyCount IS NULL
		    SET @MasterDutyCount = 0

		IF @RotaDutyCount IS NULL
		    SET @RotaDutyCount = 0

		IF @MasterDutyCount = 0
		  BEGIN
				SET @returnstring = 'This Duty is not configured to be available on this day.';
				SET @status = 0;
			select @status intStatus, @returnstring strStatus;
			return;
		  END

		  IF @returnstring <> ''
		   BEGIN
			   SET @status = 0
			   RETURN 0
		   END
		END
		  --end
		 --Check if Duty outside of Duty Date range
		SELECT @StartDate = CONVERT(datetime, T1.StartDate, 103),
			   @EndDate = CONVERT(datetime, T1.EndDate, 103)
		  FROM MasterDuties T1 (NOLOCK)
		 WHERE T1.MasterDutyID = @dutyid

		select @EndWeekNumber = ixYearWeek
		  from TimeDimension
		 where dDateTime =  DATEADD(MM, 36, @StartDate)

		 IF @returnstring <> ''
			BEGIN
			  SET @status = 0
			  RETURN 0
			END


		 --Check if Duty outside of Rota Date range
		SELECT @RotaStart = CONVERT(VARCHAR(10), T1.RotaStartDate, 103)
		  FROM MasterRotas T1 (NOLOCK)
		 WHERE T1.RotaID = @rotaid
		   AND (T1.RotaStartDate > CONVERT(DATETIME, @StartDate + ' 00:00:00', 103))

			IF @RotaStart IS NULL SET @RotaStart = ''

		IF @RotaStart = ''
		 BEGIN
		  -- All good
		  SET @returnstring = '';
		 END

		 IF @returnstring <> ''
		  BEGIN
			  SET @status = 0
			  RETURN 0
		  END

	  IF (@dutytypeid != 1)
		BEGIN
			IF EXISTS(SELECT 1
			           FROM MasterDuties T1 (NOLOCK)
					  INNER JOIN RotaDuties T2 (NOLOCK) ON T1.MasterDutyID = T2.MasterDutyID
					  WHERE T2.RotaID = @rotaid
					  and T2.IsActive in (1,2)
				AND T2.RotaWeek = @week
				AND T2.DOTW = @rotaday
				AND T1.DutyTypeID != 1)
		      BEGIN
				SET @returnstring = 'Two Miscellaneous Duties cannot be assigned on the same day of the week.';
				SET @status = 0;
		        select @status intStatus, @returnstring strStatus;
		        return;
		      END
		END
	  else
		BEGIN
			IF EXISTS(SELECT 1
			            FROM MasterDuties T1 (NOLOCK)
					   INNER JOIN RotaDuties T2 (NOLOCK) ON T1.MasterDutyID = T2.MasterDutyID
					   WHERE T2.RotaID = @rotaid
					     and T2.IsActive in (1,2)
						 AND T2.RotaWeek = @week
						 AND T2.DOTW = @rotaday
						 AND T1.DutyTypeID = 1)
		      BEGIN
				SET @returnstring = 'Two Master Duties cannot be assigned on the same day of the week.';
				SET @status = 0;
				select @status intStatus, @returnstring strStatus;
				return;
			  END
		END
		 --Check Duty Type conflicts in the Rota with the given date
		SELECT TOP 1 @ConflictDutyName = T1.DutyName,
		             @ConflictDutyId = T1.MasterDutyID,
					 @ConflictDutyStart = CONVERT(VARCHAR(10), T1.StartDate, 103),
					 @ConflictDutyEnd = CONVERT(VARCHAR(10), T1.EndDate, 103)
		  FROM MasterDuties T1 (NOLOCK)
	     INNER JOIN RotaDuties T2 (NOLOCK) ON T1.MasterDutyID = T2.MasterDutyID
		 WHERE T2.RotaID = @rotaid
		   and T2.IsActive in (1,2)
		   AND T2.RotaWeek = @week
		   AND T2.DOTW = @rotaday
		   AND T2.StartDate <= CONVERT(DATETIME, @EndDate + ' 00:00:00', 103)
		   AND T2.EndDate >= CONVERT(DATETIME, @StartDate + ' 00:00:00', 103)

		 IF @ConflictDutyStart IS NULL
			BEGIN
			  SET @ConflictDutyStart = ''
			END

		 IF @ConflictDutyEnd IS NULL
			BEGIN
			  SET @ConflictDutyEnd = ''
			END

		IF (@ConflictDutyId = @dutyid)
		 BEGIN

			  SET @returnstring = 'This Duty is already assigned on week of this rota.';
			  SET @status = 0;
			  select @status intStatus, @returnstring strStatus;

			  return;

		 END
		IF @ConflictDutyStart = '' AND @ConflictDutyEnd = ''
		 BEGIN
		  -- All good
		  SET @returnstring = ''
		 END
		ELSE
		 BEGIN
		  SET @returnstring = 'This Duty Date Range conflicts with another Duty ['
		                      + @ConflictDutyName
							  + '] (' + @ConflictDutyStart
							  + ' to ' + @ConflictDutyEnd
							  + ')';
		  SET @status = 0;
		  select @status intStatus, @returnstring strStatus;
		  return;
		END

		 IF @returnstring <> ''
			BEGIN
			  SET @status = 0
			  RETURN 0
			END


		 --Check unique Rota name
		 SELECT @oldDutyID = MasterDutyID
		   FROM RotaDuties (NOLOCK)
		  WHERE (RotaID = @rotaid) and IsActive = 1
		    AND RotaWeek = @week
		    AND DOTW = @rotaday
		    AND IsTemplate = @istemplate
		    AND StartDate = CONVERT(DATETIME, @StartDate + ' 00:00:00', 103)

		IF EXISTS (
				   SELECT top 1 *
					 FROM dbo.MasterRotas AS T4 (NOLOCK)
					INNER JOIN dbo.RotaDuties AS T3 (NOLOCK) ON T3.RotaID = T4.RotaID
					       AND T3.RotaID = @rotaid
						   AND T3.RotaWeek = @week
						   AND T3.DOTW = @rotaday
					INNER JOIN dbo.TimeDimension AS T0 (NOLOCK) ON T3.DOTW = T0.ixDayInWeek
					  AND (T0.dDateTime BETWEEN DATEADD(dd, DATEDIFF(dd, 0, CONVERT(DATETIME, @StartDate + ' 00:00:00', 103)),0)
					  AND DATEADD(MM, 36, CONVERT(DATETIME, @StartDate + ' 00:00:00', 103)))
					  AND (T0.dDateTime >= T4.RotaStartDate)
					INNER JOIN dbo.MasterDuties (NOLOCK) AS T1 ON T1.MasterDutyID = T3.MasterDutyID
					INNER JOIN ( SELECT td.ixyearweek,
									CASE WHEN Row_number()
										 OVER(
										 partition BY MasterDutyID
										 ORDER BY td.ixyearweek) % td.weeksinrota =0
										 THEN td.weeksinrota
									ELSE Row_number()
										OVER(
										partition BY MasterDutyID
										ORDER BY td.ixyearweek) % td.weeksinrota
									END weeksinrota,
									MasterDutyID
								FROM   (SELECT DISTINCT ixyearweek,
											er.weeksinrota,
											er.MasterDutyID
									FROM   TimeDimension td,
										(SELECT DISTINCT mr.rotastartweek
												AssignmentStartWeek,
												mr.weeksinrota WeeksInRota,
												rd.MasterDutyID AS	MasterDutyID
										FROM   RotaDuties rd
										INNER JOIN MasterRotas AS mr ON mr.rotaid = rd.rotaid
												AND mr.RotaID = @rotaid
												AND rd.isactive = 1,
											(SELECT Min(ddatetime) AS wStart_Date,
												Max(ddatetime) AS wEnd_Date
											FROM TimeDimension
											WHERE dDateTime BETWEEN @StartDate
					                             AND DATEADD(MM, 36, @StartDate)
					                        ) as TD5
											WHERE isnull(rd.startdate,TD5.wend_date)  <= TD5.wend_date
											AND isnull(rd.enddate,TD5.wstart_date)  >= TD5.wstart_date
												) er
									WHERE  td.ixyearweek BETWEEN er.assignmentstartweek AND	@EndWeekNumber) TD )
								 AS T5 ON  t5.MasterDutyID = t3.MasterDutyID
					       AND T5.ixYearWeek = T0.ixYearWeek
						   and T5.weeksinrota = t3.RotaWeek
					WHERE ((T1.DutyTypeID <> 1) OR ((T1.DutyTypeID = 1)
					  AND (T0.dDateTime BETWEEN T1.StartDate AND T1.EndDate)))
					  and T3.IsActive = 1
					)

		 BEGIN

			SET @returnstring = 'Duty is already mapped to Rota. Please remove existing duty and try again.';
			SET @status = 0;
			SELECT @status intStatus, @returnstring strStatus;
			RETURN;

		 END


		BEGIN TRANSACTION

			IF @oldDutyID IS NULL
		      SET @oldDutyID = 0

	    IF @oldDutyID = 0
		  BEGIN

		   SET @TmpHistory = 'Created by ' + COALESCE(@currentuser, 'UNKNOWN') + ' on ' + @strUpdateDateTime
		   --Insert new Rota record
			INSERT INTO RotaDuties (RotaID, RotaWeek, DOTW, MasterDutyID, IsAssigned,
			                        IsTemplate, StartDate, EndDate, CreatedBy,
									CreatedDate, LastModBy,
					                LastModDate, IsActive)
			                 VALUES (@rotaid, @week, @rotaday, @dutyid, @isassigned,
							         @istemplate, CONVERT(DATETIME, @StartDate + ' 00:00:00', 103),
				                     CONVERT(DATETIME, @EndDate + ' 00:00:00', 103),
									 @currentuserid, @UpdateDateTime, @currentuserid,
									 @UpdateDateTime, 1)

		    SELECT @err = @@ERROR, @rows = @@ROWCOUNT

		 IF @err <> 0
			BEGIN
				SET @returnstring = 'There was a problem creating the new Rota Duty record';
				SET @status = 0;
				select @status intStatus, @returnstring strStatus;
				RETURN;
			END

		 IF @rows = 0
		  BEGIN
			SET @returnstring = 'There was a problem creating the new Rota Duty record';
			SET @status = 0;
			select @status intStatus, @returnstring strStatus;
			RETURN;
		  END
		 END
		ELSE
		BEGIN
		   SET @TmpHistory = 'Updated by '
		                     + COALESCE(@currentuser, 'UNKNOWN')
							 + ' on ' + @strUpdateDateTime
		   If @history <> ''
			SET @TmpHistory = @TmpHistory + @history

		 UPDATE RotaDuties
		    SET MasterDutyID = @dutyid,
				LastModDate = @UpdateDateTime,
				LastModBy = @currentuserid
		  WHERE RotaID = @Rotaid
			AND RotaWeek = @week
			AND DOTW = @rotaday
			AND IsTemplate = @istemplate
			AND IsActive = 1

		SELECT @err = @@ERROR, @rows = @@ROWCOUNT

		IF @err <> 0
		  BEGIN
			ROLLBACK TRANSACTION
				  SET @returnstring = 'There was a problem updating the Rota Duty record';
			SET @status = 0;
			select @status intStatus, @returnstring strStatus;
			RETURN;
		  END

		IF @rows = 0
		  BEGIN
		     ROLLBACK TRANSACTION
			 SET @returnstring = 'There was a problem updating the Rota Duty record';
		     SET @status = 0;
		     select @status intStatus, @returnstring strStatus;
		     RETURN;
		  END

	 END


		UPDATE MR
		   SET MR.isExported = 0
		  FROM MasterRotas MR
		 WHERE ISNULL(MR.isExported,0) > 0
		   AND MR.RotaID = @rotaid

		SELECT @err = @@ERROR, @rows = 1

		IF @err <> 0
		  BEGIN

			SET @returnstring = 'There was a problem creating the new Rota Duty Day records';
			SET @status = 0;
			select @status intStatus, @returnstring strStatus;
		    RETURN;

		  END

		IF @rows = 0
		  BEGIN
			SET @returnstring = 'There was a problem creating the new Rota Duty Day records';
			SET @status = 0;
			select @status intStatus, @returnstring strStatus;
			RETURN;
		  END


		select @status intStatus, 'success' strStatus;

		COMMIT TRANSACTION

END