USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_Create_Allocations_New_Person]    Script Date: 10/09/2025 21:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER                PROCEDURE [dbo].[usp_Create_Allocations_New_Person]
@SchedulingPersonID			INT,
@pNetLogin                 VARCHAR(30)
AS

BEGIN
    
   SET NOCOUNT ON;
   SET DATEFORMAT YMD;
   
   DECLARE  @vname               VARCHAR(50)
   DECLARE  @vuserID             INT
   DECLARE  @weekNumber         INT
   DECLARE  @VMissingSPCount     INT
   DECLARE  @ALID                INT
   DECLARE  @LeaveID             INT
   DECLARE  @return_value        INT
   DECLARE  @LeaveType           VARCHAR(20)
   DECLARE  @DutyName            NVARCHAR(100)
   DECLARE  @IsHomeTeam          INT
   DECLARE  @DutyColourID        INT  
   DECLARE  @vIspublished        INT   
   DECLARE  @FRSPID              INT
   DECLARE  @FRTeamID            INT
   DECLARE  @TempRequest         TABLE (strstatus INT)
   DECLARE  @ReturnValue         INT
   DECLARE  @showResult          VARCHAR(50),
			@TeamID				 INT;
   
                  
    DECLARE @SPTemp TABLE ( AllocationsID INT, 
							scheduledpersonid INT, 
							SchedulingTeamid INT, 
							WeekNumber INT, 
							iDay INT,
							DutyDate DATE,
							isHomeTeam BIT,
							SortCode NVARCHAR(30),
							DutyColourID INT)

    DECLARE  @TempAllocations TABLE  
                (allocationid INT,
                 dutyname NVARCHAR(100),
                 duration INT,
                 PlannedDuration INT,
                 weeknumber INT,
                 iday INT,
                 starttime INT,
                 endtime INT,
                 adhocduty BIT,
                 schedulingteamid INT,
                 schedulingpersonid INT,
                 dutydate DATE,
                 startdate DATETIME,
                 enddate DATETIME,
				 SortCode NVARCHAR(30),
                 aftermidnight BIT,
                 dutycolorid INT,
                 ishometeam BIT,
                 isactive BIT,
                 iseditable BIT,
                 isactiveduty BIT,
                 LeaveID INT,
				 LeaveStartTime INT,
				 LeaveEndTime INT,
                 CreatedBy INT, 
                 CreatedDate DATETIME,
                 UpdatedBy INT,
                 UpdatedDate DATETIME)

      BEGIN 
  
    SELECT  @vname =  CASE WHEN (sp.DisplayName IS NULL) 
                            THEN CASE WHEN (sd.PreferredForename IS NULL or sd.PreferredForename = '')
                                    THEN (sd.Forename + ' ' + sd.Surname) 
                                    ELSE (sd.PreferredForename + ' ' + sd.Surname)    END
                            ELSE sp.DisplayName END 
    FROM StaffDetails sd (nolock)
    LEFT JOIN ScheduledPeople sp (nolock) on sp.StaffDetailsID = sd.StaffID
    WHERE sd.NetLogin=@pNetLogin
  
   select @vuserID = UserID 
     from [dbo].[Users] (NOLOCK)
  where NetLogin = @pNetLogin  
  
  
    BEGIN TRY
        BEGIN TRANSACTION  

      -- Week Creation details
       

    
          -- Create week from Rota and schedule person list
                    
            INSERT INTO @SPTemp(AllocationsID, 
								scheduledpersonid, 
								SchedulingTeamid, 
								WeekNumber, 
								iDay,
								DutyDate,
								isHomeTeam,
								SortCode)
           SELECT AllocationID,
				  ScheduledPersonID,
				  TeamID,
                  ixYearWeek,
				  ixDayInWeek,
				  DutyDate,
				  IsHomeTeam,
				  SortCode
		   FROM
		  (
		  SELECT AP.AllocationID,
				 stl.ScheduledPersonID,
				 stl.TeamID,
                 TD.ixYearWeek,
				 TD.ixDayInWeek,
				 TD.dDateTime as DutyDate,
				 stl.IsHomeTeam,
				 stl.SortCode,
				 AL.ID
            FROM ScheduledPersonTeam_LINK AS stl
		   INNER JOIN Allocations_published_weeks AP on AP.SchedulingTeamID = stl.TeamID
		   INNER JOIN TimeDimension TD on TD.ixYearWeek = AP.WeekNumber
		    LEFT JOIN Allocations AL on TD.ixYearWeek = AL.WeekNumber AND TD.ixDayInWeek = AL.iDay
									AND stl.TeamID = AL.SchedulingTeamId
									AND stl.ScheduledPersonID = AL.SchedulingPersonID
            WHERE td.dDateTime between stl.StartDate and stl.EndDate
              AND stl.scheduledtype = 1
              AND ( stl.ishometeam = 1
                     OR ( stl.ishometeam = 0
                       AND stl.isavailable = 1 ) )
			  AND stl.ScheduledPersonID = @SchedulingPersonID
			  AND TD.dDateTime > GETDATE()
		  ) FD WHERE FD.ID IS NULL
           
		  IF NOT EXISTS ( SELECT 1 FROM @SPTemp ) 
		   BEGIN
			
				 IF ( @@TRANCOUNT > 0 ) 
				  BEGIN
				   ROLLBACK  TRANSACTION
				  END   
			RETURN 0
		   END

         UPDATE TP 
		    SET TP.DutyColourID = MasterDutyColourID
           FROM REF_MasterDutyColours MC (NOLOCK) 
          INNER JOIN schedulingTeamDivision_Link SL ON SL.divisionId = MC.AreaID
		  INNER JOIN @SPTemp TP ON TP.SchedulingTeamid = SL.schedulingTeamId
          WHERE UPPER(ColourName) like '%LEAVE%'
          
          INSERT INTO @TempAllocations
                (allocationid,
                 dutyname,
                 duration,
                 PlannedDuration,
                 weeknumber,
                 iday,
                 starttime,
                 endtime,
                 adhocduty,
                 schedulingteamid,
                 schedulingpersonid,
                 dutydate,
                 startdate,
                 enddate,
				 SortCode,
                 aftermidnight,
                 dutycolorid,
                 ishometeam,
                 isactive,
                 iseditable,
                 isactiveduty,
                 LeaveID,
				 LeaveStartTime,
				 LeaveEndTime,
                 CreatedBy, 
                 CreatedDate,
                 UpdatedBy,
                 UpdatedDate)
           SELECT AllocationsID AS allocationid,
                  FD.LeaveType,
				  FD.Duration*60*60,
				  FD.Duration*60*60,
				  FD.WeekNumber,
				  FD.iDay,
				  0,
				  0,
				  0,
				  SchedulingTeamid,
				  FD.SchedulingPersonID,
				  FD.DutyDate,
				  FD.DutyDate,
				  FD.DutyDate,
				  FD.SortCode,
				  0,
				  @DutyColourID,
				  FD.IsHomeTeam,
				  1,
				  1,
				  1,
				  FD.ID,
				  LeaveStartTime,
				  LeaveEndTime,
				  @vuserID, 
				  getutcdate(),
				  @vuserID, 
				  getutcdate()
             FROM (
               SELECT LA.ID,
					  TP.AllocationsID,
					  LA.SchedulingPersonID,
					  TP.SchedulingTeamid,
					  TP.IsHomeTeam,
					  TP.SortCode,
					  CASE WHEN ISNULL(CAST(LA.ZeroLeave AS INT),0) = 0
						 THEN 'Leave' ELSE 'OFF Leave' 
						 END           AS LeaveType,
					  TP.DutyDate       AS DutyDate,
					  TP.WeekNumber,
					  TP.iDay,
					  ISNULL(Totalhrs,0)      AS Duration,
					  ISNULL(LA.LeaveStartTime,0) LeaveStartTime,
					  ISNULL(LA.LeaveEndTime,0) LeaveEndTime
				 FROM LeaveApplications LA
				INNER JOIN @SPTemp TP on TP.DutyDate = LA.dDate AND TP.scheduledpersonid = LA.SchedulingPersonID
			    WHERE LA.Approved = 1 
				  AND LA.Deleted = 0                               
               ) FD 
			   
			
			IF EXISTS ( SELECT TOP 1 * 
			              FROM @TempAllocations
						 WHERE LeaveStartTime = 0
						   AND LeaveEndTime = 0)   
			 BEGIN

			   UPDATE AL
			      SET AL.SchedulingPersonID = 0,
				      AL.UpdatedBy = @vuserID,
                      AL.UpdatedDate = getutcdate()
			     FROM Allocations AL
				INNER JOIN @TempAllocations TAL ON TAL.schedulingteamid = AL.SchedulingTeamId
				                               AND TAL.schedulingpersonid = AL.SchedulingPersonID
											   AND TAL.weeknumber = AL.WeekNumber
											   AND TAL.iday = AL.iDay
				 WHERE AL.DutyName not like '%Leave%'
				   AND AL.Duration > 0
				   AND TAL.LeaveStartTime = 0
				   AND TAL.LeaveEndTime = 0

				INSERT INTO Allocations_Removed
					   (AllocateInstanceID
					   ,DepartmentID
					   ,AllocationID
					   ,StaffNumber
					   ,DutyName
					   ,Duration
					   ,WeekNumber
					   ,iDay
					   ,StartTime
					   ,EndTime
					   ,ActingGrade
					   ,SortCode
					   ,LeaveID
					   ,ManualERR
					   ,DutyComments
					   ,BaseCode
					   ,BackColour
					   ,FontColour
					   ,PersonComments
					   ,AdhocDuty
					   ,MarkedOvertime
					   ,MarkedPTExtraDay
					   ,MarkedCompLeave
					   ,MarkedSickness
					   ,ManualOTAmount
					   ,ManualOTExcBreaksAmount
					   ,UnAllocated
					   ,ID
					   ,SchedulingTeamId
					   ,SchedulingPersonID
					   ,DutyDate
					   ,StartDate
					   ,EndDate
					   ,isPublished
					   ,IsHomeTeam
					   ,MarkWiad
					   ,MarkActual
					   ,aftermidnight
					   ,isAttention
					   ,isRequest
					   ,dutyProgramId
					   ,DutyProgramId2
					   ,DutyProgramId3
					   ,DutyProgramId4
					   ,DutyProgramId5
					   ,DutyProgramId6
					   ,dutyBreakTime
					   ,dutyColorId
					   ,MannualOThours
					   ,isEdited
					   ,MasterDutyId
					   ,isActive
					   ,isActiveDuty
					   ,isEditable
					   ,OrigAllocationID
					   ,MarkWTD
					   ,WTDComments
					   ,isCompareEdited
					   ,DutyTeamID
					   ,PlannedDuration
					   ,PlannedDutyBreakTime
					   ,MarkOverTwelve
					   ,OverTwelveHrs
					   ,IsOverseasOverTwelve
					   ,IsUnderElevenBreak
					   ,CalculatedUnderElevenHrs
					   ,IsUnderElevenBreakOverride
					   ,OverrideUnderElevenHrs
					   ,UnderElevenComment
					   ,IsNeedCovering
					   ,IsOverrideOver12
					   ,CreatedBy
					   ,CreatedDate
					   ,UpdatedBy
					   ,UpdatedDate)
				SELECT AllocateInstanceID
					   ,DepartmentID
					   ,AllocationID
					   ,StaffNumber
					   ,DutyName
					   ,Duration
					   ,WeekNumber
					   ,iDay
					   ,StartTime
					   ,EndTime
					   ,ActingGrade
					   ,SortCode
					   ,LeaveID
					   ,ManualERR
					   ,DutyComments
					   ,BaseCode
					   ,BackColour
					   ,FontColour
					   ,PersonComments
					   ,AdhocDuty
					   ,MarkedOvertime
					   ,MarkedPTExtraDay
					   ,MarkedCompLeave
					   ,MarkedSickness
					   ,ManualOTAmount
					   ,ManualOTExcBreaksAmount
					   ,UnAllocated
					   ,ID
					   ,SchedulingTeamId
					   ,SchedulingPersonID
					   ,DutyDate
					   ,StartDate
					   ,EndDate
					   ,isPublished
					   ,IsHomeTeam
					   ,MarkWiad
					   ,MarkActual
					   ,aftermidnight
					   ,isAttention
					   ,isRequest
					   ,dutyProgramId
					   ,DutyProgramId2
					   ,DutyProgramId3
					   ,DutyProgramId4
					   ,DutyProgramId5
					   ,DutyProgramId6
					   ,dutyBreakTime
					   ,dutyColorId
					   ,MannualOThours
					   ,isEdited
					   ,MasterDutyId
					   ,isActive
					   ,isActiveDuty
					   ,isEditable
					   ,OrigAllocationID
					   ,MarkWTD
					   ,WTDComments
					   ,isCompareEdited
					   ,DutyTeamID
					   ,PlannedDuration
					   ,PlannedDutyBreakTime
					   ,MarkOverTwelve
					   ,OverTwelveHrs
					   ,IsOverseasOverTwelve
					   ,IsUnderElevenBreak
					   ,CalculatedUnderElevenHrs
					   ,IsUnderElevenBreakOverride
					   ,OverrideUnderElevenHrs
					   ,UnderElevenComment
					   ,IsNeedCovering
					   ,IsOverrideOver12
					   ,CreatedBy
					   ,CreatedDate
					   ,UpdatedBy
					   ,getutcdate()
				  FROM Allocations 
				 WHERE ID in (
							   SELECT AL.ID
								 FROM Allocations AL
								INNER JOIN @TempAllocations TAL ON TAL.schedulingteamid = AL.SchedulingTeamId
															   AND TAL.schedulingpersonid = AL.SchedulingPersonID
															   AND TAL.weeknumber = AL.WeekNumber
															   AND TAL.iday = AL.iDay
								 WHERE AL.DutyName not like '%Leave%'
								   AND ISNULL(AL.Duration,0) = 0
								   AND TAL.LeaveStartTime = 0
								   AND TAL.LeaveEndTime = 0
				             )

				DELETE Allocations 
				 WHERE ID in (
							   SELECT AL.ID
								 FROM Allocations AL
								INNER JOIN @TempAllocations TAL ON TAL.schedulingteamid = AL.SchedulingTeamId
															   AND TAL.schedulingpersonid = AL.SchedulingPersonID
															   AND TAL.weeknumber = AL.WeekNumber
															   AND TAL.iday = AL.iDay
								 WHERE AL.DutyName not like '%Leave%'
								   AND ISNULL(AL.Duration,0) = 0
								   AND TAL.LeaveStartTime = 0
								   AND TAL.LeaveEndTime = 0
				             )

				  INSERT INTO Allocations
						(allocationid,
						 dutyname,
						 duration,
						 PlannedDuration,
						 weeknumber,
						 iday,
						 starttime,
						 endtime,
						 adhocduty,
						 schedulingteamid,
						 schedulingpersonid,
						 dutydate,
						 startdate,
						 enddate,
						 SortCode,
						 aftermidnight,
						 dutycolorid,
						 ishometeam,
						 isactive,
						 iseditable,
						 isactiveduty,
						 LeaveID,
						 CreatedBy, 
						 CreatedDate,
						 UpdatedBy,
						 UpdatedDate)
				  SELECT allocationid,
						 dutyname,
						 duration,
						 PlannedDuration,
						 weeknumber,
						 iday,
						 starttime,
						 endtime,
						 adhocduty,
						 schedulingteamid,
						 schedulingpersonid,
						 dutydate,
						 startdate,
						 enddate,
						 SortCode,
						 aftermidnight,
						 dutycolorid,
						 ishometeam,
						 isactive,
						 iseditable,
						 isactiveduty,
						 LeaveID,
						 CreatedBy, 
						 CreatedDate,
						 UpdatedBy,
						 UpdatedDate 
					FROM @TempAllocations TL
				   WHERE NOT EXISTS ( SELECT 1
										FROM Allocations AL
									   WHERE AL.SchedulingPersonID = TL.schedulingpersonid
										 AND AL.SchedulingTeamId = TL.schedulingteamid
										 AND AL.WeekNumber = TL.weeknumber
										 AND AL.iday = TL.iday )
					 AND TL.LeaveStartTime = 0
					 AND TL.LeaveEndTime = 0

		  END

                   
          -- Create adhoc duty

          INSERT INTO Allocations
                (allocationid,
                 dutyname,
                 duration,
                 PlannedDuration,
                 weeknumber,
                 iday,
                 starttime,
                 endtime,
                 dutycomments,
                 personcomments,
                 adhocduty,
                 schedulingteamid,
                 schedulingpersonid,
                 dutydate,
                 startdate,
                 enddate,
				 SortCode,
                 aftermidnight,
                 dutycolorid,
                 ishometeam,
                 isactive,
                 iseditable,
                 isactiveduty,
                 dutyBreakTime,
				 PlannedDutyBreakTime,
                 origallocationid,
				 IsNeedCovering,
                 CreatedBy, 
                 CreatedDate,
                 UpdatedBy,
                 UpdatedDate)
          SELECT TP.AllocationsID AS allocationid,
                 AD.dutyname,
               case when isnull(AD.duration,0) = 0 then 
                case when ad.endtime > ad.starttime then ad.endtime- ad.starttime
                   when ad.endtime < ad.starttime then (86400-ad.starttime)+ad.endtime end
              else  ad.duration end as duration,
               case when isnull(AD.duration,0) = 0 then 
                case when ad.endtime > ad.starttime then ad.endtime- ad.starttime
                   when ad.endtime < ad.starttime then (86400-ad.starttime)+ad.endtime end
              else  ad.duration end AS PlannedDuration,
               TP.WeekNumber,
               TP.iday,
               case when AD.StartTime >= 86400 then ( AD.StartTime - 86400) else AD.StartTime end AS starttime,
               case when AD.EndTime > 86400 then (AD.EndTime - 86400) else AD.EndTime end AS endtime,
               AD.dutycomment,
               AD.comment,
               1,
               AD.schedulingteamid,
               CASE WHEN AL.SchedulingPersonID IS NULL THEN AD.staffid
                    ELSE 0 END AS SchedulingPersonID,
               AD.startdate,
               cast(  CASE
                 WHEN ad.starttime IS NOT NULL THEN Concat(
                 Format (ad.startdate, 'yyyy-MM-dd'),
                                  ' ', (
                                  RIGHT(
                                  '0' + Cast(Cast( case when AD.StartTime >= 86400 then ( AD.StartTime - 86400) else AD.StartTime end AS INT)
                                  / 3600
                                  AS VARCHAR )
                                  , 2)
                                  +
                                  ':'
                                  + RIGHT('0' +
                                  Cast((Cast( case when AD.StartTime >= 86400 then ( AD.StartTime - 86400) else AD.StartTime end AS INT) / 60
                                  ) % 60
                                  AS VARCHAR), 2)
                                      + ':'
                                      + RIGHT('0' +
                                  Cast(Cast( case when AD.StartTime >= 86400 then ( AD.StartTime - 86400) else AD.StartTime end AS INT) % 60
                                  AS
                                  VARCHAR ), 2)
                                        + '.000' ))
                 ELSE NULL
                 END     as datetime)              AS StartDate,
                 cast(CASE
                 WHEN ad.endtime IS NOT NULL THEN Concat(Format (CASE
                                           WHEN
                                     ( case when AD.EndTime >= 86400 then (AD.EndTime - 86400) else AD.EndTime end ) 
                                     <  ( case when AD.StartTime >= 86400 then ( AD.StartTime - 86400) else AD.StartTime end ) THEN
                                           DATEADD(DAY,1,AD.startdate)
                                           ELSE Ad.startdate
                                         END, 'yyyy-MM-dd'), ' '
                                  , (
                                  RIGHT('0' + Cast(Cast( case when AD.EndTime >= 86400 then (AD.EndTime - 86400) else AD.EndTime end AS
                                  INT) /
                                  3600 AS VARCHAR ), 2)
                                  + ':'
                                  + RIGHT('0' + Cast((Cast( case when AD.EndTime >= 86400 then (AD.EndTime - 86400) else AD.EndTime end
                                  AS INT)
                                  / 60) % 60 AS VARCHAR), 2)
                                  + ':'
                                  + RIGHT('0' + Cast(Cast( case when AD.EndTime >= 86400 then (AD.EndTime - 86400) else AD.EndTime end
                                  AS INT)
                                  % 60 AS VARCHAR ), 2)
                                  + '.000' ))
                 ELSE NULL
                 END    as datetime)               AS EndDate,
				 TP.SortCode,
               CASE WHEN AD.EndTime >= 86400 THEN 1 
                WHEN AD.EndTime < AD.StartTime THEN 1 ELSE 0 END AS aftermidnight,
               ad.dutycolourid,
               1,
               CASE WHEN AL.SchedulingPersonID IS NULL AND AD.IsNeedCovering = 0
			        THEN 0
                    ELSE 1 END AS IsActive,
               1,
               1,
               AD.BreakTime,
			   AD.BreakTime as PlannedDutyBreakTime,
               AD.adhocid,
			   AD.IsNeedCovering,
               @vuserID, 
               getutcdate(),
               @vuserID, 
               getutcdate()
            FROM adhoc_duty AD
             INNER JOIN @SPTemp TP ON AD.schedulingteamid = TP.SchedulingTeamid
                AND AD.staffid = TP.scheduledpersonid
            LEFT JOIN Allocations AL ON AL.SchedulingPersonID = AD.StaffID 
                      AND AL.SchedulingTeamId = AD.SchedulingTeamID
                      AND AL.WeekNumber = TP.WeekNumber
					  AND AL.iDay = TP.iDay
                      AND AL.SchedulingPersonID IN ( SELECT scheduledpersonid FROM @SPTEMP )
           WHERE ISNULL(AD.IsWeekCreated,0) = 0 



        IF ( @@ROWCOUNT > 0 ) 
        BEGIN        

          UPDATE AD
             SET AD.IsWeekCreated = 1              
            FROM adhoc_duty AD
           INNER JOIN @SPTemp TP ON AD.schedulingteamid = TP.SchedulingTeamid
							AND AD.staffid = TP.scheduledpersonid
							AND AD.StartDate = TP.DutyDate
          WHERE  Isnull(AD.IsWeekCreated,0)=0 

            INSERT INTO history (
                    historytype,
                    attributeid,
                    datetime,
                    userid,
                    history,
					HistorySubType
                    )   
            SELECT aht.id AS historytype,
                 al.id AS attributeid,
                 HT.datetime,
                 @vuserID,
                 HT.history,
				 'DH'
            FROM   Allocations AL
            INNER JOIN allocations_published_weeks ap ON ap.allocationid = al.allocationid
            INNER JOIN HISTORY HT ON AL.origallocationid = HT.AttributeID
			INNER JOIN @SPTemp TP ON ap.AllocationID = TP.AllocationsID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId
            INNER JOIN HistoryTypes HY ON HT.HistoryType = HY.ID,
            (SELECT id
                FROM   HistoryTypes
                WHERE  historytype = 'AllocationDuty') AHT
            WHERE AL.adhocduty = 1
              AND HY.HistoryType ='AdhocDuty'
 
         END                    
              

         INSERT INTO Allocations (   
             allocateinstanceid,
             departmentid,
             allocationid,
             dutyname,
             duration,
             PlannedDuration,
             weeknumber,
             iday,
             starttime,
             endtime,
             actinggrade,
             leaveid,
             basecode,
             backcolour,
             fontcolour,
             adhocduty,
             markedovertime,
             markedptextraday,
             markedcompleave,
             markedsickness,
             manualotamount,
             manualotexcbreaksamount,
             unallocated,
             schedulingteamid,
             schedulingpersonid,
             dutydate,
             startdate,
             enddate,
			 SortCode,
             isattention,
             aftermidnight,
             dutyprogramid,
			 DutyProgramId2,
			 DutyProgramId3,
			 DutyProgramId4,
			 DutyProgramId5,
			 DutyProgramId6,
             dutybreaktime,
			 PlannedDutyBreakTime,
             dutycolorid,
             ishometeam,
             markwiad,
             markactual,
             mannualothours,
             isactive,
             markwtd,
             iseditable,
             origallocationid,
             masterdutyid,
             isactiveduty,
             iscompareedited,
			 IsNeedCovering,
			 IsOverrideOver12,
             CreatedBy, 
             CreatedDate,
             UpdatedBy,
             UpdatedDate)
             SELECT allocateinstanceid,
                    departmentid,
                allocationid,
                dutyname,
                duration,
                duration as PlannedDuration,
                weeknumber,
                iday,
                starttime,
                endtime,
                actinggrade,
                leaveid,
                basecode,
                backcolour,
                fontcolour,
                adhocduty,
                markedovertime,
                markedptextraday,
                markedcompleave,
                markedsickness,
                manualotamount,
                manualotexcbreaksamount,
                unallocated,
                schedulingteamid,
                schedulingpersonid,
                dutydate,
                startdate,
                enddate,
				SortCode,
                isattention,
                aftermidnight,
                dutyprogramid,
			    DutyProgramId2,
			    DutyProgramId3,
			    DutyProgramId4,
			    DutyProgramId5,
			    DutyProgramId6,
                dutybreaktime,
				dutybreaktime as PlannedDutyBreakTime,
                dutycolorid,
                ishometeam,
                markwiad,
                markactual,
                mannualothours,
                isactive,
                markwtd,
                iseditable,
                origallocationid,
                masterdutyid,
                isactiveduty,
                iscompareedited,
				IsNeedCovering,
				IsOverrideOver12,
                @vuserID, 
                getutcdate(),
                @vuserID, 
                getutcdate()
             FROM 
          (
            SELECT 0                     AS allocateinstanceid,
                 0                     AS departmentid,
                 AllocationsID        AS allocationid,
                 'U'                   AS dutyname,
                 0                     AS duration,
                 weeknumber        AS weeknumber,
                 iday              AS iday,
                 NULL                  as starttime,
                 NULL                  as endtime,
                 0                     AS actinggrade,
                 0                     AS leaveid,
                 0                     AS basecode,
                 null                  AS backcolour,
                 null                  AS fontcolour,
                 0                     AS adhocduty,
                 0                     AS markedovertime,
                 0                     AS markedptextraday,
                 0                     AS markedcompleave,
                 0                     AS markedsickness,
                 0                     AS manualotamount,
                 0                     AS manualotexcbreaksamount,
                 1                     AS unallocated,
                 SchedulingTeamId,
                 scheduledpersonid AS SchedulingPersonID,
                 dutydate          AS Dutydate,
                 null                  AS startdate,
                 NULL                  AS enddate,
				 SortCode			   as SortCode,
                 0                     AS isattention,
                 0                     AS aftermidnight,
                 0                     AS dutyprogramid,
                 0                     AS dutyprogramid2,
                 0                     AS dutyprogramid3,
                 0                     AS dutyprogramid4,
                 0                     AS dutyprogramid5,
                 0                     AS dutyprogramid6,
                 0                     AS dutybreaktime,
                 0                     AS dutycolorid,
                 ishometeam        AS ishometeam,
                 0                     AS markwiad,
                 0                     AS markactual,
                 0                     AS mannualothours,
                 1                     AS isactive,
                 0                     AS markwtd,
                 1                     AS iseditable,
                 0                     AS origallocationid,
                 0                     AS masterdutyid,
                 0                     AS isactiveduty,
                 0                     AS iscompareedited,
				 1                     as IsNeedCovering,
				 1                     AS IsOverrideOver12
            FROM   @SPTemp
           ) FD WHERE NOT EXISTS (  SELECT 1 
									  FROM Allocations AL
									 WHERE Al.SchedulingTeamId = FD.schedulingteamid
									   AND AL.WeekNumber = FD.weeknumber 
									   AND AL.iDay =  FD.iday 
									   AND AL.SchedulingPersonID = FD.SchedulingPersonID )   

					 
		IF EXISTS ( SELECT TOP 1 * 
		              FROM @TempAllocations
					 WHERE ( LeaveStartTime > 0 OR LeaveEndTime > 0 )  
				  )   
		BEGIN

			UPDATE AL
			   SET AL.LeaveStartTime = TAL.LeaveStartTime,
			       AL.LeaveEndTime = TAL.LeaveEndTime,
				   AL.LeaveID = TAL.LeaveID
			  FROM Allocations AL
			 INNER JOIN @TempAllocations TAL ON TAL.schedulingteamid = AL.SchedulingTeamId
											AND TAL.schedulingpersonid = AL.SchedulingPersonID
											AND TAL.weeknumber = AL.WeekNumber
											AND TAL.iday = AL.iDay
			 WHERE AL.Duration > 0
			   AND ( TAL.LeaveStartTime > 0 OR TAL.LeaveEndTime > 0 )

				declare @aftermidnight int = 0		   					  


				UPDATE TL
				SET TL.allocationid = AL.ID
				FROM Allocations AL
				INNER JOIN @TempAllocations TL ON AL.WeekNumber = TL.weeknumber
											  AND AL.iDay = TL.iday
											  AND AL.SchedulingTeamId = TL.SchedulingTeamId
				WHERE ISNULL(AL.SchedulingPersonID,0) = 0 
				AND AL.DutyName IS NULL

				UPDATE AJ 
				SET AJ.AllocationID = TL.allocationid
				FROM Allocations_jobs AJ
				INNER JOIN Allocations AL ON AL.ID = AJ.AllocationID
				INNER JOIN @TempAllocations TL ON AL.WeekNumber = TL.weeknumber
											  AND AL.iDay = TL.iday
											  AND AL.SchedulingTeamId = TL.SchedulingTeamId
				WHERE CASE WHEN aj.aftermidnight = 1 AND aj.StartTime < aj.EndTime THEN aj.StartTime + 86400
						ELSE aj.StartTime END < CASE WHEN tl.LeaveStartTime > tl.LeaveEndTime THEN tl.LeaveEndTime +86400 
										WHEN @aftermidnight = 1 THEN tl.LeaveEndTime +86400  
										ELSE tl.LeaveEndTime END
				AND CASE WHEN TL.StartTime > TL.EndTime THEN TL.EndTime + 86400 
						WHEN TL.aftermidnight = 1 AND TL.StartTime < TL.EndTime THEN TL.EndTime + 86400 
						ELSE TL.EndTime END > CASE WHEN @aftermidnight = 1 AND TL.LeaveStartTime  < TL.LeaveEndTime THEN TL.LeaveStartTime + 86400
													ELSE TL.LeaveStartTime END
				AND AJ.isActive=1
				AND AJ.JobName <> 'Leave'


			INSERT INTO Allocations_jobs(
					AllocationID,WeekNumber,
					iDay,Contact,Location,JobName,StartTime,EndTime,JobBackColour,JobFontColour,
					schedulingTeamId,SchedulingPersonID,isActive,isEdited,ProgrammeId,Job_Info,
					aftermidnight,UnAllocated)
			SELECT  ID,0,0,NULL,NULL, 'Leave',TAL.LeaveStartTime,
					TAL.LeaveEndTime,NULL,NULL,
					0,0,1,0,0,NULL,
					CASE WHEN AL.aftermidnight = 1 AND TAL.LeaveEndTime BETWEEN 0 AND AL.EndTime
					     THEN 1 ELSE 0 END,
					0
			  FROM  Allocations AL
			 INNER JOIN @TempAllocations TAL ON TAL.schedulingteamid = AL.SchedulingTeamId
											AND TAL.schedulingpersonid = AL.SchedulingPersonID
											AND TAL.weeknumber = AL.WeekNumber
											AND TAL.iday = AL.iDay
			 WHERE AL.Duration > 0
			   AND ( TAL.LeaveStartTime > 0 OR TAL.LeaveEndTime > 0 );
		
		END					         

 
            UPDATE AL
             SET al.DutyName = TAL.DutyName , al.Duration = TAL.Duration, 
               al.StartTime = TAL.StartTime , al.EndTime = TAL.EndTime , 
               AL.DutyComments = TAL.DutyComments , AL.BackColour = TAL.BackColour , 
               al.FontColour = TAL.FontColour , al.AdhocDuty = TAL.AdhocDuty , 
               al.StartDate = TAL.StartDate , al.EndDate = TAL.EndDate , 
               al.dutyProgramId = TAL.dutyProgramId , al.dutyBreakTime = TAL.dutyBreakTime , 
               al.dutyColorId = TAL.dutyColorId , al.MasterDutyId = TAL.MasterDutyId,
               al.isEdited = tal.isEdited, AL.markwiad = TAL.markwiad,
               AL.aftermidnight = TAL.aftermidnight,               
               AL.MArkactual = TAL.markactual,
               AL.PlannedDuration = TAL.PlannedDuration,
			   AL.PlannedDutyBreakTime = TAL.PlannedDutyBreakTime,
			   al.MarkedOvertime =TAL.MarkedOvertime, 
			   al.ManualOTAmount=TAL.ManualOTAmount, 
               al.MannualOThours =TAL.MannualOThours,
			   AL.LeaveID = TAL.LeaveID,
               AL.DutyTeamID = CASE WHEN ISNULL(TAL.DutyTeamID,0) > 0 then TAL.DutyTeamID
                                    ELSE TAL.SchedulingTeamId END,
               AL.UpdatedBy = @vuserID,
               AL.UpdatedDate = getutcdate()                          
             FROM  Allocations AL 
            INNER JOIN Allocations TAL ON AL.WeekNumber = TAL.WeekNumber  
							          AND AL.iday = TAL.iDAy
									  AND AL.SchedulingPersonID = TAL.SchedulingPersonID
			INNER JOIN @SPTemp TP ON TP.AllocationsID = AL.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId
            WHERE TAL.dutyname <> 'U'
			AND TAL.SchedulingTeamId <> AL.SchedulingTeamId          
			AND TAL.ishometeam = 1
			AND AL.ishometeam = 0
            
            UPDATE AL
             SET al.DutyName = TAL.DutyName , al.Duration = TAL.Duration, 
               al.StartTime = TAL.StartTime , al.EndTime = TAL.EndTime , 
               AL.DutyComments = TAL.DutyComments , AL.BackColour = TAL.BackColour , 
               al.FontColour = TAL.FontColour , al.AdhocDuty = TAL.AdhocDuty , 
               al.StartDate = TAL.StartDate , al.EndDate = TAL.EndDate , 
               al.dutyProgramId = TAL.dutyProgramId , al.dutyBreakTime = TAL.dutyBreakTime , 
               al.dutyColorId = TAL.dutyColorId , al.MasterDutyId = TAL.MasterDutyId,
               al.isEdited = tal.isEdited, AL.markwiad = TAL.markwiad,
               AL.aftermidnight = TAL.aftermidnight,
               AL.MArkactual = TAL.markactual,
               AL.PlannedDuration = TAL.PlannedDuration,
			   AL.PlannedDutyBreakTime = TAL.PlannedDutyBreakTime,
			   al.MarkedOvertime =TAL.MarkedOvertime, 
			   al.ManualOTAmount=TAL.ManualOTAmount, 
               al.MannualOThours =TAL.MannualOThours,
			   AL.LeaveID = TAL.LeaveID,
               AL.DutyTeamID = CASE WHEN ISNULL(TAL.DutyTeamID,0) > 0 then TAL.DutyTeamID
                                    ELSE TAL.SchedulingTeamId END,
               AL.UpdatedBy = @vuserID,
               AL.UpdatedDate = getutcdate()                          
             FROM  Allocations AL 
             INNER JOIN Allocations TAL ON AL.WeekNumber = TAL.WeekNumber  
										AND AL.iday = TAL.iDAy
										AND AL.SchedulingPersonID = TAL.SchedulingPersonID
			INNER JOIN @SPTemp TP ON TP.AllocationsID = TAL.AllocationID
								 AND TP.WeekNumber = TAL.WeekNumber
								 AND TP.iDay = TAL.iDay
								 AND TP.scheduledpersonid = TAL.SchedulingPersonID
								 AND TP.SchedulingTeamid = TAL.SchedulingTeamId
            WHERE AL.SchedulingTeamId <> TAL.SchedulingTeamId
            AND AL.ishometeam = 0
            AND TAL.ishometeam = 1            
            AND TAL.dutyname <> 'U'
  
			
            UPDATE AL
             SET al.DutyName = TAL.DutyName , al.Duration = TAL.Duration, 
               al.StartTime = TAL.StartTime , al.EndTime = TAL.EndTime , 
               AL.DutyComments = TAL.DutyComments , AL.BackColour = TAL.BackColour , 
               al.FontColour = TAL.FontColour , al.AdhocDuty = TAL.AdhocDuty , 
               al.StartDate = TAL.StartDate , al.EndDate = TAL.EndDate , 
               al.dutyProgramId = TAL.dutyProgramId , al.dutyBreakTime = TAL.dutyBreakTime , 
               al.dutyColorId = TAL.dutyColorId , al.MasterDutyId = TAL.MasterDutyId,
               al.isEdited = tal.isEdited, AL.markwiad = TAL.markwiad,
               AL.aftermidnight = TAL.aftermidnight,               
               AL.MArkactual = TAL.markactual,
               AL.PlannedDuration = TAL.PlannedDuration,
			   AL.PlannedDutyBreakTime = TAL.PlannedDutyBreakTime,
			   al.MarkedOvertime =TAL.MarkedOvertime, 
			   al.ManualOTAmount=TAL.ManualOTAmount, 
               al.MannualOThours =TAL.MannualOThours,
			   AL.LeaveID = TAL.LeaveID,
               AL.DutyTeamID = CASE WHEN ISNULL(TAL.DutyTeamID,0) > 0 then TAL.DutyTeamID
                                    ELSE TAL.SchedulingTeamId END,
               AL.UpdatedBy = @vuserID,
               AL.UpdatedDate = getutcdate()                          
             FROM  Allocations AL 
            INNER JOIN Allocations TAL ON AL.WeekNumber = TAL.WeekNumber  
									  AND AL.iday = TAL.iDAy
									  AND AL.SchedulingPersonID = TAL.SchedulingPersonID
			INNER JOIN @SPTemp TP ON TP.AllocationsID = AL.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId
            WHERE TAL.dutyname <> 'U'
            AND TAL.SchedulingTeamId <> AL.SchedulingTeamId
			AND TAL.ishometeam = 0
			AND TAL.MarkActual = 1
			AND ( ISNULL(TAL.DutyTeamID,0) = 0 OR ISNULL(TAL.DutyTeamID,0) = TAL.SchedulingTeamId )
			AND AL.ishometeam = 1

                IF EXISTS ( SELECT TOP 1 AL.SchedulingPersonID
                              FROM Allocations AL (NOLOCK)
                             INNER JOIN ScheduledPersonTeam_LINK STL ON STL.ScheduledPersonID = al.SchedulingPersonID
                             INNER JOIN schedulingTeams ST ON ST.schedulingTeamId = STL.TeamID
                            INNER JOIN @SPTemp TP ON TP.AllocationsID = AL.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId
                             WHERE ST.schedulingTeamName in ('Other BBC', 'Freelancers')
                               AND STL.IsHomeTeam = 1
                               AND AL.DutyDate BETWEEN ISNULL(STL.StartDate, AL.DutyDate)
                                                     AND ISNULL(STL.EndDate,AL.DutyDate)                   
                            )
                 BEGIN

                     DECLARE CUR_FR CURSOR FOR
                     SELECT DISTINCT AL.SchedulingPersonID,
									 AL.WeekNumber,
									 AL.SchedulingTeamId
                              FROM Allocations AL (NOLOCK)
                             INNER JOIN ScheduledPersonTeam_LINK STL ON STL.ScheduledPersonID = al.SchedulingPersonID
                             INNER JOIN schedulingTeams ST ON ST.schedulingTeamId = STL.TeamID
                             INNER JOIN @SPTemp TP ON TP.AllocationsID = AL.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId
                             WHERE ST.schedulingTeamName in ('Other BBC', 'Freelancers')
                               AND STL.IsHomeTeam = 1
                               AND AL.DutyDate BETWEEN STL.StartDate AND STL.EndDate

                        OPEN CUR_FR

                       FETCH NEXT FROM CUR_FR INTO @FRSPID,
												   @weeknumber,
												   @TeamID

                    WHILE @@FETCH_STATUS = 0
                     BEGIN

                       SELECT  TOP 1 @FRTeamID = AL.SchedulingTeamId
                         FROM  Allocations AL
                        WHERE  weeknumber = @weekNumber
                          AND  SchedulingTeamId <> @teamId
                          AND  SchedulingPersonID = @FRSPID
  
                          IF ( ISNULL(@FRTeamID,0) > 0 )
                           BEGIN
                            UPDATE AL
                               SET al.DutyName = TAL.DutyName , al.Duration = TAL.Duration, 
                                   al.StartTime = TAL.StartTime , al.EndTime = TAL.EndTime , 
                                   AL.DutyComments = TAL.DutyComments , AL.BackColour = TAL.BackColour , 
                                   al.FontColour = TAL.FontColour , al.AdhocDuty = TAL.AdhocDuty , 
                                   al.StartDate = TAL.StartDate , al.EndDate = TAL.EndDate , 
                                   al.dutyProgramId = TAL.dutyProgramId , al.dutyBreakTime = TAL.dutyBreakTime , 
                                   al.dutyColorId = TAL.dutyColorId , al.MasterDutyId = TAL.MasterDutyId,
                                   al.isEdited = tal.isEdited, AL.markwiad = TAL.markwiad,
                                   AL.aftermidnight = TAL.aftermidnight,
                                   AL.MArkactual = TAL.markactual,
                                   AL.PlannedDuration = TAL.PlannedDuration,   
								   AL.PlannedDutyBreakTime = TAL.PlannedDutyBreakTime,
								   al.MarkedOvertime =TAL.MarkedOvertime, 
								   al.ManualOTAmount=TAL.ManualOTAmount, 
								   al.MannualOThours =TAL.MannualOThours,           
                                   AL.DutyTeamID = CASE WHEN ISNULL(TAL.DutyTeamID,0) > 0 then TAL.DutyTeamID
                                                        ELSE TAL.SchedulingTeamId END,
                                   AL.UpdatedBy = @vuserID,
                                   AL.UpdatedDate = getutcdate()
                             FROM  Allocations AL 
                             INNER JOIN Allocations TAL  ON AL.WeekNumber = TAL.WeekNumber  
														AND AL.iday = TAL.iDAy
														AND AL.SchedulingPersonID = TAL.SchedulingPersonID
                              WHERE AL.SchedulingTeamId = @teamId
                                AND AL.weeknumber = @weekNumber          
                                AND TAL.dutyname <> 'U'
                                AND TAL.SchedulingTeamId = @FRTeamID
                                AND AL.SchedulingPersonID = @FRSPID                    
                          END
                        FETCH NEXT FROM CUR_FR INTO @FRSPID,@weeknumber,@TeamID
                    END

                  CLOSE CUR_FR;

                  DEALLOCATE CUR_FR; 

                 END                                             


          UPDATE AL
             SET AL.markwiad = TAL.markwiad,
                 AL.MArkactual = TAL.markactual,
                 AL.UpdatedBy = @vuserID,
                 AL.UpdatedDate = getutcdate()  
            FROM Allocations AL 
           INNER JOIN Allocations TAL ON AL.WeekNumber = TAL.WeekNumber  
                                     AND AL.iday = TAL.iDAy
                                     AND AL.SchedulingPersonID = TAL.SchedulingPersonID      
			INNER JOIN @SPTemp TP ON TP.AllocationsID = AL.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId									 
            WHERE TAL.dutyname = 'U'
              AND TAL.SchedulingTeamId <> AL.SchedulingTeamId
              AND ( TAL.MArkWIAD = 1 OR TAL.MarkActual = 1)
              AND AL.ishometeam = 0
              AND TAL.ishometeam = 1

   
    -- Create Allocation history Start

          INSERT INTO history
                (
                  historytype,
                  attributeid,
                  datetime,
                  userid,
                  history,
				  HistorySubType
                )   
          SELECT ht.id AS historytype,
               al.id AS attributeid,
               getdate(),
               @vuserID,
               'Created '
               + ' On ' + FORMAT(Getdate(),'dd/MM/yyyy') + ' '
               + FORMAT(Getdate(),'HH:mm')
               + ' By ' + @vname 
			   + CASE WHEN ISNULL(AL.SchedulingPersonID,0) = 0 THEN ' in unallocated section'
			          WHEN AL.SchedulingPersonID > 0 
					   AND AL.DutyName NOT like '%Leave%'
					  THEN ' assigned to '+sp.DisplayName
					  ELSE '' END
			   + '. Duty: ' + dutyname 		   
			   +'.',
			   CASE WHEN AL.DutyName='U' THEN 'PH'
			        WHEN AL.DutyName like '%Leave' THEN 'PH'
			        WHEN ISNULL(AL.SchedulingPersonID,0) = 0 THEN 'DH'
					ELSE 'CH' END
          FROM   Allocations AL
          INNER JOIN allocations_published_weeks ap ON ap.allocationid = al.allocationid
			INNER JOIN @SPTemp TP ON TP.AllocationsID = ap.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId
		  INNER JOIN ScheduledPeople SP on SP.ScheduledPersonID = al.SchedulingPersonID,
               (SELECT id
              FROM   HistoryTypes
              WHERE  historytype = 'AllocationDuty') HT


				  INSERT INTO history
						(
						  historytype,
						  attributeid,
						  datetime,
						  userid,
						  history,
						  HistorySubType
						)   
				  SELECT ht.id AS historytype,
					   al.id AS attributeid,
					   hty.[datetime],
					   HTY.userid,
					   HTY.history,			   
					   'PH'
				  FROM   Allocations AL
				  INNER  JOIN LeaveApplications LA ON AL.SchedulingPersonID = LA.SchedulingPersonID 
				          AND AL.DutyDate = LA.dDate
				  INNER JOIN ScheduledPeople SP on SP.ScheduledPersonID = al.SchedulingPersonID
				  INNER JOIN @SPTemp TP ON TP.AllocationsID = AL.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId
				  INNER  JOIN History HTY ON HTY.AttributeID = LA.ID
				  INNER  JOIN HistoryTypes HTP ON HTP.id = HTY.HistoryType,
				  ( SELECT id
					  FROM HistoryTypes
					 WHERE historytype = 'AllocationDuty') HT
				  WHERE HTP.historytype = 'LeaveApplication'
					AND LA.Deleted = 0	
    
    -- Create Allocation history End

    -- Create Job history Start   
    
        INSERT INTO history
              (
                    historytype,
                    attributeid,
                    datetime,
                    userid,
                    history
              )
        SELECT     ht.id AS historytype,
               aj.id AS attributeid,
               getdate(),
               @vuserID,
               'New Job created by '+@vname+' On '+ FORMAT(Getdate(),'dd/MM/yyyy HH:mm')+'.'
        FROM  allocations_jobs aj
        INNER JOIN allocations al ON al.id=aj.allocationid
		INNER JOIN @SPTemp TP ON TP.AllocationsID = AL.AllocationID
								 AND TP.WeekNumber = AL.WeekNumber
								 AND TP.iDay = AL.iDay
								 AND TP.scheduledpersonid = AL.SchedulingPersonID
								 AND TP.SchedulingTeamid = AL.SchedulingTeamId,
               ( SELECT id
                 FROM   historytypes
                WHERE  historytype='AllocationJobs') ht  
                    
        -- Update additional person in other team End     
        
         IF ( @@TRANCOUNT > 0 ) 
          BEGIN
           COMMIT  TRANSACTION 
          END     
              
            RETURN 1
          
        END TRY
         
        BEGIN CATCH
          
          ROLLBACK  TRANSACTION  
          
          IF ( ERROR_NUMBER() = 51000 )
          BEGIN
             RETURN 1
          END
          
          select ERROR_MESSAGE()
          RETURN 0
          
        END CATCH;  
    END    
END