USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ShiftLeaderRecordById]    Script Date: 05/07/2021 19:02:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_ShiftLeaderRecordById]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GET_ShiftLeaderRecordById]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Arvind Kumar
-- Create date: 18/06/2021
-- Description:	SP to fetch all public holidays.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_ShiftLeaderRecordById]
@id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		IF @id = 0
		SET @id = NULL
		 IF @id IS NOT NULL
			BEGIN
				 SELECT        S.description, 
							S.DepartmentID, 
							S.SchedulingTeamId,
							S.Telephone, 
							S.BackColour,
							ST.schedulingTeamName 
				 FROM          shiftleadertypes  S
				INNER JOIN    schedulingTeams ST ON S.SchedulingTeamId = ST.schedulingTeamId
				WHERE        (S.ID = @id)
			END	
END
GO
