USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_StaffDetailsByStaffID]    Script Date: 11/06/2022 19:35:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE  [dbo].[usp_get_StaffDetailsByStaffID]
	-- Add the parameters for the stored procedure here navi
	@staffID INT = 0 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
   -- interfering with SELECT statements.
    SET NOCOUNT ON;

 

    -- Insert statements for procedure here
    SELECT CASE WHEN (sp.DisplayName IS NULL) THEN CASE WHEN (sd.PreferredForename IS NULL or sd.PreferredForename = '')
                THEN (sd.Forename + ' ' + sd.Surname) ELSE (sd.PreferredForename + ' ' + sd.Surname)    END
        ELSE sp.DisplayName END AS userDisplayName,sd.NetLogin,spo.JobTitle,sd.StaffNumber
     from StaffDetails sd 
	LEFT JOIN StaffPosition AS spo ON spo.StaffID = sd.StaffID  AND CAST(GETDATE() AS Date) BETWEEN spo.StartDate AND ISNULL(spo.EndDate, CAST(GETDATE() AS Date)) and spo.IsActive = 1
	LEFT join ScheduledPeople sp on sp.StaffDetailsID = sd.StaffID
	WHERE sd.StaffID =@staffID 
END

