USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_DailyAllocationWeekandDay]    Script Date: 26/11/2021 11:32:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_DailyAllocationWeekandDay]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N'  PROCEDURE [dbo].[usp_get_DailyAllocationWeekandDay]
@Date varchar(50)

AS
BEGIN
SET NOCOUNT ON;


    SELECT ixYearWeek, ixDayInWeek, ixYear, ixWeekInYear, sDayName from TimeDimension where dDateTime=CONVERT(datetime,@Date, 101);


END
'
EXEC dbo.sp_executesql @strSQL

GO