USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_fetch_approvedrequest_by_id]    Script Date: 29/06/2022 21:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_fetch_approvedrequest_by_id]
	-- Add the parameters for the stored procedure here
	@requestId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT Requests.Login,Requests.Unlikely, Requests.dDate, Requests.UserComments, Requests.Comments,Requests.Approved,Requests.ScheduledPersonID,Requests.RequestType,LeaveRequestGroups.ID as GroupID,Requests.NotPossible, CASE WHEN (sp.DisplayName IS NULL) THEN CASE WHEN (Staff.PreferredForename IS NULL or Staff.PreferredForename = ' ')
    THEN (Staff.Forename + ' ' + Staff.Surname) ELSE (Staff.PreferredForename + ' ' + Staff.Surname) END
    ELSE sp.DisplayFirstName + ' ' + sp.DisplayLastName END AS FullName, Staff.InternalEmail AS RequesterEmail, RequestTypes.description + ' (' + LeaveRequestGroups.Description + ')' AS Description, LeaveRequestGroups.emailcopiesto AS EmailCC, LeaveRequestGroups.email AS EmailFrom
    FROM LeaveRequestGroups (NOLOCK)
    INNER JOIN RequestTypes (NOLOCK) ON LeaveRequestGroups.ID = RequestTypes.GroupID 
    RIGHT OUTER JOIN Requests (NOLOCK) ON RequestTypes.ID = Requests.RequestType
    INNER JOIN ScheduledPeople as sp (NOLOCK) ON sp.ScheduledPersonID=Requests.ScheduledPersonID 
    LEFT JOIN StaffDetails as Staff (NOLOCK) ON sp.StaffDetailsID = Staff.StaffID
    WHERE (Requests.ID = @requestId)
END