USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_RotasByPerson]    Script Date: 20/08/2025 20:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_get_RotasByPerson]
	-- Add the parameters for the stored procedure here
	@ScheduledPersonID	INT,
	@date			DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @WeekLineStart		int,
			@currweek			int,
			@currRotaWeek		int,
			@startweek			datetime,
			@NoWeeksInRota		int,
			@rotaStartWeek		int,
			@rotaid				int;

		select @rotaid = mr.RotaID, 
			  @NoWeeksInRota = mr.WeeksInRota, 
			  @rotaStartWeek = mr.RotaStartWeek
		from MasterRotas mr (NOLOCK)
		inner join RotaPeople rp (NOLOCK) on rp.RotaID = mr.RotaID
		where rp.ScheduledPersonID = @ScheduledPersonID 
		and getdate() between StartDate and EndDate;

-- Create temp table to get rota first week from current date
		DECLARE @TempRotaWeek TABLE 
							(RotaID INT, 
							ixYearWeek INT,
							RotaWeek INT)

		insert into @TempRotaWeek
		SELECT @rotaid RotaID, 
				T11.ixYearWeek, 
				dbo.GetWeekofRota(@NoWeeksInRota, @rotaStartWeek, T11.ixYearWeek) as RotaWeek
		FROM dbo.TimeDimension T11 (NOLOCK)
		WHERE T11.dDateTime BETWEEN DATEADD(Week, -(@NoWeeksInRota), GETDATE()) AND DATEADD(MM, 24, GETDATE()) 
		  AND ixDayInWeek = 0
		ORDER BY T11.ixYearWeek

    SET @currweek = 0
	SET @currRotaWeek = 0


	SELECT @currweek = ixYearWeek
	FROM TimeDimension (NOLOCK)
	WHERE dDateTime =  @date;

	SELECT @currRotaWeek = dbo.GetWeekofRota(T1.WeeksInRota, T1.RotaStartWeek, @currweek)
	FROM MasterRotas T1
	WHERE T1.rotaid = (select RotaID 
						from RotaPeople (NOLOCK) 
						where ScheduledPersonID = @ScheduledPersonID 
						and IsActive=1 
						and @date between StartDate and EndDate) 
	

	SELECT @startweek = dDateTime
	FROM TimeDimension (NOLOCK)
	WHERE ixYearWeek = dbo.SubtractWeeks(@currweek, (@currRotaWeek - 1)) and  ixDayInWeek = 0;

		SELECT T4.RotaID,
			   T4.RotaName,
			   T4.WeeksInRota,
			   CONVERT(VARCHAR(10),T4.RotaStartDate,103) as RotaStartDate,
			   T4.RotaStartWeek,
			   T3.RotaPeopleID,
			   T3.RotaWeek,
			   CONVERT(VARCHAR(10),T3.StartDate,103) as RotaPersonStartDate,
			   CONVERT(VARCHAR(10),T3.EndDate,103) as RotaPersonEndDate,
			   ud.UD_TeampayStaffID StaffID,
			   ud.UD_DisplayFirstName as Forename,
			   ud.UD_DisplayLastName as Surname,
			   0 as EFT,
			   rw.RotaWeek as WeekLineStart,
			   CONVERT(VARCHAR(10),@startweek,103) AS BBCStartWeek,
			   @currRotaWeek AS currRotaWeek
		FROM RotaPeople T3 (NOLOCK)
		RIGHT JOIN MasterRotas T4 (NOLOCK) ON T4.RotaID = T3.RotaID and T4.IsActive = 1
		LEFT JOIN UserDetails ud(NOLOCK) on ud.UD_UserID=t3.ScheduledPersonID
		LEFT JOIN TimeDimension td (NOLOCK) on  convert(datetime,td.dDateTime,110) = convert(datetime,convert(Varchar(30),T3.StartDate,110),110)
		LEFT JOIN @TempRotaWeek rw on rw.RotaID = T4.RotaID and rw.ixYearWeek = td.ixYearWeek
	WHERE ud.UD_UserID = @ScheduledPersonID and T3.IsActive = 1 and convert(datetime,T3.EndDate,110) >= convert(datetime,getdate(),110)
	ORDER BY T3.StartDate ASC

END