USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_OrganisationRelation]    Script Date: 3/12/2026 10:30:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_Import_AL_A7_REF_OrganisationRelation]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_OrganisationRelation];
		
		--Update existing records
		UPDATE T1
		SET T1.[OrgDescription] = T2.[OrgDescription]
		    ,T1.[ShortOrgDescription] = T2.[ShortOrgDescription]
			  ,T1.[CostCentre] = T2.[CostCentre]
			  ,T1.[ReportingToOrgUnit] = T2.[ReportingToOrgUnit]
			  ,T1.[OrgLevel] = T2.[OrgLevel]
			  ,T1.[IsLowestLevel] = T2.[IsLowestLevel]
			  ,T1.[CreatedDate] = T2.[CreatedDate]
			  ,T1.[LastModDate] = T2.[LastModDate]
			  ,T1.[LastModBy] = T2.[LastModBy]
			  ,T1.[History] = T2.[History]
			  ,T1.[StartDate] = T2.[StartDate]
			  ,T1.[EndDate] = T2.[EndDate]
			  ,T1.[IsActive] = T2.[IsActive]
		FROM [REF_OrganisationRelation] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_OrganisationRelation] T2 ON T1.OrgUnit = T2.OrgUnit
		WHERE T1.OrgUnit = T2.OrgUnit
		
		--Insert new records
		INSERT INTO [REF_OrganisationRelation] (
			   [OrgUnit]
			  ,[OrgDescription]
			  ,[ShortOrgDescription]
			  ,[CostCentre]
			  ,[ReportingToOrgUnit]
			  ,[OrgLevel]
			  ,[IsLowestLevel]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			  ,[StartDate]
			  ,[EndDate]
			  ,[IsActive]
			)  
		SELECT [OrgUnit]
			  ,[OrgDescription]
			  ,[ShortOrgDescription]
			  ,[CostCentre]
			  ,[ReportingToOrgUnit]
			  ,[OrgLevel]
			  ,[IsLowestLevel]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			  ,[StartDate]
			  ,[EndDate]
			  ,[IsActive]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_OrganisationRelation] T2 
		  WHERE NOT EXISTS (SELECT T1.OrgUnit FROM [REF_OrganisationRelation] T1 
		  WHERE T1.OrgUnit = T2.OrgUnit)
        
END
