USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_setUsersPermissions]    Script Date: 24/09/2025 13:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE  [dbo].[usp_mod_setUsersPermissions]  
	-- Add the parameters for the stored procedure here
	 @userid INT,
	 @teamid INT,
	 @roleid INT,
	 @action Varchar(90),
	 @currentuser INT,
	 @actionvalue INT,
	 @modulename VARCHAR(200),
	 @currentusername VARCHAR(50),
	 @schedulpersonid INT
	 
AS
BEGIN

	SET NOCOUNT ON;

	
	IF (@currentusername = '' or  @currentusername = null)
	  BEGIN
		SELECT @currentusername = UD_DisplayName 
		 FROM UserDetails   u (nolock)
		where u.UD_UserID = @currentuser
	  END
	
	DECLARE @err int, 
			@rows int, 
			@HistoryStart nvarchar(max),
			@historytype int,
			@strhometeamendDate DATE,
			@status	VARCHAR(20),
			@returnstring VARCHAR(1000),
			@rolename VARCHAR(200),
			@UpdateDateTime datetime;

	SET @status = 'success'
	SET @UpdateDateTime = GETDATE()
	set @strhometeamendDate = cast('9999-01-01' as date)
	
	 SELECT @rolename = RoleName 
	  From REF_Roles 
	  where RoleID = @roleid
	
	select @strhometeamendDate = DATEADD(day, -1, st.StartDate) 
	 from UserDetails ud (NOLOCK) 
	 JOIN ScheduledPersonTeam_LINK st (NOLOCK) on st.ScheduledPersonID = ud.UD_UserID
	where ud.UD_UserID = @userid 
	  and st.TeamID = @teamid 
	  and st.StartDate > CAST(getdate()  AS date)
	  and ISNULL(st.EndDate,'9999-01-01') >= CAST(getdate()  AS date)

	if(@strhometeamendDate = '' or @strhometeamendDate = null)
	BEGIN
		set @strhometeamendDate = cast('9999-01-01' as date)
	END

    -- Insert user team role permissions
	BEGIN TRANSACTION


	if @action = 'rolepermission'
	BEGIN

	 if @actionvalue = 1		
		BEGIN
			--first delete
			UPDATE ur 
			   set ur.UR_EndDate = CAST(DATEADD(DAY, -1, getdate())  AS date)
			FROM UserRoles  ur
			JOIN REF_Roles rr ON rr.RoleID = ur.UR_RoleID
			WHERE UR_UserID = @userid 
			 AND UR_SchedulingTeamID = @teamid  
			 AND rr.isAdditional = 0
			 and isnull(ur.UR_EndDate, '9999-01-01') >= CAST(getdate()  AS date)

			
			--thn assign record
					IF @roleid > 0
						BEGIN
							INSERT INTO [dbo].[UserRoles]
										   ([UR_UserID]
										   ,[UR_SchedulingTeamID]
										   ,[UR_RoleID]
										   ,[UR_StartDate]
										   ,[UR_EndDate]
										   ,[UR_CreatedBy]
										   ,[UR_CreatedDate]
										   ,[UR_DivisionId])
									 VALUES
									( @userid,
									  @teamid,
									  @roleid,
									  CAST(GETDATE() AS date),
									  '9999-01-01',
									   @userid,
									   getdate(),
									   NULL)

							SET @HistoryStart  = @rolename + ' role assigned  by ' 
												+ @currentusername + ' on ' 
												+ CONVERT(VARCHAR, GETDATE(), 103) + ' at ' 
												+ CONVERT(VARCHAR(5),getdate(),108) + '.'

								SELECT @err = @@ERROR, @rows = @@ROWCOUNT

										IF @err <> 0 
											BEGIN
												ROLLBACK TRANSACTION
												SET @status = 'error'
												SET @returnstring = 'Error saving the Role Details.'
												RETURN 0
											END
										IF @rows = 0 
											BEGIN
												ROLLBACK TRANSACTION
												SET @status = 'error'
												SET @returnstring = 'Error saving the  Role Details.'
												RETURN 0
											END
			END		 
		END		
	END

	IF @action = 'additionalpermission'
	 BEGIN
	
		IF @actionvalue = 1
		  BEGIN

			INSERT INTO [dbo].[UserRoles]
						([UR_UserID]
						,[UR_SchedulingTeamID]
						,[UR_RoleID]
						,[UR_StartDate]
						,[UR_EndDate]
						,[UR_CreatedBy]
						,[UR_CreatedDate]
						,[UR_DivisionId])
				VALUES ( @userid,
							@teamid,
							@roleid,
							CAST(getdate() AS DATE),
							@strhometeamendDate,
							@userid,
							getdate(),
							NULL
						)
			 
				SET @HistoryStart  = @rolename 
									+ ' permission assigned  by ' 
									+  @currentusername + ' on ' 
									+  CONVERT(VARCHAR, GETDATE(), 103) 
									+ ' at ' 
									+ CONVERT(VARCHAR(5),getdate(),108) +'.'
		 END
	 ELSE
		 BEGIN
			update UserRoles 
			   set UR_EndDate = CAST(DATEADD(DAY, -1, getdate())  AS date)
			WHERE UR_UserID = @userid 
			  AND UR_SchedulingTeamID = @teamid 
			  and UR_RoleID = @roleid
			  and isnull(UR_EndDate, '9999-12-01') >= CAST(getdate() AS DATE)

			SET @HistoryStart  = @rolename + ' permission removed  by ' 
								 +  @currentusername + ' on ' 
								 +  CONVERT(VARCHAR, GETDATE(), 103) + ' at ' 
								 + CONVERT(VARCHAR(5),getdate(),108) +'.'
		 END
	END

	IF @action = 'rotapermission'
	 BEGIN

		Update ScheduledPersonTeam_LINK 
		   SET rota = @roleid 
		 where ScheduledPersonID = @schedulpersonid 
		   and TeamID = @teamid

		declare @rotavlue varchar(10)
	
		IF @roleid = 0
		 SET @rotavlue = 'show'

		IF @roleid = 1
		 SET @rotavlue = 'hide'

		IF @roleid = 2
		 SET @rotavlue = 'leave'

		 SET @HistoryStart  = @rotavlue + ' rota set  by ' 
							 + @currentusername + ' on ' 
							 + CONVERT(VARCHAR, GETDATE(), 103) + ' at ' 
							 + CONVERT(VARCHAR(5),getdate(),108) +'.'
	 
	 END


-- select the history type
	
	Select @historytype = id 
	 from HistoryTypes 
	where HistoryType = @modulename

	INSERT INTO AdditionalPermissionsHistory([HistoryType],[UserID],[History],[datetime],[AttributeID],[AttributeID2])
		 VALUES (@historytype ,@currentuser,@HistoryStart,@UpdateDateTime,@teamid,@userid)

	SELECT @status strstatus	

	COMMIT TRANSACTION

END