USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_ScheduleTeamsdetails]    Script Date: 24/03/2025 17:57:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER    PROCEDURE [dbo].[usp_get_ScheduleTeamsdetails]
	-- Add the parameters for the stored procedure here
	@teamid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   
select schedulingTeamId,schedulingTeamName,defaultSicknessHoursAllocation,isActive,defaultDutyChargeCode,maskAfter,maskType,freelancerMasking,CurrentLeaveYear,colourWeek,IsCreateDutyFromRota,RestrictApplyROTAPattern from schedulingTeams (NOLOCK)	 st
where st.schedulingTeamId = @teamid 

END
