 USE [ALLOCATE7]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_get_AllocationDutyDetailsByJobID]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
-- =============================================
-- Author:		<Soniya,R>
-- Create date: <29 Sep 2021>
-- Description:	<Fetch Unallocated Job By Id For Edit Purpose>
-- =============================================
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_get_AllocationDutyDetailsByJobID]
	@jobid INT
AS
--Select query
BEGIN
Select A.StartTime,A.EndTime,AJ.AllocationID from Allocations A INNER JOIN Allocations_jobs AJ 
  ON A.ID = AJ.AllocationID and AJ.ID=@jobid

END
'

EXEC dbo.sp_executesql @strSQL

GO