USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_ChargeWbsCode]    Script Date: 28/07/2022 17:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_mod_ChargeWbsCode]
	-- Add the parameters for the stored procedure here
	@ChargeWbsCodeId int,
	@ChargeWbsCodeName varchar(50),
	@Description varchar(75),
	@DivisionId int,
	@CreatedBy int,
	@CodeType int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @IsActive int,@CreatedDate datetime,@ModifiedDate datetime, @Status int, @StrStatus varchar(500), @err int, @rows int, @NewCodeId int;
	set @IsActive = 1;
	set @CreatedDate = convert(datetime,getdate(),110);
	set @ModifiedDate = convert(datetime,getdate(),110);
	set @StrStatus = '001';
	SET @Status = 1;
	set @NewCodeId = @ChargeWbsCodeId;
    -- Insert statements for procedure here
	IF (@ChargeWbsCodeId = 0 or @ChargeWbsCodeId = null)
BEGIN
		IF EXISTS (select 1 from ChargeWbsCode where ChargeWbsCodeName = @ChargeWbsCodeName and DivisionId = @DivisionId and CodeType = @CodeType)
BEGIN
			set @Status = 0;
			if (@CodeType = 0)
BEGIN
				set @StrStatus = '013';
				SET @Status = 0;
END
ELSE
BEGIN
				set @StrStatus = '014';
				SET @Status = 0;
END
END
ELSE
BEGIN
insert into ChargeWbsCode (ChargeWbsCodeName,Description,DivisionId,IsActive,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate,CodeType)
values (@ChargeWbsCodeName,@Description,@DivisionId,@IsActive,@CreatedBy,@CreatedDate,@CreatedBy,@ModifiedDate,@CodeType);

SET @NewCodeId = Scope_Identity();

SELECT @err = @@ERROR, @rows = @@ROWCOUNT

    IF @err <> 0
BEGIN
				SET @StrStatus = '012';
				SET @Status = 0;
select @Status intStatus, @StrStatus strStatus, @NewCodeId NewCodeId;
RETURN;
END

			IF @rows = 0
BEGIN
				SET @StrStatus = '012';
				SET @Status = 0;
select @Status intStatus, @StrStatus strStatus, @NewCodeId NewCodeId;
RETURN;
END
END
END
ELSE
BEGIN
		IF EXISTS (select 1 from ChargeWbsCode where ChargeWbsCodeId = @ChargeWbsCodeId and DivisionId = @DivisionId and CodeType = @CodeType and IsActive = 0)
BEGIN
			set @Status = 0;
			if (@CodeType = 0)
BEGIN
				set @StrStatus = '033';
				SET @Status = 0;
END
ELSE
BEGIN
				set @StrStatus = '034';
				SET @Status = 0;
END
END
ELSE
BEGIN
update ChargeWbsCode
set Description = @Description,
    DivisionId = @DivisionId,
    ModifiedBy = @CreatedBy,
    ModifiedDate = @ModifiedDate
where ChargeWbsCodeId = @ChargeWbsCodeId and IsActive = 1;

SELECT @err = @@ERROR, @rows = @@ROWCOUNT

    IF @err <> 0
BEGIN
				SET @StrStatus = '012';
				SET @Status = 0;
select @Status intStatus, @StrStatus strStatus, @NewCodeId NewCodeId;
RETURN;
END

			IF @rows = 0
BEGIN
				SET @StrStatus = '012';
				SET @Status = 0;
select @Status intStatus, @StrStatus strStatus, @NewCodeId NewCodeId;
RETURN;
END
END
END
select @Status intStatus, @StrStatus strStatus, @NewCodeId NewCodeId;
RETURN;
END
