USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_REF_ManagerPositions]    Script Date: 3/12/2026 10:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER    PROCEDURE [dbo].[usp_Import_AL_A7_REF_ManagerPositions]

AS
-- =============================================
-- Author:      HCL
-- Create date: 25/02/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- =============================================
BEGIN
        SET NOCOUNT ON;

		--TRUNCATE TABLE [Allocate7].[dbo].[REF_ManagerPositions];
		--Update existing records
		UPDATE T1
		SET T1.[ManagerID] = T2.[ManagerID]
			  ,T1.[PositionID] = T2.[PositionID]
			  ,T1.[CreatedDate] = T2.[CreatedDate]
			  ,T1.[LastModDate] = T2.[LastModDate]
			  ,T1.[LastModBy] = T2.[LastModBy]
			  ,T1.[History] = T2.[History]
		FROM [REF_ManagerPositions] T1 INNER JOIN 
		[AllocateLink].[dbo].[TP_A7_REF_ManagerPositions] T2 ON T1.ManagerID = T2.ManagerID and T1.PositionID=T2.PositionID
		--WHERE T1.ManagerID = T2.ManagerID
		
		--Insert new records
		INSERT INTO [REF_ManagerPositions] (
			   [ManagerID]
			  ,[PositionID]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
			)  
		SELECT [ManagerID]
			  ,[PositionID]
			  ,[CreatedDate]
			  ,[LastModDate]
			  ,[LastModBy]
			  ,[History]
		  FROM [AllocateLink].[dbo].[TP_A7_REF_ManagerPositions] T2 
		  WHERE NOT EXISTS (SELECT T1.ManagerID FROM [REF_ManagerPositions] T1 
		  WHERE T1.ManagerID = T2.ManagerID  and T1.PositionID=T2.PositionID)
        
END

