USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_SchedulingTeamExtraXmasPoint]    Script Date: 04/09/2025 14:24:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_GET_SchedulingTeamExtraXmasPoint]
@teamXtraPoint INT,
@teamid INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		IF @teamXtraPoint = 0
		set @teamXtraPoint = NULL;

		if @teamXtraPoint is not null
			BEGIN
				 Select sxp.*, sp.UD_DisplayName as Fullname   FROM SchedulingTeamUserExtraXmasPoint  sxp
				 JOIN UserDetails sp ON sp.UD_UserID = sxp.ScheduledPersonID
				 Where extraChristmasID = @teamXtraPoint
			END
		ELSE
			Select sxp.*, sp.UD_DisplayName as Fullname  from SchedulingTeamUserExtraXmasPoint sxp
			JOIN UserDetails sp ON sp.UD_UserID = sxp.ScheduledPersonID
			WHERE SchedulingTeamID=@teamid



END
