USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_RotaPerson]    Script Date: 28/10/2025 17:51:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_mod_RotaPerson] @ROTAPeopleID      INT,
                                           @ROTAID            INT,
                                           @Week              INT,
                                           @ScheduledPersonID INT,
                                           @StartDate         DATE,
                                           @EndDate           DATE,
                                           @Currentuser       VARCHAR(100),
                                           @currentUserID     INT,
                                           @History           VARCHAR(3000),
                                           @Status            INT OUTPUT,
                                           @ReturnString      VARCHAR(1000) OUTPUT
AS
  BEGIN

      SET NOCOUNT ON;

      DECLARE @err INT;
      DECLARE @rows INT;
      DECLARE @RowNum INT;
      DECLARE @TmpHistory VARCHAR(4000);
      DECLARE @oldScheduledPersonID INT;
      DECLARE @startweek INT;
      DECLARE @currentRotaWeek INT;
      DECLARE @rotalength INT;
      DECLARE @rotastartweek INT;

      SET @status = 1;
      SET @returnstring = 'success';

      DECLARE @ConflictRotaName VARCHAR(50);
      DECLARE @ConflictRotaStart DATETIME;
      DECLARE @ConflictRotaEnd DATETIME;
      DECLARE @TeamAssignmentDate DATETIME;
      DECLARE @PersonTeamAssignedTill DATETIME;
      DECLARE @ConflictTeamId INT;
      DECLARE @ConflictTeamName VARCHAR(50);

      SELECT @TeamAssignmentDate = StartDate
        FROM ScheduledPersonTeam_LINK
       WHERE ScheduledPersonID = @ScheduledPersonID
         AND Datediff(day, StartDate, @StartDate) < 0
         AND TeamID IN (SELECT TeamID
						 FROM MasterRotas
						WHERE RotaID = @rotaid
						  AND IsACtive = 1)

      IF @TeamAssignmentDate IS NOT NULL
        BEGIN

            SET @returnstring = 'The person you are trying to assign to this rota pattern is only available from '
                                + CONVERT(VARCHAR(50), @TeamAssignmentDate, 103);
            SET @status = 0;

            SELECT @status       intStatus,
                   @returnstring strStatus;

            RETURN;
        END

      SELECT @PersonTeamAssignedTill = EndDate
        FROM ScheduledPersonTeam_LINK (NOLOCK)
       WHERE ScheduledPersonID = @ScheduledPersonID
         AND Datediff(day, StartDate, @StartDate) >= 0
         AND Datediff(day, Getdate(), EndDate) > 0
         AND @enddate > (SELECT Max(EndDate)
                           FROM ScheduledPersonTeam_LINK
                          WHERE ScheduledPersonID = @ScheduledPersonID
                            AND TeamID IN (SELECT TeamID
                                             FROM MasterRotas
                                            WHERE RotaID = @rotaid
                                              AND IsACtive = 1))
        AND TeamID IN (SELECT TeamID
                    FROM   MasterRotas
                    WHERE  RotaID = @rotaid
                            AND IsActive = 1)

      IF @PersonTeamAssignedTill IS NOT NULL
        BEGIN
            SET @returnstring = 'The person you are trying to assign to this rota pattern is only available in this team till '
								+ CONVERT(VARCHAR(50), @PersonTeamAssignedTill, 103);
            SET @status = 0;

            SELECT @status       intStatus,
                   @returnstring strStatus;

            RETURN;
        END

      IF @startdate IS NULL
        BEGIN
            SELECT @startdate = RotaStartDate,
                   @startweek = RotaStartWeek,
                   @rotastartweek = RotaStartWeek,
                   @rotalength = WeeksInRota
            FROM   MasterRotas (NOLOCK)
            WHERE  RotaID = @rotaid
                   AND IsActive = 1;
        END
      ELSE
        BEGIN
            SELECT @startweek = ixYearWeek
            FROM   TimeDimension (NOLOCK)
            WHERE  dDateTime = @startdate;

            SELECT @rotastartweek = RotaStartWeek,
                   @rotalength = WeeksInRota
            FROM   MasterRotas (NOLOCK)
            WHERE  RotaID = @rotaid
                   AND IsActive = 1;
        END

      SELECT @currentRotaWeek = dbo.[GetWeekofRota] (@rotalength, @rotastartweek, @startweek)

      --Check Duty Type conflicts in the Rota with the given date
      SELECT TOP 1 @ConflictRotaName = T1.RotaName,
                   @ConflictRotaStart = T2.StartDate,
                   @ConflictRotaEnd = T2.EndDate,
                   @ConflictTeamId = T1.TeamID,
				   @ConflictTeamName = schedulingTeamName
      FROM MasterRotas T1 (NOLOCK)
     INNER JOIN RotaPeople T2 (NOLOCK) ON T1.RotaID = T2.RotaID
	 INNER JOIN schedulingTeams ST ON ST.schedulingTeamId = T1.TeamID
      WHERE T2.ScheduledPersonID = @ScheduledPersonID
		AND T1.IsActive = 1
		AND T2.IsActive = 1
		AND ( ( T2.StartDate BETWEEN @startdate AND @EndDate
				OR T2.EndDate BETWEEN @startdate AND @EndDate )
			OR ( @startdate BETWEEN T2.StartDate AND T2.EndDate
					OR @enddate BETWEEN T2.StartDate AND T2.EndDate ) )

      IF ( @ConflictRotaStart IS NULL AND @ConflictRotaEnd IS NULL )
        BEGIN
            SET @returnstring = 'success'
        END
      ELSE
        BEGIN
            SET @returnstring = 'The person you are trying to assign to this rota pattern already has another rota pattern during this time period ['
								 + @ConflictTeamName + '], ['
								 + @ConflictRotaName
								  + '], ('
								  + FORMAT(@ConflictRotaStart,'dd/MM/yyyy HH:mm') + ' to '
								  + FORMAT(@ConflictRotaEnd,'dd/MM/yyyy HH:mm') + ')';

	  SET @status = 0;

      SELECT @status       intStatus,
             @returnstring strStatus;

      RETURN;
  END

      IF ( @enddate < @startdate )
        BEGIN
            SET @returnstring = 'Start Date cannot be greater than End Date';
            SET @status = 0;

            SELECT @status       intStatus,
                   @returnstring strStatus;

            RETURN;
        END

      IF @returnstring <> 'success'
        BEGIN
            SET @status = 0

            RETURN 0
        END

      --Check unique Rota entry
      IF @rotapeopleid = 0
        BEGIN
            SELECT @oldScheduledPersonID = ScheduledPersonID
              FROM RotaPeople (NOLOCK)
             WHERE RotaID = @rotaid
               AND RotaWeek = @week
               AND ScheduledPersonID = @ScheduledPersonID
               AND StartDate = @startdate
               AND IsActive = 1

            IF @oldScheduledPersonID IS NULL
              SET @oldScheduledPersonID = 0
        END
      ELSE
        BEGIN
            SET @oldScheduledPersonID = @rotapeopleid
        END

      BEGIN TRANSACTION

      IF @oldScheduledPersonID = 0
        BEGIN
            SET @TmpHistory = 'Created by '
                              + COALESCE(@currentuser, 'UNKNOWN') + ' on '
                              + FORMAT(GETDATE(),'dd/MM/yyyy HH:mm')

            --Insert new RotaPeople record
            IF ( ISNULL(@startdate,'') = '' OR ISNULL(@enddate,'') = '' )
              BEGIN
                  INSERT INTO RotaPeople
                              (RotaID,
                               RotaWeek,
                               ScheduledPersonID,
                               CreatedBy,
                               CreatedDate,
                               LastModBy,
                               LastModDate,
                               IsActive)
                  VALUES      (@rotaid,
                               @week,
                               @ScheduledPersonID,
                               @currentuserid,
                               GETDATE(),
                               @currentuserid,
                               GETDATE(),
                               1)
              END
            ELSE
              BEGIN
                  IF EXISTS(SELECT 1
                              FROM RotaPeople
                             WHERE RotaID = @rotaid
                               AND IsActive = 1)
                    BEGIN
                        UPDATE RotaPeople
                           SET IsActive = 0
                         WHERE RotaID = @rotaid
                           AND IsActive = 1;

                        INSERT INTO RotaPeople
                                    (RotaID,
                                     RotaWeek,
                                     ScheduledPersonID,
                                     StartDate,
                                     EndDate,
                                     StartWeek,
                                     ActualRotaWeek,
                                     CreatedBy,
                                     CreatedDate,
                                     LastModBy,
                                     LastModDate,
                                     IsActive)
                        VALUES      (@rotaid,
                                     @week,
                                     @ScheduledPersonID,
                                     @startdate,
                                     CAST(CONVERT(VARCHAR, @enddate, 120) + ' 23:59:59' AS DATETIME),
                                     @startweek,
                                     @currentRotaWeek,
                                     @currentuserid,
                                     GETDATE(),
                                     @currentuserid,
                                     GETDATE(),
                                     1)
                    END
                  ELSE
                    BEGIN
                        INSERT INTO RotaPeople
                                    (RotaID,
                                     RotaWeek,
                                     ScheduledPersonID,
                                     StartDate,
                                     EndDate,
                                     StartWeek,
                                     ActualRotaWeek,
                                     CreatedBy,
                                     CreatedDate,
                                     LastModBy,
                                     LastModDate,
                                     IsActive)
                        VALUES      (@rotaid,
                                     @week,
                                     @ScheduledPersonID,
                                     @startdate,
                                     CAST(CONVERT(VARCHAR, @enddate, 120) + ' 23:59:59' AS DATETIME),
                                     @startweek,
                                     @currentRotaWeek,
                                     @currentuserid,
                                     GETDATE(),
                                     @currentuserid,
                                     GETDATE(),
                                     1)
                    END
              END

            SELECT @err = @@ERROR,
                   @rows = @@ROWCOUNT

            IF @err <> 0
              BEGIN
                  ROLLBACK TRANSACTION

                  SET @status = 0;
                  SET @returnstring = 'There was an error creating the record.';

                  SELECT @status       intStatus,
                         @returnstring strStatus;

                  RETURN;
              END

            IF @rows = 0
              BEGIN
                  ROLLBACK TRANSACTION

                  SET @status = 0;
                  SET @returnstring = 'There was an error creating the record.';

                  SELECT @status       intStatus,
                         @returnstring strStatus;

                  RETURN;
              END
        END
      ELSE
        BEGIN
            SET @TmpHistory = 'Updated by '
                              + COALESCE(@currentuser, 'UNKNOWN') + ' on '
                              + FORMAT(GETDATE(),'dd/MM/yyyy HH:mm')

            IF @history <> ''
              SET @TmpHistory = @TmpHistory + @history

            UPDATE RotaPeople
            SET    StartDate = @startdate,
                   EndDate = @enddate,
                   StartWeek = @startweek,
                   ActualRotaWeek = @currentRotaWeek,
                   LastModDate = GETDATE(),
                   LastModBy = @currentuserid
            WHERE  RotaPeopleID = @rotapeopleid
                   AND IsActive = 1

            SELECT @err = @@ERROR,
                   @rows = @@ROWCOUNT

            IF @err <> 0
              BEGIN
                  ROLLBACK TRANSACTION

                  SET @status = 0;
                  SET @returnstring = 'There was an error updating the record.';

                  SELECT @status       intStatus,
                         @returnstring strStatus;

                  RETURN;
              END

            IF @rows = 0
              BEGIN
                  ROLLBACK TRANSACTION

                  SET @status = 0;
                  SET @returnstring = 'There was an error updating the record.';

                  SELECT @status       intStatus,
                         @returnstring strStatus;

                  RETURN;
              END
        END

      --Update PeopleRotaDutyDays
      UPDATE MR
      SET    MR.isExported = 0
      FROM   MasterRotas MR
      WHERE  ISNULL(MR.isExported,0) > 0
             AND MR.RotaID = @rotaid

      SELECT @err = @@ERROR,
             @rows = @@ROWCOUNT

      IF @err <> 0
        BEGIN
            ROLLBACK TRANSACTION

            SET @status = 0;
            SET @returnstring = 'There was a problem deleting the old People Rota Duty Day records';

            SELECT @status       intStatus,
                   @returnstring strStatus;

            RETURN;
        END

      SELECT @status       intStatus,
             @returnstring strStatus;

      COMMIT TRANSACTION

  END