USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ListSkillProgramByDutyId]    Script Date: 09/07/2021 13:13:36 ******/
DROP PROCEDURE [dbo].[usp_GET_ListSkillProgramByDutyId]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ListSkillProgramByDutyId]    Script Date: 09/07/2021 13:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Author:		Neeraj  Kumar
-- Create date: 08/07/2021
-- Description:	SP to get List of All Programmes By DutyId.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_ListSkillProgramByDutyId]
@id INT
AS
BEGIN
	SET NOCOUNT ON;
    SELECT skills_programmes.id, skills_programmes.programmename
            FROM skills_duties
            INNER JOIN skills_duties_programmes_link ON skills_duties.id = skills_duties_programmes_link.duties_id
            INNER JOIN skills_programmes ON skills_duties_programmes_link.programmes_id = skills_programmes.id
            WHERE  (skills_duties.id = @id)
            ORDER BY skills_programmes.programmename
END
GO
