USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_mod_MasterJobs]    Script Date: 28/03/2022 17:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER  PROCEDURE [dbo].[usp_mod_MasterJobs]
@masterjobid		INT,
@jobname			VARCHAR(100),
@starttime			INT,
@endtime			INT,
@details			NVARCHAR(max),
@backcolour			VARCHAR(12),
@fontcolour			VARCHAR(12),
@programmeid		INT,
@contact			NVARCHAR(24),
@location			NVARCHAR(max),
@currentuser		VARCHAR(100),
@areaid				INT,
@teamid				INT,
--@errormessage		NVARCHAR(MAX) OUTPUT
@status				TINYINT OUTPUT,
@returnstring		VARCHAR(1000) OUTPUT,
@TaskType			VARCHAR(20)
AS
BEGIN
	Declare @RowNum INT, @masterjobidnew int, @NewJobProgram int, @NewJobbackcolour varchar(500), @NewJobfontcolour varchar(500), @RecordCount int;

	SET NOCOUNT ON
BEGIN TRY
		-- Check if JobName already exist for AreaID.
		-- If Yes, send duplicate job name message
		-- CHECK Name available
SET @status = 0
		SET @returnstring = ''
		IF EXISTS (SELECT MasterJobID FROM MasterJobs WHERE (MasterJobID != @masterjobid and JobName = @jobname and IsActive = 1 and TeamID = @teamid and @TaskType != 'addjobCopy' and @TaskType != 'copyjob' and StartTime=@starttime and EndTime=@endtime))
BEGIN
			SET @returnstring = 'Master Job Already Exist';
			SET @status = 0;
select @status status, @returnstring strstatus, '' MasterJobID;
return;
END

		IF @teamid is null or @teamid = '' and @TaskType != 'copyjob'
BEGIN
			SET @returnstring = 'Please choose Scheduling team';
			SET @status = 0;
select @status status, @returnstring strstatus, '' MasterJobID;
return;
END

		if (@starttime > @endtime)
BEGIN
			set @endtime = (@endtime + 86400);
END

		IF (@masterjobid = 0 and @TaskType != 'copyjob' and @TaskType != 'addjobCopy')
BEGIN
INSERT INTO MasterJobs (JobName,TeamID, StartTime, EndTime, Details, Contact, [Location], AreaID, IsActive, CreatedBy, CreatedDate)
VALUES (@jobname,@teamid, @starttime, @endtime, @details, @contact, @location, @areaid,1, @currentuser, GETDATE())

    SET @masterjobidnew = Scope_Identity()

INSERT INTO LINK_MasterJobs_Programmes (MasterJobID, ProgrammeID, IsActive)
VALUES (@masterjobidnew, @programmeid, 1)
INSERT INTO REF_MasterJobColours (MasterJobID,ColourBackground, ColourFont, IsActive)
VALUES (@masterjobidnew, @backcolour, @fontcolour, 1)

SET @returnstring = 'Master Job Record inserted successfully';
SET @status = 1;
END
else if (@TaskType = 'copyjob')
BEGIN
BEGIN TRANSACTION
				INSERT INTO MasterJobs (JobName,Details,StartTime,EndTime,AreaID,JobTypeID,History,LastModDate,LastModBy,IsActive,Location,
										Contact,CreatedBy,CreatedDate,TeamID)
select
    case when CHARINDEX(' - copy',JobName) > 0 then substring(JobName,0,CHARINDEX(' - copy',JobName))
         else JobName end ,Details,StartTime,EndTime,AreaID,JobTypeID,History,LastModDate,LastModBy,IsActive,Location,
    Contact,CreatedBy,CreatedDate,TeamID from MasterJobs where MasterJobID = @masterjobid
    SET @masterjobidnew = Scope_Identity();

select @jobname = JobName, @teamid = TeamID from MasterJobs where MasterJobID = @masterjobidnew;

if (CHARINDEX(' - copy',@jobname) > 0)
BEGIN
					set @jobname = substring(@jobname,0,CHARINDEX(' - copy',@jobname));
END
				if (LEN(@jobname) > 41)
BEGIN
rollback;
SET @returnstring = 'The name of the new copied master job cannot be more than 50 characters. So, please limit the existing job name to less than 41 characters, before copying.';
					SET @status = 0;
					SET @masterjobid = 0;
select @status status, @returnstring strstatus, @masterjobidnew MasterJobID;;
return;
END

select @RecordCount = (count(*) + 1) from MasterJobs where JobName like @jobname+' - copy%' and TeamID = @teamid;
update MasterJobs set JobName = @jobname + ' - copy' + convert(varchar(10),@RecordCount) where MasterJobID = @masterjobidnew;

select @NewJobProgram = ProgrammeID from LINK_MasterJobs_Programmes where MasterJobID = @masterjobid
    INSERT INTO LINK_MasterJobs_Programmes (MasterJobID, ProgrammeID, IsActive)
VALUES (@masterjobidnew, @NewJobProgram, 1)

    if exists (SELECT 1 FROM REF_MasterJobColours WHERE (MasterJobID=@masterjobid))
BEGIN
select @NewJobbackcolour = ColourBackground, @NewJobfontcolour = ColourFont from REF_MasterJobColours where MasterJobID = @masterjobid;

INSERT INTO REF_MasterJobColours (MasterJobID,ColourBackground, ColourFont, IsActive)
VALUES (@masterjobidnew, @NewJobbackcolour, @NewJobfontcolour, 1);
END

				SET @returnstring = 'Master Job Record copied successfully';
				SET @status = 1;
				SET @masterjobid = @masterjobidnew;
COMMIT TRANSACTION
END
else if (@TaskType = 'addjobCopy')
BEGIN
INSERT INTO MasterJobs (JobName,TeamID, StartTime, EndTime, Details, Contact, [Location], AreaID, IsActive, CreatedBy, CreatedDate)
VALUES (@jobname, @teamid, @starttime, @endtime, @details, @contact, @location, @areaid,1, @currentuser, GETDATE())
    SET @masterjobidnew = Scope_Identity();
IF EXISTS (SELECT 1 FROM MasterJobs WHERE (MasterJobID != @masterjobidnew and JobName = @jobname and IsActive = 1 and TeamID = @teamid
			and StartTime=@starttime and EndTime=@endtime))
BEGIN
				if (CHARINDEX(' - copy',@jobname) > 0)
BEGIN
					set @jobname = substring(@jobname,0,CHARINDEX(' - copy',@jobname));
select @RecordCount = (count(*)) from MasterJobs where JobName like @jobname+' - copy%' and TeamID = @teamid;
END
ELSE
BEGIN
select @RecordCount = (count(*) + 1) from MasterJobs where JobName like @jobname+' - copy%' and TeamID = @teamid;
END

update MasterJobs set JobName = @JobName+ ' - copy' + convert(varchar(10),@RecordCount) where MasterJobID = @masterjobidnew;
END
select @NewJobProgram = ProgrammeID from LINK_MasterJobs_Programmes where MasterJobID = @masterjobid

    INSERT INTO LINK_MasterJobs_Programmes (MasterJobID, ProgrammeID, IsActive)
VALUES (@masterjobidnew, @NewJobProgram, 1)

INSERT INTO REF_MasterJobColours (MasterJobID,ColourBackground, ColourFont, IsActive)
VALUES (@masterjobidnew, @backcolour, @fontcolour, 1)

SET @returnstring = 'Master Job Record inserted successfully';
SET @status = 1;
			SET @masterjobid = @masterjobidnew;
END
ELSE
BEGIN
BEGIN TRANSACTION
			DECLARE @dutyId INT, @dutyStartTime INT, @dutyEndTime INT
select @dutyId = isnull(md.MasterDutyID, 0), @dutyStartTime = md.StartTime, @dutyEndTime = md.EndTime from MasterDuties (NOLOCK) md inner join
                                                                                                           MasterDutiesMasterJobs_LINK mdjl on md.MasterDutyID = mdjl.MasterDutyID where mdjl.MasterJobID = @masterjobid and IsActive = 1

    IF((@dutyStartTime > @starttime) or (@dutyEndTime < @endtime))
BEGIN
				IF (((@starttime + 86400) between @dutyStartTime and @dutyEndTime) and ((@endtime + 86400) between @dutyStartTime and @dutyEndTime))
BEGIN
					set @starttime = @starttime;
END
ELSE
BEGIN
					SET @returnstring = '<br><br><br><br>Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.<br><br><br><br><br><br>';
					SET @status = 0;
select @status status, @returnstring strstatus, @masterjobidnew MasterJobID;
return;
END
END

			if EXISTS(select 1 from [dbo].[MasterDutiesMasterJobs_LINK] where MasterJobID = @masterjobid having count(MasterJobID) > 1)
BEGIN
				IF EXISTS(select 1 from [dbo].[MasterJobs] where MasterJobID = @masterjobid and IsActive = 1 and (StartTime <> @starttime or EndTime <> @endtime))
BEGIN
					IF EXISTS (select 1 from [dbo].[MasterDuties] (NOLOCK) md
								inner join [dbo].[MasterDutiesMasterJobs_LINK] mdjl on md.MasterDutyID = mdjl.MasterDutyID
								where mdjl.MasterJobID = @masterjobid and (((@starttime + 1) not between md.StartTime and md.EndTime) or ((@endtime - 1) not between md.StartTime and md.EndTime)))
BEGIN
						SET @returnstring = '<br><br><br><br>Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.<br><br><br><br><br><br>';
						SET @status = 0;
select @status status, @returnstring strstatus, @masterjobidnew MasterJobID;
return;
END
					IF EXISTS (select 1 from [dbo].[MasterJobs] (NOLOCK) mj
									inner join [dbo].[MasterDutiesMasterJobs_LINK] mdjl on mdjl.MasterJobID = mj.MasterJobID AND Mdjl.MasterJobID <> @masterjobid
								where mdjl.MasterDutyID in (select MasterDutyID from [dbo].[MasterDutiesMasterJobs_LINK] where MasterJobID = @masterjobid)
									and (((@starttime + 1) between mj.StartTime and mj.EndTime) or ((@endtime - 1) between mj.StartTime and mj.EndTime)
									or (mj.StartTime between (@starttime + 1) and (@endtime - 1)) or (mj.EndTime between (@starttime + 1) and (@endtime - 1))))
BEGIN
						SET @returnstring = 'Warning: the job you are trying to add or edit will produce a conflict with either another job or the duty start/end time. Please try again.';
						SET @status = 0;
select @status status, @returnstring strstatus, @masterjobidnew MasterJobID;
return;
END
END
END

UPDATE MasterJobs
SET	JobName = @jobname,
       StartTime = @starttime,
       TeamID = @teamid,
       EndTime = @endtime,
       Details = @details,
       Contact = @contact,
    [Location] = @location,
    LastModBy = @currentuser,
    LastModDate = GETDATE()
WHERE MasterJobID=@masterjobid

UPDATE LINK_MasterJobs_Programmes SET ProgrammeID = @programmeid WHERE MasterJobID = @masterjobid;

UPDATE REF_MasterJobColours
SET ColourBackground = @backcolour,
    ColourFont = @fontcolour
WHERE MasterJobID = @masterjobid

    SET @returnstring = 'Master Job Record updated successfully';
SET @status = 1;
COMMIT TRANSACTION
END
select @status status, @returnstring strstatus, @masterjobidnew MasterJobID;
return;

END TRY
BEGIN CATCH
			--SET @errormessage=ERROR_MESSAGE()
INSERT INTO ErrorLog
				VALUES
			  (
			   ERROR_NUMBER(),
			   ERROR_STATE(),
			   ERROR_SEVERITY(),
			   ERROR_LINE(),
			   'usp_mod_MasterJobs',
			   ERROR_MESSAGE(),
			   GETDATE(),
			   @currentuser
			  )
END CATCH
END
