USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateSent_LeaveApplications]    Script Date: 04/09/2024 12:16:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   OR  ALTER    PROCEDURE [dbo].[usp_UpdateSent_LeaveApplications]
@leaveDate varchar(100),
@sent  INT,
@sentOptionValue  INT,
@currentuser  INT,
@Login nvarchar(100),
@status	INT OUTPUT
AS
BEGIN

SET NOCOUNT ON;

IF EXISTS (SELECT ID FROM  LeaveApplications (nolock) WHERE (dDate = CONVERT(DATETIME,@leaveDate, 102)) AND (Login = @Login)) 
BEGIN              
			  
		UPDATE     LeaveApplications
		SET  LastModDate = getutcdate(),
		LastModBy =  @currentuser, 
		Sent = @sent,
		sentOptionValue = @sentOptionValue
		WHERE  (Login = @Login) AND (dDate = CONVERT(DATETIME,@leaveDate, 102));

	   SET @status = 1
	   select @status intstatus;
	   return;


END
END