USE [ALLOCATE7]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_MasterJobsByMasterDutyID]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N'PROCEDURE [dbo].[usp_GET_MasterJobsByMasterDutyID]
@dutyId INT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		BEGIN
			SELECT mj.*, mdj.IsMidnight as aftermidnigth, TeamID as schedulingTeamId,
			mjc.ColourBackground as JobBackColour,
			mjc.ColourFont as JobFontColour
			FROM MasterJobs as mj
			INNER JOIN MasterDutiesMasterJobs_LINK mdj on mdj.MasterJobID = mj.MasterJobID 
			LEFT JOIN REF_MasterJobColours mjc (NOLOCK) ON mj.MasterJobID = mjc.MasterJobID
			WHERE (mdj.MasterDutyId = @dutyId)
		END
	
END
'

EXEC dbo.sp_executesql @strSQL

GO
