USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_DivisionsByUserType]    Script Date: 2/12/2026 2:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_GET_DivisionsByUserType]
@userID INT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		IF EXISTS(SELECT 1 FROM UserRoles (NOLOCK) WHERE UR_UserID = @userID and UR_RoleID = 1 and GETDATE() BETWEEN UR_StartDate AND UR_EndDate)
			BEGIN
				SELECT DivisionID,DivisionName 
				 FROM Divisions 
				 WHERE isActive = 1 
				 ORDER BY DivisionName ASC
			END
		ELSE
			BEGIN
				SELECT d.DivisionID,d.DivisionName 
				  FROM UserRoles  da
				  JOIN Divisions d on d.DivisionID = da.UR_DivisionId AND d.isActive=1
				  INNER JOIN REF_Roles RR ON DA.UR_RoleID = RR.RoleID AND RR.RoleName = 'Area Admin'
				 WHERE da.UR_UserID = @userID AND d.IsActive = 1
			END
END