USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_AdditionalPermissionHistoryData]    Script Date: 06/07/2021 15:31:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_AdditionalPermissionHistoryData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GET_AdditionalPermissionHistoryData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		Naveete Sharma
-- Create date: 31/05/2021
-- Description:	SP to modify the Division table with new/modified data.
-- =============================================
CREATE PROCEDURE [dbo].[usp_GET_AdditionalPermissionHistoryData]
@modulename varchar(200),
@attributeid int,
@attributeid2 int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		DECLARE @historytype int
		
		-- select the history type
	Select @historytype = id from HistoryTypes where HistoryType = @modulename 
		 SELECT History FROM AdditionalPermissionsHistory WHERE HistoryType = @historytype and AttributeID = @attributeid and  AttributeID2 = @attributeid2
		 order by PermissionHistoryID desc
						
END
