USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_LeaveCreditsSummary]    Script Date: 14/11/2025 13:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [dbo].[usp_get_LeaveCreditsSummary_New] '2','2025','0','0'  
  
CREATE OR ALTER           PROCEDURE [dbo].[usp_get_LeaveCreditsSummary]  
 -- Add the parameters for the stored procedure here  
 @intTeamID int,  
 @intLeaveYear int,  
 @isactive INT = 0,  
 @additionalflag INT = 0  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
 DECLARE @leaveyearstartdate date,@leaveyearenddate date  
 DECLARE @queryStr VARCHAR(MAX) = ''  
  
 set @leaveyearstartdate = DATEFROMPARTS(@intLeaveYear,04,01)  
 set @leaveyearenddate = DATEFROMPARTS(@intLeaveYear+1,03,31)  
 --if @isactive = 1   
 --BEGIN  
  --set @leaveyearstartdate = GETDATE()  
  --set @leaveyearenddate = GETDATE()  
 --END  
   
 BEGIN  
  SET @queryStr = '  
          SELECT SP.FullName ,  
     SP.StaffNumber,   
     SP.SortCode,   
     SP.NetLogin,   
     SP.ScheduledPersonID,  
     SUM(CAST(ISNULL(la.Annual, 0) AS float)) AS Annual,  
     SUM(CAST(ISNULL(la.PHL, 0) AS float)) AS PHL,  
     SUM(CAST(ISNULL(la.TOIL, 0) AS float)) AS TOIL,  
     SUM(CAST(ISNULL(la.Comp, 0) AS float)) AS Comp,  
     SUM(CAST(ISNULL(la.Additional, 0) AS float)) AS Additional,  
     SUM(CAST(ISNULL(la.Exceptional, 0) AS float)) AS Exceptional,  
     SUM(CAST(ISNULL(la.Under11TOIL, 0) AS float)) AS Under11TOIL,  
     SUM(CAST(ISNULL(la.Over12TOIL, 0) AS float)) AS Over12TOIL,  
     SUM(CAST(ISNULL(la.Casual, 0) AS float)) AS Casual,  
     SUM(CAST(ISNULL(la.LongService, 0) AS float)) AS LongService,  
     SUM(CAST(ISNULL(la.Other, 0) AS float)) AS Other,  
     EFT  
     FROM(  
       SELECT DISTINCT sp.UD_DisplayLastName+'', '' + sp.UD_DisplayFirstName AS FullName ,  
      sp. UD_StaffNumber as StaffNumber,   
      spl.SortCode,   
      sp. UD_NetLogin as NetLogin,   
      sp.UD_UserID as ScheduledPersonID,  
      ISNULL(scp.UC_EFT,0) as EFT  
       FROM UserDetails sp  WITH (NOLOCK)  
       INNER JOIN (select ScheduledPersonID, max(SortCode) as SortCode  
                    from ScheduledPersonTeam_LINK  WITH (NOLOCK)   
        where TeamID = '+cast(@intTeamID as varchar)+    
         ' and IsHomeTeam = 1  '  
      IF @isactive = 1   
       BEGIN  
     SET @queryStr = @queryStr +      
     ' and ISNULL(convert(datetime,EndDate,110),''9999-01-01'') >= cast (GETDATE() AS DATE)  
     and convert(datetime,StartDate,110) <= cast (GETDATE() AS DATE) ';  
    END  
      ELSE  
       BEGIN  
     SET @queryStr = @queryStr + ' and ISNULL(convert(datetime,EndDate,110),''9999-01-01'') >= cast ('''+format(@leaveyearstartdate,'yyyy-MM-dd')+''' AS DATE)  
     and convert(datetime,StartDate,110) <= cast ('''+format(@leaveyearenddate,'yyyy-MM-dd')+''' AS DATE) '  
     END  
     SET @queryStr = @queryStr +  
       ' group by ScheduledPersonID ) spl on spl.ScheduledPersonID =sp.UD_UserID  
       LEFT JOIN UserConfigs scp (nolock) ON sp.UD_UserID = scp.UC_UserID 
     AND CAST(GETDATE() AS DATE) BETWEEN scp.UC_StartDate AND scp.UC_EndDate  
      WHERE 1 = 1   
      AND CASE when '+cast(@additionalflag as varchar)+' =0 then 0 else  sp.UD_IsEligibleForAdditionalLeave END =  '+cast(@additionalflag  as varchar)       
     +') SP   
     LEFT OUTER JOIN LeaveAllocation la (NOLOCK) ON sp.ScheduledPersonID = la.SchedulingPersonID    
      AND la.iYear = '+cast(@intLeaveYear as varchar)  
      +' AND la.IsActive=1';  
    SET @queryStr = @queryStr + ' where SP.NetLogin IS NOT NULL GROUP BY
     SP.FullName ,  
     SP.StaffNumber,   
     SP.SortCode,   
     SP.NetLogin,   
     SP.ScheduledPersonID,  
     SP.EFT  
     ORDER BY FullName';  
 END  
  
 exec  (@queryStr)  
  
END