USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_Temp_Sickness]    Script Date: 20/08/2025 20:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER     PROCEDURE [dbo].[usp_IMPORT_A7_Temp_Sickness]
	@SystemID [int],
	@LogID [int],
	@MinHistoryID [int],
	@SystemStartDate [datetime],
	@SystemEndDate [datetime],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows				INT
	DECLARE @err				INT
	DECLARE @status				INT
	DECLARE @ImportUTCDateTime	DATETIME
	DECLARE @StepName			NVARCHAR(50)
	DECLARE @StepMessage		NVARCHAR(200)
	DECLARE @StepErrorMsg		NVARCHAR(200)
	DECLARE @StepRowsMsg		NVARCHAR(200)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	
	SET @StepName = N'Temp A7 Sickness'
	SET @StepMessage = N'Import new and modified A7 Sickness records'
	SET @StepErrorMsg = N'Error Importing A7 Sickness records'
	

	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);
	

	--Insert new Sickness records
	INSERT INTO  [Teampay_Aux].[dbo].[TempA7Sickness] (
		 [SicknessID]
		,[SystemID]
		,[AllocationID]
		,[SchedPersonID]
		,[SicknessReasonID]		
		,[SicknessDate]
		,[DurationSeconds]
		,[isChecked]		
		,[intCreatedBy]
		,[CreatedDateTime]
		,[intLastModBy]
		,[LastModDateTime]
		,[InsertUTCDateTime]
		,[IsActive]
		,[StaffNumber]
		,SicknessReason
		,SicknessCode
	 )
	SELECT T1.[ID]
		,@SystemID
		,ASP.[ASP_AllocationsSPID]
		,T1.[SchedulingPersonID]	
		,ISNULL(T1.[ReasonsId], 0)	
		,T1.[dDate]
		,ISNULL(T1.[Totalhrs]*3600, 0)
		,ISNULL(T1.[isChecked], 0)		
		,ISNULL(T1.[CreatedBy], 0)
		,T1.[Created]
		,ISNULL(T1.[LastModBy], 0)
		,T1.[LastModDate]
		,@ImportUTCDateTime
		,T1.[Deleted]
		,[UD_StaffNumber]
		,T2.SicknessName
		,T2.ReasonCode
	FROM [BBCSchedules].[dbo].[LeaveApplications] T1 
   INNER JOIN [BBCSchedules].[dbo].[UserDetails] UD ON UD_UserID = T1.SchedulingPersonID
   INNER JOIN [BBCSchedules].[dbo].[SicknessReason] T2 on T1.ReasonsId=T2.SicknessReasonID
    LEFT JOIN [BBCSchedules].[dbo].[AllocationsScheduledPersons] ASP ON UD_UserID = ASP_SchedulingPersonID
																	AND T1.dDate = ASP_DutyDate
   WHERE (T1.[dDate] BETWEEN @SystemStartDate AND @SystemEndDate)
	 AND (T1.[Created] > @UTCStartDateTime
	  OR T1.[LastModDate] > @UTCStartDateTime)


	--Check for Errors
	  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [ErrorNumber], [ErrorMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
				
				RETURN @err
			END
		ELSE
			BEGIN
				SET @StepRowsMsg = 'Imported ' + CAST(@rows AS NVARCHAR(20)) + ' records'
				
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [LogMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
			END
		IF @rows = 0 
			BEGIN
				SET @status = 0
				RETURN 0
			END


END