USE [ALLOCATE7]

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Declare variable
DECLARE @strSQL NVARCHAR(max)

--Check if the stored procedure already exists or not so we can either use ALTER or CREATE for the script
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GET_getSigninDetailsByStaffNumber]') AND type in (N'P', N'PC'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' PROCEDURE [dbo].[usp_GET_getSigninDetailsByStaffNumber]  
 -- Add the parameters for the stored procedure here  
@staffnumber Varchar(20),
@weeknumber  int,
@iday int  
   
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
  
SELECT id, staffnumber, history, iWeek, iDay, starttime, endtime
          FROM signin
          WHERE  (iWeek= @weeknumber)
          AND (iDay = @iday)
          AND (staffnumber = @staffnumber) 
END  
'

EXEC dbo.sp_executesql @strSQL

GO