USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_AccPeriodROTADurationSummary]    Script Date: 20/08/2025 20:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_IMPORT_A7_AccPeriodROTADurationSummary]
WITH EXECUTE AS CALLER
AS
BEGIN

		UPDATE T1
			SET T1.[AccPeriodStartDate]=T2.[AccPeriodStartDate],
				T1.[AccPeriodEndDate]=T2.[AccPeriodEndDate],
				T1.[AccPeriodEndWeek]=T2.[AccPeriodEndWeek],
				T1.[AccPeriodDuration]=T2.[AccPeriodDuration],
				T1.[AccPeriodDays]=T2.[AccPeriodDays],
				T1.[CreatedBy]=T2.[CreatedBy],
				T1.[CreatedDate]=T2.[CreatedDate],
				T1.[LastModDate]=GETDATE()
		FROM [Teampay_Aux].[dbo].[A7_AccPeriodROTADurationSummary] T1 
		INNER JOIN [BBCSchedules].[dbo].[AccPeriodROTADurationSummary] T2
					ON T1.[ScheduledPersonID] = T2.[ScheduledPersonID] 
					AND T1.[AccPeriodStartWeek] = T2.[AccPeriodStartWeek]
			WHERE ((T1.[AccPeriodStartDate] <> T2.[AccPeriodStartDate]) OR
				   (T1.[AccPeriodEndDate] <> T2.[AccPeriodEndDate]) OR
				   (T1.[AccPeriodEndWeek] <> T2.[AccPeriodEndWeek]) OR
				   (T1.[AccPeriodDuration] <> T2.[AccPeriodDuration]) OR
				   (T1.[AccPeriodDays]<>T2.[AccPeriodDays])
				  )
		
		
		INSERT INTO [Teampay_Aux].[dbo].[A7_AccPeriodROTADurationSummary] (
				[ScheduledPersonID],
				[AccPeriodStartDate],
				[AccPeriodEndDate],
				[AccPeriodStartWeek],
				[AccPeriodEndWeek],
				[AccPeriodDuration],
				[AccPeriodDays],
				[CreatedBy],
				[CreatedDate],
				[LastModDate],
				[LastModBy] )
			SELECT T1.[ScheduledPersonID]
			  ,T1.[AccPeriodStartDate]
			  ,T1.[AccPeriodEndDate]
			  ,T1.[AccPeriodStartWeek]
			  ,T1.[AccPeriodEndWeek]
			  ,T1.[AccPeriodDuration]
			  ,T1.[AccPeriodDays]
			  ,T1.[CreatedBy]
			  ,T1.[CreatedDate]
			  ,GETDATE()
			  ,T1.[LastModBy]			  
			FROM [BBCSchedules].[dbo].[AccPeriodROTADurationSummary] T1
			WHERE NOT EXISTS (SELECT T2.[ScheduledPersonID]
								FROM [Teampay_Aux].[dbo].[A7_AccPeriodROTADurationSummary] T2
							   WHERE T1.[ScheduledPersonID] = T2.[ScheduledPersonID]
								 AND T1.[AccPeriodStartWeek]=T2.[AccPeriodStartWeek])
			ORDER BY T1.[ScheduledPersonID];

END