USE [Allocate7]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_UserDetailsFromDomain]    Script Date: 14/02/2023 14:47:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER          PROCEDURE [dbo].[usp_get_UserDetailsFromDomain]
	@login [varchar](30)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--EXECUTE AS USER = 'NATIONAL\NOL-SVC-SSIS';

	DECLARE @rows INTEGER

	DECLARE @strMAIN	NVARCHAR(MAX)
	DECLARE @strSELECT	NVARCHAR(1000)
	DECLARE @strWHERE	NVARCHAR(4000)
	
	DECLARE @strSQLFULL	NVARCHAR(MAX)
	DECLARE @strSQL1	NVARCHAR(MAX)
	DECLARE @strSQL2	NVARCHAR(MAX)
	DECLARE @strSQL3	NVARCHAR(MAX)

	DECLARE @strADName1 NVARCHAR(200)
	DECLARE @strADName2 NVARCHAR(200)
	DECLARE @strADName3 NVARCHAR(200)
	DECLARE @strADPath1 NVARCHAR(200)
	DECLARE @strADPath2 NVARCHAR(200)
	DECLARE @strADPath3 NVARCHAR(200)

	--LDAP Linked Server Name
	SET @strADName1 = N'AD_NATIONAL'
	SET @strADName2 = N'AD_WORLDWIDE'
    SET @strADName3 = N'AD_INTERNATIONAL'

	--LDAP path
	SET @strADPath1 = N'LDAP://national.core.bbc.co.uk/dc=national,dc=core,dc=bbc,dc=co,dc=uk'
	SET @strADPath2 = N'LDAP://worldwide.bbc.co.uk/dc=worldwide,dc=bbc,dc=co,dc=uk'
    SET @strADPath3 = N'LDAP://international.core.bbc.co.uk/dc=international,dc=core,dc=bbc,dc=co,dc=uk'



	--Create the Query parts
	SET @strMAIN = N'SELECT 0 as UserID,
					ISNULL(T1.sAMAccountName, ''' + @login + ''') as UserLogin,
					ISNULL(T1.cn, '''') as FullUserName,
					ISNULL(T1.givenName, '''') as UserFirstName,
					ISNULL(T1.sn, '''') as UserSurname,
					ISNULL(T1.mail, '''') as UserEmailAddress,
					ISNULL(T1.EmployeeID, 0) as UserEmployeeNumber,
					IsActive = CASE WHEN T1.sAMAccountName IS NULL THEN 0
									WHEN T1.sAMAccountName = '''' THEN 0
									ELSE 1
							   END,
					GETDATE() AS LastModDate
			  FROM OPENQUERY('
	SET @strSELECT = N'''SELECT givenName, sn, cn, sAMAccountName, mail, EmployeeID FROM '''''
	SET @strWHERE = N''''' WHERE objectClass = ''''User'''' '
	SET @strWHERE = @strWHERE + N' AND objectCategory= ''''Person'''' '
	SET @strWHERE = @strWHERE + N' AND ''''userAccountControl:1.2.840.113556.1.4.803:''''<>2 '
	SET @strWHERE = @strWHERE + N' AND sAMAccountName=''''' + @login + ''''''

	--Create the Queries
	SET @strSQL1 = @strMAIN + @strADName1 + N',' + @strSELECT + @strADPath1 + @strWHERE + N''') as T1'
	SET @strSQL2 = @strMAIN + @strADName2 + N',' + @strSELECT + @strADPath2 + @strWHERE + N''') as T1'
	SET @strSQL3 = @strMAIN + @strADName3 + N',' + @strSELECT + @strADPath3 + @strWHERE + N''') as T1'
	
	--Join the queries
	SET @strSQLFULL = @strSQL1 + N' UNION ALL ' + @strSQL2		+ N' UNION ALL ' + @strSQL3


	--Check the Login
	SELECT @login = ISNULL(@login, '')
	
	IF (@login <> '')
		BEGIN

			--Query the AD Linked Servers
			EXEC sp_executesql @strSQLFULL
				

			SELECT @rows = @@ROWCOUNT

			
		END
	
	
	REVERT;
	
 
END