USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_Temp_LeaveApplication]    Script Date: 20/08/2025 20:49:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_IMPORT_A7_Temp_LeaveApplication]
	@SystemID [int],
	@LogID [int],
	@MinHistoryID [int],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows				INT
	DECLARE @err				INT
	DECLARE @status				INT
	DECLARE @ImportUTCDateTime	DATETIME
	DECLARE @StepName			NVARCHAR(50)
	DECLARE @StepMessage		NVARCHAR(200)
	DECLARE @StepErrorMsg		NVARCHAR(200)
	DECLARE @StepRowsMsg		NVARCHAR(200)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	
	SET @StepName = N'Temp A7 LeaveApplication'
	SET @StepMessage = N'Import new and modified A7 LeaveApplication records'
	SET @StepErrorMsg = N'Error Importing A7 LeaveApplication records'
	
	
	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);


	INSERT INTO [Teampay_Aux].[dbo].[TempA7LeaveApplication] (
	   [LeaveApplicationID]
	  ,[SystemID]
	  ,[SchedPersonID]
      ,[LeaveReqGroupID]
      ,[LeaveDate]
      ,[TotalLeaveHours]
      ,[isAttention]
      ,[isShortNotice]
      ,[isUnlikely]
      ,[isNotPossible]
      ,[isOverSummer]
      ,[isOK]
      ,[isCountLeave]
      ,[isZeroLeave]
      ,[isApproved]
      ,[isDeleted]
      ,[isSent]
      ,[Comments]
      ,[OfficeComments]
      ,[intCreatedBy]
      ,[CreatedDateTime]
      ,[intLastModBy]
      ,[LastModDateTime]
      ,[InsertUTCDateTime]
	)
	SELECT T1.[ID]
	  ,@SystemID
	  ,ISNULL(T1.[SchedulingPersonID], 0)
	  ,ISNULL(T1.[LeaveTypesID], 0)
	  ,T1.dDate
	  ,ISNULL(T1.[TotalHrs], 0)
	  ,ISNULL(T1.[Attention], 0)
      ,ISNULL(T1.[ShortNotice], 0)
      ,ISNULL(T1.[Unlikely], 0)
      ,ISNULL(T1.[NotPossible], 0)
      ,ISNULL(T1.[OverSummer], 0)
      ,ISNULL(T1.[isOK], 0)
      ,ISNULL(T1.[CountLeave], 0)
      ,ISNULL(T1.[ZeroLeave], 0)
      ,ISNULL(T1.[Approved], 0)
      ,ISNULL(T1.[Deleted], 0)
      ,ISNULL(T1.[Sent], 0)
      ,T1.[Comments]
      ,T1.[OfficeComments]
	  ,ISNULL(T1.[CreatedBy], 0)
	  ,T1.[Created]
	  ,ISNULL(T1.[LastModBy], 0)
	  ,T1.[LastModDate]
	  ,@ImportUTCDateTime
	FROM [Allocate7].[dbo].[LeaveApplications] T1
	WHERE (T1.[Created] > @UTCStartDateTime
	   OR T1.[LastModDate] > @UTCStartDateTime)
	
	
	--Check for Errors
	  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [ErrorNumber], [ErrorMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
				
				RETURN @err
			END
		ELSE
			BEGIN
				SET @StepRowsMsg = 'Imported ' + CAST(@rows AS NVARCHAR(20)) + ' records'
				
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [LogMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
			END
		IF @rows = 0 
			BEGIN
				SET @status = 0
				RETURN 0
			END


END

