USE [AllocateLink]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_TP_A7_STAFF_MASTER]    Script Date: 09/10/2025 18:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_Import_TP_A7_STAFF_MASTER]
	@ImportType		INT = 0
AS
-- =============================================
-- Author:      Michael Hoskin
-- Create date: 24/01/2022
-- Description: SP to populate the table with data from Teampay.
--				This can then be accessed by Allocate7.
-- Parameters:	@ImportType - Optional parameter with values:
--					0 = Full Import of all tables
--					1 = Just Import and process the StaffConfig changes
-- =============================================
-- Author:      Michael Hoskin
-- Create date: 25/11/2022
-- Description: Modify script to also import Allocate-Grey records
--					between 01/04/2021 and 01/04/2023
-- =============================================

BEGIN

		SET NOCOUNT ON;
		
		DECLARE @SystemID				INT
		DECLARE @SystemStartDate		DATETIME
		DECLARE @SystemEndDate			DATETIME
		DECLARE @AllocGreyStartDate		DATETIME
		DECLARE @AllocGreyEndDate		DATETIME


		--Check we have a vaild @ImportType
		SET @ImportType = ISNULL(@ImportType, 0)

		--Set Allocate-Grey date range
		SET @AllocGreyStartDate = '2021-04-01'
		SET @AllocGreyEndDate = '2023-04-01'


		--Set the Allocate7 System ID
		SET @SystemID = 5
		
		SELECT @SystemStartDate = T1.[SystemStartDate],
			   @SystemEndDate = T1.[SystemEndDate]
		  FROM [Teampay].[dbo].[AuxSystems] T1
		 WHERE T1.[SystemID] = @SystemID;


		IF @SystemStartDate IS NOT NULL
			BEGIN
				IF (@ImportType = 0)
					BEGIN
						--Full Import
						
						--Import the Allocate-Grey Data
						EXEC usp_Import_TP_A7_StaffConfig 1, @AllocGreyStartDate, @AllocGreyEndDate;
						EXEC usp_Import_TP_A7_StaffConfig 2, @AllocGreyStartDate, @AllocGreyEndDate;
						
						--Import the Allocate7 Data
						EXEC usp_Import_TP_A7_StaffConfig @SystemID, @SystemStartDate, @SystemEndDate;
						
						--Import Common data
						EXEC usp_Import_TP_A7_StaffContract @SystemID, @AllocGreyStartDate, @SystemEndDate;
						EXEC usp_Import_TP_A7_StaffDetails;
						EXEC usp_Import_TP_A7_StaffPosition @SystemID, @AllocGreyStartDate, @SystemEndDate;
						EXEC usp_Import_TP_A7_StaffPosition_Actual @SystemID, @AllocGreyStartDate, @SystemEndDate;
						--EXEC usp_Import_TP_A7_StaffTimesheets @SystemID, @AllocGreyStartDate, @SystemEndDate;
					END
				ELSE
					BEGIN
						--Just Import the StaffConfig changes

						--Import the Allocate-Grey Data
						EXEC usp_Import_TP_A7_StaffConfig 1, @AllocGreyStartDate, @AllocGreyEndDate;
						EXEC usp_Import_TP_A7_StaffConfig 2, @AllocGreyStartDate, @AllocGreyEndDate;
						
						--Import the Allocate7 Data
						EXEC usp_Import_TP_A7_StaffConfig @SystemID, @SystemStartDate, @SystemEndDate;
					END
					
				--Check for Config and Contract records marked as not Active
				--EXEC usp_Import_TP_A7_Delete_StaffConfig @SystemID, @SystemStartDate, @SystemEndDate;
				EXEC usp_Import_TP_A7_Delete_StaffConfig @SystemID, @AllocGreyStartDate, @SystemEndDate;


				--Process the Config records
				--EXEC usp_Import_TP_A7_StaffConfig_Processed @SystemID, @SystemStartDate, @SystemEndDate;
				EXEC usp_Import_TP_A7_StaffConfig_Processed @SystemID, @AllocGreyStartDate, @SystemEndDate;

				EXEC Allocate7.dbo.usp_Import_AL_A7_StaffDetails
				EXEC Allocate7.dbo.usp_Import_AL_A7_StaffConfig_Processed
			END
			

END

