USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_GET_ChargeWbsCodeList]    Script Date: 05/01/2026 22:22:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_GET_ChargeWbsCodeList]
@codetype  Varchar(10),
@userid Varchar(100)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @sql varchar(max),@returnstring VARCHAR(100) ,@conditionstring Varchar(max)

--For SystemAdmin role
	IF EXISTS(select 1 from UserRoles (NOLOCK) where UR_UserID = @userid and UR_RoleID = 1)

BEGIN


			SET @sql = 'select Distinct ChargeWbsCodeId,ChargeWbsCodeName,Description,di.DivisionId,di.DivisionName,cwc.IsActive from ChargeWbsCode cwc
						Join Divisions di on di.DivisionID =cwc.DivisionId and di.isActive = 1 and CodeType =   '
			SET @sql = @sql + @codetype

END
		--For other role
ELSE
BEGIN

	     SET @sql = 'select Distinct ChargeWbsCodeId,ChargeWbsCodeName,Description,di.DivisionId,di.DivisionName,cwc.IsActive
					from ChargeWbsCode cwc
						Join Divisions di on di.DivisionID =cwc.DivisionId and di.isActive = 1
						join UserRoles on UR_DivisionId = cwc.DivisionId 
						join REF_Roles RR on RR.RoleID = UR_RoleID and RR.RoleName = ''Area Admin''
					where UR_UserID ='

		SET @sql = @sql + @userid + ' and CodeType ='+  @codetype


		+' UNION

			select Distinct ChargeWbsCodeId,ChargeWbsCodeName,Description,di.DivisionId,di.DivisionName,cwc.IsActive from ChargeWbsCode cwc
			Join Divisions di on di.DivisionID =cwc.DivisionId and di.isActive = 1
			where di.DivisionID IN (select Distinct st.divisionid  
			from UserRoles
			Join schedulingTeams st on st.schedulingTeamId = UR_SchedulingTeamID and st.isActive = 1
			where UR_RoleID IN (3,4,5) and getdate() BETWEEN UR_StartDate and UR_EndDate AND UR_UserID = '

		SET @sql = @sql + @userid  +') and CodeType ='+  @codetype


END
exec (@sql)

END