USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_ScheduledPeople]    Script Date: 20/08/2025 20:55:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_IMPORT_A7_ScheduledPeople]
	@SystemID [int],
	@LogID [int],
	@MinHistoryID [int],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows					INT
	DECLARE @err					INT
	DECLARE @status					INT
	DECLARE @ImportUTCDateTime		DATETIME
	DECLARE @strImportUTCDateTime	NVARCHAR(50)
	DECLARE @StepName				NVARCHAR(50)
	DECLARE @StepMessage			NVARCHAR(200)
	DECLARE @StepErrorMsg			NVARCHAR(200)
	DECLARE @StepRowsMsg			NVARCHAR(200)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	SET @strImportUTCDateTime = CONVERT(NVARCHAR(10), @ImportUTCDateTime, 106) + ' at ' + CONVERT(NVARCHAR(10), @ImportUTCDateTime, 108)
	
	SET @StepName = N'A7 ScheduledPeople'
	SET @StepMessage = N'Process and Import ScheduledPeople records from [TempA7ScheduledPeople]'
	SET @StepErrorMsg = N'Error Importing [A7ScheduledPeople] records'
	
	
	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);


	--Check we have rows to process
	SELECT @rows = COUNT(*)
	  FROM [Teampay_Aux].[dbo].[TempA7ScheduledPeople]

	SET @rows = ISNULL(@rows, 0)


	--Process Data
	IF (@rows > 0)
		BEGIN	

		---- UPDATE [A7ScheduledPeople] records ----

			--Mark as Deleted records that no longer exist
			UPDATE T1
			   SET [isActive] = 0
				  --,[intLastModBy] = T2.[intLastModBy]
				  --,[LastModBy] = T2.[LastModBy]
				  ,[LastModDateTime] = @ImportUTCDateTime
				  ,[InsertUTCDateTime] = @ImportUTCDateTime
				  ,[History] = 'Deleted on ' + @strImportUTCDateTime
			  FROM [Teampay_Aux].[dbo].[A7ScheduledPeople] T1 LEFT OUTER JOIN [Teampay_Aux].[dbo].[TempA7ScheduledPeople] T2
					ON T1.[SystemID] = T2.[SystemID] AND T1.[SchedPersonID] = T2.[SchedPersonID]
			 WHERE (T2.[SchedPersonID] IS NULL);

			--Check for Errors
			  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0 
					BEGIN
						INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], [ImportUTCDateTime], 
								[StepName], [ErrorNumber], [ErrorMessage])
						VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
						
						RETURN @err
					END
				ELSE
					BEGIN
						SET @StepRowsMsg = 'Deleted ' + CAST(@rows AS NVARCHAR(20)) + ' records'
						
						INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
								[ImportUTCDateTime], [StepName], [LogMessage])
						VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
					END



			--Update recently changed records
			UPDATE T1
			   SET [StaffDetailsID] = T2.[StaffDetailsID]
				  ,[TeampayStaffID] = T2.[TeampayStaffID]
				  ,[UserID] = T2.[UserID]
				  ,[DisplayName] = T2.[DisplayName]
				  ,[DisplayFirstname] = T2.[DisplayFirstname]
				  ,[DisplayLastname] = T2.[DisplayLastname]
				  ,[PHLLeaveAmount] = T2.[PHLLeaveAmount]
			      ,[EmpNumber] = T2.[EmpNumber]
			      ,[StaffNumber] = T2.[StaffNumber]
				  ,[isActive] = T2.[isActive]
				  ,[intCreatedBy] = T2.[intCreatedBy]
				  ,[CreatedBy] = T2.[CreatedBy]
				  ,[CreatedDateTime] = T2.[CreatedDateTime]
				  ,[intLastModBy] = T2.[intLastModBy]
				  ,[LastModBy] = T2.[LastModBy]
				  ,[LastModDateTime] = T2.[LastModDateTime]
				  ,[InsertUTCDateTime] = T2.[InsertUTCDateTime]
				  ,[History] = T2.[History]
			  FROM [Teampay_Aux].[dbo].[A7ScheduledPeople] T1 INNER JOIN [Teampay_Aux].[dbo].[TempA7ScheduledPeople] T2
					ON T1.[SystemID] = T2.[SystemID] AND T1.[SchedPersonID] = T2.[SchedPersonID]
			 WHERE ((T1.[StaffDetailsID] <> T2.[StaffDetailsID])
				OR (T1.[TeampayStaffID] <> T2.[TeampayStaffID])
				OR (T1.[UserID] <> T2.[UserID])
				OR (ISNULL(T1.[DisplayName], '') <> ISNULL(T2.[DisplayName], ''))
				OR (ISNULL(T1.[DisplayFirstname], '') <> ISNULL(T2.[DisplayFirstname], ''))
				OR (ISNULL(T1.[DisplayLastname], '') <> ISNULL(T2.[DisplayLastname], ''))
				OR (T1.[PHLLeaveAmount] <> T2.[PHLLeaveAmount])
				OR (T1.[EmpNumber] <> T2.[EmpNumber])
				OR (ISNULL(T1.[StaffNumber], '') <> ISNULL(T2.[StaffNumber], ''))
				OR (T1.[isActive] <> T2.[isActive])
				OR (T1.[intCreatedBy] <> T2.[intCreatedBy])
				OR (T1.[CreatedBy] <> T2.[CreatedBy])
				OR (T1.[CreatedDateTime] <> T2.[CreatedDateTime])
				OR (T1.[intLastModBy] <> T2.[intLastModBy])
				OR (T1.[LastModBy] <> T2.[LastModBy])
				OR (T1.[LastModDateTime] <> T2.[LastModDateTime]));
			   --OR (T1.[History] <> T2.[History]))

			--Check for Errors
			  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0 
					BEGIN
						INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], [ImportUTCDateTime], 
								[StepName], [ErrorNumber], [ErrorMessage])
						VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
						
						RETURN @err
					END
				ELSE
					BEGIN
						SET @StepRowsMsg = 'Updated ' + CAST(@rows AS NVARCHAR(20)) + ' records'
						
						INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
								[ImportUTCDateTime], [StepName], [LogMessage])
						VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
					END



			--Insert records that do not exist
			INSERT INTO [Teampay_Aux].[dbo].[A7ScheduledPeople] (
			   [SchedPersonID]
			  ,[SystemID]
			  ,[StaffDetailsID]
			  ,[TeampayStaffID]
			  ,[UserID]
			  ,[DisplayName]
			  ,[DisplayFirstname]
			  ,[DisplayLastname]
			  ,[PHLLeaveAmount]
			  ,[EmpNumber]
			  ,[StaffNumber]
			  ,[isActive]
			  ,[intCreatedBy]
			  ,[CreatedDateTime]
			  ,[intLastModBy]
			  ,[LastModDateTime]
			  ,[InsertUTCDateTime]
			  ,[History]
			)
			SELECT T1.[SchedPersonID]
			  ,T1.[SystemID]
			  ,T1.[StaffDetailsID]
			  ,T1.[TeampayStaffID]
			  ,T1.[UserID]
			  ,T1.[DisplayName]
			  ,T1.[DisplayFirstname]
			  ,T1.[DisplayLastname]
			  ,T1.[PHLLeaveAmount]
			  ,T1.[EmpNumber]
			  ,T1.[StaffNumber]
			  ,T1.[isActive]
			  ,T1.[intCreatedBy]
			  ,T1.[CreatedDateTime]
			  ,T1.[intLastModBy]
			  ,T1.[LastModDateTime]
			  ,T1.[InsertUTCDateTime]
			  ,T1.[History]
			FROM [Teampay_Aux].[dbo].[TempA7ScheduledPeople] T1
			WHERE NOT EXISTS (SELECT T2.[SchedPersonID]
								FROM [Teampay_Aux].[dbo].[A7ScheduledPeople] T2
							   WHERE T1.[SystemID] = T2.[SystemID]
							     AND T1.[SchedPersonID] = T2.[SchedPersonID])
			ORDER BY T1.[SchedPersonID];

			--Check for Errors
			  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
				IF @err <> 0 
					BEGIN
						INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], [ImportUTCDateTime], 
								[StepName], [ErrorNumber], [ErrorMessage])
						VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
						
						RETURN @err
					END
				ELSE
					BEGIN
						SET @StepRowsMsg = 'Inserted ' + CAST(@rows AS NVARCHAR(20)) + ' new records'
						
						INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
								[ImportUTCDateTime], [StepName], [LogMessage])
						VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
					END
		END
	ELSE
		BEGIN
			SET @StepRowsMsg = 'No rows to process and Import'
			
			INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
					[ImportUTCDateTime], [StepName], [LogMessage])
			VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
		END
END

