USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_Import_AL_A7_StaffConfig_Processed]    Script Date: 09/10/2025 17:58:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_Import_AL_A7_StaffConfig_Processed] 
	
AS
BEGIN

DECLARE @Imphistory VARCHAR(MAX)
DECLARE @currentTime VARCHAR(50)

BEGIN TRY


	SET @currentTime = FORMAT (getdate(), 'dd/MM/yyyy hh:mm')
	SET @Imphistory = 'Updated by AutoUpdate on '+@currentTime

	UPDATE T1
	   SET  T1.StartDate=T2.StartDate,
	        T1.EndDate=T2.EndDate,
	        T1.TeampayDepartmentID=T2.TeampayDepartmentID,
			T1.OrgID=T2.OrgID,
			T1.OrgPositionID=T2.OrgPositionID,
			T1.GradeID=T2.GradeID,
			T1.Grade=T2.Grade,
			T1.ActingGrade=T2.ActingGrade,
			T1.ActingGradeID=T2.ActingGradeID,
			T1.EmpGroupCode=T2.EmpGroupCode,
			T1.EmpSubGroupCode=T2.EmpSubGroupCode,
			T1.EFT=T2.EFT,
			T1.IsPartTime=T2.IsPartTime,
			T1.CostCode=T2.CostCode,
			T1.ActivityType=T2.ActivityType,
			T1.UPACode=T2.UPACode,
			T1.AccGroupID=T2.AccGroupID,
			T1.EDPMinimum=t2.EDPMinimum,
			T1.EDPMinimumExcBreaks=T2.EDPMinimumExcBreaks,
			T1.PartTimeEDP=T2.PartTimeEDP,
			T1.AveDayLen=T2.AveDayLen,
			T1.AccDays=T2.AccDays,
			T1.TermsCondsVersionID=T2.TermsCondsVersionID,
			T1.PaymentTypeID=T2.PaymentTypeID,
			T1.BreaksGroupID=T2.BreaksGroupID,
			T1.ManualEDP=t2.ManualEDP,
			T1.ContractCode=T2.ContractCode,
			T1.ShiftBreak=T2.ShiftBreak,
			T1.AutoEDPTOIL=T2.AutoEDPTOIL,
			T1.comments=T2.comments,
			T1.SchedulingSystemID=T2.SchedulingSystemID,
			T1.ConfigId=T2.ConfigId,
			T1.History = T2.History,
			T1.ImportedHistory=CASE WHEN (NULLIF(T1.ImportedHistory, '') IS NULL) Then @Imphistory
						   ELSE T1.ImportedHistory + CHAR(13) + CHAR(10) + @Imphistory
					  END
							
		
   FROM  BBCSchedules.dbo.StaffConfig_Processed T1 INNER JOIN [AllocateLink].[dbo].[TP_A7_StaffConfig_Processed] T2 ON T2.SCP_ID = T1.SCP_ID
	 WHERE (((T1.StartDate <> T2.StartDate) OR (T1.StartDate IS NULL AND T2.StartDate IS NOT NULL) OR (T1.StartDate IS NOT NULL AND T2.StartDate IS NULL))
	    OR ((T1.EndDate <> T2.EndDate) OR (T1.EndDate IS NULL AND T2.EndDate IS NOT NULL) OR (T1.EndDate IS NOT NULL AND T2.EndDate IS NULL))
		OR ((T1.TeampayDepartmentID <> T2.TeampayDepartmentID) OR (T1.TeampayDepartmentID IS NULL AND T2.TeampayDepartmentID IS NOT NULL) OR (T1.TeampayDepartmentID IS NOT NULL AND T2.TeampayDepartmentID IS NULL))
		OR ((T1.OrgID <> T2.OrgID) OR (T1.OrgID IS NULL AND T2.OrgID IS NOT NULL) OR (T1.OrgID IS NOT NULL AND T2.OrgID IS NULL))
		OR ((T1.OrgPositionID <> T2.OrgPositionID) OR (T1.OrgPositionID IS NULL AND T2.OrgPositionID IS NOT NULL) OR (T1.OrgPositionID IS NOT NULL AND T2.OrgPositionID IS NULL))
		OR ((T1.GradeID <> T2.GradeID) OR (T1.GradeID IS NULL AND T2.GradeID IS NOT NULL) OR (T1.GradeID IS NOT NULL AND T2.GradeID IS NULL))
		OR  ((T1.ActingGradeID <> T2.ActingGradeID) OR (T1.ActingGradeID IS NULL AND T2.ActingGradeID IS NOT NULL) OR (T1.ActingGradeID IS NOT NULL AND T2.ActingGradeID IS NULL))
		OR  ((T1.EmpSubGroupCode <> T2.EmpSubGroupCode) OR (T1.EmpSubGroupCode IS NULL AND T2.EmpSubGroupCode IS NOT NULL) OR (T1.EmpSubGroupCode IS NOT NULL AND T2.EmpSubGroupCode IS NULL))
		OR	((T1.EFT <> T2.EFT) OR (T1.EFT IS NULL AND T2.EFT IS NOT NULL) OR (T1.EFT IS NOT NULL AND T2.EFT IS NULL))
		OR	((T1.PartTimeEDP <> T2.PartTimeEDP) OR (T1.PartTimeEDP IS NULL AND T2.PartTimeEDP IS NOT NULL) OR (T1.PartTimeEDP IS NOT NULL AND T2.PartTimeEDP IS NULL))
		OR	((T1.CostCode <> T2.CostCode) OR (T1.CostCode IS NULL AND T2.CostCode IS NOT NULL) OR (T1.CostCode IS NOT NULL AND T2.CostCode IS NULL))
		OR	((T1.UPACode <> T2.UPACode) OR (T1.UPACode IS NULL AND T2.UPACode IS NOT NULL) OR (T1.UPACode IS NOT NULL AND T2.UPACode IS NULL))
		OR	((T1.EDPMinimum <> T2.EDPMinimum) OR (T1.EDPMinimum IS NULL AND T2.EDPMinimum IS NOT NULL) OR (T1.EDPMinimum IS NOT NULL AND T2.EDPMinimum IS NULL))
		OR	((T1.EDPMinimumExcBreaks <> T2.EDPMinimumExcBreaks)OR (T1.EDPMinimumExcBreaks IS NULL AND T2.EDPMinimumExcBreaks IS NOT NULL) OR (T1.EDPMinimumExcBreaks IS NOT NULL AND T2.EDPMinimumExcBreaks IS NULL))
		OR	((T1.PartTimeEDP <> T2.PartTimeEDP)  OR (T1.PartTimeEDP IS NULL AND T2.PartTimeEDP IS NOT NULL) OR (T1.PartTimeEDP IS NOT NULL AND T2.PartTimeEDP IS NULL))
		OR	((T1.AveDayLen <> T2.AveDayLen) OR (T1.AveDayLen IS NULL AND T2.AveDayLen IS NOT NULL) OR (T1.AveDayLen IS NOT NULL AND T2.AveDayLen IS NULL))
		OR	((T1.AccDays <> T2.AccDays) OR (T1.AccDays IS NULL AND T2.AccDays IS NOT NULL) OR (T1.AccDays IS NOT NULL AND T2.AccDays IS NULL))
		OR	((T1.TermsCondsVersionID <> T2.TermsCondsVersionID) OR (T1.TermsCondsVersionID IS NULL AND T2.TermsCondsVersionID IS NOT NULL) OR (T1.TermsCondsVersionID IS NOT NULL AND T2.TermsCondsVersionID IS NULL))
		OR	((T1.PaymentTypeID <> T2.PaymentTypeID) OR (T1.PaymentTypeID IS NULL AND T2.PaymentTypeID IS NOT NULL) OR (T1.PaymentTypeID IS NOT NULL AND T2.PaymentTypeID IS NULL))
		OR	((T1.BreaksGroupID <> T2.BreaksGroupID) OR (T1.BreaksGroupID IS NULL AND T2.BreaksGroupID IS NOT NULL) OR (T1.BreaksGroupID IS NOT NULL AND T2.BreaksGroupID IS NULL))
		OR	((T1.ManualEDP <> T2.ManualEDP) OR (T1.ManualEDP IS NULL AND T2.ManualEDP IS NOT NULL) OR (T1.ManualEDP IS NOT NULL AND T2.ManualEDP IS NULL))
		OR	((T1.ContractCode <> T2.ContractCode) OR (T1.ContractCode IS NULL AND T2.ContractCode IS NOT NULL) OR (T1.ContractCode IS NOT NULL AND T2.ContractCode IS NULL))
		OR	((T1.AutoEDPTOIL <> T2.AutoEDPTOIL) OR (T1.AutoEDPTOIL IS NULL AND T2.AutoEDPTOIL IS NOT NULL) OR (T1.AutoEDPTOIL IS NOT NULL AND T2.AutoEDPTOIL IS NULL))
		OR	((T1.SchedulingSystemID <> T2.SchedulingSystemID) OR (T1.SchedulingSystemID IS NULL AND T2.SchedulingSystemID IS NOT NULL) OR (T1.SchedulingSystemID IS NOT NULL AND T2.SchedulingSystemID IS NULL)))



	INSERT INTO BBCSchedules.dbo.StaffConfig_Processed
							(   SCP_ID,
								TeampayStaffID,
								StaffID,
								TeampayStaffNumber,
								TeampayEmpNumber,
								StartDate,
								EndDate,
								TeampayDepartmentID,
								OrgID,
								OrgPositionID,
								JobTitle,
								GradeID,
								Grade,
								GradeConditions,
								ActingGradeID,
								ActingGrade,
								ActingGradeConditions,
								EmpGroupCode,
								EmpGroup,
								EmpSubGroupCode,
								EmpSubGroup,
								EFT,
								IsPartTime,
								CostCode,
								ActivityType,
								UPACode,
								AccGroupID,
								AccGroup,
								EDPMinimum,
								EDPMinimumExcBreaks,
								PartTimeEDP,
								AveDayLen,
								AccDays,
								TermsCondsVersionID,
								PaymentTypeID,
								BreaksGroupID,
								ManualEDP,
								ContractCode,
								ShiftBreak,
								AutoEDPTOIL,
								PaymentTypeName,
								CreatedDate,
								LastModDate,
								LastModBy,
								History,
								comments,
								SchedulingSystemID,
								LastImportedBy,
								LastImportedDate,
								TeampaySCPID,
								ImportedHistory
							)
					SELECT
					            SCP_ID,
								TeampayStaffID,
								TeampayStaffID,
								TeampayStaffNumber,
								TeampayEmpNumber,
								StartDate,
								EndDate,
								TeampayDepartmentID,
								OrgID,
								OrgPositionID,
								JobTitle,
								GradeID,
								Grade,
								GradeConditions,
								ActingGradeID,
								ActingGrade,
								ActingGradeConditions,
								EmpGroupCode,
								EmpGroup,
								EmpSubGroupCode,
								EmpSubGroup,
								EFT,
								IsPartTime,
								CostCode,
								ActivityType,
								UPACode,
								AccGroupID,
								AccGroup,
								EDPMinimum,
								EDPMinimumExcBreaks,
								PartTimeEDP,
								AveDayLen,
								AccDays,
								TermsCondsVersionID,
								PaymentTypeID,
								BreaksGroupID,
								ManualEDP,
								ContractCode,
								ShiftBreak,
								AutoEDPTOIL,
								PaymentTypeName,
								CreatedDate,
								LastModDate,
								LastModBy,
								History,
								'AutoUpdate',
								SchedulingSystemID,
								0,
								getdate(),
								SCP_ID,
								@Imphistory
						FROM [AllocateLink].[dbo].[TP_A7_StaffConfig_Processed] 
						WHERE SCP_ID  NOT IN (SELECT SCP_ID FROM BBCSchedules.dbo.StaffConfig_Processed)


        -- Delete Inactive Config -------------------
		     
			DELETE FROM BBCSchedules.dbo.StaffConfig_Processed
						WHERE SCP_ID  NOT IN (SELECT SCP_ID FROM [AllocateLink].[dbo].[TP_A7_StaffConfig_Processed] )
		  
	  

END TRY
BEGIN CATCH

ROLLBACK TRANSACTION

	INSERT INTO ErrorLog
			VALUES
			(
			ERROR_NUMBER(),
			ERROR_STATE(),
			ERROR_SEVERITY(),
			ERROR_LINE(),
			'usp_Import_AL_A7_StaffConfig_Processed',
			ERROR_MESSAGE(),
			GETDATE(),
			0
			)
END CATCH
END