USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_Temp_HistoryType]    Script Date: 20/08/2025 20:32:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE OR ALTER PROCEDURE [dbo].[usp_IMPORT_A7_Temp_HistoryType]
	@SystemID [int],
	@LogID [int],
	@MinHistoryTypeID [int],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows				INT
	DECLARE @err				INT
	DECLARE @status				INT
	DECLARE @ImportUTCDateTime	DATETIME
	DECLARE @StepName			NVARCHAR(50)
	DECLARE @StepMessage		NVARCHAR(200)
	DECLARE @StepErrorMsg		NVARCHAR(200)
	DECLARE @StepRowsMsg		NVARCHAR(200)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	
	SET @StepName = N'Temp A7 HistoryType'
	SET @StepMessage = N'Import new and modified A7 HistoryType records'
	SET @StepErrorMsg = N'Error Importing A7 HistoryType records'
	
	
	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);
	
	
	
	--Insert new HistoryType records
	INSERT INTO [Teampay_Aux].[dbo].[TempA7HistoryType] (
		[HistoryTypeID]
	   ,[SystemID]
	   ,[HistoryTypeDesc]
	   ,[InsertUTCDateTime]
	 )
	SELECT [ID]
	  ,@SystemID
	  ,[HistoryType]
	  ,@ImportUTCDateTime
	 FROM [BBCSchedules].[dbo].[HistoryTypes]
	ORDER BY [ID]


	--Check for Errors
	  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], [ImportUTCDateTime], 
						[StepName], [ErrorNumber], [ErrorMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
				
				RETURN @err
			END
		ELSE
			BEGIN
				SET @StepRowsMsg = 'Imported ' + CAST(@rows AS NVARCHAR(20)) + ' records'
				
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [LogMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
			END
		IF @rows = 0 
			BEGIN
				SET @status = 0
				RETURN 0
			END


END

