USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_Temp_Duties]    Script Date: 04/09/2025 22:02:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_IMPORT_A7_Temp_Duties]
	@SystemID [int],
	@LogID [int],
	@MinHistoryID [int],
	@SystemStartDate [datetime],
	@SystemEndDate [datetime],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows				INT
	DECLARE @err				INT
	DECLARE @status				INT
	DECLARE @ImportUTCDateTime	DATETIME
	DECLARE @StepName			NVARCHAR(50)
	DECLARE @StepMessage		NVARCHAR(200)
	DECLARE @StepErrorMsg		NVARCHAR(200)
	DECLARE @StepRowsMsg		NVARCHAR(200)


    DECLARE @TempDutyList Table (AllocationsSPID INT, 
								 AllocationsDutyID INT)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	
	SET @StepName = N'Temp A7 Allocations'
	SET @StepMessage = N'Import new and modified A7 Allocations records'
	SET @StepErrorMsg = N'Error Importing A7 Allocations records'
	
	
	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);


	INSERT INTO @TempDutyList(AllocationsSPID, AllocationsDutyID)
	SELECT  ASP_AllocationsSPID, ASP_AllocationsDutyID
		FROM [BBCSchedules].[dbo].[AllocationsUpdated] AU
		INNER JOIN [BBCSchedules].[dbo].[AllocationsScheduledPersons] ASP ON ASP.ASP_AllocationsSPID = AU.AU_AllocationsSPID
		WHERE AU_UpdatedDate > @UTCStartDateTime
		GROUP BY ASP_AllocationsSPID, ASP_AllocationsDutyID


	INSERT INTO @TempDutyList(AllocationsSPID, AllocationsDutyID)
	SELECT  ASP_AllocationsSPID, ASP_AllocationsDutyID
		FROM [BBCSchedules].[dbo].[AllocationsUpdated] AU
		INNER JOIN [BBCSchedules].[dbo].[AllocationsScheduledPersons] ASP ON ASP.ASP_AllocationsDutyID = AU.AU_AllocationsDutyID
		WHERE AU_UpdatedDate > @UTCStartDateTime		
		AND NOT EXISTS ( SELECT 1 
							FROM @TempDutyList TL
							WHERE TL.AllocationsSPID = ASP_AllocationsSPID )
		GROUP BY ASP_AllocationsSPID, ASP_AllocationsDutyID

	INSERT INTO @TempDutyList(AllocationsSPID, AllocationsDutyID)
	SELECT  ASP_AllocationsSPID, ASP_AllocationsDutyID
		FROM [BBCSchedules].[dbo].[Allocations] AU
		INNER JOIN [BBCSchedules].[dbo].[AllocationsScheduledPersons] ASP ON AL_AllocationsID =  ASP.ASP_AllocationsID 
		WHERE AL_CreatedDate > @UTCStartDateTime	
		  AND AL_WeekNumber >= 202314
		AND NOT EXISTS ( SELECT 1 
							FROM @TempDutyList TL
							WHERE TL.AllocationsSPID = ASP_AllocationsSPID )
		GROUP BY ASP_AllocationsSPID, ASP_AllocationsDutyID


	INSERT INTO [Teampay_Aux].[dbo].[TempA7Duties] (
	   [DutyID]
      ,[SystemID]
      ,[DepartmentID]
      ,[SchedPersonID]
      ,[SchedTeamID]
	  ,[IsHomeTeam]
      ,[MasterDutyID]
      ,[DutyTeamID]
      ,[DutyProgramID]
      ,[DutyName]
      ,[DutyDate]
	  --,[StartDateTime]
      --,[EndDateTime]
      ,[DutyWeek]
      ,[DutyDay]
      ,[StartTimeSeconds]
      ,[EndTimeSeconds]
      ,[DurationSeconds]
      ,[BreakSeconds]
      ,[ManualOTSeconds]
      ,[ManualERRAmount]
      ,[BaseCode]
      ,[ActingGrade]
      ,[SortCode]
      ,[LeaveID]
      ,[AdhocDuty]
      ,[MarkForOvertime]
      ,[MarkWIAD]
      ,[MarkActual]
      ,[isAttention]
	  ,[UnAllocated]
      ,[isRequest]
      ,[isEdited]
	  ,[isPublished]
	  ,[PubWeekID]
      ,[PlannedDurationSeconds]
      ,[MarkOver12]
      ,[MarkOverseasOver12]
      ,[Over12Seconds]
      ,[MarkUnder11HoursBreak]
      ,[MarkUnder11HoursBreakOverride]
      ,[CalculatedUnder11Seconds]
      ,[OverrideUnder11Seconds]
      ,[Under11Comment]
      ,[CommentsDuty]
	  ,[IsSickness]
      ,[IsActive]
	  ,[intCreatedBy]
      ,[CreatedDateTime]
      ,[intLastModBy]
      ,[LastModDateTime]
      ,[InsertUTCDateTime]
	  ,[LeaveStartTime]
	  ,[LeaveEndTime]
	)
	SELECT ASP.[ASP_AllocationsSPID]
	  ,@SystemID
      ,0 AS DepartmentID
	  ,ISNULL(ASP.[ASP_SchedulingPersonID], 0)
	  ,ISNULL(T1.[AL_SchedulingTeamID], 0)
	  ,1 AS IsHomeTeam
	  ,ISNULL(AD.[AD_MasterDutyID], 0)
      ,ISNULL(ASP.[ASP_DutyTeamID], 0)
	  ,ISNULL(AD.[AD_DutyProgramID1], 0)
	  ,CASE WHEN AD.[AD_DutyName] IS NULL THEN 'U'
			WHEN AD.[AD_DutyType] = 8
				 THEN CASE WHEN ASP.[ASP_LeaveType] = 1
						   THEN 'Leave'
						   WHEN ASP.[ASP_LeaveType] = 2
						   THEN 'OFF Leave'
						   WHEN ASP.[ASP_LeaveType] = 3
						   THEN 'Sick'
						   WHEN ASP.[ASP_LeaveType] = 4
						   THEN 'U-Sick'
						   WHEN ASP.[ASP_LeaveType] = 5
						   THEN '-Sick'
						   WHEN ASP.[ASP_LeaveType] = 7
						   THEN 'Absent'
					   END
				ELSE AD.[AD_DutyName]
			END		  
	  ,ISNULL(ASP.[ASP_DutyDate], '19700101') AS [DutyDate]
      --,T1.[StartDate]
	  --,T1.[EndDate]
	  ,ISNULL(T1.[AL_WeekNumber], 0)
      ,ISNULL(ASP.[ASP_iDay], 0)
	  ,AD.[AD_StartTimeSec]
      ,AD.[AD_EndTimeSec]
	  ,CASE WHEN AD.[AD_DutyType] = 8 
			THEN ISNULL(ASP.ASP_LeaveDuration,0)
			ELSE ISNULL(AD.[AD_Duration], 0)
		END
	  ,ISNULL(AD.[AD_DutyBreakTime], 0)
      ,ISNULL(ASP.[ASP_OverTimeHours], 0)
	  ,0  AS ManualERRAmount
	  ,0  AS BaseCode
	  ,0  AS ActingGrade
      ,ASP.[ASP_SortCode]
      ,ISNULL(LA.[ID], 0)
      ,CASE WHEN AD_DutyType = 6 THEN 1 ELSE 0 END
	  ,ISNULL(ASP.[ASP_MarkedOverTime], 0)
	  ,CASE WHEN ASP_WIADStatus = 1 THEN 1 ELSE 0 END
      ,CASE WHEN ASP_WIADStatus = 2 THEN 1 ELSE 0 END
      ,1 AS UnAllocated
	  ,ISNULL(AD.[AD_isAttention], 0)
      ,ISNULL(AD.[AD_isRequest], 0)
      ,ISNULL(AD.[AD_IsEditedDutyAttention], 0)
	  ,ISNULL(T1.[AL_Status], 0)
	  ,ISNULL(T1.[AL_AllocationsID], 0)
	  ,ISNULL(AD.[AD_PlannedDuration], 0)
      ,CASE WHEN ASP_OverTwelveStatus = 0 THEN 9
			WHEN ASP_OverTwelveStatus = 1 THEN -1
			WHEN ASP_OverTwelveStatus = 2 THEN 1
			WHEN ASP_OverTwelveStatus = 9 THEN 0
			ELSE 0
	   END AS MarkOverTwelve
      ,ISNULL(ASP.[ASP_IsOverseasOverTwelve], 0)
	  ,ISNULL(ASP.[ASP_OverTwelveHrs], 0)
      ,CASE WHEN ASP_UnderElevenBreakStatus = 0 THEN 0
			WHEN ASP_UnderElevenBreakStatus IN ( 1,2) THEN 1
	   END AS IsUnderElevenBreak 
      ,CASE WHEN ASP_UnderElevenBreakStatus = 2 THEN 1
			ELSE 0
	   END AS IsUnderElevenBreakOverride
	  ,ISNULL(ASP.[ASP_CalculatedUnderElevenHrs], 0)
      ,ISNULL(ASP.[ASP_OverrideUnderElevenHrs], 0)
      ,ASP.[ASP_UnderElevenComments]
	  ,AD.[AD_Comments] DutyComments
	  ,CASE WHEN ASP_LeaveType  IN (3,4,5) THEN 1 ELSE 0 END
	  ,CASE WHEN AD.[AD_DutyStatus] IN ( 0,1) THEN 1 ELSE 0 END
	  ,ISNULL(AD.[AD_CreatedBy], 0)
	  ,AD.[AD_CreatedDate]
	  ,ISNULL(AD.[AD_UpdatedBy], 0)
	  ,AD.[AD_UpdatedDate]
	  ,@ImportUTCDateTime
	  ,ISNULL(ASP.[ASP_LeaveStartTimeSec],0)
	  ,ISNULL(ASP.[ASP_LeaveEndTimeSec],0)
	FROM [BBCSchedules].[dbo].[Allocations] T1
	INNER JOIN [BBCSchedules].[dbo].[AllocationsScheduledPersons] ASP ON T1.AL_AllocationsID = ASP_AllocationsID
	INNER JOIN [BBCSchedules].[dbo].[AllocationsDuties] AD ON AD_AllocationsDutyID = ASP_AllocationsDutyID
	INNER JOIN @TempDutyList TL ON TL.AllocationsSPID = ASP_AllocationsSPID
	LEFT JOIN [BBCSchedules].[dbo].[LeaveApplications] LA ON LA.dDate = ASP_DutyDate 
														 AND LA.SchedulingPersonID = ASP_SchedulingPersonID
	WHERE (T1.[AL_WeekNumber] >= 202314)
	ORDER BY ASP.[ASP_AllocationsSPID]
	
	
	INSERT INTO [Teampay_Aux].[dbo].[TempA7Duties] (
	   [DutyID]
      ,[SystemID]
      ,[DepartmentID]
      ,[SchedPersonID]
      ,[SchedTeamID]
	  ,[IsHomeTeam]
      ,[MasterDutyID]
      ,[DutyTeamID]
      ,[DutyProgramID]
      ,[DutyName]
      ,[DutyDate]
	  --,[StartDateTime]
      --,[EndDateTime]
      ,[DutyWeek]
      ,[DutyDay]
      ,[StartTimeSeconds]
      ,[EndTimeSeconds]
      ,[DurationSeconds]
      ,[BreakSeconds]
      ,[ManualOTSeconds]
      ,[ManualERRAmount]
      ,[BaseCode]
      ,[ActingGrade]
      ,[SortCode]
      ,[LeaveID]
      ,[AdhocDuty]
      ,[MarkForOvertime]
      ,[MarkWIAD]
      ,[MarkActual]
      ,[isAttention]
	  ,[UnAllocated]
      ,[isRequest]
      ,[isEdited]
	  ,[isPublished]
	  ,[PubWeekID]
      ,[PlannedDurationSeconds]
      ,[MarkOver12]
      ,[MarkOverseasOver12]
      ,[Over12Seconds]
      ,[MarkUnder11HoursBreak]
      ,[MarkUnder11HoursBreakOverride]
      ,[CalculatedUnder11Seconds]
      ,[OverrideUnder11Seconds]
      ,[Under11Comment]
      ,[CommentsDuty]
	  ,[IsSickness]
      ,[IsActive]
	  ,[intCreatedBy]
      ,[CreatedDateTime]
      ,[intLastModBy]
      ,[LastModDateTime]
      ,[InsertUTCDateTime]
	  ,[LeaveStartTime]
	  ,[LeaveEndTime]
	)
	SELECT ASP.[ASP_AllocationsSPID]
	  ,@SystemID
      ,0 AS DepartmentID
	  ,ISNULL(ASP.[ASP_SchedulingPersonID], 0)
	  ,ISNULL(T1.[AL_SchedulingTeamID], 0)
	  ,1 AS IsHomeTeam
	  ,ISNULL(AD.[AD_MasterDutyID], 0)
      ,ISNULL(ASP.[ASP_DutyTeamID], 0)
	  ,ISNULL(AD.[AD_DutyProgramID1], 0)
	  ,CASE WHEN AD.[AD_DutyName] IS NULL THEN 'U'
			WHEN AD.[AD_DutyType] = 8
				 THEN CASE WHEN ASP.[ASP_LeaveType] = 1
						   THEN 'Leave'
						   WHEN ASP.[ASP_LeaveType] = 2
						   THEN 'OFF Leave'
						   WHEN ASP.[ASP_LeaveType] = 3
						   THEN 'Sick'
						   WHEN ASP.[ASP_LeaveType] = 4
						   THEN 'U-Sick'
						   WHEN ASP.[ASP_LeaveType] = 5
						   THEN '-Sick'
						   WHEN ASP.[ASP_LeaveType] = 7
						   THEN 'Absent'
					   END
				ELSE AD.[AD_DutyName]
			END	
	  ,ISNULL(ASP.[ASP_DutyDate], '19700101') AS [DutyDate]
      --,T1.[StartDate]
	  --,T1.[EndDate]
	  ,ISNULL(T1.[AL_WeekNumber], 0)
      ,ISNULL(ASP.[ASP_iDay], 0)
	  ,AD.[AD_StartTimeSec]
      ,AD.[AD_EndTimeSec]
	  ,CASE WHEN AD.[AD_DutyType] = 8 
			THEN ISNULL(ASP.ASP_LeaveDuration,0)
			ELSE ISNULL(AD.[AD_Duration], 0)
		END
	  ,ISNULL(AD.[AD_DutyBreakTime], 0)
      ,ISNULL(ASP.[ASP_OverTimeHours], 0)
	  ,0  AS ManualERRAmount
	  ,0  AS BaseCode
	  ,0  AS ActingGrade
      ,ASP.[ASP_SortCode]
      ,ISNULL(LA.[ID], 0)
      ,CASE WHEN AD_DutyType = 6 THEN 1 ELSE 0 END
	  ,ISNULL(ASP.[ASP_MarkedOverTime], 0)
	  ,CASE WHEN ASP_WIADStatus = 1 THEN 1 ELSE 0 END
      ,CASE WHEN ASP_WIADStatus = 2 THEN 1 ELSE 0 END
      ,1 AS UnAllocated
	  ,ISNULL(AD.[AD_isAttention], 0)
      ,ISNULL(AD.[AD_isRequest], 0)
      ,ISNULL(AD.[AD_IsEditedDutyAttention], 0)
	  ,ISNULL(T1.[AL_Status], 0)
	  ,ISNULL(T1.[AL_AllocationsID], 0)
	  ,ISNULL(AD.[AD_PlannedDuration], 0)
      ,CASE WHEN ASP_OverTwelveStatus = 0 THEN 9
			WHEN ASP_OverTwelveStatus = 1 THEN -1
			WHEN ASP_OverTwelveStatus = 2 THEN 1
			WHEN ASP_OverTwelveStatus = 9 THEN 0
			ELSE 0
	   END AS MarkOverTwelve
      ,ISNULL(ASP.[ASP_IsOverseasOverTwelve], 0)
	  ,ISNULL(ASP.[ASP_OverTwelveHrs], 0)
      ,CASE WHEN ASP_UnderElevenBreakStatus = 0 THEN 0
			WHEN ASP_UnderElevenBreakStatus IN ( 1,2) THEN 1
	   END AS IsUnderElevenBreak 
      ,CASE WHEN ASP_UnderElevenBreakStatus = 2 THEN 1
			ELSE 0
	   END AS IsUnderElevenBreakOverride
	  ,ISNULL(ASP.[ASP_CalculatedUnderElevenHrs], 0)
      ,ISNULL(ASP.[ASP_OverrideUnderElevenHrs], 0)
      ,ASP.[ASP_UnderElevenComments]
	  ,AD.[AD_Comments] DutyComments
	  ,CASE WHEN ASP_LeaveType  IN (3,4,5) THEN 1 ELSE 0 END
	  ,CASE WHEN AD.[AD_DutyStatus] IN ( 0,1) THEN 1 ELSE 0 END
	  ,ISNULL(AD.[AD_CreatedBy], 0)
	  ,AD.[AD_CreatedDate]
	  ,ISNULL(AD.[AD_UpdatedBy], 0)
	  ,AD.[AD_UpdatedDate]
	  ,@ImportUTCDateTime
	  ,ISNULL(ASP.[ASP_LeaveStartTimeSec],0)
	  ,ISNULL(ASP.[ASP_LeaveEndTimeSec],0)
	FROM [BBCSchedules].[dbo].[Allocations] T1
	INNER JOIN [BBCSchedules].[dbo].[AllocationsScheduledPersons] ASP ON T1.AL_AllocationsID = ASP_AllocationsID
	INNER JOIN [BBCSchedules].[dbo].[AllocationsDuties] AD ON AD_AllocationsDutyID = ASP_AllocationsDutyID
	LEFT JOIN [BBCSchedules].[dbo].[LeaveApplications] LA ON LA.dDate = ASP_DutyDate 
														 AND LA.SchedulingPersonID = ASP_SchedulingPersonID
	WHERE (T1.[AL_WeekNumber] >= 202314)
	  AND ASP_AllocationsSPID IN (Select Dutyid from Teampay_Aux.dbo.A7Duties where ((DurationSeconds >0 and strStartTime is null )
					OR (isnull(UTCStartDateTime,0)=0)))
	  AND ASP_AllocationsSPID NOT IN (Select Dutyid from [Teampay_Aux].[dbo].[TempA7Duties])
	  AND AL_Status <> 9
	ORDER BY ASP.[ASP_AllocationsSPID]
	
	--Check for Errors
	  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [ErrorNumber], [ErrorMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
				
				RETURN @err
			END
		ELSE
			BEGIN
				SET @StepRowsMsg = 'Imported ' + CAST(@rows AS NVARCHAR(20)) + ' records'
				
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [LogMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
			END


END