USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_MASTER]    Script Date: 20/08/2025 20:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[usp_IMPORT_A7_MASTER]

AS

-- ==========================================================
-- Author:		Michael Hoskin
-- Create date: 30/06/2022
-- Description:	Master SP to EXECUTE all the other SP's to update the TeamPay_AUX tables with data from Allocate7.
-- ==========================================================

BEGIN
	SET NOCOUNT ON;
	
	DECLARE @UpdateDate 		datetime
	DECLARE @UpdateUTCDate 		datetime
	DECLARE @LastUTCDate 		datetime
	DECLARE @newStartUTCDate 	datetime
	DECLARE @txtDate 			nvarchar(10)
	DECLARE @ErrorCount 		integer
	DECLARE @LogID 				integer
	DECLARE @SystemID			integer
	DECLARE @MinHistoryID		integer
	DECLARE @MaxHistoryID		integer
	DECLARE @newMinHistoryID	integer
	DECLARE @newMaxHistoryID	integer
	DECLARE @SystemIsActive		integer
	DECLARE @SystemStartDate	datetime
	DECLARE @SystemEndDate		datetime
	
	DECLARE @blProceed			bit
	DECLARE @LogStepID			int
	DECLARE @LogStepName		nvarchar(300)
	DECLARE @LogStepSection		nvarchar(300)
	DECLARE @LogStepMessage		NVARCHAR(300)
	DECLARE @LogErrorMsg		nvarchar(500)
	DECLARE @ErrMessage			nvarchar(MAX)
	DECLARE @ErrSeverity		int
	DECLARE @ErrState			smallint
	
	DECLARE @rtnValue			int
	
	
	SET @UpdateDate = GETDATE()
	SET @UpdateUTCDate = GETUTCDATE()
	SET @txtDate = CONVERT(NVARCHAR(10), DATEADD(mm, -4, GETUTCDATE()), 103)
	SET @LogStepName = 'Import A7 - MASTER'
	SET @LogErrorMsg = ''
	SET @SystemID = 5
	SET @rtnValue = 1
	SET @blProceed = 1

	--Get last LogUTCStartDateTime value
	SELECT @LastUTCDate = ISNULL(MAX(LogUTCFinishDateTime), 0)
	  FROM dbo.IMPORT_A7Data_Log
	 WHERE LogSuccess = 1

	SET @newStartUTCDate = @LastUTCDate


	IF @newStartUTCDate IS NULL
		SELECT @newStartUTCDate = CONVERT(DATE, DATEADD(YY, -1, GETUTCDATE()), 103)
	
	IF @newStartUTCDate < DATEADD(YY, -1, GETUTCDATE())
		SELECT @newStartUTCDate = CONVERT(DATE, DATEADD(YY, -1, GETUTCDATE()), 103)
	
	IF ISDATE(@newStartUTCDate) = 0
		SET @newStartUTCDate = CONVERT(DATE, DATEADD(YY, -1, GETUTCDATE()), 103)


	--Get Last Min and Max HistoryID
	SELECT @MinHistoryID = ISNULL(MinHistoryID, 0),
		   @MaxHistoryID = ISNULL(MaxHistoryID, 0)
	  FROM dbo.IMPORT_A7Data_Log
	 WHERE LogSuccess = 1
	   AND LogUTCFinishDateTime = @LastUTCDate
	
	SET @MinHistoryID = ISNULL(@MinHistoryID, 0)
	SET @MaxHistoryID = ISNULL(@MaxHistoryID, 0)
	
	SET @newMinHistoryID = @MaxHistoryID


	--Insert Log Record
	INSERT INTO dbo.IMPORT_A7Data_Log(SystemID, LogUTCStartDateTime, MinHistoryID, CreatedUTCDateTime, LastModUTCDateTime)
	VALUES(@SystemID, @newStartUTCDate, @newMinHistoryID, GETUTCDATE(), GETUTCDATE())
	SELECT @LogID = SCOPE_IDENTITY()

	--Insert Log Step
	INSERT INTO dbo.IMPORT_A7Data_Log_Steps(LogID, SystemID, ImportUTCDateTime, StepName, LogMessage)
	VALUES(@LogID, @SystemID, GETUTCDATE(), @LogStepName, '*** Begin A7 Import ***')
	SELECT @LogStepID = SCOPE_IDENTITY()


	--Get the Start Date, End Date and IsActive Flag for the System
	SELECT @SystemStartDate	= [SystemStartDate],
		   @SystemEndDate = [SystemEndDate],
		   @SystemIsActive = [IsActive]
	  FROM [Teampay_Aux].[dbo].[AuxSystems]
	 WHERE [SystemID] = @SystemID

	SET @SystemIsActive = ISNULL(@SystemIsActive, 0)

	--Check the System Is Active and we have the StartDate and EndDate values
	IF (@SystemIsActive = 0)
		BEGIN
			SET @LogErrorMsg = 'The A7 Scheduling System is not set to be Active in the Configuration.'
		END
	ELSE IF (@SystemStartDate IS NULL)
		BEGIN
			SET @LogErrorMsg = 'The A7 Scheduling System does not have a Start Date set in the Configuration.'
		END
	ELSE IF (@SystemEndDate IS NULL)
		BEGIN
			SET @LogErrorMsg = 'The A7 Scheduling System does not have an End Date set in the Configuration.'
		END

	IF (@LogErrorMsg <> '')
		BEGIN
			SET @blProceed = 0
			
			INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], [ImportUTCDateTime], 
						[StepName], [ErrorNumber], [ErrorMessage])
			VALUES (@LogID, @SystemID, @UpdateUTCDate, @LogStepName, 0, @LogErrorMsg);
		END


/*
	--ONLY USE FOR TESTING, ETC IF WE NEED TO REMOVE ALL THE DATA

	--TRUNCATE the A7 Tables
	TRUNCATE TABLE IMPORT_A7Data_Log;
	TRUNCATE TABLE IMPORT_A7Data_Log_Errors;
	TRUNCATE TABLE IMPORT_A7Data_Log_Steps;
	
	TRUNCATE TABLE A7Duties;
	TRUNCATE TABLE A7History;
	TRUNCATE TABLE A7HistoryType;
	TRUNCATE TABLE A7LeaveAllocation;
	TRUNCATE TABLE A7LeaveApplication;
	TRUNCATE TABLE A7LeaveApplicationAmounts;
	TRUNCATE TABLE A7ScheduledPeople;
	TRUNCATE TABLE A7Sickness;
	TRUNCATE TABLE A7Users;
*/

			
	IF (@blProceed = 1)
		BEGIN
			
			--TRUNCATE the Temp data Tables
			TRUNCATE TABLE TempA7Duties;
			TRUNCATE TABLE TempA7DutiesRemoved;
			TRUNCATE TABLE TempA7History;
			TRUNCATE TABLE TempA7HistoryType;
			TRUNCATE TABLE TempA7LeaveAllocation;
			TRUNCATE TABLE TempA7LeaveApplication;
			TRUNCATE TABLE TempA7LeaveApplicationAmounts;
			TRUNCATE TABLE TempA7ScheduledPeople;
			TRUNCATE TABLE TempA7Sickness;
			TRUNCATE TABLE TempA7Users;

			
			--Run individual stored procs to import data from the Allocate7 database tables
	
			-- If the HistoryID is 0 then we are populating the data.
			IF (@MinHistoryID = 0)
				BEGIN
				
					--Check if we can fin the minimum HistoryId using the minimum start date
					--Get the minimum HistoryID for the System StartDate
					
					/*SELECT @MinHistoryID = MIN(T1.[HistoryID])
					  FROM [BBCSchedules].[dbo].[History] T1 
					  INNER JOIN [BBCSchedules].[dbo].[Allocations] T2
							ON T1.[AttributeID] = T2.[ID] AND T1.[HistoryType] = 8
					 WHERE T2.[DutyDate] >= @SystemStartDate
				
					SET @MinHistoryID = ISNULL(@MinHistoryID, 0) */
				
				
					--Import Allocations
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_Duties] @SystemID, @LogID, @newMinHistoryID, @SystemStartDate, @SystemEndDate, @newStartUTCDate
				
					--Import History Types
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_HistoryType] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import History
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_History] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Sickness
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_Sickness] @SystemID, @LogID, @newMinHistoryID, @SystemStartDate, @SystemEndDate, @newStartUTCDate
				
					--Import Leave Allocations
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_LeaveAllocation] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Leave Applications
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_LeaveApplication] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Leave Application Amounts
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_LeaveApplicationAmounts] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Scheduled People
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_ScheduledPeople] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate

					--Import Users
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Populate_Users] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate

				END
			ELSE
				BEGIN
					--Import Allocations
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_Duties] @SystemID, @LogID, @newMinHistoryID, @SystemStartDate, @SystemEndDate, @newStartUTCDate
				
					--Import Allocations that have been removed
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_DutiesRemoved] @SystemID, @LogID, @newMinHistoryID, @SystemStartDate, @SystemEndDate, @newStartUTCDate
				
					--Import History
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_History] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Sickness
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_Sickness] @SystemID, @LogID, @newMinHistoryID, @SystemStartDate, @SystemEndDate, @newStartUTCDate
				
					--Import Leave Allocations
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_LeaveAllocation] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Leave Applications
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_LeaveApplication] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Leave Application Amounts
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_LeaveApplicationAmounts] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				
					--Import Scheduled People
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_ScheduledPeople] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate

					--Import Users
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Temp_Users] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
				END


			--Run individual stored procs to process data from the Allocate7 database tables
			
				--Import Allocations
				IF (@rtnValue <= 1)
					EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Duties] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
			
				--Import History
				IF (@rtnValue <= 1)
					EXEC @rtnValue = [dbo].[usp_IMPORT_A7_History] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
			
				--Import Sickness
				IF (@rtnValue <= 1)
					EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Sickness] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
			
				--Import Leave Allocations
				IF (@rtnValue <= 1)
					EXEC @rtnValue = [dbo].[usp_IMPORT_A7_LeaveAllocation] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
			
				--Import Leave Applications
				IF (@rtnValue <= 1)
					EXEC @rtnValue = [dbo].[usp_IMPORT_A7_LeaveApplication] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
			
				--Import Leave Application Amounts
				IF (@rtnValue <= 1)
					EXEC @rtnValue = [dbo].[usp_IMPORT_A7_LeaveApplicationAmounts] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate
			
				--Import Scheduled People
				IF (@rtnValue <= 1)
					EXEC @rtnValue = [dbo].[usp_IMPORT_A7_ScheduledPeople] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate

				--Import Users
					IF (@rtnValue <= 1)
						EXEC @rtnValue = [dbo].[usp_IMPORT_A7_Users] @SystemID, @LogID, @newMinHistoryID, @newStartUTCDate


				--Get new Max HistoryID
				SELECT @newMaxHistoryID = ISNULL(HistoryID, 0)
				  FROM [dbo].[A7History]
			
				SET @newMaxHistoryID = ISNULL(@newMaxHistoryID, 0)

				
				--Re-Verify the changes
				--IF (@MinHistoryID > 0)
					--EXEC [dbo].[usp_verify_A7_Changes_Duties]


				--Insert Log Step
				IF (@rtnValue <= 1)
					BEGIN
						INSERT INTO dbo.IMPORT_A7Data_Log_Steps(LogID, SystemID, ImportUTCDateTime, StepName, LogMessage)
						VALUES(@LogID, @SystemID, GETUTCDATE(), @LogStepName, '*** Completed A7 Import ***')

						UPDATE dbo.IMPORT_A7Data_Log
							SET LogUTCFinishDateTime = @UpdateUTCDate,
								LastModUTCDateTime = GETUTCDATE(),
								MaxHistoryID = @newMaxHistoryID,
								LogSuccess = 1
						  WHERE LogID = @LogID
					END

					
				EXEC [Teampay].[dbo].[usp_verify_A7_Sickness]

				EXEC [Teampay_Aux].[dbo].[usp_IMPORT_A7_AccPeriodROTADurationSummary]
		END

END