USE [BBCSchedules]
GO
/****** Object:  StoredProcedure [dbo].[usp_fetch_leaveweeklyAdminAllocationAndRota]    Script Date: 26/12/2025 22:02:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER              PROCEDURE [dbo].[usp_fetch_leaveweeklyAdminAllocationAndRota]
@intweekStart			INT,
@startDate				DATE,
@endDate				DATE,
@strlogin				VARCHAR(50)

AS
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

		 SELECT a.AL_WeekNumber              AS WeekNumber,
				UD_NetLogin  AS NetLogin, 
				case when ISNULL(ASP_DutyTeamID,0) > 0 AND ASP_DutyTeamID <> AL_SchedulingTeamID then ASP_DutyTeamID
				else spl.TeamID end      AS SchedulingTeamId,
			    CASE WHEN AD_DutyName IS NULL THEN 'U'
					 WHEN AD_DutyType IN (8,11,12)
					     THEN CASE WHEN ASP_LeaveType = 1
								   THEN 'Leave'
								   WHEN ASP_LeaveType = 2
								   THEN 'OFF Leave'
								   WHEN ASP_LeaveType = 3
								   THEN 'Sick'
								   WHEN ASP_LeaveType = 4
								   THEN 'U-Sick'
								   WHEN ASP_LeaveType = 5
								   THEN '-Sick'
								   WHEN ASP_LeaveType = 7
								   THEN 'Absent'
							   END
			        ELSE AD_DutyName
					 END		  			      AS DutyName,
				ASP_SchedulingPersonID     AS SchedulingPersonID, 
				ASP_iDay                   AS DOTW, 
				a.AL_AllocationsID                     AS ID,			
				case when AD_DutyType = 6 then 0 else 1 end AS display_priority
		   INTO #TempAllocations
		   FROM Allocations as a (NOLOCK)
		  INNER JOIN TimeDimension TD on TD.ixYearWeek = a.AL_WeekNumber
		  INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as spl on spl.teamid = A.AL_SchedulingTeamID
		  INNER JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID = spl.ScheduledPersonID
		  INNER JOIN LeaveApplications LA (NOLOCK) on LA.dDate = TD.dDateTime and LA.SchedulingPersonID = sp.UD_UserID					
		  INNER JOIN leave_types lt (NOLOCK) on la.LeaveTypesID = lt.ID  
		  INNER JOIN Staff_Web_Config_LeaveGroups_Link stl (NOLOCK) on stl.LeaveGroupID = lt.GroupID 													 
													AND stl.[Admin] IN (1,2,3) 
													AND stl.isActive=1	
		  LEFT JOIN AllocationsScheduledPersons ASP ON AL_AllocationsID = ASP_AllocationsID
													AND sp.UD_UserID = ASP.ASP_SchedulingPersonID
													AND TD.dDateTime = ASP_DutyDate
		  LEFT JOIN AllocationsDuties AD ON AD_AllocationsDutyID = ASP_AllocationsDutyID
		  WHERE AL_WeekNumber = @intweekStart
			AND stl.login= @strlogin
			AND LA.dDate BETWEEN spl.StartDate AND spl.EndDate
			AND LA.dDate BETWEEN @startDate AND @endDate
			AND ISNULL(LA.LeaveTypeID,0) NOT IN ( 3,4,5)
			AND LA.Deleted = 0 

		INSERT INTO #TempAllocations
		SELECT td1.ixYearWeek           AS WeekNumber,
			   UD_NetLogin  AS NetLogin, 
			   er.SchedulingTeamId       AS SchedulingTeamId, 
			   md.DutyName, 
			   er.SchedulingPersonID, 
			   er.DOTW,
			   er.ID,
			   2   AS display_priority
		  FROM Exported_rota as er (NOLOCK)      
		  INNER JOIN ( SELECT td.ixYearWeek, SchedulingPersonID, RotaID,SchedulingTeamId,
					   CASE WHEN ROW_NUMBER() over(partition by SchedulingPersonID, RotaID
					   ORDER by td.ixYearWeek) % td.WeeksInRota = 0
						THEN td.WeeksInRota
						ELSE ROW_NUMBER() over(partition by SchedulingPersonID,RotaID
									   order by td.ixYearWeek) % td.WeeksInRota 
									   END weeksinrota
						FROM (
							  SELECT DISTINCT ixYearWeek,
									 er.WeeksInRota,
									 er.SchedulingPersonID,
									 er.RotaID,
									 er.SchedulingTeamId
								FROM TimeDimension td (NOLOCK), 
									(
									  SELECT DISTINCT er1.AssignmentStartWeek, 
											er1.WeeksInRota, 
											er1.SchedulingPersonID,
											er1.RotaID,
											er1.SchedulingTeamId
									   FROM Exported_rota er1 (NOLOCK)
									  INNER JOIN LeaveApplications LA (NOLOCK) ON  LA.SchedulingPersonID = er1.SchedulingPersonID
										AND  LA.dDate >= CONVERT(DATETIME, @startDate, 102) AND  LA.dDate <= CONVERT(DATETIME, @endDate, 102) 
									  INNER JOIN leave_types lt (NOLOCK) on la.LeaveTypesID = lt.ID  
									  INNER JOIN Staff_Web_Config_LeaveGroups_Link stl (NOLOCK) on stl.LeaveGroupID = lt.GroupID 
										and  stl.login= @strlogin
										and stl.[Admin] IN (1,2,3) and stl.IsActive=1
									  INNER JOIN 
										(SELECT MIN(TDI.dDateTime) AS startdate, 
												MAX(TDI.dDateTime ) AS enddate 
										 FROM  TimeDimension TDI (NOLOCK) 
										 WHERE ixYearWeek = @intweekStart  ) AS TDI1 ON 1 = 1 
									WHERE TDI1.startdate <= ISNULL( CAST(ER1.RotaAssignmentEndDate AS DATE), TDI1.startdate)
									  AND TDI1.enddate >= ISNULL(ER1.RotaAssignmentStartDate, TDI1.enddate)
									  AND ISNULL(LA.LeaveTypeID,0) NOT IN ( 3,4,5)
									  and LA.Deleted=0
									 ) er
						WHERE td.ixYearWeek BETWEEN er.AssignmentStartWeek AND @intweekStart) TD) TD1
				  ON td1.weeksinrota = er.rotaweek 
				  AND td1.SchedulingPersonID=er.SchedulingPersonID
				   AND td1.RotaID = er.RotaID 
				   AND td1.SchedulingTeamId = er.SchedulingTeamId 			  
			INNER JOIN schedulingTeams AS st (NOLOCK) ON er.SchedulingTeamId = st.schedulingTeamId and st.isActive =1
			INNER JOIN (SELECT MIN(tdt.dDateTime) AS startdate, 
							   MAX(tdt.dDateTime ) AS enddate 
						  FROM TimeDimension tdt (NOLOCK)
						 WHERE ixYearWeek = @intweekStart ) td2 ON 1 = 1
			INNER JOIN TimeDimension TD3 (NOLOCK) ON TD3.ixYearWeek = TD1.ixYearWeek AND TD3.ixDayInWeek = ER.DOTW
			INNER JOIN UserDetails as sp (NOLOCK) on sp.UD_UserID = er.SchedulingPersonID
			INNER JOIN ScheduledPersonTeam_LINK (NOLOCK) as sptl on sptl.ScheduledPersonID  = er.SchedulingPersonID
				   AND sptl.TeamID = er.SchedulingTeamId
				   AND td3.dDateTime between sptl.StartDate and ISNULL(sptl.EndDate, td3.dDateTime) 
			INNER JOIN MasterDuties md on md.MasterDutyID = er.MasterDutyID
			WHERE  td1.ixYearWeek = @intweekStart 
			  and td3.dDateTime between er.RotaAssignmentStartDate and ISNULL( er.RotaAssignmentEndDate, td3.dDateTime)
			  AND NOT EXISTS ( SELECT 1
								 FROM #TempAllocations TLS
								WHERE TLS.SchedulingPersonID = ER.SchedulingPersonID
								  AND TLS.DOTW = ER.DOTW
								  AND TLS.WeekNumber = TD1.ixYearWeek 
								 )
		  
		 SELECT * 
		   FROM #TempAllocations 
		  ORDER BY  WeekNumber, DOTW
		
 END