USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_Populate_LeaveApplicationAmounts]    Script Date: 20/08/2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_IMPORT_A7_Populate_LeaveApplicationAmounts]
	@SystemID [int],
	@LogID [int],
	@MinHistoryID [int],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows				INT
	DECLARE @err				INT
	DECLARE @status				INT
	DECLARE @ImportUTCDateTime	DATETIME
	DECLARE @StepName			NVARCHAR(50)
	DECLARE @StepMessage		NVARCHAR(200)
	DECLARE @StepErrorMsg		NVARCHAR(200)
	DECLARE @StepRowsMsg		NVARCHAR(200)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	
	SET @StepName = N'Populate A7 LeaveApplicationAmounts'
	SET @StepMessage = N'Populate initial A7 LeaveApplicationAmount records'
	SET @StepErrorMsg = N'Error Importing A7 LeaveApplicationAmount records'
	
	
	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);


	INSERT INTO [Teampay_Aux].[dbo].[TempA7LeaveApplicationAmounts] (
	   [SystemID]
	  ,[LeaveApplicationID]
      ,[LeaveTypeID]
      ,[LeaveHours]
      ,[ExceptionalTypeID]
      ,[isActive]
      ,[intCreatedBy]
      ,[CreatedDateTime]
      ,[intLastModBy]
      ,[LastModDateTime]
      ,[InsertUTCDateTime]
	)
	SELECT @SystemID
	  ,T2.[ApplicationID]
	  ,ISNULL(T2.[LeaveTypeID], 0)
	  ,ISNULL(T2.[Amount], 0)
	  ,ISNULL(T2.[ReasonID], 0)
      ,1
	  ,ISNULL(T1.[CreatedBy], 0)
	  ,T1.[Created]
	  ,ISNULL(T1.[LastModBy], 0)
	  ,T1.[LastModDate]
	  ,@ImportUTCDateTime
	FROM [BBCSchedules].[dbo].[LeaveApplications] T1
	INNER JOIN [BBCSchedules].[dbo].[Ref_LeaveApplications_Amounts] T2
		ON T1.[ID] = T2.[ApplicationID]
	WHERE (T1.[dDate] >= '20210401')
	ORDER BY T2.[ApplicationID]
	
	
	--Check for Errors
	  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [ErrorNumber], [ErrorMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
				
				RETURN @err
			END
		ELSE
			BEGIN
				SET @StepRowsMsg = 'Imported ' + CAST(@rows AS NVARCHAR(20)) + ' records'
				
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [LogMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
			END
		IF @rows = 0 
			BEGIN
				SET @status = 0
				RETURN 0
			END


END

