USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_Temp_ScheduledPeople]    Script Date: 20/08/2025 20:53:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_IMPORT_A7_Temp_ScheduledPeople]
	@SystemID [int],
	@LogID [int],
	@MinHistoryID [int],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows				INT
	DECLARE @err				INT
	DECLARE @status				INT
	DECLARE @ImportUTCDateTime	DATETIME
	DECLARE @StepName			NVARCHAR(50)
	DECLARE @StepMessage		NVARCHAR(200)
	DECLARE @StepErrorMsg		NVARCHAR(200)
	DECLARE @StepRowsMsg		NVARCHAR(200)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	
	SET @StepName = N'Temp A7 ScheduledPeople'
	SET @StepMessage = N'Import new and modified A7 ScheduledPeople records'
	SET @StepErrorMsg = N'Error Importing A7 ScheduledPeople records'
	
	
	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);


	INSERT INTO [Teampay_Aux].[dbo].[TempA7ScheduledPeople] (
	   [SchedPersonID]
      ,[SystemID]
      ,[StaffDetailsID]
	  ,[TeampayStaffID]
      ,[UserID]
      ,[DisplayName]
      ,[DisplayFirstname]
      ,[DisplayLastname]
	  ,[PHLLeaveAmount]
      ,[EmpNumber]
      ,[StaffNumber]
      ,[isActive]
      ,[intCreatedBy]
      ,[CreatedDateTime]
      ,[intLastModBy]
      ,[LastModDateTime]
      ,[InsertUTCDateTime]
	)
	SELECT T1.[UD_UserID]
	  ,@SystemID
	  ,ISNULL(T1.[UD_TeampayStaffID], 0)
      ,ISNULL(T2.[TeampayStaffID], 0)
	  ,ISNULL(T1.[UD_UserID], 0)
      ,T1.[UD_DisplayName]
      ,T1.[UD_DisplayFirstName]
      ,T1.[UD_DisplayLastName]
	  ,ISNULL(T1.[UD_PHLLeaveAmount], 0)
      ,ISNULL(T2.[EmpNumber], 0)
      ,T2.[StaffNumber]
	  ,1
	  ,ISNULL(T1.[UD_CreatedBy], 0)
	  ,T1.[UD_CreatedDate]
	  ,ISNULL(T1.[UD_UpdatedBy], 0)
	  ,T1.[UD_UpdatedDate]
	  ,@ImportUTCDateTime
	FROM [BBCSchedules].[dbo].[UserDetails] T1 
	LEFT OUTER JOIN [BBCSchedules].[dbo].[StaffDetails] T2 
		ON T1.[UD_TeampayStaffID] = T2.[StaffID]
	ORDER BY T1.[UD_UserID]


	--Check for Errors
	  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [ErrorNumber], [ErrorMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
				
				RETURN @err
			END
		ELSE
			BEGIN
				SET @StepRowsMsg = 'Imported ' + CAST(@rows AS NVARCHAR(20)) + ' records'
				
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [LogMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
			END
		IF @rows = 0 
			BEGIN
				SET @status = 0
				RETURN 0
			END

END

