USE [Teampay_Aux]
GO
/****** Object:  StoredProcedure [dbo].[usp_IMPORT_A7_Populate_LeaveAllocation]    Script Date: 20/08/2025 20:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[usp_IMPORT_A7_Populate_LeaveAllocation]
	@SystemID [int],
	@LogID [int],
	@MinHistoryID [int],
	@UTCStartDateTime [DateTime]
WITH EXECUTE AS CALLER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @rows				INT
	DECLARE @err				INT
	DECLARE @status				INT
	DECLARE @ImportUTCDateTime	DATETIME
	DECLARE @StepName			NVARCHAR(50)
	DECLARE @StepMessage		NVARCHAR(200)
	DECLARE @StepErrorMsg		NVARCHAR(200)
	DECLARE @StepRowsMsg		NVARCHAR(200)
	
	SET @status = 1
	SET @ImportUTCDateTime = GETUTCDATE()
	
	SET @StepName = N'Populate A7 Leave Allocations'
	SET @StepMessage = N'Populate initial A7 Leave Allocation records'
	SET @StepErrorMsg = N'Error Importing A7 Leave Allocation records'
	
	
	--Insert Log Step record
	INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] (
		[LogID]
	   ,[SystemID]
	   ,[ImportUTCDateTime]
	   ,[StepName]
	   ,[LogMessage]
	 )
	VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepMessage);


	INSERT INTO [Teampay_Aux].[dbo].[TempA7LeaveAllocation] (
	   [LeaveAllocID]
      ,[SystemID]
      ,[AllocateID]
      ,[SchedPersonID]
      ,[SchedTeamID]
      ,[LeaveYear]
      ,[LeaveCreditDate]
      ,[TimeDimensionID]
      ,[Annual]
      ,[PHL]
      ,[TOIL]
      ,[Comp]
      ,[Additional]
      ,[Exceptional]
      ,[Under11TOIL]
      ,[Over12TOIL]
      ,[LongService]
      ,[Casual]
      ,[Other]
      ,[TeampayMarkedAsID]
      ,[TeampayAccPeriodID]
      ,[TeampayPayrollMonth]
      ,[isPHL]
      ,[WebCredit]
      ,[LeaveComments]
      ,[isActive]
      ,[intCreatedBy]
      ,[CreatedDateTime]
      ,[intLastModBy]
      ,[LastModDateTime]
      ,[InsertUTCDateTime]
	)
	SELECT T1.[ID]
	  ,@SystemID
      ,ISNULL(T1.[AllocateID], 0)
	  ,ISNULL(T1.[SchedulingPersonID], 0)
	  ,ISNULL(T1.[SchedulingTeamID], 0)
	  ,ISNULL(T1.[iYear], 0)
	  ,T1.[dDate]
      ,ISNULL(T1.[TimeDemensionID], 0)
	  ,ISNULL(T1.[Annual], 0)
	  ,ISNULL(T1.[PHL], 0)
	  ,ISNULL(T1.[TOIL], 0)
      ,ISNULL(T1.[Comp], 0)
	  ,ISNULL(T1.[Additional], 0)
      ,ISNULL(T1.[Exceptional], 0)
	  ,ISNULL(T1.[Under11TOIL], 0)
      ,ISNULL(T1.[Over12TOIL], 0)
	  ,ISNULL(T1.[LongService], 0)
	  ,ISNULL(T1.[Casual], 0)
      ,ISNULL(T1.[Other], 0)
	  ,ISNULL(T1.[TeampayMarkedAsID], 0)
	  ,ISNULL(T1.[TeampayAccPeriodID], 0)
	  ,ISNULL(T1.[TeampayPayrollMonth], 0)
      ,ISNULL(T1.[is_PHL], 0)
      ,ISNULL(T1.[WebCredit], 0)
	  ,T1.Comments
	  ,ISNULL(T1.[IsActive], 1)
	  ,ISNULL(T1.[CreatedBy], 0)
	  ,T1.[CreatedDate]
	  ,ISNULL(T1.[UpdatedBy], 0)
	  ,T1.[UpdateDate]
	  ,@ImportUTCDateTime
	FROM [BBCSchedules].[dbo].[LeaveAllocation] T1
	WHERE (ISNULL(T1.[iYear], 0) >= 2021)
	ORDER BY T1.[ID]
	
	
	--Check for Errors
	  SELECT @err = @@ERROR, @rows = @@ROWCOUNT
		IF @err <> 0 
			BEGIN
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Errors] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [ErrorNumber], [ErrorMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @err, @StepErrorMsg);
				
				RETURN @err
			END
		ELSE
			BEGIN
				SET @StepRowsMsg = 'Imported ' + CAST(@rows AS NVARCHAR(20)) + ' records'
				
				INSERT INTO [Teampay_Aux].[dbo].[IMPORT_A7Data_Log_Steps] ([LogID], [SystemID], 
						[ImportUTCDateTime], [StepName], [LogMessage])
				VALUES (@LogID, @SystemID, @ImportUTCDateTime, @StepName, @StepRowsMsg);
			END
		IF @rows = 0 
			BEGIN
				SET @status = 0
				RETURN 0
			END


END

