#cssmenu {
  border: 1px solid #980000;
  background: #980000;
  min-width:1000px;
}
#cssmenu > ul {
  padding: 1px 0;
  margin: 0px;
  list-style: none;
  width: 100%;
  height: 21px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font: normal 8pt verdana, arial, helvetica;
}
#cssmenu > ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  position: relative;
  width: 125px;
}
#cssmenu > ul li a:link,
#cssmenu > ul li a:visited {
  padding: 4px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  background: #980000;
  color: #ffffff;
  width: 125px;
  height: 13px;
}
#cssmenu > ul li:hover a,
#cssmenu > ul li a:hover,
#cssmenu > ul li a:active {
  padding: 4px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  background: #ec454e;
  color: #ffffff;
  width: 146px;
  height: 13px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
#cssmenu > ul li ul {
  margin: 0;
  padding: 1px 1px 0;
  list-style: none;
  display: none;
  background: #ffffff;
  width: 146px;
  position: absolute;
  top: 21px;
  left: -1px;
  border: 1px solid #980000;
  border-top: none;
}
#cssmenu > ul li:hover ul {
  display: block;
}
#cssmenu > ul li ul li {
  clear: left;
  width: 146px;
}
#cssmenu > ul li ul li a:link,
#cssmenu > ul li ul li a:visited {
  clear: left;
  background: #980000;
  padding: 4px 0;
  width: 146px;
  border: none;
  border-bottom: 1px solid #ffffff;
  position: relative;
  z-index: 99999;
}
#cssmenu > ul li ul li:hover a,
#cssmenu > ul li ul li a:active,
#cssmenu > ul li ul li a:hover {
  clear: left;
  background: #ec454e;
  padding: 4px 0;
  width: 146px;
  border: none;
  border-bottom: 1px solid #ffffff;
  position: relative;
}
#cssmenu > ul li ul li ul.navigation-3 {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 145px;
  top: -2px;
  padding: 1px 1px 0 1px;
  border: 1px solid #980000;
  border-left: 1px solid #980000;
  background: #ffffff;
}
#cssmenu > ul li ul li:hover ul.navigation-3 {
  display: block;
}
#cssmenu > ul li ul li ul.navigation-3 li a:link,
#cssmenu > ul li ul li ul.navigation-3 li a:visited {
  background: #980000;
}
#cssmenu > ul li ul li ul.navigation-3 li:hover a,
#cssmenu > ul li ul li ul.navigation-3 li a:hover,
#cssmenu > ul li ul li ul.navigation-3 li a:active {
  background: #ec454e;
}


#cssmenu .has-sub {
  z-index: 99999;
}
#cssmenu :hover.has-sub > ul {
  display: block;
}
#cssmenu .has-sub ul {
  border-left:1px solid #FFFFFF;
  border-bottom:1px solid #FFFFFF;
  display: none;
  position: absolute;

  top: 100%;
  left: 0px
  
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #DB000B;
  border-bottom: 1px solid #ffffff;
  filter: none;
  font: normal 8pt verdana, arial, helvetica;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #FFFFFF
}
#cssmenu .has-sub ul li:hover a {
  background: #a80008;
}
#cssmenu .has-sub :hover.has-sub > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #a80008;
  border-bottom: 1px solid #ffffff;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #8f0007;
}