USE [Allocate7]
GO
/****** Object:  Table [dbo].[UserTeamRole_LINK]    Script Date: 25/06/2021 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTeamRole_LINK](
	[UserID] [int] NULL,
	[TeamID] [int] NULL,
	[RoleID] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserTeamRole_LINK]  WITH CHECK ADD  CONSTRAINT [FK_UserTeamRole_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[REF_Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserTeamRole_LINK] CHECK CONSTRAINT [FK_UserTeamRole_Role]
GO
ALTER TABLE [dbo].[UserTeamRole_LINK]  WITH CHECK ADD  CONSTRAINT [FK_UserTeamRole_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([id])
GO
ALTER TABLE [dbo].[UserTeamRole_LINK] CHECK CONSTRAINT [FK_UserTeamRole_Team]
GO
ALTER TABLE [dbo].[UserTeamRole_LINK]  WITH CHECK ADD  CONSTRAINT [FK_UserTeamRole_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserTeamRole_LINK] CHECK CONSTRAINT [FK_UserTeamRole_User]
GO
