Use[Allocate7]
GO
IF EXISTS (SELECT *
  FROM sys.foreign_keys
   WHERE object_id = OBJECT_ID(N'FK_ScheduledPersonTeam_Team')
   AND parent_object_id = OBJECT_ID(N'dbo.ScheduledPersonTeam_LINK')
)
BEGIN
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK] DROP CONSTRAINT FK_ScheduledPersonTeam_Team
END



IF NOT EXISTS (SELECT *
  FROM sys.foreign_keys
   WHERE object_id = OBJECT_ID(N'FK_ScheduledPersonTeam_LINK_schedulingTeams')
   AND parent_object_id = OBJECT_ID(N'dbo.ScheduledPersonTeam_LINK')
)
BEGIN
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK]
    ADD CONSTRAINT FK_ScheduledPersonTeam_LINK_schedulingTeams FOREIGN KEY (TeamID)
    REFERENCES [dbo].[schedulingTeams] (schedulingTeamId)
    ON DELETE CASCADE
        ON UPDATE CASCADE
END




