USE [Allocate7]
GO
/****** Object:  Table [dbo].[TP_A7_REF_EmpSubGroup]    Script Date: 17/02/2022 20:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'REF_EmpSubGroup')
BEGIN
	CREATE TABLE [Allocate7].[dbo].[REF_EmpSubGroup](
		[EmpSubGroupCode] [varchar](2) NOT NULL,
		[EmpSubGroupDescription] [varchar](20) NULL,
		[IsActive] [bit] NULL,
		[CreatedDate] [datetime] NULL,
		[LastModDate] [datetime] NULL,
		[LastModBy] [varchar](50) NULL,
		[History] [varchar](max) NULL,
	 CONSTRAINT [PK_REF_EmpSubGroup] PRIMARY KEY CLUSTERED 
	(
		[EmpSubGroupCode] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
