USE [Allocate7]
GO
/****** Object:  Table [dbo].[DutyShiftcountingFilters]    Script Date: 22/10/2021  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO


IF  NOT EXISTS (SELECT 1 FROM sys.objects 
WHERE object_id = OBJECT_ID(N'[dbo].[DutyShiftcountingFilters]'))

BEGIN

CREATE TABLE [dbo].[DutyShiftcountingFilters](
	ID INT IDENTITY(1,1) NOT NULL,
	UserID INT NOT NULL DEFAULT 0,
	SchedulingTeamId INT NOT NULL DEFAULT 0,
	FilterName VARCHAR (255) NULL,
	isPublic INT NOT NULL DEFAULT 0,
	isActive INT NOT NULL DEFAULT 0,
	ShowGrandTotal INT NOT NULL DEFAULT 0,
	ShowDetails INT NOT NULL DEFAULT 0,
	ColA INT NOT NULL DEFAULT 0,
	ColB INT NOT NULL DEFAULT 0,
	ColC INT NOT NULL DEFAULT 0,
	ColD INT NOT NULL DEFAULT 0,
	ColE INT NOT NULL DEFAULT 0,
	ColF INT NOT NULL DEFAULT 0,
	ColG INT NOT NULL DEFAULT 0,
	ColH INT NOT NULL DEFAULT 0,
	ColI INT NOT NULL DEFAULT 0,
	ColJ INT NOT NULL DEFAULT 0,
	ColK INT NOT NULL DEFAULT 0,
	ColL INT NOT NULL DEFAULT 0,
	ColM INT NOT NULL DEFAULT 0,
	ColN INT NOT NULL DEFAULT 0,
	ColO INT NOT NULL DEFAULT 0,
	ColP INT NOT NULL DEFAULT 0,
	ColQ INT NOT NULL DEFAULT 0,
	ColR INT NOT NULL DEFAULT 0,
	ColS INT NOT NULL DEFAULT 0,
	ColT INT NOT NULL DEFAULT 0,
	ColU INT NOT NULL DEFAULT 0,
	ColV INT NOT NULL DEFAULT 0,
	ColW INT NOT NULL DEFAULT 0,
	ColX INT NOT NULL DEFAULT 0,
	ColY INT NOT NULL DEFAULT 0,
	ColZ INT NOT NULL DEFAULT 0,
	CreatedDateTime DATETIME,
	UpdatedDateTime DATETIME
	CONSTRAINT [PK_DutyShiftcountingFilters] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


END
