USE [Allocate7]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'TeamID'
          AND Object_ID = Object_ID(N'[dbo].[skills_programmes]'))
BEGIN
	Alter Table [dbo].[skills_programmes] ADD TeamID int;

END

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'TeamID'
          AND Object_ID = Object_ID(N'[dbo].[skills_duties]'))
BEGIN
	Alter Table [dbo].[skills_duties] ADD TeamID int;

END

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'TeamID'
          AND Object_ID = Object_ID(N'[dbo].[ScheduledPersonTeam_LINK]'))
BEGIN
	Alter Table [dbo].[ScheduledPersonTeam_LINK] ADD TeamID int;

END

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'SchedulingTeamId'
          AND Object_ID = Object_ID(N'[dbo].[shiftleadertypes_appliesto]'))
BEGIN
	Alter Table [dbo].[shiftleadertypes_appliesto] ADD SchedulingTeamId int;

END

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'SchedulingTeamId'
          AND Object_ID = Object_ID(N'[dbo].[Allocations]'))
BEGIN
	Alter Table [dbo].[Allocations] ADD SchedulingTeamId int;

END


IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'SchedulingTeamId'
          AND Object_ID = Object_ID(N'[dbo].[AutoPagesFilters]'))
BEGIN
	Alter Table [dbo].[AutoPagesFilters] ADD SchedulingTeamId int;

END

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'schedulingTeamId'
          AND Object_ID = Object_ID(N'[dbo].[BreaksTableTypes]'))
BEGIN
	Alter Table [dbo].[BreaksTableTypes] ADD schedulingTeamId int;

END

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'IsScheduledPerson'
          AND Object_ID = Object_ID(N'[dbo].[StaffDetails]'))
BEGIN
	Alter Table [dbo].[StaffDetails] ADD IsScheduledPerson int;

END

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'SchedulingTeamId'
          AND Object_ID = Object_ID(N'[dbo].[GridChecks]'))
BEGIN
	Alter Table [dbo].[GridChecks] ADD SchedulingTeamId int;

END