USE [Allocate7]
GO
/****** Object:  Table [dbo].[TP_A7_REF_CostCode_Activity_Matrix]    Script Date: 17/02/2022 20:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'REF_CostCode_Activity_Matrix')
BEGIN
	CREATE TABLE [Allocate7].[dbo].[REF_CostCode_Activity_Matrix](
		[MatrixID] [int] NOT NULL,
		[StartDate] [datetime] NULL,
		[EndDate] [datetime] NULL,
		[CostCode] [varchar](11) NULL,
		[ActivityTypeID] [int] NULL,
		[ActivityType] [varchar](11) NULL,
		[ActivityTypeDesc] [varchar](50) NULL,
		[TotalPrice] [decimal](6, 2) NULL,
		[PrI] [int] NULL,
		[History] [varchar](max) NULL,
	 CONSTRAINT [PK_REF_CostCode_Activity_Matrix] PRIMARY KEY CLUSTERED 
	(
		[MatrixID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
