USE [Allocate7]
GO
/****** Object:  Table [dbo].[TP_A7_REF_PayrollDates]    Script Date: 17/02/2022 20:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'REF_PayrollDates')
BEGIN
	CREATE TABLE [Allocate7].[dbo].[REF_PayrollDates](
		[PayrollMonth] [int] NOT NULL,
		[PayrollStatus] [tinyint] NOT NULL,
		[AccountUpto] [int] NULL,
		[PayrollStartDate] [datetime] NULL,
		[PayRollEndDate] [datetime] NULL,
		[PayrollFinaliseDate] [datetime] NULL,
		[PayrollProcessDate] [datetime] NULL,
		[BankCreditDate] [datetime] NULL,
		[ixMonth] [int] NULL,
		[ixYear] [int] NULL,
		[LastUpdated] [datetime] NULL,
		[LastUpdatedBy] [varchar](50) NULL,
		[History] [varchar](max) NULL,
	 CONSTRAINT [PK_REF_PayrollDates] PRIMARY KEY CLUSTERED 
	(
		[PayrollMonth] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
