USE [Allocate7]
GO
/****** Object:  Table [dbo].[UserTeamPermissions_LINK]    Script Date: 25/06/2021 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTeamPermissions_LINK](
	[UserID] [int] NULL,
	[TeamID] [int] NULL,
	[PermissionID] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserTeamPermissions_LINK]  WITH CHECK ADD  CONSTRAINT [FK_UserTeamPermissions_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[REF_Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[UserTeamPermissions_LINK] CHECK CONSTRAINT [FK_UserTeamPermissions_Permission]
GO
ALTER TABLE [dbo].[UserTeamPermissions_LINK]  WITH CHECK ADD  CONSTRAINT [FK_UserTeamPermissions_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([id])
GO
ALTER TABLE [dbo].[UserTeamPermissions_LINK] CHECK CONSTRAINT [FK_UserTeamPermissions_Team]
GO
ALTER TABLE [dbo].[UserTeamPermissions_LINK]  WITH CHECK ADD  CONSTRAINT [FK_UserTeamPermissions_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserTeamPermissions_LINK] CHECK CONSTRAINT [FK_UserTeamPermissions_User]
GO
