USE [Allocate7]
GO

/****** Object:  Table [dbo].[schedulingTeamDivision_Link]    Script Date: 30/06/2021 15:25:23 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[schedulingTeamDivision_Link](
    [schedulingTeamId] [int] NOT NULL,
    [divisionId] [int] NOT NULL,
    [isActive] [int] NOT NULL,
    [createdDate] [datetime] NULL,
    [createdBy] [int] NULL,
    [modifiedDate] [datetime] NULL,
    [modifiedBy] [int] NULL,
    [history] [nvarchar](max) NULL
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
    GO

