USE [Allocate7]
GO
/****** Object:  Table [dbo].[UserSystemRole_Link]    Script Date: 25/06/2021 10:57:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSystemRole_Link](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserSystemRole_Link]  WITH CHECK ADD  CONSTRAINT [FK_UserSystemRole_Link_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserSystemRole_Link] CHECK CONSTRAINT [FK_UserSystemRole_Link_Users]
GO
