USE [Allocate7]
GO
/****** Object:  Table [dbo].[MasterDutiesMasterJobs_LINK]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDutiesMasterJobs_LINK](
	[MasterDutyID] [int] NULL,
	[MasterJobID] [int] NULL
) ON [PRIMARY]

GO
