USE [Allocate7]
GO
/****** Object:  Table [dbo].[RolePermissionForm_LINK]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissionForm_LINK](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
	[FormID] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[RolePermissionForm_LINK] ADD  DEFAULT ((1)) FOR [FormID]
GO
ALTER TABLE [dbo].[RolePermissionForm_LINK]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[REF_Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RolePermissionForm_LINK] CHECK CONSTRAINT [FK_RolePermission_Role]
GO
ALTER TABLE [dbo].[RolePermissionForm_LINK]  WITH CHECK ADD  CONSTRAINT [FK_RolePermission_RolePermission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[REF_Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissionForm_LINK] CHECK CONSTRAINT [FK_RolePermission_RolePermission]
GO
ALTER TABLE [dbo].[RolePermissionForm_LINK]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissionForm_LINK_Form] FOREIGN KEY([FormID])
REFERENCES [dbo].[REF_Forms] ([FormID])
GO
ALTER TABLE [dbo].[RolePermissionForm_LINK] CHECK CONSTRAINT [FK_RolePermissionForm_LINK_Form]
GO
