USE [Allocate7]
GO
/****** Object:  Table [dbo].[TP_A7_REF_OrganisationLevels]    Script Date: 17/02/2022 20:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = 'REF_OrganisationLevels')
BEGIN
	CREATE TABLE [Allocate7].[dbo].[REF_OrganisationLevels](
		[OrgID] [int] NOT NULL,
		[OrgUnit_0] [int] NOT NULL,
		[OrgDescription_0] [varchar](40) NULL,
		[OrgUnit_1] [int] NULL,
		[OrgDescription_1] [varchar](40) NULL,
		[OrgUnit_2] [int] NULL,
		[OrgDescription_2] [varchar](40) NULL,
		[OrgUnit_3] [int] NULL,
		[OrgDescription_3] [varchar](40) NULL,
		[OrgUnit_4] [int] NULL,
		[OrgDescription_4] [varchar](40) NULL,
		[OrgUnit_5] [int] NULL,
		[OrgDescription_5] [varchar](40) NULL,
		[OrgUnit_6] [int] NULL,
		[OrgDescription_6] [varchar](40) NULL,
		[OrgUnit_7] [int] NULL,
		[OrgDescription_7] [varchar](40) NULL,
		[OrgUnit_8] [int] NULL,
		[OrgDescription_8] [varchar](40) NULL,
		[OrgUnit_9] [int] NULL,
		[OrgDescription_9] [varchar](40) NULL,
		[OrgUnit_10] [int] NULL,
		[OrgDescription_10] [varchar](40) NULL,
		[OrgUnit_11] [int] NULL,
		[OrgDescription_11] [varchar](40) NULL,
		[OrgUnit_12] [int] NULL,
		[OrgDescription_12] [varchar](40) NULL,
		[OrgUnit_13] [int] NULL,
		[OrgDescription_13] [varchar](40) NULL,
		[OrgUnit_14] [int] NULL,
		[OrgDescription_14] [varchar](40) NULL,
		[OrgUnit_15] [int] NULL,
		[OrgDescription_15] [varchar](40) NULL,
		[CreatedDate] [datetime] NULL,
		[LastModDate] [datetime] NULL,
		[LastModBy] [varchar](50) NULL,
		[History] [varchar](max) NULL,
	 CONSTRAINT [PK_REF_OrganisationLevels] PRIMARY KEY CLUSTERED 
	(
		[OrgID] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

END

GO
SET ANSI_PADDING OFF
GO
