USE [Allocate7]
GO
/****** Object:  Table [dbo].[ScheduledPersonTeam_LINK]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScheduledPersonTeam_LINK](
	[ScheduledPersonID] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[IsHomeTeam] [bit] NULL,
	[SortCode] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](50) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[BackgroundColour] [nvarchar](20) NULL,
	[fontcolour] [varchar](40) NULL,
	[IsActive] [int] NULL,
	[IsAvailable] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK] ADD  DEFAULT ((0)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK]  WITH CHECK ADD  CONSTRAINT [FK_ScheduledPersonTeam_ScheduledPerson] FOREIGN KEY([ScheduledPersonID])
REFERENCES [dbo].[ScheduledPeople] ([ScheduledPersonID])
GO
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK] CHECK CONSTRAINT [FK_ScheduledPersonTeam_ScheduledPerson]
GO
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK]  WITH CHECK ADD  CONSTRAINT [FK_ScheduledPersonTeam_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([id])
GO
ALTER TABLE [dbo].[ScheduledPersonTeam_LINK] CHECK CONSTRAINT [FK_ScheduledPersonTeam_Team]
GO
