USE [Allocate7]
GO
/****** Object:  Table [dbo].[MasterDutiesFilterLinks]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDutiesFilterLinks](
	[FilterID] [int] NOT NULL,
	[MasterDutyID] [int] NOT NULL,
	[IsMiscDuty] [tinyint] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MasterDutiesFilterLinks]  WITH CHECK ADD  CONSTRAINT [FK_MasterDutiesFilterLinks_MasterDuties] FOREIGN KEY([MasterDutyID])
REFERENCES [dbo].[MasterDuties] ([MasterDutyID])
GO
ALTER TABLE [dbo].[MasterDutiesFilterLinks] CHECK CONSTRAINT [FK_MasterDutiesFilterLinks_MasterDuties]
GO
ALTER TABLE [dbo].[MasterDutiesFilterLinks]  WITH CHECK ADD  CONSTRAINT [FK_MasterDutiesFilterLinks_MasterDutiesFilter] FOREIGN KEY([FilterID])
REFERENCES [dbo].[MasterDutiesFilter] ([MasterDutyFilterID])
GO
ALTER TABLE [dbo].[MasterDutiesFilterLinks] CHECK CONSTRAINT [FK_MasterDutiesFilterLinks_MasterDutiesFilter]
GO
