USE [Allocate7]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS(SELECT 1 FROM sys.columns 
          WHERE Name = 'IsMidNight'
          AND Object_ID = Object_ID(N'[dbo].[MasterDutiesMasterJobs_LINK]'))
BEGIN
    alter table [dbo].[MasterDutiesMasterJobs_LINK]
    add IsMidNight bit default(0)
    update [dbo][MasterDutiesMasterJobs_LINK] set IsMidNight = 0
END
