USE [Allocate7]
GO
/****** Object:  Table [dbo].[LINK_MasterJobs_Programmes]    Script Date: 25/06/2021 10:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINK_MasterJobs_Programmes](
	[MasterJobsProgrammesID] [int] IDENTITY(1,1) NOT NULL,
	[MasterJobID] [int] NULL,
	[ProgrammeID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_REF_MasterJobs_Resources_LINK] PRIMARY KEY CLUSTERED 
(
	[MasterJobsProgrammesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
