USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[GetWeekofRota]    Script Date: 25/06/2021 10:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetWeekofRota] 
(
	-- Add the parameters for the function here
	@intRotaLength		INT,
	@intRotaStartWeek	INT,
	@intWeek			INT
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
    DECLARE @YearToCreate	 INT
    DECLARE @WeekNumber		 INT
    DECLARE @RotaStartsYear	 INT
    DECLARE @RotaStartsWeek  INT
    DECLARE @WeekOfRota		 INT
	DECLARE @CalcWeekOfRota	 INT
	DECLARE	@dblRotaWeek	 REAL

	-- Add the T-SQL statements to compute the return value here
    SET @YearToCreate = LEFT(@intWeek, 4)
    SET @WeekNumber = RIGHT(@intWeek, 2)
    
    SET @RotaStartsYear = LEFT(@intRotaStartWeek, 4)
    SET @RotaStartsWeek = RIGHT(@intRotaStartWeek, 2)

    SET @WeekOfRota = 0
	SET @CalcWeekOfRota = 0

    IF @RotaStartsYear = @YearToCreate
		BEGIN
			--Giving the number of weeks between the rota start and the current week
			SET @WeekOfRota = @WeekNumber - @RotaStartsWeek
		END
    ELSE
		BEGIN
			--must be a later year than 1995.....
			
			SELECT @WeekOfRota = SUM(T1.MaxWeek)
			  FROM (SELECT ixYear, MAX(ixWeekInYear) as MaxWeek
					  FROM TimeDimension
					 WHERE ixYear BETWEEN @RotaStartsYear AND (@YearToCreate - 1)
					   AND ixYear = LEFT(ixYearWeek, 4)
					 GROUP BY ixYear
				   ) as T1
	        
			SET @WeekOfRota = @WeekOfRota + @WeekNumber - @RotaStartsWeek  --The number of weeks in the first year from the rota start
		END
    
    SET @dblRotaWeek = (CAST(@WeekOfRota AS REAL) / CAST(@intRotaLength AS REAL))

    --Now find the true week....
    SET @CalcWeekOfRota = Round((((@dblRotaWeek) - (FLOOR(@dblRotaWeek))) * @intRotaLength), 1) + 1 

	-- Return the result of the function
	RETURN @CalcWeekOfRota

END

GO
