USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[SubtractWeeks]    Script Date: 25/06/2021 10:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[SubtractWeeks] 
(
	-- Add the parameters for the function here
	@StartWeek int,
	@NumWeeks int
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @EndWeek int

	-- Add the T-SQL statements to compute the return value here
	SELECT @EndWeek = T2.ixYearWeek
	  FROM TimeDimension T1, TimeDimension T2
	 WHERE T1.ixYearWeek = @StartWeek
	   AND T1.ixDayInWeek = 0
	   AND T2.ixdatekey = T1.ixDateKey - (7*@NumWeeks)

	-- Return the result of the function
	RETURN @EndWeek

END

GO
