USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[BitToBool]    Script Date: 25/06/2021 10:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[BitToBool] 
(
	-- Add the parameters for the function here
	@value bit
)
RETURNS varchar(8)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Bool varchar(8)

	-- Add the T-SQL statements to compute the return value here
	SET @Bool = CASE WHEN @value IS NULL THEN 'Nothing'
					 WHEN @value = 1 THEN 'True'
					 WHEN @value = 0 THEN 'False'
					 ELSE 'Unknown'
				END

	-- Return the result of the function
	RETURN @Bool

END

GO
