USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[GetWeeksInYear]    Script Date: 25/06/2021 10:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetWeeksInYear] 
(
	-- Add the parameters for the function here
	@Year int
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @weeks				int
	DECLARE @startofyear		bigint
	DECLARE @endofyear			bigint
	DECLARE @yeardiffseconds	float
	DECLARE @seconds			float
	
	-- Add the T-SQL statements to compute the return value here
	SET @startofyear = dbo.getstartofyear(@year);
	SET @endofyear = dbo.getstartofyear(@year + 1);
	SET @yeardiffseconds = (@endofyear - @startofyear)
	SET @seconds = (24 * 60 * 60 * 7)

	SET @weeks = CEILING((@yeardiffseconds) / (@seconds))

	-- Return the result of the function
	RETURN @weeks

END

GO
