USE [BBCSchedules]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_check_JobOverLap]    Script Date: 19/09/2025 09:30:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER FUNCTION [dbo].[ufn_check_JobOverLap]
(
	@JobID				INT,
	@AllocationsDutyID	INT
)
RETURNS INT
AS
BEGIN

		DECLARE @OverLapStatus				BIT = 0,
				@JobEndTimeLocal			DATETIME,
				@JobStartTimeLocal			DATETIME;

		SELECT @JobStartTimeLocal = AJ_JobStartTimeLocal,
				@JobEndTimeLocal = AJ_JobEndTimeLocal
		 FROM AllocationsJobs
	    WHERE AJ_AllocateJobID = @JobID

		if EXISTS( SELECT 1
					FROM AllocationsJobs AJ
					WHERE AJ_AllocationsDutyID = @AllocationsDutyID
					AND AJ_JobStatus <> 9
					AND AJ_JobStartTimeLocal < @JobEndTimeLocal
					AND AJ_JobEndTimeLocal > @JobStartTimeLocal
					AND AJ_AllocateJobID <> @JobID )
				 BEGIN
				   SET @OverLapStatus = 1
				 END

				 RETURN @OverLapStatus
END