USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[get_Week]    Script Date: 25/06/2021 10:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[get_Week] 
(
	-- Add the parameters for the function here
	@date VARCHAR(10)
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Week INT

	-- Add the T-SQL statements to compute the return value here
	SELECT @Week = T1.ixYearWeek
	  FROM TimeDimension T1
	 WHERE T1.ddatetime = CONVERT(DATETIME, @date + ' 00:00:00', 103)

	-- Return the result of the function
	RETURN @Week

END

GO
