USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[GetStartofYear]    Script Date: 25/06/2021 10:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[GetStartofYear] 
(
	-- Add the parameters for the function here
	@Year int
)
RETURNS BIGINT
AS
BEGIN
	-- Declare the return variable here
	DECLARE @weekday			int
	DECLARE @startofyear		datetime
	DECLARE @startofyearseconds	bigint
	
	-- Add the T-SQL statements to compute the return value here
	SET @startofyear = CONVERT(DATETIME, '01/01/' + CAST(@year AS VARCHAR(4))  + ' 00:00:00', 103) 
	
	-- Get Weekday for the first day of the year  
	SET @weekday = DATEPART(dw, @startofyear) - 1
	IF (@weekday > 3) 
		BEGIN
			SET @startofyear = DATEADD(dd, 7 - @weekday, @startofyear)
		END
	ELSE
		BEGIN
			SET @startofyear = DATEADD(dd, 0 - @weekday, @startofyear)
		END

	-- Get UTC seconds
	SET @startofyearseconds = DATEDIFF(SECOND, '19700101', @startofyear)

	-- Return the result of the function
	RETURN @startofyearseconds

END

GO
