USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[GetBBCWeekNumber]    Script Date: 05/01/2022 16:20:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
DECLARE @strSQL NVARCHAR(max)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetBBCWeekNumber]') AND type in (N'F', N'FN'))
SET @strSQL = N'ALTER '
ELSE
SET @strSQL = N'CREATE '

--Execute the script statement
Set @strSQL= @strSQL + N' FUNCTION [dbo].[GetBBCWeekNumber]
(
	-- Add the parameters for the function here
	@date datetime
)
RETURNS varchar(10)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @year				int
	DECLARE @weeksinyear		int
	DECLARE @weekssincestart	int
	DECLARE @weeknumber			int
	DECLARE @startofyear		bigint
	DECLARE @currentdate		bigint
	DECLARE @yeardiffseconds	float
	DECLARE @seconds			float
	DECLARE @ReturnWeek         varchar(10);

	-- Add the T-SQL statements to compute the return value here
	SET @currentdate = DATEDIFF(SECOND, ''19700101'', @date)

	SET @year = DATEPART(yy, @date)
	SET @startofyear = dbo.getstartofyear(@year)
	SET @weeksinyear = dbo.getweeksinyear(@year)

	SET @yeardiffseconds = (@currentdate - @startofyear)
	SET @seconds = (24 * 60 * 60 * 7)

	SET @weekssincestart = FLOOR(@yeardiffseconds / @seconds)

	--If zero then use last week of previous year
	IF (@weekssincestart = -1)
		BEGIN
			SET @weeksinyear = dbo.getweeksinyear(@year-1)
			SET @weeknumber = @weeksinyear;
		END
	ELSE
		BEGIN
			IF (@weekssincestart >= @weeksinyear)
				BEGIN
					SET @weeknumber = 1;
				END
			ELSE
				BEGIN
					SET @weeknumber = @weekssincestart + 1;
				END
		END
	-- Return the result of the function
	if (@weeknumber < 10)
	BEGIN
		set @ReturnWeek = concat(''0'',convert(varchar,@weeknumber));
	END
	else
	BEGIN
		set @ReturnWeek = convert(varchar,@weeknumber);
	END
	return @ReturnWeek;

END
'

EXEC dbo.sp_executesql @strSQL

GO
