USE [Allocate7]
GO
/****** Object:  UserDefinedFunction [dbo].[BitToString]    Script Date: 25/06/2021 10:31:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Michael Hoskin
-- Create date: 27/10/2015
-- Description:	Function to return a string value dependent on the value of the input BIT
-- =============================================
CREATE FUNCTION [dbo].[BitToString] 
(
	-- Add the parameters for the function here
	@value bit,
	@true  varchar(50),
	@false varchar(50)
)
RETURNS varchar(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @String varchar(50)

	-- Add the T-SQL statements to compute the return value here
	SET @String = CASE WHEN @value IS NULL THEN 'Nothing'
					   WHEN @value = 1 THEN @true
					   WHEN @value = 0 THEN @false
					   ELSE 'Unknown'
				  END

	-- Return the result of the function
	RETURN @String

END

GO
