USE [BBCSchedules]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_check_JobOverLapNewJob]    Script Date: 2/17/2026 5:19:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER       FUNCTION [dbo].[ufn_check_JobOverLapNewJob]
(
	@AllocationsDutyID	INT,
	@JobStartTime		INT,
	@jobEndTime			INT,
	@AfterMidnight		INT,
	@JobID				INT = NULL
)
RETURNS INT
AS
BEGIN

		DECLARE @OverLapStatus				BIT = 0,
				@JobStartTimeLocal			DATETIME,
				@JobEndTimeLocal			DATETIME,
				@DutyDate					DATE;

		SELECT @DutyDate = AD_DutyDate
		  FROM AllocationsDuties
		 WHERE AD_AllocationsDutyID = @AllocationsDutyID

	 IF ( ISNULL(@JobID,0) = 0 )
	  BEGIN
		SET @JobStartTimeLocal = CASE WHEN @JobStartTime = 0 AND  @AfterMidnight = 1 
									  THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,@DutyDate),@JobStartTime )
									  WHEN @JobStartTime = 0 AND  @AfterMidnight = 0 THEN @DutyDate
									  WHEN @JobStartTime = 86400 THEN DATEADD(DAY,1,@DutyDate)
									  WHEN @JobStartTime > 86400
									  THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,@DutyDate),@JobStartTime )
									  WHEN @AfterMidnight = 1 AND @JobStartTime < @jobEndTime
									  THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,@DutyDate),@JobStartTime )
									  ELSE dbo.ufn_ConvertToDateTime(@DutyDate,@JobStartTime )
								  END

		SET @JobEndTimeLocal = CASE WHEN @JobStartTime > 0 AND @jobEndTime = 0
									THEN DATEADD(DAY,1,@DutyDate)
									WHEN @jobEndTime > 86400
									THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,@DutyDate),@jobEndTime)
									WHEN @jobEndTime = 86400
									THEN DATEADD(DAY,1,@DutyDate)
									WHEN @AfterMidnight = 1
									THEN dbo.ufn_ConvertToDateTime(DATEADD(DAY,1,@DutyDate),@jobEndTime)
									ELSE dbo.ufn_ConvertToDateTime(@DutyDate,@jobEndTime) 
								END
	  END
	ELSE
	 BEGIN
		SELECT @JobStartTimeLocal = AJ_JobStartTimeLocal,
			   @JobEndTimeLocal = AJ_JobEndTimeLocal
		 FROM AllocationsJobs
	    WHERE AJ_AllocateJobID = @JobID
	 END
	 

	 IF ( ISNULL(@JobID,0) > 0 )
	  BEGIN
		if EXISTS( SELECT 1
						FROM AllocationsJobs
						WHERE AJ_AllocationsDutyID = @AllocationsDutyID
						  AND AJ_JobStatus <> 9
						  AND AJ_JobStartTimeLocal < @JobEndTimeLocal
						  AND AJ_JobEndTimeLocal > @JobStartTimeLocal
						  AND AJ_AllocateJobID <> @JobID)
				 BEGIN
				   SET @OverLapStatus = 1
				 END
	  END
	 ELSE
	  BEGIN
		if EXISTS( SELECT 1
						FROM AllocationsJobs
						WHERE AJ_AllocationsDutyID = @AllocationsDutyID
						  AND AJ_JobStatus <> 9
						  AND AJ_JobStartTimeLocal < @JobEndTimeLocal
						  AND AJ_JobEndTimeLocal > @JobStartTimeLocal
						)
				 BEGIN
				   SET @OverLapStatus = 1
				 END
	  END

				 RETURN @OverLapStatus


END