.plain-table {
    width: 100%;
    border: 1px solid #d0d0d0;
    margin-top: 8px;
}

.plain-table__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.plain-table__cell {
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    box-sizing: border-box;
    padding: 2px;
    background: #eeeeee;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 4px;
}

.plain-table__row .plain-table__cell:last-child {
    border-right: 0;
}

.plain-table__row--header .plain-table__cell {
    background: #d0d0d0;
    font-weight: 700;
    text-align: center;
    align-items: center;
    gap: 0;
}

.plain-table__row--last .plain-table__cell {
    border-bottom: 0;
}

.plain-table__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.facility-sub-type-set,
.facility-sub-type-primary-set {
    flex-direction: column;
    gap: 10px;
}

.facility-sub-type-set:not([style*="display: none"]),
.facility-sub-type-primary-set:not([style*="display: none"]) {
    display: flex !important;
}
